@import('segoe_ui.css')

body {
	font-family: 'Segoe UI';
	font-size: 9 pt;
	color: #2f2f2f
}
a {
	font-family: 'Segoe UI Bold'
	font-size: 10 pt;
	color: #364fa7
}

#DevNetPanel {
	background-image: url('fondoRight2.png');
	background-repeat: repeat-x;
	border: 1px solid #d9d9d9;
	width: 100%;
	height: 957px;
	text-align: center;	
	font-family: 'Segoe UI';
}

#ResourcesPanel {
	background-image: url('WizardBG.png');
	border: 1px solid #d9d9d9;
	width: 100%;
	height: 500px;
	text-align: center;	
}

#DevNetPanel td, #ResourcesPanel td {
	padding-top: 10px;
	vertical-align: top;
}