@import('segoe_ui.css')

body 
{   	 
	font-family: 'Segoe UI';
	font-size: 13px;	            
	margin: 0px;	
}

table 
{
	font-family: 'Segoe UI';
	font-size: 100%;
}

table, 
div {				
	border-radius: 4px;
}

a:link {
	color: #708e1e;
	text-decoration: none;
}
a:active {
	color: #708e1e;
	text-decoration: none;
}
a:visited {	
	color: #708e1e;
	text-decoration: none;
}
a:hover {
	color: #91c448;
	text-decoration: underline;
}

input[type='text'],
input[type='password'],
textarea,
select {	
	display: inline-block;
	font-family: 'Segoe UI';
	font-size: 13px;				
	padding: 2px;				
	margin-bottom: 3px;	
	background-color: #fefffb;
	border: 1px solid #ccc;				
	border-radius: 4px;
}

/*input[type='text']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}*/
#wizTopRectangle {
position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:35px;
    background-color: #ecedee;
}

#WizardHeader {	
	width: 100%;
	height: 40px;	
}

#WizardTitle {
	font-size: 170%; 	 
	padding-left: 6px;
	padding-bottom: 10px;
}
#WizardDescription {
	font-size: 100%; 
	padding-left: 6px;
}
#ErrorMessage {
	color: red;
	font-size: 110%;
	font-family: "Segoe UI";	
    font-weight: bold;
	padding-left: 6px; 
}

.WizSubTitle {
	font-size: 110%;
}

.WizTable, .WizDialog
{
	border: 1px solid #bbb;
    background-color: #f0f0f0;
}

.WizLinkButton
{
	color: #008000;
	border-bottom: 1px dotted;
	cursor: pointer;
}

.WizDashedContainter
{
	color: #808080;
	background: url(1x1Trans.png);
	border: 3px dashed #ccc; 
	vertical-align: middle; 
	text-align: center;
}

.WizDashedContainterSelected
{	
	color: #fff;
	background-color: #f6be29;	
	opacity: 0.5;
	filter:alpha(opacity=50);
}

.WizDashedContainterThin
{
	color: #808080; 
	border: 1px dashed #ccc; 
	vertical-align: middle; 
	text-align: center; 	
}

#rdInputSliderBg 
{ 
		background: url(rdSliderHorz.gif) 5px 0 no-repeat; 
} 

#lstDimensions
{
	width: 270px;		        
}

#lstDimensions option
{
	width: 270px;
}

#lstAvailableLevels
{
	width: 250px;
}

#lstSelectedLevels
{
	width: 250px;
}

#lstAvailableMeasures
{
	width: 340px;
}

.WizSizeSelect {
	position: absolute;
	top: 150px;
	left: 100px;
	font-weight: bold;
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
}

.ChartSmall
{
	width: 275px;
	height: 180px;
	cursor: pointer;
	border-left: none;
	border-top: none;
}
.ChartMedium
{
	width: 420px;
	height: 280px;
	cursor: pointer;
	border-left: none;
	border-top: none;	
}
.ChartLarge
{
	width: 600px;
	height: 400px;
	cursor: pointer;
}

.GaugeHorizontalSmall 
{
	width: 240px; 
	height: 60px; 
	cursor: pointer;
	border-left: none;
	border-top: none;
}
.GaugeHorizontalMedium 
{
	width: 400px; 
	height: 100px; 
	cursor: pointer;
	border-left: none;
	border-top: none;
}
.GaugeHorizontalLarge
{
	width: 540px; 
	height: 140px; 
	cursor: pointer;
}

.GaugeSmall 
{
	width: 109px; 
	height: 108px; 
	cursor: pointer;
	border-left: none;
	border-top: none;
}
.GaugeMedium 
{
	width: 209px; 
	height: 219px; 
	cursor: pointer;
	border-left: none;
	border-top: none;
}
.GaugeLarge
{
	width: 310px; 
	height: 315px; 
	cursor: pointer;
}	    		
#Ask2Table 
{
	border-collapse: collapse; 
	width:100%; 
	height:130px;
}
#Ask2Table button 
{
	height: 110px;
	width: 80%;
	font-size: 110%; 
	background-color:transparent;
	cursor:pointer;
	border:0px;
	margin:10%;
	
	/*Rounded Corners*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#Ask2Table button:hover
{
	background:#D8D8D8;
}
#Ask2Table td 
{
	width: 50%;
}
#Ask2Table td:first-of-type 
{
	border-right: solid gray;
}

#AskManyTable 
{
	border-collapse: collapse; 
	width:95%; 
	margin-left:10px;
}
#AskManyTable button 
{
	width: 88%;
	height: 34px;
	background-color:transparent;
	cursor:pointer;
	border:0px;
	margin:3px;
	text-align:left;
	
	/*Rounded Corners*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#AskManyTable button:hover
{
	background:#D8D8D8;
}
