<%@ Page Language="vb" Inherits="rdWeb.rdChart"%>
<%
    'This file is depricated in favor of rdTemplate/rdChart2.aspx.
    If Not IsNothing(Request("rdChartDef")) Then
        Dim cb As New rdServer.ChartBuilder
        Call cb.BuildChart()
    Else
        If Not IsNothing(Request("rdDrillDownID")) Then
            'Return an image map.
            Response.Write(Session(Request("rdDrillDownID")))
            Response.End()
        End If
    End If
%>
<head id="headToFixThemesError" runat="server" visible="false" />