	/* 
	NHS Wales Blue #2E598A
	NHW Wales Gold #D2AE7E
	Royal Blue #037AAE 
	Aqua Blue  #0992CE
	Turquoise Blue #4FB2DC
	Pale Blue #D8ECF2
	*/
		
	
	.menu-container { border: solid 0px Black; width: 100%;}
	.horizontal-menu-item { float: left; display: inline; padding: 10px 10px; border-right: 1px solid #A9B7C9; }
	
	.horizontal-menu-item a { color: white; text-decoration: none; font: bold 10pt Calibri; color:#ffffff; }
	.horizontal-menu-item:hover { background-color: Red; }
	
	#menu_container { width: 100%; height: 40px; border-bottom: solid 0px Red; border-top: solid 0px Blue; }

	#navigation-1 { font: bold 10pt Calibri; color:#ffffff;}
	ul#navigation-1 { z-index:100; margin:0; list-style:none; padding:0; list-style-type: none;}
		  
	ul#navigation-1 li { position: relative; display: inline; float: left;}
						 
	ul#navigation-1 li a:link, ul#navigation li a:visited { color: white; }
	ul#navigation-1 li a:hover { background: #6464FF; color: white; }
	ul#navigation-1 li:hover a { background: #6464FF; color: white; }
						 
	ul#navigation-1 li a { padding: 10px 25px; color: white;  display: block; border-right: 1px solid #A9B7C9; text-decoration: none; }
						   
	/* SUB MENU */                       
	ul#navigation-1 li ul.navigation-2
		{ margin-top: 15px; margin-left: -25px; list-style:none; display:none; position:absolute; 
		  top:23px; border-top:none; }
	
	ul#navigation-1 li:hover ul.navigation-2 { display:block; /*border-top: 2px solid #151B8D;*/ }
	
	ul#navigation-1 li ul.navigation-2 li { clear:left; }
	
	ul#navigation-1 li ul.navigation-2 li a:link, ul#navigation li ul.navigation-2 a:visited { color: white; clear: left; }
	ul#navigation-1 li ul.navigation-2 li a:hover { background: Blue; color: white; }
	ul#navigation-1 li ul.navigation-2 li:hover a { background: Blue; color: white; }
	
	ul#navigation-1 li ul.navigation-2 li a { width: 225px; padding: 10px 10px; color: white;  display: block; 
											  border-right: 1px solid #A9B7C9; text-decoration: none; border-bottom: 1px solid #A9B7C9; }
											  
											  

	.mt-Custom #rdDmtCaption { border: solid 2px Red; }
	
	/*.Sidebar-left1 { width: 500px; }
	
	.menu-top-level-item { background-color: Blue; padding: 10px 15px; }
	.menu-top-level-item a { color: #FFF; font-size: 16pt; }
	
	.menu-children { background-color: Red; }
	.menu-children-item { padding: 10px 15px; }
	.menu-children-item a { color: #FFF; font-size: 14pt; }
	
	.menu-children-sub { background-color: Green; }
	.menu-children-sub-item { padding: 5px 15px; }
	.menu-children-sub-item a { color: #FFF; font-size: 12pt; }*/
											  
	
