	/* 
	NHS Wales Blue #2E598A
	NHW Wales Gold #D2AE7E
	Royal Blue #037AAE 
	Aqua Blue  #0992CE
	Turquoise Blue #4FB2DC
	Pale Blue #D8ECF2
	*/
		
	/************************************************* DATATABLE ********************************************/
	.table { margin-bottom: 10px !important; }
	.rdThemeDataTableHeaderRow th { background-color: #037AAE !important; font-weight:bold; border-collapse:collapse; } 
	.rdThemeDataTableMainHeader { background-color: #037AAE; font-weight: bold; border-right: none !important; }
	.rdThemeDataTableHeader { background-color: #037AAE !important; }
	.rdThemeDataTableHeader	a { color: #FFF !important; }
	.rdThemeDataTableHeader	a:hover { /*color: Blue !important;*/ text-decoration: underline; }
	.rdThemeDataTable > tbody > tr > td > a { cursor: pointer; }
	.rdThemeDataTableSummaryRow td { background-color: #4FB2DC !important; font-weight:bold; }
	.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th { padding:3px !important; }
	
	.rdThemeDataTableSummaryRow > td > a, .rdThemeDataTableSummaryRow > td > a > span { color: #FFF; }
	
	/****** NO DATA ******/
	#No-Data-Container { width: 100%; border: solid 1px #C0C0C0; text-align: center; padding: 7.5px 5px; font-size: 9pt; background-color: #F2F2F2; }
	
	/**** BOOTSTRAP OVERIDES - PDF EXPORT ****/
	@media print {
		* { margin-top: 0px !important; }
		.table { margin-top: -100px !important; margin-bottom: 0px !important; }
    	.table th.rdThemeDataTableHeader { background-color:#037AAE !important; color: #FFF !important; }
		.table tr.ThemeAlternatingRow td { background-color: #f9f9f9 !important; }
		.table .bg-All-Wales { background-color: #ADDFFF !important; font-weight: Bold; }
		.table tr.ThemeAlternatingRow td.bg-All-Wales { background-color: #ADDFFF !important; font-weight: Bold; }
	}

	/*** Default Colour #f5f5f5 ***/
	.table-hover > tbody > tr:hover { background-color: #DBEBFF !important; }
	tr.ThemeAlternatingRow:hover > td { background-color: #DBEBFF !important; }
	
	.EmptyDataTable * { display: inline; font-size: 10pt; color: #60606a; }
	td.EmptyDataTable { background-color: #F2F2F2 !important; text-align: center; border: solid 1px #D3D3D3; padding: 50px !important;  }
	
	.bg-Summary { background-color: #4FB2DC /*#6666FF*/ !important; font-weight:bold; color: #FFF; }
	.bg-Summary a > span { color: #FFF; }
	
	tr.bg-HighlightDrillThroughBorder { border: solid 1px Green !important; }
	.bg-HighlightDrillThrough { background-color: #7CEB98/*#FFDD75*/ !important; font-weight: Bold; }
	.HighlightDrillThroughStar { margin-left: 5px !important; color: #006633 /*#B05F3C*/ !important; }
	
	.TableCaptionContainer, .TableContainer { width: 100%; display: inline; }
	.TableCaptionLeft, .TableLeft { float: left; margin-bottom: 10px; /*min-width: 50% !important;*/ /*border: solid 2px Red;*/ }
	.TableCaptionRight, .TableRight { margin-bottom: 10px; /*min-width: 50% !important;*/ /*border: solid 2px Red;*/ }
	.TableCaption { /*padding-top: 8px;*/ padding-bottom: 8px; color: #777; width: 100%; /*display: block;*/ }
	.TableCaptionRight .TableCaption, .TableRight { text-align: right; }
	.TableCaptionContainer .btnTableCaption { margin-bottom: 5px; font-size: 12px; padding: 2px !important; width: 125px; }
	.TableCaptionRight .btnTableCaption, .TableCaptionRight .aTableCaption, .TableRight { float: right; border: }
	.btnTableCaption > a { color: #FFFFFF; }
	.aTableCaption > a { color: #6DBE2C; }
	.aTableCaption > a:hover { color: #28A828; }
	.TableCaptionExportText { font-size: 8pt !important; margin-right: 10px; color: #777; }
	
	.MarginTop5px { margin-top: 5px; }
	.MarginTop10px { margin-top: 10px; }
	.MarginTop15px { margin-top: 15px; }
	.MarginTop20px { margin-top: 20px; }
	.MarginTop25px { margin-top: 25px; }
	.MarginTop30px { margin-top: 30px; }
	
	.MarginBottom0px { margin-bottom: 0px !important; }
	.MarginBottom5px { margin-bottom: 5px; }
	.MarginBottom10px { margin-bottom: 10px; }
	.MarginBottom15px { margin-bottom: 15px; }
	.MarginBottom20px { margin-bottom: 20px; }
	.MarginBottom25px { margin-bottom: 25px; }
	.MarginBottom30px { margin-bottom: 30px; }
	
	.MarginLeft5px { margin-left: 5px; }
	.MarginLeft10px { margin-left: 10px; }
	.MarginLeft15px { margin-left: 15px; }
	.MarginLeft20px { margin-left: 20px; }
	.MarginLeft25px { margin-left: 25px; }
	.MarginLeft30px { margin-left: 30px; }
	
	.MarginRight5px { margin-right: 5px; }
	.MarginRight10px { margin-right: 10px; }
	.MarginRight15px { margin-right: 15px; }
	.MarginRight20px { margin-right: 20px; }
	.MarginRight25px { margin-right: 25px; }
	.MarginRight30px { margin-right: 30px; }
	.MarginRight50px { margin-right: 50px; }
	.MarginRight100px { margin-right: 100px !important; }
	
	.padding-td-5px > tbody > tr > td { padding: 5px !important; }
	.TableBorder { border: 1px solid #e3e3e3; }
		
	.HideColumn { display: none; }
					
	/**************************************************** CROSSTAB TABLES ****************************************************/	
	th.rdThemeDataTableHeader { padding:3px !important; color: White; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #ddd; font-weight: bold; /*border-right: none;*/ }	
	td.rdThemeDataTableCell { border-top-width: 1px; border-top-style: solid; border-top-color: #ddd; padding: 3px; }
	.CrossTabArrowPaddingLeft { padding-left: 10px; }	
	.CrossTabHeaderCenter { text-align: center !important; }
	
	/* CROSSTAB COMPARISONS */
	/* C:\inetpub\wwwroot\pcip\rdTemplate\rdCrosstabComparison */
	span.rdCcTextPositive > span, span.rdCcTextNegative > span { font-size: 16px !important; margin-left: 10px; margin-right: 10px; padding: 2px 5px;
		border-radius: 8px; font-weight: bolder; /*color: white;*/ }
	span.rdCcTextPositive > span  { /*background-color: #009900;*/ }
	span.rdCcTextNegative > span  { /*background-color: Red;*/ color: Red; }
	
	.rdCcTextNegative, .rdCcTextNormal .rdPopupContent .rdCcTextNegative span, .rdCcTextPositive, .rdCcTextNormal .rdPopupContent .rdCcTextPositive span { float: right; }
	
	.CrosstabComparisonCustomToolTip { border: solid 1px Blue !important; opacity: 1 !important; }
	.CrosstabComparisonCustomToolTip > table { border: solid 0px Blue !important; }
		
	.CrosstabComparisonCustomArrowUp > span { color: #009900 !important; }
	.CrosstabComparisonCustomArrowDown > span { color: Red !important }
	
	.CrosstabComparisonCustomToolTip > table > tbody > tr > td { padding: 10px; }
	.CrosstabComparisonCustomToolTip > table > tbody > tr > td > div > span { margin-right: 10px; }
	.CrosstabComparisonCustomToolTip > table > tbody > tr > td > div > span.CrosstabComparisonCustomPercent { font-weight: bold; }
	.CrosstabComparisonCustomToolTip > table > tbody > tr > td > div > span.CrosstabComparisonCustomValue { font-weight: bold; }
			
	/**************************************************** MAIN BODY ****************************************************/			
	/* The label to match that of the ISL for Button Groups */
	.group-nav-label { margin-bottom: 5px; font-size: 12px; font-weight: 700; line-height:: 1.375; display: inline-block; max-width: 100%; color: 000; }
	
	.div-report-heading { font-size: 24px !important; /*color: #454d59;*/ text-shadow: 1px 2px 3px rgba(0,0,0,0.3); position: relative; margin-bottom: 25px; 
						  display: block; font-weight: bold; color: Blue; }

	#rdMainBody { /*margin-bottom: 40px !important;*/ }
	#Content-Stage { margin-bottom: 40px !important; }
	
	/**************************************************** SUB REPORT ****************************************************/
	.subrpt { }
	div.div-subrpt div.container-fluid { padding-left: 0px !important; padding-right: 0px !important; }
	body.iframe-report #rdMainBody { top: 0px !important; padding-bottom: 0px !important; } /* SUB-REPORT */
	
	body.iframe-report #rdMainBody .SubDataTable { margin-bottom: 50px !important; }
	body.iframe-report #rdMainBody .container-fluid { margin-left: -30px !important; margin-right: -30px !important; }
	
	.subrptRowExpand { padding: 25px; background-color: #F2F2F2 !important; }
	.rdThemeDataTableMoreInfoRow > iframe { border: 1px solid #DEDEDE !important; }
		
	/**************************************************** NAVIGATION / SIDEBAR ****************************************************/
	#navigation { background-color: #4FB2DC !important; }  /********* TEMPLATE COLORS ********/
	
	.navbar a { color: White !important; }
	.navbar a:hover { color: #CACACA !important;  }
	.navbar { background-color:#4FB2DC !important; border-bottom: solid 2px #0992CE !important; box-shadow: inset 0 0 25px 0 rgba(0,0,0,0.4) !important; }
	.navbar-brand { color: #FFFFFF !important; font-weight: bold; text-shadow: 1px 2px 3px rgba(0,0,0,0.1); margin-left: 10px !important; } /* Title of the LOGI Application */
	.navbar-logo-right { padding: 5px 5px 5px 5px; }
	
	#Sidebar { background: #2E598A !important; box-shadow: inset -5px 0px 20px rgba(0,0,0,0.4) !important; }
	#Sidebar.Open { width: 320px !important; }
	.Sidebar-left #logo { margin-top: 25px; }		
	#sidebar-nav div#menu-item a { color: #FFF !important; font-size: 14px !important; }
	.dropdown-arrow { float: right; margin: 5px 10px 0px 0px; font-size: 14px !important; }

	#sidebar-nav div#menu-item:hover div>a,
	#sidebar-nav div#menu-item.active div>a{
		color: #000 !important;
		text-decoration: none;
		background: #D8ECF2;
		box-shadow: inset -5px 0px 10px rgba(0,0,0,0.4);
	} 
	
	/* Make the Sidebar appear underneath the Footer */
	/*.Open#Sidebar ~ #Footer { z-index: 1000; }*/
	#Sidebar.Open ~ #Footer { z-index: 1000; }
	#Footer { z-index: 1000; }
	
	/**************************************************** SUB MENU ITEMS ****************************************************/
	#sidebar-nav div#menu-item #sub-nav { background: #4FB2DC; box-shadow: inset -5px 0px 10px rgba(0,0,0,0.4); }
	#sidebar-nav div#menu-item ul#sub-nav li a { color: White !important; }
	#sidebar-nav div#menu-item ul#sub-nav li a:hover { color: #7a7e8a !important; }
	ol, ul { margin-bottom: 0px !important; }
	
	/*** Make Font Awesome elements Bigger. ***/
	#top-level-link > a > i, #has-children > a > i { font-size: 25px; margin-right: 5px; }
	#sub-nav > li > a > i { min-width: 20px; font-size: 17px; margin-right: 5px; }
		
	/**************************************************** Hamburger on nav-bar ****************************************************/
	.navbar-inverse .navbar-toggle:hover { background-color: #CACACA !important; }
	.navbar-inverse .navbar-toggle:focus { background-color: #CACACA !important; }
	.sidebar-toggle {  padding-left: 9px !important; padding-right: 9px !important; }

	/**************************************************** TOGGLE FILTER ****************************************************/
	.div-toggle-header { position: relative; width: 100%; display: block; font-weight: bold; margin-bottom: 25px; }
	.div-expand-text { font-size: 24px !important; /*color: #454d59;*/ color: Blue; text-shadow: 1px 2px 3px rgba(0,0,0,0.3); }
	.div-expand { float: right; padding-right: 10px; padding-top: 10px; }
	.clearfix { padding: 30px 0 15px 0; width: 100% !important; }
	.filter-summary { font-size: 8pt !important; font-weight: normal;  }
	
	.toggle-text-light-blue { color: #2E598A !important; }
	
	.div-export-data { /*margin-right: 10px; margin-left: 10px;*/ }
	
	.expander { position: relative; margin-left: -15px; margin-right: -15px; margin-bottom: 2em; padding: 15px 30px 15px 30px; }
	
	.billboard-light-grey { background-color: #f5f5f5; }
	.billboard-shadow { box-shadow: inset  0  9px 8px -8px #696868, inset  0 -8px 8px -8px #696868; }
	
	.Expansion-Caret { position: absolute; top: -30px; left: 30px; color: #FFF; font-size: 7em; text-shadow: 0px .05em .05em #B6B5B5; }
	.Expansion-Close { position: absolute; top: .2em; right: .5em; padding-top: 5px; padding-right: 20px; color: #000; font-size: 2em; }	
	
	.Expansion-Close:hover { color: Blue !important; }
	.expander { border: soild 2px Red !important; }
	.div-bt-filter {  }
	.div-filter-reset { padding-top: 30px; }
	.div-filter-reset a:hover { color: Blue; }
	
	/* Need to add this JS function to Toggle Filter Panel */
	/*function ToggleExpander(id){
		// close all other expansion boxes and open the new target
		$("#"+id).slideToggle("slow");
	}*/
	
	/**** PREVENT THE PAGE FROM PUSHING & HAVE THE MENU SLIDE OUT ON TOP OF THE PAGE ****/
	#Sidebar.StaticOpen ~ #rdMainBody,
	#Sidebar.StaticOpen ~ #Footer { margin-left: 0px !important;  }
	#Sidebar.Open ~ #rdMainBody,
	#Sidebar.Open ~ #Footer { left: 0px !important; }
		
	/**************************************************** FOOTER ****************************************************/
	#Footer #footer-wrapper { /*position: fixed;*/ bottom: 0px; width: 100%; text-align: center; background-color: #D8ECF2 !important;
		box-shadow: inset  0  8px 8px -8px #C0C0C0; }
	
	/**************************************************** PANELS ****************************************************/
	.panel-heading { background-color:#D8ECF2 !important; font-size: 16px !important; 
					/*-webkit-box-shadow: inset 10px 74px 120px -44px rgba(0,0,0,0.13);
					-moz-box-shadow: inset 10px 74px 120px -44px rgba(0,0,0,0.13);
					box-shadow: inset 10px 74px 120px -44px rgba(0,0,0,0.13);*/ }
	
	.panel-heading-darker,
	.panel-heading-darkest { color: #FFFFFF !important; 
							 text-shadow: 1px 2px 3px rgba(0,0,0,0.1);
							 -webkit-box-shadow: inset 45px 37px 120px -44px rgba(0,0,0,0.4);
							 -moz-box-shadow: inset 45px 37px 120px -44px rgba(0,0,0,0.4);
							 box-shadow: inset 45px 37px 120px -44px rgba(0,0,0,0.4); }
	
	.panel-heading-darker { background-color:#4FB2DC !important; } 						
	.panel-heading-darker i:hover { color: #FFF !important; text-decoration: none !important; }
		
	.panel-heading-darkest { background-color:#037AAE !important; color: #FFF; }
	.panel-heading-darker a, .panel-heading-darkest a { color: #FFF; }
	.panel-heading-darkest i:hover { color: #7a7e8a !important; text-decoration: none !important; }
	
	.panel-heading-darkest > div > a > i, .panel-heading-darkest > div > a > i:hover { color: #fff !important; }
	.panel-heading > div > a > i { color: #6f767f; }
	
	.panel-heading-darker > .panel-options > a > i { color: #FFF !important; }
	.panel-heading-darker > .panel-options > a > i:hover { color: #6f767f !important; }
	
	/* Hover Over in Button Groups */
	.btn-default:hover { background-color: #D8ECF2; color: #000 !important; }
	
	.btn-panel-options { padding: 10px 10px 8px 10px !important; position: absolute; top: 5px; right: 20px; font-size: 11pt; color: #808080 !important; }
	.btn-panel-options:hover { background-color: #DEDEDE !important; color: Blue !important;  }
	
	.panel-heading-input { /*border: solid 2px Red !important;*/ width: 45%; display: inline; }
	.panel-heading-filter-summary { /*border: solid 2px Red !important;*/ width: 45%; display: inline; text-align: right; margin-right: 10px; }
	
	.panel-heading-input-caption { font-size: 12px !important; }
	
	.panel-shadow { box-shadow: 6px 6px 2px #D4D4D4 !important; }
	
	.panel-heading .panel-heading-fa { margin-right: 10px; }
	
	.Panel-Header-Buttons { }
	
	.Panel-Header-Buttons .panel-button-fa { }
	
	/**************************************************** FOR TO TOGGLE BETWEEN ELEMENTS ****************************************************/
	.add-padding { padding: 15px; }
	.max-width-20em { max-width: 20em; }
	.max-width-40em { max-width: 40em; }
	.width-150px { width: 150px !important; }
	.width-250px { width: 250px !important; }
	.width-350px { width: 350px !important; }
	.width-400px { width: 400px !important; }
	.width-450px { width: 450px !important; }
	.width-600px { width: 600px !important; }
	.pull-right >. dropdown-menu { right: 1em; }
	#btn-group .dropdown-menu { top: 2.5em; display: block; }
	.pull-left > .div-onclick-tooltip { left: 1em; }
	
	.height-150px { height: 150px !important; }
	.height-200px { height: 250px !important; }
	.height-250px { height: 250px !important; }
	.height-350px { height: 350px !important; }
	.height-400px { height: 400px !important; }
	.height-450px { height: 450px !important; }
	.height-600px { height: 600px !important; }
		
	.ToolTip-Close { position: absolute; top: .2em; right: .5em; padding-top: 5px; padding-right: 15px; color: #000; font-size: 1em; color: #000 !important; }
	.ToolTip-Close:hover { color: Blue !important; }
	.ToolTipContainer { left: 15px !important; background-color: #F2F2F2; border-color: rgba(0,0,0,0.15) !important; overflow-y: scroll; max-height:200px; }
	.ToolTipInfo { padding: 15px 25px 5px 15px; font-size: 10pt; text-align: justify; font-weight: normal; color: #808080; margin-bottom: 10px; }	
	.ToolTip-Body { padding: 25px 25px 5px 15px; font-size: 10pt; text-align: justify; font-weight: normal; color: #808080; margin-bottom: 10px; }
	.ToolTipContainer > a > i:hover { color: Blue !important; }
	
	.Toggle-Exit { color: #000099 !important; font-size: 16pt; margin-top: -10px !important; margin-bottom: 10px !important;; }
	i.Toggle-Exit:hover { color: #0A8BFF !important; }
	
	/*********** POPUP PANEL ***********/
	.PopupPanel { border: solid 1px #0992CE; }
	.PopupPanel > tbody > tr > td > table > tbody > tr > td { background-color: #0992CE; padding: 5px 10px; }
	.PopupPanel .rdPopupPanelTitleCaption { color: #FFF !important; font-size: 16px; background-color: #0992CE; font-weight: bold; font-family: "Lato", sans-serif; }
	.PopupPanel .rdPopupPanelTitleCaption:hover { color: #FFF !important; background-color: #0992CE; }
	.PopupPanel .rdPopupPanelCommand { font-size: 16px; padding: 3px 7px; color: #0992CE !important; } /*037AAE*/
	.PopupPanel .rdPopupPanelCommand:hover { background-color: #D8ECF2; color: Blue !important; }
	.PopupPanel .rdThemeInputCaption { font-size: 12px; }
	
	.rdPopupPanelTitle .rdPopupPanelTitle { padding-bottom: 5px !important }
	
	/*************************** USER SUMMARY POPUPS ***************************/
	.user-information-popup { font-size: 10pt; }
	
	/***********  PANEL ***********/
	.Panel { border: solid 1px #0992CE; }
	.Panel > tbody > tr > td > table > tbody > tr > td { background-color: #0992CE; padding: 5px 10px; }
	.Panel .rdPanelTitleCaption { color: #FFF !important; font-size: 16px; background-color: #0992CE; font-weight: bold; font-family: "Lato", sans-serif; }
	.Panel .rdPanelTitleCaption:hover { color: #FFF !important; background-color: #0992CE; }
	.Panel .rdPanelCommand { font-size: 16px; padding: 3px 7px; color: #0992CE !important; } /*037AAE*/
	.Panel .rdPanelCommand:hover { background-color: #D8ECF2; color: Blue !important; }
	.Panel .rdThemeInputCaption { font-size: 12px; }
	.Panel .MarginBottom0px { margin-bottom: 0px !important; }
	
	.ToolTip { padding: 10px 15px 15px 15px !important; left: -15px;
					border: solid 1px Gray; border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); position: absolute; bottom: 0px; } 
	.ToolTip .ToolTip-Close { padding-right: 10px !important; }
	.ToolTip .ToolTipTitle { font-weight: bold; margin-bottom: 5px; width: 100%; display: block; color: Blue; }
		
	/**************************************************** BADGES IN TABLES ****************************************************/
	.badge { min-width: 50px !important; }
	.badge-65 { min-width: 65px !important; }
	.badge-75 { min-width: 75px !important; }
	.bg-transparent { background-color: transparent; color: #000; }
	.bg-khaki { background-color: Khaki; }
	.bg-yellow, .bg-Yellow { background-color: #F5CE00; }
    .bg-LightOrange { background-color: #FFA868; }
	.bg-orange, .bg-Orange { background-color: Orange; }
	.bg-tomato { background-color: Tomato; }
	.bg-red, .bg-Red { background-color: Red; }
	.bg-green, .bg-Green { background-color: #6DBE2C; }
	.bg-DeepSkyBlue { background-color: #0AD1F4; }
	.bg-DarkViolet { background-color: #9400D3; }
	.bg-RoyalBlue { background-color: #4169e1; }
	.bg-DarkGray { background-color: #a9a9a9; }
	.bg-Purple { background-color: #663587; }
	.bg-Magenta { background-color: #ad235e; }
	.bg-Blue { background-color: #0000CC; }
	.bg-Gray { background-color: #a9a9a9; }
	
	.bg-achieved-green { background-color: #28A828; }
	.bg-not-achieved-red { background-color: #FF0A0A; }
	.bg-percentage-magenta { background-color: #941494; }
	
	
	/**** KPI Styles ****/
	.kpi { CalendarYear: 0 15px 0 15px; background-color: #FFFFFF !important; border: solid 0px Blue !important; }
	.kpi-label { font-size: 12px !important; }
	.kpi>.kpi-value { font-size: xx-large; font-weight:bold; text-shadow: 1px 2px 3px rgba(0,0,0,0.1); }

	.kpi > .kpi-label { color: #9F9DAE; display: block; }

	/**** KPI Values & Labels ****/
	.kpi-default > .kpi-value { color: #A2A2A2; }
	.kpi-red > .kpi-value { color: #E03430; }
	.kpi-teal > .kpi-value { color: #53C5B7; }
	.kpi-orange > .kpi-value { color: #EF9828; }
	.kpi-cyan > .kpi-value { color: #5F8D91; }
	.kpi-dark-cyan > .kpi-value { color: #46686C; }		
	.kpi-blue > .kpi-value { color: #0AD1F4; }
	.kpi-dark-blue > .kpi-value { color: #059BB5; }	
	.kpi-green > .kpi-value { color: #6DBE2C; }
	.kpi-dark-green > .kpi-value { color: #518D21; }	
	.kpi-purple > .kpi-value { color: #AC92EC; }
	.kpi-yellow > .kpi-value { color: #EDD655; }
	.kpi-DeepSkyBlue > .kpi-value { color: #0AD1F4; }
	.kpi-DarkViolet > .kpi-value { color: #9400D3; }
	
	.kpi-info { border: solid 2px Blue !important; }
	.kpi-fa { border: solid 0px Red !important; font-size: 26px !important; margin-right: 15px; text-align: right; padding-right: 15px; }
	
	.kpi { width: 100%; }


    .MenuLinks { }

    .MenuLinks:hover { 	
		opacity: 0.5;
		filter: alpha(opacity=75);
    }

    .MenuLinks-RoyalBlue { background-color: #4169e1; border: solid 4px #4169e1; }
    .MenuLinks-Purple { background-color: #663587; border: solid 4px #663587; }
    .MenuLinks-DeepSkyBlue { background-color: #0AD1F4; border: solid 4px #0AD1F4; }
    .MenuLinks-Green { background-color: #6DBE2C; border: solid 4px #6DBE2C; }
    .MenuLinks-Magenta { background-color: #ad235e; border: solid 4px #ad235e; }
    .MenuLinks-Red { background-color: #E03430; border: solid 4px #E03430; }
    .MenuLinks-Orange { background-color: #EF9828; border: solid 4px #EF9828; }
    .MenuLinks-Teal { background-color: #53C5B7; border: solid 4px #53C5B7; }

    .MenuLinks-RoyalBlue:hover { border: solid 4px #234BC3; }
    .MenuLinks-Purple:hover { border: solid 4px #481769; }
    .MenuLinks-DeepSkyBlue:hover { border: solid 4px #00B3D6; }
    .MenuLinks-Green:hover { border: solid 4px #4FA00E; }
    .MenuLinks-Magenta:hover { border: solid 4px #8F0540; }
    .MenuLinks-Red:hover { border: solid 4px #C21612; }
    .MenuLinks-Orange:hover { border: solid 4px #DB8414; }
    .MenuLinks-Teal:hover { border: solid 4px #3FB1A3; }
    
	.MenuLinks-Selected { opacity: 0.5; filter: alpha(opacity=75); } 


	/**************************************************** CONTENT-OVERLAY ISSUE (INCORRECT WORDED HIDDEN ELEMENT ****************************************************/
	/*************** v12 SP1 ***************/ 
	#Sidebar.Open ~ rdcondelement1 > div.Content-Overlay { display:block; z-index: 986; width: 100%; height: 100%; min-height: 999em; opacity: .3; }	
	/*************** v12 SP2 ***************/ 
	#Sidebar.Open ~ div.Content-Overlay { display:block; z-index: 986; width: 100%; height: 100%; min-height: 999em; opacity: .3; margin-top: -100px;}
	
	.Toggle-Header { width: 100%; padding:10px 15px;border-bottom:1px solid transparent;border-top-left-radius:3px;border-top-right-radius:3px; }
	
	/**************************************************** CHART/GRAPH TITLE ****************************************************/
	.chart-title { color: Blue; font-family: Tahoma; font-size: 10pt; font-weight: Bold; margin-bottom: 5px; width: 100%; display: block; }
	.highcharts-legend { border: solid 2px Red !important; }
	.highcharts-legend-title { color: Red !important; }
	.highcharts-legend-item { padding: 50px !important; display: block; }
	
	/**************************************************** MAPS ****************************************************/
	#rdLegendSpectrum_ { min-width: 300px; }
	.csl { display: block; font-size: 8pt; min-width: 100px !important; } 
	
	.div-mmi-popup > table > tbody > tr > td { padding: 2px 5px; }
	
	/**************************************************** TEXT/README/NARRATIVE ETC *******************************************/
	.div-narrative-wrap, .div-narrative-wrap-inner { margin-left: auto; margin-right: auto; border: solid 1px #DEDEDE; padding:25px; background-color: #FCFCFC; }
	.div-narrative-wrap { margin-bottom: 25px; }
	.div-narrative-wrap-inner { margin-bottom: 0px; }
	.div-narrative > p, .div-narrative > ul > li, .div-narrative > ol > li, .div-narrative > ul li, .div-narrative > span, .div-narrative > ol li, .div-narrative > span > ul > li 
		{ font-size: 14px !important; text-align: justify; }
	.div-narrative > p > a:hover { color: Blue; }
	.div-narrative-wrap > h1, .div-narrative > h1 { font-size: 20px; color: #454d59; text-shadow: 1px 2px 3px rgba(0,0,0,0.1); font-weight: Bold; margin-bottom: 15px; }
	.narrative { font-size: 14px; }
	.div-No-Selection > h1, .div-No-Selection > p { text-align: center !important; }
	.footnote-red { font-style: italic; color: Red; font-weight: bold; }
	.tab-text { margin-left: 3em; }  
	.TextBlack { color: #000; }
	.TextBlue { color: Blue; }
	.TextRed { color: Red; }
	.TextGreen { color: #009900; }
	.TextPurple { color: #800080; }
	.TextGold { color: #B05F3C; }
	.TextDeepSkyBlue { color: #0AD1F4; }
	.TextDarkViolet { color: #9400D3; }
	.TextRoyalBlue { color: #4169e1; }
	.TextDarkGray { color: #a9a9a9; }
	.TextPurple { color: #663587; }
	.TextMagenta { color: #ad235e; }
	.TextYellow { color: #F5CE00; }
	.TextOrange { color: Orange; }
	
	.FontSize13 { font-size: 13px; }
	.FontSize14 { font-size: 14px; }
	.FontSize11pt { font-size: 11pt !important; }
	.FontSize12pt { font-size: 12pt !important; }
	.FontSize14pt { font-size: 14pt !important; }
	
	.TextNormal { font-weight: normal !important; }
	
	.TextBox100px { width: 100px !important; }
	.TextBox150px { width: 150px !important; }
	
	.TableNarrative { width: 100%; font-size: 14px; }
	.TableNarrative > tbody > tr.TableNarrativeHeader > td { background-color: #E8E8E8; font-weight: bold; padding: 15px 10px; }
	.TableNarrative td { padding: 5px 10px; }
	.TableNarrative td a:hover { color: Blue; }
	
	.fa-20px { font-size: 20px; }
	
	.readme-pdf { text-align: right; margin-right: 15px; margin-bottom: 15px; font-size: 14px; padding-top: 15px !important; /*width: 125px;*/ border: solid 0px Blue; /*height: 40px;*/ 
					vertical-align: bottom; font-weight: normal; text-shadow: none !important; }

	.readme-pdf a { color: Red; }
	
	.padding-top-10px { padding-top: 7.5px; }
	
	.Excel { color: #6DBE2C !important; }
	.PowerPoint { color: #FF3300 !important; }
	.PDF { color: Red !important; }
	.PNG { color: #4B0082 !important; }
	.Word { color: ##0000FF !important; }
	
	/**************************************************** INPUT/BUTTONS ETC ****************************************************/
	.btn-primary-export { color:#fff; background-color:#6DBE2C; border-color:#28A828; }
	.btn-primary-export.active,.btn-primary-export.focus,.btn-primary-export:active,.btn-primary-export:focus,.btn-primary-export:hover,.open>.dropdown-toggle.btn-primary-export
		{ color:#fff; background-color:#28A828; border-color:#1E9E1E; }
	.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary { background-image:none }

	.btn-panel { padding: 5px !important; font-size: 10pt !important; margin-top: 0px !important; }

	.btn-lilac { background-color: #AE70ED !important; border-color: #A55FEB; color: #FFF; }
	.btn-lilac:hover { background-color: #A55FEB !important; border-color: #9B4EE9; color: #FFF; }
	.btn-lilac:visited, .btn-lilac:active { color: #FFF; }
	
	.btn-green { color:#fff; background-color:#6DBE2C; border-color:#28A828; }
	.btn-green:hover { color:#fff; background-color:#28A828; border-color:#1E9E1E; }
	
	.btn-red { background-color: #FF4646; border-color: #CC0000; color: Black !important; }
	.btn-red:hover { background-color: Red; border-color: #cc0000; }
	
	.btn-blue { background-color: #0000FF; border-color: #0000CD; color: #FFF; }
	.btn-blue:hover { background-color: #0A0AC3; border-color: #0000AF; color: #FFF; }
	
	.btn-light-blue { background-color: #5CB3FF; border-color: #3E95E1; color: #FFF; }
	.btn-light-blue:hover { background-color: #3E95E1; border-color: #2A81CD; color: #FFF; }
	
	.btn-Export { color:#fff; background-color:#FFF; border-color:#72C854; width: 140px; margin-bottom: 5px; color: #72C854;}
	.btn-Export:hover { color:#fff; background-color:#72C854; border-color:#1E9E1E; }
	
	.btn-Export-Report { padding: 10px 20px; border-color:#72C854; }
	.btn-Export-Report:hover { color:#fff !important; background-color:#72C854; border-color:#1E9E1E; }
	.btn-Export-Report:hover i { color:#fff !important; }
	
	.btn-150px { width: 150px; }
	.btn-200px { width: 200px; }
	.btn-250px { width: 250px; }

	#rdInputRadioOptions { margin-bottom: 5px; font-size: 11px; font-weight: 700; line-height:: 1.375; display: inline-block; max-width: 100%; }
	#rdInputRadioOptions label { color: #000 !important; font-weight: normal; margin-right: 25px; }
	#rdInputRadioOptions input { margin-right: 5px; }
	
	.inline-text { font-size: 14px; }
	.inline-input { width: auto !important; display: inline !important; margin-left: 5px; margin-right: 5px; }
	
	.FieldsetLegend > legend { font-size: 12px; }
	.LegendTextBlue > legend  { color: Blue !important; }
	.FilterFieldsetTable > tbody > tr > td { padding: 5px; font-weight: bold; }
		
	.Fieldset-Form > legend { color: #0992CE; font-family: Calibri; font-size: 14pt; font-weight: bold; border-bottom: 1px solid #6699FF; }
	.Fieldset-Form > div { margin-left: 10px; }
		
	.cb { padding: 0 15px 0 15px !important; font-weight: normal;  }
	input[type='checkbox'].cb  { margin: 0px 25px 0px 25px; }
	.rbl input { display: none; }
	.rbl span { width: 20px; height: 20px; display: block; background: url("link_to_image"); }
	.rbl input:checked + span { background: url("link_to_another_image"); }
	
	/*** CHECKBOX LIST ***/
	.cbl > table { width: 100% !important; }
	.cbl > table > tbody > tr > td > ul > li { margin-bottom: 5px !important; }
	.cbl > table > tbody > tr > td > ul > li > label > span { font-weight: bold !important; padding-left: 10px !important; }
	.cbl_1_cols > table > tbody > tr > td { width: 50% !important; }
	.cbl_3_cols > table > tbody > tr > td { width: 33% !important; }
	
	.rd-checkboxlistOverride150px { height: 150px !important; }
	
	.Panel-Filter { border: solid 1px #e5e5e5; padding: 15px; margin-bottom: 15px; }
	.Panel-Filter fieldset { margin-bottom: 0px !important; }
	.Panel-Filter .btn { float: right; }
	
	.view-record-label { display:block; width:100%; height:34px; padding:6px 12px; font-size:14px; line-height:1.42857143; color:#555; background-color:#fff; background-image:none; border:1px solid #ccc; 
					 	 border-radius:4px; color: #7A7A7A; font-weight: bold; } 
						 
	.nwis_hr { height: 3px; border-top: 3px dotted #6699FF; }
	.nwis_hr hr { display: none; }
	
	.margin-bottom-15 { margin-bottom: 15px !important; }
	
	/**************************************************** TOOLTIPS *******************************************/
	.ToolTipPanel td { padding: 15px; background-color: #F2F2F2; font-weight: normal !important; }
	.NoData { font-size: 10pt; color: #60606a; background-color: #F2F2F2; text-align: center; border: solid 1px #D3D3D3; padding: 15px !important; font-weight: Bold; }
	
	.div-premise-info > table > tbody > tr > td > img { padding: 5px 10px; }
	
	.rdquicktip-content { text-align: left; min-width: 100px; position: relative; padding: 5px !important; word-wrap: break-word; background-color: #e5f4f4; 
		border: 1px solid #526666; /*border-radius: 8px;*/ box-shadow: 0 2px 5px rgba(0,0,0,0.4); }
		
	/**************************************************** BREADCRUMB MENU *******************************************/
	#divChildCount { margin-top: 0px; }
	.breadcrumb-menu-sub-menu-item { background: #4FB2DC; box-shadow: inset -5px 0px 10px rgba(0,0,0,0.4); margin-top -10px !important; }
	.breadcrumb-menu-sub-menu-item > a { color: Red !important; }
	
	/**************************************************** WAIT PANEL ****************************************************/
	.rdThemeWaitPanel { padding: 25px !important; }
	.rdWaitImage { padding: 25px !important; }
	.rdThemeWaitCaption { padding: 25px !important; font-family: Calibri !important; }
	
	/**************************************************** TOGGLE CONTAINER *******************************************/
	.div-toggle-title-container { height: 45px; font-family: Tahoma; font-size: 10pt; margin-bottom: 5px; display: block; width: 100%; }
	.div-toggle-image { float: left; width: 65px; }
	.div-toggle-image-32px { float: left; width: 50px; }
	.div-toggle-title { float: left; margin-top: 5px; font-weight: bold; font-size: 24px !important; text-shadow: 1px 2px 3px rgba(0,0,0,0.3); 	
						font-weight: bold; color: Blue; }
												
	.div-toggle-title-20px, .div-toggle-title-14px { font-family: "Lato", sans-serif !important; color: #454d59; text-shadow: 1px 2px 3px rgba(0,0,0,0.1); font-weight: Bold;
		padding: 5px !important; }
	.div-toggle-title-20px { font-size: 20px; }
	.div-toggle-title-14px { font-size: 14px; }
	
	.div-toggle-container { margin-left: auto; margin-right: auto; border: solid 1px #DEDEDE; padding: 25px; margin-bottom: 0px; background-color: #FCFCFC; }
	
	/***********************************************************************************************************************************************************************/
	/******************************************************************* PRIMARY CARE PORTAL (OVERIDES) ********************************************************************/
	/***********************************************************************************************************************************************************************/
	/*#navigation { background: url(../../../_SupportFiles/images.pcip-banner-bg.jpg) no-repeat; height: 200px; background-color: #091b35 !important; }*/
	.pcip-logo { margin-top: -5px; }
	.navbar { border-bottom: solid 3px #0022BA !important; }
	
	/* HIGHER BANNER */
	/*#navigation { background: url(../../../_SupportFiles/images.pcip-banner-bg.jpg) no-repeat; height: 200px; background-color: #091b35 !important; }*/
	.nwis-logo-right { float:right; margin: 60px 50px 0px 0px; }
	.sidebar-toggle { margin: 15px 10px !important; background-color: #000078 !important; border: solid 1px #C0C0C0; }
	
	/* SHORTER BANNER */
	.pcip-logo { margin-top: -15px; }
	#navigation { background: url(../../../_SupportFiles/images.banner.pcip-background-100.png) no-repeat; height: 100px; background-color: #091b35 !important; }
	.nwis-logo-right { float:right; margin: 10px 25px 0px 0px !important; }
	.sidebar-toggle { margin: 30px 15px !important; }
	
	@media (max-width: 1100px){
		.nwis-logo-right { display: none !important; }
	}
	
	#Sidebar { top: 100px !important; background-color: #091b35 !important; }
	#Sidebar { top: 0px !important; }
	.Sidebar-left { margin-top: 100px !important; margin-bottom: 50px !important; }
	/*.sidebar-nav { margin-top: 50px !important; }*/
	
	#sidebar-nav div#menu-item:hover div > a, #sidebar-nav div#menu-item.active div >a{ background: #4FB2DC; } 
	#sidebar-nav div#menu-item #sub-nav { background: #4a80ac !important; }
	#sidebar-nav div#menu-item ul#sub-nav li a { color: #000 !important; }
	#sidebar-nav div#menu-item ul#sub-nav li a:hover { color: #FFF !important; }
	
	/*#sidebar-nav { margin: 0px !important; }*/
		
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #4FB2DC !important; }	
	
	#rdMainBody { top: 200px !important; }
	
	/********* OVER-RIDE THE FIXED BANNER & INSTEAD DISAPEAR THROUGH SCROLL *********/
	/*.navbar-fixed-bottom, .navbar-fixed-top { position: relative !important; }*/
	#rdMainBody { top: 100px !important; }
	
	/*#Footer { position: absolute; bottom: 0px; width: 100%; }*/
	#Footer #footer-wrapper { background-color: #4FB2DC !important; border-top: solid 1px Blue; margin-top: 200px; }
							  	
	#footer-container { color: #000; }
	#footer-container a { color: #000082; font-weight: bold;}
	#footer-container .footer-left { text-align: left; margin-left: 10px; display: inline-table; float: left; }
	#footer-container .footer-center { text-align: center; font-weight: bold; }
	#footer-container .footer-right { text-align: right; margin-right: 25px; }
	
	.user-info { margin-right: 10px; }
	.user-info i { font-size: 14pt; }
	.user-info i:hover { color: red !important; }
	
	#WatermarkImage { background: url(../../../_SupportFiles/images.wales_opacity.gif) center no-repeat; min-height: 500px; }*/  /*** OLD ***/

	.Video-Demo { text-align: center; margin: 25px; } 
	
	/***************************************************************************************************************************************************************************/
	/*** NEW CORPORATE BRANDING BORDER (13/01/2017) ***/
    #Footer { position: fixed; bottom: 0; width: 100%; }
	#Footer #footer-wrapper { background-color: #99C7FF !important; margin-top: 25px !important; }
    #Footer #footer-wrapper div { margin-right: 0px; }
	/*#Footer #footer-wrapper { background-color: #DEDEDE !important; border-image: url(../../../_SupportFiles/corporate.banner_top.jpg) 5 5; margin-top: 200px; 
							  border-top: solid 4px Blue; border-bottom: 0; border-left:0; border-right:0; }*/
							  
	.navbar { border-bottom: solid 5px #0022BA !important; border-image: url(../../../_SupportFiles/images.corporate.banner_top.jpg) 35 5 !important; 
							  border-bottom: solid 4px Blue; border-top: 0; border-left:0; border-right:0; }
							  
	/*#WatermarkImage { background: url(../../../_SupportFiles/corporate.CorpImage-NWISWales-Map-72res_opacity.jpg) center no-repeat; min-height: 500px; }*/
	#WatermarkImage { background: url(../../../_SupportFiles/images.corporate.CorpImage-NWISWales-Map-72res_opacity_greyscale.jpg) center no-repeat; min-height: 500px; }

    #banner-bar {
                background-image: linear-gradient(
                     90deg, #214578, #214578 20px, 
                     #ffffff 20px, #ffffff 40px, 
                     #0fa6c9 40px, #0fa6c9 60px, 
                     #ffffff 60px, #ffffff 80px,
                     #97c93c 80px, #97c93c 100px, 
                     #ffffff 100px, #ffffff 120px,
                     #cc2027 120px, #cc2027 140px, 
                     #ffffff 140px, #ffffff 160px,
                     #e58424 160px, #e58424 180px, 
                     #ffffff 180px, #ffffff 200px,
                     #f4c016 200px, #f4c016 220px, 
                     #ffffff 220px, #ffffff 240px,
                     #19a8b0 240px, #19a8b0 260px, 
                     #ffffff 260px, #ffffff 280px,
                     #ad235f 280px, #ad235f 300px, 
                     #ffffff 300px, #ffffff 320px,
                     #663488 320px, #663488 340px,
                     #ffffff 340px, #ffffff 360px
                     );
        background-size: 360px 5px;
        background-position-y: bottom;
        background-repeat: repeat-x;
        height: 10px; /*margin-top: 27px;*/
                
    }

    .navbar { border-bottom: none !important; }
    .Sidebar-left { margin-top: 104px !important; }

	/***************************************************************************************************************************************************************************/
	/***************************************************************************************************************************************************************************/
	/***************************************************************************************************************************************************************************/

	/***********************************************************************************************************************************************************************/
	/************************************************************************** NEWS ITEMS *********************************************************************************/
	/***********************************************************************************************************************************************************************/
	.News-Item-Container { width: 100%; border: solid 0px Red; margin-bottom: 15px; min-height: 100px; }
	
	.Calendar-Container-td { width: 75px; vertical-align: top; }
	.Calendar-Container { float: left; margin-right: 25px; vertical-align: top; }
	
	.News-Container { float: left; }
	.News-Container-td { vertical-align: top; }
	
	.Calendar-Container { float: left; background: url(../../../_SupportFiles/images.calendar_gradient.png); color: #333; width: 50px; padding-bottom: 6px; 
		font-weight: bold; text-align: center; font-size: 90%; border: 1px solid #ccc; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
	
	.Calendar-Container .news {margin-left: 15px;}
	.Calendar-Container .day {color: #fff; /*background: url(../images/medium_blue_gradient_h20.png);*/ background-color: Blue; padding: 3px;
						  -moz-border-radius: 8px 8px 0 0; -webkit-border-top-right-radius: 8px; -webkit-border-top-left-radius: 8px;}
	
	.Calendar-Container .day, 
	.Calendar-Container .month { text-transform: uppercase; line-height: 110%; font-size: 8pt;}
	.Calendar-Container .datenum {font-size: 240%; line-height: 90%; padding: 3px 0px; font-weight: normal;}	
	
	.News-Item-Container .News-Container .News-Item-Info { color: #666; font-family: Tahoma; font-size: 8pt; margin-bottom: 5px; border: solid02px Blue; width: 100%; }
	.News-Item-Container .News-Container .News-Item-Heading { color: Blue; margin-bottom: 10px; font-family: Tahoma; font-size: 11pt; line-height: 100%; 
		padding: 6px 0px; font-weight: bold; }
	.News-Item-Container .News-Container .News-Content { border: solid 0px Green; width: 100%; margin-bottom: 10px; font-size: 14px; }
	
	.Image-Container-td { border: solid 0px Green; width: 150px; }
	.Image-Container { margin-left: 50px; }
	
	.news_hr { height: 1px; border-top: 1px dotted Blue; }
	.news_hr hr { display: none; }
	
	/*.Animated-Map > table { width: 100%; border: solid 0px Red; }
	.Animated-Map > table > tbody > tr > td > span > div > span { border: solid 0px Green; width: 100%;}*/
	
	/* The Table around the CSL */
	/*.Animated-Map > table > tbody > tr > td > table { border: solid 0px Blue; width: 100%; } */  
	
	/* The Actual Image within the CSL */
	/*.Animated-Map > table > tbody > tr > td > table > tbody > tr > td > span > img { width: 100%; border: solid 0px Red; }*/  	

	/****** HEADER TRAY (JS TOGGLE) ********/
	Body.no-topmenu #HeaderTray { top: 0px; }	
	#HeaderTray { top: 0px; width: 100%; position: fixed; /*height: 50px;*/ /*background-color: Red;*/ z-index: 1000 !important;  }
	#HeaderTray.Open { background-color: Green; margin-top: 100px;}
	#HeaderTray.StaticOpen { left: 0; }
	
	/*** SIDEBAR OVERRIDES ***/
	/*#Sidebar { display: none !important; }*/
	/****** HEADER TRAY (JS TOGGLE) ********/
	
	
	/***************************************************************************************************************************************************************************/
	/***************************************************************************************************************************************************************************/
	/***************************************************************************************************************************************************************************/
	/********** DASHBOARDS *********/
	#ppChangeDashboard { width: 65% !important; border: solid 1px #0992CE !important; height: 650px !important; overflow-y: scroll !important; position: fixed !important; }	
	/*#ppChangeDashboard .rdDashboard table { padding: 10px !important; }*/
	
	/*** TH ***/
	#ppChangeDashboard .rdPopupPanelTitle { background-color: #0992CE !important; padding: 5px 10px; }
	#ppChangeDashboard .rdPopupPanelTitle > table > tbody > tr > td { background-color: #0992CE !important; }  /*** Popup Panel Heading ***/
	#ppChangeDashboard .rdPopupPanelTitleCaption { color: #FFF !important; font-size: 16px; background-color: #0992CE; font-weight: bold; 
		font-family: "Lato", sans-serif; }   /*** Popup Panel Heading Text ***/
	
	/*** Pop Panel heading Exit ***/
	#ppChangeDashboard .rdPopupPanelControl .rdPopupPanelCommand { background-color: #FFF !important; color: #0992CE !important;  padding: 0 10px !important;
		/*font-size: 12px !important;*/ }  
	#ppChangeDashboard .rdPopupPanelControl .rdPopupPanelCommand:hover { background-color: #D8ECF2 !important; color: Blue !important; }
	
	/*** Panel Search Table ***/
	#ppChangeDashboard .rdAddPanelSearch { padding: 10px !important; }
	#ppChangeDashboard .rdAddPanelSearch .rdDashboardTitleCaption { margin-bottom: 5px; margin-top: 5px; font-size: 12px; font-weight: 700; 
		line-height:: 1.375; display: inline-block; max-width: 100%; color: 000; }
	
	/*** Panel List Table ***/
	#ppChangeDashboard #rdAddPanelsList #dtPanelList > tbody > tr > td > table { border: solid 1px Gray; padding: 10px; }
	#ppChangeDashboard #rdAddPanelsList #dtPanelList > tbody > tr > td > table td { padding: 15px !important; }
	#ppChangeDashboard #rdAddPanelsList { border: solid 1px Gray !important; padding: 25px;  height: auto !important; background-color: #ececec !important;}	
	#ppChangeDashboard .rdDashboardPanelImageColumn { border: solid 0px Blue !important; text-align: center !important; }
	#ppChangeDashboard .rdDashboardPanelDescription { border: solid 0px Green !important; } 
	
	#ppChangeDashboard .rdDashboardPanelDescription .rdDashboardTitleCaption { color: Blue; }  /*** Panel Description Text **/
	#ppChangeDashboard .rdDashboardPanelDescription .rdDashboardCommand { /*background-color: #0992CE !important; color: Red !important;*/ } /*** Add Panel Button ***/
	
	#ppChangeDashboard #ppAddPanelsDone #ppDoneButton { /*background-color: #0992CE !important; color: Green !important;*/ } /*** Done Button **/
	
	/**** EDIT PARAMETERS ****/
	/*.dashboardPanelContainer > div > table.rdPopupPanel { border: solid 1px #0992CE !important; min-width: 500px !important; }*/
	
	/*** CHANGE LAYOUT ***/
	#rdPopupPanelTable_ppChangeLayout { border: solid 1px #0992CE !important; width: 650px; }
	#rdPopupPanelTitle_ppChangeLayout .rdPopupPanelTitle { background-color: #0992CE; padding: 5px 5px; }
	#rdPopupPanelTitle_ppChangeLayout .rdPopupPanelTitleCaption, #rdPopupPanelTitle_ppChangeLayout .rdPopupPanelTitle { background-color: #0992CE !important; font-size: 16px; font-weight: bold; 
		 color: #FFF !important; font-family: "Lato", sans-serif; }
	
	#rdPopupPanelTitle_ppChangeLayout .rdPopupPanelControl { background-color: #0992CE !important; }
	#rdPopupPanelTitle_ppChangeLayout .rdPopupPanelCommand { background-color: #FFF !important; color: #0992CE !important; padding: 0 10px !important; }
	#rdPopupPanelTitle_ppChangeLayout .rdPopupPanelCommand:hover { background-color: #D8ECF2 !important; color: Blue !important; }
	
	#rdPopupPanelTable_ppChangeLayout #rdTabChangeTable { width: 97% !important; padding: 5px; }
	#rdPopupPanelTable_ppChangeLayout #rowTabColumnCount label { margin-right: 10px; }
	#rdPopupPanelTable_ppChangeLayout #rowTabColumnCount select.form-control { width: 75px; display: inline !important; }
	#rdPopupPanelTable_ppChangeLayout #rowTabColumnCount > td { padding: 3px; }
	#rdPopupPanelTable_ppChangeLayout #PopupPanelContent { padding: 10px; }
	
	/*** TH ***/
	.dashboardPanelContainer .rdPopupPanel .rdPopupPanelTitle { background-color: #0992CE !important; padding: 5px 10px 5px 5px; }
	.dashboardPanelContainer .rdPopupPanel .rdPopupPanelTitle .rdPopupPanelTitleCaption { color: #FFF !important; font-size: 16px; background-color: #0992CE; 
		font-weight: bold; font-family: "Lato", sans-serif; }
	.dashboardPanelContainer .rdPopupPanelTitle > table > tbody > tr > td { background-color: #0992CE !important; }
	
	/*** Pop Panel heading Exit ***/
	.dashboardPanelContainer .rdPopupPanelControl .rdPopupPanelCommand { background-color: #FFF !important; color: #0992CE !important; font-size: 16pt !important; 
		padding: 0 10px 2px 10px !important; } 
	.dashboardPanelContainer .rdPopupPanelControl .rdPopupPanelCommand:hover { background-color: #D8ECF2 !important; color: Blue !important; } 
		
	.dashboardPanelContainer .rdPopupPanel .rdDashboardParams .rdThemeInputCaption { margin-bottom: 5px; margin-top: 5px; font-size: 12px; }
		
	.rdDashboardTitleCaption { margin-left: 5px; }
	
	td.rdDashboardTitle { background-color: #DBEBFF; }
	.rdDashboardPanel { border: solid 1px #D3D3D3; }
	
	#rdAddTabCog { margin-top: -31.89px; margin-left: 91px; position: absolute; }
	
	/* Make the caption not visible within the web version and only displayed when you export the DataTable. */
	@media screen {
		.DashboardExportCaption, .DataTableExportCaption { display: none !important; }
		/*.rdThemeDataTableMainHeader { background-color: #454D59 !important; }*/
	}
	
	@media print {
		.rdThemeDataTableMainHeader { background-color: #037AAE !important; }
		.rdDashboardTitleCaption { display: none !important; }
		.rdDashboardControl { display: none !important; }
		
		/*.DataTableExportCaption { background-color: #037AAE !important; } */
		.DataTableExportCaption { background-color: #0099FF !important; }
	}
		
	/***************************************************************************************************************************************************************************/
	/***************************************************************************************************************************************************************************/
	/***************************************************************************************************************************************************************************/
	/************************************************* TABS ********************************************/
	#rdTabs .tabsNWIS { background-color: Red !important; padding: 25px !important; }
	.div-TabPanel { margin: 10px; padding: 15px; border: solid 1px #D4D4D4; display: block !important; }
	
	.yui-navset .yui-nav li { background-color: #0992CE !important; border-bottom: solid 1px #0992CE !important;}
	.yui-navset .yui-nav li:hover { background-color: #037AAE !important; }
	.yui-navset .yui-nav li a:hover { text-decoration: underline; }
	
	.yui-navset .yui-nav li.selected { background-color: #2E598A !important; }
	.yui-navset .yui-nav li.selected:hover { background-color: #037AAE !important; }
	.yui-navset .yui-nav li.selected a { color: White !important; }
	
	.yui-navset .yui-nav li.selected a:hover { text-decoration: underline; }
	.yui-navset .yui-nav .selected a, .yui-navset .yui-nav a { font-family: Calibri; font-size: 16pt; font-weight: bold; }
	
	.yui-navset div.yui-content { border: solid 1px #0992CE !important; }
	
	.tabsContentTitle { color: #0992CE !important; }
	
	#tabsCOPD #tabTreatingTobaccoDependency { background-color: Purple !important; }
	#tabsCOPD #tabParticipation { background-color: Green !important; }
	.PurpleTab { border: solid 0px red !important; }
	
	.Inner-Report-Tabs > table > tbody > tr > td > div > div > ul > li { padding: 5px 12px !important; }
	.Inner-Report-Tabs .yui-navset .yui-nav li {  }
	.Inner-Report-Tabs .yui-navset .yui-nav .selected a, .yui-navset .yui-nav a { font-size: 12pt !important; }
	#rdTabs { display: block !important; width: 100%; }
	.div-Block { display: block !important; width: 100%; }
	/***************************************************************************************************************************************************************************/
	/***************************************************************************************************************************************************************************/
	/***************************************************************************************************************************************************************************/
	/************************************************* GAUGES ********************************************/
	.Gauge-Custom {	border: solid 1px #D3D3D3; }
	.Gauge-Custom .highcharts-title { font-weight: Bold; }
	
	/***************************************************************************************************************************************************************************/
	/***************************************************************************************************************************************************************************/
	/***************************************************************************************************************************************************************************/
	/************************************************* SHOW MORE/LESS ********************************************/
	.DivHeight50 {  }
	.ShowMoreContainer { width: 100%; display: block; height: 55px; /*border: solid 1px #0992CE; background-color: #99E0FF;*/ 
		padding: 10px 20px; margin-top: 35px; margin-bottom: 25px; border-top: solid 3px #0992CE; }
	.ShowMoreContainer .TableLeft a, .ShowMoreContainer .TableRight a { color: #0992CE; font-size: 12pt; font-family: Calibri; font-weight: Bold; margin-top: 5px; }
	.ShowMoreContainer .TableLeft a, .ShowMoreContainer .TableRight a:hover { color: #0992CE; cursor: pointer; }
	.ShowMoreContainer .TableLeft img, .ShowMoreContainer .TableRight img:hover { color: #0992CE; cursor: pointer; }
	.ShowMoreContainer .TableLeft a.aText { margin-left: 20px; }
	.ShowMoreContainer .TableRight a.aText { margin-right: 20px; }
	
	
	.ReportHeaderContainer { border: solid 0px Red; width: 100%; display: block; }
	.ReportHeaderContainer .div-report-heading { float: left; }
	.ReportHeaderContainer .div-report-actions { float: right; margin-left: 5px; } 