.rdPopupPanel
{
	border-style:solid;
	border-color:#888888;
	border-width:thin;
	background-color:white;
}


.rdPopupPanelTitle
{    
    background-color: #f1f1f1;
    height:1%;	/* 11508 */
}

.rdPopupPanelTitle A:link
{	
	text-decoration:none;
}	

.rdPopupPanelTitleCaption
{
	font-weight:bold;
	font-size:11px;
}

TD.rdPopupPanelControl
{
	text-align:right;
	font-size:11px;
}

.rdPopupPanelCommand
{
	font-weight: normal;
	color: #555;
	text-decoration: none;    
    background-color: #f1f1f1;
	border: 1px solid #bebebe;	
	margin-left: 3px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 24px;
	white-space: nowrap;
}

.rdPopupPanelControl A
{
	color:#555555;
	text-decoration:none;
}

.yui-navset
{	/* This helps the Popup Panel to get positioned properly when the Popup Panel is nested in YUI Tabs, #12917.	*/
	position: static !important;
}

.popupPanelContainer {
	position: absolute;
	z-index: 202; /* Resize Handles have z-index of 100 and 200, need to be one higher */
}

.popupPanelModal
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 201;
	background-color: black;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

	