/* General page styles. */
body {
	margin: 0;
	padding: 0;
	background-color: white;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

form 
{
	margin: 0;
}

.tbl {
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url(../App_Themes/Green/Images/topBg.jpg);
}

.pageTitle	{
	height: 36px;
	width: 100%;
}

.tblBody {
	margin: 10px;
	padding: 10px;
	width: 99%
}

.trBody {
	width: 100%
}

.tdBody {
	width: 100%
}

.lbl 
{
	margin-left: 2px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

.txt {
	width: 98%
}

.txtBody
{
	margin-left: 10px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	width: 98%;
}

.command 
{
	margin-left: 10px;
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	 cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    font-size:8pt; 
    border:solid 1px #C9D5DF;
    color:#214973;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#E5E6E6);
}
