<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body>
<table "100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="logo" "100%"><img src="images/title.gif" "349" "39" border="0"></td></tr></table>
<div style="padding:10px;">

<h2><a name="_Toc382578257">Publish Managed Reports</a></h2>


<p class=MsoNormal> Publishing  reports means to make Logi Info reports (also
known as Managed Reports) available for execution from an Ad Hoc instance.
Essentially the process creates a link in the Ad Hoc reports list to the Info
report and allows the System Administrator to migrate the necessary report
dependencies from the Info application to the Ad Hoc application. Dependencies
include the report definition file and may include:</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
     normal'><b>_DataXMLs </b>- XML data files</li>
 <li class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
     normal'><b>_Definitions </b>- Report, Process and Template definition
     files</li>
 <li class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
     normal'><b>_Images </b>- GIF, JPEG, BMP, PNG, WMF, XBM and ART image files</li>
 <li class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
     normal'><b>_IncHTMLs </b>- HTML files</li>
 <li class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
     normal'><b>_Scripts </b>- VBScript and JavaScript files</li>
 <li class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
     normal'><b>_StyleSheets </b>- Cascading Style Sheet files</li>
 <li class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
     normal'><b>_Templates </b>- Adobe PDF and Microsoft Excel template files</li>
</ul>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'>&nbsp;</p>

<p class=MsoNormal>Ad Hoc is based on the Logi Framework and contains most of
the support file folders listed above. If additional support file folders are
needed, administrators can manually add the folder to the root directory of the
Ad Hoc instance.</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>Support file folders always begin with an underscore.
  Excluding the <b>_Definitions </b>folder, all support file folders are
  optional.</p>
  </td>
 </tr>
</table>


<p class=MsoNormal>In addition to the dependency files required to have the
report rendered properly, reports typically rely upon data from a database.
Identification of the database and the credentials necessary to access the data
are defined in a &lt;Connection&gt; element in the _Settings.lgx file. Both
Info and Ad Hoc applications rely on the &lt;Connection&gt; elements. One of
the key dialogs in the Publisher Wizard allows the System Administrator to
either map the requisite connections for the repots to their Ad Hoc equivalent
or to copy the existing Info connection into the Ad Hoc _Settings.lgx file.<b><br
clear=all style='page-break-before:always'>
</b><a name="_Toc382578258"></a><span class=Heading3Char>Running the Publisher
Wizard</span></p>

<p class=MsoNormal>To launch the <b>Publisher Wizard</b>, click on the <b>Tools</b>
action group and then click on the <b>Publish Managed Reports </b>action. The
following dialog will be displayed.</p>

<p class=MsoNormal><img border=0  
src="Mngt_Console_Usage_Guide_files/image069.jpg"></p>

<p class=MsoNormal>The dialog introductory text outlines the basic publishing
process to be performed by the Publisher Wizard.</p>

<p class=MsoNormal>Click on the <b>Browse</b> button to identify an Info
(Managed Reporting) application. </p>

<p class=MsoNormal>Click on the <b>Next</b> button to present a dialog that
will allow the selection of reports to publish into the Ad Hoc application.</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>If no unpublished Info reports can be found in the
  instance, an informative message will be issued.</p>
  </td>
 </tr>
</table>


<span style='font-size:11.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>The <b>Select Reports</b> dialog of the <b>Publisher Wizard</b>
allows the System Administrator to navigate the folder structure of the Info
application and identify the reports that should be published into Ad Hoc</p>

<p class=MsoNormal><img border=0  
src="Mngt_Console_Usage_Guide_files/image070.jpg"></p>

<p class=MsoNormal>The left pane will identify the folder structure of the Info
instance relevant to the report repository. Click on a folder in the left pane
to display the list of reports in the right pane contained in the folder.</p>

<p class=MsoNormal>Click on the <b>Select</b> checkboxes to identify the
individual reports to be published. Click on the <b>Select</b> column header to
select all the reports in the list.</p>

<p class=MsoNormal>Click on the <b>Next</b> button to display the list of
dependencies identified by the selected report definitions.</p>

<span style='font-size:11.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>The <b>Select Files</b> dialog presents all of the file
dependencies for the selected reports.</p>

<p class=MsoNormal><img border=0  
src="Mngt_Console_Usage_Guide_files/image071.jpg"></p>

<p class=MsoNormal>The System Administrator should review the list and
determine which files should be copied from the Info application to the Ad Hoc
application.</p>

<p class=MsoNormal>Click on the <b>Select </b>checkbox (checked by default) to
identify the files to copy. Click on the <b>Select</b> column header to select
/ de-select all of the files in the list.</p>

<p class=MsoNormal>Click on the <b>Next</b> button to confirm any files that
might be overwritten during the publishing process.</p>

<span style='font-size:11.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>The <b>Select Files to Overwrite</b> dialog presents a list
of dependency files for the selected reports that would overwrite existing
files in the Ad Hoc instance. </p>

<p class=MsoNormal><img border=0  
src="Mngt_Console_Usage_Guide_files/image072.jpg"></p>

<p class=MsoNormal>Click on the <b>Overwrite</b> checkbox to indicate that the
corresponding Ad Hoc application file should be overwritten by the file from
the Info application to support the Info reports.</p>

<p class=MsoNormal>Click on the <b>Overwrite</b> column header to select /
de-select all of the files.</p>

<p class=MsoNormal>Click on the <b>Next</b> button to continue to the dialog
that maps the Info connections to the Ad Hoc application.</p>

<span style='font-size:11.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>The <b>Map Reporting Database Connections </b>dialog allows
the System Administrator to correlate the <i>Connection</i> elements required
by the Info reports to their Ad Hoc equivalents. The System Administrator has
two basic options. For each Info connection used by the reports, the
administrator may choose to either copy the Info<i> Connection</i> element into
the Ad Hoc instance or to instruct the <b>Publisher Wizard</b> to use an
existing Ad Hoc <i>Connection</i> to acquire the data for the reports.</p>

<p class=MsoNormal><img border=0  
src="Mngt_Console_Usage_Guide_files/image073.jpg"></p>

<p class=MsoNormal>The left panel contains the <b>Connection ID</b> s of all of
the Info <i>Connection </i>elements used by the selected reports. As each <b>ID</b>
is highlighted, the information on the right side of the dialog will change.</p>

<p class=MsoNormal>The <b>Info Connection Element</b> area will display the contents
of the Info <i>Connection</i> for the highlighted ID.</p>

<p class=MsoNormal>The <b>Publisher Wizard</b> will attempt to match the Info
connection information with the Ad Hoc connection information and display the
result in the <b>Matching Ad Hoc Connection</b>. This is an indicator that the
connection has already been mapped.</p>

<p class=MsoNormal>The <b>Ad Hoc Connection</b> frame is where the System
Administrator decides whether to copy the Info connection to the Ad Hoc
application or to use an Ad Hoc connection that already exists.</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>If the Info connection is copied to the Ad Hoc instance,
  the report definitions will remain unchanged during the publishing process.
  They will continue to use the connection ID specified during their
  development.</p>
  <p class=MsoNormal>If the Info connection is mapped to an existing Ad Hoc
  connection, the report definitions will be changed. The new connection ID
  will replace the existing connection ID s in the report definition files
  where necessary.</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>Each Info connection must be represented in some form in the
Ad Hoc application for the reports to be able to connect to a data source.</p>

<p class=MsoNormal>Once all of the Info connections have been mapped or
designated for copy, click on the <b>Nex</b>t button to complete the <b>Publisher
Wizard</b> functions. The <b>Finish </b>dialog will be presented.</p>

<p class=MsoNormal>The <b>Finish</b> dialog presents a report of the actions
taken during the publishing process. The report is stored in the <i>Log</i>
folder of the instance as <i>Publisher_Update_Log.html</i>.</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>Published reports will appear in the Admin s <i>Personal
  Reports</i> folder. If the published report has connections mapped to an Ad
  Hoc connection, the reports will be visible in the list of reports for the
  associated reporting database connection. </p>
  <p class=MsoNormal>Reports continuing to use the Info connections to the
  database will not be filtered by the database dropdown and will be visible
  regardless of which reporting database is selected in Ad Hoc.</p>
  </td>
 </tr>
</table>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr style='height:31.5pt'>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt;
  height:31.5pt'>
  <h6><span style='color:windowtext;font-style:normal'>Notes:</span></h6>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;
       line-height:normal'>Published reports cannot be modified in Ad Hoc.</li>
  </ul>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'></td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'></td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;
       line-height:normal'>A published report can be updated by simply
       replacing its definition file.</li>
   <li class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;
       line-height:normal'>If a published report is copied within Ad Hoc, then replacing
       the originally published report definition file will have no affect on
       the copied report.</li>
  </ul>
  </td>
 </tr>
</table>

<b><span style='font-size:13.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span></b>

<p><img src="images/arrowUp.gif" "7" "9">&nbsp;&nbsp;<a href="#">Back to top</a></p><p style="border-top: 1px #CDCDCD solid"></p><p class="copyright">Logi Ad Hoc Reporting &nbsp;&copy; Copyright 2004-2014 LogiXML, Inc. All rights reserved.</p></div>
</body>
</html>
