/* application.css - Logi Analytics, 2015
******************************************************************************************/
	/* Google font: Lato */
	@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);

	body{
		background: #F7F7F7;
		color: #292E3C;
		font-family: 'Lato', sans-serif;
		font-size: 1.4em;
	}
	
	h1,.h1,h2,.h2,h3,.h3{
		text-align:left;
	}
	
/* Body + Layout */
	#rdMainBody{
		padding: 1.5em 15px;
		position: relative;
		top: 50px;
		left: 0;
		-moz-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-o-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-ms-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transform: translateZ(0);
	}

	/*#Header{
		left: 0;
		height: 100%;
		position: relative;
		-moz-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-o-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-ms-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transform: translateZ(0);
	}*/
	
	#Sidebar{
		width: 220px;
		height: 100%;
		background: #1D2733;
		color: #F7F7F7;
		position: fixed;
		padding: 0 0 75px;
		z-index:999;
		top: 50px;
		left: 0;
		overflow-y: auto;
		left: -220px;
		-moz-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-o-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-ms-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transform: translateZ(0);	
	}
	
	#Footer{
		left: 0;
		position: relative;
		margin-top: 2.5em;
		-moz-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-o-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-ms-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transform: translateZ(0);
	}
	
	div.Content-Overlay {
		position: fixed;
		z-index: 986;
		width: 0px;
		height: 0px;
		top: 50px;
		left: 0px;
		opacity: 0;
		background-color: #000;
		transition: opacity 250ms cubic-bezier(0.25,0.81,0.36,1.00), left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-moz-transition: opacity 250ms cubic-bezier(0.25,0.81,0.36,1.00), left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transition: opacity 250ms cubic-bezier(0.25,0.81,0.36,1.00), left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-o-transition: opacity 250ms cubic-bezier(0.25,0.81,0.36,1.00), left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-ms-transition: opacity 250ms cubic-bezier(0.25,0.81,0.36,1.00), left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transform: translateZ(0);
	}
	
	Body.no-topmenu #Sidebar,
	Body.no-topmenu #Header,
	Body.no-topmenu #rdMainBody,
	Body.no-topmenu div.Content-Overlay{
		top: 0;
	}
	
	#Sidebar.Open{
		left: 0;
	}
	
	#Sidebar.StaticOpen{
		left: 0;
	}
	
	#Sidebar.StaticOpen ~ #Header,
	#Sidebar.StaticOpen ~ #rdMainBody,
	#Sidebar.StaticOpen ~ #Footer{
		margin-left: 220px;
	}
	
	#Sidebar.Open ~ #Header,
	#Sidebar.Open ~ #rdMainBody,
	#Sidebar.Open ~ #Footer{
		left: 220px;
	}
	
	#Footer #footer-wrapper{
		background: #F5F5F5;
		border-top: 1px solid #DDD;
		padding: .5em 0;
		color: #777;
	}
	
	#Sidebar.Open ~ rdcondelement2>div.Content-Overlay {
		display:block;
		z-index: 986;
		width: 100%;
		height: 100%;
		min-height: 999em;
		opacity: .3;
	}
	
	.Sidebar-left p,
	.Sidebar-left h1, .Sidebar-left .h1,
	.Sidebar-left h2, .Sidebar-left .h2,
	.Sidebar-left h3, .Sidebar-left .h3,
	.Sidebar-left h4, .Sidebar-left .h4,
	.Sidebar-left h5, .Sidebar-left .h5,
	.Sidebar-left h6, .Sidebar-left .h6{
		color: #F7F7F7;
	}
	
	.Sidebar-left #logo{
		margin: 0 auto;
		max-width: 70%;
	}

	.footer-wrap{
		background: #444444;
	}

	.footer-content,
	.footer-content a{
		color: #FFF;
		padding: 1em 0;
	}
	
	#divScrollToTop{
		position: fixed;
		right: .5em;
		bottom: 1em;
		font-size: xx-large;
		display: none;
		opacity: 0.5;
		z-index: 1000;
		background: #CCBEB8;
		padding: 0 .2em;
		border-radius: 6px;
	}
	
	#divScrollToTop #ScrollToTop{
		cursor: pointer;
	}
	
	
/* iFrame Report helper classes */
	body.transparent-bg{
		background:transparent!important;
	}
	
	body.iframe-report #Header,
	body.iframe-report #Sidebar,
	body.iframe-report #Footer,
	body.iframe-report div.Content-Overlay,
	body.iframe-report #divScrollToTop{
		display:none!important;
	}
	
	body.iframe-report #rdMainBody{
		padding: 0;
		top: 0;
	}
	
	body.iframe-report div[class*='rd-gridsystem'].row,
	body.iframe-report div.row{
		margin-left: 0;
		margin-right: 0;
	}
	

/* Start Sidebar Nav */	
	#sidebar-nav{
		margin: 2em 0 0;
	}
	
	.Sidebar-left.collapsed ul#nav-items li a span.item-label{
		display: none;
	}
	
	#sidebar-nav div#menu-item{
		display: block;
	}

	#sidebar-nav div#menu-item div>a{
		color: #7A7E8A;
		font-size: medium;
		cursor: pointer;
		text-decoration: none;
		display: block;
		padding: .8em 1.5em;
	}
	
	#sidebar-nav div#menu-item:hover div>a,
	#sidebar-nav div#menu-item.active div>a{
		color: #FFF;
		text-decoration: none;
		background: #2986B8;
	}
	
	#sidebar-nav div#menu-item ul#sub-nav,
	#sidebar-nav div#menu-item ul#sub-nav li{
		list-style: none;
		list-style-type: none;
	}
	
	#sidebar-nav div#menu-item #sub-nav{
		background: #243140;
		padding: .5em 0 .5em 2.2em;
		font-size: small;
	}
	
	#sidebar-nav div#menu-item ul#sub-nav li{
		display: block;
	}
	
	#sidebar-nav div#menu-item ul#sub-nav li a{
		color:#7A7E8A;
		text-decoration: none;
		cursor: pointer;
		display: block;
		padding:.5em 0;
	}
	
	#sidebar-nav div#menu-item ul#sub-nav li a:hover{
		color:#FFF;
		text-decoration: none;
	}
	
	#sidebar-nav div#Breadcrumbs{
		background: rgba(250, 250, 250, .1);
		padding: 1em;
		margin-bottom: 20px;
		font-size: 10px;
	}
	
	#sidebar-nav div#Breadcrumbs span{
		cursor: pointer;
	}

/* End Sidebar Nav */	

/* Page titles */
	.page-title{
		padding: 0 15px;
		margin: -18px -15px 15px -15px;
		border-bottom: 1px solid #BABABA;
		background: #FFF;
	}
	
	.page-title h1,
	.page-title h2,
	.page-title h3{
		margin: 0;
		padding: 0;
	}
	

/* Panels */
	.panel .panel-heading{
		color: #6F767F;
		font-weight: bold;
		font-size: 1.3em;
	}
	
	.panel .panel-heading.clean{
		border: none;
		background: none;
	}
	
/* Date Tool */
	div#datetime-tool{
		position: relative;
	}
	
	div#datetime-tool #datetime-selector{
		margin-top: -.4em;	
		position: static;
	}
	
	div#datetime-tool #tool-pane{
		padding: .5em;
		min-width: 15em;
		max-width: 35em;
	}	
	
	div#datetime-tool #lblDatetime{
		font-size: 2em;
		font-weight: bold;
	}
	
	div#datetime-tool #Calendar {
		font-size: 1.5em;
	}
	
	div#datetime-tool #Clock{
		font-size: .9em;
	}

	.rdDashboardTabs{
		position: relative;
		margin-top: 10px;
	}
	
	#rdAddTabCog{
		top: -12px!important;
		position: absolute!important;
		right:15px;
		left: auto !important;
		z-index: 999;
	}
	
	#rdSettingsCog{
		top: -10px!important;
		position: absolute!important;
		right: 50px;
		left: auto !important;
		z-index: 999;
	}
	
	#rdRenameTabDiv{
		right: 50px !important;
		top: -10px !important;
		left: auto !important;	
		position: absolute;
		width: 112px;
		z-index: 999;
	}
	
/* KPIs */
	.kpi{
		padding: 1em;
		border: 1px solid;
		margin: 0 0 2em;
	}
	
	.kpi .kpi-label{
		display: block;
		font-size: large;
	}
	
	.kpi .kpi-value{
		font-size: 1.5vw;
		display: block;
		font-weight: bold;
	}
	
	.kpi #kpi-icon {
		display: inline-block;
		position:relative;
		float: right;
		margin: .1em;
		font-size: 3.6em;
		padding: 0.6em;
	}
	
	/* KPI screen size enhancements */
	@media (max-width: 992px){
		.kpi{
			text-align: center;
		}
		
		.kpi .kpi-value{
			font-size: 200%;
		}		

		.kpi #kpi-icon {		
			display: block;
			float: none;
			padding: 0.6em;
			max-width: 100px;
			margin: 0 auto;
			min-height: 100px;
		}
	}	
	
	/* KPI up arrow*/
	.kpi #kpi-icon.up-arrow {
        background: url("../images/up-arrow.png") no-repeat top center;
		background-size: 100%;
    }
	
	/* KPI down arrow*/
	.kpi #kpi-icon.down-arrow {
        background: url("../images/down-arrow.png") no-repeat top center;
		background-size: 100%;
    }
	
	/* KPI check*/
	.kpi #kpi-icon.check {
        background: url("../images/check.png") no-repeat top center;
		background-size: 100%;
    }
	
	/* KPI cross*/
	.kpi #kpi-icon.cross {
        background: url("../images/cross.png") no-repeat top center;
		background-size: 100%;
    }

	/* KPI warning*/
	.kpi #kpi-icon.warning {
        background: url("../images/warning.png") no-repeat top center;
		background-size: 100%;
    }	
	
	/*KPI green*/
	.kpi-green{
		color: #3D3D3D;
		border-color: #67E25C;
		background: #67E25C;
	}

	/*KPI red*/
	.kpi-red{
		color: #3D3D3D;
		border-color: #FF2C2D;
		background: #FF2C2D;
	}	
	
	/*KPI blue*/
	.kpi-blue{
		color: #3D3D3D;
		border-color: #4DA8EF;
		background: #4DA8EF;
	}
	
	/*KPI yellow*/
	.kpi-yellow{
		color: #3D3D3D;
		border-color: #E8CF44;
		background: #E8CF44;
	}
	
	/*KPI grey*/
	.kpi-grey{
		color: #3D3D3D;
		border-color: #CBCBCB;
		background: #CBCBCB;
	}
		

/* BOOTSTRAP OVERRIDES
******************************************************************************************/
	#navigation {
		background: #1D2733;
		border: none;
		border-radius: 0;
		margin: 0;
	}
	
	.navbar-inverse .navbar-toggle {
		border-color: #fff;
		color: #fff;
	}	
		
	.container-fluid #navigation{
		margin-left: -1em;
		margin-right: -1em;		
	}
	
	.navbar-absolute-top{
		z-index: 987;
	}
	
	.sidebar-toggle{
		display: block;
		border: none;
		float: left;
		margin: 8px 5px;
		position: relative;
		padding: 9px 5px;
	}
	
	.navbar-inverse .navbar-nav>li>a {
		color: #FFF;
		white-space: nowrap;
	}
	
	.navbar li.active{
		background: #2986B8;
	}
	
	.navbar li.active>a{
		background: none !important;
	}
	
	.navbar-brand{
		padding: 15px;
	}
	
	.navbar-inverse .navbar-nav>li>a:hover {
		color: #999;
	}

	.caption.label{
		color: #333;
		font-size: 1em;
		line-height: 1.375;	
		display: inline-block;
		margin-bottom: 5px;
		padding-left: 0;
		font-weight: 700;
	}
	
	.carousel-inner>.item {
		width: 100%;
	}	
	
	.dropdown-menu {
		top: 2.5em;
	}
	
	.pull-right>.dropdown-menu {
		right: 1em;
	}
	
/* Checkbox Groups */
	.checkbox-group{
		boder: none !important;
	}
	
	.checkbox-group li{
		display: inline;
	}
	
	.checkbox-group input{
		display: none;
	}
	
	fieldset{
		margin-bottom: 3em;
		padding: 0 1em;
	}
	
	legend{
		margin-bottom: 10px;
	}
	
/* Mobile behaviours */
	@media (max-width: 768px){
		.center-mobile{
			text-align: center !important;
		}		
	}

/* Theme Overrides */
	/* multi select checkbox popup */
	.rd-checkboxlist table{
		background: #FFF;
	}
	
	/* Data Table / Crosstab Table */
	.rdAgDataTable, .rdOgOlapTable, .rdDgOlapTable {
	  border: none;
	  background-color: #fff;
	}
	tr.ThemeAlternatingRow>td {
		background-color: #f9f9f9;
	}
	tr.ThemeAlternatingRow:hover>td {
		background-color: #f5f5f5;
	}
	.rdThemeDataTableMainHeader a{
	}
	.rdThemeDataTableMainHeader{
		color: #fff;
		background-color: #454d59;
		font-size: 18px;
		padding-left: 12px;
		text-align: left;
		margin-bottom: 1px;
		border-right: 2px solid #fff;
	}
	.rdThemeDataTableHeader {
	}
	.rdThemeDataTableHeader td {
	}
	.rdThemeDataTableHeader a {
	}
	.rdThemeDataTableHeaderAlternate {
	  background-color: #454d59;
	  border: none;
	}
	.rdThemeDataTableHeaderRow th {
		background-color: #454d59;
		color:#fff;
		font-family: 'Lato', sans-serif;
		font-weight:normal;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		/*  border: 1px solid #fff;*/
	}
	.rdThemeDataTableSummaryRow td {
		background-color: #86cac3; /* 72C8C1 */
		color: #fff;
	}
	.rdThemeDataTableGroupHeaderRow0 td, table.rdAgDataTable tr.rdAgGroup0HeaderRow td,
	.rdThemeDataTableGroupHeaderRow1 td, table.rdAgDataTable tr.rdAgGroup1HeaderRow td,
	.rdThemeDataTableGroupHeaderRow2 td, table.rdAgDataTable tr.rdAgGroup2HeaderRow td,
	.rdThemeDataTableGroupHeaderRow3 td, table.rdAgDataTable tr.rdAgGroup3HeaderRow td,
	.rdThemeDataTableGroupHeaderRow4 td, table.rdAgDataTable tr.rdAgGroup4HeaderRow td {
		color: #363b42;
		padding: 3px;
		font-weight: bold;
	}
	.rdThemeDataTableGroupHeaderRow0 td, table.rdAgDataTable tr.rdAgGroup0HeaderRow td {
		background-color: #94d0ca;
	}
	.rdThemeDataTableGroupHeaderRow1 td, table.rdAgDataTable tr.rdAgGroup1HeaderRow td {
		background-color: #a1d6d1;
	}
	.rdThemeDataTableGroupHeaderRow2 td, table.rdAgDataTable tr.rdAgGroup2HeaderRow td {
		background-color: #afdcd7;
	}
	.rdThemeDataTableGroupHeaderRow3 td, table.rdAgDataTable tr.rdAgGroup3HeaderRow td {
		background-color: #bde2de;
	}
	.rdThemeDataTableGroupHeaderRow4 td, table.rdAgDataTable tr.rdAgGroup4HeaderRow td {
		background-color: #cae8e5;
	}
	.rdThemeDataTableGroupSummaryRow td {
		padding: 3px;
	}