<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ScrollableListBox.ascx.vb" Inherits="LogiAdHoc.ScrollableListBox" %>

<div id="divSelect" runat="server" class="ssOut">
    <%--<select id="ScrollableSelect" runat="server" multiple name="ScrollableSelect" size="4">
    </select>--%>
    <asp:Label ID="lblScrollableSelect" runat="server" CssClass="NoShow" Text="<%$ Resources:LogiAdHoc, Column%>" AssociatedControlID="ScrollableSelect" ></asp:Label>
    <asp:ListBox ID="ScrollableSelect" runat="server" CssClass="ssIn" >
        <%--<asp:ListItem Value="0" Text="Test" />--%>
    </asp:ListBox>
</div>
