body
{
	background-color: #ffffff;
	color: #000000;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin-bottom : 12px;
	vertical-align : middle;
	text-align : center;
}

A	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}	

A:link	{	
	text-decoration:	none;
	color:	#153085;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#214973;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#894852;
	}	
		
A:hover	{
	text-decoration:underline;
	color:#31309C;
}

	
LI	{
	list-style-type:square ;
	margin-left : 30px;
}

.ReportTitleOld {
	background-color : #CAD1DA;
	font-family : Verdana;
	font-size : 11px;
	font-weight : bold;
	color : #000000;
	height: 25px;
	border-top : 1px solid #FFFFFF;	
	border-bottom : 1px solid #151B47;
	padding-left: 17px;
	padding-top: 1px;
	width: 100%;
	text-align : left;
}

.ReportTitle {
	background-color : #BCD4EA;
	font-family : Verdana;
	font-size : 11px;
	font-weight : bold;
	color : #000000;
	height: 25px;
	border-top : 1px solid #FFFFFF;	
	border-bottom : 1px solid #151B47;
	padding-left: 20px;
	padding-top: 4px;
	width: 100%;
	text-align : left;
}

.time	{
	background: #FFFEF1;
	color: #676767;
	font: bold 7.5pt Verdana;
	height: 26px;
	text-align: left;
	padding-bottom: 5pt;
	padding-top: 6px;	
	padding-left: 20px;
	margin-bottom: 4px;
	border-bottom-color : #29345A;
	border-bottom-style : solid;
	border-bottom-width : 1px;
}


.table
{
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 0;
	padding-top : 5;
	margin-left : 0px;
	border : 1px solid #638EBD;
}

TH.table
{
	color: Black;
	background-color : #DEEEFE;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.dataTable
{
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 0;
	padding-top : 5;
	margin-left : 0px;
	border : 1px solid #77896C;
}

TH.dataTable
{
	color: Black;
	background-color : #BFC8B6;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.AlignTop
{
	vertical-align: top;
}

TD.table
{
	color: Black;
	background-color : #E8F0F8;
	border : 1px solid #524D73;
}




SPAN.table
{
	color: Black;
	background-color : #DAF0F0;
	border : 1px solid #524D73;
}


.subTable1
{
	ibackground-color : #A7A7A7;
	font-family: Verdana;
	color: Black;
	font-size: 7pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 0;
	padding-top : 5;
	margin-left : 0px;
	border : 1px solid #524D73;
}

TH.subTable1
{
	color: #555555;
	background-color : #FFFDE9;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 2;
	padding-left : 2;
	padding-top : 5;
}


TD.subTable1
{
	color: Black;
	background-color : #000000;
	border : 1px solid #524D73;
}



.subTable2
{
	font-family: Verdana;
	color: Black;
	font-size: 7pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 0;
	padding-top : 5;
	margin-left : 0px;
	border : 1px solid #524D73;
}

TH.subTable2
{
	color: Black;
	background-color : #F9B5B2;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 2;
	padding-left : 2;
	padding-top : 2;
}


TD.subTable2
{
	color: Black;
	background-color : #DAF0F0;
	border : 1px solid #524D73;
}


.header	{
	background: #678CB8;
	color: #FFFFFF;
	font: bold 9pt Verdana;
	height: 30px;
	width: 100%;
	padding-left: 18px;
	text-align: left;
	vertical-align: middle;
	padding-top: 2px;
}

.paging {
	background-color : #FFFFFF;
	padding-left: 3px;
	font-family: Verdana;
	color: Black;
	font-size: 9pt;
	margin-bottom : 10px;
	vertical-align : middle;
}


.cid {
	font-family: Verdana;
	color: #637194;
	font-size: 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.txLink	{	
	font-family: Verdana;
	font-size: 7.5pt;
	color: #0000FF;
	font-weight : bold;
	text-decoration: underline;
}

.txLinkS	{	
	font-family: Verdana;
	font-size: 7pt;
	color: #0000FF;
	text-decoration: underline;
}

.text	{	
	font-family: Verdana;
	font-size: 8pt;
	color: black;
}

.text2	{	
	font-family: Verdana;
	font-weight: bold;
	font-size: 7.5pt;
	color: black;
}

.text3	{
	color: #333333;
	font: 7.5pt Verdana;
	text-align: center;
	padding-bottom: 5pt;
	padding-top: 4px;
}

/* Cascading filters and parameters classes */
.filterBg	{
	background: #E7F3E7;
	padding-top:2px;
	padding-bottom: 8px;
	text-align:left;
}

.filterBg TD {
	background: #E7F3E7;
}

.filterBtn	{
	background: #FFFFFF;
	color: #214973;
	font: bold 9pt Verdana;
	border-top : 1 solid #BDC5CF;
	border-right : 1 solid #4A719C;
	border-bottom : 1 solid #4A719C;
	border-left : 1 solid #BDC5CF;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	cursor: hand;
}

.txt	{
	font: 8pt Verdana;
	color: #000000;
	width : 180px;
	vertical-align: middle;
}

.rtxtCaption	{
	color: #000000;
	font: bold 8pt Verdana;
	margin-left: 20px;
	margin-right: 1px;
	width : 150px;
	vertical-align: middle;
}

.paramCaption 
{
	color: #000000;
	font: bold 8pt Verdana;
	margin-left: 5px;
	vertical-align: middle;
}

.paramSmallColumn
{
	width : 40px;
}

/* END Cascading filters and parameters classes */

.menuBarText {
	font-family: Verdana;
	font-size: 7.5pt;
	color: #666666;
	margin-right: 10px;
	margin-top: 10px;
	background-color: #D0DCE8;
	border-top: 1px Solid #4A719C;
	border-right: 1px Solid #4A719C;
	border-bottom: 2px Solid #FFFFFF;
	border-left: 1px Solid #4A719C;
	padding: 1 6 2 6;
}

.textBold	{
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	font-weight : bold;
}

.textOrange	{
	font-family: Verdana;
	font-size: 8pt;
	color: #F26522;
	font-weight : bold;
}

	
.AlignLeft
{
	text-align: Left;
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	ibackground-color: #A6C3E3;
}


TH.AlignLeft
{
	color: Black;
	background-color : #FFFFFF;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	ipadding-right : 5;
	padding-top : 5;
}


TD.AlignLeft
{
	color: Black;
	background-color : #FBFDFE;
	vertical-align: top;
	text-align: left;
	padding-bottom : 2;
	padding-left : 5;
	ipadding-right : 5;
	padding-top : 2;
	border : 1px solid #638EBD;
}


.AlignRight
{
	text-align: right;
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	ibackground-color: #A6C3E3;
}


TH.AlignRight
{
	color: Black;
	background-color : #FFFFFF;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border : 1px solid #638EBD;
}


TD.AlignRight
{
	color: Black;
	background-color : #FBFDFE;
	vertical-align: top;
	text-align: right;
	padding-bottom : 2;
	padding-left : 5;
	padding-right : 5;
	padding-top : 2;
	border : 1px solid #638EBD;
}



TD.Discount
{
	color: #B22222;
	background-color: #FBFDFE;
	vertical-align: top;
	text-align: right;
	padding-bottom: 2;
	padding-left: 5;
	padding-right: 5;
	padding-top: 2;
	border: 1px solid #638EBD;
}

.AlignCenter
{
	text-align: center;
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	background-color: #A6C3E3;
}


TH.AlignCenter
{
	color: Black;
	background-color : #E8EEF3;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border : 1px solid #638EBD;
}


TD.AlignCenter
{
	color: Black;
	background-color : #FBFDFE;
	vertical-align: top;
	text-align: center;
	padding-bottom : 2;
	padding-left : 5;
	padding-right : 5;
	padding-top : 2;
	border : 1px solid #638EBD;
}


.button {
	font-family: Verdana;
	color: White;
	font-size: 9pt;
	font-weight: bold;
	margin-right : 15px;
	text-decoration: underline;
	cursor: hand;
}

.buttonS {
	font-family: Verdana;
	color: White;
	font-size: 9pt;
	background: #666666;
	margin-right : 15px;
	border-top: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;
	border-bottom: solid 1px #666666;	
	border-right: solid 1px #666666;	
	padding: 2 2 2 2;
	cursor: hand;
}

.btn {
	font: 7.5pt Verdana;
	cursor: hand;
}

.btn1 {
	font: 7.5pt Verdana;
	cursor: hand;
	margin-left: 30px;
}

.btnStyle {
	ibackground-color : #254974;
	color : #0000FF;
	font: 7.5pt Verdana;
	iborder-top: solid 1px #DADADA;
	iborder-left: solid 1px #DADADA;
	iborder-bottom: solid 1px #638EBD;
	iborder-right: solid 1px #638EBD;
	text-decoration: underline;
	cursor: hand;
}

.btnStyle1 {
	font: 7.5pt Verdana;
	cursor: hand;
}

.btnStyle2 {
	font: 8pt;
	background-color : #FFFFFF;
	color : #00000;
	border : solid 1px #638EBD;
	cursor: hand;
}

.chartborder {
	border: solid 2px #638EBD;
	border-left: solid 2px #638EBD;
	border-right: solid 2px #638EBD;
}

.Dashboard
{
	vertical-align : top;
}

.DashboardPanel
{
	background-color : #254974;
	border-bottom : 2 solid;
	height: 415px;
}

.DashboardPanelCaption
{
	color: #FFFFFF;
	float : left;
	font: bold 9pt Verdana;
	margin-left: 3px;
}

.DashboardPanelContent
{
	background-color : White;
}

.DashboardPanelButton
{
	float : right;
	border: 0 none;
}

.txCaption	{
	color: #666666;
	font: 8pt Verdana;
	margin-left: 2px;	
	margin-right: 2px;
	vertical-align: middle;
}

.tx	{
	font: 8pt Verdana;
	color: #000000;
	margin-left: 2px;		
	margin-right: 2px;
	vertical-align: middle;	
}

.rtxCaption	{
	color: #333333;
	font: bold 8pt Verdana;
	margin-right: 2px;
	iwidth : 70px;
	vertical-align: middle;
}

.rtx	{
	font: bold 8pt Verdana;
	color: #000000;
	iwidth : 75px;
	margin-right: 2px;
	vertical-align: middle;	
}



.dtCaption	{
	color: #000000;
	font: 8pt Verdana;
	margin-left: 5px;
	margin-right: 1px;
	width : 170px;
	vertical-align: middle;
}

.dt	{
	font: 8pt Verdana;
	color: #000000;
	width : 75px;
	margin-left: 2px;
	margin-right: 2px;
}

.rdtCaption	{
	color: #000000;
	font: bold 8pt Verdana;
	margin-left: 20px;
	margin-right: 1px;
	width : 150px;
	vertical-align: middle;
}

.rdt	{
	color: #000000;
	font: 8pt Verdana;
	margin-left: 10px;
	margin-right: 1px;
	width : 150px;
	vertical-align: middle;
}

.luCaption	{
	color: #000000;
	font: 8pt Verdana;
	margin-left: 5px;
	margin-right: 1px;
	width : 170px;
	vertical-align: middle;
}

.lu	{
	font: 8pt Verdana;
	color: #000000;
	margin-left: 2px;
	margin-right: 2px;
}

.icon {
	cursor: hand;
}



.Center {
	text-align: center;
}

TD.Right {
	text-align: right;
}

.Left {
	text-align: left;
}



	
.AlignLeft2
{
	text-align: Left;
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	ibackground-color: #A6C3E3;
}


TH.AlignLeft2
{
	color: Black;
	background-color : #A6C3E3;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	ipadding-right : 5;
	padding-top : 5;
}


TD.AlignLeft2
{
	color: Black;
	background-color : #FFFFFF;
	vertical-align: top;
	text-align: left;
	padding-bottom : 2;
	padding-left : 5;
	ipadding-right : 5;
	padding-top : 2;
	border : 1px solid #638EBD;
}


.AlignRight2
{
	text-align: right;
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	background-color: #A6C3E3;
}


TH.AlignRight2
{
	color: Black;
	background-color : #E8EEF3;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border : 1px solid #638EBD;
}


TD.AlignRight2
{
	color: Black;
	background-color : #FFFFFF;
	vertical-align: top;
	text-align: right;
	padding-bottom : 2;
	padding-left : 5;
	padding-right : 5;
	padding-top : 2;
	border : 1px solid #638EBD;
}





.AlignRight3
{
	text-align: right;
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	background-color: #A6C3E3;
}


TH.AlignRight3
{
	color: Black;
	background-color : #E8EEF3;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border : 1px solid #638EBD;
}


TD.AlignRight3
{
	color: Black;
	background-color : #FFFEF2;
	vertical-align: top;
	text-align: right;
	padding-bottom : 2;
	padding-left : 5;
	padding-right : 5;
	padding-top : 2;
	border : 1px solid #638EBD;
}







.AlignCenter2
{
	text-align: center;
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	background-color: #A6C3E3;
}


TH.AlignCenter2
{
	color: Black;
	background-color : #E8EEF3;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border : 1px solid #638EBD;
}


TD.AlignCenter2
{
	color: Black;
	background-color : #FFFFFF;
	vertical-align: top;
	text-align: center;
	padding-bottom : 2;
	padding-left : 5;
	padding-right : 5;
	padding-top : 2;
	border : 1px solid #638EBD;
}

.arrow {
	margin-left: 3px;
	margin-right: 3px;
}

.current	{
	background: #FDFBE6;
	color: #234B7A;
	font: bold 7.5pt Verdana;
	height: 24px;
	padding-left: 18px;
	padding-right: 18px;	
	padding-top: 4px;	
	text-align: left;
	border: Solid 1px #6E7E91;	
	cursor: hand;
	
}

.selections	{
	background: #FDFBE6;
	color: #234B7A;
	font: bold 7.5pt Verdana;
	padding-left: 10px;
	padding-right: 10px;	
	padding-top: 4px;	
	text-align: left;
	border: Solid 1px #6E7E91;	
}

.Panels
{
	border : 2px solid #254974;
	height: 415px;
	border-top: 15px solid #254974;
}

.ZeroSuppress
{
	color: White;
}

.PhotoLeft
{
	vertical-align: top;
	margin-left: 14px;
	border: 1px Solid #D2D0D0;
}

.textPhoto	{
	font-family: Verdana;
	font-size: 8pt;
	color: #752F31;
	font-weight : bold;
	margin-left: 15px;	
}


.photoTable
{
	ibackground-color : #A7A7A7;
	font-family: Verdana;
	color: Black;
	font-size: 7pt;
	padding-bottom : 5;
	padding-left: 5;
	padding-right: 0;
	padding-top: 11px;
	padding-bottom: 15px;
	border : 1px solid #524D73;
	height: 63px;
}

TH.photoTable
{
	color: #555555;
	background-color : #FFFDE9;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 2;
	padding-left : 2;
	padding-top : 5;
}


TD.photoTable
{
	color: Black;
	background-color : #EFF3F7;
	border : 1px solid #524D73;
	vertical-align: top;
}

.Dashboard
{
	vertical-align : top;
}

.DashboardPanel
{
	background-color : #68786F;
	border-bottom : 2 solid;
	iheight: 360px;
	vertical-align: top;
}

.DashboardPanelCaption
{
	color: #FFFFFF;
	float : left;
	font-weight : bold;
	font-size : smaller;
	font-family: Verdana;
	font-size: 8pt;
	padding-left: 5px;
}	

.DashboardPanelContent
{
	background-color : White;
	border: 0;
}

.DashboardPanelButton
{
	float : right;
	border: 0;
}

.XTabtable
{
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 0;
	padding-top : 5;
	margin-left : 0px;
	xxborder : 1px solid #638EBD;
}

TH.XTabtable
{
	color: Black;
	background-color : #DEEEFE;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border : 1px solid #524D73;
}

TD.XTabtable
{
	color: Black;
	background-color : #E8F0F8;
}

.XTabTopCell
{
	color: Black;
	background-color : #DEEEFE;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border : 1px solid #524D73;
}

.XTabCellLeft 
{
	color: Black;
	xxbackground-color : #FBFDFE;
	vertical-align: top;
	text-align: left;
	padding-bottom : 2;
	padding-left : 5;
	ipadding-right : 5;
	padding-top : 2;
	xxborder : 1px solid #638EBD;
}

.XTabCellRight
{
	color: Black;
	xxbackground-color : #FBFDFE;
	vertical-align: top;
	text-align: right;
	padding-bottom : 2;
	padding-left : 5;
	padding-right : 5;
	padding-top : 2;
	xxborder : 1px solid #638EBD;
}

.XTabAltRow
{
	background-color : #eeeeee;
}

.XTabSummaryRow
{
	color: Black;
	background-color : #dddddd;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	xxborder-top : 1px solid #666666;
}

.XTabSummaryRowRight
{
	color: Black;
	background-color : #dddddd;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	xxborder-top : 1px solid #666666;
	text-align: right;
}

.XTabECH	{	
	text-decoration:	none;
	color:	#153085;
	}	

.imageCollapseExpand
{
	padding-right:2px;
	padding-top:2px;
	float: right;
	clear: both;
	border: 0;
}
  
.tblCenter 
{
    margin-left:auto;
    margin-right:auto;
}
