* 
{
    font-size: 100%;
}

.paramCaption, .dt 
{
    width:150px;
	font-size: 80%;
	margin-right: 5px;
}

.txta {
	font-size: 80%;
}

.paging {
	font-size: 17px;
	background: transparent;
	vertical-align: top;
}

.tblCenter 
{
    width: 90%;
	 margin-left: auto;
	 margin-right: auto;
}

TH.listTable {
	font-size: 120%
}

TD {
	font-size: 130%;
}


TH.AlignLeft, TH.AlignCenter, TH.AlignRight,
{
	font-size: 120%;
}

TD.AlignLeft, TD.AlignCenter, TD.AlignRight,
{
	font-size: 150%;
}


#ahChart1 {
	width: 133%;
	
}

#ahChart3 {
	width: 110%;
}

#rdDebug 
{
    display:none;
}

#rdDebugChart
{
    display:none;
}


/*
.rdDashboard, .rdDashboard TABLE,
.rdAc, .rdAc TABLE, 
.rdDataCalendar, .rdDataCalendar TABLE, .rdDataCalendarFont, .rdDataCalendarDayLabel,
.rdPopupPanelTitleCaption
{
	font-size: 100%;		
}

.rdAcCommand,  .rdAcCommandHighlight { font-size: 120%; }

.rdDashboardColumn {	padding: 2px; }

.rdAc, .rdAc TABLE { width: 100%; }

.rdDashboardCommand, .rdDataCalendarPagingLabel { font-size: 120%;}

.rdPopupPanelCommand  { font-size: 180%; }

.rdDataCalendarDay, .rdDataCalendarDayLabelHighlight
{	
	padding: 13px 13px 13px 13px;
}
.rdDashboardPanel .rdDataCalendarDay, .rdDashboardPanel .rdDataCalendarDayLabelHighlight
{           
    padding: 8px 8px 8px 8px;
}
 .rdDataCalendarPopUp  .rdDataCalendarDay, .rdDataCalendarPopUp  .rdDataCalendarDayLabelHighlight
{
    padding: 13px 13px 13px 13px;
}

.ThemeLinkButton {
	font-size: 120%;
	line-height: 40px;	
}

.ThemeLinkButtonSmall {
	line-height: 34px;	
}
*/