body
{
	color: #000000;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	vertical-align: middle;
	text-align : center;
   font-family: Helvetica, Arial, sans-serif;  
   font-size: 9pt;
}

TD {
	color: Black;
	background-color : #FFFFFF;
}	

A	{	
	font-family: Helvetica, Arial, sans-serif;
	}	

A:link	{	
	text-decoration:	none;
	color:	#29729b;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#29729b;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#894852;
	}	
		
A:hover	{
	text-decoration:underline;
	color:#086069;
}
	
IMG 	{
   border: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}


.pageTitle	{
	background: transparent;
	background: url(../_Images/ProTitleBgLeft.gif);
	color: #FFFFFF;
	font: bold 14pt Helvetica, Arial, sans-serif;
	height: 40px;
	padding-top: 18px;
	padding-bottom: 17px;
	padding-left: 65pt;
	padding-right: 0pt;
	margin-right: 0px;
	margin-bottom: 1px;
	width: 100%;
}


.pageTitleLeft	{
	background: transparent;
	background: url(../_Images/ProTitleBgLeft.gif);
	color: #FFFFFF;
	font: bold 14pt Helvetica, Arial, sans-serif;
	height: 40px;
	padding-top: 17px;
	padding-bottom: 15px;
	padding-left: 55pt;
	padding-right: 0pt;
	margin-right: 0px;
	margin-bottom: 1px;
	width: 100%;
	border-bottom: 6px Solid #333333;
	text-align:left;
}

.pageTitleRight	{
	background: transparent;
	background: url(../_Images/ProTitleBgRight.gif) no-repeat top right;
	color: #FFFFFF;
	font: bold 10pt Helvetica, Arial, sans-serif,;
	height: 40px;
	text-align: right;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 75px;
	margin-right: 0px;
	margin-bottom: 1px;
	width: 100%;
	border-bottom: 6px Solid #333333;
	text-align:left;
}

.pageDescription {
	font: 8pt Verdana;
}

.footer
{
    text-align: Center;
    font-family: Helvetica, Arial, sans-serif;  
    color: #4F5E53;  
    font-size: 9pt;
    padding-left: 5px;
}

.footCenter
{
    text-align: Center;
    font-family: Helvetica, Arial, sans-serif; 
    color: #333333;  
    font-size: 9pt;
    padding-left: 5px;
}

.boldCenter
{
    text-align: Center;
    font-weight: bold;
    font-color: black;
}

.bold
{
    font-weight: bold;
}

.red
{
	color : #9b0000;
}

.Orange
{
	color : #f7941d;
}

.blue
{
	color : #2881b2;
}

.green
{
	color : #486226;
}


.listTable
{
	font-family: Helvetica, Arial, sans-serif;
	color: Black;
	font-size: 8pt;
	background-color : #dcdcdc;
	margin-left : auto;
	margin-right : auto;
}

TH.listTable
{
	background-color : #9b0000;
	color: #FFFFFF;
	font: bold 10pt; 
	font-family: Helvetica, Arial, sans-serif; 
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.listTable
{
	color: Black;
	background-color : #F5F5F5;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

SPAN.listTable
{
	font-family: Helvetica, Arial, sans-serif;
	color: Black;
	background-color : #f7f7f7;
	padding-bottom : 0;
	padding-left : 0;
	padding-right : 0;
	padding-top : 0;
}

.listTable TH A
{
    color:#89D8F2;
    text-decoration: underline;
}

.paging {
	background-color: #fefefe;
	padding-left: 3px;
	font-family: Helvetica, Arial, sans-serif;
	color: Black;
	font-size: 10pt;
	margin-left: auto;
	margin-right: auto;
	margin-bottom : 10px;
	vertical-align : middle;
}

	
.buttons {
	margin-left : 15px;
}

.grouping {
	background-color : #F5F5F5;
	padding-right : 4px;
	text-align: right;
}

.filterBg	{
	background: #E6E6E6;
	padding-top:2px;
	padding-bottom: 8px;
	text-align:left;
}

.filterBg TD {
	background: #E6E6E6;
}

.filterBtn	{
	background: #9b0000;
	color: white;
	font: bold 9pt Helvetica, Arial, sans-serif;
	border-top : 1px solid #a2a1a1;
	border-right : 1px solid #333333;
	border-bottom : 1px solid #333333;
	border-left : 1px solid #a2a1a1;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	cursor: hand;
}


/* Form Items */

.txt	{
	font: 8pt Helvetica, Arial, sans-serif;
	color: #000000;
	width : 180px;
	vertical-align: top;
}

.rtxtCaption	{
	color: #000000;
	font: bold 8pt Helvetica, Arial, sans-serif;
	margin-left: 1px;
	margin-right: 1px;
	width : 150px;
	vertical-align: top;
}

.dt	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 163px;
	vertical-align: top;
}

.txta	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 186px;
	vertical-align: top;
}

/* uncomment the next line to make any listbox or dropdownlist wider */
/*.txta	{ width: 450px; }*/

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}

.bottom {
	vertical-align: bottom;
}

.gHeader
{
	background-color: #c8c8c8;
	color: #9b0000;
	font: bold 8pt Helvetica, Arial, sans-serif;
	text-align: center;
	padding-right: 5px;
	padding-top: 5px;	
	padding-left: 5px;
	padding-bottom: 5px;	
}

.gSummary
{
	background-color: #FFFFFF;
   font-weight: bold;
	text-align: right;
	padding-right: 4px;		
}

.objectTitle
{
    font-family: Helvetica, Arial, sans-serif;  
    color: #000000;  
    font-size: 12pt; 	    
    font-weight: bold;
}

.summaryRow
{
	font-family: Helvetica, Arial, sans-serif;
	color: Black;
	font-size: 9pt;
   font-weight: bold;
}

.paramCaption 
{
    width:150px;
	color: #000000;
	font: bold 8pt Helvetica, Arial, sans-serif;
	margin-left: 5px;
	vertical-align: top;
}

.rtxtCaptionSmall {
	color: #000000;
	font: bold 8pt Helvetica, Arial, sans-serif;
	margin-left: 10px;
	margin-right: 1px;
	width : 35px;
	vertical-align: top;
}

.paramColumn, .paramSmallColumn
{
	vertical-align: top;
}

table
{
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:10pt;
}

.title
{
	background-color:Navy;
	font-weight:bold;
	color:Silver;
}

.redtext
{
	color: red;
}

.AlignLeft
{
	text-align: Left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;
}

TH.AlignLeft
{
	background-color : #0a67b5;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.AlignLeft
{
	padding-left : 5px;
}


.AlignCenter
{
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;

}

TH.AlignCenter
{
	background-color : #0a67b5;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.AlignCenter
{
	padding-right : 5px;
}


.AlignRight
{
	text-align: right;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;
}


TH.AlignRight
{
	background-color : #0a67b5;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.AlignRight
{
	padding-right : 5px;
}

.imageAlignLeft
{
	float: left;
	clear: both;
}

.imageAlignRight
{
	float: right;
	clear: both;
}

.imageAlignCenter
{
	display: block;
	float: none;	
	clear: both;
}

.BlackTextYellowBackground
{
            color: Black;
            background-color: Yellow !important;
}

.WhiteTextGreenBackground
{
            color: White;
            background-color: #65CB91 !important;
}

.ExportLeftSide {
            background: url(../_Images/ExportLeft.gif);
            height: 56px;
}

.ExportBg {
            background: url(../_Images/ExportCenter.gif);
            height: 56px;
}

.ExportRightSide {
            background: url(../_Images/ExportRight.gif);
            height: 56px;
}

.summaryRowTop
{
	color: Black;
	background-color : #FFFFFF;
}

TH.summaryRowTop
{
	color: Black;
	background-color : #FFFFFF;
}

.ExtraHeaderRowCells
{
	background-color : #9b0000;
	color: #FFFFFF;
	font: bold 10pt 
	font-family: Helvetica, Arial, sans-serif; 
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.imageCollapseExpand
{
	padding-right:2px;
	padding-top:2px;
	float: right;
	clear: both;
}
  
.tblCenter 
{
    margin-left:auto;
    margin-right:auto;
}


.AltRow TD
{
	background-color : #F1F1F1;
}
.ThemeHeaderLarger {
    font-weight: bold;
}

#Report tr td.paging+td {
   width: 20px;  
}

#rdDashboardPanels .rdDashboard {
    padding-left: 0.5em;
    text-align: left;
}

.rdDashboardTitle {
    border-collapse: collapse;
}

.rdPopupPanelTitle td.rdPopupPanelControl {
    background-color: #F1F1F1;
}