/* Customization for slide out */
#btn-goDiscoveryPREM.go-button:hover {
	width: 16em;
}


/*  Header
	Change anything to fit your needs  */
#LeftFrame {
	min-width: 200px;
	width: 200px;
	vertical-align: top;
	padding: 5px;
}

.go-header-spacer {
	padding-top: 1em;
}

.go-headers {
	background-color: rgba(184, 184, 184, 0.27);
}

/*  Footer
	Change the fixed height of the sticky footer to fit more, or tweak other details  */
.goFooter {
	height: 3.5em; /* Set fixed height here */
	margin-top: -3.5em; /* Set negative of fixed height here */
	padding: 1em;
}

/*	There's a spacer element if you'd like to use it
.go-footer-spacer {} */

/*  Use any responsive CSS fixes as necessary  */
/*@media (max-width: 767px) {
	.go-footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}*/

/* 	Apply this class to .go-header and .go-box container to let headers scroll away  */
.go-absolute {
	position: absolute;
}

#GoTitle {
    width: 100%;
	height: 45px;
	padding-left: 5px;
}

#GoBoxTitle {
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    min-width: 100%;
}

.go-home {
    width: 100%;
	padding-bottom: 10px;
}
#GoSideHandle {
    padding-left: 3px;
}
