

BODY { background-color: #FFFFFF !important; }


#divBetaAlertMsg { width: 100% margin: 0px auto; padding-top: 10px; text-align: center; }
#divBetaAlertWrapper { width: 100%; height: 45px; background-color: #FFC90A; margin-top: 0px; margin-bottom: 20px; }


#divHeader, #divCustomerTable, #divLicenseTable { width: 100%; overflow: hidden; }

#divWrapper { width: 96%; padding: 0px 30px 0px 30px; overflow: hidden; }

.dataTableHeaderCenter {
    background-color: #86cac3;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    color: #fff;
    font-size: 12pt;
	font-weight: 600; 
    padding: 3px 3px 3px 8px;
	text-align: center;
	color: #FFFFFF !important;
}
.dataTableHeaderCenter a:link	{ outline: none; text-decoration: none; color: #FFFFFF; }
.dataTableHeaderCenter a:hover { outline: none; text-decoration: underline; color: #FFFFFF; }

.dataTableHeaderLeft {
    background-color: #86cac3;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    color: #fff;
    font-size: 12pt;
	font-weight: 600; 
    padding: 3px 3px 3px 8px;
	text-align: left;
	color: #FFFFFF !important;
}
.dataTableHeaderLeft a:link	{ outline: none; text-decoration: none; color: #FFFFFF; }
.dataTableHeaderLeft a:hover { outline: none; text-decoration: underline; color: #FFFFFF; }

.hideImage { display: none; }

.divDetails {
	padding: 15px;
	font-family: Arial, Verdana;
	font-size: 10pt;
	width: 100%;
	height: 100%;
}
.InputError {
	background-color: #FFD7D7;
}.LblRequired {
	color: #FF0A3F;
	font-weight: bold;
}

.floatClear { float: none; }
.floatLeft { float: left; } 
.floatRight { float: right; } 

.font10pt { font-size: 10pt; }
.font11pt { font-size: 11pt; }
.font12pt { font-size: 12pt; }
.font14pt { font-size: 14pt; }
.font16pt { font-size: 16pt; }
.font18pt { font-size: 18pt; }
.fontMaroon { color: Maroon !important; }
.fontWeight600 { font-weight: 600 !important; }

.imgBtnMiddle {	vertical-align: middle; padding-bottom: 6px;}

.lgxDropShadow {	/* for use with Tooltip Panel */
	height: auto;   /* must specify this for IE 8 */
	box-shadow: 4px 4px 4px #B9B9B9;  /* CSS3 */
	-moz-box-shadow: 4px 4px 4px #B9B9B9;
	-webkit-box-shadow: 4px 4px 4px #B9B9B9;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#B9B9B9)";
	left: 0px; 
	top: 0px; 
	z-index: 99999; }
} 

.marginT3 { margin-top: 3px; }

.padL3 { padding-left: 5px; }
.padL20 { padding-left: 20px; }
.padR17 { padding-right: 17px; }
.padT5 { padding-top: 5px; }


.valignMiddle { vertical-align: middle; }
.valignMiddleB12 { vertical-align: middle; margin-bottom: 12px; }

/* --- Theme overrides --*/
.rdThemeDataTableHeader {
    background-color: #86cac3;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    color: #fff;
    font-size: 12pt;
	font-weight: 600; 
    padding: 3px;
}


.ThemeLinkButton {
    font-size: 15px;
    line-height: 1.25;
    margin: 3px 6px;
    padding: 3px 12px;
	vertical-align: middle; 
}

input.rdThemeInput {
	background-color: #fdfdfd;
    border: 1px solid #ccc;
    color: #555;
    font-family: verdana, arial,sans-serif;
    font-size: 100%;
    padding: 2px;
	height: 24px;
	vertical-align: middle;
}

input.rdThemeInput[type="email"] { font-size: 11pt !important; }
input.rdThemeInput[type="text"] { font-size: 11pt !important; }
select.rdThemeInput { font-size: 11pt !important; }

/* used with AutoComplete feature */
.yui3-aclist {
    background-color: AliceBlue;
	border: 1px solid #CCCCCC;
    position: absolute;
    z-index: 1;
}