/* Default CSS Stylesheet for the Ad Hoc Report Builder */
/* Specify font sizes in pixels for better cross-browser compatibility */


BODY {
	padding: 0 0 0 0;
	margin: 0 0 0 0 ;
}

p
{
  margin: 0;
  padding: 0;
}

/* styles for top bars */
.MobileMenu {
	background-image: url(ahImages/mobileBg.png);
	background-repeat: repeat-x;
	padding-top: 13px;
	padding-bottom: 0px;
	height: 40px;
}

.MobilePageTitle {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bolder;
	color: white;
}

.MobileLogo {
	float: left;
	margin-left: 20px;
	margin-right: 15px;
	margin-top: -2px;
}

.divMobileLogout {
	float: right;
	clear: right;
	margin-bottom: 10px;
	padding-right: 15px;
}

.divMobileLogoutLink {
	background-image: url(ahImages/mobileLogoutBg.png);
	background-repeat: no-repeat;
	width: 78px;
	height: 28px;
	padding-top: 3px;
	padding-left: 13px;
}

.MobileLogout {
	/*font-size: 9px;*/
	color: #FFFFFF;
	text-decoration: none;
}


.divBtnBack {
	background-image: url(ahImages/mobileBackBg.png);
	background-repeat: no-repeat;
	float: left;
	margin-top: 3px;
	margin-left: 16px;	
	margin-right: 0px;
	padding-right: 10px;
	padding-left: 18px;
	padding-top: 2px;
	height: 26px;
	width: 70px;
	color: White;
}

.btnBack {
	color: White;
}

.divCurFolder { /*report title*/
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 130%;
	margin-top: 1px;
	margin-left: 0px;
	margin-right: 10px;
}

.formSearch { 
	float: right;
	margin-right: 8px;
}

.MobileSearch {
	background-image: url(ahImages/searchbarBg.png);
	background-color: #CCCCCC;
	height: 36px;
	padding-top: 5px;
	width: 100%;
}

#srch_btnSearch, #srch_SearchText {
	vertical-align: middle;
}

.mobileReportLink {
	font-size: 125%;
	color: #222222;
}

.mobiledescription {
	font-size: 95%;
	color: #666666;
	margin-left: 22px;
	font-size: 110%;
}



/* Sitewide styles for menus and navigation. */
#menu
{
	background-image: url(App_Themes/Light/Images/topBg.jpg);
	padding-bottom: 2px;
}

#menu a
{
	icolor: #21488b;
	color: #FFFFFF;
	margin: 0px 5px;
	font: bold Arial, Helvetica, sans-serif;
}

#menu .menubutton
{
	border:0; 
	vertical-align: middle; /* Centers icons on inline text. */
}

#menu_GroupSelector
{
		color: #354f6b;
		margin: 0 0 0 28px; 
		white-space: nowrap;
}

#divSubmenu {
	vertical-align: bottom;
}

#submenu 
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#submenu  ul {
	margin: 0;
	padding: 4px 4px 0px 4px;
	vertical-align: bottom;
}

#submenu li {
	display: inline;
	padding-left: 8px;
}

#submenu li a, a:hover {
	font: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
	
#submenu li a.current {
	font-weight:bold;
}

/* start top tabs */
.menutitle {
	background-image: url(ahImages/mobileMenuBg.png);
	background-color: #cccccc;
	border: 1px Solid #aaaaaa;
	-moz-border-radius: 7px;
	border-radius: 7px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 105%;
	color: #000000;
	margin-top: 10px;
	padding: 2px 20px 4px 20px;
	text-decoration: none;
	width: 161px;
	height: 25px;
}

.current_menutitle {
	background-image: url(ahImages/mobileMenuOnBg.png);
	background-color: #333333;
	border: 1px Solid #656565;
	-moz-border-radius: 7px;
	border-radius: 7px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 105%;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 10px;
	padding: 2px 20px 4px 20px;
	width: 161px;
	height: 25px;
}
/* start top tabs */

.menuArrow {
	vertical-align: middle;
	margin-left: 3px;
	margin-right: 4px;
}

.separator
{
	padding:0px 9px 0 6px;
}

/* General page styles. */
body {
	margin: 0;
	padding: 0;
	background-color: white;
	font: Verdana, Arial, Helvetica, sans-serif; 
	font-size:16px;
}

form 
{
	margin: 0;
	padding: 0;
}

h1 
{
	margin-left:2px;
	font: Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}

h2 
{
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px;
	font: Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}

h3
{
	margin: 4px 2px;
	font: Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}

form {
	margin-left:  0px;
	margin-right:  0px;
}

input {
	font: Verdana, Arial, Helvetica, sans-serif;
}

textarea {
	font: Verdana, Arial, Helvetica, sans-serif;
}

select {
	font: Verdana, Arial, Helvetica, sans-serif;
}

option {
	font: Verdana, Arial, Helvetica, sans-serif;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:link 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	text-decoration: none;
	/*icolor: #2323AA;
	color: #FFFFFF;*/
}
		
a:visited {	
	text-decoration: none;
}	
		
a:active {	
	text-decoration: none;
}	
		
a:hover	{
	text-decoration: none;
}

/* Styles for the report list. */
#ReportGrid .ReportLink {
	font: bold Verdana, Arial, Helvetica, sans-serif;
}

.ReportLink {
	/*color:#3c7305;	*/
	color:#333333;	
}

.ReportLink {
	font-weight: bold;
}

.grid
{
	background-color: White;
	margin: 14px 0px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.gridWline 
{
	background-color: White;
	margin: 14px 0px;
	border-top: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

.grid td, .gridWline td {
	padding: 6px 4px 6px 20px;
	vertical-align:middle;
}

.grid a:link {
	color:#3c7305;
}

.gridheader {
	font: bold Arial, Helvetica, sans-serif;
	text-align: left;
}

.gridheader TH{
	padding: 6px 6px 6px 20px;
	border-bottom: 1px Solid #e4e4e4;
	background-color: #f2f2f2; 	
	margin-left: 5px;
}

.gridheader TH a:link
{
	color:#3c7305;
	
}

.gridfooter {
	background-color: #eaf3d2;
}

.gridalternaterow, .gridalternaterownocolor {
	/*ibackground-color: #fbfdf4;*/
	background-color: f2f2ec;
}

.SelectedRow 
{
	background-color: #ffffdd;
}

TH.ModifiedHeaderStyle {
	text-align: right;
	padding-right: 20px;
}

TD.ModifiedItemStyle {
	text-align: right;
	padding-right: 20px;
	font-size: 100%;
}

/* General page styles */
.help 
{
	background-color: #DDDDDD;
	background-image: url(../../ahImages/iconHelpText.gif);
	background-repeat:no-repeat;
	font: normal Verdana, Arial, Helvetica, sans-serif;
	border: solid 1px #CCCCCC;
	color: Black;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
}

.info 
{
	background-color: #E7EFF7;
	background-image: url(../../ahImages/iconInfo.gif);
	background-repeat:no-repeat;
	border: solid 1px #D7DFE7;
	font: normal Verdana, Arial, Helvetica, sans-serif;
	margin-top: 14px;
	padding: 4px 20px 4px 20px ;
	
}

.validation_error
{
	clear:both; font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: Red;
}

.errorWithImage 
{
	background-color: #FFDDCC;
	background-image: url(../../ahImages/iconError.gif);
	background-repeat:no-repeat;
	border: solid 1px #EECDBC;
	font: normal Verdana, Arial, Helvetica, sans-serif;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
	text-align:left;
}

.error 
{
	background-color: #FFDDCC;
}

.warning
{
	background: #faf9f9 url(../../ahImages/iconWarning.gif) no-repeat;
	border: solid 1px #e14b03;
	font: normal Arial, Helvetica, sans-serif;
	color: #e14b03;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
}

.warningnNoImage
{
	background-color: #FFEEBB;
}

.spacer
{
	cursor: default;
}

.command 
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    
    border:solid 1px #C9D5DF;
    color:#214973;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#E5E6E6);
}

.normaltab
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    
    border:solid 1px #C9D5DF;
    color:#214973;
    text-decoration:none;
    background-color: #D8D8D8;
}

.selectedtab
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    
    border-top: solid 1px #C9D5DF;
    border-left: solid 1px #C9D5DF;
    border-right: solid 1px #C9D5DF;
    border-bottom: solid 1px #FFFFFF;
    color:#214973;
    text-decoration:none;
    background-color: #FFFFFF;
}

/* Mozilla, Opera styles to preserve disabled look for command buttons. */
.command[disabled='true'] 
{
	color:#999; 
}
.command[disabled='false'] 
{
	color:#009; 
}
.command[disabled] 
{
	padding:0px 6px; /* Firefox 0.8 bug; changes the size. */
	color:#999; 
}

.clcCommand 
{
    height:18px; 
    width:120px;
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	 cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    
    border:solid 1px #C9D5DF;
    color:#214973;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#E5E6E6);
}

/* Mozilla, Opera styles to preserve disabled look for command buttons. */
.clcCommand[disabled='true'] 
{
	color:#999; 
}
.clcCommand[disabled='false'] 
{
	color:#009; 
}
.clcCommand[disabled] 
{
	padding:0px 6px; /* Firefox 0.8 bug; changes the size. */
	color:#999; 
}

.detailpanel
{
	margin: 14px 0px;
	border: dashed 2px #1D1F5C;
	padding: 5px;
	background: #ddd;
}

.detailDiv
{
	margin: 5px 0px;
	padding: 5px;
	background: #ccc;
}

.framed 
{
	border: solid 1px #D7DFE7; 
	padding:3px; 
	margin-bottom:10px;
}


.InactiveDiv
{
	background-color: #E7EFF7; 
	margin:14px 0px;
	padding:4px;
	border: solid 1px #4A719C;
	color: #333333;
}

.InactiveFHeader {
	background: #4A719C;
	color:White;
	height: 18px;
	padding: 2px 5px;
	text-align: center;
	font: bold Verdana, Arial, Helvetica, sans-serif;
}

.InactiveFColumnHeader {
	background-color: #D6DFEF;
	color: #214973;
	border-top: 1px solid #BDC7CE;
	border-left: 1px solid #BDC7CE;
	border-bottom: 1px solid #BDC7CE;
	border-right: 1px solid #BDC7CE;
	height: 14px;
	padding: 2px 5px;
	margin: 0px 0px 15px 0px;
	font: bold  Verdana, Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

.ViewButton {
	background-color: #D6DFEF;
	color: #214973;
	border-top: 1px solid #BDC7CE;
	border-left: 1px solid #BDC7CE;
	border-bottom: 1px solid #4A719C;
	border-right: 1px solid #4A719C;
	height: 18px;
	padding: 2px 5px;
	margin: 0 10px 0 0;
	text-decoration: none;
	text-align: center;
	font: bold Verdana, Arial, Helvetica, sans-serif;
	white-space: nowrap;
}
	
.NoWrap {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px;
	font: bold Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}

.DescriptionField {
	color: #4A719C;
	margin-left : 10px;
	width: 250px; height: 200px; overflow: auto;
}


.tdConfig 
{
	font: Verdana; 
	border: solid 1px #D7DFE7;
	padding: 10px;
 }

.divConfig 
{
	background-color: #E7EFF7; 
	border: solid 1px #D7DFE7;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	font-weight:bold;
	height:24px;
	padding-top:4px;
	padding-left:4px;
	vertical-align:middle;
}

.divInnerConfig 
{
	margin-left:5px;
}

.tdTitle 
{
	background-color: #EAE0CE;
	padding:3px;
	width:102px;
}

.title 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	font-weight: bold;
	text-align:center;
}

.editLink 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	font-weight:normal;
	float:right;
}

.dataTab
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	font-weight: bold;
	color: #000000;
	background-color: #D7DFE7;
	border: 1px Solid #214973;
	padding: 3px 0px 0px 3px;
	width: 161px;
	margin: 0 0 3px 0;
}

.dtActive
{
	color: red;
	background-color: #EDF4FA;
}

.contentTabInside, .contentTab
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	font-weight: bold;
	color: #000000;
	background-color: #E7E7E7;
	border-top: 1px Solid #214973;
	border-left: 1px Solid #214973;
	border-bottom: 1px Solid #214973;
	padding: 3px 0px 0px 0px;
	margin: 0 0 3px 0;
}

.contentTab 
{
	border: 1px Solid #214973;
	width: 161px;
	padding: 3px 0px 0px 3px;
}

.ctActive
{
	color: red;
	background-color: #F7F7F7;
}

.Active 
{
	background-color: #ffffcc;
	color:#214973;
	font: bold  Verdana;
}

.tinyImage 
{
	border: 3px solid #E7E7E7;
	width: 7px;
	padding: 2px;
}

.paddedImage
{
	padding: 2px;
}

.spanObject
{
	
	font-weight: normal;
	color: black;
}


.searchDiv span{
  float: left;
  padding: 0 3px 0 5px;
  font: Arial;
  font-weight: bold;
  color: #4c4c4c;
}

input.searchText{
  font: Arial;
  border: 1px solid #aaaaaa;
  width: 150px;
  height: 25px;
  line-height:25px;
  padding: 0 2px 0 2px;
  margin-top: 1px;
  margin-left: 5px;
}
*:first-child + html input#srch_imgClear { margin-top:1px; }
.btnClear { vertical-align:top; }



.hidden 
{
	visibility:hidden;
}

.reportLayoutObject
{
	color: black;
	cursor: hand; /* Internet Exporer only. */
	cursor: pointer; /* All other browsers. */
	border: solid 1px #4A719C;
	background-color: #FFE87C;
	width:100px;
	text-align:center;
}

.centered 
{
	width:100%;
	height:100%;
	text-align:center;
}

.smallText 
{
	width:20px;
}

.imageButton 
{
	cursor: hand; /* Internet Exporer only. */
	cursor: pointer; /* All other browsers. */
	border: solid 1px gray;
	margin: 3px;
}

.imageButtonDisabled 
{
	margin: 3px;
}

.Arrow {
	
	width:10px;
	line-height:10px;
}

.shadeCommand 
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    
    border:solid 1px #C9D5DF;
    color:#214973;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#E5E6E6);
}

.rightJustify 
{
	
	text-align:right;
}

.vAlignMiddle 
{
	vertical-align: middle;
}

.divForm
{
	padding:15px; 
}

.gridForm
{
    margin: 15px 15px 0 15px;
}
.limiting {width:90%;}

*:first-child + html #pnlDataSourcePopup { width:806px; }

.topBar 
{
	background-color: #F7F7F7;
	padding: 3px 5px 3px 18px;
	Height: 30px;
	border-bottom: Solid 1px #B0C1D4;
}

.divButtons 
{
	padding-top:10px;
}

.broken 
{
	color:Red;
	
}

.expired
{
	color: Gray;	
	
}

.AboutBody 
{
	background-image:url(../../ahImages/About_Adhoc.jpg);
	background-repeat:no-repeat;
}

.CheckAll 
{
	color: White;
}

/* Email Info Styles */
.tblBody {
	margin: 10px;
	padding: 10px;
	width: 99%
}

.trBody {
	width: 100%
}

.tdBody {
	width: 100%
}

.lbl 
{
	margin-left: 2px;
	font: normal Verdana, Arial, Helvetica, sans-serif;
}

.txt {
	width: 98%
}

.txtBody
{
	margin-left: 10px;
	font: normal Verdana, Arial, Helvetica, sans-serif;
	width: 98%;
}

.NoShow 
{
    display:none;
}

/* New classes  by Calvin. */

.divUserGroup {
	background-image: url(App_Themes/Light/Images/filter1.jpg);
	padding: 3px 3px 3px 5px;
	border: 2px solid #FFFFFF;
}

#functions
{
	margin-top: 10px;
}

#menu_Logout
{
	margin-right: 15px;
}

/* Dashboard classes */
.panelConfig
{
	background-color: white;
	color: #214973;
	border-top: 1px solid #BDC7CE;
	height: 40px;
	padding: 2px 5px;
	margin: 0 0 0 0;
	text-decoration: none;
	font: Verdana;
	white-space: nowrap;
	text-align: center;
}

.contentTabDashboard
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	font-weight: bold;
	color: #000000;
	background-color: #E7E7E7;
	border: 1px Solid #214973;
	padding: 3px 0px 0px 0px;
	margin: 0 0 3px 0;
}

.dashColumn
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	font-weight: bold;
	color: #000000;
	background-color: #D7DFE7;
	border: 1px Solid #214973;
	padding: 3px 0px 0px 3px;
	width: 126px;
	margin: 0 0 3px 0;
}

.homeBtn {
color: #FFFFFF;
font-family: verdana, arial, Helvetica, sans-serif;

background-color: #254974;
border-top: 1px Solid #B5CDE4;
border-left: 1px Solid #B5CDE4;
border-bottom: 1px Solid #678CB8;
border-right: 1px Solid #678CB8;
text-decoration: none;
padding: 2 8 3 10;
}

.link {
	color: #FFFFFF;
	padding: 5px 5px 5px 5px;
	background-color: #254974;
	font-family: verdana, arial, Helvetica, sans-serif;
	
	text-decoration: none;
	float: left;
}

.floatright {
float: right;
margin: 0 0 10px 10px;
}

.floatleft {
	float: left;
	margin: 10px 50px 0 0;
}
.groupHeader { background-color:#DDDDDD; background-position:top left; border:solid 1px #CCCCCC; color:Black; margin-bottom:10px; padding:2px 0px 2px 20px; font-weight: bold; }

.outerbox
{
    margin: 1px 0 1px 0;
    display:inline-block;
    height:18px; line-height:18px;
    border-right:1px solid #B3C2CF;
    border-left:1px solid #B3C2CF;
    padding-right:0px;
}

.collapsePanelHeader2 td .outerbox {padding-left:0px; padding-right:0px; margin-right:4px;}

.innerbutton
{
background:url("App_Themes/Light/Images/oBack.gif") repeat scroll center bottom transparent;
border:medium none;
color:#000000;
cursor:pointer;

height:20px;
margin: -1px 0 -1px 0;
outline:0 none;
margin-right:0;
}

.innerbutton:hover
{
    color:#64696e;
}

.innerbutton:disabled
{
    color:#999999;
}

.innerbutton:disabled hover
{
    color:#999999;
}


.rightborder 
{
    border-right:solid 1px #bbb;
}

.pushed 
{
  background: url(App_Themes/Light/Images/oBack.gif);
  color: #ff8800;
}

.pushed:hover, .pushed:visited, .pushed:active, .pushed:link  
{
  color: #ff8800;
}

.iconAction{cursor: pointer; cursor:hand;}

.tdArrowL 
{
    cursor:hand;
    visibility:hidden;
}

.tdArrowR 
{
    cursor:hand; 
    visibility:hidden;
}

.hiPopupMenu {
	position:relative;
	visibility:hidden;
	background-color:#f7fafd;
	border: 2px Solid #CCCCCC;
	padding: 10px;
	z-index:40;
	font: normal Arial, Helvetica, sans-serif;
	text-align:left;
	width:400px;
	color:#333333;
}

.clsTitle 
{
    background-color:#fff;
    font: normal Verdana;
    height:20px;
    border-bottom: solid 1px #dddddd;
    text-align:center;
}

.hlpTitle 
{
    margin-top:4px;
}

.hlp {
	background-color:#FFFAEE;
	font: normal Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	margin-top:60px;
	padding:10px;
}

.dragHandle {
	width:8px;
	height:16px;
	padding:0;
	margin:0;
    background-image: url(App_Themes/Light/Images/dragHandle.gif);
	cursor:move;
}

.resizeHandle {
	width:6px;
	height:200px;
	padding:0;
	margin:0;
    background:#EEEEEE url(App_Themes/Light/Images/resizeHandle.gif) no-repeat center;
	cursor:col-resize;
}

.divColumnTreeView { border:solid 1px #DDDDDD; margin-right:10px; overflow:auto; }
.divColumnTreeView td { padding: 0; }

.menuArrow 
{
    margin-left: 3px;
}



#divTFile TD, #divTInsert TD, #divTSettings TD {
	text-align: center;
	
	vertical-align: top;
	width:65px;
	padding-top:3px;
	white-space: nowrap;
}

#divTFile TD:hover, #divTInsert TD:hover, #divTSettings TD:hover 
{
    background-color: #ffee99;
}

#pager { background:#eee; }


.cntntContainer td div 
{
    margin-bottom:5px;
}

#tbReportContents TD 
{
    vertical-align:top;
}

.SelectedTreeNode
{
	background-color: #ffffcc;
}
.inactiveInput 
{
    display:-moz-inline-box;display:inline-block;
    border-style: inset;
    border-width:1px;
    height: 20px;
}

.ssIn 
{
    border:none;
}

.ssOut 
{
    border:inset 1px #CCCCCC;
}

/*For Session Parameters Pages*/
.txtDisabled
{
    background-color:#E1E1E1;
}
.txtEnabled
{
    background-color:White;
}


.bctrail
{
	background-color: #3c7305;
	color: White;
	padding: 5px 5px 0px 18px;
	font: bold 15px Verdana, Arial, Helvetica, sans-serif;
	height: 25px;
}

.bctrail a, .bctrail a:link, .bctrail a:visited, .bctrail a:active, .bctrail a:hover
{
	text-decoration: underline;
	color: White;
	font-weight: normal;
	white-space: nowrap;
}