<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h2><a name="_Toc263162784">Catalogs</a></h2>


<p class=MsoNormal><span style=''>A catalog is
a predefined collection of related data objects and columns. Catalogs are used
to simplify data object selection for the end user.</span></p>


<p class=MsoNormal><span style=''>Essentially
the System Administrator builds a catalog the same way an end user would select
the data objects and columns for a report. A primary data object is selected
along with all of the related data objects. This identifies a pool of columns
that may be used in the report.</span></p>


<p class=MsoNormal><span style=''>When the
System Administrator has identified all of the data objects and columns, the
result may be saved as a catalog. A catalog is presented to the end user in the
list of data objects they may use for reporting.</span></p>


<p class=MsoNormal><span style=''>The Catalog
definition has two additional features. The System Administrator can eliminate
duplicate or ambiguous column references (e.g. columns linking two data
objects) and control the column name and friendly name.</span></p>


<p class=MsoNormal><span style=''>Select <b>Catalogs</b>
from the <i>Database Object Configuration</i> drop-down list<b> </b>to display
the <i>Catalogs</i> configuration page.</span></p>


<p class=MsoNormal><img border=0  
src="System_Admin_Guide_files/image073.jpg"></p>


<p class=MsoNormal><span style=''>The <b>Database</b>
dropdown list acts as a filter for the Catalog list. Only Catalogs related to
the selected database will be displayed. If only one reporting database has
been configured for the Ad Hoc instance, the <b>Database</b> filter will not be
shown.</span></p>


<p class=MsoNormal><span style=''>The <b>Add</b>
button will display an empty <i>Catalog</i> page.</span></p>


<p class=MsoNormal><span style=''>The <b>Delete</b>
button will remove the selected catalogs. Catalogs are selected by clicking on
the applicable checkbox.</span></p>


<p class=MsoNormal><span style=''>Two actions
are available for a Catalog; <b>Modify Catalog, </b>and<b> Delete Catalog. </b>Hover
the mousepointer over the <img border=0  
src="System_Admin_Guide_files/image025.jpg"> icon to show the available
actions.</span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note:</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>A catalog
  is a data object. Additional configuration options are available for existing
  catalogs through the <i>Database Object Configuration / Data Objects</i>
  pages. <u>The exception is that relationships may not be created between a
  catalog and other data objects.</u></span></p>
  </td>
 </tr>
</table>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><i><u><span style=''>Adding
a Catalog</span></u></i></p>

<p class=MsoNormal><i><u><span style=''><span
 style='text-decoration:none'>&nbsp;</span></span></u></i></p>

<p class=MsoNormal><span style=''>Creating a
catalog requires selecting a catalog name, identifying the related data
objects, and selecting the columns displayed to the end user. Optionally, the
column names and friendly names may be specified as well as the friendly name
of the catalog.</span></p>


<p class=MsoNormal><span style=''>To create a
catalog, click on the <b>Add</b> button to display the following page:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image074.jpg"></span></p>



<p class=MsoNormal><span style=''>Click on the 
<img border=0   src="System_Admin_Guide_files/image075.gif"> icon
to display brief help for the <i>Catalog</i> page.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><span style=''>The <i>Database
Connection</i> identifies the currently selected reporting database. The list
of data objects is restricted to this reporting database schema.</span></p>


<p class=MsoNormal><span style=''>Enter the <i>Catalog
Name</i> and <i>Friendly Name</i> for the catalog.</span></p>


<p class=MsoNormal><span style=''>If Categories
of data objects have been defined, a dropdown list of the categories will be
shown in the <i>Data Objects In</i>. Selecting a category will act as filter on
the initial list of data objects presented.</span></p>


<p class=MsoNormal><span style=''>Identify the
main data object for the catalog by clicking on the checkbox adjacent to the
data object. The data object tree may be expanded to show columns for each data
object by clicking on the  + .</span></p>


<p class=MsoNormal><span style=''>Once a data
object has been selected, the list of <i>Available Objects</i> will be
populated and visible. Continue selecting the related data objects until the
basic catalog intent has been satisfied. The <i>Catalog</i> page will appear
as:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image076.jpg"></span></p>




<p class=MsoNormal><span style=''>From the <i>Available
Column</i> list, select the columns to be included in the catalog by clicking
on the checkboxes for the columns and clicking on the <b>right-arrow</b>. All
columns may be selected by clicking on the checkbox in the header of the <i>Available
Columns</i> list.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><span style=''>Once columns
have been selected and included in the <i>Catalog Columns</i> grid, the page
will appear as:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image077.jpg"></span></p>


<p class=MsoNormal><span style=''>The System
Administrator has the opportunity to manually adjust the <i>Column Name</i> and
<i>Friendly Name</i> for each column in the <i>Catalog Columns</i> grid. 
Columns may be removed from the catalog by selecting the column with the
adjacent checkbox and clicking on the <b>left-arrow</b>.</span></p>


<p class=MsoNormal><i><span style=''>Column
Names</span></i><span style=''> must be unique.</span></p>


<p class=MsoNormal><span style=''>Click on the <b>Save</b>
button to store the catalog information.</span></p>



<p class=MsoNormal><i><u><span style=''>Adding
a Catalog Using  Save As </span></u></i></p>


<p class=MsoNormal><span style=''>The
administrator can create a catalog by modifying an existing catalog and then
saving it as a new catalog by clicking on the <b>Save As</b> button and e
specifying the new <i>Catalog Name</i> and <i>Friendly Name</i>.</span></p>

<span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span>


</body>
</html>
