<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291610" class="title">Crosstab Configuration</a></h4>


<p class=MsoNormal>Cross tabulation style reports give users the ability to
display joint distributions of data from three separate columns. The results of
the cross tabulation are displayed in table format. Every crosstab table
consists of three columns. </p>


<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=618
 style='width:463.65pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=115 valign=top style='width:1.2in;border:solid windowtext 1.0pt;
  background:#E0E0E0;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt'>Column Type</span></b></p>
  </td>
  <td width=503 valign=top style='width:377.25pt;border:solid windowtext 1.0pt;
  border-left:none;background:#E0E0E0;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt'>Use in Crosstab Table</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:1.2in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>Header</p>
  </td>
  <td width=503 valign=top style='width:377.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>Populate the first row of the table. Each new value
  encountered in the crosstab column produces a new column in the crosstab
  table.</p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:1.2in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>Label</p>
  </td>
  <td width=503 valign=top style='width:377.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>Populate the first column of the table.</p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:1.2in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>Values</p>
  </td>
  <td width=503 valign=top style='width:377.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>Populate the aggregate data. The aggregate values are a <i>sum</i>,
  <i>count</i>,<i> standard deviation </i>or <i>average </i>of the fields in
  the Value column.</p>
  </td>
 </tr>
</table>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image122.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>A crosstab report displaying
sales totals per employee across years.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal>Users can also include crosstab summary data by adding an
optional summary row or summary column. </p>


<p class=MsoNormal>In order to build a crosstab, you only need to pick three
columns, <i>Header</i>, <i>Label</i> and <i>Value</i>, and decide how you want
the value column be aggregated. These selections can be made in the <i>Crosstab
Configuration</i> tab, with minimum attributes displayed.</p>


<p class=MsoNormal>You have many other options with the crosstab at your
fingertips that you can use if needed. All of these other options can be
accessed either on <i>Crosstab Configuration</i> page, with all attributes
displayed, or on the <i>Crosstab Settings</i> tab.</p>

<p class=MsoNormal>Below, we will discuss how to create a crosstab with its
minimum requirements and later introduce the optional controls.</p>


<p class=MsoNormal><b>To add a simple Crosstab table:</b></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>From the Report
Builder interface, click on the <img border=0  
src="Report_Design_Guide_files/image121.jpg"> in the Add frame at the left of
the interface to add the Crosstab component to the report. Use drag-and-drop
methods to place the crosstab into the report in a specific location in the Modify
panel.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image123.jpg"></p>


<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>From the
Crosstab Configuration panel's <i>Header Values Column</i> section, choose a
header <i>Column</i> from the drop-down list.</p>


<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>From the <i>Label
Values Column</i> section<i>, </i>choose a label <i>Column</i> from the
drop-down menu.</p>


<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>4.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>From the <i>Values
Column</i> section:</p>

<p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in'>a.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Choose a value <i>Column</i>
from the drop-down menu.</p>

<p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in'>b.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Choose an <i>Aggregate
Function</i><sup>1</sup> from the drop-down menu.</p>

<p class=MsoNormal style='margin-left:.75in'>&nbsp;</p>

<p class=MsoNormal>Your crosstab table is ready at this point.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial>Note:</p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'><i>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></i><i>The
  available aggregate functions are </i><i>Sum, Average, Standard Deviation and
  Count.</i></p>
  </td>
 </tr>
</table>


<p class=MsoNormal><b>Exploring the options</b></p>


<p class=MsoNormal>Click on the <b>Show All Attributes</b> icon to view the
extended options on the Crosstab Configuration tab.</p>


<p class=MsoNormal>If the Header column is a date column, a drop down list of
time periods will be displayed.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image124.jpg"></p>

<p class=MsoNormal>The options in the time period list include:</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal>None   display the date information in the header and
     aggregate the values by date</li>
 <li class=MsoNormal>Year   display the year information and aggregate the
     values by year</li>
 <li class=MsoNormal>Quarter   display the first day of the quarter and
     aggregate the values by quarter</li>
 <li class=MsoNormal>Fiscal Quarter   display the first day of the fiscal
     quarter and aggregate the values by fiscal quarter</li>
 <li class=MsoNormal>Month   display the first day of the month and aggregate
     the values by month</li>
</ul>


<p class=MsoNormal>When all attributes are displayed on the <i>Crosstab
Configuration</i> tab, the following extra options are available for Label
column:</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image125.jpg"></p>

<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal><i>Header</i>   This is the caption that is shown for the
     Label column on the title row of the crosstab. It changes every time you
     select a new Label column to reflect the name of the selected column. But
     you can change it to your desired text.</li>
 <li class=MsoNormal><i>Sortable<sup>1</sup></i><b> </b>  When checked, this
     option changes the header of the Label column into a link that toggles the
     sort order of the crosstab rows by the values in the Label column.</li>
 <li class=MsoNormal><i>Linked</i>   This option may or may not be available,
     depending on whether the selected Label column has a pre-defined link
     associated with it or not.</li>
 <li class=MsoNormal><i>Format</i>   Allows you to choose a display format for
     the label column value.</li>
 <li class=MsoNormal><i>Alignment</i>   Sets a cell alignment for the label
     column values.</li>
 <li class=MsoNormal>The<i> </i><b>Add a Layer</b><i> </i>button allows you to
     specify hierarchical layers of labels in the Crosstab. Layering the Label
     column is an advanced function that automatically generates drill-down
     capablility for the crosstab Label column. Read about it in the <i>Adding
     Drill-down Capability to Crosstabs</i> section.</li>
</ol>




<p class=MsoNormal>The following extra options are available for Value column:</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image126.jpg"></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal><i>Sortable<sup>1</sup></i><b> </b>  When checked, this
     option changes the header of the Value column, if available (otherwise the
     link is put on Header column instead), into a link that toggles the sort
     order of the crosstab rows by the values in the Value column.</li>
 <li class=MsoNormal><i>Format</i><b> </b>  Allows you to choose a display
     format for the Value column values.</li>
 <li class=MsoNormal><i>Alignment</i>   Sets a cell alignment for the Value
     columns. </li>
 <li class=MsoNormal><i>Style</i>   Adds conditional styling to values. This
     feature is explained fully in <i>Conditional Styling of Crosstabs </i>section,
     later.<b> </b></li>
 <li class=MsoNormal><b>Add Extra Value Columns </b>- Displaying multiple Value
     columns in a single crosstab table is an advanced feature that is
     described fully in <i>Adding Multiple Value Columns</i> section.</li>
</ol>

<p class=MsoNormal style='margin-left:.5in'>&nbsp;</p>

<p class=MsoNormal>The following options are available for adding a Summary
Row:</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image127.jpg"></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal><i>Include</i><b> </b>  This checkbox adds or removes the
     Summary Row.</li>
 <li class=MsoNormal><i>Caption</i><b> </b>  Type a caption, which describes
     the summary value.</li>
 <li class=MsoNormal><i>Aggregate Function</i><b><sup>2</sup></b>   Sets a cell
     alignment for the Value columns. </li>
 <li class=MsoNormal><i>Format</i>   Choose a display Format for the summary
     value.</li>
</ol>


<p class=MsoNormal>The following options are available for adding a Summary
Column:</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image128.jpg"></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal><i>Include</i><b> </b>  This checkbox adds or removes the
     Summary Column.</li>
 <li class=MsoNormal><i>Header</i><b> </b>  Type a caption, which describes the
     summary value.</li>
 <li class=MsoNormal><i>Aggregate Function<sup>3</sup></i>   Sets a cell
     alignment for the Value columns. </li>
 <li class=MsoNormal><i>Format</i>   Choose a display Format for the summary
     value.</li>
</ol>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>The default
  sort order of the <i>Label</i> and <i>Header</i> column values is dictated by
  the sort order of the Data Source, however a crosstab is created dynamically
  and may not reflect the expected sort order of the <i>Label</i> and <i>Header</i>.
  This is particularly true when the data has missing information.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>The available
  aggregate functions for <i>Summary Row</i> are: Sum, Average (of crosstab
  rows), Standard Deviation, Count (of crosstab rows), Count Distinct, Average
  of All Rows, and Count of All Rows.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>3.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>The available
  aggregate functions for <i>Summary Column</i> are: Sum, Average (of value
  columns), Standard Deviation, Count (of value columns), Average of All Rows
  (used for the particular row of the crosstab pertaining to the summary
  value), and Count of All Rows (used for the particular row of the crosstab
  pertaining to the summary value).</p>
  </td>
 </tr>
</table>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#FFFF99;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial>Hint:</p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i>Crosstab tables can become quite long if there are a
  large numbers of distinct values in the crosstab Label and Header columns. If
  such is the case, limit the data by setting filters on the data from the </i><i>Modify
  Data Source step.</i></p>
  </td>
 </tr>
</table>


<b><u><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></u></b>


<p class=MsoNormal><b><u>Adding Drill-down Capability to Crosstabs</u></b></p>


<p class=MsoNormal>At times you may need to drill down to the details of a
crosstab layer and find out how the top level values came to be. </p>


<p class=MsoNormal>You can add as many layers to a crosstab as you need in a
very easy manner.</p>

<p class=MsoNormal>Click on the <b>Add a Layer</b> button to display the
following dialog. </p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image129.jpg"></p>


<p class=MsoNormal>Each layer consists of another crosstab table identical to
the main layer, but with a different <i>Label</i> column. It makes sense to
pick a column that can serve as the detail for the <i>Label</i> column in the
layer right above it.</p>


<p class=MsoNormal>All available columns, except for those that have already
been selected for the previous layers, can be selected for this new layer. </p>


<p class=MsoNormal>Just like the main layer, a <i>Header</i> can be entered for
this new <i>Label Column</i> and it can be set as sortable and/or linked (if
pre-defined as being linkable). Its format and alignment can also be
determined.</p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal>Once a new layer has been defined, the default view of the <i>Label
Values Column</i> panel will change to a grid.</p>

<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image130.jpg"></p>

<p class=MsoNormal>Layers can be moved up or down using <img border=0 
 src="Report_Design_Guide_files/image131.gif">and<img border=0
width=16 height=16 src="Report_Design_Guide_files/image132.gif"> or by using
drag-and-drop methods using the <img border=0  
src="Report_Design_Guide_files/image052.gif"> handle. They may be edited using <img
border=0 width=16 height=16 src="Report_Design_Guide_files/image133.gif">  and
removed using <img border=0  
src="Report_Design_Guide_files/image086.gif"> action icons.</p>

<p class=MsoNormal> </p>

<p class=MsoNormal><b><u>Adding Multiple Value Columns</u></b></p>


<p class=MsoNormal>If more than one <i>Value Column</i> is needed under
crosstab, additional columns can be added by clicking the <b>Add Extra Value
Columns</b> button. The following Crosstab Value Column dialog will be
displayed.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image134.jpg"></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal>The process is exactly like adding the first <i>Value Column</i>.
The difference is in the <i>Header</i> option, which is missing for the first
Value column. However if multiple Value Columns have been defined, each column
can have its own header, which will be displayed under the Header Column
values.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image135.jpg"></p>


<p class=MsoNormal>Once a new Value Column has been defined, the default view
of the Value Column panel will change to a grid.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image136.jpg"></p>

<p class=MsoNormal>V<i>alue Columns </i>can be moved up or down using <img
border=0   src="Report_Design_Guide_files/image131.gif">or<img
border=0 width=16 height=16 src="Report_Design_Guide_files/image132.gif"> or by
using drag-and-drop methods using the <img border=0  
src="Report_Design_Guide_files/image052.gif"> handle. They may be edited using <img
border=0 width=16 height=16 src="Report_Design_Guide_files/image133.gif">  and
removed using <img border=0  
src="Report_Design_Guide_files/image086.gif"> action icons.</p>


<p class=MsoNormal>Separate <i>Summary Row</i> and <i>Summary Column</i>
functions, as well as <i>Styles</i> can be defined for each <i>Value Column</i>
by using respective icons in each row of the grid. If either of these items has
been defined, their icons will change to an  on  state.</p>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><b><u>Conditional Styling of Crosstabs</u></b></p>


<p class=MsoNormal>Conditional styling of crosstabs is very similar to that of
a data table. The only difference is that styles can only be set, as well as
depend on <i>Value</i> columns. Therefore the columns listed in the <i>Column</i>
dropdown only consist of all selections for <i>Value</i> columns.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image137.jpg"></p>


<p class=MsoNormal>The following figure shows the results of conditional
styling of  Order Count  to be red if the value is less than 5 and another
style set to show as green if the count exceeds 10.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image138.jpg"></p>



<p class=MsoNormal><b><u>Linking from Crosstabs</u></b></p>


<p class=MsoNormal>If the administrator has set up links from any column that
is used as the <i>Label</i> column for the crosstab, the  Linked  checkbox
appears in the <i>Label</i> <i>Column </i>panel area. Since both links and
drill-down are defined on the <i>Label</i> column, they cannot co-exist.
Therefore only last layer of a crosstab can be linked. A link can be
established to any other report or website. By checking <i>Linked</i> checkbox,
the link is automatically enabled and the resulting report displays its <i>Label</i>
columns as active HTML links that take you to the pre-determined report or web
page, passing any required parameters to the report or site. </p>


<p class=MsoNormal>This feature can be used in lieu of drill-down, in order to
display a report other than the detail crosstab report that is automatically
generated by the application.</p>

<p class=MsoNormal>The following figure displays a linked crosstab that opens
up Google Maps and shows the map of the selected country, each time a country
link is clicked on the report.</p>

<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image139.jpg"></p>



<i><u><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></u></i>

</body>
</html>
