<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291596"></a><a name="_Toc297114512" class="title">The Dashboard Builder</a></h4>


<p class=MsoNormal>The <i>Dashboard Builder</i> is an interface designed to
build dashboards. </p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Note:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>The <i>Dashboard Builder</i> is not designed to build or
  modify reports.</p>
  </td>
 </tr>
</table>


<p class=MsoNormal>Click on the <b>New Dashboard</b> button to access the <i>Dashboard
Builder.</i></p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image039.jpg"></p>


<p class=MsoNormal><i>Navigating the Dashboard Builder</i></p>


<p class=MsoNormal>Following is a high level overview of the <i>Dashboard
Builder.</i> </p>


<p class=MsoNormal>The core steps in the building of a dashboard involve:</p>

<p class=MsoNormal> </p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal>Specifying a dashboard name</li>
 <li class=MsoNormal>Configuring one or more dashboard panels</li>
</ul>


<p class=MsoNormal>These steps will be exercised in this section just to show
the navigation options.</p>


<p class=MsoNormal>Across the top of the page is the breadcrumb trail, a series
of links to the pages and folders recently visited.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image040.jpg"></p>


<p class=MsoNormal>For example, clicking on Personal Reports link in the
breadcrumb trail will display the Reports page. If changes to the dashboard
have not been saved, the following confirmation dialog will be displayed:</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image041.jpg"></p>

<p class=MsoNormal>. </p>

<p class=MsoNormal>Below the breadcrumb trail is dashboard management bar that
allows the specification of the <i>Dashboard Name</i>, dashboard management
with <b>Save</b> and <b>Save As</b> buttons, dashboard review with the <b>Preview
Dashboard</b> button, navigation back to the <i>Reports</i> page with the <b>Back
to Reports List </b>button, and general control of the dashboard configuration
with the Dashboard Settings expand/collapse button.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image042.jpg"></p>


<p class=MsoNormal>Clicking on the <img border=0  
src="Report_Design_Guide_files/image035.jpg"> or <img border=0 
height=19 src="Report_Design_Guide_files/image036.jpg"> buttons will collapse
or expand the dashboard settings panel.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image043.jpg"></p>


<p class=MsoNormal>Below the dashboard management bar is the list of dashboard
panels. Initially only the <b>Add a Panel</b> button is displayed. When one or
more panels have been configured, the dashboard list will appear as:</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image044.jpg"></p>


<p class=MsoNormal>The <b>Delete Panels</b> button will remove the selected
panels. Panels are selected by clicking on the checkbox for the panel. All
panels may be selected or deselected by clicking on the checkbox in the list
header.</p>


<p class=MsoNormal>Actions may be performed on each panel by hovering the mouse
over the<img border=0  
src="Report_Design_Guide_files/image045.jpg"> icon to display the dropdown list
of actions available and selecting the action. The available actions are <i>Modify
Dashboard Panel</i>, and <i>Move Up</i> and <i>Move Down</i>.</p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal>Both the <b>Add Panel</b> button and the <i>Modify Dashboard
Panel</i> action will display the <i>Panel Settings</i> dialog.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image046.jpg"></p>


<p class=MsoNormal>After entering the panel settings, click on the <b>Save
Panel</b> button to temporarily save the panel definition and return to the
list of panels.</p>


<p class=MsoNormal>The dashboard definition is permanently saved through the <b>Save
</b>or <b>Save As</b> options in the <i>Dashboard Builder</i>. </p>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>



</body>
</html>
