<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h2><a name="_Toc263162790">Data Formats</a></h2>


<p class=MsoNormal><span style=''>The <i>Data
Formats</i> page allows the administrator to manage data formats for use when
specifying default column formats or when building reports. By default, the Ad
Hoc is installed with 22 pre-defined data formats and are listed in the <i>Data
Formats</i> page in a green font.</span></p>


<p class=MsoNormal><span style=''>Data formats
are available to end-users when specifying a column format in the Report
Builder. The list of format options will be limited to those that apply to the
data type of the column. The presentation order of the data format in the
drop-down list matches the order on the Data Formats page. </span></p>


<p class=MsoNormal><span style=''>Select <b>Data
Formats</b> from the <i>Report Configuration</i> drop-down list<b> </b>to
display the <i>Data Formats</i> configuration page.</span></p>


<p class=MsoNormal><b><span style='font-size:10.0pt;'><img
border=0   src="System_Admin_Guide_files/image094.jpg"></span></b></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><span style=''>The <b>Add</b>
button will display an empty <i>Data Format dialog.</i></span></p>


<p class=MsoNormal><span style=''>The <b>Delete</b>
button will remove the selected user-defined data formats. Data Formats are
selected by clicking on the applicable checkbox.</span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note:</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>Data Formats
  distributed with Ad Hoc (green) cannot be deleted.</span></p>
  </td>
 </tr>
</table>


<p class=MsoNormal><span style=''>A search
control may be presented for the <i>Data Formats</i> page. Enter the search
criteria in the textbox and click on the <b>Find Data Formats</b> button. The
search will find data formats based on a  contains  test. To clear the search
criteria click on the <img border=0  
src="System_Admin_Guide_files/image095.jpg"> in the text box. The availability
of the search feature is configurable.</span></p>


<p class=MsoNormal><span style=''>The
presentation order of data formats in various lists follows the order of the
data formats in the grid. The grid order may be adjusted by either using the
drag-and-drop methods available or selecting a data format with the checkbox
and clicking on the <img border=0  
src="System_Admin_Guide_files/image096.jpg"> or <img border=0 
height=14 src="System_Admin_Guide_files/image097.jpg"> arrows.</span></p>


<p class=MsoNormal><span style=''>The  <img
border=0   src="System_Admin_Guide_files/image025.jpg"> icon
indicates that more than one action can be performed on the data format. Hover
the mouse over the  <img border=0  
src="System_Admin_Guide_files/image025.jpg"> icon to display the available
actions and click on the appropriate one.</span></p>


<p class=MsoNormal><span style=''>The available
actions for a data format are <b>Modify Data Format</b> and <b>View
Dependencies</b>.</span></p>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><i><u><span style=''>Adding
a Data Format</span></u></i></p>

<p class=MsoNormal><i><u><span style=''><span
 style='text-decoration:none'>&nbsp;</span></span></u></i></p>

<p class=MsoNormal><span style=''>To create a
user-defined data format, click on the <b>Add</b> button. The following dialog
will be displayed:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image098.jpg"></span></p>


<p class=MsoNormal><span style=''>The <i>Format
Name</i> will be displayed in the format lists available to the end user.</span></p>


<p class=MsoNormal><span style=''>The <i>Format</i>
is the Visual Basic formatting pattern. Refer to the <a
href="http://devnet.logixml.com/rdPage.aspx?rdReport=Article&amp;dnDocID=1066">Visual
Basic Formatting Pattern</a> for additional details on the specification of the
pattern.</span></p>


<p class=MsoNormal><span style=''>Select one or
more <i>Applies to</i> options. This identifies the generic data types of the
columns that the new data format might be applied to.</span></p>


<p class=MsoNormal><span style=''>The <i>Is
Available</i> checkbox allows the administrator to determine the visibility of
the data format.</span></p>


<p class=MsoNormal><span style=''>The <i>Explanation</i>
is optional.</span></p>


<p class=MsoNormal><span style=''>Click on the <b>OK</b>
button to store the data format in the metadata database. The data format will
be available at the next login. Existing sessions will be unaffected.</span></p>


<p class=MsoNormal><i><u><span style=''><span
 style='text-decoration:none'>&nbsp;</span></span></u></i></p>

<p class=MsoNormal><i><u><span style=''>Modifying
a Data Format</span></u></i></p>


<p class=MsoNormal><span style=''>Hover the
mouse over the  <img border=0  
src="System_Admin_Guide_files/image025.jpg"> icon for a data format and select
the <b>Modify Data Format</b> option from the list. In the dialog presented,
make the necessary changes and click on the <b>OK</b> button to store the
revised data format in the metadata database.</span></p>


<p class=MsoNormal><span style=''>Reports using
the old data format will have to be resaved to acquire the revised format.</span></p>



<p class=MsoNormal><i><u><span style=''>View
Dependencies</span></u></i></p>


<p class=MsoNormal><span style=''>Hover the
mouse over the  <img border=0  
src="System_Admin_Guide_files/image025.jpg"> icon for a presentation style and
select the <b>View Dependencies</b> option from the list.</span></p>


<p class=MsoNormal><span style=''>A report page
identifying the scope and usage of the data format will be presented.
Administrators should exercise this option before modifying or deleting a data
format to determine the impact of the change.</span></p>

<b><span style='font-size:14.0pt;'><br
clear=all style='page-break-before:always'>
</span></b>

</body>
</html>
