<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h3 class="title"></h3>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image179.jpg"></p>


<p class=MsoFooter>The <i>Export Options</i> component allows links to be added
to the bottom of the report that give users the ability to publish reports. Reports
can be printed from a browser, exported to popular formats such as Excel and
PDF, and added to the archive for other users to view.</p>


<p class=MsoFooter>Click on the <img border=0  
src="Report_Design_Guide_files/image179.jpg"> from the ADD frame to add the <i>Export
Options</i> tab to the report definition.</p>


<p class=MsoFooter><img border=0  
src="Report_Design_Guide_files/image180.jpg"></p>


<p class=MsoFooter>Export capability is added to the report by enabling the
individual export options.</p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoFooter>The below listed export options are available to report
developers to provide to the end user. None, some or all of the icons may be
visible to the end user based availability and user permissions.</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr>
  <td width=228 style='width:170.85pt;padding:0in 5.4pt 0in 5.4pt'>
  </td>
  <td width=68 style='width:51.25pt;padding:0in 5.4pt 0in 5.4pt'>
  </td>
 </tr>
 <tr>
  <td width=228 style='width:170.85pt;padding:0in 5.4pt 0in 5.4pt'>
  </td>
  <td width=68 style='width:51.25pt;padding:0in 5.4pt 0in 5.4pt'>
  </td>
 </tr>
 <tr>
  <td width=228 style='width:170.85pt;padding:0in 5.4pt 0in 5.4pt'>
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal>Export to Excel</li>
  </ul>
  </td>
  <td width=68 style='width:51.25pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><img border=0  
  src="Report_Design_Guide_files/image181.gif"></p>
  </td>
 </tr>
 <tr>
  <td width=228 style='width:170.85pt;padding:0in 5.4pt 0in 5.4pt'>
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal>Export to Word</li>
  </ul>
  </td>
  <td width=68 style='width:51.25pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><img border=0  
  src="Report_Design_Guide_files/image182.gif"></p>
  </td>
 </tr>
 <tr>
  <td width=228 style='width:170.85pt;padding:0in 5.4pt 0in 5.4pt'>
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal>Export to PDF</li>
  </ul>
  </td>
  <td width=68 style='width:51.25pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><img border=0  
  src="Report_Design_Guide_files/image183.gif"></p>
  </td>
 </tr>
 <tr>
  <td width=228 style='width:170.85pt;padding:0in 5.4pt 0in 5.4pt'>
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal>Export to CSV</li>
  </ul>
  </td>
  <td width=68 style='width:51.25pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><img border=0  
  src="Report_Design_Guide_files/image184.gif"></p>
  </td>
 </tr>
 <tr>
  <td width=228 style='width:170.85pt;padding:0in 5.4pt 0in 5.4pt'>
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal>Export to XML</li>
  </ul>
  </td>
  <td width=68 style='width:51.25pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><img border=0  
  src="Report_Design_Guide_files/image185.gif"></p>
  </td>
 </tr>
 <tr>
  <td width=228 style='width:170.85pt;padding:0in 5.4pt 0in 5.4pt'>
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal>Add to Archive</li>
  </ul>
  </td>
  <td width=68 style='width:51.25pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><img border=0  
  src="Report_Design_Guide_files/image186.gif"></p>
  </td>
 </tr>
 <tr>
  <td width=228 style='width:170.85pt;padding:0in 5.4pt 0in 5.4pt'>
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal>Send Email</li>
  </ul>
  </td>
  <td width=68 style='width:51.25pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><img border=0  
  src="Report_Design_Guide_files/image187.gif"></p>
  </td>
 </tr>
</table>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Microsoft
  Office is integrated with Internet Explorer. Exporting the reports in an
  Office format opens a new browser window to edit and save the report.
  Microsoft Office is required to edit the reports from a browser window.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>The various <i>Export
  Options</i> are available in the rendered report to users with the respective
  Right to add the export option(s) to the report from the Report Builder.</p>
  </td>
 </tr>
</table>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><i>Export to Excel</i> saves the report in Microsoft Excel
format. If Microsoft Excel is installed, the report can be edited as an Excel
spreadsheet from the browser window.</p>


<p class=MsoNormal><i>Export to Word</i> saves the report in Microsoft Word
format. If Microsoft Word is installed, the report can be edited as a Word
document from the browser window.</p>


<p class=MsoNormal><i>Export to PDF</i> saves the report as a PDF (Portable
Document Format), which can be viewed with Adobe Reader and edited with Adobe
Acrobat.</p>


<p class=MsoNormal><i>Export to CSV</i> saves the report to a comma-delimited
format. The file can be viewed with Microsoft Excel.</p>


<p class=MsoNormal><i>Export to XML</i> saves the report data in XML format. The
XML dataset is viewable from Internet Explorer.</p>


<p class=MsoNormal><i>Add to Archive </i>saves a copy of the current report to
the archive. Archiving is a great way to backup a report before it is modified.</p>


<p class=MsoNormal><i>Send Report by Email </i>exports the report in the format
selected and attaches it to emails sent to selected recipients.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Note:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>Archiving and XML exports are not always available when
  creating a new report. Contact the system administrator for assistance with
  archiving and XML exports.</p>
  </td>
 </tr>
</table>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


</body>
</html>
