<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291607" class="title">Grouping Data</a></h4>


<p class=MsoNormal>Ad Hoc provides two styles of grouped reports - <i>Flat-Table
</i>and <i>Drill-Down</i>. The grouped flat-table style organizes records into
groups and hides duplicate entries to make the grouped report more presentable.
Use the flat-table style to give other users the ability to export the complete
report to different formats such as PDF and Excel. The grouped drill-down style
organizes records into groups and any remaining columns are included in a
sub-report. Use the drill-down style to give other users the ability to hide
and show sub-reports.</p>


<p class=MsoNormal>The feasibility of grouping data highly depends on the data
source chosen for the report. A grouped report is not necessarily appropriate
when the data is simply a list of customers. If the data source contains
information about customers and orders, a grouped report will definitely
improve the presentation of the report. The application provides two ways to
group data for flat-table and drill-down style reports - <i>multiple grouping
columns </i>and <i>multiple layers</i>. Users can combine both methods when
creating grouped reports.</p>


<p class=MsoNormal><b>Multiple Grouping Layers</b></p>


<p class=MsoNormal>Creating grouped reports with multiple layers is useful in
scenarios where the report requires more than one grouping to organize all the
data.</p>


<p class=MsoNormal>For example, all the customers can be grouped together, and
then group by the shipping company and then group by the order date. This
scenario is illustrated as a grouped flat-table report and as a grouped
drill-down report in the following figures.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image102.jpg"></p>

<p class=MsoFooter><span style='font-size:10.0pt'>A grouped flat-table report
with three layers.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image103.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>A grouped drill-down report
with three grouping layers.</span></p>


<p class=MsoNormal><b>Multi-Column Grouping</b></p>


<p class=MsoNormal>Multi-column grouping is useful for displaying more
information on a single grouping layer. For example, users can group by
customer and then by shipping company, showing both the customer and shipping
company on the same layer.</p>


<p class=MsoNormal>Multiple grouping columns work well with flat-table style
reports, since duplicate entries are removed from the final report.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr>
  <td width=482 valign=top style='width:361.85pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><img border=0
    src="Report_Design_Guide_files/image104.jpg"></p>
  </td>
 </tr>
 <tr>
  <td width=482 valign=top style='width:361.85pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><img border=0
    src="Report_Design_Guide_files/image105.jpg"></p>
  </td>
 </tr>
 <tr>
  <td width=482 valign=top style='width:361.85pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><img border=0
    src="Report_Design_Guide_files/image106.jpg"></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='font-size:10.0pt'>A grouped flat-table report with
two columns in the initial grouping layer</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><b>Grouped Flat-Table</b></p>


<p class=MsoNormal>The grouping flat-table report style is useful for
displaying the entire report in an organized, presentable way.</p>


<p class=MsoNormal>In the following figure, the <i>Customer Name </i>column is
the grouping column and any row that contains a group is highlighted. All
associated rows for a specific group are displayed beneath the grouping row. Aggregated
values for each group are computed and displayed in a separate row.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image107.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>A grouped flat-table report
of customer invoices.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><b>Grouped Drill-Down</b></p>


<p class=MsoNormal>The grouped drill-down report offers viewers the ability to
control the appearance of the report by hiding and showing sub-reports for each
record in the <i>grouping column</i>.</p>


<p class=MsoNormal>In the following figure, the <i>Customer Name </i>column is
the grouping column (always the first column of the main report) and all other
columns appear in the sub-report. Users can show/hide sub-reports for each
group of records by clicking the hyperlink provided in the <i>Details </i>column.
Any additional columns included in the main report are aggregations of a
particular column from the sub-report.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image108.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>A drill-down style report of
customer invoices.</span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Note:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>Users can disable drill-down functionality for the <b>Details
  </b>column or hide the column completely.</p>
  </td>
 </tr>
</table>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><b>Grouping Layers</b></p>


<p class=MsoNormal><b>Creating and configuring a grouping layer:</b></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal><u>PREREQUISITE</u>: If grouping aggregates are to be
     defined, then the column(s) to be aggregated must first be added to the
     report in the <i>Table Columns</i> tab.</li>
 <li class=MsoNormal>Click on the <i>Grouping</i> tab.</li>
</ol>


<p class=MsoNormal><b><span style='font-size:10.0pt'><img border=0 
 src="Report_Design_Guide_files/image109.jpg"></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt'>The <i>Grouping</i> tab with
the <i>Grouped Flat-Table</i> style selected.</span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Note:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>The Roll up last layer option is presented for the flat
  grouping. This allows the user to create  summary  flat grouped reports where
  the non-aggregated information is hidden from view. The data details that are
  normally shown in the last grouping layer are excluded from the report.</p>
  </td>
 </tr>
</table>


<ol style='margin-top:0in' start=3 type=1>
 <li class=MsoNormal>Choose a grouping style (e.g., Flat-Table, Drill-Down) and
     then click <b>Add Grouping Layer</b> to display the <i>Grouping Columns</i>
     dialog.</li>
</ol>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image110.jpg"></p>


<ol style='margin-top:0in' start=4 type=1>
 <li class=MsoNormal>Select a column(s) from the <i>Available Columns</i> list-box
     and then click <img border=0  
     src="Report_Design_Guide_files/image111.gif"> to move the column(s) to the
     <i>Grouped Columns</i> list-box. Hold the CTRL key down to select multiple
     columns.</li>
 <li class=MsoNormal><u>OPTIONAL</u>: If a column(s) in the <i>Grouped Columns</i>
     list-box<sup>1</sup> is not desired, select the column(s) in the <i>Grouped
     Columns</i> list-box and then click <img border=0  
     src="Report_Design_Guide_files/image112.gif"> to move the column(s) back
     to <i>Available Columns</i> list-box . Hold the CTRL key down to select
     multiple columns.</li>
 <li class=MsoNormal><u>OPTIONAL</u>: To move a column in the <i>Grouped Columns</i>
     list-box<sup>2</sup> up or down, select the column(s) and click the <img
     border=0   src="Report_Design_Guide_files/image089.gif"> or
     <img border=0  
     src="Report_Design_Guide_files/image090.gif"> icon respectively.</li>
 <li class=MsoNormal><u>OPTIONAL</u>: If using the flat-table grouping style,
     enable the 'Insert a page break between groups of PDF Export' option<sup>3</sup>.</li>
 <li class=MsoNormal><u>OPTIONAL</u>: Click <b>OK</b> to retain the modification
     and exit the panel or continue configuring the other features on the
     grouping layer.</li>
</ol>

<p class=MsoNormal style='margin-left:.25in'><span style='font-size:6.0pt'>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>The <i>Grouping
  Layer</i> dialog keeps track of the grouped columns used.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>The order in
  which the columns appear in the <i>Grouped Columns</i> list-box dictates the
  order in which the columns will appear in the report. This display order
  over-rides that which is specified in the <i>Column Configuration</i> tab.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>3.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>This feature
  is only offered on the first layer of a grouped flat-table when the <b>Show
  All Attributes</b> option has been exercised.. If the Export to PDF feature
  is not used in the report, then enabling this feature will not have any effect
  on the report.</p>
  </td>
 </tr>
</table>


<span style='font-size:8.0pt;'><br clear=all
style='page-break-before:always'>
</span>



<p class=MsoNormal>After having added columns to display in the tabular report
and after having selected a column(s) to group the layer on, group aggregates
can be created.</p>


<p class=MsoNormal><b>To create a grouping layer aggregate:</b></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal>From the Grouping Layer dialog, click the <b>Add an
     Aggregate Column</b> button. If the button is not visible, click on the <b>Show
     All Attributes</b> icon at the top of the dialog.</li>
</ol>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image113.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>Grouping Columns dialog for a
flat-table group</span></p>


<ol style='margin-top:0in' start=2 type=1>
 <li class=MsoNormal>Choose a <b>Column</b> from the drop-down menu.</li>
 <li class=MsoNormal>Choose an <b>Aggregate function</b><sup>1, 2, 3</sup> from
     the drop-down menu.</li>
 <li class=MsoNormal><u>OPTIONAL</u>: If using the grouped flat-table style,
     type a descriptive name for the aggregate value in the <b>Label </b>field.
     </li>
 <li class=MsoNormal><u>OPTIONAL</u>: If using the grouped drill-down style:</li>
 <ol style='margin-top:0in' start=1 type=a>
  <li class=MsoNormal>Type a descriptive name for the aggregate column in the <b>Header
      </b>field.</li>
  <li class=MsoNormal>To include the column in the sub-report, enable the <b>Include
      in sub-report</b> option.</li>
 </ol>
 <li class=MsoNormal><u>OPTIONAL</u>: If more than one aggregate has been
     specified in the grouping layer, click the <img border=0 
      src="Report_Design_Guide_files/image089.gif"> or <img border=0
     width=15 height=9 src="Report_Design_Guide_files/image090.gif"> icon to
     arrange the order in which the aggregate will appear in the grouping
     column.</li>
 <li class=MsoNormal><u>OPTIONAL</u>: Click <img border=0  
     src="Report_Design_Guide_files/image086.gif"> to remove a grouping aggregate.</li>
 <li class=MsoNormal><u>OPTIONAL</u>: Click <b>OK</b> to retain the modification
     and exit the panel or continue configuring the other features on the
     grouping layer.</li>
</ol>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial>Notes:</p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'><i>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></i><i>For
  numeric values, choose aggregations like Sum, Average, Standard Deviation,
  Count, Count Distinct, Minimum, or Maximum.</i></p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'><i>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></i><i>For
  text values, Sum and Average are excluded from the list of aggregate
  functions. Choosing Minimum selects the first alphabetized entry and Maximum
  selects the last.</i></p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'><i>3.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></i><i>For
  date values, Maximum chooses the latest date and Minimum chooses the
  earliest.</i></p>
  </td>
 </tr>
</table>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr style='height:4.0pt'>
  <td width=590 valign=top style='width:442.2pt;padding:0in 5.4pt 0in 5.4pt;
  height:4.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>When using the grouped drill-down style, the Grouping Layer
dialog presents different options.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image114.jpg"><img border=0 
height=373 src="Report_Design_Guide_files/image115.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>Grouping Columns dialog for a
drill-style group</span></p>


<p class=MsoNormal>The Summary Column Options are described in the following
table. </p>


<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=595
 style='width:6.2in;border-collapse:collapse;border:none'>
 <tr>
  <td width=167 valign=top style='width:125.2pt;border:solid windowtext 1.0pt;
  background:#E0E0E0;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt'>Option</span></b></p>
  </td>
  <td width=428 valign=top style='width:321.2pt;border:solid windowtext 1.0pt;
  border-left:none;background:#E0E0E0;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt'>Behavior</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=167 valign=top style='width:125.2pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt'>No summary</span></p>
  </td>
  <td width=428 valign=top style='width:321.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt'>The report is rendered
  without a <i>Details</i> column and no means to drill-down to the sub-report.</span></p>
  </td>
 </tr>
 <tr>
  <td width=167 valign=top style='width:125.2pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt'>Auto-generated column</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt'>(drill-down enabled)</span></p>
  </td>
  <td width=428 valign=top style='width:321.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><img  
  src="Report_Design_Guide_files/image116.jpg" align=left hspace=12><span
  style='font-size:11.0pt'>The report is rendered with a <i>Details</i> column displaying
  a hyperlink with the count of the number of detail records contained in the
  sub-report. The hyperlink allows the user the ability to drill-down to the
  sub-report. This is the default option.</span></p>
  </td>
 </tr>
 <tr>
  <td width=167 valign=top style='width:125.2pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt'>Auto-generated column</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt'>(drill-down disabled)</span></p>
  </td>
  <td width=428 valign=top style='width:321.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><img  
  src="Report_Design_Guide_files/image117.jpg" align=left hspace=12><span
  style='font-size:11.0pt'>The report is rendered with a <i>Details</i> column
  displaying a count of the number of detail records contained in the
  sub-report. Drill-down is disabled.</span></p>
  </td>
 </tr>
 <tr>
  <td width=167 valign=top style='width:125.2pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt'>Grouping / Aggregate column<br>
  (drill-down enabled)</span></p>
  </td>
  <td width=428 valign=top style='width:321.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><img  
  src="Report_Design_Guide_files/image118.jpg" align=left hspace=12><span
  style='font-size:11.0pt'>The report is rendered without a <i>Details</i>
  column but displays one of the columns used in the grouping layer (i.e.,
  grouped column or aggregate) as a hyperlink. The hyperlinked column allows
  the user the ability to drill-down to the sub-report.</span></p>
  </td>
 </tr>
</table>


<p class=MsoNormal>When one of the auto-generated column display options is
selected, the following options may be applied to the summary column:</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal>The column's header label can be changed from 'Details' to
     something more descriptive (i.e., Records, Accounts, Parts, Entries).</li>
 <li class=MsoNormal>The suffix text following a summary count can be changed
     from 'Rows' to something more descriptive (i.e., Loans, Transactions,
     etc.). The suffix is used in the group-level and overall summary row counts.</li>
 <li class=MsoNormal>A summary row may be included in the report with a caption
     (i.e., Total Parts: ).</li>
</ul>


<p class=MsoNormal><b>To configure a grouped drill-down's <i>Details</i> column
options:</b></p>

<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal><u>OPTIONAL</u>: Choose a summary column display option.
     Refer to Table 2 for the explanation of the options.</li>
 <li class=MsoNormal><u>OPTIONAL</u>: If the summary column display option of 'Grouping
     / Aggregate column' was selected, then choose a column from the drop-down
     menu.</li>
 <li class=MsoNormal><u>OPTIONAL</u>: If either one of the 'Auto-generated
     column' summary column display options were selected, then:</li>
 <ol style='margin-top:0in' start=1 type=a>
  <li class=MsoNormal>Type an alternate <b>Column</b> <b>header </b>name for
      the summary column in the field provided.</li>
  <li class=MsoNormal>Type an alternate <b>Suffix </b>name for the summary hyperlink
      in the field provided.</li>
  <li class=MsoNormal>Enable the <b>Include summary row for Summary column</b>
      option and type a descriptive <b>Caption</b> in the field provided.</li>
 </ol>
 <li class=MsoNormal><u>OPTIONAL</u>: Click <b>OK</b> to retain the modification
     and exit the panel or continue configuring the other features of the
     grouping layer.</li>
</ol>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal>The application supports an unlimited number of grouping
layers for any single report. Each layer can have multiple grouped columns,
including any number of group aggregates.</p>


<p class=MsoNormal>On the first grouping layer, the option to display an
 Expand All/Collapse All  link in the report is presented. The link, as the
name implies, will allow the user to expand or collapse all drill levels of the
report. Also on the first grouping layer, the behavior of the initial display
of the report can be set to  collapsed  (the default) or  expanded . The
 expanded  option will cause the report to take longer to render.<b><br
clear=all style='page-break-before:always'>
</b></p>

<p class=MsoNormal><b>To modify a grouping layer (all options):</b></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal>Click on the <i>Grouping</i> tab.</li>
</ol>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image119.jpg"></p>


<ol style='margin-top:0in' start=2 type=1>
 <li class=MsoNormal>Choose a different grouping style (e.g., Flat-Table,
     Drill-Down).</li>
 <li class=MsoNormal>If more than one grouping layer has been defined, click
     the <img border=0  
     src="Report_Design_Guide_files/image089.gif"> or <img border=0 
     height=9 src="Report_Design_Guide_files/image090.gif"> icon to change
     grouping order in the report.</li>
 <li class=MsoNormal>Click the <img border=0  
     src="Report_Design_Guide_files/image056.gif"> icon associated to the
     grouping layer to be modified.</li>
 <li class=MsoNormal>If modifying a grouped flat-table's first grouping layer,
     enable or disable the 'Insert a page break between groups of PDF Export'
     option.</li>
 <li class=MsoNormal>If modifying the lowest level grouping layer:</li>
 <ol style='margin-top:0in' start=1 type=a>
  <li class=MsoNormal>Move columns between the <i>Available Columns</i> list-box
      and the <i>Grouped Columns</i> list-box by selecting the column(s) and
      clicking the <img border=0  
      src="Report_Design_Guide_files/image111.gif"> or <img border=0 
      height=15 src="Report_Design_Guide_files/image112.gif"> icons to move the
      column from one list-box to the other.</li>
  <li class=MsoNormal>Move a column in the <i>Grouped Columns</i> list-box up
      or down by selecting the column(s) and click the <img border=0 
       src="Report_Design_Guide_files/image089.gif"> or <img border=0
      width=15 height=9 src="Report_Design_Guide_files/image090.gif"> icon
      respectively.</li>
 </ol>
 <li class=MsoNormal>If the grouping layer contain an aggregate:</li>
 <ol style='margin-top:0in' start=1 type=a>
  <li class=MsoNormal>choose a different <b>Aggregate function</b> from the
      drop-down menu.</li>
  <li class=MsoNormal>If using the grouped flat-table style, modify the <b>Label</b>.</li>
  <li class=MsoNormal>If using the grouped drill-down style:</li>
 </ol>
</ol>

<p class=MsoNormal style='margin-left:1.5in;text-indent:-1.5in'><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Modify
the <b>Header</b>.</p>

<p class=MsoNormal style='margin-left:1.5in;text-indent:-1.5in'><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>ii.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Enable
or disable the <b>Include in sub-report</b> option to include or not include
the column in the sub-report.</p>

<ol style='margin-top:0in' start=7 type=1>
 <ol style='margin-top:0in' start=4 type=a>
  <li class=MsoNormal>If more than one aggregate has been specified, click the <img
      border=0   src="Report_Design_Guide_files/image089.gif"> or
      <img border=0  
      src="Report_Design_Guide_files/image090.gif"> icon to arrange the order
      in which the aggregate will appear in the grouping column.</li>
  <li class=MsoNormal>Click <img border=0  
      src="Report_Design_Guide_files/image086.gif"> to remove the aggregate.</li>
 </ol>
 <li class=MsoNormal>If using the grouped drill-down style:</li>
 <ol style='margin-top:0in' start=1 type=a>
  <li class=MsoNormal>Choose a different summary column display option. Refer
      to Table 2 for the explanation of the options.</li>
  <li class=MsoNormal>If the summary column display option of 'Grouping /
      Aggregate column' was selected, then choose a column from the drop-down
      menu.</li>
  <li class=MsoNormal>If either one of the 'Auto-generated column' summary
      column display options were selected, then:</li>
 </ol>
</ol>

<p class=MsoNormal style='margin-left:1.5in;text-indent:-1.5in'><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Type
an alternate <b>Column</b> <b>header </b>name for the summary column in the
field provided.</p>

<p class=MsoNormal style='margin-left:1.5in;text-indent:-1.5in'><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>ii.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Type
an alternate <b>Suffix </b>name for the summary hyperlink in the field provided.</p>

<ol style='margin-top:0in' start=8 type=1>
 <ol style='margin-top:0in' start=4 type=a>
  <li class=MsoNormal>Enable the <b>Include summary row for Summary column</b>
      option and type a descriptive <b>Caption</b> in the field provided.</li>
 </ol>
 <li class=MsoNormal>Click <b>OK</b>.</li>
</ol>


<p class=MsoNormal><b>To delete a grouping layer:</b></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal>Navigate to the Table component's Grouping panel.</li>
 <li class=MsoNormal>Click the <img border=0  
     src="Report_Design_Guide_files/image086.gif">  icon associated to the
     grouping layer to be deleted.</li>
</ol>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


</body>
</html>
