<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291617" class="title">Adding Images</a></h4>


<p class=MsoNormal>The Image component offers the ability to add an image to
the report layout. An unlimited number of images above or below other reporting
components can be added. Use images to display a company logo, disclaimer or
warning or to bring emphasis to a new or updated section of a report. The image
may be added to the report from a file or via a URL. Image files must be 1 megabyte
or smaller and be one of the following file types: JPG, JPEG, GIF, BMP.
Animated images are supported.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image176.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>A report with an image
appearing before the tabular report.</span></p>


<p class=MsoNormal>Click <img border=0  
src="Report_Design_Guide_files/image171.jpg"> to add an Image to the report
definition. An Image Information tab will be created.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image177.jpg"></p>


<p class=MsoNormal>Choose a Source location to retrieve the image from. If <i>File</i>
is selected then click a  source  button. If the <b>From My Computer </b>button
is clicked then click <b>Browse</b> to locate and select a file from your
computer<sup>1</sup>. When done, click <b>OK</b>. If the <b>Previously Uploaded
</b>button is clicked then select an image and then click <b>OK</b>.</p>



<p class=MsoNormal>If <i>URL</i> is selected then specify the URL path to the
image and then click <b>OK</b>.</p>



<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Images
  selected from your computer are automatically uploaded to the application
  server for later use by all users.</p>
  <p class=MsoNormal style='margin-left:.25in'>&nbsp;</p>
  </td>
 </tr>
</table>


</body>
</html>
