<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291594" class="title">Setting Your Preferences</a></h4>


<p class=MsoNormal>Click <b>Profile Management </b>button and then select the <i>Preferences</i>
tab to change your user preference settings.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image021.jpg"></p>


<p class=MsoNormal><b><span style='color:black'>To update your preferences:</span></b></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal style='color:black'>Select a Homepage Type, then:</li>
 <ol style='margin-top:0in' start=1 type=a>
  <li class=MsoNormal style='color:black'>If <i>Application Page</i>, select a
      webpage from the application tree. If a report area is selected (e.g.,
      Shared Reports), then further refine your selection by:</li>
 </ol>
</ol>

<p class=MsoNormal style='margin-left:1.5in;text-indent:-1.5in'><span
style='color:black'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='color:black'>Click <b>Change Folder</b>.</span></p>

<p class=MsoNormal style='margin-left:1.5in;text-indent:-1.5in'><span
style='color:black'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>ii.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='color:black'>Select a folder from the folder tree and then click <b>OK</b>.</span></p>

<ol style='margin-top:0in' start=1 type=1>
 <ol style='margin-top:0in' start=2 type=a>
  <li class=MsoNormal style='color:black'>If <i>Report</i>, select a report by
      using the <b>Find Report</b> button to view a list of reports<i> </i>and
      then click <b>OK</b><i>.</i></li>
  <li class=MsoNormal style='color:black'><span style='color:windowtext'>If <i>URL</i>,
      then specify a URL address. </span>Click the<b>Test URL </b>button to
      confirm that the URL can be viewed.</li>
  <li class=MsoNormal style='color:black'><span style='color:windowtext'>If <i>Pre-</i></span><i>defined
      Report</i>, select a report by using the <b>Find Report</b> button to
      view a list of reports<i> </i>and then click <b>OK</b><i>.</i></li>
 </ol>
 <li class=MsoNormal style='color:black'>Enabling the <i>Retain search strings</i>
     feature will retain your last search criteria for any page even after a
     logout.</li>
 <li class=MsoNormal style='color:black'>Enabling the <i>Retain sort
     preferences</i> feature will retain your last choices for sorting of grids
     in the application.</li>
 <li class=MsoNormal style='color:black'>Click <b>Save </b>to commit the
     changes and return to the Profile page.</li>
 <li class=MsoNormal style='color:black'><u>OPTIONAL</u>: Click <b>Restore
     Original Settings</b> to revert the preference settings back to the
     default settings.</li>
</ol>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><i>Note:</i></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i><span style='color:black'>If a Homepage is specified,
  the application will automatically display the designated Homepage immediately
  after logging into the application and when the Home link is selected.</span></i></p>
  </td>
 </tr>
</table>

<i><u><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></u></i>

</body>
</html>
