<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body>
<table "100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="logo" "100%"><img src="images/title.gif" "349" "39" border="0"></td></tr></table>
<div style="padding:10px;">

<h2><a name="_Toc382578245">Archiving</a></h2>

<p class=MsoNormalCxSpFirst>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>Ad Hoc allows reports to be stored in an archive.
The System Administrator must configure and enable archiving for this feature
to be used. Typically, the System Administrator will create both a physical
archive folder and a related virtual directory in IIS. After they have been
created, archiving has to be enabled <i>for each database.</i></p>

<p class=MsoNormalCxSpMiddle><i>&nbsp;</i></p>

<p class=MsoNormalCxSpMiddle>The Configure Archive dialog may be accessed by</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormalCxSpMiddle>Clicking on <b>Instance Configuration</b> and
     then <b>Archiving</b></li>
 <li class=MsoNormalCxSpMiddle>Running the <b>Configuration Wizard</b> and
     selecting <i>Archiving</i> under the <b>Advanced Options</b> button</li>
 <li class=MsoNormalCxSpMiddle>Clicking on <b>Instance Configuration</b>, then <b>Application
     Settings</b>, then the <i>Other Features</i> tab, and then the <b>Configure
     Archiving</b> button</li>
</ul>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <b>Configure Archiving</b> dialog will be
displayed. </p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle><img border=0  
src="Mngt_Console_Usage_Guide_files/image041.jpg"></p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <b>Configure Archiving </b>dialog allows the
System Administrator to identify the reporting database, physical archive
folder, the associated virtual directory, select the archive format and enable
archiving for the reporting database.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>On the left is the list of report databases
connected to the instance of Ad Hoc. Archiving is configured and enabled at the
database level. To select a database, click on a row in the report database
list. To select all report databases, click on the upper left corner of the
list.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>To enable/disable archiving for all reporting
databases, click on the <i>Enable</i> header.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><i>Note:</i></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i>If <b>Multiple Connections</b> is enabled, the list of
  reporting database will not be displayed. In this case scheduling may be
  enabled/disabled for the Ad Hoc instance, not by reporting connection.</i></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <i>Archive Report Format</i> drop-down list
will display the five archive formats (HTML, PDF, EXCEL, WORD and CSV).</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <i>Archive Folder</i> attribute identifies the
full path of the archive physical folder. Click on the Browse button to either
select a folder or create a new folder.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <i>Archive Web Path URL</i> attribute
identifies the web server and virtual directory for the archive.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <i>Auto Archive </i>checkbox determines
whether all scheduled reports will be automatically archived for the reporting
database. The scheduling interface within Ad Hoc will have the Archive and
Format pre-set and non-editable if the <i>Auto Archive</i> checkbox is enabled.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <b>Apply Changes</b> button will become
enabled when the information in the three attributes changes. Click on the <b>Apply
Changes</b> button to record the changes to the archive information for the
selected databases.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>Click on the <b>OK</b> button to confirm any
unsaved changes and dismiss the dialog.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>Once the archiving parameters have been set, the
Ad Hoc instance will enable the  <b>Add to Archive</b>  option from the schedule
definition page and show a <b>Show Archive</b> action for each report in the
report lists for which an archived report exists.</p>

<span style='font-size:11.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Each reporting
  database may have a unique archive physical and virtual folder and store the
  reports in a different format. They may also share the archive configuration.</b></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#FBD4B4;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b><i>Java -</i></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><i>The web server may
  have to be restarted after configuring the archive for the archiving
  functions to perform properly.</i></p>
  </td>
 </tr>
</table>

<b><span style='font-size:13.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span></b>

<p><img src="images/arrowUp.gif" "7" "9">&nbsp;&nbsp;<a href="#">Back to top</a></p><p style="border-top: 1px #CDCDCD solid"></p><p class="copyright">Logi Ad Hoc Reporting &nbsp;&copy; Copyright 2004-2014 LogiXML, Inc. All rights reserved.</p></div>
</body>
</html>
