<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body>
<table "100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="logo" "100%"><img src="images/title.gif" "349" "39" border="0"></td></tr></table>
<div style="padding:10px;">

<h2><a name="_Toc382578241">Metadata Connection</a></h2>

<p class=MsoNormalCxSpFirst style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle><b>Before establishing an instance of Ad Hoc</b>,
the System Administrator must determine the best repository for the Ad Hoc
metadata. By default Ad Hoc uses a Sql Server CE database. The System
Administrator may decide that SQL Server, Oracle, or MySQL would fit into the
computing environment better.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormal>Prior to connecting an alternative metadata database, the
System Administrator must build the database. As part of the Ad Hoc
installation, scripts are provided that assist in the creation of the database.
The scripts are located in the <i>Database</i> folder of the installation
folder. Application of the scripts is fully documented in the <i>Logi Ad Hoc
Reporting Creating/Updating the Metadata Database Schema</i> document, also
located in the <i>Database</i> folder. </p>

<p class=MsoNormal>Once the database has been established, the System
Administrator can configure the Ad Hoc instance to use the new metadata
database by clicking on <b>Instance Configuration</b> and then clicking on <b>Metadata
Connection</b>. The following dialog will be presented:</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'><img border=0
  src="Mngt_Console_Usage_Guide_files/image021.jpg"></p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>This operation
  should only have to be performed once. Typically, the only time this option
  is used after the initial configuration is in the event the credentials or
  the location of the metadata database changes.</b></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#FBD4B4;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b><i>Java -</i></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><i>The supported
  metadata DBMSs are Oracle and MySQL. Connection links will be presented for
  these DBMSs. The metadata database must have been previously created. Scripts
  are provided in the Database folder of the Ad Hoc instance and the Management
  Console for this purpose.</i></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The general usage of
this dialog is to 1) build a connection string to the metadata database using
any of the connection links provided or enter the string manually and 2) test
the connection string.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <b>Migrate to a
Supported Database</b> button, as the name implies, allows the System
Administrator to migrate the metadata to a different metadata database. The
most frequent usage is converting the metadata from the default SQLCE database
to SQL Server, Oracle or MySQL. As outlined above, the target database should
have been established with the scripts provided prior to the migration.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <b>OLEDB Connection</b>
link presents the <b>Data Link Properties</b> dialog. </p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'><img border=0
  src="Mngt_Console_Usage_Guide_files/image022.jpg"></p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>Complete the
information on the <i>Provider </i>and <i>Connection</i> tabs and click on the <b>OK</b>
button to return to the <b>Metadata Database Connection</b> dialog.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<span style='font-size:11.0pt;'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <b>MySQL Connection</b>
link presents the <b>Build MySQL Connection String</b> native provider dialog.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'><img border=0
  src="Mngt_Console_Usage_Guide_files/image023.jpg"></p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>Fill in the required
information and click on the <b>OK</b> button to return to the <b>Metadata
Database Connection</b> dialog.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <b>Oracle
Connection</b> link presents the <b>Build Oracle Connection String</b> native
provider dialog.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'><img border=0
  src="Mngt_Console_Usage_Guide_files/image024.jpg"></p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>Fill in the required
information and click on the <b>OK</b> button to return to the <b>Metadata
Database Connection</b> dialog.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<span style='font-size:11.0pt;'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <b>SQLCE Connection</b>
link presents the <b>Build SQL CE Connection String</b> dialog.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'><img border=0
  src="Mngt_Console_Usage_Guide_files/image025.jpg"></p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>Either enter the full
path to the <i>ahData.sdf</i> file or click on the <b>Browse</b> button to find
it. Click on the <b>OK</b> button to return to the <b>Metadata Database
Connection</b> dialog.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>As an alternative to
using any of the provided links to specify the connection string to the
metadata database, the System Administrator could click on the <b>Edit
Connection String</b> button to manually enter the connection string. The <b>Set
Database Connection String</b> dialog will be presented.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'><img border=0
  src="Mngt_Console_Usage_Guide_files/image026.jpg"></p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>This is particularly
useful when the connection string is known or the changes to the string are
minor, such as credential changes. Click on the <b>OK</b> button to return to
the <b>Metadata Database Connection</b> dialog.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>To verify that the
connection string is directed to a valid database, click on the <b>Test</b>
button.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>Click on the <b>OK</b>
button to post the connection string to the <i>_Definitions/_Settings.lgx</i>
file in the active instance folder.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>The credentials
  supplied in the connection string for the metadata database must provide
   administrator-like  permissions to the database. The system must be able to
  add, update and remove data as well as alter the schema of the metadata
  database.</b></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Whenever an
  alternate metadata database is created and connected to an instance, it is
  imperative that the Upgrade Manager is launched to check for any new,
  required information such as Rights. Click on  Manage an Instance  and
   Upgrade Instance  to launch the Upgrade Manager.</b></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpLast style='line-height:normal'>&nbsp;</p>

<b><span style='font-size:13.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span></b>

<p><img src="images/arrowUp.gif" "7" "9">&nbsp;&nbsp;<a href="#">Back to top</a></p><p style="border-top: 1px #CDCDCD solid"></p><p class="copyright">Logi Ad Hoc Reporting &nbsp;&copy; Copyright 2004-2014 LogiXML, Inc. All rights reserved.</p></div>
</body>
</html>
