.popupPanelModal + .popupPanelContainer {
	-webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
	-webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    /*margin: 0 auto !important;*/
	max-width: 100%;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
	-webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 4px;
    outline: 0;
}
.popupPanelModal + .popupPanelContainer > table > tbody > tr > td {
	padding: 0 5px;
}
.popupPanelModal + .popupPanelContainer > table, .rdPopupPanelTitle>table {
	border-radius: 4px;
	border: none;
}
@media (min-width: 768px) {
  .popupPanelModal + .popupPanelContainer,.popupPanelModal + .popupPanelContainer>.rdPopupPanel {
    width: 600px;
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 1100px) {
	.modal-lg {
		width: 1100px;
	}
  .modal-md {
    width: 600px;
  }
}
@media (max-width: 1100px) {
  .popupPanelModal + .popupPanelContainer, .popupPanelModal + .popupPanelContainer>.rdPopupPanel {
    width: 100%;
	left: 0 !important;
  }
}
