/* KPIs */
.kpi{
	padding: 1em;
	border: 1px solid;
	margin: 0 0 2em;
}

.kpi .kpi-label{
	display: block;
	font-size: large;
}

.kpi .kpi-value{
	font-size: 1.5vw;
	display: block;
	font-weight: bold;
}

.kpi #kpi-icon, .kpi #kpi-icon_Row1 {
	display: inline-block;
	position:relative;
	float: right;
	margin: .1em;
	font-size: 3.6em;
	padding: 0.6em;
}
.kpi #kpi-icon.fa, .kpi #kpi-icon_Row1.fa {
	padding: 0;
}

/* KPI screen size enhancements */
@media (max-width: 992px){
	.kpi{
		text-align: center;
	}
	
	.kpi .kpi-value{
		font-size: 200%;
	}		

	.kpi #kpi-icon, .kpi #kpi-icon_Row1 {		
		display: block;
		float: none;
		padding: 0.6em;
		max-width: 6.25em;
		margin: 0 auto;
		min-height: 6.25em;
	}
}	

/* KPI up arrow*/
.kpi #kpi-icon.up-arrow, .kpi #kpi-icon_Row1.up-arrow {
    background: url("../images/up-arrow.png") no-repeat top center;
	background-size: 100%;
}

/* KPI down arrow*/
.kpi #kpi-icon.down-arrow, .kpi #kpi-icon_Row1.down-arrow {
    background: url("../images/down-arrow.png") no-repeat top center;
	background-size: 100%;
}

/* KPI check*/
.kpi #kpi-icon.check, .kpi #kpi-icon_Row1.check {
    background: url("../images/check.png") no-repeat top center;
	background-size: 100%;
}

/* KPI cross*/
.kpi #kpi-icon.cross, .kpi #kpi-icon_Row1.cross {
    background: url("../images/cross.png") no-repeat top center;
	background-size: 100%;
}

/* KPI warning*/
.kpi #kpi-icon.warning, .kpi #kpi-icon_Row1.warning {
    background: url("../images/warning.png") no-repeat top center;
	background-size: 100%;
}	

/*KPI green*/
.kpi-green{
	color: #fff;
	border-color: #4db6ac;
	background: #4db6ac;
}

/*KPI red*/
.kpi-red{
	color: #fff;
	border-color: #ff7043;
	background: #ff7043;
}	

/*KPI blue*/
.kpi-blue{
	color: #fff;
	border-color: #00bcd4;
	background: #00bcd4;
}

/*KPI yellow*/
.kpi-yellow{
	color: #fff;
	border-color: #ffc107;
	background: #ffc107;
}

/*KPI grey*/
.kpi-grey{
	color: #3D3D3D;
	border-color: #CBCBCB;
	background: #CBCBCB;
}
/*Start KPI TILES*/
.info-kpi {
  margin: 0px 0px 16px;
  box-shadow: 1px -1px 0 0 #eeeeee inset, -1px 0 0 0 #eeeeee inset;
  background-color: #fff;
  padding: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 1px;
  display: block;
  border-width: 2px 0 0 0;
  border-style: solid;
  min-height: 125px;
}
.info-kpi:before {
  display: block;
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.info-kpi .kpi-heading {
  text-align: left;
  color: #9e9e9e;
  height: 16px;
  line-height: 16px;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.info-kpi .kpi-body {
  text-align: left;
  color: #616161;
  font-size: 32px;
  font-weight: 300;
  line-height: 72px;
  position: relative;
  z-index: 1;
}
.info-kpi .kpi-body > span {
	max-width: calc(100% - 75px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
.info-kpi .kpi-footer {
  text-align: left;
  font-size: 11px;
  position: absolute;
  left: 16px;
  bottom: 8px;
}
.info-kpi .kpi-icon {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  right: 8px;
  bottom: -64px;
}
.info-kpi .kpi-icon i {
  font-size: 48px;
  position: absolute;
  left: 96px;
  top: 0;
}
.info-kpi .kpi-icon span {
  font-size: 48px;
  position: absolute;
  right: 5px;
  top: -15px;
  color: #b0bec5;
}
.info-kpi .kpi-icon span.smaller {
  font-size: 35px;
}
.info-kpi.kpi-warning {
  border-color: #ffd54f;
}
.info-kpi.kpi-warning .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-warning .kpi-body {
  color: #ffd54f;
}
.info-kpi.kpi-success {
  border-color: #aed581;
}
.info-kpi.kpi-success .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-success .kpi-body {
  color: #aed581;
}
.info-kpi.kpi-teal {
  border-color: #4db6ac;
}
.info-kpi.kpi-teal .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-teal .kpi-body {
  color: #4db6ac;
}
.info-kpi.kpi-lime {
  border-color: #dce775;
}
.info-kpi.kpi-lime .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-lime .kpi-body {
  color: #dce775;
}
.info-kpi.kpi-danger {
  border-color: #f36c60;
}
.info-kpi.kpi-danger .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-danger .kpi-body {
  color: #f36c60;
}
.info-kpi.kpi-info {
  border-color: #4dd0e1;
}
.info-kpi.kpi-info .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-info .kpi-body {
  color: #4dd0e1;
}
.info-kpi.kpi-green {
  border-color: #81c784;
}
.info-kpi.kpi-green .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-green .kpi-body {
  color: #81c784;
}
.info-kpi.kpi-primary {
  border-color: #4fc3f7;
}
.info-kpi.kpi-primary .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-primary .kpi-body {
  color: #4fc3f7;
}
.info-kpi.kpi-gray {
  border-color: #e0e0e0;
}
.info-kpi.kpi-gray .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-gray .kpi-body {
  color: #e0e0e0;
}
.info-kpi.kpi-orange {
  border-color: #ffb74d;
}
.info-kpi.kpi-orange .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-orange .kpi-body {
  color: #ffb74d;
}
.info-kpi.kpi-blue {
  border-color: #64b5f6;
}
.info-kpi.kpi-blue .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-blue .kpi-body {
  color: #64b5f6;
}
.info-kpi.kpi-green {
  border-color: #81c784;
}
.info-kpi.kpi-green .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-green .kpi-body {
  color: #81c784;
}
.info-kpi.kpi-purple {
  border-color: #ba68c8;
}
.info-kpi.kpi-purple .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-purple .kpi-body {
  color: #ba68c8;
}
.info-kpi.kpi-indigo {
  border-color: #7986cb;
}
.info-kpi.kpi-indigo .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-indigo .kpi-body {
  color: #7986cb;
}
.info-kpi.kpi-brown {
  border-color: #a1887f;
}
.info-kpi.kpi-brown .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-brown .kpi-body {
  color: #a1887f;
}
.info-kpi.kpi-deeporange {
  border-color: #ff8a65;
}
.info-kpi.kpi-deeporange .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-deeporange .kpi-body {
  color: #ff8a65;
}
.info-kpi.info-kpi-alt {
  box-shadow: none;
}
.info-kpi.info-kpi-alt.kpi-warning {
  background: #ffc107;
  border-color: #ffc107;
}
.info-kpi.info-kpi-alt.kpi-warning:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-warning .kpi-heading {
  color: #ffecb3;
}
.info-kpi.info-kpi-alt.kpi-warning .kpi-icon i {
  color: #ffd54f;
}
.info-kpi.info-kpi-alt.kpi-warning .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-warning .kpi-footer span {
  color: #ffe082 !important;
}
.info-kpi.info-kpi-alt.kpi-success {
  background: #8bc34a;
  border-color: #8bc34a;
}
.info-kpi.info-kpi-alt.kpi-success:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-success .kpi-heading {
  color: #dcedc8;
}
.info-kpi.info-kpi-alt.kpi-success .kpi-icon i {
  color: #aed581;
}
.info-kpi.info-kpi-alt.kpi-success .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-success .kpi-footer span {
  color: #c5e1a5 !important;
}
.info-kpi.info-kpi-alt.kpi-teal {
  background: #009688;
  border-color: #009688;
}
.info-kpi.info-kpi-alt.kpi-teal:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-teal .kpi-heading {
  color: #b2dfdb;
}
.info-kpi.info-kpi-alt.kpi-teal .kpi-icon i {
  color: #4db6ac;
}
.info-kpi.info-kpi-alt.kpi-teal .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-teal .kpi-footer span {
  color: #80cbc4 !important;
}
.info-kpi.info-kpi-alt.kpi-lime {
  background: #cddc39;
  border-color: #cddc39;
}
.info-kpi.info-kpi-alt.kpi-lime:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-lime .kpi-heading {
  color: #f0f4c3;
}
.info-kpi.info-kpi-alt.kpi-lime .kpi-icon i {
  color: #dce775;
}
.info-kpi.info-kpi-alt.kpi-lime .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-lime .kpi-footer span {
  color: #e6ee9c !important;
}
.info-kpi.info-kpi-alt.kpi-danger {
  background: #e51c23;
  border-color: #e51c23;
}
.info-kpi.info-kpi-alt.kpi-danger:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-danger .kpi-heading {
  color: #f9bdbb;
}
.info-kpi.info-kpi-alt.kpi-danger .kpi-icon i {
  color: #f36c60;
}
.info-kpi.info-kpi-alt.kpi-danger .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-danger .kpi-footer span {
  color: #f69988 !important;
}
.info-kpi.info-kpi-alt.kpi-info {
  background: #00bcd4;
  border-color: #00bcd4;
}
.info-kpi.info-kpi-alt.kpi-info:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-info .kpi-heading {
  color: #b2ebf2;
}
.info-kpi.info-kpi-alt.kpi-info .kpi-icon i {
  color: #4dd0e1;
}
.info-kpi.info-kpi-alt.kpi-info .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-info .kpi-footer span {
  color: #80deea !important;
}
.info-kpi.info-kpi-alt.kpi-green {
  background: #4caf50;
  border-color: #4caf50;
}
.info-kpi.info-kpi-alt.kpi-green:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-heading {
  color: #c8e6c9;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-icon i {
  color: #81c784;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-footer span {
  color: #a5d6a7 !important;
}
.info-kpi.info-kpi-alt.kpi-primary {
  background: #03a9f4;
  border-color: #03a9f4;
}
.info-kpi.info-kpi-alt.kpi-primary:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-primary .kpi-heading {
  color: #b3e5fc;
}
.info-kpi.info-kpi-alt.kpi-primary .kpi-icon i {
  color: #4fc3f7;
}
.info-kpi.info-kpi-alt.kpi-primary .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-primary .kpi-footer span {
  color: #81d4fa !important;
}
.info-kpi.info-kpi-alt.kpi-inverse {
  background: #9e9e9e;
  border-color: #9e9e9e;
}
.info-kpi.info-kpi-alt.kpi-inverse:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-inverse .kpi-heading {
  color: #f5f5f5;
}
.info-kpi.info-kpi-alt.kpi-inverse .kpi-icon i {
  color: #e0e0e0;
}
.info-kpi.info-kpi-alt.kpi-inverse .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-inverse .kpi-footer span {
  color: #eeeeee !important;
}
.info-kpi.info-kpi-alt.kpi-orange {
  background: #ff9800;
  border-color: #ff9800;
}
.info-kpi.info-kpi-alt.kpi-orange:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-orange .kpi-heading {
  color: #ffe0b2;
}
.info-kpi.info-kpi-alt.kpi-orange .kpi-icon i {
  color: #ffb74d;
}
.info-kpi.info-kpi-alt.kpi-orange .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-orange .kpi-footer span {
  color: #ffcc80 !important;
}
.info-kpi.info-kpi-alt.kpi-blue {
  background: #2196f3;
  border-color: #2196f3;
}
.info-kpi.info-kpi-alt.kpi-blue:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-blue .kpi-heading {
  color: #bbdefb;
}
.info-kpi.info-kpi-alt.kpi-blue .kpi-icon i {
  color: #64b5f6;
}
.info-kpi.info-kpi-alt.kpi-blue .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-blue .kpi-footer span {
  color: #90caf9 !important;
}
.info-kpi.info-kpi-alt.kpi-green {
  background: #4caf50;
  border-color: #4caf50;
}
.info-kpi.info-kpi-alt.kpi-green:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-heading {
  color: #c8e6c9;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-icon i {
  color: #81c784;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-footer span {
  color: #a5d6a7 !important;
}
.info-kpi.info-kpi-alt.kpi-purple {
  background: #9c27b0;
  border-color: #9c27b0;
}
.info-kpi.info-kpi-alt.kpi-purple:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-purple .kpi-heading {
  color: #e1bee7;
}
.info-kpi.info-kpi-alt.kpi-purple .kpi-icon i {
  color: #ba68c8;
}
.info-kpi.info-kpi-alt.kpi-purple .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-purple .kpi-footer span {
  color: #ce93d8 !important;
}
.info-kpi.info-kpi-alt.kpi-indigo {
  background: #3f51b5;
  border-color: #3f51b5;
}
.info-kpi.info-kpi-alt.kpi-indigo:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-indigo .kpi-heading {
  color: #c5cae9;
}
.info-kpi.info-kpi-alt.kpi-indigo .kpi-icon i {
  color: #7986cb;
}
.info-kpi.info-kpi-alt.kpi-indigo .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-indigo .kpi-footer span {
  color: #9fa8da !important;
}
.info-kpi.info-kpi-alt.kpi-brown {
  background: #795548;
  border-color: #795548;
}
.info-kpi.info-kpi-alt.kpi-brown:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-brown .kpi-heading {
  color: #d7ccc8;
}
.info-kpi.info-kpi-alt.kpi-brown .kpi-icon i {
  color: #a1887f;
}
.info-kpi.info-kpi-alt.kpi-brown .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-brown .kpi-footer span {
  color: #bcaaa4 !important;
}
.info-kpi.info-kpi-alt.kpi-blue-gray {
  background: #607d8b;
  border-color: #607d8b;
}
.info-kpi.info-kpi-alt.kpi-blue-gray:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-blue-gray .kpi-heading {
  color: #cfd8dc;
}
.info-kpi.info-kpi-alt.kpi-blue-gray .kpi-icon i {
  color: #90a4ae;
}
.info-kpi.info-kpi-alt.kpi-blue-gray .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-blue-gray .kpi-footer span {
  color: #b0bec5 !important;
}
.info-kpi.info-kpi-alt.kpi-gray {
  background: #9e9e9e;
  border-color: #9e9e9e;
}
.info-kpi.info-kpi-alt.kpi-gray:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-gray .kpi-heading {
  color: #eeeeee;
}
.info-kpi.info-kpi-alt.kpi-gray .kpi-icon i {
  color: #bdbdbd;
}
.info-kpi.info-kpi-alt.kpi-gray .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-gray .kpi-footer span {
  color: #e0e0e0 !important;
}	