/**********SampleAnimation**********/
.animationFlash {
  color: #333333;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: 75;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {color: red;
    font-weight: bold;}
  to {color: orange;
    font-weight: bold;}
}

/* Standard syntax */
@keyframes example {
  from {color: red;
    font-weight: bold;}
  to {color: orange;
    font-weight: bold;}
}

/*******************************************************************  Start Custom Changes **********************************************************************/
/* content spacing (under header) */
#divContent{
    margin-left: 25px;
    margin-right: 25px;
	
}	

.horizontalList {
list-style: none;
display: inline;
}

.horizontalList li {
display: inline;
}

/* adjust font awesome bug icon.  Smaller and red */
.icon-mod{
    font-size: 1.2em;
	color: #b94949;
}

/* Header background color */
.ThemeMasterReportTopFrame {
    background-color: #fff;
}

/* adjust title in header */
.adjust-title{
	margin: -5px !important;
}

/* align case date information in header */
.adjust-case-date{
	margin: 2px !important;
}

.navbar {
    min-height: 60px;    
	margin-bottom: 7px;
}

/* header menu hover styling */
.menu:hover {
	color: #A0CE4E;
    /*text-decoration: underline;*/
	border-bottom: 3px solid #A0CE4E;
}

/* header menu hover styling */
.menu:active {
	color: #A0CE4E;
	border-bottom: 3px solid #A0CE4E;
}

/* header menu selected styling */
.menu_selected {
	color: #A0CE4E;
	border-bottom: 3px solid #A0CE4E;
}

/* table highlight hover color */
.table-hover > tbody > tr:hover, .table-hover > tbody > tr:hover > td {
    /*background-color: #d8eab9 !important;*/
}

/* table column headers and links color */
a, .btn-link, a:link, a:visited, .link {
    /*color: #9ED1CA !important;*/
    /*color: #A0CE4E !important;*/
}

/* Dashboard panel header color */
.rdDashboardTitle, .panelInnerTable th, .panelInnerTable th td {
    background-color: #e6ffc9 !important;
}

/* adjust badge font size */
.badge-font {
    font-size: 105% !important;
}

/* change warning label color */
.label-warning {
    background-color: #FFC90A !important;
    color: #23556b;
}
/* change danger label color */
.label-danger {
    background-color: #EC7063 !important;
    color: #23556b;
}
/* change success label color */
.label-success {
    background-color: #A0CE4E !important;
    /*color: #2B3D4B;*/
    /*color: #133849;*/
	color: #23556b;
}

/* shrink label sizes to fit smaller columns */
.label {
    padding: .09em .3em .1em;
    border-radius: .1em;
}

/* table header size adjustments */
caption {
    padding-top: 1px;
    padding-bottom: 1px;
}

/* table header size adjustments */
.rdThemeDataTableMainHeader {
    padding-left: 4px;
	font-size: 125%;
}

/* table header color and space between header and column header */
.rdThemeDataTableMainHeader {
    margin-bottom: 0px;
	background-color: #d0cfcf;
}

.rdDashboardPanel, .rdDashboardPanel > table {	
	padding: .2em;
}

/* adjust line height for slim row styling */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1.20;
}

/* set panel heights for inifinit scroll, only Engineer and All Cases views */
.hoverScroll {
	height:calc(78vh);
}

/* tooltip background color to hide white  */
.tooltip-bg-color{
	background-color: #D9EDF7 !important;
}

/* fill dashboard panels to the edge. */
#rdDashboardPanelInnerTable{
	width: 101% !important;
	margin: -2px !important;	
}
@media (max-width: 962px) {
	#rdDashboardPanelInnerTable{
		width: 102% !important;
		margin: -2px !important;
	}
}
@media (max-width: 540px) {
	#rdDashboardPanelInnerTable{
		width: 103% !important;
		margin: -2px !important;
	}
}

/* adjust the dashboard panel header cog */
.rdDashboard img {
    margin-right: 10px;
    margin-bottom: 5px;
}

/* remove some white space in dashboard panel header */
.rdDashboardTitleCaption {
    padding: 2px 5px !important;
}

/* adjust dashboard data table header "Cases for" */
.rdThemeDataTableMainHeader {
    padding-left: 3px;
}

/* Adjust dashboard panel header text */
.panelInnerTable table {
    margin-top: 4px !important;
}

/*******************************************************************  End Custom Changes **********************************************************************/

/*******************************************************************  Start Lambda X **********************************************************************/

/*Material*/
.Material #navigation {
	background: #01ACC0;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	border-color: rgba(0, 0, 0, 0.05);
}
.Material #Sidebar {
	background: #fff;
}
.Material #Footer {
	background: #fff;
	color: #6a7b91;
}
.Material #SidebarMenu div#MenuWrapper>div>a {
	border-color: rgba(0,0,0,.2);
	color: #6a7b91;
}
.Material #SidebarMenu div#MenuWrapper>div ul a:hover, .Material #SidebarMenu div#MenuWrapper>div ul li.active>a, .Material #SidebarMenu div#MenuWrapper>div ul a:focus, .Material #SidebarMenu div#MenuWrapper>div ul > li.active a {
    color: rgba(0,0,0,.9);
}
.Material .masthead {
	background-color: #00a5bb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#008fa1), to(#00a5bb));
    background-image: -webkit-linear-gradient(top, #008fa1 0%, #00a5bb 100%);
    background-image: -o-linear-gradient(top, #008fa1 0%, #00a5bb 100%);
    background-image: linear-gradient(to bottom, #008fa1 0%, #00a5bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008fa1', endColorstr='#00a5bb', GradientType=0);
    background-repeat: repeat-x;
}
.Material #SidebarMenu div#MenuWrapper>div>ul {
    background: rgba(0, 0, 0, .04);
    border-left: 4px solid rgba(0, 0, 0, .2);
}
.Material .feature-icon {
    background: #fad8da;
}
.Material .feature-icon [class*=fa-] {
	color: #ba3338;
}
.Material .daterangepicker .input-mini {
    width: 85%;    
}
.Material .daterange {
	border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    height: 2.1rem;
    width: 98%;
    font-size: 1rem;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    padding: 0 12px;
}
.Material .daterange:focus {
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851; 
}
.Material ul.tagit li.tagit-choice-editable {
    padding: .6em 18px .5em .5em;
}
.Material .navbar  .form-control {
	height: 1.5rem;
}
.Material #SidebarExample {
    background: #EE6E73;
}
/*END Material*/

#dvCopy > .ThemeBold {
    font-size: 95%;
}
.show-grid {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(223, 225, 241, .7);
    border: 1px solid rgba(84, 82, 153, .2);
}
.page-header > h1, .page-header > h2, .page-header > h3, 
.page-header > h4, .page-header > h5, .page-header > h6 {
	display: inline-block;
}
.panel-heading {
    font-weight: 600;
	font-size: 14px;
}
.panel-heading > h3, .panel-heading > .h3, .panel-heading > h4, .panel-heading > h5, .panel-heading > .h5, .panel-heading > h6, .panel-heading > .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
label span {
	font-weight: normal;
}
.list-unstyled a > span > strong {
	color: #292E3C;
}
.cursor-pointer {
	cursor: pointer;
}
.icon-pre {
	padding-left: 75px;
	padding-right: 75px;
}
.rdPopupPanel > tbody > tr > td {
	padding: 8px;
}
.rdPopupPanel > tbody > tr > td {
	padding: 0px;
}
.rdPopupPanel .modal-header, .rdPopupPanel .modal-footer {
	padding: 8px;
}
.highlight {
	border: 2px solid #719ECE;
    outline: none !important;
}
#dvExamples .navbar-fixed-bottom, #dvExamples .navbar-fixed-top {
    position: relative;
	top: auto;
    margin-right: -15px;
    margin-left: -15px;
	margin-bottom: 0;
}
#dvExamples .navbar-fixed-top {
	top: -15px;
}
#dvExamples .navbar-fixed-bottom {
	bottom: -15px;
}
.rd-checkboxlist-popup {
	padding: 10px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.bs-docs-header, .bs-docs-masthead {
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}
/* Common styles for all types */
.bs-callout {
	background: #fff;
	padding: 20px;
	margin: 20px 40px 20px 40px;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.panel-body .bs-callout {
	padding-top: 10px;
	padding-bottom: 10px;
  	margin: 10px 20px;
}
.bs-callout a {
	margin-bottom: 10px;
}
.bs-callout h1, .bs-callout h2, .bs-callout h3, .bs-callout h4,
.bs-callout .h1, .bs-callout .h2, .bs-callout .h3, .bs-callout .h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout h1 + h1, .bs-callout h2 + h2, .bs-callout h3 + h3, .bs-callout h4 + h4,
.bs-callout .h1 + .h1, .bs-callout .h2 + .h2, .bs-callout .h3 + .h3, .bs-callout .h4 + .h4 {
  margin-top: 15px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
	/*display: block;*/
  border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
  margin-top: -5px;
}

fieldset .bs-callout {
	margin: 0px 40px 20px 40px;
    padding: 0 1em;
}
.bs-callout-default {
    background: #fff;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    color: #333;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout-default .h1, .bs-callout-default h2, .bs-callout-default h3, .bs-callout-default h4, .bs-callout-default h5,.bs-callout-default h6,
.bs-callout-default .h1, .bs-callout-default .h2, .bs-callout-default .h3, .bs-callout-default .h4, .bs-callout-infodefault.h5,.bs-callout-default .h6 {
  color: #555;
}
/* Variations */
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h1, .bs-callout-danger h2, .bs-callout-danger h3, .bs-callout-danger h4, .bs-callout-danger h5,.bs-callout-danger h6,
.bs-callout-danger .h1, .bs-callout-danger .h2, .bs-callout-danger .h3, .bs-callout-danger .h4, .bs-callout-danger .h5,.bs-callout-danger .h6 {
  color: #ce4844;
}
.bs-callout-primary {
  border-left-color: #0392d3;
}
.bs-callout-primary h1, .bs-callout-primary h2, .bs-callout-primary h3, .bs-callout-primary h4, .bs-callout-primary h5,.bs-callout-primary h6, 
.bs-callout-primary .h1, .bs-callout-primary .h2, .bs-callout-primary .h3, .bs-callout-primary .h4, .bs-callout-primary .h5,.bs-callout-primary .h6 {
  color: #0392d3;
}
.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning .h1, .bs-callout-warning h2, .bs-callout-warning h3, .bs-callout-warning h4, .bs-callout-warning h5,.bs-callout-warning h6,
.bs-callout-warning .h1, .bs-callout-warning .h2, .bs-callout-warning .h3, .bs-callout-warning .h4, .bs-callout-infowarning.h5,.bs-callout-warning .h6 {
  color: #aa6708;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h1, .bs-callout-info h2, .bs-callout-info h3, .bs-callout-info h4, .bs-callout-info h5,.bs-callout-info h6,
.bs-callout-info .h1, .bs-callout-info .h2, .bs-callout-info .h3, .bs-callout-info .h4, .bs-callout-info .h5,.bs-callout-info .h6 {
  color: #1b809e;
}
.bs-callout-teal {
  border-left-color: #4db6ac;
}
.bs-callout-teal h1, .bs-callout-teal h2, .bs-callout-teal h3, .bs-callout-teal h4, .bs-callout-teal h5,.bs-callout-teal h6,
.bs-callout-teal .h1, .bs-callout-teal .h2, .bs-callout-teal .h3, .bs-callout-teal .h4, .bs-callout-teal .h5,.bs-callout-teal .h6 {
  color: #4db6ac;
}
.bs-callout ul>li:last-child {
	padding-bottom: 0 !important;
}

.code-inline code {
	display: inline;
}
.control-label {
	margin-left: 5px;
	margin-right: 5px;
}
#btnCopyGroupedPanels {
	margin-top: -45px;
}
.bs-callout .lead {
    font-size: 18px;
}

.bs-callout > ul > li > h4 {
	margin-bottom: 2px;
	font-size: 16px;
}
.bs-callout > ul > li > div {
	font-size: 13px;
}
.panel-heading .help-block {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.icon-container [class^="ti-"], .icon-container [class*=" ti-"],
.icon-container [class^="fa-"], .icon-container [class*=" fa-"],
.icon-container [class^="glyphicon-"], .icon-container [class*=" glyphicon-"] {
    font-size: 17px;
    color: #000;
    position: absolute;
    margin-top: 5px;
    transition: .3s;
    border: none;
    padding: 0;
    color: #6b6b6b;
}
.icon-section {
    margin: 0 auto;
    clear: both;
    overflow: hidden;
	max-width: 1440px;
}
.icon-name {
    color: #6b6b6b;
    margin-left: 35px;
    font-size: .8em;
    transition: .3s;
}
.icon-container {
    padding: .7em 0;
    float: left;
    position: relative;
    text-align: left;
	cursor: pointer;
}
.icon-container:hover [class^="ti-"], .icon-container:hover [class*=" ti-"],
.icon-container:hover [class^="fa-"], .icon-container:hover [class*=" fa-"],
.icon-container:hover [class^="glyphicon-"], .icon-container:hover [class*=" glyphicon-"] {
    font-size: 2.2em;
    margin-top: -5px;
}
#lstGrpAffix {
	min-width: 120px;
}
#lstGrpAffix > li > a {
    border: 1px solid #E5E5E5;
    border-bottom: none;
    padding: 8px 14px;
}

#lstGrpAffix > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

#lstGrpAffix > li:last-child > a {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #E5E5E5;
}

#lstGrpAffix > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
    color: #fff;
    background: #0088cc;
}

#lstGrpAffix > li > a:hover {
    background: #0088cc;
    color: #fff;
}

#lstGrpAffix.affix {
    top: 100px;
}

#lstGrpAffix.affix-bottom {
    bottom: 200px;
    position: absolute;
    top: auto;
}
.min-ht-105 {
	min-height: 105px;
	vertical-align: middle
}
.blur{
	transition: all 0.500s ease-out;
	-webkit-filter: blur(5px) grayscale(0.5);
}
/*Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>*/
pre, .pre-well {
    padding: 0;
	background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
	min-height: 2.5em;
    padding-right: 25px;
}
.pre-well pre, .panel-footer pre, .panel-footer .pre-well {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
    padding-right: 0;
	margin-bottom: 0;
}
pre>code {
    padding: 9.5px;
    margin: 0;
    font-size: 95%;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.panel-footer pre {
	padding-left: 10px;
	padding-top: 5px;
}
.panel-footer .btnCopy {
	margin-top: -1px;
	margin-right: -1px;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #2f6f9f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #d44950;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #4f9fcf;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
.more-info {
	cursor: help;
	border-bottom: 1px dotted #777;
	color: #292E3C;
}
.more-info:hover {
	text-decoration: none;
}
.pointer, .box {
	cursor: pointer;
}
.embed-responsive-howto {
    padding-bottom: 51%;
}
#divScrollToTop{
	position: fixed;
	right: .5em;
	bottom: 1em;
	font-size: xx-large;
	display: none;
	opacity: 0.5;
	z-index: 1000;
	background: #CCBEB8;
	padding: 0 .2em;
	border-radius: .37em;
}

#divScrollToTop #ScrollToTop{
	cursor: pointer;
}
video {
    width: 100%;
}
pre {
	white-space: normal;
}
.rdPopupPanelTitle {
	padding: 8px;
}
.popupPanelContainer .rdPopupPanelTitleCaption {
    font-weight: normal;
    margin-bottom: 5px;
	font-size: 18px;
}
.popupPanelContainer .close {
    padding-right: .2em;
}
.copy-wrapper {
     padding: 10px;
     margin: 0;
     padding: 0;
     position: relative;
}
.btnCopy {
	position:absolute;
	top:0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 4px 6px;
    font-size: 16px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}
.panel-footer .btnCopy {
    border-radius: 0 0 0 4px;
}
.btnCopy:hover, .btnCopy:focus {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
fieldset > div, fieldset > .panel {
	margin-left: 15px;
	margin-right: 15px;
}
legend {
    margin-bottom: 15px;
}
#lstGrpAffix > li > a {
    border: 1px solid #E5E5E5;
    border-bottom: none;
    padding: 8px 14px;
}

#lstGrpAffix > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

#lstGrpAffix > li:last-child > a {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #E5E5E5;
}

#lstGrpAffix > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
    color: #fff;
    background: #0088cc;
}

#lstGrpAffix > li > a:hover {
    background: #0088cc;
    color: #fff;
}

#lstGrpAffix.affix {
    top: 100px;
}

#lstGrpAffix.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
}

#gMapStying {
    position: relative;
    border-radius: 5px;
    margin: 0 1em 1em 1em;
    box-shadow: rgba(0,0,0, 0.55) 7px 14px 14px;
    border: 1px solid #eee;
}
#divMap > .btnCopy, #divMap > a > .btnCopy {
	margin-right: 13px;
	padding: 14px;
	background: #fff;
}
#divMap > .btnCopy, #divMap > a > .btnCopy:hover {
	background: #286090 !important;
	color: #fff !important;
	
}
.documentation {
	margin-top: -8px;
	margin-bottom: 5px;
}

.add-padding-top {
	padding-top: 1em;
}
.add-padding-bottom {
	padding-bottom: 1em;
}
.add-padding-bottom-md {
	padding-bottom: .5em;
}
.add-padding-bottom-sm {
	padding-bottom: .2em;
}
.add-padding-left {
	padding-left: 1em;
}
.no-padding-top {
	padding-top: 0px;
}
.no-padding {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}
.add-margin-top {
	margin-top: 1em;
}
.add-side-margins {
	margin-left: 1em;
	margin-right: 1em;
}
.no-margin-bottom {
	margin-bottom: 0;
}
.no-margin {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
.no-margin-top {
	margin-top: 0;
}
.bs-callout > ul > li > div {
	padding-left: .8em;
}
.remove-margins {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -10px;
}
.no-padding.panel-footer {
	padding-bottom: 5px;
}
.mobile-screen {
	width: 450px;
	margin: 0 auto;
}
.help {
    margin-left: 5px;
    margin-bottom: 5px;
	font-size: 16px;
}
.table-light > thead > tr > th, .table-light > tbody > tr > th, .table-light > tfoot > tr > th, 
.table-light > thead > tr > td, .table-light > tbody > tr > td, .table-light > tfoot > tr > td {
    border-top: 1px solid #f6f6f6;
}
iframe {
	border-color: #ddd !important;
}
#SidebarExample {
    background: #1D2733;
	width: 230px;
	margin: 0 auto;
}
/*MODAL POPUPs*/
/*.rdPopupPanel {
    border-radius: 5px; 
}
.popupPanelModal + .popupPanelContainer {
	-webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
	-webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    margin: 0 auto !important;
	max-width: 100%;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
	-webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
	position: fixed;
	top: 60px !important;
	margin-left: 0px !important;
}
.popupPanelModal + .popupPanelContainer:not(#ppChangeDashboard) {
	left: 50% !important;
}
@media (min-width: 768px) {
  .popupPanelModal + .popupPanelContainer {
    width: 600px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .popupPanelModal + .popupPanelContainer.modal-sm {
    width: 300px;
	margin-left: -150px !important;
  }
}
@media (min-width: 1100px) {
   .popupPanelModal + .popupPanelContainer.modal-lg {
		margin-left: -550px !important;
	}
	.popupPanelModal + .popupPanelContainer.modal-lg,
	.popupPanelModal + .popupPanelContainer > .modal-lg {
		width: 1100px;
	}
    .popupPanelModal + .popupPanelContainer.modal-md {
		margin-left: -300px !important;
	}
   .popupPanelModal + .popupPanelContainer.modal-md,
   .popupPanelModal + .popupPanelContainer > .modal-md{
		width: 600px;
    }
}
@media (max-width: 1100px) {
  .popupPanelModal + .popupPanelContainer {
    width: 100%;
	left: 0 !important;
	top: 20 !important;
  }
}*/
/* xtra Small Screen */
@media (max-width: 767px) {
	.icon-container {
		width: 100%;
	}
	.bs-callout {
		background: #fff;
		padding: 20px;
		margin: 20px 8px 20px 8px;
	}
	fieldset {
		margin-bottom: 0;
		padding: 0;
	}
	.page-header > h1, .page-header > h2, .page-header > h3, 
	.page-header > h4, .page-header > h5, .page-header > h6 {
		display: block;
	}
	.page-header > h1 > small {
		display: none;
		padding-top: 5px;
	}
	.h1 > small {
		display: block;
		padding-top: 5px;
	}
	.add-side-margins {
		margin-left: .2em;
		margin-right: .2em;
	}
	.table-responsive {
		border: 0px solid transparent;
	}
	pre, .pre-well, pre>code {
		font-size: 10px;
	}
}
/* Small Screen */
@media (min-width: 768px) and (max-width: 991px) {
	.icon-container {
		width: 50%;
	}
	/*.lead {
		font-size: 19px;
	}*/
}

/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px) {
	.icon-container {
		width: 33%;
	}
	/*.lead {
		font-size: 19px;
	}*/
}

/* Large Screen */
@media (min-width:1200px){
	.icon-container {
		width: 20%;
	}
}

/*Default Report*/
.masthead {
  margin: -15px;
  position: relative;
  padding: 30px 0;
  color: #edeef4;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #545c99;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3d437c), to(#545c99));
  background-image: -webkit-linear-gradient(top, #3d437c 0%, #545c99 100%);
  background-image:      -o-linear-gradient(top, #3d437c 0%, #545c99 100%);
  background-image:         linear-gradient(to bottom, #3d437c 0%, #545c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d437c', endColorstr='#545c99', GradientType=0);
  background-repeat: repeat-x;
}
.masthead .btn-head {
	border: 1px solid #bfc3e3 !important;
    padding: 15px 30px !important;
    font-size: 20px !important;
    color: #fff !important;
	background-color: transparent !important;
}
.masthead > .container > div {
	width: 144px;
    height: 140px;
	border: 1px solid #bfc3e3;
    border-radius: 15%;
	margin: 0 auto 30px;
	padding-top: 15px;
}
.masthead i {
    font-size: 130px;
	display: inline-block;
	margin-top: -40px;
}
.feature-icon {
    text-align: center;
    width: 130px;
    height: 130px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    background: #dfe1f1;
    margin: 0 auto 10px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.feature-icon [class*=fa-] {
    line-height: 120px;
	color: #545c99;
	font-size: 75px;
	display: inline-block;
	margin: 5px auto 0;
}
.doc-content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}
.content-wt {
  background-color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
}

.btn-group {
	margin: 5px;
}
@media (min-width: 768px) {
  .doc-content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .doc-content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .doc-content {
    width: 1300px;
  }
}
/* Masthead (headings and download button) */
.masthead .booticon {
  margin: 0 auto 30px;
}
.masthead h1, .masthead h2 {
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-align: center;
}
.masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #fff;
}
.masthead .version {
  margin-top: -15px;
  margin-bottom: 30px;
  color: #9783b9;
}

@media (min-width: 480px) {
  .masthead .btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .masthead {
    padding: 80px 0;
  }
  .masthead h1 {
    font-size: 60px;
  }
  .masthead .lead {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .masthead .lead {
    width: 80%;
    font-size: 30px;
  }
}

.header {
  margin-bottom: 40px;
  font-size: 20px;
}
.header h1 {
  margin-top: 0;
  color: #fff;
}
.header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}
.header .container {
  position: relative;
}

@media (min-width: 768px) {
  .header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }
  .header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .header h1,
  .header p {
    margin-right: 380px;
  }
}
.modal-example {
	height: 300px;
	overflow: hidden;
}
.modal-example > .popupPanelModal {
    position: relative;
	width: 100% !important;
	height: 300px !important;
	z-index: 1;
}
.modal-example > .popupPanelContainer {
    position: relative;
    top: -250px !important;
    right: auto !important;
    bottom: auto !important;
    left: 50% !important;
	margin-left: -300px;
    display: inline-block;
	z-index: 3;
}

.modal-example > .popupPanelContainer>table {
	min-width: 300px;
}

@media (min-width: 1099px) {
}

@media (max-width: 1100px) {
	.modal-example > .popupPanelContainer {
		margin-left: 0px;
		left: 1% !important;
		width: 98%;
	}
}

/*******************************************************************  End Lambda X **********************************************************************/