/*Logi Tabs*/
#rdDashboardTabs *:not(.rdDashboardPanel,.rdDashboardTitle, .panelInnerTable th, .panelInnerTable th td) {
	background-color: transparent !important;
}
.yui-content {
	overflow: visible !important;
	min-height: 200px;
}
#rdDashboardTabs .yui-navset.yui-navset-top>.yui-content>div,
#rdDashboardTabs .yui-navset .yui-nav li {
    background-color: #E1E1E1 !important;
}
.yui-nav>li:not(.selected) {
    border-bottom: 1px solid rgba(229, 229, 229, .5);
    background-color: #EFEFF1;
}
.yui-nav>li>a {
    border: 1px solid rgba(229, 229, 229, .5);
    border-bottom: 0 !important;
    border-radius: 2px 2px 0 0 !important;
    color: #2E2925 !important;
    line-height: 1.3333333;
}
.yui-nav a:link {
    text-decoration: none;
    background-image: none;
    background-color: #d4d4d4 !important;
}
.yui-navset .yui-nav .selected a {
    background-image: none;
}
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav a {
    font-size: 16px;
}
.yui-nav>li>a {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.yui-nav>li:first-child>a {
    margin-left: 0 !important;
}
.yui-nav>li:not(.selected)>a {
    border-bottom: 0px;
}
.yui-nav>li:not(.selected) {
    border-bottom: 1px solid #dddddd;
}
.yui-nav>li.selected>a {
    background-color: #fff;
}
.yui-navset .yui-nav li.selected,
.yui-navset .yui-nav li.selected:hover {
    background-color: #fff;
    border-top: 0;
    border-color: transparent !important;
    text-align: center;
}
.yui-navset .yui-nav li:not(.selected):hover {
    background-color: #ddd !important;
    background-repeat: repeat-x;
    text-decoration: none !important;
}
.yui-navset .yui-nav li {
    padding: 0;
	padding-left: 0 !important;
    border-radius: 2px 2px 0 0;
}
.yui-navset .yui-nav li a {
    padding: 0 40px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0;
}
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav li a,
#rdTabs > ul > li > a {
    border-top: #dddddd solid 1px !important;
    border-right: #dddddd solid 1px !important;
    border-left: #dddddd solid 1px !important;
    border-color: #dddddd !important;
    width: 100% !important;
}
.yui-content table {
    margin-bottom: 0;
}
#rdTabs > ul > li.selected > a {
    border-bottom: none !important;
}
.yui-navset .yui-nav li em {
    padding-top: .8em !important;
    padding-bottom: .8em !important;
    margin-bottom: 0;
}
#rdTabs .selected.yui3-dd-drop a em {
    font-weight: bold;
}
.rdDashboardTabs {
    margin-top: 0;
    position: relative;
    margin-top: .625em;
}
#rdDashboardPanelTable,
#rdDivDashboardPanelTable,
.rdDashboardDropZone {
    background-color: #trasparent !important;
    min-height: 8em;
}
td.rdDashboard,
.rdDashboardPanelContainer {
    background-color: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}
.rdDashboardPanel {
    margin-bottom: 5px;
}
.rdDashboardPanelImageColumn {
    text-align: center;
}
.table-striped > tbody > tr:nth-of-type(odd) > td {
    background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover, .table-hover > tbody > tr:hover > td {
    background-color: #E7E8E8;
}
.yui-navset div.yui-content > div {
    border: 1px solid #dddddd !important;
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: 400px;
    padding: 5px 5px;
}
#rdRenameTabDiv {
	/*left: auto !important;
	margin-top: -40px;
	margin-left: 3px;
    top: auto !important;*/
    margin-top: -40px;
    margin-left: -227px;
	top: auto !important;
	
}
/*End Logi Tabs*/