/*Start responsive dashboards*/
@media (max-width: 1000px){
	.dashboard-responsive #rdDashboardPanelTable,
	.dashboard-responsive #rdDashboardPanelTable > tbody	
	{
		display: block;
		border-collapse: collapse !important;
		border: none !important;
		position: relative;
		width: 100% !important;
		min-width: 100% !important;	
	}
	.dashboard-responsive #rdDashboardPanelTable > tbody > tr, 
	.dashboard-responsive #rdDashboardPanelTable > tbody > tr > td
	{
		display: block;
		border-collapse: collapse !important;
		border: none !important;
		position: relative;
		width: 100% !important;
		min-width: 100% !important;	
		max-width: 100% !important;
		padding: 0px 0px 0px 0px;
	}
	.dashboard-responsive .rdDashboardDropZone 
	{
		background-color: Transparent;
	}
	.dashboard-responsive iframe 
	{
		width: 1px;
		min-width: 100%;
		*width: 100%;
	}
}
/*End responsive dashboards*/