/* Used to define the background when a case is owned by someone other than the account assigned ASE */
.bgASEAccount{
	/* Fallback for web browsers that don't support RGBa */
    background-color: #FFC90A;
    /* RGBa with 0.6 opacity */
    /*background-color: rgba(240,20,10, 0.4);*/
}

.overElispse {
    width: 200px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.overElispse300 {
    width:300px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.overElispseThin {
    width: 100px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.greenBg {
background-color: #82E0AA;
}

.yellowBg {
background-color: #F7DC6F;
}

.redBg {
background-color: #EC7063;
}

Body {
font-size: .8em;
}

.inLineMenu {
display: inline-flex!important;
    list-style-type: none!important;
	}
.inLineMenu li {
padding: 0px 5px;
}

.maxHeight300 {
	max-height: 300px;
	overflow: auto;
	}