@import url("https://fonts.googleapis.com/css?family=Roboto");

/*Generic Conditional Classes*/
.hiddenElement {
	visibility: hidden;
}

.Roboto {
	font-family: 'Roboto', sans-serif;
}


* {
	margin: 0;
	padding: 0;
}


#divExport {
	position: fixed;
	top: 5px;
	left: 5px;
	z-index: 1000;
}


table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0px;
}


/*Main wrapper in calling report 'AccountStatement'*/
#divReport {
	position: relative;
}


/*Each 'sheet' in account statement should have this class */
.paper
{
        overflow: hidden;
        width: 8.0in;
		height: 10.5in;
		/* Printer Margins */
		padding-top: 0.25in;
		padding-right: 0.25in;
		padding-bottom: 0.25in;
		padding-left: 0.25in;
		/*background-color: purple;*/
}


/*this is the main outer wrapper for the subreports*/
.pageWrapper {
	position: relative;
	width: 8.0in;
	height: 10.5in;
	min-height: 10.5in;
	border: 1px solid black;
}


.stmtHeader {
	position: relative;
	height: 3.25in;
	/*background-color: Green;*/
}


.stmtBody {
	position: relative;
	height: 7.25in;
	padding-left: 0.125in;
	padding-right: 0.125in;
}


.stmtBodyFirstPage {
	position: relative;
	height: 4.25in;
	padding-left: 0.125in;
	padding-right: 0.125in;
	/*background-color: red;*/
}


.stmtRemit {
	position: relative;
	height: 3.0in;
}


.statementReturnAddress {
	/*background-color: pink;*/
	text-align: left;
	margin-top: 0.125in;
	margin-left: 0.125in; /*10px*/
}


.divReturnLogo {
	float: left;
	margin-right: 0.1875in; /*15px*/
}


.statmentTopInfo {
	margin-top: 0.125in;
	margin-Right: 0.125in;
	/*background-color: yellow;*/
	/*border: 1px solid black;*/

}


.statmentTopInfo table {
	width: auto;
	margin-right: 0px;
	margin-left: auto;
}


.accountStatementLabel {
	text-align: center;
	background-color: #25A0DA;
	color: white;
	font-weight: bold;
	font-size: larger;
	padding: 2px 10px 2px 10px;
	margin-bottom: 0.0625in;
	border-bottom: 2px solid black;
}


.statmentTopInfo th {
	color:white;
	font-weight: bold;
	font-size: larger;
	padding-bottom: 0.0625in;
}


.statmentTopInfo table{
	border: 1px solid black;
}


.statmentTopInfo table td {
	border-right: 1px solid black;
}


.statementInfoLabel {
	text-align: left;
	background-color: #25A0DA;
	color: white;
	font-weight: bold;
}


.statementInfoValue {
	text-align: center;
	font-weight: bold;
}

.statementInfoValue > .stmtTotalDollarAmount {
	color: green;
	font-size: 105%;
}

.PageOfPage {
	display: block;
	font-size: larger;
	font-weight: bold;
	text-align: right;
	width: auto;
	margin-right: 0px;
	margin-left: auto;
}


.statementAddress {
	/*background-color: brown;*/
	margin-top: 0.75in;
	margin-left: 0.65in;
	text-align: left;
	font-size: 110%;
	font-style: normal;

}


.stmtCustomerNumber {
	border: 1px solid black;
	width: 1.5in;
	text-align: center;
	margin-bottom: 0.125in;
	margin-left: 6.24in;
	padding-left: 0;
}


.customerNoLabel {
	background-color: #25A0DA;
	color: white;
	display: block;
	font-weight: bold;
}


.custNumber {
	font-weight: bold;
}


.statementDetail {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.statementDetail table,.rdThemeDataTable, .rdAgDataTable, .rdOgOlapTable, .rdDgOlapTable {
	background-color: white;
}


.statementDetail th {
	background-color: #25A0DA;
	text-align: left;
	color: white;
	padding: 2px 2px 2px 10px
}


.statementDetail th.hdrCenter {
	background-color: #25A0DA;
	text-align: center;
}


.StatementAlternatingRow{
	background-color: #F1F1F9;
}


tr.StatementAlternatingRow td, .rdAg tr.StatementAlternatingRow td, 
.rdAgDataTable tr.StatementAlternatingRow td, .rdThemeDataTable tr.StatementAlternatingRow > td {
  background-color: #F1F1F9 /*TableDataAlternateBackgroundColor*/ ;
}


/*Aging*/

.statementAging {
	width: 100%;
	border: 1px solid black;
	font-weight: bold;
	
}

.statementAging table td {
	border-right: 1px solid black;
	font-size: 90%;
	font-weight: bold;
	padding: 10px 3px 5px 3px;
	text-align: center;

}

.statementAging table td:last-child {
	border-right: 0px 

}

/*Aging*/

.stmtMessages {
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: left;

}

.perfMessage {
	font-weight: bold;
}

.perfLine {
	margin-top: .0625in;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}


.statementBottomAddress {
		/*background-color: brown;*/
		float: left;
		margin-top: 0.25in;
		margin-left: 0.25in;
		text-align: left;
		font-size: 110%;
		line-height: 100%;
		font-style: normal;
		font-weight: bold;

	

}


.remitPaymentInfo {
	float: right;
	margin-top: 0.25in;
	margin-right: 0.25in;
	width: 3in;
}


.statementRemitAddress {
	float: left;
	clear: left;
	margin-left: 0.25in;
	margin-top: 0.45in;
	text-align: left;
	font-size: 110%;
	line-height: 100%;
	font-style: normal;
	font-weight: bold;
}





.statementBottomInfo th {
	color:white;
	font-weight: bold;
	font-size: larger;
	padding-bottom: 0.0625in;
}


.statementBottomInfo table{
	border: 1px solid black;
}


.statementBottomInfo table td {
	border-right: 1px solid black;
}

.statementBottomInfoLabel {
	text-align: left;
	background-color: #25A0DA;
	color: white;
	font-weight: bold;
}


.statementBottomInfoValue {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid black;
}

.statementBottomInfoValue > .stmtTotalDollarAmount {
	color: green;
	font-size: 105%;
}

