* {
	margin: 0;
	padding: 0;
}

.paper
{
	height: 11in;
	width: 8.5in;
    margin: 20px auto;
        
}
#divExport {
	position: fixed;
	top: 5px;
	left: 5px;
}

.paper
{
	position:relative;
    border-width: 1px;
    border-style: solid;
    border-color: #959595;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
}
