.rdThemeReport {
	padding: 0px !important;
	margin: 5px;
}
BODY {
	background-color: #FFFFFF;
	padding: 0px;
	margin: 5px;
}
.wristband {
	background-color: #FFFFFF;
	padding: 0px;
	color: #000000;
}
.bkg {
	padding: 0px;
	font-size: 6em;
	font-weight: bold;
	color: #FF0000;
	text-align: center;
}
.jid {
	padding: 0px 5px 0px 1px;
	font-size: 3em;
	font-weight: bold;
	color: #000099;
	text-align: right;
}
.dob {
	padding: 0px 10px 0px 1px;
	font-size: 3em;
	color: #000000;
}
.truename {
	padding: 0px;
	font-size: 1.8em;
	font-weight: bold;
	color: #006633;
}
.name {
	padding: 0px 1px 0px 5px;
	font-size: 2.7em;
	font-weight: normal;
	color: #000000;
}
.name_bold {
	padding: 0px 1px 0px 5px;
	font-size: 4em;
	font-weight: bold;
	color: #000000;
}
.align_top {
	vertical-align: top;
}