
IMG {
    border: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	}

A	{	
	font-size: 8pt;
	}	

A:link	{	
	text-decoration:	none;
	color:#464646;
	
	}	
	
		
A:visited	{	
	text-decoration:	none;
	color:	#464646;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#3D4871;
	}	
		
A:hover	{
	text-decoration:underline;
	color:#336699;
}

.HeaderCol	{	
	background-color : #464646; 
	font-size:8pt;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border: 0px;
	color: #ffffff;
	height: 27px;
	text-align: center;
	
	}
	
.HeaderCol_16pt	{	
	background-color: #464646; 
	font-size:16pt;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border: 0px;
	color: #FFFFFF;
	height: 35px;
	text-align: center;
	
	}
	
.HeaderCol2	{	
	background-color : #464646; 
	font-size:8pt;
	font-weight : bold;
	padding-bottom : 2;
	padding-left : 5;
	padding-right : 5;
	padding-top : 2;
	border: 0px;
	color: #ffffff;
	height: 18px;
	text-align: center;
	}	
.HeaderCol2Wrapped	{	
	background-color : #464646; 
	font-size:8pt;
	font-weight : bold;
	padding-bottom : 2;
	padding-left : 5;
	padding-right : 5;
	padding-top : 2;
	border: 0px;
	color: #ffffff;
	height: 18px;
	text-align: center;
	word-wrap: break-word;
	}
	
.HeaderCol3	{	
	background-color: #464646; 
	font-size:8pt;
	font-weight : bold;
	padding-bottom : 0;
	padding-left : 0;
	padding-right : 0;
	padding-top : 0;
	border: 0px;
	color: #ffffff;
	height: 20px;
	text-align: center;
	
	}	
	
	.HeaderColVertical {	
	background-color : #E0F2F7; 
	font-size:8pt;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border: 0px;
	color: #000000;
	height: 150px;
	writing-mode: tb-rl;
    filter: flipv fliph;
	}
	
	

/* LINKS IN THE HEADER COLUMNS (SORTING) */
.HeaderCol	a {	
	font-size:8pt;
	}	
	
.HeaderCol a:link	{	
	text-decoration:	none;
	color:#FFFFFF;
	}	
	
.HeaderCol a:visited	{	
	text-decoration:	none;
	color:	#FFFFFF;
	}	
		
 .HeaderCol a:active	{	
	text-decoration:	none;
	color:	#FFFFFF;
	}	
		
.HeaderCol a:hover	{
	text-decoration:underline;
	color:#FFFFFF;
}
/* HEADER 2 */
.HeaderCol2	a {	
	font-size:8pt;
	}	
	
.HeaderCol2 a:link	{	
	text-decoration:	none;
	color:#FFFFFF;
	}	
	
.HeaderCol2 a:visited	{	
	text-decoration:	none;
	color:	#FFFFFF;
	}	
		
 .HeaderCol2 a:active	{	
	text-decoration:	none;
	color:	#FFFFFF;
	}	
		
.HeaderCol2 a:hover	{
	text-decoration:underline;
	color:#FFFFFF;
	}
	
/* HEADER 16pt */
.HeaderCol_16pt	a {	
	font-size:16pt;
	}	
	
.HeaderCol_16pt a:link	{	
	text-decoration:	none;
	color:#FFFFFF;
	}	
	
.HeaderCol_16pt a:visited	{	
	text-decoration:	none;
	color:	#FFFFFF;
	}	
		
 .HeaderCol_16pt a:active	{	
	text-decoration:	none;
	color:	#FFFFFF;
	}	
		
.HeaderCol_16pt a:hover	{
	text-decoration:underline;
	color:#FFFFFF;
	}
/* LINKS FOR THE INACTIVE CATALOG ITEMS  */

.redLink	{	
	text-decoration:	none;
	color: #FF0000;
	font-weight:bold;
	padding-left: 2px;
	}	

.redLink	a {	
	font-size:8pt;
	font-weight:bold;
	padding-left: 2px;
	}

.redLink a:link	{	
	text-decoration:	none;
	color: #FF0000;
	font-weight:bold;
	padding-left: 2px;
	}	

.redLink a:visited	{	
	text-decoration:	none;
	color:	#FF0000;
	font-weight:bold;
	padding-left: 2px;
	}	
		
 .redLink a:active	{	
	text-decoration:	none;
	color:	#FF0000;
	font-weight:bold;
	padding-left: 2px;
	}	
		
.redLink a:hover	{
	text-decoration:underline;
	color:#FF0000;
	font-weight:bold;
	padding-left: 2px;
    }	

.redNumber    {	
	color: #FF0000;
	text-align:right;
	padding-right:7px;
	}	
	
.redText    {	
	color: #FF0000;
	text-align:left;
	padding-left:5px;
	font-weight:normal !important;
	}

.greenText    {	
	color: #009900;
	text-align:left;
	padding-left:5px;
	font-weight:normal !important;
	}

/* MAIN NAVIGATION LINKS (TOP LEFT) */

.navigationTable a {	
	font-size:8pt;
	}

.navigationTable a:link	{	
	text-decoration:	none;
	color:#000000;
	}	

.navigationTable a:visited	{	
	text-decoration:	none;
	color:#000000;
	}	
		
 .navigationTable a:active	{	
	text-decoration:	none;
	color:#336699;
	}	
		
.navigationTable a:hover	{
	text-decoration:none;
	color:#336699;
}	





/* classes */
body
{
	background-color: #FFFFFF;
	color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
	margin: 0px;
	padding-top: 0px;
	padding-left : 15px;
	padding-right : 15px;
	vertical-align : middle;
	text-align : left;
}

.innerBody
{
	background-color: #FFFFFF;
	color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-top: 0px;
	padding-left : 0px !important;
	padding-right : 0px !important;
	vertical-align : middle;
	text-align : left;
}


.BannerCol {
	background-color : black;
	margin-left: 10px;
	padding-left:7px;
}

.menu_buttonlabel
{
	border-right: solid 1px black;
	border-top: solid 1px black;
	border-left: 0px;
	font-size: 8pt;
	color: white;
	border-bottom: solid 1px black;
	background-color: #49bbc1;
	height: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:0px;
	padding-top: 0px;
	padding-bottom : 0px;
	padding-left:0px;
	padding-right: 6px !important;
	white-space: nowrap;
}
.left_menucircle
{
	background-color: #49bbc1;
	margin-right: 0px;
	padding-right: 0px;
	border-right:0px;
	padding-left:0px;
	white-space: nowrap;
	text-align: right;
}

.menu_button
{
	border-top: solid 1px black;
	font-size: 8pt;
	color: black;
	border-bottom: solid 1px black;
	font-family: Arial;
	background-color: #ffffff;
	text-align: center;
	height: 10px;
	white-space: nowrap;
	border-left: 0px;
	padding-left: 6px !important;
	margin-left: 0px;
}

table.navigationTable {

    padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-left: 0px;
	white-space: nowrap;
	

}

.navigationTable td{
   
	height: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom : 0px;
	padding-left:0px;
	padding-right:0px;
	white-space: nowrap;

}

.ReportingHeaderCol {
	background-color : #464646;
	color: #FFFFFF;
	font: bold 14pt Arial;
	padding-bottom: 5px;
	padding-left: 17px;
	padding-right: 0px;
	padding-top: 5px;
	margin-right: 0px;
	
	width: 100%;
        height: 30px;
	
}

.ReportingHeaderColWhite {
	background-color : #ffffff;
	color: #888888;
	font: bold 14pt Arial;
	padding-bottom: 5px;
	padding-left: 17px;
	padding-right: 0px;
	padding-top: 0px;
	margin-right: 0px;
	
	width: 100%;
        height: 30px;
	
}


.DateTimeCol {
	background-color : #C5C4DD;
	color: #605CA8;
	font: bold 9pt Verdana;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 15px;
}

.DateTimeFooter {
	
	color: #000000;
	font: bold 9pt Arial;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 15px;
	text-align: right;
}


.OverviewTableDescr {
	
	color: black;
	font: bold 9pt Arial;
    text-align: right;
	padding-left: 20px;
	padding-right: 3px;
	height: 10px;
}

.OverviewTableLabData {
	
	color: black;
	font: bold 9pt Arial;
	padding-left: 0;
    text-align: left;
	padding-right: 0;
	margin-right:0;
	margin-left:0;
	height: 10px;
}


.HeaderDescrLandscape {
	
	color: #464646;
	font: bold 7pt Arial;
    text-align: right;
	padding-left: 40px;
	padding-right: 3px;
	height: 10px;
}

.HeaderDataLandscape {
	
	color: #464646;
	font: bold 7pt Arial;
	padding-left: 0;
    text-align: left;
	padding-right: 0;
	margin-right:0;
	margin-left:0;
	height: 10px;
}

.OverviewTableDescr_11pt {
	
	color: black;
	font: bold 11pt Arial;
   text-align: right;
	padding-left: 40px;
	padding-right: 3px;
}

.OverviewTableLabData_11pt {
	
	color: black;
	font: bold 11pt Arial;
	padding-left: 0;
   text-align: left;
	padding-right: 0;
	margin-right:0;
	margin-left:0;
}

.PageTitleCol	{
	background: #ffffff;
	color: black;
	font: bold 12pt Arial;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 0px;
	padding-top: 6px;
	margin-right: 0px;
	margin-bottom: 10px;
	width: 100%;
    height: 40px;
}

.ExportHeader	{
	background: #FFFFFF;
	color: #464646;
	font: bold 14pt Arial;
	padding-left: 24px;
	padding-right: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 100%;
    height: 10px;
	vertical-align: middle;
}

.ExportHeaderWhite	{
	background: #ffffff;
	color: #464646;
	font: 14pt Arial;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 100%;
    height: 30px;
	vertical-align: middle;
}

.ExportHeaderWhiteSmallFont	{
	background: #ffffff;
	color: black;
	font: 8pt Arial;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    height: 10px;
	vertical-align: middle;
}

.ExportHeaderData	{
	background: #ffffff;
	color: #464646;
	font: bold 11pt Arial;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 100%;
    height: 10px;
	vertical-align: middle;
}


.ParamsCol {
      margin-top: 0;
        padding-bottom: 5px;
	padding-left: 13px;
	padding-right: 0px;
	padding-top: 0;
        width: 100%;
        font-size: 10pt;
}

.txCaption {
	margin-left : 10px;	
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
	vertical-align: middle;
}

.tx {
	margin-right : 10px;
	vertical-align: middle;	
	
}

.txChk {
	
	vertical-align: middle;	
	text-align: right;
}

.textChkLabels {
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	text-align: left;
	padding-right: 10px;
	vertical-align: middle;
	padding-top: 2px;
	padding-left: 0;
	margin-left: 0
	
	
}

.tabs{
	margin-right : 15px;
	vertical-align: middle;
	margin-top:0;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;	
	
}



.tabRule{
	vertical-align: top;
	margin-bottom: 0;
	border: 1;
	border-color: Gray;
	border-top: 5;
	
	
}

.paging {
	background-color : #FFFFFF;
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	margin-bottom : 5px;
	padding-left: 3px;		
}

.runLinks
{
	 font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
	 
}


.runArrows
{
	 font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
	 font-weight:bold;
	 
}

.yui-navset select
{
	height: 20px;
}

.yui-navset select[multiple]
{
	height: auto !important;
}

.comboLong
{
	width:270px;
	font-size: 8pt;

}

.comboLong300
{
	width:300px;
	font-size: 8pt;
}

.comboShort
{
	width:180px;
	font-size: 8pt;
	
}

.comboTimePeriod
{
	width:198px !important;
	font-size: 8pt;
	
}

.comboTime
{
	width:70px;
	font-size: 8pt;
		
}

.comboTimePeriod
{
	width:190px;
	font-size: 8pt;	
}

.comboAMPM
{
	width:45px;
	font-size: 8pt;
	vertical-align: middle;
		
}

.chartTitle
{
	background: #FFFFFF;
	color: #222222;
	font: bold 12pt Arial;
}

.yui-navset input[type=text]
{
	margin-top: 1px;
	height: 14px;
}

.textShort
{
	width:45px;
	font-size: 8pt;	
	vertical-align: middle;
}

.textMedium
{
	width:175px;
	font-size: 8pt;	
	vertical-align: middle;
}

.textNumericShort
{
	width:45px;
	font-size: 8pt;	
	text-align: right;
}


.textNumericMedium
{
	width:95px;
	font-size: 8pt;	
	text-align: right;
}

.comboLongPatient
{
	width:270px;
	font-size: 8pt;
}

.textLong
{
	width:200px;
	font-size: 8pt;
}

.textPatientSearch
{
	width:265px;
	font-size: 8pt;
}

table.listTable
{
	background-color : #FFFFFF;
	margin-left : 0px;
	margin-top: 0;
	padding-top: 0;
    font-size: 8pt;	
	/* border-collapse: collapse; */
}

table.listTable_16pt
{
	background-color : #FFFFFF;
	margin-left : 0px;
	margin-top: 0;
	padding-top: 2;
	padding-bottom: 2;
    font-size: 16pt;	
	/* border-collapse: collapse; */
}

table.listTable_16pt tr
{
	border:1px solid #FFFFFF; 
    margin-bottom:5px;
	background-color:#F2F2F2;
	padding: 2px;
}

table.listTableGray
{
	background-color :#FFFFFF;
	margin-left : 0px;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 2px;
    font-size: 8pt;		
}

table.listTableGray tr
{
	border:1px solid #FFFFFF; 
    margin-bottom:5px;
	background-color:#EAEAEA;
	padding: 2px;		
}

table.listTableGray tr.tableTotals
{
  font-family: Arial;
  color: #000000;
  font-size: 8pt;
  font-weight: bold;
  text-align: right;
  padding-right: 7px;
  vertical-align: middle;
  padding-top: 0px;
  padding-left: 0;
  margin-left: 0;
  background: #50bec8;			
}

table.hierarchTblLevel3 tr.tableTotals
{
  font-family: Arial;
  color: #000000;
  font-size: 8pt;
  font-weight: bold;
  text-align: right;
  padding-right: 7px;
  vertical-align: middle;
  padding-top: 0px;
  padding-left: 0;
  margin-left: 0;
  background: #50bec8;			
}

table.mealHistoryTable
{
	background-color : #FFFFFF;
	margin-left : 0px;
	margin-top: 0;
	padding-top: 0;
    font-size: 8pt;
	table-layout:fixed;
		
}

/* TABLE HEADER FOR NON-WRAPPED TEXT (ELLIPSIS) */
.mealHistoryTable th  {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
 } 
 
 .mealHistoryDetailTable th  {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
 } 
 
 .listTableGray th  {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
 } 
 
 .detailTableRS th  {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
 } 
 
 

 /* TABLE DATA FOR NON-WRAPPED TEXT (ELLIPSIS) */
 
 /* Patient Meal History/w. Audit Trail */
 .mealHistoryTable td {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
 }  
 
  .mealHistoryDetailTable td {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
 }  
 
 /* Room Service Orders Statistics by Guest Type/Stats Summary */
  .listTableGray td {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
 } 
 
 .detailTableRS td {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
 } 
 

table.menuPlanTable
{
	background-color : #E6E6E6;
	margin-left : 0px;
	margin-top: 0;
	padding-top: 0;
    font-size: 8pt;
	font-weight:bold;
	font-family: Arial;
	width:200px;
		
}

table.menuPlanDetailTable
{
   
	background-color : #FFFFFF;
	margin-left : 0px;
    font-size: 8pt;
	padding-left: 0px;
	border-bottom: 0;
	border-bottom-width: 0px;
	
	width:200px;
		
}

.nutriTable
{
	background-color : #FFFFFF;
	
	margin-left : 0px;
	
    font-size: 8pt;
	
}

.nutriTable2
{
	background-color : #FFFFFF;
	margin-left : 20px;
    font-size: 8pt;
	
}


.listTableCost
{
	background-color : #FFFFFF;
	text-align: center;
	
	
	
   font-size: 8pt;
}


.patientDetailTable
{
	background-color : #FFFFFF;
	border:0;
	margin-left : 0px;
	padding-bottom : 2;
	padding-left : 2;
	padding-right : 2;
	padding-top : 2;
    font-size: 8pt;
	
}

.listTableHeader
{
	background-color : #464646; 
	font-weight : bold;
	text-align: center;
	border: 0px;
}

.colLink
{
	font-weight:bold;
	padding-left: 5px;
}

.colText
{
	padding-left: 5px;
}


.HeaderColCost
{
	background-color : #464646;
	color: #ffffff; 
	font-size:8pt;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 15;
	padding-right : 15;
	padding-top : 5;
	border: 0px;
}

.FooterColCost
{
	background-color : black;
	color: #ffffff; 
	font-size:10pt;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 15;
	padding-right : 15;
	padding-top : 5;
	border: 0px;
}

.HeaderColCost	a {	
	font-size:8pt;
	}	
	
.HeaderColCost a:link	{	
	text-decoration:	none;
	color:#FFFFFF;
	}	
	
		
.HeaderColCost a:visited	{	
	text-decoration:	none;
	color:	#FFFFFF;
	}	
		
 .HeaderColCost a:active	{	
	text-decoration:	none;
	color:	#FFFFFF;
	}	
		
.HeaderColCost a:hover	{
	text-decoration:underline;
	color:#FFFFFF;
}

.listTableAlt
{
	background-color : #E6E6E6;
	padding-bottom : 2;
	padding-left : 2;
	padding-right : 2;
	padding-top : 2;
	margin-left : 17px;
}

.detailTableAlt
{
	background-color : #F0F0F0;
	padding-bottom : 2;
	padding-top : 2;
	/* margin-left : 17px; */
}


.date {
	width: 65px;
	margin-right: 5px;
	text-align: right;
}

.cid {
	color: #000099;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.right {
        text-align: right;
}


.buttonFirst {
	margin-left : 14px;
	margin-right : 12px;
}

.buttons {
	margin-left : 14px;
	margin-right : 12px;
	margin-top : 15px;
	margin-bottom : 10px;
}


.bold
{
    font-weight: bold;
    font-size: 8pt;
}


.DetailTable
{
	background-color : #FFFFFF;
	padding-bottom : 2;
	padding-left : 2;
	padding-right : 2;
	padding-top : 2;
	margin-left : 17px;
	margin-top : 5px;
	border : 1px solid #000000;
    font-size: 8pt;
	 
}

.InnerTable
{
	background-color : #ffffff;
	margin-left : 0px;
    font-size: 8pt;
	/*padding-left: 10px;*/
	border-bottom: 1;
	border-bottom-width: 1px;
    padding-right:0px;
	margin-right:0px;
	
	 
}

.DetailTableRS
{
	background-color : #FFFFFF;
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	border-bottom: 1;
	border-bottom-width: 1px;
	table-layout:fixed;
	margin-right: 0px;
	 
}



.DetailTableHeader  {
	background-color : #E6E6E6;
	font-weight : bold;
	padding-bottom : 2;
	padding-left : 2;
	padding-right : 2;
	padding-top : 2;
	border: 0px;
	text-align: center;
}

.DetailTableCells  {
	background-color : #FFFFFF;
	padding-bottom : 0;
	padding-left : 10px;
	padding-right : 0;
	padding-top : 0;
	border: 0px;
     text-align: right;
	  font-size: 8pt;
}



.DetailTableCellsData  {
	background-color : #FFFFFF;
	padding-bottom : 0;
	padding-left : 0;
	padding-right : 10px;
	padding-top : 0;
	border: 0px;
     text-align: left;
	  font-size: 8pt;
	  font-weight: bold;
}


.DetailTableCellsDataItalic  {
	background-color : #FFFFFF;
	padding-bottom : 0;
	padding-left : 0;
	padding-right : 10px;
	padding-top : 0;
	border: 0px;
    text-align: left;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.redtext {
	color: Red;
	font-weight : bold;
}


.text {
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	margin-bottom : 0;
	padding-left : 2;
	padding-right : 5;
	padding-top : 5;
	vertical-align: bottom;
}

.footerText {
	font-family: Arial;
	color: #000000;
	font-size: 8pt;	
	margin-left: 0px;
	padding-left: 0px;
}

.radioText {
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	margin-bottom : 0;
	padding-left : 0;
	padding-right : 15px;
	padding-top : 0;
	vertical-align: middle;
}

.pagerLeft {
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	margin-bottom : 0;
	margin-left : 5px;
	padding-left : 0;
	padding-right : 15px;
	padding-top : 0;
	vertical-align: middle;
	text-align: right;
}

.controlsCell
{
	margin-left : 0;
	margin-right : 0;
	margin-top : 0;
	vertical-align: top;
}

/* table for wrapped text */
table.listTableWrapped
{
    background-color : #FFFFFF;
	margin-left : 0px;
	margin-top: 0;
	padding-top: 0;
    font-size: 8pt;	
}

/* table for wrapped text - do not wrap table header */
table.listTableWrapped th { 
  
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}   

/* table for wrapped text - do wrap table data  */
table.listTableWrapped td { 
  
	word-wrap: break-word;
} 

.table
{
	font-family: Arial;
	color: Black;
	font-size: 8pt;
	background-color : #F7F7F7;
	width: 535px;
	padding-bottom : 2;
	padding-left : 2;
	padding-right : 2;
	padding-top : 2;
	margin-left : 10px;
	border : 1px solid #000000;
}

/* table header non-wrapped text (ellipsis) */
.listTable th  {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
	border-left: 2px solid white;
    border-top: 2px solid white;
	text-align: center;
 }  
 
 

 /* table data for non-wrapped text (ellipsis) */
 .listTable td {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
	border-left: 2px solid white;
	padding-top: 3px;
	padding-bottom: 2px;
 }  
 

.tableContact
{
	font-family: Arial;
	color: Black;
	font-size: 8pt;
	background-color : #F7F7F7;
	width: 530px;
	padding-bottom : 2;
	padding-left : 6;
	padding-right : 4;
	padding-top : 4;
	margin-left : 10px;
	border : 1px solid #635DAD;
}

.ContactTable
{
	font-family: Arial;
	color: Black;
	font-size: 8pt;
	background-color : #E7E7E7;
	padding-bottom : 2;
	padding-left : 2;
	padding-right : 2;
	padding-top : 2;
	margin-left : 11px;
	margin-top : 5px;
	border : 1px solid #000000;
}

.ContactTableHeader
{
	color: Black;
	background-color : #D2D2D2;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	border: 0;
}

.AlignRight
{
	text-align: right;
	
}

.AlignCenter
{
	text-align: center;
	
}

.AlignLeft
{
	text-align: left;
	
}

.AlignTopLeft
{
	text-align: left;
	vertical-align: top;
	background-color: #FFFFFF;
    padding-top: 0px; 
	padding-right: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px;
}

.AlignMiddle
{
	text-align: middle;
}

.PagerAlignMiddle
{
	text-align: middle;
	margin-left: 40px;
	margin-bottom: 5px;
	margin-right: 0px;
	font-family: Arial;
	color: Black;
	font-size: 8pt;
	
}

.colQuant
{
	  font-weight: normal;
}

.grayLineCell
{
	padding-left: 0;
	margin-top: 2px;
	padding-right: 0;
	margin-left:0;
	margin-bottom:0;
	height: 1px;
	white-space: nowrap;
}


.tabsCell{
	
	vertical-align: bottom;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
	padding-right: 0;
	margin-right: 0;
	text-decoration: none;
	cursor: default;
}

.filterCell
{
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 3px;
	padding-right: 0;
	margin-right: 0;
	padding-left: 0;
	vertical-align: top;
	text-align: right;
}

.filterCellChkBoxLeft
{
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 3px;
	padding-right: 0;
	margin-right: 0;
	padding-left: 0px;
	vertical-align: top;
	text-align: right;
}

.filterRectangle
{
	margin-bottom: 0;
	margin-left: 20px;
	padding-bottom: 0px;
	padding-top: 3px;
	padding-right: 0;
	margin-right: 0;
	padding-left: 5px;
	vertical-align: top;
	text-align: middle;
}

.PrefsRectangle
{
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0;
	margin-right: 0;
	padding-left: 5px;
	vertical-align: top;
	text-align: top;
}


.runReportCell
{
	margin-bottom: 0;
	margin-left: 0px;
	padding-bottom: 0;
	padding-top: 0px;
	padding-right: 0;
	margin-right: 0;
	padding-left:10px;
	vertical-align: top;
	text-align:left;
}

.chkLabel
{
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 2px;
	padding-right: 0;
	margin-right: 0;
	padding-left:0;
	text-align: left;
	margin-left:0;
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	vertical-align: bottom;
}

.colNumber
{
	text-align:right;
	padding-right:7px;
}

.colNumberTotal
{
	text-align:right;
	padding-right:7px;
	background: #B0C4DE !important;
	font-weight: bold !important;
}

table.colNumber
{
	font-size: 8pt;
	width: 100%;
	position: relative;
	left: 4px;
}

table.colText
{
	font-size: 8pt;
	width: 100%;
	position: relative;
}

table.colIndentedText
{
	font-size: 8pt;
	width: 100%;
	position: relative;
}

table.colNumber td
{
	background: white;
}

table.colText td
{
	background: white;
}

table.colIndentedText td
{
	background: white;
	padding-left: 30px !important;
}

.colLeft
{
	text-align:left;
	padding-left:7px;
}

.colMiddle
{
	padding-left:7px;
	text-align:middle;
}

table.catalogsDetailTable
{
   
	background-color : #ffffff;
	margin-left : 20px;
    font-size: 8pt;
	/*padding-left: 10px;*/
	border-bottom: 1;
	border-bottom-width: 1px;
    padding-right:0px;
	margin-right:0px;
	
}

.catalogsDetailTable th  {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
 }  
 

 /* table data for non-wrapped text (ellipsis) */
 .catalogsDetailTable td {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}

table.drillDownTable
{
   
	background-color : #ffffff;
	margin-left : 0px;
    font-size: 8pt;
	/*padding-left: 10px;*/
	border-bottom: 1;
	border-bottom-width: 1px;
    padding-right:0px;
	padding-left: 0px !important;
	margin-right:0px;
	
}

.drillDownTable th  {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
 }  

 .drillDownTable td {                        
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}

table.mealHistoryDetailTable
{
   
	background-color : #FFFFFF;
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	border-bottom: 1;
	border-bottom-width: 1px;
	table-layout:fixed;
		
}


table.hierarchTblLevel0
{
    /*background-color : #AAAAFF;*/
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed;

}

table.hierarchTblLevel0 tr
{
    background-color : #AAAAFF;
}


table.hierarchTblLevel1
{
    /*background-color : #BEBEFF;*/
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed;
	border-collapse: collapse;
}

table.hierarchTblLevel1 tr
{
    background-color : #BEBEFF;
	
}


table.hierarchTblLevel2
{
    /*background-color : #D2D2FF;*/
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed;
	border-collapse: collapse;
}

table.hierarchTblLevel2 tr
{
  background-color : #D2D2FF;
  
}


table.hierarchTblLevel3
{
    /*background-color : #E5E5FF;*/
	margin-left : 15px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed;
	border-collapse: collapse;

}

table.hierarchTblLevel3 tr
{
  	background-color : #edffff;
	
}

table.hierarchTblLevel4
{
    /*background-color : #EDEDF8;*/
	margin-left : 15px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed;
	border-collapse: collapse;

}

table.hierarchTblLevel4 tr
{
    background-color : #EDEDF8;
	
}

table.hierarchTblLevel5
{
    /* background-color : #FFFFFF; */
	margin-left : 15px;
    font-size: 8pt;
	padding-left: 10px;
	/*table-layout:fixed;
	 border-collapse: collapse; */

}

table.hierarchTblLevel5 tr
{
   background-color : #FFFFFF;
   border-bottom:2px solid black;
   
}

table.hierarchTblLevel21
{
    /*background-color : #FFFFFF;
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed; */
	
	background-color :#FFFFFF;
	margin-left : 18px;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 2px;
    font-size: 8pt;	
}


table.hierarchTblLevel21 tr 
{
	border:1px solid #FFFFFF; 
    margin-bottom:5px;
	background-color:#FFFFFF;
	padding: 2px;		
}

table.hierarchTblLevel21 td 
{
	border:1px solid #FFFFFF; 
	padding: 2px;		
}


table.NutritionPlanTable1
{
   
	background-color : #81BEF7;
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed;
	
	
		
}

table.NutritionPlanTable2
{
   
	background-color : #A9D0F5;
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed;
	border-bottom:0;
		
}

.NutritionPlanTable2 td
{
    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom : 0px;
	padding-left:0px;
	padding-right:0px;
}

table.NutritionPlanTable3
{
   
	background-color : #CEE3F6;
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed;
	
		
}

.NutritionPlanTable3 td
{
    margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom : 0px;
	padding-left:0px;
	padding-right:0px;
}

table.NutritionPlanTable4
{
   
	background-color : #E0ECF8;
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed;
	
		
}

.NutritionPlanTable4 td
{
    margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom : 0px;
	padding-left:0px;
	padding-right:0px;
}

table.NutritionPlanTable5
{
   
	background-color : #FFFFFF;
	margin-left : 20px;
    font-size: 8pt;
	padding-left: 10px;
	table-layout:fixed;
		
}

.NutritionPlanTable5 td
{
    margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom : 0px;
	padding-left:0px;
	padding-right:0px;
}


.recipeDetailTable
{
   
	background-color : #EEF2D5;
	margin-left : 55px;
   font-size: 8pt;
	padding-left: 10px;
	border-bottom-width: 1px;
	
}

.detailHeaderCol	{	
	background: #E6E6E6;
	color: #464646;
	font-size:8pt;
	font-weight : bold;
	padding-bottom : 3px;
	padding-left : 5px;
	padding-right : 3px;
	padding-top : 3px;
	margin-top:3px;
	border: 0px;
	text-align: center;
	
	
	}
	
.dateInput
{
	margin-right : 2px;
	vertical-align: middle;	
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	height: 14px;
}

.cellDateInput
{
	padding-bottom: 5px;
}

.cellComboLeft
{
   padding-left: 20px;
	padding-top: 1px;
	padding-right: 7px;
	vertical-align: top;
}	

.cellCheckLeft
{
   padding-left: 20px;
	padding-top: 2px;
	vertical-align: bottom;
}	

.cellCombo
{
   
	padding-top: 1px;
	padding-right: 7px;
	padding-bottom: 0px;
	vertical-align: top;
	
}	
.cellComboBottomRow
{
    padding-top: 0px;
	padding-right: 7px;
	vertical-align: top;
	padding-bottom: 0px;
	margin-top: 0px;
	
}

.cellText
{
   
	padding-top: 0px;
	padding-right: 7px;
	padding-bottom: 0px;
	vertical-align: top;
	
}	

.cellDate
{
   
	padding-top: 0px;
	padding-right: 7px;
	vertical-align: top;
	padding-bottom: 0.5px;
	
}	

.cellDateBottomRow
{
   
	padding-top: 0px;
	padding-right: 7px;
	vertical-align: top;
	padding-bottom: 0px;
	margin-top: 0px;
	
}	

.calendarLink
{
   
	padding-top: 1px;
	padding-right: 7px;
	padding-bottom: 4px;
	margin-top: 0;
	vertical-align: top;
	
}	

.cellRadio
{
   
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	
}	

.cellComboRect
{
   
	padding-top: 0px;
	padding-right: 7px;
	padding-bottom: 0px;
	vertical-align: top;
	padding-left: 7px;
}	

.cellFilterLabelsLeft
{
	padding-top: 7px;
	padding-left: 20px;
	vertical-align: top;
}	

.cellFilterLabels
{
	padding-top: 7px;
	vertical-align: top;
	padding-left: 1px;
}	

.cellFilterLabelsBottomRow
{
	padding-top: 0px;
	vertical-align: middle;
	padding-left: 1px;
	padding-bottom: 0px;
}	

.cellFilterLabelsRect
{
	padding-top: 3px;
	vertical-align: top;
	padding-left: 5px;
}	

.cellCheckBoxLabel
{
	vertical-align: middle;
	text-align: left;
}

.FooterCol	{	
background-color : #E6E6E6; 
font-size:8pt;
font-weight : bold;
padding-bottom : 3;
padding-left : 3;
padding-right : 3;
padding-top : 3;
border: 0px;
color: #000000;
}	

.TablePicture{
	padding-left: 0;
	margin-left: 0;
	
}

.CellPicture{
	padding-left: 0;
	margin-left: 0;
	
}

.cellSubCCLeft{
	vertical-align: top;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 20px;
	
}	

.tableTotals{
	font-family: Arial;
	color: #FFFFFF;
	font-size: 8pt;
	font-weight: bold;
	text-align: right;
	padding-right: 7px;
	vertical-align: middle;
	padding-top: 0px;
	padding-left: 0;
	margin-left: 0;
	background: #464646;
	
}

.tableSubTotals{
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
	text-align: right;
	padding-right: 7px;
	vertical-align: middle;
	padding-top: 0px;
	padding-left: 0;
	margin-left: 0;
	background: #E0ECF8;
	
}

.tableSubTotalsGroupInfo{
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
	text-align: right;
	padding-right: 7px;
	vertical-align: middle;
	padding-top: 0px;
	padding-left: 0;
	margin-left: 0;
	background: #EAF2FA;
	
}

.tableSubTotalsLeftAlign{
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0;
	margin-left: 0;
	background: #E0ECF8;
	
}

.tableSubTotalsGroupInfoLeftAlign{
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0;
	margin-left: 0;
	background: #EAF2FA;
	
}

.tableHeaderRow{
	padding-top: 5;
	padding-right: 5;
	padding-left: 5;
	padding-bottom: 5;
	margin-left: 5;	
	margin-right: 5;
	margin-top: 5;
	margin-bottom: 5;
}
	

.nowrapcell{
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	white-space:nowrap;
   padding: 0;
	margin:0;

}

.tabModifyActive{
	background-image: url(../_Images/modify_active.jpg);
	background-repeat: no-repeat;
	text-align: center;
	padding-left: 20px;
	height: 22px;
	width: 125px;
}
.tabModifyInactive{
	background-image: url(../_Images/modify_inactive.jpg);
	background-repeat: no-repeat;
	text-align: center;
	padding-left: 20px;
	height: 20px;
	width: 125px;
}
.tabModifyHover{
	background-image: url(../_Images/modify_hover.jpg);
	background-repeat: no-repeat;
	text-align: center;
	padding-left: 20px;
	height: 20px;
	width: 125px;
}
.tabPreferencesActive{
	background-image: url(../_Images/prefs_active.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 22px;
	width: 105px;
}
.tabPreferencesInactive{
	background-image: url(../_Images/prefs_inactive.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 20px;
	width: 105px;
}
.tabPreferencesHover{
	background-image: url(../_Images/prefs_hover.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 20px;
	width: 105px;
}

.tabsDivision{
	width:230px;
}

.activeTabLabel{
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
	vertical-align: bottom;
	margin-top:10px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
	padding-right: 0;
	margin-right: 0;
	text-decoration: none;
	cursor: default;
}

.inactiveTabLabel{
	
	font-family: Arial;
	color: #000000;
	font-size: 8pt;
	font-weight: normal;
	vertical-align: bottom;
	margin-top:10px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
	padding-right: 0;
	margin-right: 0;
	text-decoration: none;
	cursor: default;
}

.redBackground
{
	background-color: #FF5555;
	font-weight : bold;
	text-align: right;
	padding-right: 7px;
}

.redFont
{
	color: #FF0000;
	font-weight : bold;
	text-align: right;
	padding-right: 7px;
}

.redFontNumberColumn
{
	color: #FF0000;
	text-align: right;
	padding-right: 7px;
}

.redFontTextColumn
{
	color: #FF0000;	
	padding-left: 5px;
}

.whiteBackground
{
	background-color: #FFFFFF;
	font-weight : bold;
	text-align: right;
	padding-right: 7px;
}

.whiteBackgroundMIR
{
	background-color: #FFFFFF;
}

.greenBackground
{
	background-color: #55FF55;
	font-weight : bold;
	text-align: right;
	padding-right: 7px;
}

.yellowBackground
{
	background-color: #FFFF55;	
	font-weight : bold;
	text-align: right;
	padding-right: 7px;
}

.orangeBackground
{
	background-color: #FF6600;	
	font-weight : bold;
	text-align: right;
	padding-right: 7px;
}

.yellowBackgroundAssignment
{
	background-color: #FFFFDD;		
	text-align: left;
	padding-right: 7px;
}

.orangeBackgroundAssignment
{
	background-color: #FFEECA;		
	text-align: left;
	padding-right: 7px;
}

.greenBackgroundAssignment
{
	background-color: #EEFFDD;		
	text-align: left;
	padding-right: 7px;
}

.blueBackgroundAssignment
{
	background-color: #DDEEFF;		
	text-align: left;
	padding-right: 7px;
}

.invertedText
{
	background-color: #000000;		
	color: #FFFFFF;
	padding-left: 5px;
}

.buttons
{
  text-align: center;
  font-size: 8pt;
  height: 20px;
  width: 100px;
  padding-left:0px;
  margin-left:0px;
}

.pageBreak
{
  page-break-before: always;
}

.hierarchicalRow1Text
{
	background: #E0ECF8;
	padding-left: 5px;
	font-size: 8pt;
	
	padding-bottom: 3px;
	border-bottom-width:0;
	margin-bottom:0px;
}
.hierarchicalRow1Number
{
	background: #E0ECF8;
	text-align:right;
	padding-right:7px;
	font-size: 8pt;
	
	padding-bottom: 3px;
	border-bottom-width:0;
	margin-bottom:0px;
	  	
}

.hierarchicalRow2Text
{
	background: #E6E6E6;
	padding-left: 5px;
	font-size: 8pt;
	margin-bottom:0px;
	padding-bottom: 3px;
	margin-top: 3px;
	border-bottom-width: 0;
}
.hierarchicalRow2Number
{
	background: #E6E6E6;
	text-align:right;
	padding-right:7px;
	font-size: 8pt;
	margin-bottom:0px;
	margin-top: 3px;
	padding-bottom:3px;
	border-bottom-width:0;
	  	
}

.invalidValueNumericMedium
{
	width:90px;
	font-size: 8pt;	
	text-align: right;
	background: red;
}

.rowHeight20px
{
  	height:20px !important;
}

.Hidden
{
  display: none;
}

/* Tab elements - default*/
ul.yui-nav > li
{
	background-image: url(../_Images/tab_inactive.png);
	background-repeat: repeat-x;
}

/* Tab on hover */
ul.yui-nav > li:hover
{
	background-image: url(../_Images/tab_hover.png);
}

/* Selected tab */
ul.yui-nav > li.selected
{
	background-image: url(../_Images/tab_active.png);
}

/* Hide tab text background color, so that tab images show through */
ul.yui-nav > li > a
{
	background-color: transparent !important;
}

/* Hide underlining on hover from tab texts */
ul.yui-nav > li > a:hover
{
	text-decoration: none;
}

/* Override padding of tab texts */
.yui-navset .yui-nav li em
{
	padding: 0.2em 0.5em !important;
}

/* Override table header height */
.display:table-header-group th
{
  height: 10px !important;
}

/* TEAL TABLE */
.tealTable
{
  	font-family: Arial;
 	font-size: 8pt;
	height: 15px;
}

.tealTable tr th 
{
	background-color: #50bec8;
	white-space: nowrap; 
	height: 17px !important;
	text-align: center !important;
	/*color: white;*/
}

.tealTable td
{
	background-color: #d3eef1;
	height: 15px;
}


.tealTableSubTotalsNumber
{
	font-weight: bold !important;
	background-color: #50bec8 !important;
	text-align: right;
	padding-right: 7px !important;
}

.tealTableSubTotalsText
{
	font-weight: bold !important;
	background-color: #50bec8 !important;
	text-align: left;
	padding-left: 7px !important;
}

.whiteTable
{
  	font-family: Arial;
 	font-size: 8pt;
	height: 15px;
}

.whiteTable tr th 
{
	background-color: white;
	white-space: nowrap; 
	height: 17px !important;
	text-align: center !important;
	/*color: white;*/
}

.whiteTable td
{
	background-color: #FFFFFF;
	height: 15px;
}
