/*
.grayDataBckgrnd
{
background-color:#C0C0C0  !important !gray;
text-align:right !important;
font-weight:normal !important;
color:#F0F8FF; 
}

.GrayDataText
{
text-align:right !important;
font-weight:normal !important;
color:8c8e90; 
}

.GrizBlack {
	color:#000000;
}

.GrizMaroon {
	color:#5e001d;
}

.GrizLtMaroon {
	color:#ab0035;
}

.GrizLtMaroonBckgrnd {
	background-color:#780025;
	padding: 3px;
}

.GrizDkGrayBckgrnd {
	background-color:#8c8e90;
	padding: 3px;
}

.GrizDkGray {
	color:#8c8e90;
}
.GrizDkGrayBckgrnd {
	background-color:#8c8e90;
	padding: 3px;
}

.GrizLtGray {
	color:#d5cdc5;
}
.GrizLtGrayBckgrnd {
	background-color:#d5cdc5;
	padding: 3px;
}

.GrizGreen {
	color:#aba30a;
}

.GrizBlue {
	color:#00476b;
}

.GrizOrange {
	color:#d7822d;
}

.GrizBrown {
	color:#311c0f;
}

.GrizWebCream {
	color:#fbfbf5;
}
*/
.ThemeTextLarger {
	font-size: 145%;
	color:#666666;
}

.ReportTitle
{
color: #5e001d;
font-weight: bold;
font-size: 145%;
}
/*
.rdThemeDataTableHeaderRow, th.rdThemeDataTableCell {	
	background-image: url(rdThemeDataTableHeaderRow.png);
	background-repeat: repeat-x;
	color: #fff;
	background-color: #8c8e90;
}
*/
.rdThemeDataTableHeader, table.rdAgDataTable th, tr.rdAgHeaderRow th {
	background-image: url(rdThemeHeaderFade.png);
	background-repeat: repeat-x;
	background-color: #D3D3D3;
	color: #5d5b50;	
	font-weight: bold;			
	border-top: 1px Solid #000;
}

.rdThemeDataTableSummaryRow td {
	background-color: #d5cdc5;
	background: #d5cdc5;
	padding-left: 4px;	
	color: #000;	
	font-weight: bold;
}


.rdThemeDataTableSummaryRowGrey td {
	background-color: #D3D3D3;
	background: #D3D3D3;
	padding-left: 4px;	
	color: #000;	

}


.rdThemeDataTableSummaryRowWhite td {
	background-color: #FFFFFF;
	background: #FFFFFF;
	padding-left: 4px;	
	color: #000;	

}

.rdThemeDataTableSummaryRowEndingBalance td {
	background-color: #D3D3D3;
	background: #D3D3D3;
	padding-left: 4px;	
	color: #000;	
	font-weight: bold;

}


.rdThemeDataTableCell  {
	background-color: #FFFFFF;		
	/*padding: 4px;*/
}

.rdThemeDataTableRow  {
	background-color: #D3D3D3;		
	/*padding: 4px;*/
}

.isFullWidth { 
		width: 100%;
	}

.footerClassRight
{
	text-align: right;
	width: 100%;
}

.UI_Rows {
    height: 28px;
	border-collapse: collapse;
	background-color: #E0E0E0;
	font-family: Arial;
	font-size: 10pt;
}

.UI_Cols {
	padding: 10px;
	text-align: left;
}

.tableBackground{
background-color: #D5CDC5;
}

.NumColHead{
    padding-right: 8px;
	text-align: right;
    background-color: #deb887;
	border-top: 1px Solid #000;
}


.NumColHeadCenter{
    padding-right: 8px;
	text-align: center;
    background-color: #deb887;
	border-top: 1px Solid #000;
}

.BoldTextRight{
	font-weight: bold;	
	background-color:  #d5cdc5;
	text-align: right;
	
}
.BoldTextLeft{
	font-weight: bold;	
	background-color:  #d5cdc5;
	text-align: left;
	
}

/*
.ConfidWM{
	height: 200px;
	width: 200px;
	background-image: confid.JPG;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	}
.ConfidWM img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	filter:alpha(opacity=50);
	}
.body {
    background-image: confid.JPG;
	background-color: #cccccc;
    }
.RowIndent{
    padding-left: 20px;
}	
*/
.noPageBreakCell { 
 
 page-break-inside: avoid; 
 
} 
.rightAlignText{
text-align: right;
}

.leftAlignText{
text-align: left;
}

.sizeTwelveFont {
	font: 12px arial,sans-serif;
}

/*	
.select2 {
      width: 100%;
}

*/

#igCriteria, #igCriteria2 {
     /* border: 1px solid black;
      background-color: Beige;*/
	  width: 80%;
	  display: none;
}

/*
.myCrossTabHeader TH { 
background-color: BurlyWood; 
color: Green; 
}
*/

.hline-single-double { 
border-top:  1px solid #000;
border-bottom:  double
}


.hline-none-double { 
border-top:  none;
border-bottom:  double
} 

.hline-none-single { 
border-top:  none;
border-bottom:  1px solid #000;
} 

.hline-single-none { 
border-top: 1px solid #000; 
border-bottom:  none;
} 

.hline-single-single { 
border-top:  1px solid #000;
border-bottom:  1px solid #000;
} 



.sizeTwentyAvenirFont {	
	font-size: 20px;
	font-family: Avenir LT Std 35 Light;
}

.sizeTwentyCourierFont {
	font-size: 20px;
	font-family: Courier;
}

.sizeTwentyArialFont {	
	font-size: 20px;
	font-family: Arial;
}

.sizeTwentyVivaldiFont {	
	font-size: 20px;
	font-family: Vivaldi;
}

.sizeTwentyBBFont {	
	font-size: 20px;
	font-family: Britannic;
}

