/*Global Style Settings */
BODY {		
	font-family: arial, sans-serif;
	font-size: 11px;
	color: #333333;
}

TABLE {
	font-family: arial, sans-serif;
	font-size: 100%;
	color: Black;
}

#Seperator 
{
	color: Black;
}

IMG{
	border: 0px;
}


a:link {
	color: #2262ab;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:visited {	
	color: #2262ab;
	text-decoration: none;
}
a:hover {
        color: blue;
	text-decoration: underline;
}


.rdDashboardPanelDescription span.rdDashboardCommand {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.25;
    border-radius: 4px;
    color: #fff;
    background-color: #6C6D71;
    border-color: #6C6D71;
}

a:focus {
	outline:none;
}

A:hover.ThemeLinkButton, 
A:hover.ThemeLinkButtonSmall,
A:hover.ThemeLinkButtonSmall2,
A:link.ThemeLinkButton, 
A:link.ThemeLinkButtonSmall,
A:link.ThemeLinkButtonSmall2,
A:visited.ThemeLinkButton, 
A:visited.ThemeLinkButtonSmall,
A:visited.ThemeLinkButtonSmall2,
A:active.ThemeLinkButton, 
A:active.ThemeLinkButtonSmall,
A:active.ThemeLinkButtonSmall2 {
	color: white;
	text-decoration: none;
}

.ThemeLinkButton:hover,
.ThemeLinkButtonSmall:hover,
.ThemeLinkButtonSmall2:hover,
img:hover.rdThemePaging,
td:hover.rdAgUnselectedTab,
td:hover.rdOgUnselectedTab,
span:hover.rdAgCommand,
span:hover.rdOgCommand,  
span:hover.rdCgCommand,
span:hover.rdDashboardCommand {
    color: #fff;
    background-color: #535457;
    border-color: #4e4f52;
}

td:hover.rdAgUnselectedTabOn {
	background-image: url(rdButtonOutOnHover.png);
} 
span:hover.rdAcCommand {
	background-image: url(rdButtonHover.png);
}   

Input.ThemeLinkButton, Input.ThemeLinkButtonSmall, Input.ThemeLinkButtonSmall2 {
	line-height: 10px;
}

/* Paging */
.rdThemePaging {
	color: black;
	vertical-align : text-bottom;
	font-size:small;
}

.rdThemePagingCurrent {
	background-color: #8EC4DC;
	color: #FFFFFF;
	font-weight: bold;
	padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 3px;
    padding-right:3px;
	text-align: center;
}

input.rdThemePagingCurrent {
	font-size: 100%;
	font-weight: normal;
	color: #000000;
	background-color: white;
	border: 1px solid #CCCCCC;
	padding: 2px;
}

img.rdThemePaging {
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 0px;
    border-radius: 4px;
    color: #fff;
    background-color: #6C6D71;
    border-color: #6C6D71;
}

/* User Input Controls */
.rdThemeInputCaption {		
	padding-right: 10px;
	vertical-align: middle;	
	font-size:small;
}

input.rdThemeInput, textarea.rdThemeInput, select.rdThemeInput, select.rdDataCalendarDropdown {
    font-family: arial, sans-serif;
    border: 1px solid #6C6D71;
    width:290px;
}

input[type="checkbox" i] {
    height: 16px;
    width: 16px;
}

/* Input checkbox list */
.rd-checkboxlist, .rd-checkboxlist-dropdown {	
	font-family: arial, sans-serif;
}
 
.rd-checkboxlist-popup {
	border: 2px solid #ccc;	
	padding: 2px;
}

/* Quicktip */




.rdquicktip-content {
	background-color: #f0f9fd;
	border-color: #bab9b9;
}

.quicktip-pointer {
	border-color: #bab9b9 transparent;
}

.quicktip-pointer-inner {
	border-color: #f0f9fd transparent;
}

.rdquicktip-content .header {
	background-color: #bfe0ef;
}

/* PopupPanel */

.first-of-type{
	background-color:#84a3ba;
}

.rdPopupMenu a:visited
{
    color:white;
	font-size:small;
}


.rdPopupMenu a:link{
	color:white;
	font-size:small;
}
.rdPopupMenu a:hover{
	background-color:#fbdb82;
	color:black;
}

.rdPopupPanel
{
	border: none;
	border-spacing: 0px;
	background-color: white;
}

.rdPopupPanelTitle
{
	background-color: #2262ab;
	background-image: none;	
	font-weight: bold;
	height: 32px;
	border: none!important;
        border-bottom-left-radius: 0px!important;
        border-bottom-right-radius: 0px!important;

}

.rdPopupPanelTitleCaption
{
    font-weight: normal;
    padding-left: 4px;
    font-size: larger;
}

TD.rdPopupPanelControl
{
	background-image: none;
	background-repeat:repeat-x;
	background-color: #BFE0EF;	
	font-weight: bolder;
	text-align:right;
	color: #FFFFFF;
	border: none!important;
        -webkit-border-bottom-right-radius: 0px!important
}

/* PopupMenu */

.yuimenubaritemlabel, .yuimenuitemlabel, .yuimenubaritem, .yuimenuitem
{
    color: #0000CC;
}

.yuimenubaritemlabel-selected, .yuimenuitemlabel-selected, .yuimenubaritem-selected, .yuimenuitem-selected
{
    color: #0000CC;
	background-color: #EFEFEF;
    text-decoration: none;
}

/* Analysis/OLAP Grid, Chart */

.rdAg Table, .rdAc Table, .rdOg Table, .rdDg Table, .rdCg  Table {
	color: black;
}

.rdAgTabHeading
{
	color: White;
}

.rdDragHeaderRow A
{
	color: black;
}

.rdAcContentRow, .rdAgPanel, .rdOgPanel, .rdDgPanel, .rdCgPanel  {	
	background-repeat: repeat;
	color: #5D5B50;
	vertical-align: top;	
	border: 1px solid #C1C1C1;
}

.rdAcContentRow select, .rdAgPanel select, .rdOgPanel select, .rdDgPanel select, rdCgPanel select { 
	width: auto;
        font-size: 100%;
}

#colChartRelevanceColumnCell3 {
        float:left;
}

.rdOgContentHeading, .rdDgContentHeading, .rdCgContentHeading
{
	color: #5D5B50;
	font-weight: bold;
	font-size: 110%;
}

.rdOgSubContentHeading, .rdDgSubContentHeading
{
	color: #5D5B50;
	font-weight: bold;
}

.rdOgPositionCell, .rdOgPositionCellXAxis, .rdOgPositionCellYAxis , .rdCgPositionCellYAxis, .rdCgPositionCellXAxis   {
	background-image: none;	
	background-color: #F3EAD0;
	color: #4D4A3B;	
	font-weight: normal;	
	border-top: 0px;
	padding-left: 3px;
	padding-right: 3px;
}

.rdOgPositionCellXAxis, .rdOgPositionCellYAxis  {
	font-weight: normal;	
}

.rdOgSortColumn {
	background-image: url(themeHeaderFade.png);
	background-repeat: repeat-x;
	border-top: 1px Solid #FFFFFF;
	padding: 4px;
}

.rdOgDataCell, .rdCgDataCell  {
	background-color: #F3EAD0;
	background-color: #FCFAF5;
	color: #4D4A3B;	
	font-weight: normal;	
	padding: 4px;	
}

#lblLeft, #lblTop, #lblMeasure, #lblExport {
	color: #5D5B50;	
	font-family: arial, sans-serif;
}

.rdAgContentHeadingRow, .rdOgContentHeadingRow, .rdDgContentHeadingRow, .rdCgContentHeadingRow
{
	background-color: #EFEFEF;
}

.rdAgCaptionRow, .rdOgCaptionRow, .rdAcCaptionRow, .rdDgCaptionRow , .rdCgCaptionRow {
	background-image: none;
	font-size: 115%;	
	font-weight: bold;
	text-align: left;
	color: #6C6D71;
}
.rdAgCaptionRow TD, .rdOgCaptionRow TD, .rdAcCaptionRow TD, .rdDgCaptionRow TD, .rdCgCaptionRow TD {
	background-image: url(headerBar.png);
}

.rdAgUnselectedTab, .rdOgUnselectedTab, .rdAgSelectedTab
{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.25;
    border-radius: 4px;
    color: #fff;
    background-color: #6C6D71;
    border-color: #6C6D71;
}

.rdAgSelectedTab, .rdOgSelectedTab
{
    color: #fff;
    background-color: #535457;
    border-color: #4e4f52;
}

.rdAgSelectedTabOn
{	
    background-image: url(rdButtonInOn.png);
}
.rdAgUnselectedTabOn
{
    background-image: url(rdButtonOutOn.png);
}

.rdAgCommand, .rdOgCommand, .rdAcCommand, .rdCgCommand  {
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #6C6D71;
    border-color: #6C6D71;
}

.rdAgCommand:hover, .rdOgCommand:hover, .rdAcCommand:hover, .rdCgCommand:hover  
{
    color: #fff;
    background-color: #535457;
    border-color: #4e4f52;
}

.rdAcCommandHighlight {
	color: black;
	margin:2px;
	border-bottom: 3px solid black;	
}

.rdAgCommandHighlight {
	color: black;
	margin:2px;
}

.rdAgCommandIdle {
	margin:2px;
}

.rdAcCommandIdle{
	margin:2px;
}

.rdAcCommandMiddle
{
	border-left:0;
}
.rdAcCommandRight
{
	border-left:0;
}

.rdAgError, .rdOgError, .rdDgError, .rdCgError  {
	color: #DC642A;
	font-weight: normal;
}

.rdAgEditOn{
	background-color:transparent;
}

.rdDgSelected, .rdCgSelected
{
	background-color: #8EC4DC;
	color: #FFFFFF;
}

.rdAc TABLE
{ 	
	border: none;
}

.rdBackgroundLevel7 {
      background-color: #C0C0C0;
}
.rdBackgroundLevel6 {
      background-color: #C8C8C8;
}
.rdBackgroundLevel5 {
      background-color: #D0D0D0;
}
.rdBackgroundLevel4 {
      background-color: #D8D8D8;
}
.rdBackgroundLevel3 {
      background-color: #E0E0E0;
}
.rdBackgroundLevel2 {
      background-color: #E8E8E8;
}
.rdBackgroundLevel1 {
      background-color: #F0F0F0;
}
.rdBackgroundLevel0 {
      background-color: #F8F8F8;
}

/* Dashboard */

.rdDashboard
{
	font-family: arial, sans-serif;
}

TD.rdDashboard
{
	background-color: #EFEFEF;
}

td.rdDashboardTitle .rdDashboardText
{
	color: white;
}

td.rdDashboardTitle input.rdDashboardText
{
	color: black;
}

.rdDashboardText
{
	color: black;
}

span.rdDashboardTitleCaption
{
	color: black;
}

td.rdDashboardTitle .rdDashboardTitleCaption
{
	color: white;
}

td.rdDashboardPanelDescription .rdDashboardTitleCaption
{
	color: black;
}

.rdDashboardMenu
{
	background-color: #EFEFEF;
	padding-top: 4px;
}

TR.rdDashboardMenu
{
	background-color: #EFEFEF;
	color:#FFFFFF;
	text-align:left;
}

.rdDashboardColumn
{
	vertical-align:top;
	padding: 5px;
	background-color: #EFEFEF;	
}

.rdDashboardPanel
{	
	border: 2px solid #DDDAC8;

}

TD.rdDashboardTitle
{
	background-image: url(headerBar.png);;
	font-weight: normal;
	background-color:#FFFFFF;
}

.rdDashboardParams
{
	background-color:#EFEFEF;
	color: #464646;
}

TD.rdDashboardParams
{
	background-color:#EFEFEF;
	color: #464646
}

TD.rdDashboardParamsSave
{
	background-color:#E0F1F8;
	vertical-align:bottom;
	text-align:right;
	color:#464646;
	padding-right: 3px;
	padding-left: 3px;
}

.rdDashboardCommand, .rdPopupPanelCommand
{
	color: white;	
	text-decoration: none;
	margin-left: 3px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: transparent;
	border: none;
	font-weight: bolder;
}

/* Dashboard Dropzone */

.rdDashboardDropZone
{
	height: 15px;
}

.rdDashboardDropZoneActive, .rdAgDropZoneActive
{
    background-image: none;
	background-color: #DDDAC8;
    border-color: #9999AA;
    border-width: 1px;
	height: 15px;
}
.rdAgDropZoneActive { height: 5px; }


/* DataCalendar/TimePicker */

.rdDataCalendar, .rdTimePicker
{		
	color: #000000;
}

.rdDataCalendarFont
{	
	font-family: arial, sans-serif;
	font-weight: normal;
}

.rdDataCalendarWeekdayCaption, .rdTimePickerTableHeaderCaption
{
	background-image: none;
	background-repeat: repeat-x; 
	background-color: #E0F1F8;
	text-align: center;			
	font-weight: bold;
}

.rdDataCalendarDay, .rdTimePickerCell, .rdTimePickerAMPMCell
{
	vertical-align:top;
	background-color:#F5FCFF;			
}

.rdDataCalendarDayLabelHighlight, .rdTimePickerLabelHighlight
 {
	background-color: #3FBCE8;
}

.rdDataCalendarToday
{
	background-color:#E7E3CB;
}

.rdDataCalendarDayOutsideMonth
{
	background-color:#BFE0EF;
}

#Cal-2-CaptionCell.rdDataCalendarCaption, 
#Cal-3-CaptionCell.rdDataCalendarCaption {
	line-height: 21px;
}

/* Tabs */

.yui-nav A:link {         
	color: #FFFFFF;	
	text-decoration: none;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;		
	background-image: url(buttonColor.png);
}
.yui-nav A:visited { 
	color: #FFFFFF;	
}
.yui-navset-left .yui-nav A:link { 
	background-image: url(rdThemeLeftTabBg.png);
	background-repeat: repeat-y;
}
.yui-navset-right .yui-nav A:link  {
	background-image: url(rdThemeRightTabBg.png);
	background-repeat: repeat-y;
	background-position: right;
}
.yui-navset-bottom .yui-nav A:link {
	background-image: url(rdThemeBottomTabBg.png);
	background-position: bottom;
}

.yui-nav A:hover {         	
	background-image: url(tabBgOn.png);
	color: #000000;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.yui-navset .yui-nav .selected A {              
	color: black;
	background-image: url(tabBgOn.png);
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.yui-navset-left .yui-nav A:hover , .yui-navset-left .yui-nav .selected A {
	background-image: url(rdThemeLeftTabBgOn.png);
	background-repeat: repeat-y;	
}
.yui-navset-right .yui-nav A:hover, .yui-navset-right .yui-nav .selected A {
	background-image: url(rdThemeRightTabBgOn.png);
	background-repeat: repeat-y;
	background-position: right;	
}
.yui-navset-bottom .yui-nav A:hover, .yui-navset-bottom  .yui-nav .selected A {
	background-image: url(rdThemeBottomTabBgOn.png);
	background-position: bottom;	
}

.yui-navset .yui-content { 
	padding: 5px 5px 5px 5px;
}

/* Popup Panels and Menus (shadow) */
.rdPopupPanel, .rdPopupMenu, .rd-checkboxlist-popup
{
	box-shadow: 6px 6px 5px #808080;
	-moz-box-shadow: 6px 6px 5px #808080;
	-webkit-box-shadow: 6px 6px 5px #555;
}

/* Reposition dashboard tab settings popups to eliminate hiding after dragging a panel
PEN-5910 3/27/17 DPY */

#ppMenu1_rdPopup, #ppMenu2_rdPopup{
	top: -37px !important;
	left: 20px !important;
}

/* WaitPage */
.rdWaitMainTable {
	background-color: #F6F6F6;
}
.rdWaitContainerBorder {
	background-color: #8EC4DC;
}
.rdWaitContainer {
	background-color: #FFFFFF;
}
#rdWaitMsg  {	
	vertical-align: absmiddle;
	margin-left: 5px;
	margin-right: 15px;
}

/*User classes*/

.ThemeHeaderLargest {
	font-weight: bold;
	font-size: 220%;
	color: #187DAF;
	padding-bottom: 1px;
}
.ThemeHeaderLargestCenter {
	font-weight: bold;
	font-size: 220%;
	color: #187DAF;
	padding-bottom: 1px;
	text-align: center;
}
.ThemeHeaderLarger {
	font-weight: bold;
	font-size: 169%;
	color: #187DAF;
	padding-bottom: 1px;
}
.ThemeHeaderLargerCenter {
	font-weight: bold;
	font-size: 169%;
	color: #187DAF;
	padding-bottom: 1px;
	text-align: center;
}

.ThemeHeaderLarge {
	font-weight: bold;
	font-size: 130%;
	color: #187DAF;
	padding-bottom: 1px;
}
.ThemeHeaderLargeCenter {
	font-weight: bold;
	font-size: 130%;
	color: #187DAF;
	padding-bottom: 1px;
	text-align: center;
}

.ThemeHeader {
	font-weight: bold;	
	color: #3FBCE8;
	padding-bottom: 1px;
}

.ThemeHeaderSmall {
	font-weight: bold;
	font-size: 85%;
	color: #3FBCE8;
	padding-bottom: 1px;
}

.ThemeHeaderSmaller {
	font-weight: bold;
	font-size: 75%;
	color: #3FBCE8;
	padding-bottom: 1px;
}

.ThemeHeaderSmallest {
	font-weight: bold;
	font-size: 60%;
	color: #3FBCE8;
	padding-bottom: 1px;
}

.ThemeTextLargest {
	font-size: 160%;
}

.ThemeTextLarger {
	font-size: 145%;
}

.ThemeTextLarge {
	font-size: 130%;
}

.ThemeTextExport {
	font-size: 15px;
}
.ThemeTextSmall { 
	font-size: 85%;
}

.ThemeTextSmaller { 
	font-size: 75%;
}

.ThemeTextSmallest { 
	font-size: 60%;
}

.ThemeMarginLargest {
	margin: 25px;
}

.ThemeMarginLarger {
	margin: 20px;
}

.ThemeMarginLarge {
	margin: 15px;
}

.ThemeMargin {
	margin: 5px;
}

.ThemePaddingLargest {
	padding: 25px;
}

.ThemePaddingLarger {
	padding: 20px;
}

.ThemePaddingLarge {
	padding: 15px;
}

.ThemePadding {
	padding: 5px;
}

.ThemeBold {
	font-weight: bold;
}

.ThemeItalic {
	font-style: italic;
}

.ThemeTextPositive {
	color: green;
}

.ThemeTextNegative {
	color: red !important;
}

.ThemeTextNormal {
	font-size: 11px;
	color: #000000;
}

.ThemeErrorText {
	color: #790619 !important;
	font-family: arial, sans-serif;
	font-size: 100%;
	border: 1px solid #D8000C !important;
	background-color: #FFBABA !important;		
}
	
.ThemeNoWrap {
	white-space: nowrap;
}

.ThemeHidden {
	display: none;
}

.ThemeContainerBordered {
	border: solid 2px #8EC4DC;
	padding: 3px;
}

.ThemeContainerShaded {
	background-color: #F4ECD5;
	padding: 3px;
}



TR.ThemeAlternatingRow TD.rdThemeDataTableCell {
	background-color: #FFFFFF;		
	padding: 4px;
}

.ThemeLinkButton {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.25;
    border-radius: 4px;
    color: #fff;
    background-color: #6C6D71;
    border-color: #6C6D71;
}

.ThemeLinkButtonSmall {
display: inline-block;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    margin-left: 4px;
    padding: 3px 10px;
    height: 14px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #6C6D71;
    border-color: #6C6D71;
}

#ppDoneButton, #tabLayoutDoneButton, .ThemeLinkButtonSmall2 {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.25;
    border-radius: 4px;
    color: #fff;
    background-color: #6C6D71;
    border-color: #6C6D71;
}

.ThemeAlignCenter {
	text-align: center;
}

.ThemeAlignLeft {
	text-align: left;
}

.ThemeAlignRight {
	text-align: right;
}

.ThemeAlignTop {
	vertical-align: top;
}

.ThemeAlignTopLeft {
	vertical-align: top;
	text-align: left;
}

.ThemeAlignTopRight {
	vertical-align: top;
	text-align: right;
}

.ThemeAlignBottom {
	vertical-align: bottom;
}

.ThemeAlignBottomLeft {
	vertical-align: bottom;
	text-align: left;
}

.ThemeAlignBottomRight {
	vertical-align: bottom;
	text-align: right;
}

.ThemeFloatRight { 
	float:right; 
	margin: 0 0 15px 15px; 
}


/*User classes*/

/*rdElement: DataList | rdElement: ListItem*/

.ThemeULNone {
	list-style-type: none;
}

.ThemeULDisc {
	list-style-type: disc;
}

.ThemeULCircle {
	list-style-type: circle;
}

.ThemeULSquare {
	list-style-type: square;
}

.ThemeOLDecimal {
	list-style-type: decimal;
}

.ThemeOLLowerAlpha {
	list-style-type: lower-alpha;
}

.ThemeOLUpperAlpha {
	list-style-type: upper-alpha;
}

.ThemeOLLowerRoman {
	list-style-type: lower-roman;
}

.ThemeOLUpperRoman {
	list-style-type: upper-roman;
}

#srFinancialSummaryChart{
	width:530px;
}

#srLaborSummaryChart{
	width:530px;
}

.rdAgBackground{
	background-color: #EFEFEF;
}

/*End Element*/

/* Fixing padding issue that moves tabs over 10px to the right.
   03/01/2017
   Brent Mazurek
*/
#rdTabs .yui-nav li{
	padding-left:0px !important;
}

#rdSettingsCog {
	z-index:0;
}

.ThemeLinkDisabled {
	pointer-events: none;
	color: black;
	cursor: default;
}

td.ThemeLinkDisabled a {
	color: black;
}

.ThemeLinkImage {
        cursor: pointer;
        cursor: hand;
}

.btn-icon {
    color: #2262AB;
    font-weight: normal;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    border: none;
}

#rdDebugChart {
	display:none;
}

#rdDebug {
	display:none;
}

.Capitalize {
    text-transform: capitalize;
}

.rdThemeDataTable a:hover {
    color: blue;
    text-decoration: underline;
}

.rdThemeDataTable .ThemeTextNegative a {
    color: red !important;
}

.ThemeTextNegative a:hover {
    color: red !important;
    text-decoration: underline;	
}

#colTableExportMenu {
  display: none;
}

#colParameters {
  padding: 7px;
}



.wait-spinner {
    float:right;
    position:relative;
    left:-45%;
    padding: 20px;
    
}

#ppDoneButton, #tabLayoutDoneButton, .button-primary {
    color: #fff;
    background-color: #fc9a22;
    border-color: #fc9a22;
}

#ppDoneButton:hover, #tabLayoutDoneButton:hover, .button-primary:hover, #apSave:hover, #apSave2:hover {
    background-color: #f48803;
    border-color: #f48803;
}


#dtOrders a, #dtGroups a,#dtAggrs a, #dtFilters_rdAgAnalysisFilter a, #dtCalcColumns a {
	padding: 4px;
	text-decoration: none;
}

#ppSave, ppSavePersonal, .rdPopupContent td, #ppCompanySave .rdPopupContent td {
	padding: 8px;
}

#apSave, #apSave2{
	float: right;
        background-color: #fc9a22;
        border-color: #fc9a22;
}



#actionHidePanel {
	padding-right: 4px;
}


span:hover.rdAcCommand {
    background-image: none;
}

#colSpacerCalc, #colSpacerFilter, #colSpacerChart, #colSpacerCrosstab {
	display:none!important;
}

#colCalc, #colFilter, #colChart, #colCrosstab {
	margin-right:6px;
}

.btn-icon:hover {
        cursor: pointer;
}
 
input[type="text"]::-ms-clear {display: none; width:0; height:0;}

#bigDiv > div > table {
	width:100%
}

#bigDiv > span > table {
	width:100%
}

#saveButton > a #lblSave {
    float: right;
    margin: 6px 6px 6px 0px;
}

.yui3-aclist {
    font-size: 13px;
    width: 290px;
}

#ppChangeDashboard {
    position: fixed!important;
}