<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ShortHelp.ascx.vb" Inherits="LogiAdHoc.ShortHelp" %>
<asp:ImageButton ID="imgbHelp" runat="Server" Visible="false" ImageUrl="~/ahImages/iconHelpText.gif" SkinID="imgbHelp" OnClientClick="return false;" />
<div id="pnlHelp" runat="server" class="hiPopupMenu"></div>
<ajaxToolkit:PopupControlExtender ID="PopupControlExtender1" runat="server" 
    TargetControlID="imgbHelp" Enabled="True" ExtenderControlID="" DynamicServicePath="" 
    PopupControlID="pnlHelp">
</ajaxToolkit:PopupControlExtender>
