html {
	width: 900px;
}


.divHeader {
	display: block;
	width: 100%;	
	height: 42px;
	overflow: hidden;

}

.divFooter {
	display: block;
	height: 28px;
	width: 100%;	
	overflow: hidden;

}

.divFull {
	display: block;
	height: 100%;
	overflow: hidden;

}


.divHalf {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;

}

.divHalfBottom {
	display: block;
	vertical-align: bottom !important;
	overflow: hidden;
	margin-top: 10px;

}

.divPage1 {
	display: block;
	height: 10.78in !important;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border: 2px;

}

.divPageN {
	display: block;
	height: 10.7in !important;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border: 2px;

}


.divLastPage {
	display: block;
	height: 10.7in !important;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border: 0px;

}



.ThemeAlignTopCenter {
	vertical-align: top;
	text-align: center;
}

.SubText {
	font-size: 11px !important;
}