/*Start KPI TILES*/
.info-kpi {
  box-shadow: 1px -1px 0 0 #eeeeee inset, -1px 0 0 0 #eeeeee inset;
  background-color: #fff;
  padding: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 1px;
  display: block;
  border-width: 2px 0 0 0;
  border-style: solid;
  min-height: 125px;
}
.info-kpi:before {
  display: block;
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.info-kpi .kpi-heading {
  text-align: left;
  color: #9e9e9e;
  height: 16px;
  line-height: 16px;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.info-kpi .kpi-body {
  text-align: left;
  color: #616161;
  font-size: 32px;
  font-weight: 300;
  line-height: 72px;
  position: relative;
  z-index: 1;
}
.info-kpi .kpi-body > span {
	max-width: calc(100% - 75px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
.info-kpi .kpi-footer {
  text-align: left;
  font-size: 11px;
  position: absolute;
  left: 16px;
  bottom: 8px;
  color: rgba(0,0,0,.8);
}
.info-kpi-alt .kpi-footer {
  color: rgba(255,255,255,.9);
}
.info-kpi .kpi-icon {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  right: 8px;
  bottom: -64px;
}
.info-kpi .kpi-icon i {
  font-size: 48px;
  position: absolute;
  left: 96px;
  top: 0;
}
.info-kpi .kpi-icon span {
  font-size: 48px;
  position: absolute;
  right: 5px;
  top: -15px;
  color: #b0bec5;
}
.info-kpi .kpi-icon span.smaller {
  font-size: 35px;
}
.info-kpi.kpi-warning {
  border-color: #ffd54f;
}
.info-kpi.kpi-warning .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-warning .kpi-body {
  color: #ffd54f;
}
.info-kpi.kpi-success {
  border-color: #aed581;
}
.info-kpi.kpi-success .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-success .kpi-body {
  color: #aed581;
}
.info-kpi.kpi-teal {
  border-color: #4db6ac;
}
.info-kpi.kpi-teal .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-teal .kpi-body {
  color: #4db6ac;
}
.info-kpi.kpi-lime {
  border-color: #dce775;
}
.info-kpi.kpi-lime .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-lime .kpi-body {
  color: #dce775;
}
.info-kpi.kpi-danger {
  border-color: #f36c60;
}
.info-kpi.kpi-danger .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-danger .kpi-body {
  color: #f36c60;
}
.info-kpi.kpi-info {
  border-color: #5bc0de;
}
.info-kpi.kpi-info .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-info .kpi-body {
  color: #5bc0de;
}
.info-kpi.kpi-green {
  border-color: #81c784;
}
.info-kpi.kpi-green .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-green .kpi-body {
  color: #81c784;
}
.info-kpi.kpi-primary {
  border-color: #0275d8;
}
.info-kpi.kpi-primary .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-primary .kpi-body {
  color: #0275d8;
}
.info-kpi.kpi-gray {
  border-color: #e0e0e0;
}
.info-kpi.kpi-gray .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-gray .kpi-body {
  color: #e0e0e0;
}
.info-kpi.kpi-orange {
  border-color: #ffb74d;
}
.info-kpi.kpi-orange .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-orange .kpi-body {
  color: #ffb74d;
}
.info-kpi.kpi-blue {
  border-color: #64b5f6;
}
.info-kpi.kpi-blue .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-blue .kpi-body {
  color: #64b5f6;
}
.info-kpi.kpi-purple {
  border-color: #ba68c8;
}
.info-kpi.kpi-purple .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-purple .kpi-body {
  color: #ba68c8;
}
.info-kpi.kpi-indigo {
  border-color: #7986cb;
}
.info-kpi.kpi-indigo .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-indigo .kpi-body {
  color: #7986cb;
}
.info-kpi.kpi-brown {
  border-color: #a1887f;
}
.info-kpi.kpi-brown .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-brown .kpi-body {
  color: #a1887f;
}
.info-kpi.kpi-deeporange {
  border-color: #ff8a65;
}
.info-kpi.kpi-deeporange .kpi-icon i {
  color: #b0bec5;
}
.info-kpi.kpi-deeporange .kpi-body {
  color: #ff8a65;
}
.info-kpi.info-kpi-alt {
  box-shadow: none;
}
.info-kpi.info-kpi-alt.kpi-warning {
  background: #ffc107;
  border-color: #ffc107;
}
.info-kpi.info-kpi-alt.kpi-warning:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-warning .kpi-heading {
  color: #ffecb3;
}
.info-kpi.info-kpi-alt.kpi-warning .kpi-icon i {
  color: #ffd54f;
}
.info-kpi.info-kpi-alt.kpi-warning .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-success {
  background: #8bc34a;
  border-color: #8bc34a;
}
.info-kpi.info-kpi-alt.kpi-success:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-success .kpi-heading {
  color: #dcedc8;
}
.info-kpi.info-kpi-alt.kpi-success .kpi-icon i {
  color: #aed581;
}
.info-kpi.info-kpi-alt.kpi-success .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-teal {
  background: #009688;
  border-color: #009688;
}
.info-kpi.info-kpi-alt.kpi-teal:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-teal .kpi-heading {
  color: #b2dfdb;
}
.info-kpi.info-kpi-alt.kpi-teal .kpi-icon i {
  color: #4db6ac;
}
.info-kpi.info-kpi-alt.kpi-teal .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-lime {
  background: #cddc39;
  border-color: #cddc39;
}
.info-kpi.info-kpi-alt.kpi-lime:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-lime .kpi-heading {
  color: #f0f4c3;
}
.info-kpi.info-kpi-alt.kpi-lime .kpi-icon i {
  color: #dce775;
}
.info-kpi.info-kpi-alt.kpi-lime .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-danger {
  background: #e51c23;
  border-color: #e51c23;
}
.info-kpi.info-kpi-alt.kpi-danger:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-danger .kpi-heading {
  color: #f9bdbb;
}
.info-kpi.info-kpi-alt.kpi-danger .kpi-icon i {
  color: #f36c60;
}
.info-kpi.info-kpi-alt.kpi-danger .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-info {
  background: #00bcd4;
  border-color: #00bcd4;
}
.info-kpi.info-kpi-alt.kpi-info:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-info .kpi-heading {
  color: #b2ebf2;
}
.info-kpi.info-kpi-alt.kpi-info .kpi-icon i {
  color: #5bc0de;
}
.info-kpi.info-kpi-alt.kpi-info .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-green {
  background: #4caf50;
  border-color: #4caf50;
}
.info-kpi.info-kpi-alt.kpi-green:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-heading {
  color: #c8e6c9;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-icon i {
  color: #81c784;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-primary {
  background: #03a9f4;
  border-color: #03a9f4;
}
.info-kpi.info-kpi-alt.kpi-primary:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-primary .kpi-heading {
  color: #b3e5fc;
}
.info-kpi.info-kpi-alt.kpi-primary .kpi-icon i {
  color: #0275d8;
}
.info-kpi.info-kpi-alt.kpi-primary .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-inverse {
  background: #9e9e9e;
  border-color: #9e9e9e;
}
.info-kpi.info-kpi-alt.kpi-inverse:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-inverse .kpi-heading {
  color: #f5f5f5;
}
.info-kpi.info-kpi-alt.kpi-inverse .kpi-icon i {
  color: #e0e0e0;
}
.info-kpi.info-kpi-alt.kpi-inverse .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-orange {
  background: #ff9800;
  border-color: #ff9800;
}
.info-kpi.info-kpi-alt.kpi-orange:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-orange .kpi-heading {
  color: #ffe0b2;
}
.info-kpi.info-kpi-alt.kpi-orange .kpi-icon i {
  color: #ffb74d;
}
.info-kpi.info-kpi-alt.kpi-orange .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-blue {
  background: #2196f3;
  border-color: #2196f3;
}
.info-kpi.info-kpi-alt.kpi-blue:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-blue .kpi-heading {
  color: #bbdefb;
}
.info-kpi.info-kpi-alt.kpi-blue .kpi-icon i {
  color: #64b5f6;
}
.info-kpi.info-kpi-alt.kpi-blue .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-green {
  background: #4caf50;
  border-color: #4caf50;
}
.info-kpi.info-kpi-alt.kpi-green:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-heading {
  color: #c8e6c9;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-icon i {
  color: #81c784;
}
.info-kpi.info-kpi-alt.kpi-green .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-purple {
  background: #9c27b0;
  border-color: #9c27b0;
}
.info-kpi.info-kpi-alt.kpi-purple:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-purple .kpi-heading {
  color: #e1bee7;
}
.info-kpi.info-kpi-alt.kpi-purple .kpi-icon i {
  color: #ba68c8;
}
.info-kpi.info-kpi-alt.kpi-purple .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-indigo {
  background: #3f51b5;
  border-color: #3f51b5;
}
.info-kpi.info-kpi-alt.kpi-indigo:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-indigo .kpi-heading {
  color: #c5cae9;
}
.info-kpi.info-kpi-alt.kpi-indigo .kpi-icon i {
  color: #7986cb;
}
.info-kpi.info-kpi-alt.kpi-indigo .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-brown {
  background: #795548;
  border-color: #795548;
}
.info-kpi.info-kpi-alt.kpi-brown:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-brown .kpi-heading {
  color: #d7ccc8;
}
.info-kpi.info-kpi-alt.kpi-brown .kpi-icon i {
  color: #a1887f;
}
.info-kpi.info-kpi-alt.kpi-brown .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-blue-gray {
  background: #607d8b;
  border-color: #607d8b;
}
.info-kpi.info-kpi-alt.kpi-blue-gray:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-blue-gray .kpi-heading {
  color: #cfd8dc;
}
.info-kpi.info-kpi-alt.kpi-blue-gray .kpi-icon i {
  color: #90a4ae;
}
.info-kpi.info-kpi-alt.kpi-blue-gray .kpi-body {
  color: #ffffff !important;
}
.info-kpi.info-kpi-alt.kpi-gray {
  background: #9e9e9e;
  border-color: #9e9e9e;
}
.info-kpi.info-kpi-alt.kpi-gray:before {
  background-color: transparent;
}
.info-kpi.info-kpi-alt.kpi-gray .kpi-heading {
  color: #eeeeee;
}
.info-kpi.info-kpi-alt.kpi-gray .kpi-icon i {
  color: #bdbdbd;
}
.info-kpi.info-kpi-alt.kpi-gray .kpi-body {
  color: #ffffff !important;
}


/*KPI with progress*/
.kpi-alt {
  color: #8d9ea7;
  display: block;
  padding: 10px;
  border: 1px solid #dddddd;
  text-decoration: none;
  min-height: 135px;
  background: #ffffff;
}
.kpi-alt .kpi-heading {
  color: #333333;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #dddddd;
  font-weight: 300;
  font-size: 0.9;
}
.kpi-alt .kpi-heading, .kpi-alt .kpi-unit {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
}
.kpi-alt .progress {
  border: 1px solid #dddddd;
  border-radius: 2px;
  height: auto !important;
}
.kpi-alt .progress-bar {
	height: 3px
}
.kpi-alt .kpi-counter small, .kpi-alt .kpi-target small, .kpi-alt .kpi-unit, .kpi-alt .kpi-percent {
  display: block;
  margin-top: -6px;
  font-size: 0.9rem;
  font-variant: small-caps;
  text-transform: lowercase;
  color: #8d9ea7;
}
.kpi-alt .kpi-counter, .kpi-alt .kpi-target {
  font-size: 1.5rem;
}
.kpi-alt .kpi-unit, .kpi-alt .kpi-percent {
  margin-top: 6px;
}
.kpi-alt .kpi-target, .kpi-alt .kpi-percent {
  text-align: right;
}
.kpi-alt.kpi-success .kpi-target, .kpi-alt.kpi-success .kpi-counter, .kpi-alt.kpi-success .kpi-percent {
  color: #28a745;
}
.kpi-alt.kpi-success .progress-bar {
	background-color: #28a745;
}
.kpi-alt.kpi-warning .kpi-target, .kpi-alt.kpi-warning .kpi-counter, .kpi-alt.kpi-warning .kpi-percent {
  color: #ffc107;
}
.kpi-alt.kpi-warning .progress-bar {
	background-color: #ffc107;
}
.kpi-alt.kpi-danger .kpi-target, .kpi-alt.kpi-danger .kpi-counter, .kpi-alt.kpi-danger .kpi-percent {
  color: #dc3545;
}
.kpi-alt.kpi-danger .progress-bar {
	background-color: #dc3545;
}
.kpi-alt.kpi-primary .kpi-target, .kpi-alt.kpi-primary .kpi-counter, .kpi-alt.kpi-primary .kpi-percent {
  color: #007bff;
}
.kpi-alt.kpi-primary .progress-bar {
	background-color: #007bff;
}
.kpi-alt.kpi-info .kpi-target, .kpi-alt.kpi-info .kpi-counter, .kpi-alt.kpi-info .kpi-percent {
  color: #17a2b8;
}
.kpi-alt.kpi-info .progress-bar {
	background-color: #17a2b8;
}
.kpi-alt.kpi-blue .kpi-target, .kpi-alt.kpi-blue .kpi-counter, .kpi-alt.kpi-blue .kpi-percent {
  color: #64b5f6;
}
.kpi-alt.kpi-blue .progress-bar {
	background-color: #64b5f6;
}
.kpi-alt.kpi-green .kpi-target, .kpi-alt.kpi-green .kpi-counter, .kpi-alt.kpi-green .kpi-percent {
  color: #81c784;
}
.kpi-alt.kpi-green .progress-bar {
	background-color: #81c784;
}
.kpi-alt.kpi-teal .kpi-target, .kpi-alt.kpi-teal .kpi-counter, .kpi-alt.kpi-teal .kpi-percent {
  color: #4db6ac;
}
.kpi-alt.kpi-teal .progress-bar {
	background-color: #4db6ac;
}
.kpi-alt.kpi-lime .kpi-target, .kpi-alt.kpi-lime .kpi-counter, .kpi-alt.kpi-lime .kpi-percent {
  color: #dce775;
}
.kpi-alt.kpi-lime .progress-bar {
	background-color: #dce775;
}
.kpi-alt.kpi-brown .kpi-target, .kpi-alt.kpi-brown .kpi-counter, .kpi-alt.kpi-brown .kpi-percent {
  color: #a1887f;
}
.kpi-alt.kpi-brown .progress-bar {
	background-color: #a1887f;
}
.kpi-alt.kpi-purple .kpi-target, .kpi-alt.kpi-purple .kpi-counter, .kpi-alt.kpi-purple .kpi-percent {
  color: #ba68c8;
}
.kpi-alt.kpi-purple .progress-bar {
	background-color: #ba68c8;
}
.kpi-alt.kpi-indigo .kpi-target, .kpi-alt.kpi-indigo .kpi-counter, .kpi-alt.kpi-indigo .kpi-percent {
  color: #7986cb;
}
.kpi-alt.kpi-indigo .progress-bar {
	background-color: #7986cb;
}
.kpi-alt, .kpi-alt:hover span, .kpi-alt:hover *{
	text-decoration: none !important;
}
.kpi-alt.disabled, .info-kpi.disabled, .active > .kpi-alt {
	cursor: not-allowed;
	opacity: .65;
    background-color: #f2f2f2;
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.panelBody .info-kpi {
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	margin-top: -1px;
	margin-left: -2px;
	margin-right: -2px;
	box-shadow: none;
}