/*Slideout Button*/
.btn-rotate {
	top: 6em;
    position: fixed;
    padding: 0px 5px;
    z-index: 1;
	margin: 0;
    color: #fff;
	font-size: 14px;
    background: rgba(119, 119, 119, 1);
    border-radius: 5px 5px 0 0;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-decoration: none;
	cursor: pointer;
} 
.btn-rotate:hover {
    background: rgba(0, 0, 0, .8);
}
.right {
    right: 0;
    -webkit-transform-origin: 0 50%;
       -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
         -o-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transform: rotate(-90deg) translate(-50%, 50%);
       -moz-transform: rotate(-90deg) translate(-50%, 50%);
        -ms-transform: rotate(-90deg) translate(-50%, 50%);
         -o-transform: rotate(-90deg) translate(-50%, 50%);
            transform: rotate(-90deg) translate(-50%, 50%);
}
.left {
    left: 0;
    -webkit-transform-origin: 100% 50%;
       -moz-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
         -o-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: rotate(90deg) translate(50%, 50%);
       -moz-transform: rotate(90deg) translate(50%, 50%);
        -ms-transform: rotate(90deg) translate(50%, 50%);
         -o-transform: rotate(90deg) translate(50%, 50%);
            transform: rotate(90deg) translate(50%, 50%);
}
.container-fluid .right, #masterContent #mainContent .right {
	margin-right: -40px;
} 
.container-fluid .left, #masterContent #mainContent .left {
	margin-left: -40px;
} 
.btn-rotate.right:after, .btn-rotate.left:before  {
    content: "\f077";
    font-family: FontAwesome;
}
.filter-open .btn-rotate.right:after, .filter-open .btn-rotate.left:before {
    content: "\f078";
    font-family: FontAwesome;
}
.btn-rotate.right:after,.filter-open .btn-rotate.right:after  {
	padding-left: 2px;
}
.btn-rotate.left:before, .filter-open .btn-rotate.left:before  {
	padding-right: 2px;
}
/*Slideout Button*/