/*Filter Slideout bar*/
.slideout {
	right: 0;
}
.slideout-left {
	left: 0;
}

.slideout, .slideout-left {
	position: fixed;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.slideout_inner {
    background-color: #EFEFF0;
	position: fixed;
	top: 4em;
    width: 280px;
    max-width: 100%;
    padding: 12px;
    padding-top: 1.8em;
    padding-bottom: 0;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	min-height: 100%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #e3e3e3;
    border-radius: 0;
    border-bottom: 1px solid #CCC;
    background-repeat: repeat-y;
}

.slideout>.slideout_inner {
	right: -280px;
    border-right: 0;
    background-image: url(Sidebar.sidebar-shadow.png);
    background-position: left top;
}
.slideout-left>.slideout_inner {
	left: -280px;
    border-left: 0;
    background-image: url(Sidebar.sidebar-shadow-l.png);
    background-position: right top;
}
.slideout.open {
  right: 280px;
}
.slideout-left.open {
  left: 280px;
}
.slideout.open .slideout_inner {
  right: 0;
}
.slideout-left.open .slideout_inner {
  left: 0;
}
/*End Filter Slideout bar*/
/*Toggle button*/
#actToggleFilters, #actToggleFiltersLeft {
    top: 6em;
	text-decoration: none !important;
    position: fixed;
    height: 65px;
    width: 18px;
    text-align: center;
    background: rgba(119, 119, 119, 1);
    display: block;
    z-index: 1;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
#actToggleFilters {
    right: 0;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
#actToggleFiltersLeft {
    left: 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
#actToggleFilters:hover, #actToggleFiltersLeft:hover {
    background: rgba(0, 0, 0, .8);
}
#toggleFilters > .rotate, #toggleFiltersLeft > .rotate {
    font-size: 14px;
    display: block;
    color: #fff;
    white-space: nowrap;
    bottom: 0;
    font-weight: normal;
	padding-left: 10px;
}
#toggleFilters > .rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#toggleFiltersLeft > .rotate {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.slideout.open~#actToggleFilters {
	right: 280px;
}
.slideout-left.open~#actToggleFiltersLeft {
	left: 280px;
}
/*End Toggle button*/
/*Main Content*/
.content {
	margin-right: 10px;
	width: calc(100% - 10px);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.slideout.open~.content {
	margin-right: 290px;
	right: 290px;
	width: calc(100% - 290px);
}
.slideout.open~.content .logo {
	right: 280px;
}
.slideout-left.open~.content .logo {
	right: 280px;
}
.slideout-left.open~.content {
	margin-left: 290px;
	left: 290px;
	width: calc(100% - 290px);
}
.slideout-left~.content {
	margin-left: 20px;
}
/*Main Content*/