.rdPopupPanelTitle {
    background-color: #2262ab;
	color:white;
}

TD.rdPopupPanelControl {
    background-color: #2262ab;
}

.tree-margin > div {
	margin:	-12px 0px 0px 0px;
}

.accordion-option {
    border: 1px solid black;
    margin: -1px 10px 0px 10px;
    border-radius: 0px;
}

.accordion-title:hover {
	background-color: #deedce;
}

.accordion-selected {
	background-color: #deedce;
}

.cursor-pointer {
	cursor: pointer;
}

.caret {
	color: #2262ab;
	padding-right:10px;
}

.rot90 {
	transform: rotate(-90deg);
}

.rc-penta-table-personal {
	margin: 0px 0px 0px 1px;
}

.rc-penta-table-personal td {
    border-right: 1px solid #6c6d71!important;
}

.rc-penta-table-company td {
    border-left: 1px solid #6c6d71!important; 
}

.rc-penta-table td .rdPopupPanelTitle, .rc-penta-table td .rdPopupPanelControl {
    border-right: none!important;
    border-left: none!important; 
}

.centerCompanyPopup{
	top: -35px!important;
	left: -155px!important;
}

.centerPersonalPopup{
    top: -35px!important;
    left: 130px!important;
    right: -150px!important;
}