#rdSettingsCog {
	top:75px!important;
}

#rdAddTabCog {
	margin-top: -31px!important;
}

#rdDashboardPanelTable {
	margin-top: -16px;
}

#divDashboard {
	margin-top: 14px;
}

.rdDashboardPanel {
    border: 1px solid #6c6d71;
    border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.panelInnerTable {
	border-spacing: 0px;
}

.rdDashboardTab {
	font-size: larger;
}

#rdPopupPanelX {
	color: White!important;
}

.rdPopupPanel {
	background-color:white;
}

#rdDashboardList > td {
	background-color: White;
}