.rdThemeDataTableCell {
    background-color: transparent!important;
}

.rdThemeDataTable tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
}

.rdThemeDataTable tr:last-child td:last-child {
    border-bottom-right-radius: 0px;
}

.penta-table {
	border-spacing:0px;
	border-top: 1px solid #6c6d71;
    border-radius: 0px;
    border-bottom: 1px solid #6c6d71;
	background-color:	white;
}

.penta-table.hover tr:hover{
	background-color: #deedce;
	cursor: pointer;
}

.penta-table a{
	color:#2262ab;
}

penta-table table {
	background-color:white;
}

.penta-table th {
    background-image: none;
    background-color: #ddd;
    font-weight: bold;
	border: none;
	border-radius: 0px;
	color:#2262ab!important;
	padding:4px;
}

.penta-table th:first-child {
	border-radius: 0px;
}

.penta-table th:last-child {
	border-radius: 0px;
}

.penta-table td {
	border-top: 1px solid #6c6d71;
	border-right: 1px solid #ddd;
	padding:4px;
}

.penta-table td:last-child {
	border-right: none;
}

.rdThemePagingCurrent {
    background-color: #2262ab;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 6px;
    text-align: center;
}

.rdThemePaging {
    padding-top: 4px;
    padding-left: 2px;
    padding-bottom: 4px;
}

.float-right {
	float:right;
}

.float-left {
	float:left;
}

.table-row-hover {
	padding: 4px;
}

 .hover .rdThemeDataTableCell  {
    padding: 0px;
}

.hover a {
	color: black;
}

.hover a:hover {
	color: black;
	text-decoration: none;
}

.rdThemeDataTableHeader a {
	color:#2262ab;
}

.rdThemeDataTableHeader a:hover {
	color:blue;
}

.link-text {
	color:#2262ab;
}