.ui-autocomplete {
background: #ffffff !important;
z-index: 999;
}

.CusInputCaption {
  padding-right: 8px;
  vertical-align: middle;
}

.VendorInputCaption {
  padding-right: 18px;
  vertical-align: middle;
}