
td#colPanelHeader{
background-color: #36648B;
color: White;
font-size: 11px;
font-weight: bold;
width: 512px;
padding: 5px 5px;
}

td#colHelp{

width: 512px;
padding: 5px 5px;
}

th#cHeader2 {
 border-right: 1px solid #000;
 border-left: 1px solid #000;
}

th#colREVENUE-TH {

 border-left: 1px solid #000;
}
th#colACTUAL_GM_PCT-TH {

 border-right: 1px solid #000;
}

#colExport{
	padding: 13px 13px 0px 0px;
}
  
   
.ThemeHeaderLarge {
	color: white;
	background-color: #3d6990;
}

#colHeader{
	padding: 0px 0px 5px 0px;
}
  
#divExport  {
	background-color: #C1D1E2;
}

#divExportCondensed {
	background-color: #C1D1E2;
	width: 600px;
}

.ThemeHeaderLargeCenter {
	color: Black;
}

.rdThemeDataTableSummaryRow TD {
	color: Black;
}

.rdThemeDataTableHeaderRow TH.rdThemeDataTableCell {
	background-color: LightGray !important;
}


#rowTopHeader, #rowTopHeader1, #rowMCHeader {
	background-color: #ddd;
	color: #2262ab;
}

.dynamicBox{
	margin: 16px 0px 0px 0px;
}

.staticBox{
	width: 500px;
	margin: 16px 0px 0px 0px;
}

.ThemeTextDarkNegative {
	color: darkred;
}

.ThemeTextLarge {
	font-size: 120%;
	font-weight: bold;
}

.rdThemeDataTableSummaryRow TD {
	padding: 0px 4px 0px 0px;
}

tr {
	border: 1px solid black;
}

.collapse-table {
  border-collapse: collapse;
}