.rdAgDataTable {
    background-color: #FFFFFF;
	border: 1px solid #6c6d71;
}

TABLE.rdAgDataTable TH {
    background-image: none;
    background-color: #ddd;
    font-weight: bold;
	border: none;
	border-radius: 0px;
	color:#2262ab!important;
    padding-top: 8px;
    padding-bottom: 8px;
}

TABLE.rdAgDataTable TD {
    padding: 4px;
	background-color: white;
}

.rdAgPanel {
    background-color: white;
    vertical-align: top;
    border: none;
	background-image: none;
	border: 1px solid #ddd;
}

.rdAgContentHeadingRow, .rdAgBackground {
    background-color: white;
}

.rdThemeDataTable a {
    color: #2262ab;
    text-decoration: none;
}

TABLE.bottom-ag-menu {
	width: 100%;
    padding: 4px;
}

TABLE.bottom-ag-menu > tbody > tr {
	background-color: white;
    width: 100%;
    padding: 0px;
}

TABLE.bottom-ag-menu > tbody > tr > td {
	border: 1px solid #ddd;
    display: flex;
    border-radius: 4px;
}

TABLE.bottom-ag-menu > tbody > tr > td > span {
    margin: -8px 0px 4px 4px;
}

.rdThemeDataTable {
    background-color: #6c6d71;
	border: 1px solid #6c6d71;
}
TABLE.rdThemeDataTable TBODY {
	background-color:white;
}

TABLE.rdThemeDataTable TH {
    background-image: none;
    background-color: #ddd;
    font-weight: bold;
	border: none;
	border-radius: 0px;
	color:#2262ab!important;
    padding-top: 8px;
    padding-bottom: 8px;
}

TABLE.rdThemeDataTable TD {
    padding: 4px;
}

TR.rdAgGroup0HeaderRow TD {
    background-color: #C2CFB4;
}

TR.rdAgGroup1HeaderRow TD {
    background-color: #D1DBC7;
}

TR.rdAgGroup2HeaderRow TD {
    background-color: #deedce;
}

TR.rdAgGroup3HeaderRow TD {
    background-color: #E6F2DA;
}

TR.rdAgGroup4HeaderRow TD {
    background-color: #F3F8ED;
}

TH.rdThemeDataTableHeader > TABLE > TBODY {
	background-color: #ddd;
}

.rdThemeInput {
	background-color: White;
}

 TR.rdThemeDataTableSummaryRow TD {
    background-color: #ddd;
    font-weight: bold;
    color: #2262ab!important;
 }
 
 TH.background-gray TD{
 	background-color: #ddd!important;
 }
 
.peach {
	background-color:peachpuff!important;
}