.exportLabel{
  z-index:9999;
  position: relative;
  top: 46px;
  right: 20px;
  color: black;
}
#colTableExportControls{
  display: none;
}

#colTableExportMenu {
  display: inherit;
}
 
.excelExport{
  z-index:9999;
  position: relative;
  top:46px;
  right: 20px;
  color: White;
   border-top: 1px solid #8EC4DC;
  border-left: 1px solid #8EC4DC;
  border-right: 1px solid #1F85B3;
  border-bottom: 1px solid #1F85B3;

}

.AlignCenter {
	text-align:center;
}

