.ui-datepicker-trigger { 
    position: relative;
    width: 37px;
	height: 28px;
    cursor: pointer;
    background: #174477;
    vertical-align: middle;
    padding: 4px 8px 4px 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
	}
	
	
	
.ui-datepicker{
	background-color:#2262ab !important;
	background-image: none;
}

.ui-datepicker table{
	color: white;
	background-color:#2262ab !important;
}

.ui-widget-header {
	background: white;
}
.ui-datepicker td {
    background:#f5fcff;
	
	padding: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#f5fcff;
	text-align:left;
	color: blue;	
}
.ui-widget-content .ui-datepicker-calendar .ui-state-hover  {	
	color: blue;
	background:#e7e3cb;
	text-align:left;
}

#ui-datepicker-div .ui-state-hover {
    border: 1px solid #999999;
    background: #e7e3cb;
    font-weight: normal;
    color: blue;
}

#ui-datepicker-div .ui-state-active {
    border: 1px solid #aaaaaa;
    background: #e7e3cb;
    font-weight: normal;
    color: blue;
}

#idThroughDate{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background: white;
    height: 26px;
    padding-left: 4px;
    vertical-align: middle;
    font-size: 130%;
    width: 110px;
}

#idThroughDate-Caption {
	font-size:	130%;
	font-weight:bold;
}

#idEndDate, #idBeginDate, #endDate, #beginDate, #idGLHistoryDate, #idHireDate {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background: white;
    padding-left: 4px;
    vertical-align: middle;
    width: 90px;

}

#idEndDate, #idBeginDate, #idGLHistoryDate, #idHireDate {
	margin: 0px 0px 0px -80px;
}
