.ThemeMasterReportTopFrame {
	background-color: #2262ab !important;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: white;
}

.headerMargin {
	margin: 8px;
	vertical-align: middle;
}

.pentaUserPopup {
	line-height:15px !important;
	background-color: White;
}

.pentaBanner {
	line-height: 35px;
}

.pentaBanner div.rd-gridsystem-scrollbar-wrap {
    display: flex;
    align-items: center;
}

.pentaUser {
    vertical-align: middle;
    height: 30px;
    margin-bottom: 11px;
}

.menuLink {
	color: White !important;
	vertical-align: middle;
	font-weight: bold;
}

a:hover {
	color:gray;
	text-decoration: none;
}

.pentaPopupMenu.rdThemePopupMenu.first-of-type {
	background-color:white;
	padding: 0px;
}

.pentaPopupMenuBar {
    line-height: 25px !important;
	color: Black !important;
}

.pentaPopupMenuBar.first-of-type {
	background-color: White;
}

.rdPopupMenu a:hover {
	background-color: #deedce;
}

.rdPopupMenu a:visited {
    color: black;
    font-size: small;
}

#rdMainBody {
	background-color: #efefef;
}

.pentaDashboard {
	border: none!importants;
}

.rdDashboardPanel {
    border: 1px solid #ddd;
}

.yui-content {
    border-bottom-style: none !important;
    border-left-style: none!important;
    border-right-style: none!important;
    border-top-right-radius: 0px!important;
}

.yui-nav a:link {
	background-image:none!important;
	color:black;
	background-color:#efefef !important;
}

.yui-navset .yui-nav .selected a {
	background-image:none!important;
	color: #91c653 !important;
    border-top: 4px solid #91c653!important;
}

TD.rdDashboardTitle {
    background-image: none;
    font-weight: 100;
    background-color: #2262ab !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
	height: 30px;
}

td.rdDashboardTitle .rdDashboardTitleCaption {
    font-size: larger;
}

.first-of-type{
	background-color:white!important;
}

.yuimenu ul{
	padding: 0px!important;
}

.rdPopupMenu a:link{
color:black;
}

.rdAgContentHeadingRow{
background-color: #BFD3E1;
}

.rdAgBackground {
background-color: #BFD3E1;
}

.rdDashboardMenu {
	padding-top: 0px;
}

  html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%; 
  background-color: #efefef;
  -ms-overflow-style:scrollbar;
  } 
 
.rdPopupPanelTitle {
    background-color: #2262ab;
	color:white;
	text-align: left;
}

.rdPopupMenu, .rd-checkboxlist-popup {
    border: 2px Solid #BAB9B9;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}

TD.rdPopupPanelControl {
    background-color: #2262ab;
	border-bottom-right-radius: 0px!important;
}

#rdTabs .yui3-dd-drop.selected a {
	background-color: White!important;
}

.float-right {
	float: right;
}

#hamburgerMenu1_rdPopup {
	left: 0px!important;
	top:47px!important;
}
	
#userMenu2_rdPopup {
	top:47px!important;
}

#divHamburger {
	outline:none;
}

.White {
	color:white;
}

#ReportCol {
	padding-top: 5px;
}

.padding-left {
	padding-left: 16px;
}