html, body, #rdMainBody, #mainBody, #divExport, #divExportCondensed  { 
  	background-color: #ffffff!important;
 }
 
.rdAgPanel, #pnlExportOptions, #rdAgContentRow {
	border: none!important;
}


#imgCompanyLogo {
  max-width:150px!important;
  max-height:50px!important;
}
