.Rectangle {
	background-color:#BFD3E1;
	margin:8px;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.65);
    z-index:9999;
    color:white;
}

.whiteText {
	font-size: large;
	color:	white;
}

td {
  display: table-cell;
  vertical-align: inherit;
  width: 160px;
}

.autocompleteMargin tbody tr:first-child td:nth-child(2) {
   width: 250px;
}


.ui-datepicker-trigger {
    position: relative;
    width: 15px;
    height: 11px;
    cursor: pointer;
    background: #6C6D71;
    vertical-align: middle;
    padding: 4px 8px 4px 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    left: -3px;
	border 1px solid gray;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background:none;
    color: #222222;
}

#divEndDate > table, #divBeginDate > table, #divHireDate > table  {
	width: 100%;
}