<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body>
<table "100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="logo" "100%"><img src="images/title.gif" "349" "39" border="0"></td></tr></table>
<div style="padding:10px;">

<h2><a name="_Toc382578234">Upgrading an Instance</a></h2>

<p class=MsoNormalCxSpFirst style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>Whenever an instance is
selected in the MC, the version of the instance is compared to the version of
the MC. If the Active Instance is older than the MC, the <i>Active Instance</i>
path in the target panel will turn red indicating that the instance is a
candidate for upgrading to the version of the MC.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'><img border=0
  src="Mngt_Console_Usage_Guide_files/image005.jpg"></p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>To upgrade an instance
of Ad Hoc, click on <b>Manage an Instance</b> and then click on <b>Upgrade
Instance</b> and the <b>Upgrade Manager</b> dialog will be displayed. </p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'><img border=0
  src="Mngt_Console_Usage_Guide_files/image006.jpg"></p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>There are five aspects
of the instance that may require attention; <i>Application, Metadata Database,
Activity Log Database, Report, </i>and<i> Rights</i>. Presence of a red message
indicates that an area may need attention.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <i>Application</i>
area addresses the folders and files of the instance. Click on the <b>Update</b>
button to copy the necessary folders and files from the MC to the active
instance folder. The Application must be upgraded before other aspects of the
instance can be upgraded. A prompt will be issued to determine if a backup
should be taken of the instance.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <i>Metadata
Database</i> area addresses schema and data of the metadata database connected
to the active instance. Click on the <b>Update</b> button if it is enabled.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <i>Activity Log
Database</i> area addresses the schema of the logging table. Click on the <b>Update</b>
button if it is enabled.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <i>Reports</i> area
addresses internal constructs of the report definitions. It is recommended that
the reports are fixed by clicking the <b>Update</b> button, however, it isn t
required. Users will still be able to create and run new reports.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <i>Rights</i> area
addresses any new rights that have been incorporated into Ad Hoc. Click on the <b>Update</b>
button if it is enabled. All new rights are added to the System Administration
permission package.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Whenever a
  metadata database is connected to an instance, a good practice is to run the
  upgrade manager. This is especially true when the metadata database has
  recently been created and connected to the instance.</b></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Customizations are
  always an issue with virtually any upgrade, including Ad Hoc. It is strongly
  suggested that the Diagnostic tool for the version of Ad Hoc being updated be
  applied to the instance before the upgrade, if the Diagnostic tool is
  available. The scan results will identify which files in the existing version
  have been modified and are different from the standard installation. Once the
  automated portion of the upgrade has finished, similar customizations are
  usually necessary to complete the upgrade process.</b></p>
  </td>
 </tr>
</table>


<p class=MsoNormal>The core process of an upgrade is the copying of all of the
files for the version into the folder of the target Ad Hoc instance. The copy
process is a <b>full overwrite of the corresponding files. </b>The notable
exceptions are the <i>_Definitions/_Settings.lgx</i> and the <i>Database/ahData.sdf</i>
file and files in the <i>ahCustom</i> directory. Consequently it is critical
that the System Administrator know the extent and content of the customizations
to an Ad Hoc instance and is prepared to re-apply the customizations as
necessary.</p>

<p class=MsoNormal>It is also noted that the virtual directory and shortcuts
related to the updated Ad Hoc instance will remain unchanged. Of course if
there are version references in the naming conventions for these entities or if
they need reorganization, the System Administrator may manually make the
necessary adjustments.</p>

<b><span style='font-size:13.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span></b>

<p><img src="images/arrowUp.gif" "7" "9">&nbsp;&nbsp;<a href="#">Back to top</a></p><p style="border-top: 1px #CDCDCD solid"></p><p class="copyright">Logi Ad Hoc Reporting &nbsp;&copy; Copyright 2004-2014 LogiXML, Inc. All rights reserved.</p></div>
</body>
</html>
