/* Logi DevNet Sample Apps - Supplimentary Style Sheet - March 2016: Lee */

PRE { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; white-space: pre-wrap; }

/* styled ReportCenter menu */
TABLE[id^='rcmMainMenu2'] { border-collapse: collapse; }
TABLE[id^='rcmMainMenu2'] TR { border: 2px DarkSlateGray solid; background-color: CadetBlue; height: 34px; padding: 30px; }
TABLE[id^='rcmMainMenu2'] a:link { text-decoration: none; color: #FFFFFF; }
TABLE[id^='rcmMainMenu2'] a:visited { text-decoration: none; color: #FFFFFF; }
TABLE[id^='rcmMainMenu2'] a:hover { font-size: larger; text-decoration: none; color: DarkSlateGray; }	

/* width of the menu items */
#rcmMainMenu2 { width: 255px; }

.container2 { width: 640px; padding-top: 20px; margin: 0px auto; text-align: center; background-color: #FFFFFF; } 

.drillHeaderContainer { width: 100%; position: fixed; top: 0px;  
    background-color: #444444; 
	color: #FFFFFF;
	padding-left: 20px; 
	padding-top: 12px; 
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px;
	border-radius: 0px;	
}

.font10pt { font-size: 10pt; }
.font11pt { font-size: 11pt; }
.font12pt { font-size: 12pt; }
.font24pt { font-size: 24pt; }

.footerLink a:link { text-decoration: none; color: #999999; }
.footerLink a:visited { text-decoration: none; color: #999999; }
.footerLink a:hover { text-decoration: underline; color: #999999; }

.imgMiddle { vertical-align: middle; }

/* for displaying source code */
.lgxCode {
	width: 900px;
	text-align: left;
    display: block;
	overflow: hidden;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #E1E1E8;
    background-color: #FFFFFF;
    font-size: 10pt;
    color:#505050;
    padding: 0px 10px 0px 10px; 

}

.padL10 { padding-left: 10px; }

/* ReportCenter styling */
.rdFolder { font-size: 100% !important; }
.ReportCenterContainer {
	background-color: AliceBlue;
	text-align: left; 
	border-color: Red;
	padding-left: 15px;
	font-size: 10pt;
}



