/* Default CSS Stylesheet for the Ad Hoc Report Builder login page */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
	margin: 0;
	padding: 0;
	background-color: #e2eecf; /*#e4eec9*/
	color:#4A4A4A;
	font: normal 18px 'Droid Sans', Helvetica, Arial, Tahoma, sans-serif;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}
#container-box {
	width: 500px;
	margin: 150px auto 50px;
	padding: 40px;
	background:#f9f9f9;
}
#brand {
	margin: 25px 0;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}
#brand img {
	position: relative;
	top: 3px;
	height: 25px;
}
#credentials {
	margin: 25px 0;
	text-align: center;
}
.container {
	display: inline-block;
	padding: 0 10px;
	height: 100%;
	vertical-align: top;
}
.container label, .container input {
	display: block;
	margin: 10px 0;
}
#labels {
	width: 17%;
}
#labels label {
	text-align: right;
	padding-top: 3px;
}
input {
	background-color: #fff;
	color:#4A4A4A;
	font: normal 18px 'Droid Sans', Helvetica, Arial, Tahoma, sans-serif;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}
#btnLogin {
	margin-top: 15px;
	padding: .5em 1.5em;
	border: 1px solid #ccc;
	background-color: #e5e5e5;
	color: #4A4A4A;
	font-size: 100%;
	font-weight: bold;
	text-decoration: none;
}
#btnLogin:hover {
	background-color: #ccc;
}
#btnLogin:active {
 	box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,
 				0 0 6px rgba(0,0,0,.2) inset;
}
.err {
	display: block;
	margin: 25px 0;
	color:#f00;
	text-align: center;
}
.tryagain {
	color:#000;
}
#logo a {
	text-indent: -9999px;
	text-align: center;
	background: url(ahImages/la-logo.png) no-repeat center;
	display: block;
	margin: 20px auto 50px;
	height: 50px;
}