<%@ Page Language="vb" AutoEventWireup="false" Codebehind="rdProcess.aspx.vb" %>
<%@ OutputCache Duration="1" Location="None" %>
<%
Dim ap as new rdServer.ActionProcessor
Call ap.ProcessAction()
%>
<head id="Head1" runat="server" visible=false/>