<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="MainMenuMobile.ascx.vb" Inherits="LogiAdHoc.MainMenuMobile" %>
<div class="divMobileLogout" >
    <div class="divMobileLogoutLink" ><a href="../Logout.aspx"><span class="MobileLogout">Logout</span></a> </div>
</div>
