BODY {
}

.certsExpiring {
    background-color: Maroon;
}

.greenBackground {
    background-color: LimeGreen;
    color: White;
    font-weight: bolder;
}

.blueBackground {
    background-color: #34578d;
    color: White;
}

.orangeBackground {
    background-color: Orange;
}

.maroonBackground {
    background-color: Maroon;
    color: White;
}

.yellowBackground {
    background-color: yellow;
    color: white;
    font-weight: bolder;
}

.mustardBackground {
    background-color: #cbc158;
    color: White;
    font-weight: bolder;
}

.redBackground {
    background-color: red;
    color: white;
    font-weight: bolder;
}

.centered {
    text-align: center;
}

.noWrap {
    white-space: no-wrap;
}

#rdSettingsCog {
    z-index: 9000 !important;
    display: block !important;
}
