/*UX Team Updates START */

body {
	margin: 0px;
}

.ThemeHeaderLarger {
  display: block;
  text-align: center;
  font-weight: bold;
}

table.rdThemePaging, .tblCenter, .rdThemeDataTable{
    margin-left: auto;
    margin-right: auto;
}
.imageCollapseExpand {
    float: right;   
}
#Footer{
  display: block;
  text-align: center;
}

table.paging{
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 5px;
}

.pageTitleRight{
	background-color: #1E1F21 !important;
	color: white;
	text-align: left;
	padding-right: 20px;
	height:70px;
	font-size: 10pt;
    font-weight: bold;
}

.pageTitleLeft{
	background-color: #1E1F21 !important;
	color: white;
	font-size: 10pt;
    font-weight:bold;
	padding-left: 20px;
	padding-bottom:5px;
	height:70px;
}

.bold
{
    font-weight: bold;
}

.red
{
	color : Red;
}

.green
{
	color : Green;
}

.AlignLeft
{
	text-align: Left;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
}

.AlignCenter
{
	text-align: center;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
}

.AlignRight
{
	text-align: right;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
}

.imageAlignLeft
{
	float: left;
	clear: both;
}

.imageAlignRight
{
	float: right;
	clear: both;
}

.imageAlignCenter
{
	display: block;
	float: none;	
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.BlackTextYellowBackground
{
            color: Black;
            background-color: Yellow !important;
}

.WhiteTextGreenBackground
{
            color: White;
            background-color: #65CB91 !important;
}

#Report tr td.paging[nowrap="nowrap"]+td {
    width:20px;    
}

#rdDashboardPanels .rdDashboard,#rdDashboardMenu .rdDashboardMenu{
   background: #0F0F0F;
}

.listTable
{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    background-color : #0F0F0F;
    margin-left : auto;
    margin-right : auto;
}

/*UX Team Updates END*/
