body
{
	background-color: #FFFFFF;
	color: #000000;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	vertical-align : middle;
	text-align : center;
   font-family: Verdana;  
   font-size: 9pt;
}




TH	{	
	vertical-align:	baseline;
	font-size:	1em;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}

TD {
	color: Black;
	background-color : #F7F7F7;
}	

A	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}	

A:link	{	
	text-decoration:	none;
	color:	#5A6940;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#5A6940;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#5A6940;
	}	
		
A:hover	{
	text-decoration:underline;
	color:#F68E56;
}

	

	
	
LI	{
	list-style-type:square ;
	margin-left : 30px;
}


IMG 	{
        border: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-width: 0px;
	}

	
.pageTitle	{
	background: #C3C2BC;
	color: #FFF79C;
	font: bold 10pt Verdana;
	height: 36px;
	padding-bottom: 5pt;
	padding-left: 16pt;
	padding-right: 0pt;
	padding-top: 9px;
	margin-right: 0px;
	margin-bottom: 1px;
	border-top-color : #E3E0DF;
	border-top-style : solid;
	border-top-width : 0px;
	border-bottom-color : #FFF79C;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	width: 100%;
}

.pageTitleLeft	{
	background: #C3C2BC;
	color: #FFF79C;
	font: bold 10pt Verdana;
	height: 36px;
	padding-bottom: 5pt;
	padding-left: 16pt;
	padding-right: 0pt;
	padding-top: 9px;
	margin-right: 0px;
	margin-bottom: 1px;
	border-top-color : #E3E0DF;
	border-top-style : solid;
	border-top-width : 0px;
	border-bottom-color : #FFF79C;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	width: 100%;
	text-align:left;
}

.pageTitleRight	{
	background: #C3C2BC;
	color: #FFF79C;
	font: bold 10pt Verdana;
	height: 36px;
	padding-bottom: 5pt;
	padding-left: 16pt;
	padding-right: 0pt;
	padding-top: 9px;
	margin-right: 0px;
	margin-bottom: 1px;
	border-top-color : #E3E0DF;
	border-top-style : solid;
	border-top-width : 0px;
	border-bottom-color : #FFF79C;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	width: 100%;
	text-align:left;
}

.pageDescription {
	font: 8pt Verdana;
}

.footer
{
    text-align: Center;
    font-family: Verdana;  
    color: #4F5E53;  
    font-size: 9pt;
    padding-left: 5px;
}

.footCenter
{
    text-align: Center;
    font-family: Verdana;  
    color: #333333;  
    font-size: 9pt;
    padding-left: 5px;
}

.boldCenter
{
    text-align: Center;
    font-weight: bold;
    font-color: black;
}

.boldLeft
{
    text-align: Left;
    font-weight: bold;
    font-color: black;
}

.bold
{
    font-weight: bold;
}

.red
{
	color : Red;
}

.green
{
	color : Green;
}

.descriptionText
{
	font-family: Verdana;
	color: #000000;
	font-size: 10pt;
	text-align: Center;
	padding-left : 10pt;
}

.descriptionTextItalic
{
	font-family: Verdana;
	color: #313C5A;
	font-size: 10pt;
	font-style : italic;
	padding-left: 15pt;
	font-weight : bold;
}

.inputLabel
{
    font-family: Verdana;  
    color: #000000;  
    font-size: 10pt;
}

.tableTitle
{
    font-family: Verdana;  
    color: #000000;  
    font-size: 14pt; 	    
}

.listTable
{
	font-family: Verdana;
	color: #FFFFFF;
	font-size: 8pt;
	background-color : #C6DF9C;
	padding: 2px;
	margin-left : auto;
	margin-right : auto;
}

.listTable2
{
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	background-color : #FFFFFF;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
	margin-left : 20px;
}

.listTableAlignRight
{
	text-align: right;
	font-family: Verdana;
	color: Black;
	font-size: 10pt;
	background-color : #F5F5F5;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}



TH.listTable
{
	color: Black;
	background-color : #FFF79C;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.rdAgCrossTabDataTable
{
	color: Black;
	background-color : #FFF79C;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}


TD.listTable
{
	color: Black;
	background-color : #F7F7F7;
}

SPAN.listTable
{
	font-family: Verdana;
	color: Black;
	background-color : #F7F7F7;
	padding-bottom : 0;
	padding-left : 0;
	padding-right : 0;
	padding-top : 0;
}

.imageNoBorder
{
	border: 0;
}

.headerText
{
	color: White;
}

.column1 {
	background-color : #C4DF9B;
	padding-left: 15px;
}

.column2 {
	background-color : #FFF799;
	color: #000000;
	font: bold 10pt Verdana;
	padding-bottom: 3px;
	padding-left: 10px;
}


.paging {
	padding-left: 3px;
	font-family: Verdana;
	color: Black;
	font-size: 10pt;
	margin-left: auto;
	margin-right: auto;
	margin-bottom : 10px;
	vertical-align : middle;
}

.subTableColumn1
{
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	background-color : #FED1D0;
	padding-bottom : 2;
	padding-left : 5;
	padding-right : 5;
	padding-top : 2;
	width: 140px;
}

.subTableColumn2
{
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	background-color : #FED1D0;
	padding-bottom : 2;
	padding-left : 5;
	padding-right : 5;
	padding-top : 2;
	width: 140px;
}

.cid {
	font-family: Verdana;
	color: #869C61;
	font-size: 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.link	{	
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: underline;
	}

.buttonFirst {
	margin-left : 8px;
}

.buttons {
	margin-left : 15px;
}

.grouping {
	background-color : #F5F5F5;
	padding-right : 4px;
	text-align: right;
}


.filterBg	{
	background: #E5F4CC;
	padding-top:2px;
	padding-bottom: 8px;
	text-align:left;
}

.filterBg TD {
	background: #E5F4CC;
}

.filterBtn	{
	background: #FFF79C;
	color: #214973;
	font: bold 9pt Verdana;
	border-top : 1 solid #BDC5CF;
	border-right : 1 solid #4A719C;
	border-bottom : 1 solid #4A719C;
	border-left : 1 solid #BDC5CF;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	cursor: hand;
}

.txt	{
	font: 8pt Verdana;
	color: #000000;
	width : 180px;
	vertical-align: top;
}

.rtxtCaption	{
	color: #000000;
	font: bold 8pt Verdana;
	margin-left: 20px;
	margin-right: 1px;
	width : 150px;
	vertical-align: top;
}

.dt	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 163px;
	vertical-align: top;
}

.txta	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 186px;
	vertical-align: top;
}

/* uncomment the next line to make any listbox or dropdownlist wider */
/*.txta	{ width: 450px; }*/

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}

.bottom {
	vertical-align: bottom;
}

.gHeader
{
	background-color: #E8F9C9;
	color: #435A1C;
	font: bold 7.5pt Verdana;
	text-align: center;
	padding-right: 2px;	
}

.gSummary
{
    font-weight: bold;
	text-align: right;
	padding-right: 4px;		
}

.objectTitle
{
    font-family: Arial;  
    color: #000000;  
    font-size: 12pt; 	    
    font-weight: bold;
}

.summaryRow
{
	font-family: Verdana;
	color: #415421;
	font-size: 8pt;
    font-weight: bold;
}


.paramCaption 
{
    width:150px;
	color: #000000;
	font: bold 8pt Verdana;
	margin-left: 5px;
	vertical-align: top;
}

.rtxtCaptionSmall {
	color: #000000;
	font: bold 8pt Verdana;
	margin-left: 10px;
	margin-right: 1px;
	width : 35px;
	vertical-align: top;
}

.paramColumn, .paramSmallColumn
{
	vertical-align: top;
}

table
{
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
}

.title
{
	background-color:Navy;
	font-weight:bold;
	color:Silver;
}

.divCenter
{
	width: 100%;
	text-align: center;
}

.redtext
{
	color: red;
}

.orangetext
{
	color: orange;
}

.greentext
{
	color: Green;
}
	
.AlignLeft
{
	text-align: Left;
	font-family: Verdana;
	font-size: 8pt;
}


TH.AlignLeft
{
	color: #464646;
	background-color : #FFF79C;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}


TD.AlignLeft
{
	padding-left : 5px;
}


.AlignCenter
{
	text-align: center;
	font-family: Verdana;
	font-size: 8pt;

}


TH.AlignCenter
{
	color: #464646;
	background-color : #FFF79C;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.AlignRight
{
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
}


TH.AlignRight
{
	color: #464646;
	background-color : #FFF79C;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}


TD.AlignRight
{
	padding-right : 5px;
}

.imageAlignLeft
{
	float: left;
	clear: both;
}

.imageAlignRight
{
	float: right;
	clear: both;
}

.imageAlignCenter
{
	display: block;
	float: none;	
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.BlackTextYellowBackground
{
            color: Black;
            background-color: Yellow !important;
}

.WhiteTextGreenBackground
{
            color: White;
            background-color: #65CB91 !important;
}

.ExportLeftSide {
            background: url(../_Images/ExportLeft.gif);
            height: 56px;
}

.ExportBg {
            background: url(../_Images/ExportCenter.gif);
            height: 56px;
}

.ExportRightSide {
            background: url(../_Images/ExportRight.gif);
            height: 56px;
}

.summaryRowTop
{
	color: Black;
	background-color : #FFFFFF;
}

TH.summaryRowTop
{
	color: Black;
	background-color : #FFFFFF;
}

.ExtraHeaderRowCells
{
	color: Black;
	background-color : #FFF79C;
	font-weight : bold;
	font-size : 8pt;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.imageCollapseExpand
{
	padding-right:2px;
	padding-top:2px;
	float: right;
	clear: both;
}
  
.tblCenter 
{
    margin-left:auto;
    margin-right:auto;
}


.AltRow TD
{
	background-color : #FFFFFF;
}
.ThemeHeaderLarger {
    font-weight: bold;
}

#Report tr td.paging+td {
   width: 20px;  
}

#rdDashboardPanels .rdDashboard {
    padding-left: 0.5em;
    text-align: left;
    background: #FFF;
}
.rdDashboardTitle {
    border-collapse: collapse;
}

.rdPopupPanelTitle td.rdPopupPanelControl {
    background-color: #F1F1F1;
}