body {
	background-color: #FFFFFF;
}

#divHeader {
	top: 0px;
	left: 0px;
	position: fixed;
	height: 50px;
	width: 100%;
	z-index: 100;
	background-color: White;
	-webkit-box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.41);
	box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.41);
	padding: 10px 50px;
	box-sizing: border-box;
}

#divContent {
	z-index: 1 !important;
	top: 50px !important;
	left: 1px;
	height: calc(100vh - 50px) !important;
	width: 100vw !important;
	padding: 0px !important;
	margin: 0px !important;
	border: none !important;
	position: fixed;
	overflow: hidden;
}

#leaf-overlay {
	z-index: 1 !important;
	top: -100vh !important;
	height: 300vh !important;
	width: 300vw !important;
	padding: 0px !important;
	margin: 0px !important;
	border: none !important;
	position: absolute;
	left: -100vw;
	background-color: rgba(0,0,0,.7);
}
#leaf {
	z-index: -1 !important;
	top: -100vh !important;
	height: 300vh !important;
	width: 300vw !important;
	padding: 0px !important;
	margin: 0px !important;
	border: none !important;
	position: absolute;
	left: -100vw;
}

.text-shadow {
	text-shadow: 5px 5px 10px #000000;
}
.text-white {
	color: #ffffff;
}
.float-right {
	float: right;
}

#divlbl1 {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 400px;
	height: 500px;
	color: White;
	font-weight: bold;
	z-index: 100;
}
.text-title {
	font-size: 60px;
}

.text-bold {
	font-weight: 900;
}	
.computer {
font-family: 'Share Tech Mono', monospace !important;
}


#divVisuals {
	position: absolute;
	bottom: 30px;
	left: 0px;
	width: 100%;
	height: 300px;
	z-index: 100;
}