.ThemeHeaderLarger {
  display: block;
  text-align: center;
  font-weight: bold;
}

.rdThemePaging, .tblCenter, .rdThemeDataTable{
    margin-left: auto;
    margin-right: auto;
}
.imageCollapseExpand {
    float: right;   
}
#Footer{
  display: block;
  text-align: center;
}

#rdDashboardPanels .rdDashboard {
    background: #fff;
}