/* Logi DevNet Sample Apps - Supplimentary Style Sheet - April 2016: Lee */

/* make checkboxes a little larger */
INPUT[type="checkbox"] { 
	-moz-transform: scale(1.2); 
	-ms-transform: scale(1.2); /* IE */
	-moz-transform: scale(1.2); /* FF */
	-webkit-transform: scale(1.4); /* Safari and Chrome */
	-o-transform: scale(1.2); /* Opera */
	margin-left: 4px;
	margin-right: 8px;
}

PRE { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; white-space: pre-wrap; }

.drillHeaderContainer { width: 100%; position: fixed; top: 0px;  
    background-color: #444444; 
	color: #FFFFFF;
	padding-left: 20px; 
	padding-top: 12px; 
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px;
	border-radius: 0px;	
}

.font10pt { font-size: 10pt; }
.font11pt { font-size: 11pt; }
.font12pt { font-size: 12pt; }
.font24pt { font-size: 24pt; }

.footerLink a:link { text-decoration: none; color: #999999; }
.footerLink a:visited { text-decoration: none; color: #999999; }
.footerLink a:hover { text-decoration: underline; color: #999999; }

.imgMiddle { vertical-align: middle; }

/* for displaying source code */
.lgxCode {
	width: 900px;
	text-align: left;
    display: block;
	overflow: hidden;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #E1E1E8;
    background-color: #FFFFFF;
    font-size: 10pt;
    color:#505050;
    padding: 0px 10px 0px 10px; 

}

.pad10 { padding: 10px; }
.padL10 { padding-left: 10px; }



