/* Default CSS Stylesheet for the Ad Hoc Report Builder */
*{margin:0; padding:0; }

article,aside,dialog,figure,footer,header,hgroup,nav,section { display:block; }

ul { list-style:none; } 

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse:collapse; }

td > span { margin:0 3px; }

#divDataTabs { height:23px; }

caption { font-weight:normal; text-align:left; }

table,td,th { border-spacing:0; border-style:none; font-family:Arial,Tahoma,sans-serif; font-size:100%; vertical-align:top; }

th { font-family:Arial,Tahoma,sans-serif; text-align:center; vertical-align:middle; } 
th td { padding: 0; } 

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before,blockquote:after,q:before,q:after { content:""; }

blockquote,q { quotes:"" ""; } 

/* Remove annoying border on linked images. */
a img { border:none; } 

/* General page styles. */

body { background:#f9f9f9; color:#484848; font-family:Arial,Tahoma,sans-serif; font-size:small; line-height:120%; }

a { color:#589309; cursor:pointer; text-decoration:none; }

a:visited { color:#589309; cursor:pointer; text-decoration:none; }

a:link { color:#589309; text-decoration:none; }

a:hover { color:#589309; cursor:pointer; text-decoration:underline; }

p { padding:5px 0; }

#form1 { font-size: 92.5%; }

#menu { background:#E4E4E4 url(Images/n_top_back.png) 0 100% repeat-x; padding:5px 0 10px; margin:0 auto; width:100%; }

#menu_tbMenu { vertical-align:middle; font-size: 95%; }

#menu_tbMenu td { vertical-align:middle; }

.tdMnuLogo { padding-left:20px; width:300px; }

#menu a { padding-right:2px; }

#menu .menuicon { display:none; }

#menu a { padding-right:2px; }

.mnuReports,.mnuProfile,.mnuConfig { background:url(Images/mMnuBk.png); float:left; height:18px; margin:4px; padding: 5px 10px 0px 10px !important; text-align:center; text-decoration:none; width:117px; }

.mnuReports:hover,.mnuProfile:hover,.mnuConfig:hover { background:url(Images/mMnuBk_H.png); text-decoration:none; }

.mnuReportsSelected,.mnuProfileSelected,.mnuConfigSelected { background:url(Images/mMnuBk_S.png); color: #ffffff !important; float:left; height:18px; margin:4px; padding: 5px 10px 0 10px !important; text-align:center; text-decoration:none; width:117px; }

.mnuReportsSelected a,.mnuProfileSelected a,.mnuConfigSelected a { color:#ffffff; }

#links a { color:#484848; }

#links a:hover { color:#484848; text-decoration:none; }

#menu .menubutton { border:0; vertical-align:middle; }

#menu_GroupSelector { color:#354f6b; margin:0 0 0 28px; white-space:nowrap; }

#menu_DBSelector { color:#68786F; margin:0 0 0 28px; white-space:nowrap; }

#submenu { background-color:#E4E4E4; border-bottom:1px solid #BCBCBC; height:30px; padding-left:18px; }

#submenu ul { margin:0; padding:5px 0px 0px 0px; z-index:10; }

#submenu li { background:url("Images/sMnubk_L.png") no-repeat scroll left top transparent; display:block; float:left; margin-top:2px; padding-left:1px; position:relative; z-index:10; line-height: 105%; font-size: 97.5%; margin-right: 5px; }

#submenu li a.current_menutitle { color:#ffffff; font-weight:bold; padding:5px; text-decoration:none; }

#submenu li a:hover { text-decoration:none; }

#submenu .separator { display:none; }

.menuArrow { position:absolute; right:10px; top:10px; }

.menutitle { background:url("Images/sMnubk_R_H.png") no-repeat scroll right top transparent; border:0px solid #bcbcbc; color:#353535; display:block; height:23px; padding:0px 24px 0 14px; text-decoration:none; cursor: pointer; line-height: 24px; }

#submenu li:hover .menutitle { background:url("Images/sMnubk_R.png") no-repeat scroll right top transparent; color:#589309; }

.current_menutitle { background:#f9f9f9 url("Images/sMnubk_R_S.png") no-repeat scroll right top; border:0px solid #bcbcbc; color:#589309; display:block; font-weight:bold; height:24px; padding:0px 24px 0 14px; text-decoration:none; line-height: 24px; }

#functions { color:#484848; float:right; font-weight:normal; margin-top:10px; }

#functions a { color:#484848; font-weight:normal; }

#functions1 { color:White; float:right; font-weight:normal; margin:0px 5px; }

#functions1 a { color:White; font-weight:normal; }

#navtrail { color:#4c4c4c; font-weight:bold; vertical-align:middle; }

#navtrail a { color:#4c4c4c; font-weight:normal; white-space:nowrap; }

.bctrail { color:#4c4c4c; font-weight:bold; padding:10px 5px 10px 18px; white-space:nowrap; }

.bctrail a { color:#4c4c4c; font-weight:normal; white-space:nowrap; }

form { margin:0; padding:0; }

input + label { margin-left:5px; }

label + input { margin-left:5px; }

h1 { font-weight:bold; margin-left:2px; font-size: 140% }

h2 { font-weight:bold; margin-bottom:10px; margin-top:20px; padding:0px; font-size: 120%; }

h3 { font-weight:bold; margin:4px 2px; font-size: 110%; }

form { margin-left:0px; margin-right:0px; }

input { font-family:Arial,Tahoma,sans-serif; font-size:100%; }
input[type="text"] { padding: 2px 3px; border: 1px solid #888888; }

input[type="image"] { cursor:pointer; }

textarea { font-family:Arial,Tahoma,sans-serif; font-size:100%;  padding: 2px 3px; border: 1px solid #888888; }

select { font-family:Arial,Tahoma,sans-serif; font-size:100%; padding: 1px; border: 1px solid #888888; }

option { font-family:Arial,Tahoma,sans-serif; font-size:100%; } 

/* Styles for the report list. */

#ReportGrid .ReportLink { font-weight:bold; }

.legend { background-color:#eaf3d2; border:solid 1px #c7d59e; color:#333333; margin:14px 0px; padding:4px; }

.legend dl { display:inline; font-weight:normal; }

.legend dt { display:inline; font-weight:normal; margin-left:20px; }

.legend dd { display:inline; margin-left:5px; }

.treenodeSelected { font-weight:bold; }

.treediv { font-weight:normal; } 

/* Styles for the MSL user control. */

.MSL { min-width:300px; width:300px;  /* width:expression(this.clientWidth <= 300 ? "300px" : "" );  */; }

.mslbutton { border-style:none; display:block; margin:25px 3px; } 

/* Styles for the MS GridControl.  */

/*.gridWline { background-color:White; border:1px solid #7e8471; margin:14px 0px; }
* + html .gridWline tr td,* + html .gridWline tr th { border:1px solid #aaaaaa; border-collapse:collapse; }

* + html .gridWline tr tr td,* + html .gridWline tr tr th { border:none; }
*/
.gridWline { background-color:White; border:1px solid #7e8471; border-collapse: collapse; text-align:left; }
.gridWline tr td, .gridWline tr th { border:1px solid #aaaaaa; border-collapse:collapse; padding: 2px 0; }
.gridWline tr tr td, .gridWline tr tr th { border:none; }

.gridheader { background:#eee; height:29px; text-align:center; vertical-align:middle; }

th { background:#eee; border-bottom:1px solid #bbbbbb; font-weight:bold; vertical-align:middle; }

.gridheader th { padding:0px 4px 0px 4px; }

tr.gridrow td { background:#fff; color:#484848; border-bottom:1px solid #bbbbbb; }

tr.gridalternaterow td { background:#f9f9f9; border-bottom:1px solid #bbbbbb; border-top:1px solid #bbbbbb; color:#484848; }

tr.gridrow:hover td, tr.gridalternaterow:hover td {background: #ffffee; border-bottom:1px solid #bbbbbb; border-top:1px solid #bbbbbb; color:#484848; }

.SelectedRow td
{
	background-color: #ffffcc; border-bottom:1px solid #bbbbbb; border-top:1px solid #bbbbbb; color:#484848;
}

tr.gridrow td td,tr.gridalternaterow td td, tr.gridrow:hover td td, tr.gridalternaterow:hover td td { border:none; }

tr.gridrownocolor, tr.gridalternaterownocolor { color:#484848; }
tr.gridrownocolor td { background:#fff; border-bottom:1px solid #bbbbbb; border-top:1px solid #bbbbbb; }
tr.gridalternaterownocolor td { background:#f9f9f9; border-bottom:1px solid #bbbbbb; border-top:1px solid #bbbbbb; }
tr.gridrownocolor td td,tr.gridalternaterownocolor td td { border:none; }
tr.gridrownocolor:hover td, tr.gridalternaterownocolor:hover td {background: #ffffee; border-bottom:1px solid #bbbbbb; border-top:1px solid #bbbbbb; color:#484848; }
tr.gridrownocolor td td,tr.gridalternaterownocolor td td, tr.gridrownocolor:hover td td, tr.gridalternaterownocolor:hover td td { border:none; }

.gridDetail td { height:25px; vertical-align:middle; padding: 2px 0; } 

.grid td,.gridWline td { height:29px; vertical-align:middle; padding: 2px 0; } 
.grid td,.gridDetail td { border-collapse: collapse; border-left: 1px solid #eee; border-right: 1px solid #eee; padding: 2px; } 
.grid th,.gridDetail th { border-collapse: collapse; border-left: 1px solid #fff; border-right: 1px solid #fff; } 
.grid td img,.gridWline td img { vertical-align: middle; } 
#grdColumnFormat td { padding: 5px; } 
#grdColumnFormat td td { padding: 2px 0; } 
#grdColumnFormat tr:nth-child(2n+3) { background-color: #f9f9f9;  } 

/* General page styles */

.help { background-color:#DDDDDD; background-image:url(../../ahImages/iconHelpText.gif); background-position:top left; background-repeat:no-repeat; border:solid 1px #CCCCCC; color:Black; font-weight:normal; margin-top:14px; padding:2px 0px 2px 20px; }

.info { background:#eaf3d2 url(../../ahImages/iconInfo.gif) no-repeat; background-position:top left; border:solid 1px #c7d59e; font-weight:normal; margin-top:14px; padding:2px 0px 2px 20px; }

.validation_error { clear:both; color:Red; }

.errorWithImage { background:#FFDDCC url(../../ahImages/iconError.gif) no-repeat; background-position:top left; border:solid 1px #EECDBC; margin-top:14px; padding:2px 0px 2px 20px; text-align:left; }

.error { background-color:#FFDDCC !important; }

.warning { background:#FFEEBB url(../../ahImages/iconWarning.gif) no-repeat; background-position:top left; border:solid 1px #FFDEAB; color:Black; margin-top:14px; padding:2px 0px 2px 20px; }

.warningnNoImage { background-color:#FFEEBB; }

.spacer { cursor:default; }

.command { -moz-border-radius:4px 0 0 3px; background:url("Images/btnBk23px_R.png") no-repeat scroll right top transparent; border:solid 1px transparent; border-left:solid 1px #aaaaaa; border-radius:4px 0 0 3px; color:#484848; cursor:pointer; height:24px; padding-bottom:1px; padding-top:1px; text-align:center; text-decoration:none; vertical-align:middle; }

.normaltab { background-color:#D8D8D8; border:solid 1px #C9D5DF; color:#3E5347; cursor:pointer; height:18px; padding-bottom:1px; padding-top:1px; text-align:center; text-decoration:none; vertical-align:middle; }

.selectedtab { background-color:#FFFFFF; border-bottom:solid 1px #FFFFFF; border-left:solid 1px #C9D5DF; border-right:solid 1px #C9D5DF; border-top:solid 1px #C9D5DF; color:#3E5347; cursor:pointer; height:18px; padding-bottom:1px; padding-top:1px; text-align:center; text-decoration:none; vertical-align:middle; } 

/* Mozilla, Opera styles to preserve disabled look for command buttons. */

.command [ disabled = 'true' ] { color:#999; }

.command [ disabled = 'false' ] { color:#009; }

.command [ disabled ] { color:#999; padding:0px 6px; }

.clcCommand { border:solid 1px #C9D5DF; color:#3E5347; cursor:pointer; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#B6DB4B); height:18px; padding-bottom:1px; padding-top:1px; text-align:center; text-decoration:none; vertical-align:middle; width:120px; } 

/* Mozilla, Opera styles to preserve disabled look for command buttons. */

.clcCommand [ disabled = 'true' ] { color:#999; }

.clcCommand [ disabled = 'false' ] { color:#009; }

.clcCommand [ disabled ] { color:#999; padding:0px 6px; }

.detailpanel { background:#ddd; border:dashed 2px #5e7531; margin:14px 0px; padding:5px; }
.detailpanel * { margin:3px; line-height: 20px;}

.detailDiv { background:#ccc; margin:5px 0px; padding:5px; }

.framed { border:solid 1px #c7d59e; margin-bottom:10px; padding:3px; } 

/* Form submit button styles. (Save, Delete, Cancel, etc.) */

#actions { margin-top:14px; } 

/* Navigation element styles used in the Report Wizard. */

#myNavBar_navlinks { margin:10px 0; }

#myNavBar_navlinks ol,#myNavBar_navlinks ul { margin:0px 0px 0px -2px; padding:0; }

#myNavBar_navlinks li { display:inline; }

#myNavBar_navlinks li a { background:#fff; border-bottom:1px solid #68786F; border-left:1px solid #cad8e8; border-right:1px solid #68786F; border-top:1px solid #cad8e8; color:#000; margin:0px 2px; padding:2px 5px; text-decoration:none; white-space:nowrap; }

#myNavBar_navlinks .currentpage { background-color:#68786F; border-bottom:1px solid #354f6b; border-left:1px solid #BDC7CE; border-right:1px solid #354f6b; border-top:1px solid #BDC7CE; color:#FFFFFF; font-weight:bold; }

#myNavButtons_navbuttons { margin-top:14px; }

#myNavButtons_navbuttons a { font-weight:bold; margin:0 10px 0 0; text-decoration:none; white-space:nowrap; color: #68786F; }
#myNavButtons_navbuttons a:hover { text-decoration: none; }

#myNavButtons_navbuttons a#myNavButtons_Back { background: url(Images/previous_tab.png) no-repeat; display: inline-block; width: 113px ; height:23px; line-height: 22px; text-indent: 24px;}

#myNavButtons_navbuttons a#myNavButtons_Next { background: url(Images/next_tab.png) no-repeat; display: inline-block; width: 113px ; height:23px; line-height: 22px; text-indent: 24px; }

.InactiveDiv { background-color:#eaf3d2; border:solid 1px #354f6b; color:#333333; margin:14px 0px; padding:4px; }

.InactiveFHeader { background:#354f6b; color:White; font-weight:bold; height:18px; padding:2px 5px; text-align:center; }

.InactiveFColumnHeader { background-color:#deedb3; border-bottom:1px solid #BDC7CE; border-left:1px solid #BDC7CE; border-right:1px solid #BDC7CE; border-top:1px solid #BDC7CE; color:#68786F; font-weight:bold; height:14px; margin:0px 0px 15px 0px; padding:2px 5px; white-space:nowrap; }

.ViewButton { background-color:#deedb3; border-bottom:1px solid #354f6b; border-left:1px solid #BDC7CE; border-right:1px solid #354f6b; border-top:1px solid #BDC7CE; color:#68786F; font-weight:bold; height:18px; margin:0 10px 0 0; padding:2px 5px; text-align:center; text-decoration:none; white-space:nowrap; }

.NoWrap { color:#444444; font-weight:bold; margin-bottom:10px; margin-top:20px; padding:0px; }

.DescriptionField { color:#354f6b; margin-left:10px; width: 250px; height: 200px; overflow: auto;}

.collapsePanelHeader { background:url(Images/all_back.png) repeat-x; border-color:#aaaaaa; border-style:none solid; border-width:0 1px; color:#333333; font-weight:bold; height:20px; line-height:20px; }

.collapsePanelHeader > div { padding: 0 3px !important; }

.collapsePanelHeader2 { background-color:#D3D3D3; border:solid 1px #a9a9a9; color:#333333; font-weight:bold; height:24px; padding:2px 2px 2px 5px; }

.collapsePanelHeader3 { background-color:#E4E4E4; border:solid 1px #BCBCBC; color:#191919; font-weight:bold; height:26px; margin-top:5px; line-height: 20px; width: 650px; } 
.collapsePanelHeader3 img { vertical-align: middle; margin-right: 5px; } 
.collapsePanelHeader3 + div[id] { padding: 10px 5px 7px; width: 640px; margin-bottom: 10px; background-color: #fff; border: 1px solid #BCBCBC; border-top: none; } 
.collapsePanelHeader3 + div[id] .searchDiv { margin-bottom: -5px; padding: 0 10px 10px 10px; } 
*+html .collapsePanelHeader3 + div[id] .searchDiv { margin-bottom: -22px; padding-bottom: 0; } 
.collapsePanelHeader3 + div[id] .searchDiv .collapsePanelHeader { width: 638px; margin-right: -10px; position: relative; left: -10px; background: #eeeeee; border: none; margin-bottom: 10px; padding: 0; } 
.collapsePanelHeader3 + div[id] .searchDiv .collapsePanelHeader * { padding: 0 10px !important; color: #191919; } 

.collapsePanelHeader3 + div[id] > li { margin-left: 30px; } 
*+html .collapsePanelHeader3 + div[id] > li { margin-left: 0px; } 
/*.collapsePanelHeader3 + div[id] > li { border: 1px solid #c4c4c4; border-top: none; margin: -10px 0 9px 0; padding: 0px 10px 6px; list-style: none; background-color: #f9f9f9; } 
*+html .collapsePanelHeader3 + div[id] > li { border: none; margin: 0; padding: 0px 0 3px; list-style: disc; background-color: transparent; } 
.collapsePanelHeader3 + div[id] > li:before { content: "\00BB \0020 "; } 
*+html .collapsePanelHeader3 + div[id] > li:before { content: none; } 
.collapsePanelHeader3 + div[id] > li:first-child { padding-top: 6px; } 
*+html .collapsePanelHeader3 + div[id] > li:first-child { padding-top: 0px; } */


/* End of Search filter */ 

/* Preview panel */

.previewDiv { border:solid 1px #c7d59e; }

.previewCollapse { background-color:#eaf3d2; border:solid 1px #c7d59e; color:#333333; font-weight:bold; height:20px; padding:2px; } 

/* End of Search filter */

.tdConfig { border:1px solid #BCBCBC; border-spacing:0px; padding:10px !important; }

.divConfig { background-color:#E4E4E4; border:1px solid #BCBCBC; font-weight:bold; height:24px; line-height:24px; margin-bottom:10px; padding-left:4px; vertical-align:middle; font-size: 120%; }

.divInnerConfig { margin-left:5px; }

.tdTitle { background-color:#EAE0CE; padding:3px; width:102px; }

.title { font-weight:bold; text-align:center; }

.editLink { float:right; font-weight:normal; }

.dataTab { background-color:#c7d59e; border:1px Solid #68786F; color:#000000; font-weight:bold; margin:0 0 3px 0; padding:3px 0px 0px 3px; width:161px; }

.dtActive { background-color:#f4f7ed; color:red; }

.contentTabInside,.contentTab { background-color:#E7E7E7; border-bottom:1px Solid #68786F; border-left:1px Solid #68786F; border-top:1px Solid #68786F; color:#000000; font-weight:bold; margin:0 0 3px 0; padding:3px 0px 0px 0px; }

.contentTab { border:1px Solid #68786F; padding:3px 0px 0px 3px; width:161px; }

.ctActive { background-color:#F7F7F7; color:red; }

.vertNavButton,.vertNavButtonData,.vertNavButtonDataLast { background-color:white; border-top:1px solid #BDC7CE; color:#68786F; height:14; margin:0 0 0 0; padding:2px 5px; text-align:right; text-decoration:none; white-space:nowrap; }

.vertNavButtonData,.vertNavButtonDataLast { border-left:1px solid #BDC7CE; }

.vertNavButtonDataLast { border-bottom:1px solid #BDC7CE; margin:0 0 3px 0; }

.Active { background-color:#ffffcc; color:#68786F; font-weight:bold; }

.tinyImage { /*border:3px solid #E7E7E7;*/ padding:2px; width:7px; }

.paddedImage { padding:2px; }

.spanObject { color:black; font-weight:normal; }

.tdWizardBody { padding-left:5px; vertical-align:top; width:100%; }
.tdWizardBody td { padding: 0; }

/*.wizardBody { background-color:#F7F7F7; border:1px solid #68786F; margin-top:0px; padding:10px; }*/
.wizardBody { background-color:#F7F7F7; border:1px solid #68786F; margin-top:0px; padding:10px; overflow: auto; width: auto !important; overflow-x: hidden !important; position: relative;}
.wizardBody td { padding: 3px 5px; }
/*.wizardBody > div:first-child { overflow: auto; width: auto !important; position: relative; }*/

.dataBody { background-color:#f4f7ed; border:1px solid #68786F; padding:10px; }

.tabLink { color:Navy; cursor:pointer; padding:5px; text-decoration:underline; width:40px; }

.tabLayout { color:Navy; cursor:pointer; float:right; text-align:right; text-decoration:underline; width:550px; } 

/*Popup Control*/

.popupControl { background-color:#FFF8C6; border-color:Gray; border-style:solid; border-width:1px; padding:5px; position:absolute; visibility:hidden; } /*Modal Popup*/

.modalBackground { background-color:#888888; z-index: 50; filter:alpha(opacity=70); opacity:0.7; }

.modalPopup { background-color:#f9f9f9; border:2px solid #666666; overflow:auto; }
.modalPopupBckgndColor { background-color:#f9f9f9; }

*:first-child + html #pnlShowDataPopup { width:520px; }

.modalDiv { margin:0; padding:10px; font-size: 90%; text-align: left; white-space: normal; }

*:first-child+html .modalPopup .modalDiv { margin-top: 20px; }

.showDataPopup { height: auto !important; max-height:320px; }

#ucSelectTemplate_pnlTemplateControl { margin-bottom:8px; }

#ucSelectTemplate_UPTemplateDesc table { margin:5px; }

#divIFrameDS { text-align:center; }

#divIFrameDS iframe { margin:0 auto; }

#divParamDetails td { padding:3px 7px; }

#pnlFilters td { padding:2px 7px; }

#grdData td { padding:2px 7px; }

.modalPopupHandle { background-image:url("Images/n_top_back.png"); background-position:left bottom; background-repeat:repeat-x; cursor:move; font-weight:bold; height:16px; margin:0; overflow:hidden; padding:3px 0 3px 6px; vertical-align:middle; width: auto !important; }
*:first-child+html .modalPopupHandle { position: absolute; left: 0; top: 0; right: 0; }
.modalPopupHandle td input { vertical-align: middle; }
.modalPopupHandle td img { vertical-align: middle; }

*:first-child + html #ifrmDS { width: 100% !important; }

*:first-child + html #pnlSelectDataControl #UP1 > table { width:100%; }

* + html #divTData { overflow: hidden !important; }

.savePopup { background-color:#ffffff; border-color:#111111; border-style:solid; border-width:2px; height:68px; width:180px; }
.savePopup table { width: 100%; height: 100%; }
.savePopup table td { padding: 0; margin: 0; vertical-align: middle; text-align: center; }

.lblSavePopup { ; }

.sampleStyleA { background-color:#FFF; }

.sampleStyleB { background-color:#FFF; font-weight:bold; }

.sampleStyleC { background-color:#ddffdd; font-style:italic; }

.sampleStyleD { background-color:Blue; color:White; }

.hidden { visibility:hidden; }

.reportLayoutObject { background-color:#FFE87C; border:solid 1px #354f6b; color:black; cursor:pointer; text-align:center; width:100px; }

.centered { height:100%; text-align:center; width:100%; }

.smallText { width:20px; }

.imageButton { border:solid 1px gray; cursor:pointer; margin:3px; }

.Arrow { cursor:pointer; font-family:Webdings; line-height:10px; width:10px; }

.shadeCommand { border:solid 1px #C9D5DF; color:#3E5347; cursor:pointer; height:18px; padding-bottom:1px; padding-top:1px; text-align:center; text-decoration:none; vertical-align:middle; }

.rightJustify { text-align:right; }

.vAlignMiddle { vertical-align:middle; }

.divForm { padding-left:18px; padding-right:18px; }

.divForm li { list-style:disc; margin-left:25px; }

.divForm > table > tbody > tr > td { padding:3px 5px; }

.divForm > div > table > tbody > tr > td { padding:3px 5px; }

* + html .divForm > table { border-collapse:separate; }

*:first-child + html #pnlDataSourcePopup { width:800px; }

.divgrdForm { margin:0 auto; width:670px; }

.topBar { background-color:#F7F7F7; border-bottom:Solid 1px #B0C1D4; Height:30px; padding:3px 5px 3px 18px; }

.divButtons { padding-top:10px; }

.gridForm { margin-left:18px; margin-right:18px; min-width:700px; }
.limiting {width:90%;}

#data_main { background:none repeat scroll 0 0 #FFFFFF; border:1px solid #C4C4C4; padding:8px 10px 5px; }
#data_main2 { background:none repeat scroll 0 0 #FFFFFF; border:1px solid #C4C4C4; padding:8px 10px 5px; }

div#data_top { background:url(Images/data_top.png) no-repeat; float:left; height:7px; width:100%; }

div#data_bottom { background:url(Images/data_bottom.png) no-repeat; float:left; height:6px; width:100%; }

#activities { background:none repeat scroll 0 0 #EEEEEE; height:20px; margin:5px 0 10px; padding:10px 8px 15px 10px; }

.grid { border-collapse: collapse; text-align:left; width:100%; }

.broken { color:Red; }

.expired { color:Gray; }

.AboutBody { background-image:url(../../ahImages/About_Adhoc.jpg); background-repeat:no-repeat; font-size: 0.8em; }

.CheckAll { color:#C8C8C8; } 

/* New classes  by Calvin. */

#menu_Logout { margin-right:15px; } 

/* Dashboard classes */

.panelConfig { background-color:white; border-top:1px solid #BDC7CE; color:#68786F; height:40px; margin:0 0 0 0; padding:2px 5px; text-align:center; text-decoration:none; white-space:nowrap; }

.contentTabDashboard { background-color:#E7E7E7; border:1px Solid #68786F; color:#000000; font-weight:bold; margin:0 0 3px 0; padding:3px 0px 0px 0px; }

.dashColumn { background-color:#c7d59e; border:1px Solid #68786F; color:#000000; font-weight:bold; margin:0 0 3px 0; padding:3px 0px 0px 3px; width:126px; } 

/* Email Info Styles */

.tblBody { margin:10px; padding:10px; width:99%; }

.trBody { width:100%; }

.tdBody { width:100%; }

.lbl { margin-left:2px; }

.txt { width:98%; }

.txtBody { margin-left:10px; width:98%; }

.NoShow { display:none; } 

/* Help stuff */

.bodHelp { background-color: White; }

.titleImage { background-color:#EEEEEE; background-image:url(Images/Help/title.png); background-repeat:no-repeat; height:50px; width:370px; }

#HelpMenu_navcontainer { margin-left:0px; margin-right:30px; }

#HelpMenu_navcontainer ul { list-style-type:none; margin:0; padding:0; }

#HelpMenu_navcontainer li { margin:0 0 1px 0; }

#HelpMenu_navcontainer div { background-color:#68786F; color:#FFFFFF; display:block; padding:5px 5px 5px 10px; text-decoration:none; width:185px; }

#HelpMenu_navcontainer div:hover { background-color:#B0B0B0; color:#ffffff; text-decoration:none; }

#HelpMenu_navcontainer ul ul li { margin:0 0 1px 0; }

#HelpMenu_navcontainer ul ul div { background-color:#C0C0C0; border-top:1px Solid #000000; color:#FFFFFF; display:block; padding:3px 5px 3px 20px; text-decoration:none; width:165px; margin-left:10px; }

#HelpMenu_navcontainer ul ul div:hover { background-color:#C3C9C5; color:#677F27; text-decoration:none; }

#HelpMenu_navcontainer .currentpage { background-color:#91B428; color:#FFFFFF; }

.homeBtn { background-color:#254974; border-bottom:1px Solid #678CB8; border-left:1px Solid #B5CDE4; border-right:1px Solid #678CB8; border-top:1px Solid #B5CDE4; color:#FFFFFF; padding:2 8 3 10; text-decoration:none; }

.link { background-color:#254974; color:#FFFFFF; float:left; padding:5px 5px 5px 5px; text-decoration:none; }

.floatright { float:right; margin:0 0 10px 10px; }

.floatleft { float:left; margin:10px 50px 0 0; }

.groupHeader { background-color:#DDDDDD; background-position:top left; border:solid 1px #CCCCCC; color:Black; margin-bottom:10px; padding:2px 0px 2px 20px; font-size: 110%; font-weight: bold; }

#UPDataTree td { vertical-align:middle; }

.divRWform { padding:5px; }

.rwMenuBorder { border:solid 1px #c7d59e; }

.rwMenu { background-color:#f4f7ed; border-top:solid 1px #c7d59e; color:#333333; height:17px; padding-bottom:4px; vertical-align:text-bottom; }

.rwMenu a { color:#333333; }

.rwPadded { padding:2px 0 2px 8px; }

.rwMenuButton { font-size:larger; padding:0 10px 10px 10px; }

.rwMenuButton:hover { color:#816D74; text-decoration:none; }

.rwMenuButtonSelected { background-color:#FFFFFF; border:solid 1px #c7d59e; color:#354f6b; font-size:larger; padding:0 10px 10px 10px; }

.rwMenuButtonSelected:hover { text-decoration:none; } 

/* Button classes

.block { display:inline-block; position:relative; }

* html .block { display:inline; }

*:first-child + html .block { display:inline; }

.outerbox { background:url("Images/btnBk23px_L2.png") no-repeat scroll left top transparent; border:0px solid #ffffff; height:23px; line-height:23px; margin-right:2px; overflow:hidden; padding-left:1px; vertical-align:top; }

.innerbox { background:url("Images/btnBk23px_R.png") no-repeat scroll right top transparent; border-style:none; cursor:pointer; height:23px; line-height:23px; padding:0 9px 0 13px; }

.innerbutton { background:url("Images/btnBk23px_R.png") no-repeat scroll right top transparent; border:0px solid #ffffff; border-style:none; color:#484848; cursor:pointer; display:inline-block; height:23px; line-height:20px; margin:0; padding:0px 5px 0px 6px; vertical-align:middle; font-size: 100%; }

*:first-child+html .innerbutton { display:block; line-height:auto; padding:0; overflow: hidden; margin: 0px; }
*+html .innerbutton { overflow: visible; padding: 0 10px !important; }

.innerbox:hover,.innerbutton:hover { color:#589309; }

.inactive { }

.active { background:url(Images/btnBk23px_R_act.png) right top no-repeat; }

.dropdown { background:url(Images/icons_9.png) no-repeat 50%; background-position:-722px 50%; height:16px; margin:0px 0 0 2px; vertical-align:middle; width:12px; } 
 */
/*ReportWizard Left Content Menu*/
/* Changed by Kathy on 4/5/10
.rwImageButton { cursor:pointer; margin:3px; }
*/

.ChartSelectionPanelClose {
    background:url(../../ahImages/TinyRemove.gif) no-repeat center center;
}

.outerbox
{
    margin: 1px 0 1px 0;
     display:inline-block;
     /*height:21px; line-height:21px;*/
    /*border-right:1px solid #AAAAAA;
    border-left:1px solid #AAAAAA;*/
}
.innerbutton, 
.innerbutton_newReport, 
.innerbutton_newDashboard, 
.innerbutton_newFolder, 
.innerbutton_Delete, 
.innerbutton_Copy, 
.innerbutton_Move,
.innerbutton_Search,
.innerbutton_PreviewReport,
.innerbutton_ReportStyle,
.innerbutton_SaveAsReport,
.innerbutton_SaveReport,
.innerbutton_SelectData,
.innerbutton_Up,
.aspNetDisabled[type="button"],[type="submit"]
{
background:url("Images/btnBk.png") repeat scroll center bottom transparent;
border:medium none;
color:#484848;
cursor:pointer;
font-size: 100%;
height:23px;
margin: -1px 0 -1px 0;
outline:0 none;
 padding:0px 5px 0px 6px;
 border-right:1px solid #AAAAAA;
    border-left:1px solid #AAAAAA;
}

.innerbutton:hover
{
    color:#589309;
}

.innerbutton:disabled, .aspNetDisabled:disabled
{
    color:#999999;
}

.innerbutton:disabled hover
{
    color:#999999;
}

.dropdown 
{
width: 13px;
background: url(Images/dropBtn.png) no-repeat scroll center bottom transparent; 
border:medium none;
color:#484848;
cursor:pointer;
font-size: 100%;
height:23px;
margin: -1px 0 -1px -1px;
outline:0 none;
border-right: 1px solid #CCC;
}

.rwImageButton 
{
	cursor: hand; /* Internet Exporer only. */
	cursor: pointer; /* All other browsers. */
}

.rwImageButtonSelected
{
    background-color:#FFEE99;
}
    
/* Changed by Kathy on 4/5/10
.rwCMContentCell { padding:3px; }
*/
.rwCMContentCell
{
	border: solid 3px white;
    padding: 0px; margin:0px;
}

/* Changed by Kathy on 4/5/10
.rwCMContentCellSelected { background-color:#ffee99; padding:3px; } 
*/
.rwCMContentCellSelected
{
	border: solid 3px #ffee99;
    padding: 0px; margin:0px;
}

/*Hover Menu*/

.popupMenu { background-color:#f9f9f9; border:1px solid #BCBCBC; color:#484848; visibility:hidden; position:relative; z-index:40; }
.AddpopupMenu { background-color:#f9f9f9; border:1px solid #BCBCBC; color:#484848; display:none; position:relative; z-index:40; min-width:110px;}
.AddpopupMenu div a { background-color:#F9F9F9; display:block; }

/* Added by Amit - This class will be a copy of popupMenu except for display:none as it causes the hover menu positioning issues.*/
.ifrmPopupMenu {
	background-color:#f9f9f9;
	border:1px solid #BCBCBC;
	padding-bottom:3px;
	/*padding-left:3px;*/
	padding-top:1px;
	position:relative;
	z-index:40;
	/*width:100%;*/
	margin: -1px 5px 0px 0px;
	/*display:none;*/
	color:#484848;
}
.ifrmPopupMenu a{
	color: #353535;
	font: normal 11px Arial, Helvetica, sans-serif;
	position: relative;
	min-width:100px;
	display:block;
	text-decoration:none;
	/*margin-left:2px;*/
	padding:4px 3px 2px;
}
.ifrmPopupMenu a:hover{
	background-color:#eaf3d2; 
	font-weight: bold;
}

#submenu .popupMenu { width:100%; left: 0px !important; }

.popupMenu a, .AddpopupMenu a { color:#353535; display:block; min-width:100px; padding:4px 5px 3px; position:relative; text-decoration:none; }

.hoverMenuLink { padding:3px 5px 0 0; position:relative; }

.hoverMenuLink .menuitem { color:#353535; display:block; padding:4px 3px 2px; text-decoration:none; width:99%; }

.hoverMenuLink .menuitem:hover { background-color:#eaf3d2; font-weight: bold; }
#submenu .hoverMenuLink .menuitem:hover { background-color: transparent; }
.popupMenu a:hover, .AddpopupMenu a:hover { background-color:#eaf3d2; font-weight: bold; }
#submenu .popupMenu div:hover, .AddpopupMenu div:hover { background-color:#eaf3d2; font-weight: bold; }
#submenu .hoverMenuLink a:hover { background-color: transparent; }

.hoverMenuLink .current_menuitem { background-color:#EEEEEE; color:#353535; display:block; font-weight:bold; padding:4px 3px 2px; text-decoration:none; width:99%; }

.hoverMenuActionLink a { display: block; }

.functionLinkButton { background:#fff; border-bottom:1px solid #68786F; border-left:1px solid #cad8e8; border-right:1px solid #68786F; border-top:1px solid #cad8e8; color:#000; margin:0px 2px; padding:5px 5px; text-decoration:none; white-space:nowrap; }

.searchDiv { border:solid 1px #D7DFE7; padding:3px; }

input.searchText { border:1px solid #aaaaaa; border-right:0; height:21px; line-height:20px; padding:0px 2px 0 2px; vertical-align:top; width:200px; margin-left: 4px; }

*:first-child + html input#srch_imgClear { margin-top:1px; }

#srch_pnlMessage { margin-top:10px; }

.btnClear 
{
     vertical-align:top;
    margin-left: -5px;
}

.pushbutton { border-style:none; cursor:pointer; display:inline-block; height:17px; margin:-1px 0 0 0; padding:3px 9px 0 9px; }

.pushbutton:visited,.pushbutton:active,.pushbutton:link { color:black; }

.pushbutton:hover { color:#589309; text-decoration:none; }

.rightborder { border-right:solid 1px #bbb; }

.pushed { background:url(Images/btn_pushed.png); color:#fff; }

.pushed:hover,.pushed:visited,.pushed:active,.pushed:link { color:#fff; }

.iconAction { cursor:pointer; }

.tdArrowL { background-image:url(Images/LeftArrow.gif); background-repeat:no-repeat; cursor:pointer; height:20px; display: none; width:14px; }

.tdArrowR { background-image:url(Images/RightArrow.gif); background-repeat:no-repeat; cursor:pointer; height:20px; visibility:hidden; width:14px; }

.tab_header { position:relative; } 
/*
.tab_header > table td { padding: 5px 0 0; } 
.tab_header > table td .outerbox { margin-top: -5px; } */

/* default layout */
.tab_default .tab_header { white-space:nowrap; }

.tab_default .tab_outer {display:-moz-inline-box;display:inline-block}

.tab_default .tab_inner {display:-moz-inline-box;display:inline-block}

.tab_default .tab_tab { cursor:pointer; display:-moz-inline-box; display:inline-block; margin-right:4px; overflow:hidden; text-align:center; } 

/* xp theme */

.tab_xp .tab_header { white-space:nowrap; }

#UPMenu .tab_header { height:22px; padding-left:5px; position:relative; }

#UPMenu .tab_header span { float:left; }

/* + html #UPMenu .tab_header { height:27px; margin-bottom:-1px; z-index:20; }*/

/*#tbST { height:20px; }*/
#tbs { position: relative; }

/*:first-child + html #tbST { margin:0; position:relative; z-index:20; }*/

#UPPanels #divTab { height:23px; margin-bottom:-1px; }

/*:first-child + html #UPPanels #divTab { height:24px; }*/

* + html #UPPanels #divTab { position:relative; z-index:20; }
* + html #UPMenu #divTabs { position:relative; z-index:20; }

.tab_xp .tab_outer { margin:0px; height:22px;}

.tab_xp .tab_inner { background:url(Images/sMnubk_L.png) no-repeat left top; padding-left:1px; }

.tab_xp .tab_tab { background:url(Images/sMnubk_R_H.png) no-repeat right top; color:#353535; padding:0px 12px 0 10px; text-decoration:none; height: 22px; overflow: hidden; line-height: 26px; }

/* + html #UPMenu .tab_xp .tab_tab { border-bottom:1px solid #999999; }*/

/*#tbST #divTab span { float: left; }*/

.tab_xp .tab_hover .tab_outer { ; }

.tab_xp .tab_hover .tab_inner { ; }

.tab_xp .tab_hover .tab_tab { background-image:url(Images/sMnubk_R.png); }

/*.tab_xp .tab_active { position:relative; z-index:10; }*/
.tab_xp .tab_active { position:relative; }

.tab_xp .tab_active .tab_outer { ; }

.tab_xp .tab_active .tab_inner { ; }

.tab_xp .tab_active .tab_tab { background-image:url(Images/sMnubk_R_S.png); color:#589309; font-weight:bold; height: 23px; }

.modalPopupBackground 
{
    padding: 10px;
    * padding: 25px 10px 10px 10px;
}

.modalPopupBackground .tab_xp .tab_active .tab_tab { background-image:url(Images/sMnubk_R_W.gif); color:#589309; font-weight:bold; }

#UPMenu .tab_xp .tab_active .tab_tab { background-image:url(Images/sMnubk_R_W.gif); color:#589309; font-weight:bold; }

/* + html #UPMenu .tab_active .tab_tab { border-bottom:1px solid #ffffff; }

* + html #tbST .tab_active .tab_tab { border-bottom:1px solid #f7f7f7; }*/

.tab_xp .tab_body { background-color:#ffffff; border:1px solid #999999; padding:8px; position:relative; z-index:5; }

.tab_xp .tab_data {height: 370px; overflow: auto; background-color:White; border:solid 1px #bbb; margin-top:-1px; padding:5px; font-size: 90%; }
.tab_data td .outerbox { margin-top: 0; }

.tab_xp .tab_disabled .tab_tab { color:#AAAAAA; }

#trCategories td { padding:3px 0px 6px 5px; }

#tvDataSource td { vertical-align:middle; }

#UP1 table { border-collapse:separate; }

td#tdColumns { border-left: none !important; }

*:first-child + html td#tdColumns { border-left: 1px solid DarkGray !important; }

/*
#pnlFilters .outerbox { float:right; }
*/

#pnlRightTemplate .outerbox { margin-left:5px; }

#tvAppPages td { vertical-align:middle; }

#RptStyle { margin-bottom:10px; }

.tvDataSource_0 { margin:0 5px; }

#ucSelectReports_tvFolders td { vertical-align:middle; }

#ucSelectReports_lstReports { min-height: none !important; min-width: none !important; padding:5px 10px; }

#tvFolders td { vertical-align:middle; }

#divRptSettings { padding:10px; }

#folderinfo td { padding:5px; }

/*#userinfo td { padding:3px 5px; }*/

#Permission,#Description { width:270px; }

#pager { background:#eee; }
#pager table {margin-left:auto; margin-right:auto;}

.pagerBtn a { display:inline-block; height:18px; margin-right:4px; width:21px; }

.pagerBtn a.frst { background:url(Images/btn_first.gif) no-repeat; }

.pagerBtn a.frst:hover { background:url(Images/btn_first_act.gif) no-repeat; }

.pagerBtn a.last { background:url(Images/btn_last.gif) no-repeat; }

.pagerBtn a.last:hover { background:url(Images/btn_last_act.gif) no-repeat; }

.pagerBtn a.prev { background:url(Images/btn_prev.gif) no-repeat; }

.pagerBtn a.prev:hover { background:url(Images/btn_prev_act.gif) no-repeat; }

.pagerBtn a.next { background:url(Images/btn_next.gif) no-repeat; }

.pagerBtn a.next:hover { background:url(Images/btn_next_act.gif) no-repeat; }

.hiPopupMenu { background-color:#FFFAEE; border:outset 1px #FFFAEE; padding:10px; position:relative; text-align:left; visibility:hidden; white-space:normal; width:500px; z-index:40; font-weight: normal; }

.hiPopupMenu a { color:#589309; cursor:pointer; text-decoration:none; }
.hiPopupMenu a:hover { text-decoration: underline; }

.tblTitle { background-color:#fff; border-bottom:solid 1px #dddddd; height:20px; }

.hlp { background-color:#FFFAEE; padding:10px; text-align:left; }

.clsTitle { font-weight:bold; margin-left:15px; }

.clsHelp { display:inline-block; margin-left:10px; text-align:right; vertical-align:middle; }

.dragHandle {
	width:8px;
	height:16px;
	padding:0;
	margin:0;
    background-image: url(Images/dragHandle.gif);
	cursor:move;
}

.resizeHandle {
	width:6px;
	height:200px;
	padding:0;
	margin:0;
    background:#EEEEEE url(Images/resizeHandle.gif) no-repeat center;
	cursor:col-resize;
}
/*
.dragHandle { background: url(Images/gripper.gif) 50% 50% no-repeat; cursor:move; display:block; height:9px; margin:0 3px; width:10px; }
*/

.divColumnTreeView { border:solid 1px #DDDDDD; margin-right:10px; overflow:auto; padding:4px; }
.divColumnTreeView td { padding: 0; }
/*.tab_data .divColumnTreeView { height: 270px !important; }*/

#trvColumns td { vertical-align:middle; }

/*#txtFormula { width:99%; }*/

#txtFormula + div { margin-top:12px; width: auto !important; }

#UPCalcColumn td #txtName { margin-left:7px; }

.tblCenter { margin-left:auto; margin-right:auto; }

#imgbQMobile { position: relative;top: 0.5em; }

#imgbQSave { position:absolute; right:35px; }

#imgbQPreview { position:absolute; right:0px; }

/*#divTFile TD,#divTInsert TD,#divTSettings TD { padding-top:3px; text-align:center; vertical-align:top; width:65px; }

#divTFile TD:hover,#divTInsert TD:hover,#divTSettings TD:hover { background-color:#ffee99; }*/
/* For Chart type selection Popup */
.tdSelectChartType { padding-top:3px; text-align:center; vertical-align:top; width:65px; }
.tdSelectChartType:hover { background-color:#ffee99; }
.selectChartTypeAnchor { padding: 5px 5px 0px 5px; font-size:110%; color:#484848;}
.selectChartTypeAnchor:hover { background-color:#ffee99; text-decoration:none; }
.divSelectChartTypes {padding: 3px 0 3px 0;}

td span#spnFV1 { margin: 0; }
#UpTblColumns td { vertical-align: top; }
td > .mslbutton:first-child { margin-top: 65px; }
.wizardBody td { padding: 5px; }
fieldset { padding: 10px; margin: 10px 0; }
legend { font-size:110%; font-weight: bold; }
#tbsbody { font-size: 90%; }
#imgCloseOpen,#ImageButton1,#ImageButton2,#ImageButton3,#ImageButton4,#imgClosePopup,#imgClosePopup1,#imgClosePopup2,#imgClosePopup3,#imgClosePopup4,#imgClosePopup5,#imgClosePopup6,#imgClosePopup7,#imgClosePopup9,#imgClosePopup10,#imgClosePopup11,#imgClosePopup12,#imgClosePopup13,#imgClosePopup14 { cursor: pointer; }
*+html #UPPresentation #AddCondition { margin-left: -10px; }
#pnlDashPanelInfo { display: table; min-width: 700px; }
#pnlDashPanelInfo .divButtons { padding: 5px; background-color: #ddd; border: 1px solid #fff; }
*:first-child+html #pnlDashPanelInfo { display:block; width:700px; }
div.rwCMContentCell td[colspan="2"] { text-align: center; }
#UserPassword_PasswordPanel td { padding: 3px 5px; }

.cntntContainer td div 
{
    margin-bottom:5px;
}

.SelectedTreeNode
{
	background-color: #ffffcc;
}
.inactiveInput 
{
    display:-moz-inline-box;display:inline-block;
    border-style: inset;
    border-width:1px;
    height: 20px;

}

.tbTB td { padding:2px 4px 0 0;}    
.tdCaption { width:130px;}
.tdContent { width:380px;}

.AHListControl 
{
	BORDER-RIGHT: gray thin groove;
	BORDER-TOP: gray thin groove;
	BORDER-LEFT: gray thin groove;
	BORDER-BOTTOM: gray thin groove;
}

.AHListControlRow
{
	background: White;
	color: #2D2D2D;
}
.AHListControlRowSelected
{
	background: #191970;
	color: #ffffff;
}
.AHListControlRowMouseOver
{
	background: #eee8aa;
	color: #2D2D2D;
}

.ssIn 
{
    border:none;
}

.ssOut 
{
    border:inset 1px #CCCCCC;
}

/*For Session Parameters Pages*/
.txtDisabled
{
    background-color:#E1E1E1;
}
.txtEnabled
{
    background-color:White;
}

span.listMore {
    background: url("Images/btnBk.png") repeat scroll center bottom rgba(0, 0, 0, 0);
    border: medium none;
    color: #484848;
    cursor: pointer;
    font-size: 100%;
    height: 23px;
    margin: -1px 0 -1px 0;
    outline: 0 none;
    padding: 0px 5px 0px 6px;
    border-right: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
}
span.listMore input.btnDropdown {
    /*background-image: url("Images/arrowStep.png");
    background-repeat: no-repeat;*/
    background: url("Images/arrowStep.png") no-repeat scroll 96% 6px;
    padding-right: 1em;
    border: none;
}
span.listMore input.dropdown[type="submit"] {
    display: none;
}

.ReportTitle {
    padding-left: 18px;
}

a img[src*="calendar.gif"]{
    border: none;
    position: relative;
    top: 0.5em;
}

#data_main tr td[width="30"]{
     vertical-align: middle;
}

#tbCascadingFilterBinding .cfValueColumnHeader {
    padding-left:10px;
}

#divCascadingFilterBinding{
    padding-top:10px;
}

#tbCascadingFilterBinding .filteringLabelRow{
    padding-bottom:10px;
}

#tdFindValues input[type=submit] {
    width: 70px;
}