Update Report - Start Date/Time: 20/05/2019 02:36:18<br>
Update Report - End Date/Time: 20/05/2019 02:36:19<br>
************************************************************** <br>
Number of reports processed: 2<br>
Successful updates: 0<br>
<br>
Reports with no change: 0<br>
<br>
Failed updates: 2<br>
ahReport300<br>
ahReport301<br>
<br>
Location of backup copies: C:\Program Files\RightsLogic\v3.x\ReportBuilder12-SP1_RL3.x\_Definitions\_Reports\Backup20190520_1<br>
************************************************************** <br>
<br>
<p> Detail log: </p>
<br>
Report: Sports - Deal Availability Dates (ahReport300) could not be loaded and has not been upgraded. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: <br>
Report: MR Notes (Business Terms) with Deal Code DIPUN (ahReport301) could not be loaded and has not been upgraded. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: <br>
