Update Report - Start Date/Time: 10/2/2017 8:37:21 AM<br>
Update Report - End Date/Time: 10/2/2017 8:37:27 AM<br>
************************************************************** <br>
Number of reports processed: 3<br>
Successful updates: 0<br>
<br>
Reports with no change: 0<br>
<br>
Failed updates: 3<br>
ahReport248<br>
ahReport200<br>
ahReport189<br>
<br>
Location of backup copies: C:\RightsLogic3.2_Port81\ReportBuilder12-SP1_RL3.x\_Definitions\_Reports\Backup20171002_2<br>
************************************************************** <br>
<br>
<p> Detail log: </p>
<br>
Report: 31Aug SW (ahReport248) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Validation Type' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Dependent' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Catch Up' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Period' is broken. Suggestion: Remove it from your data table.</li><li>Column 'No of Eps Stack' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Any First' is broken. Suggestion: Remove it from your data table.</li><li>Column 'No off Exhib' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Authentication' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Remaining Eps Authentication' is broken. Suggestion: Remove it from your data table.</li><li>Column 'In Season Stack' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Period2' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Authentication 2' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Updated By' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Created By' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Copy (3) of Query (ahReport200) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>An object or relationship is broken. Suggestion: Remove the object(s) that are marked as broken.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Genre' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Window Name' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Runs' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Copy of Query 1 & 2 (ahReport189) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>An object or relationship is broken. Suggestion: Remove the object(s) that are marked as broken.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Genre' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Runs' is broken. Suggestion: Remove it from your data table.</li></ul><br>
