Update Report - Start Date/Time: 10/2/2017 8:36:45 AM<br>
Update Report - End Date/Time: 10/2/2017 8:36:49 AM<br>
************************************************************** <br>
Number of reports processed: 1<br>
Successful updates: 0<br>
<br>
Reports with no change: 0<br>
<br>
Failed updates: 1<br>
ahReport151<br>
<br>
Location of backup copies: C:\RightsLogic3.2_Port81\ReportBuilder12-SP1_RL3.x\_Definitions\_Reports\Backup20171002_1<br>
************************************************************** <br>
<br>
<p> Detail log: </p>
<br>
Report: Query 1 & 2 (ahReport151) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>An object or relationship is broken. Suggestion: Remove the object(s) that are marked as broken.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Genre' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Window Name' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Runs' is broken. Suggestion: Remove it from your data table.</li></ul><br>
