Update Report - Start Date/Time: 1/25/2019 5:47:19 PM<br>
Update Report - End Date/Time: 1/25/2019 5:49:12 PM<br>
************************************************************** <br>
Number of reports processed: 98<br>
Successful updates: 64<br>
ahReport230<br>
ahReport44<br>
ahReport68<br>
ahReport76<br>
ahReport78<br>
ahReport80<br>
ahReport218<br>
ahReport211<br>
ahReport205<br>
ahReport206<br>
ahReport207<br>
ahReport223<br>
ahReport220<br>
ahReport208<br>
ahReport186<br>
ahReport185<br>
ahReport90<br>
ahReport247<br>
ahReport269<br>
ahReport260<br>
ahReport251<br>
ahReport243<br>
ahReport200<br>
ahReport270<br>
ahReport82<br>
ahReport261<br>
ahReport225<br>
ahReport212<br>
ahReport89<br>
ahReport91<br>
ahReport92<br>
ahReport93<br>
ahReport121<br>
ahReport217<br>
ahReport224<br>
ahReport215<br>
ahReport157<br>
ahReport271<br>
ahReport273<br>
ahReport75<br>
ahReport250<br>
ahReport252<br>
ahReport265<br>
ahReport39<br>
ahReport113<br>
ahReport248<br>
ahReport246<br>
ahReport249<br>
ahReport222<br>
ahReport84<br>
ahReport85<br>
ahReport86<br>
ahReport117<br>
ahReport37<br>
ahReport100<br>
ahReport101<br>
ahReport112<br>
ahReport87<br>
ahReport98<br>
ahReport264<br>
ahReport149<br>
ahReport45<br>
ahReport104<br>
ahReport107<br>
<br>
Reports with no change: 0<br>
<br>
Failed updates: 34<br>
ahReport259<br>
ahReport102<br>
ahReport69<br>
ahReport71<br>
ahReport72<br>
ahReport70<br>
ahReport241<br>
ahReport242<br>
ahReport244<br>
ahReport245<br>
ahReport148<br>
ahReport106<br>
ahReport143<br>
ahReport79<br>
ahReport54<br>
ahReport55<br>
ahReport56<br>
ahReport57<br>
ahReport58<br>
ahReport59<br>
ahReport60<br>
ahReport61<br>
ahReport62<br>
ahReport63<br>
ahReport65<br>
ahReport64<br>
ahReport43<br>
ahReport40<br>
ahReport47<br>
ahReport51<br>
ahReport48<br>
ahReport103<br>
ahReport105<br>
ahReport108<br>
<br>
Location of backup copies: C:\Program Files\RightsLogic 3.x\ReportBuilder12-SP1_RL3.x_Dev\_Definitions\_Reports\Backup20190125_1<br>
************************************************************** <br>
<br>
<p> Detail log: </p>
<br>
Report: All Titles with Provider Group (ahReport230) has been sucessfully repaired. <br>
Report: Amort Change (ahReport259) had a problem: Relationship with ID=46, or any similar relationship cannot be found in the database.<br>
Report: Amort TBA Report (ahReport44) has been sucessfully repaired. <br>
Report: Box Office Detail Report - Deals (ahReport68) has been sucessfully repaired. <br>
Report: Box Office Detail Report - Deals (New) v0.1 (ahReport76) has been sucessfully repaired. <br>
Report: Box Office Detail Report - Deals (New) v0.2 (ahReport78) has been sucessfully repaired. <br>
Report: Box Office Detail Report - Deals (New) v0.3 (ahReport80) has been sucessfully repaired. <br>
Report: Box Office Detail Report - Deals (New) v0.4 (ahReport102) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Estimated Term From' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Box Office Detail Report v2 (ahReport69) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Party' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Box Office Detail Report v2.1 (ahReport71) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Party' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Box Office Detail Report v2.2 (ahReport72) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Party' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Box Office Detail Report v22.1 (ahReport70) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Party' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Box Office Details (Titles with GBP/USD Amounts) (ahReport218) has been sucessfully repaired. <br>
Report: Box Office Details (with Media Rights info) (ahReport211) has been sucessfully repaired. <br>
Report: Channel Setup - EPG Sub Genre (ahReport205) has been sucessfully repaired. <br>
Report: Channel Setup - Exhibition Rights - Assigned Channels (ahReport206) has been sucessfully repaired. <br>
Report: Channel Setup - Exhibition Rights - Restricted Runs (ahReport207) has been sucessfully repaired. <br>
Report: Channel Setup - Exhibition Rights (All Fields) - Assigned Channels (ahReport223) has been sucessfully repaired. <br>
Report: Channel Setup - Media Rights (all fields) Assigned Channels (ahReport220) has been sucessfully repaired. <br>
Report: Channel Setup - Media Rights Assigned Channels (ahReport208) has been sucessfully repaired. <br>
Report: Clip Rights Summary (ahReport241) had a problem: Relationship with ID=46, or any similar relationship cannot be found in the database.<br>
Report: Clip Rights Summary (ahReport242) had a problem: Relationship with ID=46, or any similar relationship cannot be found in the database.<br>
Report: Clip Rights Summary Report (ahReport244) had a problem: Relationship with ID=46, or any similar relationship cannot be found in the database.<br>
Report: Clip Summary Report 2 (ahReport245) had a problem: Relationship with ID=46, or any similar relationship cannot be found in the database.<br>
Report: Copy (2) of EPG Sub Genre (ahReport186) has been sucessfully repaired. <br>
Report: Copy (3) of Linear Inventory (Chloe M Report) (ahReport148) had a problem: Relationship with ID=46, or any similar relationship cannot be found in the database.<br>
Report: Copy of EPG Sub Genre (ahReport185) has been sucessfully repaired. <br>
Report: Copy of Media Date Compare (ahReport90) has been sucessfully repaired. <br>
Report: Copy of Sky Cinema Titles - Event: Del & Acceptance (ahReport247) has been sucessfully repaired. <br>
Report: Copy of Zero Box Office - v0.3 (ahReport106) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Estimated Term From' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Deal Expiration for Sports (ahReport269) has been sucessfully repaired. <br>
Report: Disney Titles (ahReport260) has been sucessfully repaired. <br>
Report: DRAFT Pay & Basic Titles with Fee Amount (ahReport251) has been sucessfully repaired. <br>
Report: DRM Rights (ahReport243) has been sucessfully repaired. <br>
Report: EPG Sub Genre (with Deal Code) (ahReport200) has been sucessfully repaired. <br>
Report: ER Notes (ahReport270) has been sucessfully repaired. <br>
Report: Exhibition Test (ahReport82) has been sucessfully repaired. <br>
Report: Fox Titles (ahReport261) has been sucessfully repaired. <br>
Report: How Many Deals? (ahReport225) has been sucessfully repaired. <br>
Report: License Fee Report (ahReport212) has been sucessfully repaired. <br>
Report: Linear Inventory (Chloe M Report) (ahReport143) had a problem: Relationship with ID=46, or any similar relationship cannot be found in the database.<br>
Report: Media Date Compare (ahReport89) has been sucessfully repaired. <br>
Report: Media Date Compare v2 (ahReport91) has been sucessfully repaired. <br>
Report: Media Date Compare v2.1 (ahReport92) has been sucessfully repaired. <br>
Report: Media Date Compare v3.0 (ahReport93) has been sucessfully repaired. <br>
Report: Missing Sky Movies Channels (SVOD Report) (ahReport121) has been sucessfully repaired. <br>
Report: Movies - All Deals License Fee Report (without Restriction Rows) (ahReport217) has been sucessfully repaired. <br>
Report: Movies - Single Deal License Fee Report (ahReport224) has been sucessfully repaired. <br>
Report: Movies - Specified Deals License Fees Report (ahReport215) has been sucessfully repaired. <br>
Report: Movies Linear Avail Report (ahReport157) has been sucessfully repaired. <br>
Report: MR Notes (ahReport271) has been sucessfully repaired. <br>
Report: MR Notes (Business Terms) with Deal Code (ahReport273) has been sucessfully repaired. <br>
Report: New Report3 (ahReport79) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Party' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: New SVOD Report (ahReport54) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Estimated Term From' is broken. Suggestion: Remove it from your data table.</li><li>Column 'Estimated Term To' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Onward Transmission Rights (ahReport75) has been sucessfully repaired. <br>
Report: Pay & Basic Titles with Fee Amount (ahReport250) has been sucessfully repaired. <br>
Report: Pay and Basic Title with Fee (ahReport252) has been sucessfully repaired. <br>
Report: Premier Date (ahReport265) has been sucessfully repaired. <br>
Report: PVOD search report (ahReport39) has been sucessfully repaired. <br>
Report: Report for Ruth (ahReport55) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Report for Ruth v1.1 (ahReport56) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Report for Ruth v1.2 (ahReport57) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Report for Ruth v1.3 (Lookup on Viewing Devices) (ahReport58) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Report for Ruth v2.0 (ahReport59) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Report for Ruth v2.1 (ahReport60) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Report for Ruth v2.removed the grouping (ahReport61) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Report for Ruth V3 (ahReport62) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Report for Ruth V3.1 (ahReport63) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Ruth's Second Report (ahReport113) has been sucessfully repaired. <br>
Report: Sky Cinema Titles - Event: Del & Acceptance (ahReport248) has been sucessfully repaired. <br>
Report: Sky Cinema Titles - Event: Del & Acceptance (ahReport246) has been sucessfully repaired. <br>
Report: Sky Cinema Titles - Event: Del & Acceptance (with MR Avail Dates) (ahReport249) has been sucessfully repaired. <br>
Report: Sports Deals and Titles (ahReport222) has been sucessfully repaired. <br>
Report: Sports Test Report v1 (ahReport84) has been sucessfully repaired. <br>
Report: Sports Test Report v2 (ahReport85) has been sucessfully repaired. <br>
Report: Sports Test Report v3 (ahReport86) has been sucessfully repaired. <br>
Report: Strategic Rights Report Linear (ahReport65) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Party' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: SVOD report for Ruth - Latest (ahReport64) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: SVOD With No Sky Movies Channels (ahReport117) has been sucessfully repaired. <br>
Report: TBA report (ahReport37) has been sucessfully repaired. <br>
Report: TBA Report v3 (ahReport100) has been sucessfully repaired. <br>
Report: TBA Report v4 (ahReport101) has been sucessfully repaired. <br>
Report: TBA Report v5 (ahReport112) has been sucessfully repaired. <br>
Report: TBA Titles By Date Range (ahReport43) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'EPG Genre' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: TBA Titles without Date Range (ahReport40) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'EPG Genre' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Title Avail (ahReport87) has been sucessfully repaired. <br>
Report: Title Grade Check v1 (ahReport98) has been sucessfully repaired. <br>
Report: Title Usage Report (ahReport264) has been sucessfully repaired. <br>
Report: Titles with Restrictions (ahReport149) has been sucessfully repaired. <br>
Report: Viewing Devices (ahReport45) has been sucessfully repaired. <br>
Report: Viewing Devices - Difference (ahReport47) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Viewing Devices - Same (ahReport51) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Viewing Devices - Same (ahReport48) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Data Source:<ul><li>Parameter column is broken. Suggestion: Remove or replace it.</li><li>Parameter column is broken. Suggestion: Remove or replace it.</li></ul>Error in Table:<ul><li>Column 'Viewing Devices Tree' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Zero Box Office - v0.1 (ahReport103) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Estimated Term From' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Zero Box Office - v0.2 (ahReport105) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Estimated Term From' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Zero Box Office (New) (ahReport108) could not be repaired. <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The error is: Error in Table:<ul><li>Column 'Estimated Term From' is broken. Suggestion: Remove it from your data table.</li></ul><br>
Report: Zero Box Office Test (ahReport104) has been sucessfully repaired. <br>
Report: Zero Box Office Test v2 (ahReport107) has been sucessfully repaired. <br>
