
/* latin-ext */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 200;
  src: local('Krub ExtraLight'), local('Krub-ExtraLight'), url(./fonts//sZlEdRyC6CRYZo47GLhyRpgW.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 200;
  src: local('Krub ExtraLight'), local('Krub-ExtraLight'), url(./fonts//sZlEdRyC6CRYZo47GLZyRg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 300;
  src: local('Krub Light'), local('Krub-Light'), url(./fonts//sZlEdRyC6CRYZuo4GLhyRpgW.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 300;
  src: local('Krub Light'), local('Krub-Light'), url(./fonts//sZlEdRyC6CRYZuo4GLZyRg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 400;
  src: local('Krub Regular'), local('Krub-Regular'), url(./fonts//sZlLdRyC6CRYbk8aDYlT.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 400;
  src: local('Krub Regular'), local('Krub-Regular'), url(./fonts//sZlLdRyC6CRYbkEaDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 500;
  src: local('Krub Medium'), local('Krub-Medium'), url(./fonts//sZlEdRyC6CRYZrI5GLhyRpgW.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 500;
  src: local('Krub Medium'), local('Krub-Medium'), url(./fonts//sZlEdRyC6CRYZrI5GLZyRg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 600;
  src: local('Krub SemiBold'), local('Krub-SemiBold'), url(./fonts//sZlEdRyC6CRYZp4-GLhyRpgW.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 600;
  src: local('Krub SemiBold'), local('Krub-SemiBold'), url(./fonts//sZlEdRyC6CRYZp4-GLZyRg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 700;
  src: local('Krub Bold'), local('Krub-Bold'), url(./fonts//sZlEdRyC6CRYZvo_GLhyRpgW.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 700;
  src: local('Krub Bold'), local('Krub-Bold'), url(./fonts//sZlEdRyC6CRYZvo_GLZyRg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}