
/*******************************************************************
* Style.css
* Roboto (GoogleFont) included via bootstrap.min.css
********************************************************************/

/* Bootstrap Overrides 
**********************************/
	/* Main Menu/Navbar */
	
		.fluidnavbar-brand{
			padding: 0px 15px;
		}

/*		.fluidnavbar-brand{
			padding: 6px 15px;
		}
*/		
		#navigation{
			background: #FCFCFC!important;
			border: none;
			border-bottom: 1px solid #EEE;
			border-radius: 0;
			margin-bottom: 0;
		}
		
		.fluidnavbar-absolute-top {
			z-index: 987;
		}
				
		.fluidnavbar-default .fluidnavbar-toggle .icon-bar {
			background: #000;
		}
	
		.fluidnavbar-default .fluidnavbar-toggle:hover .icon-bar,
		.fluidnavbar-default .fluidnavbar-toggle:focus .icon-bar{
			background: #FFF;
		}
		
		.fluidnavbar-default .fluidnavbar-nav>li>a {
			color: #58595B;
			font-weight: bold;
		}
		
		.fluidnavbar .fluidnavbar-nav>.active>a,
		.fluidnavbar .fluidnavbar-nav>.active>a:hover,
		.fluidnavbar .fluidnavbar-nav>.active>a:focus
		.fluidnavbar li.active,
		.fluidnavbar li.active a span {
			background: #70C0D1;
			color: #FFF;
		}
		
		/* Tablet styles */
		@media (min-width:768px) and (max-width:991px ){
			.fluidnavbar-default .fluidnavbar-nav>li>a {
				font-size: 12px;
			}
		}		
		
		.fluidnavbar-default .fluidnavbar-nav .open .dropdown-menu>li>a{
			color: #666;
			font-weight: bold;
		}
		
		.fluidcontainer-fluid {
			margin-right: auto;
			margin-left: auto;
			padding-left: 15px;
			padding-right: 15px;
		}
		
		/* radio button groups */
		div.btn-group input[type='radio']{
			display: none;
		}
		
		/* Extra button styling */
		.btn-grey{
			background: #F5F5F5;
			border-color: #D0D0D0;
			color: #222222;
		}

		.whiteBackground{
			background: #000000;
			
		}
		
/**************************************************************************************************/





	@font-face {
		font-family: Helvetica;
		src: url(helvetica_condensed.ttf), url(helvetica_condensed.eot);
	}

body
{
	font-family: Helvetica !important;
}
	.section-first-left-gradient{position: absolute;
    width: 6px;
    z-index: 3;
    background: linear-gradient(to bottom, #b30000, #f1f2f2) 100%;
    height: 67%;
    top: 49%;
    left: 0%;}
	.section-first-right-gradient{position: absolute;
    width: 6px;
    z-index: 3;
    background: linear-gradient(to bottom, #b30000, #f1f2f2) 100%;
    height: 67%;
    top: 49%;
    right: 0%;}
	
	.section-second-left-gradient{position: absolute;
    width: 6px;
    z-index: 3;
    background: linear-gradient(to bottom, #b30000, #f1f2f2) 100%;
    height: 75%;
    top: 47%;
    left: 0%;}
	.section-second-right-gradient{position: absolute;
    width: 6px;
    z-index: 3;
    background: linear-gradient(to bottom, #b30000, #f1f2f2) 100%;
    height: 75%;
    top: 47%;
    right: 0%;}
	
	.custom-margin{margin-top:5%;}

.header-img{width:100px;height:100px;}

	.report-main-label{color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;}

.custom-container{
	margin-left:10px;
	margin-right:10px;
}

.custom-container:nth-child(2) > div.col-lg-12{
	
	background-color:#f2f1f1;
	
}

.custom-container:nth-child(3) > div.col-lg-12{
	
	background-color:#f2f1f1;
	
}

body > div >.custom-container:nth-child(1) > div.col-lg-11{
	
	background-color:transparent;
	
}

.outer-block
{
	z-index: 1;
	border: 6px solid #b30000;
    border-radius: 30px 30px 0px 0px;
	padding:20px 20px 50px 60px;
	border-bottom:none;
	background-color: #f2f1f1;
}

.labels {
    position: relative;
    right: 10px;
    font-weight: bold;
    color: #ac172d;
    font-family: Helvetica;
    font-size: 24px;
}

#stage-III-A-Header
{
	text-align: right;
    position: relative;
    z-index: 2;
    top: 25px;
    right: 50px;
}

.circle_container {
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0;
    margin-top: 12px;
}

.circle_main {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #ca2006;
    margin: 0;
    padding: 0;
	box-shadow: 0 2px 16px 4px rgba(0, 0, 0, 0.2), 0 7px 28px 0 rgba(0, 0, 0, 0.19);
}

.circle_text_container {
    width: 70%;
    height: 70%;
    max-width: 70%;
    max-height: 70%;
    margin: 0;
    padding: 0;
    position: relative;
    left: 15%;
    top: 15%;
    transform-style: preserve-3d;
}

.circle_text {
    font-weight: bold !important;
    font: 30px "Helvetica", Arial, Serif;
    text-align: center;
    position: relative;
    top: 52%;
    transform: translateY(-50%);
}

.inner-circle {
   background: linear-gradient(#ffffff, #e8e9ea);
    border-width: 2px;
    width: 83%;
    height: 83%;
    border-color: #ffffff;
    z-index: 2;
    position: relative;
    top: -83px;
    left: 8px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: 0;
    padding: 0;
}


.first-col {
   position: relative;
    z-index: 2;
    float: left;
}

.second-col {
    position: relative;
    z-index: 1;
    float: left;
    top: 0px;
    left: -47px;
}

.third-col {
   top: -2px;
    position: absolute;
    z-index: -1;
    float: left;
    left: 96px;
    width: 69%;
}

.half-circle {
    display: block;
    width: 65px;
    height: 115px;
    background: #f1f2f2;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.block {
    color: #000;
    text-align: center;
    margin-top: 9px;
    display: block;
    height: 100px;
    padding-left: 18px;
    padding-top: 30px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0px 61px 61px 0px;
    background-color: #9cc6f0;
    font-family: Helvetica;
    background: linear-gradient(#91beee, #acd2f4);
}

.arrow {
    width: 4px;
    margin: 32px auto;
	margin-left: 100px;
    margin-top: 14px;
	margin-bottom:8px;
}

.line {
    width: 42px;
    background: #9cc6f0;
    height: 2px;
    float: left;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 4;
}

.point {
    position: relative;
    top: 10px;
    left: 14px;
    /* overflow: hidden; */
    z-index: -1;
}

.circle {
    width: 12px;
    height: 10px;
    background: #f2f1f1;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-left: 1px;
    position: relative;
    z-index: 2;
    top: 3px;
}


.triangle-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #939598;
    position: relative;
    z-index: 1;
    left: 1px;
}

.triangle-down-blue {
    border-top: 12px solid #9cc6f0;
}

.fullblock-white {
    text-align: center;
    margin-left: 20px;
    margin-top: 8px;
    display: block;
    height: 100px;
    padding-top: 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 61px;
    background-color: #fff;
    font-family: Helvetica;
    color: #58595b;
	padding-left: 10px;
    padding-right: 10px;
}

.half-white-block
{
	width:62%;
}

.white-block {
    text-align: center;
    margin-top: 9px;
    display: block;
    height: 100px;
    padding-top: 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0px 61px 61px 0px;
    background-color: #fff;
	padding-left:15px;
}


.fullblock {
    color: #000;
	width:89.2%;
    padding-left: 10px;
    text-align: center;
    margin-left: 0px;
    margin-top: 15px;
    display: block;
    height: 100px;
    padding-top: 30px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 61px;
    background-color: #9cc6f0;
    font-family: Helvetica;
}

.bigger-block {
    height: 130px;
    border-radius: 0 73px 73px 0;
}

.overlapped-block {
    border-radius: 0 60px 60px 0;
    position: relative;
    /* height: 90px; */
    /* border-radius: 0 45px 45px 0; */
	padding-top:0px;
    top: -124px;
    background: #fff;
    width: 95%;
}

.overlapped-block > img 
{
	position: relative;
     top: 0%;
	width:52%;
}


.bigger-second-col {
    position: relative;
    z-index: 1;
    float: left;
    top: 3px;
    left: -35px;
}

.bigger-half-circle
{
	display: block;
    width: 65px;
    height: 137px;
    background: #f1f2f2;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
}

.bigger-first-col {
    position: relative;
    z-index: 2;
    float: left;
	top:13px;
}

#CRT > span{
	padding-left:0px;
}

.stage-III-B-Block{background: linear-gradient(#77a5df, #8ebced);}

.stage-III-C-Block{background: linear-gradient(#5083bb, #75a3de);}

.font-size-21{font-size:21px;}

	.last-section-first-gradient{
		margin-left: -15px;
    height: 60px;
    background: linear-gradient(#b30000, #f1f2f2);
    position: relative;
    z-index: 2;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    margin-right: -15px;
	}
	.last-section-second-gradient {
    background-color: #f2f1f1;
    position: relative;
    z-index: 2;
    height: 56px;
    top: -64px;
    margin-left: -9px;
    margin-right: -9px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.last-block-padding{padding-top:25px;}

.last-div
{
	position: relative;
    width: 100%;
    /* margin-left: -15px; */
    height: 15vh;
    background-color: #f7f7f7;
    /* top: 86.6%; */
    margin-top: -6%;
}

.triangleUp {
    margin-left: 13px;
    margin-bottom: -7px;
    margin-top: -3px;
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #555;
}

.triangleDown {
position: absolute;
    top: 44px;
    margin-left: 13px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #555;
}

.section-second-top-gradient{
height: 6px;
    width: 15%;
    top: 6px;
    position: relative;
    z-index: 3;
    left: 13%;
    background: linear-gradient(to right, #b30000 0%, #b30000 0%, #f2f1f1 20%, rgba(22, 22, 22, 0) 100%), linear-gradient(to left, #b30000 0%, #b30000 0%, #f2f1f1 20%, #f2f1f1 100%);
  }

  .last-section-top-gradient{
   height: 6px;
    width: 15%;
    top: 6px;
    position: relative;
    z-index: 3;
    left: 13%;
    background: linear-gradient(to right, #b30000 0%, #b30000 0%, #f2f1f1 20%, rgba(22, 22, 22, 0) 100%), linear-gradient(to left, #b30000 0%, #b30000 0%, #f2f1f1 20%, #f2f1f1 100%);
  }

/**********************************************************************************************************/

@media (min-width: 6000px){
  
  .overlapped-block > img {
    position: relative;
    top: 0%;
    width: 10%;
}  
.section-second-top-gradient{left:10%;}
	.last-section-top-gradient{left:10%;}
	.section-second-left-gradient{top:40%;}
	.section-second-right-gradient{top:40%;}
	
	.section-first-left-gradient{top:43%;}
	.section-first-right-gradient{top:43%;}
	.fullblock{width:72%;}
}

@media (min-width: 4001px)and (max-width: 5999px){
  
  .overlapped-block > img {
    position: relative;
    top: 0%;
     width: 13%;
}  
.section-second-top-gradient{left:10%;}
	.last-section-top-gradient{left:10%;}
	.section-second-left-gradient{top:40%;}
	.section-second-right-gradient{top:40%;}
	
	.section-first-left-gradient{top:43%;}
	.section-first-right-gradient{top:43%;}
	.last-div{top:91.8%;}
}


@media (min-width: 2701px)and (max-width: 4000px){
  
  .overlapped-block > img {
    position: relative;
    top: 0%;
     width: 20%;
}  
.section-second-top-gradient{left:10%;}
	.last-section-top-gradient{left:10%;}
	.section-second-left-gradient{top:43%;}
	.section-second-right-gradient{top:43%;}
	
	.section-first-left-gradient{top:43%;}
	.section-first-right-gradient{top:43%;}
	.fullblock{width:77%;}
}

@media (min-width: 2001px) and (max-width: 2700px){
  
  .overlapped-block > img {
    position: relative;
     top: 0%;
     width: 29%;
}  
	.section-second-top-gradient{left:10%;}
	.last-section-top-gradient{left:10%;}
	.section-second-left-gradient{top:43%;}
	.section-second-right-gradient{top:43%;}
	
	.section-first-left-gradient{top:43%;}
	.section-first-right-gradient{top:43%;}
	.fullblock{width:80%;}
	.overlapped-block{width:97%;}
	.last-div{top:88.8%;}
}

@media (min-width: 1530px) and (max-width: 2000px){
  
  .overlapped-block > img {
    position: relative;
    top: 0%;
    width: 40%;
}

.last-block-padding {
    padding-top: 7%;
}

.section-second-top-gradient{left:10%;}
	.last-section-top-gradient{left:10%;}
	.section-second-left-gradient{top:45%;}
	.section-second-right-gradient{top:45%;}
	
	.section-first-left-gradient{top:45%;}
	.section-first-right-gradient{top:45%;}
	.overlapped-block{width:97%;}
	.fullblock{width:81%;}
  
}



/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1199px) {
  
  .custom-left{left:42%;}
  .block{font-size:17px;padding-left:18px;padding-top:35px;}
   .section-second-left-gradient{top:43%;}
  .section-second-right-gradient{top:43%;}
  .overlapped-block > img {
    top: -32%;
}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/


@media (min-width: 768px) and (max-width: 1024px) {
  .custom-container {
    margin-left: 0px;
    margin-right: 0px;
}
  .third-col{width:70%;}
  .half-white-block{width:60%;}
  .custom-left {
    left: 58.3%;
	}
	
.fullblock{width:96.2%;font-size:20px;}
.block{font-size:20px;padding-left:12px;}
.fullblock-white{font-size:18px;}
  
.labels{width: 45%;
    display: inline-block;}
/*
.section-second-top-gradient{top: 16%; left: 20%; height:4%;}
.last-section-top-gradient{top: 16%; left: 19%;}*/
.section-second-left-gradient{
    height: 72%;}
.section-second-right-gradient{
    height: 72%;}
.last-block-padding{padding-top:8%;}

.section-second-top-gradient{left:20%;}
.last-section-top-gradient{left:20%;}
.last-div{margin-top: -15%;}

}


@media (min-width: 992px) and (max-width: 1024px) {
  
  .custom-left{left:42%;}
  
  .section-second-top-gradient {
    left: 14%;
}
.last-section-top-gradient {
    left: 13%;
}
 
}
 /*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media only screen and (width : 1024px) and (height: 1366px) {
  
  .third-col{width:80%;}
  .left-5{left:5%;}
  
  .left-9 {left: 9%;}
  .custom-left{left:51%;}
  .fullblock{position:absolute;width:100%;}
  .section-second-top-gradient{left:14% !important}
  .last-section-top-gradient{left:14% !important}
}

@media only screen and (width : 1024px) and (height: 768px) {
   
  .custom-left {
    left: 42.3%;
}
.last-div{margin-top: -10%;}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
   .section-second-top-gradient{left: 7%;
    width: 23%;}
    .last-section-top-gradient{left: 7%;
    width: 23%;}
  .custom-container {
    margin-left: 0px;
    margin-right: 0px;
	}
  #stage-III-A-Header{right:0px;}
  .labels {
    position: absolute;
    top: -10px;
    width: 40%;
    display: block;
    font-size: 13px;
    right: 80px;
}
  
 .third-col {
	width:61%;
	left:35px;
}

.triangleDown{
	margin-left: 5px;
	top: 26px;
}

.triangleUp{ margin-left: 5px;}

.circle_container{width:60px;height:60px;}
.inner-circle{width: 80%;
    height: 80%;
    top: -54px;
    left: 6px;}

.outer-block{padding-left:10px;padding-right:10px;}
.half-circle{height:75px;}
.second-col{top:4px;left:-50px;}
.block{height: 65px;
    width: 142%;
    padding-left: 23%;
    font-size: 14px;
    padding-top: 10%;
    padding-right: 4%;}
.fullblock-white{height:65px;}
.half-white-block{width:72%;}
.white-block{margin-top:11px;height:65px;}
.fullblock{width:100%;height:65px;}
.bigger-block{height:90px;}
.bigger-second-col{top: 6px;
    left: -45px;}
	.bigger-half-circle{height:92px;}
	.overlapped-block{width:130%;}
	
	.overlapped-block > img{top: -82.2%;
    width: 61%;
    left: 12%;}
	.overlapped-block{top:-86px;padding-top:0px;}
	.circle_text{font-size:18px;}
	.fullblock-white{
    margin-top: 8px;
    padding-top: 21px;
    font-size: 12px;}
	
	.white-block{padding-top: 21px;font-size: 12px;padding-left: 20%;}
	.fullblock{padding-top: 8%;font-size: 12px;}
	.overlapped-block > img {
   top: 0%;
    width: 68%;;
    left: 3%;
}
.custom-container:nth-child(1) > div > #stage-III-A-Header > div > .labels{width:65%;}
.header-img{width:60px;height:60px;}
	.section-first-left-gradient{
    height: 65%;}
	.section-first-right-gradient{
    height: 65%;}
    
	.section-second-left-gradient{
    height: 68%;}
	.section-second-right-gradient{
    height: 68%;}
	.last-block-padding{padding-top:7%;}
	.report-main-label{font-size:18px;}
	.custom-padding-resectable{padding-top: 21px;
    padding-left: 2%;}
	#CRT > span{padding-left: 10%;
    padding-top: 12%;}
	
	.last-div{height:20vh;margin-top:-10%;}
}

@media only screen and (width : 375px) and (height: 812px) {
	.custom-padding-resectable {
    padding-top: 22px;
    padding-left: 2%;
}
.white-block {
    padding-top: 21px;
    font-size: 12px;
    padding-left: 39%;
}	
}

@media (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  
 
  .custom-left {
    left: 58.6%;
}
.last-div {
    margin-top: -10%;
    height: 25vh;
}
}

@media only screen and (width : 320px) and (height: 568px) {
	
	.half-white-block-second-col {
    left: -32% !important;
}
.block{padding-left:58%!important;font-size:11px!important;}
}

@media only screen and (width : 667px) and (height: 375px) {
	
	.custom-left  {
    left: 0% !important;
}
}

@media only screen and (width : 568px) and (height: 320px) {
	
	.custom-left  {
    left: 0% !important;
}
}

@media (min-width: 320px) and (max-width: 480px) {
  
  #MainContainer{padding-left:0px;padding-right:0px;}
  
  .custom-container {
    margin-left: 0px;
    margin-right: 0px;
	}
  #stage-III-A-Header{right:0px;}
  .labels {
    position: absolute;
    top: -10px;
    width: 40%;
    display: block;
    font-size: 13px;
    right: 80px;
}
  
 .third-col {
	width:61%;
	left:35px;
}


.circle_container{width:60px;height:60px;}
.inner-circle{width: 80%;
    height: 80%;
    top: -54px;
    left: 6px;}

.outer-block{padding-left:10px;padding-right:10px;}
.half-circle{height:75px;}
.second-col{top:4px;left:-50px;}
.block{height: 65px;
    width: 142%;
    padding-left: 48%;
    font-size: 12px;
    padding-top: 15px;
    padding-right: 4%;}
.fullblock-white{height:65px;}
.half-white-block{width:72%;}
.white-block{margin-top:11px;height:65px;}
.fullblock{width:112%;height:65px;}
.bigger-block{height:90px;}
.bigger-second-col{top: 6px;
    left: -45px;}
.triangleDown{margin-left: 5px; top: 26px;}
.triangleUp{margin-left: 5px;}
	.bigger-half-circle{height:92px;}
	.overlapped-block{width:130%;}
	
	.overlapped-block > img{top: -82.2%;
    width: 61%;
    left: 12%;}
	.overlapped-block{top:-86px;}
	.circle_text{font-size:18px;}
	.fullblock-white{
    margin-top: 8px;
    padding-top: 21px;
    font-size: 12px;}
	
	.white-block{padding-top: 21px;font-size: 12px;padding-left: 39%;
    padding-right: 5%;}
	.fullblock{padding-top: 16px;font-size: 12px;}
	.overlapped-block > img {
    top: -9.2%;
    width: 85%;
    left: -1%;
}
.custom-container:nth-child(1) > div > #stage-III-A-Header > div > .labels{width:65%;}
.header-img{width:60px;height:60px;}
	.section-first-left-gradient{
    height: 65%;}
	.section-first-right-gradient{
    height: 65%;}
    
    .section-second-top-gradient{left: 20%;}
    .last-section-top-gradient{left: 20%;}
	.section-second-left-gradient{
    height: 68%;}
	.section-second-right-gradient{
    height: 68%;}
	.last-block-padding{padding-top:16px;}
	.report-main-label{font-size:18px;}
	.custom-padding-resectable{padding-top: 21px;
    padding-left: 2%;}
	.last-div{margin-top: -20%;}
	
	.half-white-block-first-col{
		left: 9%;
	}
	.half-white-block-second-col{
		left: -28%;
	}
	
	.half-white-block-third-col{
		left: 40%;
    width: 54%;
	}
}

@media only screen and (width : 640px) and (height: 360px) {
	
	.custom-left {
    left: 0% !important;
}
}

@media only screen and (width : 375px) and (height: 812px) {
	.custom-padding-resectable {
    padding-top: 22px;
    padding-left: 2%;
}
.white-block {
    padding-top: 21px;
    font-size: 12px;
    padding-left: 39%;
}	
.half-white-block-second-col {
    left: -22%;
}
}

@media only screen and (width : 411px) and (height: 731px) {
	.half-white-block-second-col {
    left: -19%;
}

.white-block{padding-left:27%;}
}

@media (width : 731px) and (height: 411px) {
  
 
  .custom-left {
    left: 0% !important;
}
}

@media only screen and (width : 414px) and (height: 736px) {
	.custom-padding-resectable {
    padding-top: 22px;
    padding-left: 2%;
}
.white-block {
    padding-top: 21px;
    font-size: 12px;
    padding-left: 35%;
}
.half-white-block-second-col {
    left: -19%;
}	
}

@media (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
  
 
  .custom-left {
    left: 0%;
}
}

@media only screen and (width : 411px) and (height: 823px) {
	.half-white-block-second-col {
    left: -19%;
}

.white-block{
	padding-left:18%;
}	
}

@media only screen and (width : 823px) and (height: 411px) {
  
 .custom-left {
    left: 58.5%;
}
 .last-div {
    margin-top: -10%;
	height:20vh;
} 
}

#svgContainer { 
	z-index: 5;
	position:absolute;	
}

.path {
	stroke-dasharray: 2px;
  }
 @media (min-width: 737px) and (max-width: 767px){

    .custom-left{left:0%;}
  }
  
  @media only screen and (width : 823px){
  	.custom-left {
    left: 58%;
}
  }
  
    @media (min-width: 991px) and (max-width: 991px){
  	.custom-left {
    left: 58.3%;
}
  }
  
  @media (min-width: 992px) and (max-width: 1024px){

    .block {
    font-size: 18px;
    padding-left: 8%;
	padding-top:10%;
}

.section-second-left-gradient{height:71%;}
.overlapped-block > img {
    position: relative;
    top: -13%;
    width: 61%;
}
  }
  
 @media (min-width: 572px) and (max-width: 650px){
  	.last-block-padding {
    padding-top: 8%;
}
  }
  