.profileFormat {
	float: right;
	margin-right: 20px;
	font-size: x-large;
}

.logoFormat {
	float: right;
	margin-right: 20px;
	font-size: x-large;
	margin-top: -5px;
}

.selectChartRowTable {
	background-color: #87bafa;
	padding: 2px 0px;
	color: Black;
	padding: 2px 10px;
}

.selectChartRow {
	background-color: lightskyblue;
}

.selectChartLabel {
	background-color: #87bafa;
	padding: 2px 0px;
	color: Black;
}

.lbafa-1andhalf {
    font-size: 1.5em;
}

.filterBarMargin {
	margin-top: 5px;
}

.filterHeightFormat {
	height: 3em !important;
}

.filterDateHeightFormat {
	height: 3.5em !important;
}

.filterRow {
	min-height: 80px;
}

.filterBarFormat {
    margin-top: 12px;
    margin-bottom: 12px;
}

.filterGoReset {
	padding-top: 4px;
}

.filterBlockHide {
	visibility: hidden;
    display: none;
}

.filterBlockShow {
    visibility: visible;
    display: block;
}

.whiteBackground {
	background-color: White !important;
}

.hr {
	border-top: 2px solid black !important;
}

.play-button {
	font-size: xx-large;
	padding-right: 10px;
/*	color: #454D59;  */
}

a, a:link {
    color: #922b2b /*LinkColor*/;
    text-decoration: none;
}

.noOverflow {
	overflow: hidden !important;
}

/*FORMAT QUICKTIP*/

/* Based on 
 * http://tantek.com/CSS/Examples/polygons.html
 * http://www.filamentgroup.com/lab/image_free_css_tooltip_pointers_a_use_for_polygonal_css/
 */

/*To change the border colours*/
.rdquicktip-content {
	text-align: left;
	min-width: 130px !important;
	padding: 3px;
	padding-top: 1px !important;
	font: 12px !important;
	word-wrap: break-word;
	background-color: #FFFFFF !important;
	border-color: White !important;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
	font-family: Helvetica Neue, sans-serif !important;
}
.rdquicktip-table td {
     padding: 0px !important; 
}
/*To change the body colours*/
.highcharts-tooltip .rdquicktip-table {
	background-color: white !important;
	border: white !important;
	/*line-height: .9 !important;*/
	border-radius: 8px;
	font-family: Helvetica Neue, sans-serif !important;
	color: #58595B !important;
	}

/*To change the header colours*/
.rdquicktip-content .header {
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	background-color: white !important;
	color: #58595B !important;
	font-family: Helvetica Neue, sans-serif !important;

}

.rdPopupPanel {
    background-color: #FFFFFF /*ModalBackgroundColor*/ !important;
    /*border-color: #E0E0E0; /*ModalBorderColor*/
	border: white !important;
    border-radius: 8px;
    padding: 1px !important;
	text-align: left;
	font: 12px !important;
	color: #58595B !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
	/*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;*/
}


/*FORMAT QUICKTIP END*/