<IncludeSharedElement DefinitionFile="ApplicationCommon.SharedElements" ID="frame-OneColumnBlock" SharedElementID="Frame">
  <SharedElementParams 
  	ExpandContent="" 
	ExpandIconHidden="False" 
	ExpandKeepContent="False" 
	Fra_BorderColor="@Session.Fra_BorderColor@Request.test~~" 
	Fra_BorderRadius="@Session.Fra_BorderRadius@Request.test~~" 
	Fra_BorderSize="@Session.Fra_BorderSize@Request.test~~" 
	Fra_ContentBackgroundColor="@Session.Fra_ContentBackgroundColor@Request.test~~" 
	Fra_ContentBackgroundImage="@Session.Fra_ContentBackgroundImage@Request.test~~" 
	Fra_ContentFontColor="@Session.Fra_ContentFontColor@Request.test~~" 
	Fra_FooterBackgroundColor="@Session.Fra_FooterBackgroundColor@Request.test~~" 
	Fra_FooterBorderColor="@Session.Fra_BorderColor@Request.test~~" 
	Fra_FooterFontColor="@Session.Fra_FooterFontColor@Request.test~~" 
	Fra_HeaderBackgroundColor="@Session.Fra_HeaderBackgroundColor@Request.test~~" 
	Fra_HeaderBorderColor="@Session.Fra_BorderColor@Request.test~~" 
	Fra_HeaderFontColor="@Session.Fra_HeaderFontColor@Request.test~~" 
	Fra_HeaderFontFamily="@Session.Fra_HeaderFontFamily@Request.test~~" 
	FrameFooter="False" 
	FrameHeader="True" 
	FrameHeaderTitle="Typical Theme Frame Configuration" 
	FrameMaxHeight="" 
	FrameMinHeight="50px" 
	FrameShadow="@Session.Fra_Shadow@Request.test~~" 
	UniqueID="frameThemeCommon" />
  <PassedSharedElement ID="FrameHeaderContent" />
  <PassedSharedElement ID="FrameContent" />
  <PassedSharedElement ID="FrameFooterContent" />
</IncludeSharedElement>