body {
	margin: 0px !important;

}

/* Provides the Overlay of background content */
#divOverlay::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s 0.3s;
  -moz-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
  z-index: 2;
  visibility: hidden; 
}

#divOverlay.active::after {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s 0s;
  -moz-transition: all 0.3s 0s;
  transition: all 0.3s 0s;
  z-index: 20;
  visibility: visible;
}

p {
	text-align: justify;
}
.action {
	cursor: pointer;
}

.font-weight-900 {
	font-weight: 900;	
}

.font-size-100 {
	font-size: 100px;
}

.font-color-white {
	color: White;
}

.action:hover {
	-webkit-filter: opacity(50%);
	filter: opacity(50%);
	cursor: pointer;
}

/* Allows Frames within a row to stretch height */

.row {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;
	flex-wrap: wrap;
	margin-left: 0px;
	margin-right: 0px;
}
.frame {
	-webkit-flex: 1; /* Safari 6.1+ */
	-ms-flex: 1; /* IE 10 */ 
	flex: 1;
	position: relative;
	border-radius: 3px;
	height: calc(100% - 10px); /* 100% height minus top and bottom margin */
	padding: 0px;
	overflow: hidden;
	margin: 5px 5px 5px 5px;
}

.frame .framecontent {
/*	padding: 5px; */
	padding: 5px;
}

.ThemeHidden {
	display: none !important;
}

/* Frame and Dashboard Panel Expand Icons and Content Style 

.frame .expand {
	position: absolute;
	display: inline-block;
	top: 4px;
	right: 6px;

	font-size: 22px; 
	z-index: 1;

    font-weight: 900;	
	}

.frame:hover > .expand {
	visibility: visible;
}

.rdDashboardPanel:hover .expand {
	visibility: visible;
}
	
.frame .expand::after {
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 0px;
	font-size: 15px;
	line-height: 22px;	
	z-index: 100;
	content: "\f065";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #FFFFFF;
	cursor: pointer;
	z-index: 100;
	}
	
.frame .expand:hover::after {
	-webkit-filter: opacity(50%);
	filter: opacity(50%);
	cursor: pointer;

	}
*/
.expandcontent {
	display: none;
}

.expandcontent iframe {
	padding: 0px !important;
}

#divSubReport1 {
	padding: 0px !important;
	margin: 5px 0px !important;
}
.content {
	position: relative;
	padding: 0px;
	margin: 0px;
	max-height: 100%;
	max-width: 100% !important;
	width: 100% !important;
	height: 100%;
}

iframe {
	width: 100% !important;
}

#divModalContent {
	height: 100vh;
	width: 100vw;
	z-index: -1
}
p, .ThemeTextLargest, .ThemeTextLarger, .ThemeTextLarge, .ThemeText, .ThemeTextSmall, .ThemeTextSmaller, .ThemeTextSmallest {
    min-height: 0px; 
    position: relative;
}
.ThemeAlignMiddle {
	vertical-align: middle;
}
#divReportActions {

}