/* Logi DevNet Sample Apps - Supplimentary Style Sheet - March 2016: Lee */

PRE { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; white-space: pre-wrap; }

.font10pt { font-size: 10pt; }
.font11pt { font-size: 11pt; }
.font12pt { font-size: 12pt; }
.font24pt { font-size: 24pt; }

.footerLink a:link { text-decoration: none; color: #999999; }
.footerLink a:visited { text-decoration: none; color: #999999; }
.footerLink a:hover { text-decoration: underline; color: #999999; }

.imgMiddle { vertical-align: middle; }

/* for displaying source code */
.lgxCode {
	width: 900px;
	text-align: left;
    display: block;
	overflow: hidden;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #E1E1E8;
    background-color: #FFFFFF;
    font-size: 10pt;
    color:#505050;
    padding: 0px 10px 0px 10px; 

}

