/* -- these classes used for scrolling data table rows -- */

.scrollingTableDiv { height: 25em; overflow: auto; } /* height of scrolling area */

.tableContainerDiv { 
	width: 652px; 
	border-collapse: collapse; 
	background: #f1f1f1; /* colored square right above scrollbar */
	border: 1px solid #fff; 
	color: #fff;
	text-align: left;
}
.tableContainerDiv TD { border: 1px solid #fff; color: #fff; }

.specialTable { width: 633px; border-collapse: collapse; }  /* table width less scrollbar width */
.specialTable TD { color: #000; }
.specialTable TH { text-align: left; }
