/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=a3s0D0krYOHgITBm-QXCwLXIHu0 */
.color-primary-0 { color: #25A0DB }	/* Main Primary color */
.color-primary-1 { color: #75C4E9 }
.color-primary-2 { color: #4AB0E2 }
.color-primary-3 { color: #0891D3 }
.color-primary-4 { color: #046797 }

.color-complement-0 { color: #FF9820 }	/* Main Complement color */
.color-complement-1 { color: #FFC17A }
.color-complement-2 { color: #FFAC4B }
.color-complement-3 { color: #FF8900 }
.color-complement-4 { color: #EF8000 }




*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	-ms-overflow-style: scrollbar;
}

#colMetadata {
	padding: 0;
}
#colStartTable, #colJoin {
	background: transparent;
	box-shadow: 0 0 0 0
}

strong, b {
	font-weight: bold;
}



#divGoHeader{
  height: 100%;
}
#divGoFooter{
  color: #999999;
  font-size: 90%
}

#rdMainBody .ThemeContent {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Help the slide-out sidebar menus not get buried under other elements. */
h1, h2, h3, h4, h5, h6, .ThemeHeaderLargest, .ThemeHeaderLarger, .ThemeHeaderLarge, .ThemeHeader, .ThemeHeaderSmall, .ThemeHeaderSmaller, .ThemeHeaderSmallest {
  position: static;
}
p, .ThemeTextLargest, .ThemeTextLarger, .ThemeTextLarge, .ThemeText, .ThemeTextSmall, .ThemeTextSmaller, .ThemeTextSmallest {
  position: static;
}

.ThemeHeaderLargest, .ThemeHeaderLarger, .ThemeHeaderLarge {
	font-weight: lighter
}

.rdPopupPanelTitleCaption {  	/* match with ThemeHeaderLarger */
	font-size: 185%;
	font-weight: lighter;
}

.rdPopupPanel{
	box-shadow: 2px 10px 20px rgba(0,0,0,0.5);
	border-collapse: separate;
}

.go-welcome-responsive {
  	position: static;
}

.ThemeContent,
.ThemeContentCentered,
.go-analysis .rdAgWrapper > tbody > tr > td {
	padding: 0 1.2em;
}

.ThemeLinkButton {
	transition: all .2s;
}

.ThemeLinkButtonSmall {
	background-color: #e0e0e0 !important;
	border-color: #B7B7B7 !important;
	color: rgb(69, 77, 89) !important;
	transition: all .2s;
}
.ThemeLinkButtonSmall span {
	color: #454d59 !important;
}

.rdAg .rdThemePaging {
	background-color: transparent;
}
.rdAgContentHeading {
	font-weight: lighter;
}

.rdAgCommand,
.rdAgSelectedTab,
.rdAgUnSelectedTab {
	transition: all .2s;
}

.rdAgContentRow #rowsAnalysisGrid {
	background-color: #75C4E9
}

.rdAgError {
	color: red;
	font-size: 120%;
	font-weight: normal;
}

.rdThemePopupMenu, a:visited.rdThemePopupMenu {
	color: white
}
.rdPopupPanelTitle, .rdPopupPanelTitle td, .rdPopupPanelTitle span {
	background-color: #f1f1f1 !important;
	padding: 2px;
}


.go-background-transparent{
	background-color: transparent !important;
}

.go-column-divider {
	border-left-style: double;
	border-left-color: lightgrey;
}

.go-analysis .ThemeContent,
.go-analysis .ThemeContentCentered {
	padding: 0;
}

.ThemeContentCentered {
	max-width: 100%;
}

/* To center content */
.go-dashboard .go-content,
.go-report .go-content {
	margin: 2em auto 0;
}
.go-dashboard .ThemeContent,
.go-report .ThemeContent {
	min-width: 100%;
}

.go-title { /* custom title */
	vertical-align: middle;
	margin-left: 5px;
}

.go-title-text {
	display: inline-block;
}

.go-title-menu-icon {
	vertical-align: top;
	margin-left: 10px;
}

.go-help-icon {
	vertical-align: middle;
	margin-left: 20px;
}

.go-box-container {
	width: 50px;
}

table.go-input-table select {
    min-width: 170px;
}

table.go-table-vert-lines {
		border-collapse: separate   !important; 
}
table.go-datatable-no-lines > tbody > tr {
		border-botton-width: 0px         !important; 
}

.go-box {
	position: absolute;
	width: 48px;  /* 2em if text "GO" */
	height: 48px; /* 2em if text "GO" */
	font-size: 0px;
	line-height: 2;
}

.go-box:hover {
	opacity: .6;
}

.go-box:active {
	position: relative;
	top: 1px;
}

.go-box a:hover {
	text-decoration: none;
}

.go-box-home {
	white-space: nowrap;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
	opacity: 0.9;
	text-align: left;
    -webkit-transition: font-size 0s, width 1s, height 1s, background-color 1s, -webkit-transform 1s;
	transition: font-size 0s, width 1s, height 1s, background-color 0s, transform 1s;
	width: 50px;
}

hr {
    height: 3px;
    color: #CCCCCC;
    background-color: #CCCCCC;
    border: none;
}

.go-list-item .rdThemeDataTableCell, #dtUserList .rdThemeDataTableCell, #dtBookmarkSharedWith .rdThemeDataTableCell {
    border-bottom: 0px solid #DCDCDC;
}

textarea.go-api-sample, .go-api-sample {
	font-family: 'Courier New', Courier, monospace
}

/* Style table with no vertical lines, horizontal only. */
table.rdThemeDataTable {
	border-collapse: collapse; 
}
.rdThemeDataTable > tbody > tr {
	border-bottom: solid 1px #D0D0D0;
	min-height: 35px;
}
/* Style table with no lines. */
.go-datatable-no-lines > tbody > tr {   
	border-bottom: 0;
}

.go-find-input-container .go-icon {
	float: right;
	margin: 0;
	margin-top: -0.2em;
	font-size: 2em;
	line-height: 2;
	width: 1.5em;
	position: relative;
	pointer: normal;
}

.go-find-input-container {
	background-color: rgb(64, 64, 64) !important;
	width: 100%;
	position: relative;
	overflow: visible;
	margin-bottom: 0.25em;
    padding: 5px;
}

.go-find-input-container:hover {
    background-color: #2C323C !important;
}
	
input.go-input {
	margin-top: 0.35em;
    padding-left: 40px;
}

.go-home .go-defaultbookmark ul,
.go-home .go-defaultbookmark li {
	list-style: none;
}

.ThemePanel {
	display: block;
	padding: 1em;
	border-radius: 6px;
}

.go-create-list-col {
	width: 33%;
	min-width: 7.2em;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	margin-left: 1px;
	vertical-align: top;
}

.go-create-list-item {
	width: 100%;
	vertical-align: middle;
	padding: 0.5em 0;
	margin: 0;
	font-size: 1.2em;
	position: relative;
	display: inline-block;
	background-size: auto 100px;
}

.go-create-list-item {
	height: 6em;
}

.go-create-help-item {
	height: 6em;
	font-size: 1em;
	padding: 1em;
}

.go-intro {
	width: 100%;
	margin-bottom: 15px;
}

.go-intro-list {
	padding: 0 1em;
	font-size: 1em;
}

.go-intro-item li {
	margin: 0.5em;
}

.go-intro-item p {
	margin: 1.5em 0.5em;
}

.go-create-list-item:active {
	position: relative;
	top: 1px;
}

input.go-input {
	background: transparent;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
    color:#fff;
	box-shadow: none;
    width: 100%;
}

.go-home input.go-input {
	width: 100%;
	margin: 0;
	padding: 0 5px 0 40px;
	font-size: 1.5em;
	background-color: transparent;
    background-position: 1em 50%;
}

.go-find-input-container {
	background-image: url('../_SupportFiles/PredictGo.iconFind.png');
	background-repeat: no-repeat;
	background-position: 1em 50%;
	background-size: 24px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../_SupportFiles/PredictGo.iconFind.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../_SupportFiles/PredictGo.iconFind.png',sizingMethod='scale')";
    text-align: left;
	border-radius: 6px;
}

.go-list {
	width: 100%;
}

.go-list-item-icon-schedule,
.go-list-item-icon-delete,
.go-list-item-icon-share {
	margin-top: 0px;
	margin-left: 0px;
}

.go-list-item-title {
	padding: 0.25em 0;
}

.go-home{
	align: center;
}

#divHeaderContent {
vertical-align: middle;
}

#UserLogout {
    position: absolute;
    top: .0em;
    right: 2em;
}

span#rdDmtCaption {
    padding-left: 5px;
}

#HamburgerMenuImage{
    display: block;
    height: 50px;
    margin-left: -3px;
    position: relative;
    min-width: 19px !important;
    border-radius: 0 5px 5px 0;
    padding-left: 6px;
    padding-top: 18px;
}

#imgLogo{
	z-index: 10;
	position: relative;
	margin-left: -5px;
	margin-top: 5px;
}

#HeaderColumn {  /* Logi Predict header text */
	padding-bottom: 5px;
}

#rdMenuTable{
	min-width: 190px !important;
	white-space: nowrap;
	max-width: 600px !important;
}

#divGoContainer {
    padding-top: 15px;
}

.QueryBuilderHeader {
    height: 52px;    
}
.ImgClose{
    padding-left: 7px;
    padding-top: 7px;
}
.BtnClose {
    border: medium none;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    height: 24px !important;
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden;
    width: 24px;
}
.BtnClose:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; 
    filter: alpha(opacity=70); 
    -moz-opacity: 0.7;         
    -khtml-opacity: 0.7;       
    opacity: 0.7;
}
.BtnQueryBuilder{
    padding-left: 8px;
    padding-top: 14px;
}

#thinkspaceContainer {
    background-color: rgba(224, 224, 224, 0.28);
    vertical-align: top;
}

#GoTitle img {
    vertical-align: middle;
}

.TitleIconPadding{
    margin-right: 5px;
}

#divSelectData {
    padding: 20%;
    white-space: nowrap;
}

/*LaunchMenu*/

	#LaunchBar {
		background: linear-gradient(#25A0DB, #25A0DB, transparent);
		min-height: 500px;
	}

	.go-button-list {
		position: relative;
		top: 6px;
    	left: 5px;
	}
	
	.go-button {
		width: 40px;
    	height: 40px;
		margin: 0 0 6px 0;
		padding-top: 3px;
		text-align: left;
		display: block;
		border-top-right-radius: 10em;
		border-bottom-right-radius: 10em;
		text-decoration: none;
		overflow: hidden;
		transition: all .2s ease-out;
		cursor: pointer;
		white-space: nowrap;
		color: #ffffff;
        z-index: 9100;
	}

    .go-button-image {
        margin: 5px;
    }
		
	.go-button-label {
		font-size: 120%;
		margin: 0 0 0 6px;
		position: relative;
		display: inline;
		white-space: nowrap;
		top: -10px;
	}
	
	#btn-goHome.go-button:hover {
 		width: 8em;
	}
	#btn-goModels.go-button:hover {
 		width: 15em;
	}
	#btn-goPlans.go-button:hover:hover {
		width: 14em;
	}
	#btn-goScheduler.go-button:hover {
		width: 15em;
	}
	#btn-goData.go-button:hover {
 		width: 13em;
	}
		
	div.button-list>div.button>i.fa {
		color: #616161;
		transition: all 0.3s ease;
		font-size: 20px;
	}
	
	div.button-list>div.button:hover>i.fa {
		color: #0288d1;
	}
	
	.titleMenuIcon{
		margin-left:10px;
	}
	

.go-page {
	font-size: 12px;
	text-rendering: optimizeLegibility;
}

.go-welcome-title {
    font-weight: lighter;
	font-size: 300%;
}
.go-welcome-container {
	min-width: 550px;
}
.go-welcome-header {
	font-size: 200%;
	font-weight: 700;
}
.go-welcome-text {
	color: #CC6D00; 
	font-size: 150%; 
}
.go-algorithm-result{
	max-width: 300px;
	word-wrap: break-word;
}
.go-abort {
	color: #C55A11 !important;
	border: 1;
	display: inline-block;
}
.go-small-help {
	color: #CC6D00;
	font-size:90%;
}

