/**  
 Proyect: LogiXML - Gettingstarted
 CSS - Content
*/

@import url("font_segoe_ui.css");

*{ 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

body { 
  font-size: 100%; 
  line-height: 1;
  font-family: 'segoe_ui', Helvetica, Arial, sans-serif;
  background-color: #fff; 
  overflow: hidden;
}

/* main container */
#container{
  width: 100%; /*644px*/
  height: 509px;
  display: block;
}

/* title */
#header{
  height: 65px;
  padding-top: 10px;
  padding-left: 22px;
  display: block;
  color: #454d59;
  background-color: #ecedee;
}

#header strong, #content a strong { 
  color: #89BA45;
  font-size: 18px;
  line-height: 30px;
}

/* main content */
#content {
  height: 384px;
  color: #454d59;
  font-size: 14px;
}

#content1{
  height: 172px;
  color: #454d59;
  font-size: 14px;
}
#content2 {
  height: 212px;
  color: #454d59;
  font-size: 14px;
}

#content a{
  color: #454d59;
  text-decoration: none;
}

#content p, #content1 p, #content2 p{
  padding: 0px 15px;
  line-height: 17px;
  font-size: 12px!important;
}

#content p.info{
  margin-left: 30px;
  padding: 15px 15px 15px 37px;
  display: block;
  background: transparent url(../images/icoInfo.png) no-repeat left;
}

#content p.link{
  margin-left: 22px;
  margin-top: 25px;
  padding: 0px 0px 0px 45px;
  display: block;
  background: transparent url(../images/icoLink.png) no-repeat left;
}

#content p.code{
  font-family: "Courier New", Courier, monospace;
}

i{
  font-style: italic;
}

/* carousel */

.ui-carousel {
  height: 100px;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative; /*for ie7 to work e.g in html carousels*/
  width: 300px
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
  border: 0;
  display: block;
  float: left;
  height: 100px;
  overflow: hidden;
  width: 100px; 
}

/* nav menu - content */
.nav-menu{
  height: 54px;
  display: inline;
}

div.next, div.prev, div.center{
  padding: 5px 20px 0 20px;
  display: block;
}

div.center, div.center img{
  float: right;
  margin-right: 22%;
}

div.centertext{
  float: left;
  width: 370px;
  margin-left: 1%;
}

p.textinfo{
  margin-left: 22px;
  margin-top: 5px;
  padding: 4px 0px 0px 45px;
  display: block;
  background: transparent url(../images/icoInfo.png) no-repeat left;
  font-family: 'segoe_ui', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 28px;
}

div.next, div.next img{
  float: right;
}
.widthtourwelcomeone{
  width: 141px;
}
div.prev, div.prev img{
  float: left;
}

blockquote{
  margin-left: 45px;
  line-height: 21px;
}

/* steps - content*/
.number{
  width: 40px;
  padding: 10px 0 0 22px;
  float: left;
}

.description{
 margin-left: 50px;
 padding-top: 18px;
}

.description strong{
  color: #000;
}

.description b{
  color: #86b840;
  font-weight: bold;
}

/* tooltip - content */
img.background_image_welcome{
  margin-left: 40px;
  margin-top:  10px;
  position: absolute;
  z-index: -1;
}

.c_green{
  color:#8bbb45;
}
.c_green img{
  padding-bottom: 0px;
}
.pesptop{
  margin-top: 8px;
}
.pesptopX{
  margin-top: 5px;
}