/** 
 Proyect: LogiXML - Gettingstarted
 CSS - Main File
*/

/*@import url("font_segoe_ui.css");
*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

body { 
  font-size: 62.5%; 
  line-height: 1;
  font-family: 'segoe_ui', Helvetica, Arial, sans-serif;
  background-color: #fff; 
  overflow: hidden;
}

/* main container */
#container{
  width: 900px;
  display: block;
}

/* side navigation */
#sidemenu {
  margin: 0;
  padding: 0;
  width: 256px;
  height: 509px;
  float: left;
  background: #F5F5F5;
}

#sidemenu li {
  display: block; 
}

#sidemenu li.title-sidemenu{
  margin-top: 7px;
  margin-bottom: 25px;
  color: #fff;
  background-color: #86b840;
  font-size: 23px;
}

#sidemenu li img{
  padding-left: 15px;
  padding: 10px 20px 10px 15px;
  display: inline;
  vertical-align: middle;
}

#sidemenu li a { 
  margin-top: 2px;
  display: block;
  padding: 6px 2px;
  color: #454d59;
  text-decoration: none;
  font-size: 14px;
}

#sidemenu li a:hover {
  background: #e3e4e5;
}

#sidemenu li a.open {
  background: #e3e4e5 url(../images/menuSelect.png) no-repeat right center;
}

#sidemenu li a strong { 
  color: #000;
  font-size: 16px;
  line-height: 22px;
}

#sidemenu li a span { 
  display: block;
  width: 155px;
  padding-right: 25px;
  float: right;
}

/* content */
#content {
  display: block;
  background: #fff;
  padding: 0px;
  margin-left: 256px;
}

.contentblock {
  width: 644px;
  height: 509px;
  display: block;
  padding: 0px;
}

.contentblock.hidden {
  display: none;
}
