.container{ 
  max-width: 900px;
  min-width: 900px;
}
.bc{
  background: #f5f5f5;
  height: 510px;
}
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  padding: 0 !important;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #E3E4E5;
  background-image: #E3E4E5;
  color: #1f1f1f;
}
div.bhoechie-tab-menu div.list-group>a:hover{
  background-color: #e3e4e5;
  background-image: #e3e4e5;
  color: #1f1f1f;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 74px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 74px;
}
.intlineaTit{
  line-height: 1.1;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 500;
  color:#1f1f1f;
}
.intlinea{
  line-height: 1.1;
  margin-bottom: 0px;
  font-size: 12px;
  color:#454d59;
}

.divpad0{
  padding-left: 0px;
  padding-right: 0px;
}

.tooltipster-base .tooltipster-default .tooltipster-fade .tooltipster-fade-show{
  left: 534px;
}



/*slider*/
.glyphicon-chevron-right {
  position: absolute;
  top: 35%;
  z-index: 5;
  display: inline-block;
  width: 49px!important;
  height: 89px!important;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 30%!important;
  z-index: 5;
  display: inline-block;
}

  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 49px;
    height: 89px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 30%!important;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 15%!important;
}

.transition-timer-carousel .carousel-caption {
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  padding-top: 5px;
  padding-left: 15%;
  padding-right: 15%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
  margin-top: 10px;
  font-size: 24px;
}

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
  .transition-timer-carousel .carousel-caption .carousel-caption-header {
    font-size: 36px;
  }
}
.transition-timer-carousel .carousel-indicators {
  bottom: 0px;
  margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
  z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    -webkit-transition: width 4.25s linear;
  -moz-transition: width 4.25s linear;
  -o-transition: width 4.25s linear;
  transition: width 4.25s linear;
}
/*slider*/







      .btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
background: rgb(89,97,114); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NjE3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTRkNTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(89,97,114) 0%, rgb(69,77,89) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(89,97,114)), color-stop(100%,rgb(69,77,89))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(89,97,114) 0%,rgb(69,77,89) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(89,97,114) 0%,rgb(69,77,89) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(89,97,114) 0%,rgb(69,77,89) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(89,97,114) 0%,rgb(69,77,89) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596172', endColorstr='#454d59',GradientType=0 ); /* IE6-8 */
font-size: 20px;
height: 36px;
font-weight: normal;
padding-top: 4px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
background: rgb(69,77,89); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NGQ1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTRkNTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(69,77,89) 0%, rgb(69,77,89) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(69,77,89)), color-stop(100%,rgb(69,77,89))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(69,77,89) 0%,rgb(69,77,89) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(69,77,89) 0%,rgb(69,77,89) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(69,77,89) 0%,rgb(69,77,89) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(69,77,89) 0%,rgb(69,77,89) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454d59', endColorstr='#454d59',GradientType=0 ); /* IE6-8 */

}
.btn-primary:active,
.btn-primary.active {
  /*background-color: #003399 \9;*/
background: rgb(69,77,89); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NGQ1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTRkNTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(69,77,89) 0%, rgb(69,77,89) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(69,77,89)), color-stop(100%,rgb(69,77,89))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(69,77,89) 0%,rgb(69,77,89) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(69,77,89) 0%,rgb(69,77,89) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(69,77,89) 0%,rgb(69,77,89) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(69,77,89) 0%,rgb(69,77,89) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454d59', endColorstr='#454d59',GradientType=0 ); /* IE6-8 */

}



.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

background: rgb(144,201,70); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwYzk0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NmI4NDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(144,201,70) 0%, rgb(134,184,64) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(144,201,70)), color-stop(100%,rgb(134,184,64))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(144,201,70) 0%,rgb(134,184,64) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(144,201,70) 0%,rgb(134,184,64) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(144,201,70) 0%,rgb(134,184,64) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(144,201,70) 0%,rgb(134,184,64) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c946', endColorstr='#86b840',GradientType=0 ); /* IE6-8 */
font-size: 17px;
height: 36px;
font-weight: normal;
padding-top: 7px;

}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
color: #ffffff;
background: rgb(134,184,64); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2Yjg0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NmI4NDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(134,184,64) 0%, rgb(134,184,64) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(134,184,64)), color-stop(100%,rgb(134,184,64))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(134,184,64) 0%,rgb(134,184,64) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(134,184,64) 0%,rgb(134,184,64) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(134,184,64) 0%,rgb(134,184,64) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(134,184,64) 0%,rgb(134,184,64) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86b840', endColorstr='#86b840',GradientType=0 ); /* IE6-8 */

}
.btn-success:active,
.btn-success.active {
/*  background-color: #408140 \9;*/
background: rgb(134,184,64); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2Yjg0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NmI4NDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(134,184,64) 0%, rgb(134,184,64) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(134,184,64)), color-stop(100%,rgb(134,184,64))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(134,184,64) 0%,rgb(134,184,64) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(134,184,64) 0%,rgb(134,184,64) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(134,184,64) 0%,rgb(134,184,64) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(134,184,64) 0%,rgb(134,184,64) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86b840', endColorstr='#86b840',GradientType=0 ); /* IE6-8 */

}     


.txtTit{
  font-size: 20px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;  
  margin: 0 0 5px 0;
}
.txtDemo{
  font-size: 14px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;  
  margin: 0px;
  line-height: 0;
  color:#454d59;
}
.texto_btns{
  height: 50px;
  text-align: right;
  color:#000000;
}
.paddbtns{
  padding-top: 5px;
}
.wiprimbtn{
  width: 120px;
  margin-right: 20px;
  float: left;
}
.wisecbtn{
  width: 140px;
}

.divsupizq{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 50px;
  background: #86b840;
}
.ximgtop img{
  margin-top: 10px;
  margin-left: 15px;
}
.divsupizq p{
  margin-top: 10px;
  margin-left: 15px;
  font-size: 21px;
  display: inline-block;
  color:#ffffff;
  font-weight: normal;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;  
}

a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
  outline:0;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #428bca;
  border-color: #e3e4e5;
  outline:0;
  background: #e3e4e5 url(../images/menuSelect.png) no-repeat right center;
}
.xdivsupder{
  padding-left: 15px;
  padding-top: 5px;
  background: #ecedee;
  width: 675px;
  margin-left: 15px;
  height: 70px; 
}
.xdivsupder span{
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;    
  font-size: 13px;
}
.xdivsupdertit{
  font-size: 20px!important;
  color:#1f1f1f;
}
.xdivsupdersubtit{
  color:#454d59;
}
.xdivfoot{
  margin-top: 15px;
}

.divsupizqfoot{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 50px;
  background: #ffffff;
}
.ximgtopfoot img{
  margin-top: 10px;
  margin-left: 25px;
}
.divsupizqfoot p{
  margin-top: 2px;
  padding-left: 65px;
  padding-right: 20px;
  font-size: 16px;
/*  display: inline-block;*/
  color:#454d59;
  font-weight: normal;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;  
}
.contenidoladoder{
  height: 370px;
}
.ContenidoCargarVideo{
  width: 600px;
  height: 442px;
  padding-top: 36px;
  padding-left: 53px; 
}
.containerfullheight{
  height: 510px!important;
}
.containerfullsinfoot{
  height: 440px;
}
iframe{
  border:0px;
}

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btnwidth{
  width: 120px;
}