/* Logi DevNet Sample Apps - Supplimentary Style Sheet - March 2016: Lee */

PRE { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; white-space: pre-wrap; }

/* -- use with SelfServ tables in NewCase -- */
#colNoSSData { background-color: White !important; }
#dtSelfServDocs, #dtSelfServPosts { background-color: White !important; }
/*---*/

#divBackLink {width: 100%; text-align: right; }

#divSupportCases {
    width: 100%;
	font-size: 10pt;
	background-color: #FFFFFF !important;
}

/* original
#divSupportCases {
    width: 98%;
	padding: 0px 10px 0px 10px; 
	font-size: 10pt;
	background-color: #FFFFFF !important;
} */

#divGuidelines li { background-color: #FFFFFF !important; }
#divPgNumber { width: 100%; }

#dtCaseComments TD, #dtCaseAttachments TD { padding-top: 10px; padding-bottom: 10px; }
#dtCaseDetails TD { border: 0px !important; }


.bgPink { background-color: Pink !important; }
.bgWhite { background-color: #FFFFFF !important; }

.caseTabPanel { padding: 0px 10px 20px 10px; border: 1px solid Silver; background-color: #FFFFFF; }
.caseTabPanel2 { padding: 0px 10px 20px 10px; border: 1px solid Silver; background-color: #FFFFFF; }
.caseTabPanel3 { padding: 0px 10px 20px 10px; }

.colStats { margin-top: 20px; padding: 10px; border: 1px solid Silver; background-color: #FFFFFF; }

.drillHeaderContainer { width: 100%; position: fixed; top: 0px;  
    background-color: #444444; 
	color: #FFFFFF;
	padding-left: 20px; 
	padding-top: 12px; 
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px;
	border-radius: 0px;	
}

.font9ptOS { font-size: 9pt; font-family: OpenSans,Arial,sans-serif; }
.font10pt { font-size: 10pt; }
.font10ptOS { font-size: 10pt; font-family: OpenSans,Arial,sans-serif; }
.font11pt { font-size: 11pt; }
.font11ptOS { font-size: 11pt; font-family: OpenSans,Arial,sans-serif; }
.font12pt { font-size: 12pt; }
.font12ptOS { font-size: 12pt; font-family: OpenSans,Arial,sans-serif; }
.font14ptOS { font-family: OpenSans,Arial,sans-serif; font-size: 14pt; }
.font16ptOS { font-family: OpenSans,Arial,sans-serif; font-size: 16pt; }
.font18ptOS { font-family: OpenSans,Arial,sans-serif; font-size: 18pt; }
.font24pt { font-size: 24pt; }
.font36pt { font-size: 36pt; }
.fontOrange { color: Orange; }
.fontRed { color: Red !important; }

.footerLink a:link { text-decoration: none; color: #999999; }
.footerLink a:visited { text-decoration: none; color: #999999; }
.footerLink a:hover { text-decoration: underline; color: #999999; }

.hideMe { display: none; }
.imgBtnMiddle {	vertical-align: middle; padding-bottom: 6px;}
.imgMiddle { vertical-align: middle; }

/* for displaying source code */
.lgxCode {
	width: 900px;
	text-align: left;
    display: block;
	overflow: hidden;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #E1E1E8;
    background-color: #FFFFFF;
    font-size: 10pt;
    color:#505050;
    padding: 0px 10px 0px 10px; 

}

.lineHgt140 { line-height: 140%; }


.padL10 { padding-left: 10px; }

/* underlined green link classes */
.linkULGreen A:link { outline: none; text-decoration: underline; color: #89BB40; } /* logo green  */ 
.linkULGreen A:visited	{ outline: none; text-decoration: none; color: #89BB40;	}	
.linkULGreen A:visited:hover {	outline: none; text-decoration: none; color: #89BB40; }	
.linkULGreen A:hover { outline: none; text-decoration:  underline; color: #89BB40; }
.linkULGreen A:active { outline: none; text-decoration: none; color: #89BB40; }	

/* underlined-when-hovered green link classes */
.linkGreenUL A:link { outline: none; text-decoration: none; color: #89BB40; } /* logo green  */ 
.linkGreenUL A:visited	{ outline: none; text-decoration: none; color: #89BB40;	}	
.linkGreenUL A:visited:hover {	outline: none; text-decoration: none; color: #89BB40; }	
.linkGreenUL A:hover { outline: none; text-decoration:  underline; color: #89BB40; }
.linkGreenUL A:active { outline: none; text-decoration: none; color: #89BB40; }	

.marginB2 { margin-bottom: 2px }

/* override theme links */
.rdAg a:link { text-decoration: underline !important; color: #454d59; }
.rdAg a:hover { text-decoration: underline !important; color: #89BB40; }

/* for default page tabs */
#tabsDefault { width: 100%; }
#rdTabs-tabsDefault li { padding: 0px 9px 3px 9px; background-color: #808080;   }
#rdTabs-tabsDefault li.selected { padding: 0px 9px 3px 9px; border-top: 2px solid #89BB40; background-color: #E1E1E1; }
#rdCaption_pnl_Default, #rdCaption_pnl_AllStats { font-size: 12pt; }
#rdTabPanel_pnlAllStats { background-color: #FFFFFF !important; }

/* for case details tabs */
#tabsCaseDetails { width: 100%; }
#rdTabs-tabsCaseDetails li { padding: 0px 9px 3px 9px; background-color: #808080;   }
#rdTabs-tabsCaseDetails li.selected { padding: 0px 9px 3px 9px; border-top: 2px solid #89BB40; background-color: #E1E1E1; }
#rdCaption_pnl_Case, #rdCaption_pnl_Comments, #rdCaption_pnl_Attachments { font-size: 12pt; !important }

input.rdThemeInput[type="file"] { font-size: 11pt !important; }
input.rdThemeInput[type="text"] { font-size: 11pt !important; }
textarea.rdThemeInput { vertical-align: top; padding: 8px;}

/* borrowed from DevNet - for LSP Tour */
#divContainer { width: 1070px; background-color: #F7F6F6; margin: 0px auto; height: auto; }
#divHR { width: 100%; }
#divWrapper { width: 100%; height: 100%; background-color: #F7F6F6; overflow: hidden; }

.colBase {
	background-color: White;
	border: 1px solid #EEEEEE;
	height: auto;
	overflow: hidden;
	box-shadow: 0 0 3px rgba(1, 1, 1, 0.16); 
}
.colFull { width: 1064px; min-height: 780px; margin: 20px 0 20px 0; } 
.floatLeft { float: left; }
.fontGray { color: #787878; }
.hrGray { border: 0; height: 1px; width: 100%; color: #DDDDDD; background-color: #DDDDDD;}
.lineHeight26 { line-height: 26px; }
.pad20x40 { padding: 20px 40px 20px 40px; }
.tourMenuSelected {
    /*background: -moz-linear-gradient(center top , #363b42 5%, #454d59 100%) repeat scroll 0 0 #363b42; */
    background: #363b42;
    border: medium none;
    border-radius: 2px;
    color: #fff !important;
    cursor: pointer;
    font-family: "Segoe UI","Avenir Next","Avenir","Helvetica Neue",Helvetica,"Arial","sans-serif";
    font-weight: normal;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    font-size: 11pt;
    line-height: 26px;
    margin-top: 3px !important;
    padding: 3px 6px;
}
/* end- borrowed from DevNet - for LSP Tour */