<html>

<head>
	<title>Application Error</title>
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<style>
		A:link { outline: none; color: black;}
	</style>
</head>

<body bgcolor="#FFFFFF" topmargin="0" marginheight="0" style="text-align:center;">

<p align="center"><a href="http://devnet.logianalytics.com" target="_parent"><img src="_SupportFiles/SystemError.png" border="none"></a></p>


<!-- production -->
<!-- 
<p><a href="https://lsp.logianalytics.com/rdProcess.aspx?rdProcess=SupportPortalTasks&rdTaskID=taskSendDiagnostics&Acct_Name=<%=Session("SF_AcctName")%>&Acct_ID=<%=Session("SF_AcctID")%>&SupportPOC=(No+data)&MaintExp=(No+data)&SupportExp=(No+data)&statusmsg=<%=Session("rdLastErrorMessage")%>">Click to send diagnostic information to Logi</a></p>
-->
<!-- dev/test -->

<p><a href="http://localhost/LogiSupportPortal/rdProcess.aspx?rdProcess=SupportPortalTasks&rdTaskID=taskSendDiagnostics&Acct_Name=<%=Session("SF_AcctName")%>&Acct_ID=<%=Session("SF_AcctID")%>&SupportPOC=(No+data)&MaintExp=(No+data)&SupportExp=(No+data)&statusmsg=<%=Session("rdLastErrorMessage")%>">Click to send diagnostic information to Logi</a></p>

<p>&nbsp;</p>


</body>
</html>
