/* Default CSS Stylesheet for the Ad Hoc Report Builder */
/* Specify font sizes in pixels for better cross-browser compatibility */

p
{
  margin: 0;
  padding: 0;
}

/* Sitewide styles for menus and navigation. */
#menu
{
	background: #4A719C;
	padding-bottom: 2px;
}

#menu a
{
	color:White;
	margin: 0px 5px;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
}

#menu .menubutton, .menuicon
{
	border:0; 
	vertical-align: middle; /* Centers icons on inline text. */
}

#menu_GroupSelector
{
		color: #214973;
		margin: 0 0 0 28px; 
		white-space: nowrap;
}

#menu_DBSelector
{
		color:#214973;
		margin: 0 0 0 28px; 
		white-space: nowrap;
}

#submenu {
	background-color: #E7EFF7;
	padding: 5px 5px 5px 18px;
}

#submenu  ul {
	margin: 0;
	padding: 0;
	}

#submenu li {
	display: inline;
	padding-left: 3px;
}

#submenu li a {
	color: #214973;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	}
	
#submenu li a.current {
	font-weight:bold;
	}

#functions
{
	float: right;
	margin: 5px 5px;
	color: White;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

#functions a
{
	color: White;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

#functions1
{
	float: right;
	margin: 0px 5px;
	color: White;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

#functions1 a
{
	color: White;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

#navtrail 
{
	background-color: #214973;
	color: White;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
}

#navtrail a
{
	color: White;
	font-weight: normal;
	white-space: nowrap;
}

.bctrail
{
	background-color: #214973;
	color: White;
	padding: 5px 5px 5px 18px;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
}

.bctrail a
{
	color: White;
	font-weight: normal;
	white-space: nowrap;
}

.separator
{
	padding:0px 9px 0 6px;
}

/* General page styles. */
body {
	margin: 0;
	padding: 0;
	background-color: white;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

form 
{
	margin: 0;
	padding: 0;
}

h1 
{
	margin-left:2px;
	font: bold 14px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}

h2 
{
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}

h3
{
	margin: 4px 2px;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}

form {
	margin-left:  0px;
	margin-right:  0px;
}

input {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}

textarea {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}

select {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}

option {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}

td {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:link {	
	text-decoration: none;
	color: #2323AA;
}
		
a:visited {	
	text-decoration: none;
	color: #2323AA;
}	
		
a:active {	
	text-decoration: none;
	color: #3D4871;
}	
		
a:hover	{
	text-decoration: underline;
	color: #2323AA;
}

/* Styles for the report list. */

#ReportGrid .ReportLink {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
}

.legend
{
	background-color: #E7EFF7; 
	margin:14px 0px;
	padding:4px;
	border: solid 1px #D7DFE7;
	color: #333333;
}

.legend dl
{
	display:inline;
	font-weight:normal;
}

.legend dt
{
	display:inline;
	margin-left: 20px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

.legend dd
{
	display:inline;
	margin-left: 5px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

.treenodeSelected 
{
	font-weight:bold;
}
.treediv
{
	font-weight:normal;
}

/* Styles for the MSL user control. */
.MSL
{
	/* Min-width rule for CSS compliant browsers */
	min-width: 300px;
	/* IE Dynamic Expression workaround to set the width */
	width: 300px;
  /* width: expression((this.clientWidth <= 300) ? "300px" : "");*/
}

.mslbutton {
	display:block;
	border-style:none;
	margin: 25px 3px;
}

/* Styles for the MS GridControl. */
.grid, .gridWline
{
	background-color:White;
	margin: 14px 0px;
	border: 2px solid #1D1F5C;
}

.grid td, .gridWline td {

	padding: 4px;
	vertical-align:middle;
}

.gridheader {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	background-color: #E7EFF7;
	text-align: center;
}

.gridfooter {
	background-color: #E7EFF7;
}

.gridalternaterow, .gridalternaterownocolor {
	background-color: #F4F8FA;
}

tr.gridrow:hover td, tr.gridalternaterownocolor:hover td, tr.gridalternaterow:hover td {background-color: #ffffdd; }

.SelectedRow 
{
	background-color: #ffffdd;
}

/* General page styles */
.help 
{
	background-color: #DDDDDD;
	background-image: url(../../ahImages/iconHelpText.gif);
	background-repeat:no-repeat;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border: solid 1px #CCCCCC;
	color: Black;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
}

.info 
{
	background-color: #E7EFF7;
	background-image: url(../../ahImages/iconInfo.gif);
	background-repeat:no-repeat;
	border: solid 1px #D7DFE7;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
}

.validation_error
{
	clear:both; font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: Red;
}

.errorWithImage 
{
	background-color: #FFDDCC;
	background-image: url(../../ahImages/iconError.gif);
	background-repeat:no-repeat;
	border: solid 1px #EECDBC;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
	text-align:left;
}

.error 
{
	background-color: #FFDDCC;
}

.warning
{
	background: #faf9f9 url(../../ahImages/iconWarning.gif) no-repeat;
	border: solid 1px #e14b03;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #e14b03;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
}

.warningnNoImage
{
	background-color: #FFEEBB;
}

.spacer
{
	cursor: default;
}

.command 
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    font-size:8pt; 
    border:solid 1px #C9D5DF;
    color:#214973;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#E5E6E6);
}

.normaltab
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    font-size:8pt; 
    border:solid 1px #C9D5DF;
    color:#214973;
    text-decoration:none;
    background-color: #D8D8D8;
}

.selectedtab
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    font-size:8pt; 
    border-top: solid 1px #C9D5DF;
    border-left: solid 1px #C9D5DF;
    border-right: solid 1px #C9D5DF;
    border-bottom: solid 1px #FFFFFF;
    color:#214973;
    text-decoration:none;
    background-color: #FFFFFF;
}

/* Mozilla, Opera styles to preserve disabled look for command buttons. */
.command[disabled='true'] 
{
	color:#999; 
}
.command[disabled='false'] 
{
	color:#009; 
}
.command[disabled] 
{
	padding:0px 6px; /* Firefox 0.8 bug; changes the size. */
	color:#999; 
}

.clcCommand 
{
    height:18px; 
    width:120px;
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	 cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    font-size:8pt; 
    border:solid 1px #C9D5DF;
    color:#214973;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#E5E6E6);
}

/* Mozilla, Opera styles to preserve disabled look for command buttons. */
.clcCommand[disabled='true'] 
{
	color:#999; 
}
.clcCommand[disabled='false'] 
{
	color:#009; 
}
.clcCommand[disabled] 
{
	padding:0px 6px; /* Firefox 0.8 bug; changes the size. */
	color:#999; 
}

.detailpanel
{
	margin: 14px 0px;
	border: dashed 2px #1D1F5C;
	padding: 5px;
	background: #ddd;
}

.detailDiv
{
	margin: 5px 0px;
	padding: 5px;
	background: #ccc;
}

.framed 
{
	border: solid 1px #D7DFE7; 
	padding:3px; 
	margin-bottom:10px;
}

/* Form submit button styles. (Save, Delete, Cancel, etc.) */
#actions
{
	margin-top:14px;
}

/* Navigation element styles used in the Report Wizard. */
#myNavBar_navlinks {
	margin: 10px 0;
	}

#myNavBar_navlinks ol,#myNavBar_navlinks ul {
	margin: 0px 0px 0px -2px;
	padding: 0;
	}

#myNavBar_navlinks li {
	display: inline; 
	}

#myNavBar_navlinks li a {
	background: #fff;
	border-top: 1px solid #cad8e8;
	border-left: 1px solid #cad8e8;
	border-bottom: 1px solid #214973;
	border-right: 1px solid #214973;
	padding: 2px 5px;
	margin: 0px 2px;
	color: #000;
	text-decoration: none;
	font: normal 10px/18px Verdana, Arial, Helvetica, sans-serif;
	white-space: nowrap;
	}
/* Doesn't work due to the Response.Redirect. Use currentpage class instead. */
/*
#myNavBar_navlinks a:active	
{
	background: #eef;
}
*/

#myNavBar_navlinks .currentpage {
	background-color: #214973;
	color: #FFFFFF;
	border-top: 1px solid #BDC7CE;
	border-left: 1px solid #BDC7CE;
	border-bottom: 1px solid #4A719C;
	border-right: 1px solid #4A719C;
	font-weight:bold;
}

#myNavButtons_navbuttons {
	margin-top:14px;
}

#myNavButtons_navbuttons a {
	background-color: #D6DFEF;
	color: #214973;
	border-top: 1px solid #BDC7CE;
	border-left: 1px solid #BDC7CE;
	border-bottom: 1px solid #4A719C;
	border-right: 1px solid #4A719C;
	height: 18px;
	padding: 2px 5px;
	margin: 0 10px 0 0;
	text-decoration: none;
	text-align: center;
	font: bold 10px/18px Verdana, Arial, Helvetica, sans-serif;
	white-space: nowrap;
}
	
#myNavButtons_navbuttons a#myNavButtons_Back {
	background-image: url(../../ahImages/arrowBack.gif); 
	background-repeat: no-repeat; 
	background-position: left center;
	padding: 2px 5px 2px 15px;
}

#myNavButtons_navbuttons a#myNavButtons_Next {
	background-image: url(../../ahImages/arrowNext.gif);  
	background-repeat: no-repeat; 
	background-position: right center;
	padding: 2px 15px 2px 5px;
}

.InactiveDiv
{
	background-color: #E7EFF7; 
	margin:14px 0px;
	padding:4px;
	border: solid 1px #4A719C;
	color: #333333;
}

.InactiveFHeader {
	background: #4A719C;
	color:White;
	height: 18px;
	padding: 2px 5px;
	text-align: center;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
}

.InactiveFColumnHeader {
	background-color: #D6DFEF;
	color: #214973;
	border-top: 1px solid #BDC7CE;
	border-left: 1px solid #BDC7CE;
	border-bottom: 1px solid #BDC7CE;
	border-right: 1px solid #BDC7CE;
	height: 14px;
	padding: 2px 5px;
	margin: 0px 0px 15px 0px;
	font: bold 10px/18px Verdana, Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

.ViewButton {
	background-color: #D6DFEF;
	color: #214973;
	border-top: 1px solid #BDC7CE;
	border-left: 1px solid #BDC7CE;
	border-bottom: 1px solid #4A719C;
	border-right: 1px solid #4A719C;
	height: 18px;
	padding: 2px 5px;
	margin: 0 10px 0 0;
	text-decoration: none;
	text-align: center;
	font: bold 10px/18px Verdana, Arial, Helvetica, sans-serif;
	white-space: nowrap;
}
	
.NoWrap {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}

.DescriptionField {
	color: #4A719C;
	margin-left : 10px;
	width: 250px; height: 200px; overflow: auto;
}

/* Search filter */

.searchDiv
{
	border: solid 1px #D7DFE7;
	padding:3px;
}

.collapsePanelHeader 
{
	background-color: #E7EFF7; 
	border: solid 1px #D7DFE7;
	color: #333333;
	height:20px;
	font-weight:bold;
	padding-bottom:3px;
}

.collapsePanelHeader2
{
	background-color: #E7EFF7; 
	padding:2px;
	border: solid 1px #D7DFE7;
	color: #333333;
	height:24px;
	font-weight:bold;
}

.collapsePanelHeader3 
{
	background-color: #E7EFF7; 
	margin-bottom:10px;
	border: solid 1px #D7DFE7;
	color: #333333;
	height:20px;
	font-weight:bold;
}

/* End of Search filter */

.tdConfig 
{
	font: 12px Verdana; 
	border: solid 1px #D7DFE7;
	padding: 10px;
 }

.divConfig 
{
	background-color: #E7EFF7; 
	border: solid 1px #D7DFE7;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	height:24px;
	padding-top:4px;
	padding-left:4px;
	vertical-align:middle;
}

.divInnerConfig 
{
	margin-left:5px;
}

.tdTitle 
{
	background-color: #EAE0CE;
	padding:3px;
	width:102px;
}

.title 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
}

.editLink 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	float:right;
}

.dataTab
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #D7DFE7;
	border: 1px Solid #214973;
	padding: 3px 0px 0px 3px;
	width: 161px;
	margin: 0 0 3px 0;
}

.dtActive
{
	color: red;
	background-color: #EDF4FA;
}

.contentTabInside, .contentTab
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #E7E7E7;
	border-top: 1px Solid #214973;
	border-left: 1px Solid #214973;
	border-bottom: 1px Solid #214973;
	padding: 3px 0px 0px 0px;
	margin: 0 0 3px 0;
}

.contentTab 
{
	border: 1px Solid #214973;
	width: 161px;
	padding: 3px 0px 0px 3px;
}

.ctActive
{
	color: red;
	background-color: #F7F7F7;
}

.vertNavButton, .vertNavButtonData, .vertNavButtonDataLast
{
	background-color: white;
	color: #214973;
	border-top: 1px solid #BDC7CE;
	height: 14;
	padding: 2px 5px;
	margin: 0 0 0 0;
	text-decoration: none;
	font: 10px Verdana;
	white-space: nowrap;
	text-align:right;
}

.vertNavButtonData, .vertNavButtonDataLast
{
	border-left: 1px solid #BDC7CE;
}

.vertNavButtonDataLast 
{
	border-bottom: 1px solid #BDC7CE;
	margin: 0 0 3px 0;
}

.Active 
{
	background-color: #ffffcc;
	color:#214973;
	font: bold 10px Verdana;
}

.tinyImage 
{
	/*border: 3px solid #E7E7E7;*/
	width: 7px;
	padding: 2px;
}

.paddedImage
{
	padding: 2px;
}

.spanObject
{
	font-size: 9px;
	font-weight: normal;
	color: black;
}

#imgbQMobile {position: relative;top: 0.5em;}

#imgbQSave { position:absolute; right:35px; }

#imgbQPreview { position:absolute; right:0px; }

.tdWizardBody 
{
	vertical-align:top;
	/*Amit 07/25/07: Commented to resize the panel size based on Grids in Wizard.
	/*width:560px;*/
	width: 100%;
	padding-left:5px;
}
	
.wizardBody 
{
	background-color: #F7F7F7;
	border: 1px solid #214973;
	padding: 10px;
	overflow: auto; width: auto !important; overflow-x: hidden !important; position: relative;
}

.dataBody 
{
	background-color: #EDF4FA;
	border: 1px solid #214973;
	padding: 10px;
}

.tabLink 
{
	width:40px;
	padding:5px;
	cursor:hand;
	color:Navy;
	text-decoration:underline;
	
}

.tabLayout
{
	width:550px;
	text-align:right;
	float: right;
	cursor:hand;
	color:Navy;
	text-decoration:underline;
}


/* tab firefox and other browsers*/
.tdArrowL 
{
    background-image:url(Images/LeftArrow.gif);
    background-repeat:no-repeat;
    cursor:hand;
    display: none;
	 width:20px;
	 height:16px;
}

.tdArrowR 
{
    background-image:url(Images/RightArrow.gif);
    background-repeat:no-repeat;
    cursor:hand; 
    visibility:hidden;
	 width:20px;
	 height:16px;
}

.tab_header
{
    position:relative;
}

/* default layout */
.tab_default .tab_header {white-space:nowrap;}
.tab_default .tab_outer {display:-moz-inline-box;display:inline-block}
.tab_default .tab_inner {display:-moz-inline-box;display:inline-block}
.tab_default .tab_tab {margin-right:4px;overflow:hidden;text-align:center;cursor:pointer;display:-moz-inline-box;display:inline-block; }

/* xp theme */
#UPMenu .tab_header { height:22px; padding-left:5px; position:relative; background:url(Images/tab-line.gif) repeat-x bottom;}

#UPMenu .tab_header span { float:left; }

.tab_xp .tab_header {white-space:nowrap; font-family:arial,verdana,tahoma,helvetica;font-size:12px;}
.tab_xp .tab_outer {padding-right:4px;background:url(Images/tab-right.gif) no-repeat right;height:21px;}
.tab_xp .tab_inner {padding-left:3px;background:url(Images/tab-left.gif) no-repeat;}
.tab_xp .tab_tab {height:13px;padding:4px;margin:0;background:url(Images/tab.gif) repeat-x;}
.tab_xp .tab_hover .tab_outer {background:url(Images/tab-hover-right.gif) no-repeat right;}
.tab_xp .tab_hover .tab_inner {background:url(Images/tab-hover-left.gif) no-repeat;}
.tab_xp .tab_hover .tab_tab {background:url(Images/tab-hover.gif) repeat-x;}
.tab_xp .tab_active .tab_outer {background:url(Images/tab-active-right.gif) no-repeat right;}
.tab_xp .tab_active .tab_inner {background:url(Images/tab-active-left.gif) no-repeat;color:#FFFFFF;}
.tab_xp .tab_active .tab_tab {background:url(Images/tab-active.gif) repeat-x;}
.tab_xp .tab_body {font-family:arial,verdana,tahoma,helvetica;font-size:10pt;border:1px solid #999999;border-top:0;padding:8px;background-color:#ffffff;}
.tab_xp .tab_data {height: 380px; overflow: auto; padding-top:5px; border:solid 1px #bbb; margin-top:-1px; padding:5px; background-color:White;}
.tab_data td .outerbox { margin-top: 0; }
.tab_xp .tab_disabled { color: #AAAAAA;}




/*Popup Control*/
.popupControl{
	background-color:#E7EFF7;
	border-width:1px;
	border-style:solid;
	border-color:Gray;
	padding:5px;
	position:absolute;
	visibility:hidden;
}

.popupMenu{
	position:relative;
	visibility:hidden;
	background-color:#fafcfd;
	border-width:1px;
	border-style:solid;
	border-color:#4a719c;
	z-index: 10;
	padding: 6px 6px 6px 6px;
}
.AddpopupMenu 
{
	position:relative;
	display:none;
	background-color:#fafcfd;
	border-width:1px;
	border-style:solid;
	border-color:#4a719c;
	z-index: 10;
	padding: 6px 6px 6px 6px;
	min-width:100px;
/*    background-color:#f9f9f9; border:1px solid #BCBCBC; color:#484848; display:none; position:relative; z-index:100000; */
}
.AddpopupMenu div a { background-color:#fafcfd; display:block; }

.showDataPopup { height: auto !important; max-height:320px; }
/*
#divIFrameDS { text-align:center; }

#divIFrameDS iframe { margin:0 auto; }
*/
*:first-child + html #ifrmDS { width: 100% !important; }

*:first-child + html #pnlSelectDataControl #UP1 > table { width:100%; }

* + html #divTData { overflow: hidden !important; }

/*This class will be a copy of popupMenu except for display:none 
as it causes the hover menu positioning issues in at least the light theme.*/
.ifrmPopupMenu 
{
	position:relative;
	visibility:hidden;
	background-color:#fafcfd;
	border-width:1px;
	border-style:solid;
	border-color:#4a719c;
	z-index: 10;
	padding: 6px 6px 6px 6px;
}
.popupMenu li {

}
.ifrmPopupMenu li {

}
.hoverMenuActionLink
{
	padding-left: 3px;
	padding-bottom: 3px;
	color:#98CB00;
}

.functionLinkButton
{
	background: #fff;
	border-top: 1px solid #cad8e8;
	border-left: 1px solid #cad8e8;
	border-bottom: 1px solid #68786F;
	border-right: 1px solid #68786F;
	padding: 5px 5px;
	margin: 0px 2px;
	color: #000;
	text-decoration: none;
	font: normal 11px/19px Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

/*.searchDiv{ 
  height: 28px;
  margin: 9px 0 8px 0; 
  font: 11px Tahoma; 
  padding-top:8px;
}
*/

.searchDiv span{
  float: left;
  padding: 0 3px 0 5px;
  font: 15px Arial;
  font-weight: bold;
  color: #4c4c4c;
}
/*
.formSearch{
  font: 11px Arial;
  padding-bottom:10px;
}
*/
input.searchText{
  font: 13px Arial;
  border: 1px solid #aaaaaa;
  border-right:0;
  width: 150px;
  height: 17px;
  line-height:16px;
  padding: 0 2px 0 2px;
  margin-top: 1px;
  margin-left: 5px;
}
*:first-child + html input#srch_imgClear { margin-top:1px; }
.btnClear 
{
    margin-left: -5px;
     vertical-align:top;
}

/*Modal Popup*/
.modalBackground 
{
	background-color:#f4f7ed;
	filter:alpha(opacity=70);
	opacity:0.7;
}
.modalPopup 
{
	background-color:#ecf2f6;
	border-width:2px;
	border-style:solid;
	border-color:#344e61;
	overflow: auto;
}
.modalPopupBckgndColor
{
	background-color: #ecf2f6;
}
.modalPopupBackground
{
	background-color:#ecf2f6;
    padding: 5px 10px 10px 10px;
}

.modalDiv 
{
	padding: 10px;
}
.modalPopupHandle 
{ 
	background-color: #6e8db0; color: white;
	background-position:left bottom; background-repeat:repeat-x; cursor:move; 
	font-weight:bold; height:16px; margin:0; overflow:hidden; 
	padding:3px 0 3px 6px; vertical-align:middle; width: auto !important; }


.savePopup
{
	background-color: white; /*#edf5d7;*/
	border-width: 2px;
	border-style: solid;
	border-color: #111111;
	width: 180px;
	height: 68px;
}

.lblSavePopup 
{
	font: 9pt Verdana, Helvetica, sans serif;
}

.sampleStyleA {
	background-color:#FFF;
}

.sampleStyleB {
	background-color:#FFF;
	font-family:monospace;
	font-size:10pt;
	font-weight:bold;
}

.sampleStyleC {
	background-color:#ddffdd;
	font-family:sans-serif;
	font-size:10pt;
	font-style:italic;
}

.sampleStyleD {
	background-color:Blue;
	color:White;
	font-family:Arial;
	font-size:10pt;
}

.hidden 
{
	visibility:hidden;
}

.reportLayoutObject
{
	color: black;
	cursor: hand; /* Internet Exporer only. */
	cursor: pointer; /* All other browsers. */
	border: solid 1px #4A719C;
	background-color: #FFE87C;
	width:100px;
	text-align:center;
}

.centered 
{
	width:100%;
	height:100%;
	text-align:center;
}

.smallText 
{
	width:20px;
}

.imageButton 
{
	cursor: hand; /* Internet Exporer only. */
	cursor: pointer; /* All other browsers. */
	border: solid 1px gray;
	margin: 3px;
}

.imageButtonDisabled 
{
	margin: 3px;
}

.Arrow {
	font-family:Webdings;
	font-size:10pt;
	cursor:hand;
	width:10px;
	line-height:10px;
}

.shadeCommand 
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    font-size:8pt; 
    border:solid 1px #C9D5DF;
    color:#214973;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#E5E6E6);
}

.rightJustify 
{
	
	text-align:right;
}

.vAlignMiddle 
{
	vertical-align: middle;
}

.divForm
{
	padding:15px; 
}

.gridForm
{
    margin: 15px 15px 0 15px;
}
.limiting {width:90%;}

*:first-child + html #pnlDataSourcePopup { width:806px; }

.topBar 
{
	background-color: #F7F7F7;
	padding: 3px 5px 3px 18px;
	Height: 30px;
	border-bottom: Solid 1px #B0C1D4;
}

.divButtons 
{
	padding-top:10px;
}

.broken 
{
	color:Red;
}

.expired
{
	color:Gray;
}

.AboutBody 
{
	background-image:url(../../ahImages/About_Adhoc.jpg);
	background-repeat:no-repeat;
}

.CheckAll 
{
	color: White;
}

/* Email Info Styles */
.tblBody {
	margin: 10px;
	padding: 10px;
	width: 99%
}

.trBody {
	width: 100%
}

.tdBody {
	width: 100%
}

.lbl 
{
	margin-left: 2px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

.txt {
	width: 98%
}

.txtBody
{
	margin-left: 10px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	width: 98%;
}

.NoShow 
{
    display:none;
}

/* New classes  by Calvin. */

.divUserGroup {
	background-image: url(Images/filter1.jpg);
	padding: 3px 3px 3px 5px;
	border: 2px solid #FFFFFF;
}

#functions
{
	margin-top: 10px;
}

#menu_Logout
{
	margin-right: 15px;
}

/* Dashboard classes */
.panelConfig
{
	background-color: white;
	color: #214973;
	border-top: 1px solid #BDC7CE;
	height: 40px;
	padding: 2px 5px;
	margin: 0 0 0 0;
	text-decoration: none;
	font: 10px Verdana;
	white-space: nowrap;
	text-align: center;
}

.contentTabDashboard
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #E7E7E7;
	border: 1px Solid #214973;
	padding: 3px 0px 0px 0px;
	margin: 0 0 3px 0;
}

.dashColumn
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #D7DFE7;
	border: 1px Solid #214973;
	padding: 3px 0px 0px 3px;
	width: 126px;
	margin: 0 0 3px 0;
}
/************ MaskedEdit Related Styles ***********************/
.MaskedEditFocus
{
    background-color: #ffffcc;
    color: #000000;
}
.MaskedEditMessage
{
	color: #ff0000;
	font-weight: bold;
}
.MaskedEditError
{
    background-color: #ffcccc;
}
.MaskedEditFocusNegative
{
    background-color: #ffffcc;
    color: #ff0000;
}
.MaskedEditBlurNegative
{
    color: #ff0000;
}

.ajax__calendar_container {padding:4px;position:absolute;cursor:default;width:170px;font-size:11px;text-align:center;font-family:tahoma,verdana,helvetica;}
.ajax__calendar_body {height:139px;width:170px;position:relative;overflow:hidden;margin:auto;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:absolute;text-align:center;margin:auto;}
.ajax__calendar_container TABLE {font-size:11px;}
.ajax__calendar_header {height:20px;width:100%;}
.ajax__calendar_prev {cursor:pointer;width:15px;height:15px;float:left;background-repeat:no-repeat;background-position:50% 50%;background-image:url(../../ahImages/arrow-left.gif);}
.ajax__calendar_next {cursor:pointer;width:15px;height:15px;float:right;background-repeat:no-repeat;background-position:50% 50%;background-image:url(../../ahImages/arrow-right.gif);}
.ajax__calendar_title {cursor:pointer;font-weight:bold;}
.ajax__calendar_footer {height:15px;}
.ajax__calendar_today {cursor:pointer;padding-top:3px;}
.ajax__calendar_dayname {height:17px;width:17px;text-align:right;padding:0 2px;}
.ajax__calendar_day {height:17px;width:18px;text-align:right;padding:0 2px;cursor:pointer;}
.ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.ajax__calendar .ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.ajax__calendar .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_day {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_month {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_year {border:1px solid #ffffff;}

.ajax__calendar .ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.ajax__calendar .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.ajax__calendar .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}

/* Help stuff */

.bodHelp 
{
	background-image: url(Images/Help/bg.gif);
    margin-left: 15px;
}

.titleImage 
{
	background-image: url(Images/Help/title.gif);
	background-repeat:no-repeat;
	width:395px;
	height:43px;
}

#HelpMenu_navcontainer { 
margin-left: 0px; 
}

#HelpMenu_navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
font-family: verdana, arial, Helvetica, sans-serif;
font-size: 8pt;
}

#HelpMenu_navcontainer li { margin: 0 0 1px 0; }

#HelpMenu_navcontainer div
{
display: block;
padding: 5px 5px 5px 10px;
width: 175px;
color: #FFFFFF;
background-color: #254974;
text-decoration: none;
}

#HelpMenu_navcontainer div:hover
{
color: #ffffff;
background-color: #678CB8;
text-decoration: none;
}

#HelpMenu_navcontainer ul ul li { margin: 0 0 1px 0; }

#HelpMenu_navcontainer ul ul div
{
display: block;
padding: 3px 5px 3px 10px;
width: 155px;
color: #fff;
background-color: #4A719C;
text-decoration: none;
font-size: 7.5pt;
margin-left: 2em;
}

#HelpMenu_navcontainer ul ul div:hover
{
color: #DADADA;
background-color: #678CB8;
text-decoration: none;
font-size: 7.5pt;
}

#HelpMenu_navcontainer .currentpage
{
	background-color: #A6BEDC;
}

.homeBtn {
color: #FFFFFF;
font-family: verdana, arial, Helvetica, sans-serif;
font-size: 8pt;
background-color: #254974;
border-top: 1px Solid #B5CDE4;
border-left: 1px Solid #B5CDE4;
border-bottom: 1px Solid #678CB8;
border-right: 1px Solid #678CB8;
text-decoration: none;
padding: 2 8 3 10;
}

.link {
	color: #FFFFFF;
	padding: 5px 5px 5px 5px;
	background-color: #254974;
	font-family: verdana, arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	float: left;
}

.floatright {
float: right;
margin: 0 0 10px 10px;
}

.floatleft {
	float: left;
	margin: 10px 50px 0 0;
}
.groupHeader { background-color:#DDDDDD; background-position:top left; border:solid 1px #CCCCCC; color:Black; margin-bottom:10px; padding:2px 0px 2px 20px; font-size: 110%; font-weight: bold; }

.outerbox
{
    margin: 1px 0 1px 0;
    display:inline-block;
    /*height:18px; line-height:18px;*/

    padding-right:0px;
}

.collapsePanelHeader2 td .outerbox {padding-left:0px; padding-right:0px; margin-right:4px;}

.ChartSelectionPanelClose {
    background:url(../../ahImages/TinyRemove.gif) no-repeat center center;
}

.innerbutton, 
.innerbutton_newReport, 
.innerbutton_newDashboard, 
.innerbutton_newFolder, 
.innerbutton_Delete, 
.innerbutton_Copy, 
.innerbutton_Move,
.innerbutton_Search,
.innerbutton_PreviewReport,
.innerbutton_ReportStyle,
.innerbutton_SaveAsReport,
.innerbutton_SaveReport,
.innerbutton_SelectData,
.innerbutton_Up
{
background:url("Images/oBack.gif") repeat scroll center bottom transparent;
border:medium none;
color:#000000;
cursor:pointer;
font-size:8pt; 
height:20px;
margin: -1px 0 -1px 0;
outline:0 none;
margin-right:0;
    border-right:1px solid #B3C2CF;
    border-left:1px solid #B3C2CF;
}

.innerbutton:hover
{
    color:#64696e;
}

.innerbutton:disabled
{
    color:#999999;
}

.innerbutton:disabled hover
{
    color:#999999;
}
.dropdown 
{ 
width: 13px;
background: url(Images/dropBtn.png) no-repeat scroll right bottom transparent; 
border:medium none;
color:#000;
cursor:pointer;
font-size:8pt; 
height:20px;
margin: -1px 0 -1px -3px;
outline:0 none;
/*margin-right:-2px;*/
border-right: 1px solid #B3C2CF;
} 

.rightborder 
{
    border-right:solid 1px #bbb;
}

.pushed 
{
  background: url(Images/oBack.gif);
  color: #ff8800;
}

.pushed:hover, .pushed:visited, .pushed:active, .pushed:link  
{
  color: #ff8800;
}

.iconAction{cursor: pointer; cursor:hand;}

.tdArrowL 
{
    background-image:url(Images/LeftArrow.gif);
    background-repeat:no-repeat;
    cursor:hand;
    visibility:hidden;
}

.tdArrowR 
{
    background-image:url(Images/RightArrow.gif);
    background-repeat:no-repeat;
    cursor:hand; 
    visibility:hidden;
}

.hiPopupMenu {
	position:relative;
	visibility:hidden;
	background-color:#f7fafd;
	border: 2px Solid #CCCCCC;
	padding: 10px;
	z-index:40;
	font: normal 12px Arial, Helvetica, sans-serif;
	text-align:left;
	width:500px;
	color:#333333;
}

.clsTitle 
{
    background-color:#fff;
    font: normal 12px Verdana;
    height:20px;
    border-bottom: solid 1px #dddddd;
    text-align:center;
}

.hlpTitle 
{
    margin-top:4px;
}

.hlp {
	background-color:#FFFAEE;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	margin-top:60px;
	padding:10px;
}

.dragHandle {
	width:8px;
	height:16px;
	padding:0;
	margin:0;
    background-image: url(Images/dragHandle.gif);
	cursor:move;
}

.resizeHandle {
	width:6px;
	height:200px;
	padding:0;
	margin:0;
    background:#EEEEEE url(Images/resizeHandle.gif) no-repeat center;
	cursor:col-resize;
}

.divColumnTreeView { border:solid 1px #DDDDDD; margin-right:10px; overflow:auto; }
.divColumnTreeView td { padding: 0; }

.menuArrow 
{
    margin-left: 3px;
}

/* ****************** New Classes 2010  *******************  */

.popupMenu a, .AddpopupMenu a 
{
    display:block; min-width:100px; position:relative;
	text-decoration: none;
	line-height: 17px;
}

.popupMenu a:hover, .AddpopupMenu a:hover { background-color:#c2d7ec; }
.popupMenu div:hover, .AddpopupMenu div:hover {
	background-color: #c2d7ec;
}
.ifrmPopupMenu a {
	text-decoration: none;
	line-height: 17px;
}

.ifrmPopupMenu div:hover {
	background-color: #c2d7ec;
}

#srch_SearchTitle {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #666666;
}

/*#imgbQMobile {
	padding-left: 20px;
}*/

#imgbQSave {
	padding-left: 20px;
}

#imgbQPreview {
	padding-left: 10px;
}

#divTFile TD, #divInsert TD, #divTSettings TD {
	text-align: center;
	font-size: 10px;
	vertical-align: top;
	width:65px;
	white-space: nowrap;
}

.current_menutitle {
	font: bold 11px Helvetica, sans-serif;
	text-decoration: none;
}

#lblNoColumn {
	background: transparent;
}

/*ReportWizard Left Content Menu*/
.rwImageButton 
{
	cursor: hand; /* Internet Exporer only. */
	cursor: pointer; /* All other browsers. */
}

.rwImageButtonSelected
{
    background-color:#FFEE99;
}

.rwCMContentCell {
	border: solid 3px white;
    padding: 0px; margin:0px;
}
.rwCMContentCellSelected
{
	border: solid 3px #ffee99;
    padding: 0px; margin:0px;
}

/*
.rwCMDataStruct {
	background-color:#dddddd; 
}
#UPDataTree {
	text-align:center;
}
*/

/*#imgbQMobile {
	padding-left: 30px;
}*/

#imgbQSave {
	padding-left: 20px;
}

#imgbQPreview {
	padding-left: 10px;
}

/*#divTFile TD, #divTInsert TD, #divTSettings TD {
	text-align: center;
	font-size: 10px;
	vertical-align: top;
	width:65px;
	padding-top:3px;
	white-space: nowrap;
}

#divTFile TD:hover, #divTInsert TD:hover, #divTSettings TD:hover 
{
    background-color: #ffee99;
}*/
.tdSelectChartType
{
	text-align: center;
	font-size: 10px;
	vertical-align: top;
	width:65px;
	padding-top:3px;
	/*white-space: nowrap;*/
}

.tdSelectChartType:hover
{
    background-color: #ffee99;
}
.selectChartTypeAnchor 
{ 
    padding: 5px 5px 0px 5px; 
    font-size:110%; 
    color: #333333;
}
.selectChartTypeAnchor:hover 
{ 
    background-color:#ffee99; 
    text-decoration:none; 
}
.divSelectChartTypes 
{
    padding: 3px 0 3px 0;
}

.pagerBtn a{
  width: 21px;
  height: 18px;
  margin-right: 4px;
  display:inline-block;
  }
.pagerBtn a.frst{
  background: url(Images/btn_first.gif) no-repeat;
  }
.pagerBtn a.frst:hover{
  background: url(Images/btn_first_act.gif) no-repeat;
  } 
.pagerBtn a.last{
  background: url(Images/btn_last.gif) no-repeat;
  } 
.pagerBtn a.last:hover{
  background: url(Images/btn_last_act.gif) no-repeat;
  }   
.pagerBtn a.prev{
  background: url(Images/btn_prev.gif) no-repeat;
  }
.pagerBtn a.prev:hover{
  background: url(Images/btn_prev_act.gif) no-repeat;
  } 
.pagerBtn a.next{
  background: url(Images/btn_next.gif) no-repeat;
  } 
.pagerBtn a.next:hover{
  background: url(Images/btn_next_act.gif) no-repeat;
  }   
.cntntContainer td div 
{
    margin-bottom:5px;
}

#tbReportContents TD 
{
    vertical-align:top;
}

.SelectedTreeNode
{
	background-color: #ffffcc;
}
.inactiveInput 
{
    display:-moz-inline-box;display:inline-block;
    border-style: inset;
    border-width:1px;
    height: 20px;
}

.ssIn 
{
    border:none;
}

.ssOut 
{
    border:inset 1px #CCCCCC;
}

/*For Session Parameters Pages*/
.txtDisabled
{
    background-color:#E1E1E1;
}
.txtEnabled
{
    background-color:White;
}
a.logo img, a.logo:link img, a.logo:visited img, a.logo:hover img, a.logo:active img { border:0 !important; }


span.listMore {
    background: url("Images/oBack.gif") repeat scroll center bottom rgba(0, 0, 0, 0);
      border-style: none solid;
    border-width: medium 1px;
    color: #000000;
    cursor: pointer;
    font-size: 8pt;
    height: 20px;
    margin: -1px 0;
    outline: 0 none;
    border-right:1px solid #B3C2CF;
    border-left:1px solid #B3C2CF;
}
span.listMore input.btnDropdown {
    /*background-image: url("Images/arrowStep.png");
    background-repeat: no-repeat;*/
    background: url("Images/arrowStepBlue.png") no-repeat scroll 96% 6px;
    padding-right: 1em;
    border: none;
}
span.listMore input.dropdown[type="submit"] {
    display: none;
}

.ReportTitle {
    padding-left: 18px;
}

a img[src*="calendar.gif"]{
    border: none;
    position: relative;
    top: 0.5em;
}
