
/* Changes the background for the tabs to be transparent so that the body (or the container that the tabs is in) background is displayed.*/
/* Targets the tabs UL container */
.yui-navset .yui-nav {
	background-color: Transparent;
	margin-bottom: 5px;
}

/* Targets the tabs LI items */
.yui-navset .yui-nav li {
    background-color: Transparent !important;
	padding: 6px 14px;
    border-radius: 0px;
	border-color: Transparent !important;
	border-width: 0px 0px 2px 0px;
	color: #042238;	
	margin-left: 0px;
	margin-right: 0px;
}
/* Targets the SELECTED LI item */
.yui-navset .yui-nav li.selected, .yui-navset .yui-nav li.selected:hover {
    background-color: Transparent !important;
	padding: 6px 14px;
    border-radius: 0px;
	border-color: Transparent !important;
	border-width: 0px 0px 2px 0px;
	color: #042238;
	margin-left: 0px;
	margin-right: 0px;

}
/* Targets the tabs LI a tag */
.yui-navset .yui-nav li a {
	color: #485462;
	padding: 0px 4px;
	font-weight: normal;

}
/* Targets the SELECTED LI a tag */
.yui-navset .yui-nav .selected a {
    border-bottom-width: 0;
	padding: 0px 4px;
	
}
/* Creates a transparent block element beneath the LI so that the selected LI has the same amount of negative space */
.yui-navset .yui-nav li::after {
	display: block;
	margin-top: 4px;
	height: 4px;
	width: 100%;
	content: "";
	background-color: Transparent;
	border-radius: 2px;
	}
/* Creates a solid block element beneath the LI so that the selected LI has the same amount of negative space */	
.yui-navset .yui-nav li.selected::after {
	display: block;
	margin-top: 4px;
	height: 4px;
	width: 100%;
	content: "";
	background-color: #485462;
	border-radius: 2px; /* Change to 0px if you want sharp corders on the lines */
}
/* Changes the background for the content to be transparent so that the body (or the container that the tabs is in) background is displayed.*/
/* Forces tab content container to hide scrolling.  This causes body or tabs container to overflow instead of content containter*/	
/* Positions content relative to tabs division.*/
/* Forces a scrollbar for content greater than 500px */
.yui-navset div.yui-content {
	position: relative;
	top: 0px;
	left: 0px;
    background-color: Transparent !important;
	max-height: 500px;
}

/* Removes the inherent 20px spacing at top of content element (the inherent spacing causes a vertical scrollbar) then provides 20px of padding.*/
.yui-navset div.yui-content > div {
	box-sizing: border-box;
	position: relative;
	left: 0px;
	top: -20px;
	padding-top: 20px;
}