/* Table*/

.alternativeRowStyle td{
	background-color : #ECF0F1!important;
	border-top: 1px solid #e4dddd;
	border-bottom: 1px solid #e4dddd;
}

.rdAgCrossTabDataTable, th.rdAgDataTable td, table.rdAgDataTable th, table.rdAgDataTable > th a, table.rdOgOlapTable th, tr.rdAgHeaderRow th, table.rdDgPanel th, rdAgQbColor1, th, .rdThemeDataTableHeader a, .rdThemeDataTableHeader td{
	background-color: #86cac3!important;
	color : #000!important;
	font-weight : bold!important;
	font-size : 12px!important;
}
.table1{
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}	
.tableheader{
	color: #000 /*TableColumnHeaderFontColor*/;
    background-color: #86cac3!important /*TableColumnHeaderBackgroundColor*/;
    padding: 4px 10px 4px 10px;
    font-size: 100%;
	border-color : #86cac3!important;
}
.tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table{

	border : solid thin LightGray !important;
	border-radius : 5px !important;
	resize : both;
	width : 100%;
	overflow : auto;
	padding: 3px 5px 3px 5px;
}
/* Border */

.gridStyle{
	border : solid thin LightGray;
	border-radius : 5px;
	resize : both;
	overflow : auto;
	padding: 3px 5px 3px 5px;
}

/*Input button  */

input[type="button"], input[type="text"]{
	font-size : 14px!important;
	padding : 4px 8px!important;
}
select{
		padding : 5px 10px!important;
		font-size : 14px!important;
}
.inputLayout{
	padding : 5px 10px!important;
	font-size : 14px!important;
}
button{
	padding : 5px 10px!important;
	font-size : 14px!important;
} 
.datepickermargin{
	margin-top : 9px;
}

/*Filter Label*/

.labelStyle{
	font-size : 14px;
	font-weight : bold;
}

/* Background */
.bgcolor{
	background-color : #FFF;
}

/* Grid Style */
.grid{
	width : 100%;
}
.grid99{
	width : 99%;
}

/*Chart canvas*/
.charts{
	width : 100%;
	border : solid 1px DarkGray;
	border-radius : 5px;
}

/*Text alignment*/

.rightFloat{
	float : right;
}
.rightText{
	text-align : right;
}
.leftFloat{
	float : left;
}
.leftText{
	text-align : left;
}
#leftText-TH{
	text-align : left;
}
#leftText1-TH{
	text-align : left;
}
.repName{
	font-size : 20px;
	margin-left : 15px;
}
.repSubName{
	font-size : 18px;
	margin-left : 15px;
}
.tblName {
    font-size: 16px;
}
.font14{
	font-size : 14px;
}
.font16{
	font-size : 16px;
}
.font12{
	font-size : 12px;
}
.font10{
	font-size : 10px;
}
.summarystyle{
	font-weight: bold;
	color : Black;
}
.padding5{
	padding : 5px;
}
.bold{
	font-weight : bold;
}
.estimated{
	margin-bottom : -32px;
}
.centerText{
	text-align : center;
}
.uline{
	text-decoration : underline !important;
}
.fontRed{
	color : Red;
}
.fontGreen{
	color : Green;
}
.clink{
	color : #00AAF0;
}
.fnt{
	font-family: Montserrat,"Helvetica Neue",Arial,sans-serif !important;
}

/* Color */
.blue{
	color : Blue !important;
}
.orange{
	background-color : Orange !important;
}
.yellow{
	background-color : Yellow !important;
}
.blue{
	background-color : #00b0f0 !important;
}
.darkred{
	background-color : #8B0000 !important;
}
.red{
	background-color : #f91f3d !important;
}
.purple{
	background-color : #800080 !important;
}
.pink{
	background-color : #FFC0CB !important;
}
.gray{
	background-color : #808080 !important;
}
.green{
	background-color : #008000 !important;
}
.lightred{
	background-color : #F99898 !important;
}
.lightgreen{
	background-color : #9CFCA9 !important;
}
.lightgray{
	background-color : #f1f1f1;
}

/*PopupImage*/
.marlft20{
	margin-left : 20px;
}
.marlft80{
	margin-left : 80px;
}
.ppcenter{
	margin-top : 120px;
}
.marlftn20{
	margin-left: -20px;
}



/*Mailer tab*/
.mailerCanvas{
	width : 350px;
	height : 415px;
	border: solid 1px DarkGray;
	border-radius: 5px;
 	
}
.mailerCanvas2{
	width : 350px;
	height : 415px;
	
	border-radius: 5px;
 	
}
.lblTitle{
	margin-top : 20px;
	font-size : 20px;
}
.ReportName{
	font-size : 18px;
}
.mailerTab{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 330px;
	margin-top : 10px;
	float : left;
	margin-left : 360px;
	margin-top : -280px;
}
.mailerTab1{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 330px;
	margin-top : 10px;
	float : left;
	margin-left : 360px;
	margin-top : -300px;
}
.mailerTab2{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 330px;
	margin-top : 10px;
	float : left;
	margin-left : 370px;
	margin-top : -320px;
}
.numberFormat{
	text-align  : right;
	float : right;
}
.chartCan{
	margin-left : 10px;
	/*margin-top : -130px;*/
	float : left;
	height : 415px;
}
.summary{
	width : 330px;
	border : solid 1px DarkGray;
	border-radius: 5px;
	float : left;
	margin-left: 370px;
	position : absolute;
}
.chartCan2{
	float : left;
	
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 350px;
	height : 415px;
}
.chartCan3{
	float : left;
	margin-left : 715px;
	position : absolute;
	
	border-radius : 5px;
	width : 350px;
	height : 415px;
}
.mailerCanvas2{
	
	border: solid 1px DarkGray;
	border-radius: 5px;
 	width : 350px;
	
}
.tabTitle{
	font-size : 16px;
	text-align : center;
}
.inp{
	float : right;
}
/*Comparative mailer*/

.combineChart{
	height : 370px;
	width : 400px;
	border : solid 1px DarkGray;
	border-radius : 5px;
}
.comparative{
	height : 350px;
	width : 500px;
	margin-left : 510px;
	/*margin-top : -670px;*/
}
.comparative1{
	height : 390px;
	width : 500px;
	border : solid 1px DarkGrey;
	border-radius : 5px;
}
.combineTable{
 	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 500px;
	margin-left : 510px;
	margin-top : -390px;
}
.combineTableNot{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 500px;
	margin-top : 10px;
}
.secTab{
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-top : 10px;
	width : 500px;
}
.seg{
	float : right;
}
.shw{
	margin-top : -55px;
}
.lbl{
	margin-bottom : 8px;
	display : inline-block;
}
.pad15{
	padding: 15px;
}

/*List*/
.removeDisc{
	list-style-type : none;
}

.menu-image{
	background-color : #61586311;
	width : 50px;
	height : 45px;
	padding-left : 5px;
	padding-top: 5px;
	border-radius : 5px;
}
.bx-shadow{
	box-shadow: 0 6px 14px -4px;
}
#more_Row6,#more_Row7, #more_Row8, #more_Row9, #more_Row10, #more_Row11, #more_Row12, #more_Row13, #more_Row14, #more_Row15{
	display: none;
}
#more1_Row6,#more1_Row7, #more1_Row8, #more1_Row9, #more1_Row10, #more1_Row11, #more1_Row12, #more1_Row13, #more1_Row14, #more1_Row15{
	display: none;
}
#more2_Row6,#more2_Row7, #more2_Row8, #more2_Row9, #more2_Row10, #more2_Row11, #more2_Row12, #more2_Row13, #more2_Row14, #more2_Row15{
	display: none;
}
#more3_Row6,#more3_Row7, #more3_Row8, #more3_Row9, #more3_Row10, #more3_Row11, #more3_Row12, #more3_Row13, #more3_Row14, #more3_Row15{
	display: none;
}
#more4_Row6,#more4_Row7, #more4_Row8, #more4_Row9, #more4_Row10, #more4_Row11, #more4_Row12, #more4_Row13, #more4_Row14, #more4_Row15{
	display: none;
}
#more5_Row6,#more5_Row7, #more5_Row8, #more5_Row9, #more5_Row10{
	display: none;
}