BODY
{
	width:1100px;
	max-width:1100px;
	font-family: Helvetica !important;
	font-size:18px;
}

table{
	font-family: Helvetica !important;
	font-size:18px;
	}

.underlined{
	text-decoration:underline;
}

.past-present-ops-label{
	font-family:Helvetica !important;
	font-size:18px !important;
	font-weight:700 !important;
}

.report-font{
	font-family: Helvetica !important;
	font-size:18px;
}

.header-div {
        color: #258;
        margin-bottom: 1.0em;
        text-transform: uppercase;
        width: 100%;
        padding: 1.0em;
		border: 1px dotted lightgrey;
		border-radius: 8px;
		min-height:1in;
}

.signature-line{
	border-bottom: 1px solid black;
	width:auto;
	overflow:hidden;
}

.ppoBorderRow{
	border-bottom: 1px dotted rgb(204, 204, 204) !important;
	height:45px;
}

.signature-label{
	float:left;
	width:49%;	
}

.signature-cell{
	height:3.0em;
	width:50%;
	display:inline;
}

.width-100-pct{
	width:100%;
}

.signature-wrapper{
	width:100%;
	border-bottom: 1px solid black;
	display:inline-block;
}

.display-table{
	display:table;
	width:100%;
	height:50px;
	position:relative;
}
.abs-bottom{
	position:absolute; 
	bottom:0;
}


.sub-report-row {
	padding-left:35px 6px !important;
	width:100%;
	max-width:800px;
}
div.question-number{
	text-align:right;
	display:inline;
	margin-right:4px;
}

div.question-text{
	width: 80%;
	display:inline;
}

div.question-answer-radio{
	width:14%;
	text-align:right;
	display:inline;
}

.vert-align-top {
	vertical-align:top;
}

.radio-button-image {
	margin-bottom: -3px;
	display:inline;
	height: 1.0em;
	width: 1.0em;
}

.padding-right-1em {
	padding-right: 1.0em;
}

.display-inline {
	display:inline;
}

.section-1-question{
	width: 50em;
	color: #666666; /*TableDataFontColor*/ 
}


.header-left {
	width:33%;
	text-align:left;
	display:table-cell;
	float:left;
	height:54px;
}
.header-center {
	width:34%;
	text-align: center;
	float: left;
	display:table-cell;
	height:25px;
	position:absolute;
	bottom:12px;
	left:34%;
}
.header-right {
	width:31%;
	text-align: right;
	float:left;
	display: table-cell;
	height:25px;
	position:absolute;
	bottom:4px;
	left:67%;
}



.half-em-bottom-margin{
	margin-bottom: 0.5em;
}

.section-header-text {
	font-weight: bold;
	color: #2d6bce;
}

.question-text{
	margin-right:1.5em;
	display:inline;
}

div.display-index{
	text-align:right;
	display: inline;
	font-weight:bold;
	margin-right:6px;
	max-width:50px;
}

div.display-question{
	font-weight: normal !important;
	display:inline;
	margin-right:6px;
}



.sub-report-wrapper{
	border: 1px dotted lightgrey;
	border-radius: 8px;
	margin: 6px 0 6px 6px;
	padding: 10px 0 10px 10px;
}

.padding-right-0{
	padding-right: 0 !important;
}

.report-title{
	font-size: 20pt;
	font-weight: bold;
}

div.display-answer-text{
	font-weight: bold;
	display:inline;
	clear:both;
	float:left;
}

div.display-answer-yesno{
	font-weight: bold;
	display:inline;
}

.yes-no-alignment-fix{
	margin-right: 12px;
}

.sub-question {
	padding-left:3.0em;
}

.question-answer {
	display:inline;	
}

.acknowledgement{
	border: solid black 2px;
	padding: 10px;
	margin-top: 1.0em;
}

.operations-answer {
	display:inline;
	font-weight: bold;
	padding-right: 2.0em;
}

.bg-white {
	background-color: White !important;
}

.border-none{
	border-style: none !important;
	border-spacing:0 !important;
}

.sub-question-data-table {
	border-style: none !important;
	border-spacing:0 !important;		
	background-color: White !important;	
}


/* override logi's style def  */
.rdThemeDataTable{
	background-color: White !important;
}

.text-align-right {
	text-align:right;
}

.no-margin {
	margin: 0 !important;
}

.clear-both {
	clear:both;
}
.width-zero {
	max-width: 0% !important;
}
