/*UX Team Updates START */

body {
	margin: 0px;
}

.ThemeHeaderLarger {
  display: block;
  text-align: center;
  font-weight: bold;
}

table.rdThemePaging, .tblCenter, .rdThemeDataTable{
    margin-left: auto;
    margin-right: auto;
}
.imageCollapseExpand {
    float: right;   
}
#Footer{
  display: block;
  text-align: center;
}

.paging{
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 5px;
}

.pageTitleRight{
	background-color: #B4DFEF !important;
	color: #454545;
	text-align: left;
	padding-right: 20px;
	height:70px;
	font-size: 10pt;
    font-weight: bold;
}

.pageTitleLeft{
	background-color: #B4DFEF !important;
	color: #454545;
	font-size: 10pt;
    font-weight:bold;
	padding-left: 20px;
	padding-bottom:5px;
	height:70px;
}

.bold
{
    font-weight: bold;
}

.red
{
	color : Red;
}

.green
{
	color : Green;
}

.AlignLeft
{
	text-align: Left;
	font-family: Verdana;
	font-size: 8pt;
}

.AlignCenter
{
	text-align: center;
	font-family: Verdana;
	font-size: 8pt;

}

.AlignRight
{
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
}

.imageAlignLeft
{
	float: left;
	clear: both;
}

.imageAlignRight
{
	float: right;
	clear: both;
}

.imageAlignCenter
{
	display: block;
	float: none;	
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.BlackTextYellowBackground
{
            color: Black;
            background-color: Yellow !important;
}

.WhiteTextGreenBackground
{
            color: White;
            background-color: #65CB91 !important;
}

#Report tr td.paging[nowrap="nowrap"]+td {
    width:20px;    
}

#rdDashboardPanels .rdDashboard,#rdDashboardMenu .rdDashboardMenu{
   background: #FFF;
}
/*UX Team Updates END*/
