<%@ Page Language="VB" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<% Response.Expires = -2000 %>
<% if (Request("loginname").ToString = "admin") then
	Session("rdUsername") = "Admin"
   else
	Session("rdUsername") = Request("loginname").ToString 
   end if
%>
<% Response.Redirect("Gateway.aspx")
%>

