<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="HelpMenu.ascx.vb" Inherits="LogiAdHoc.HelpMenu" %>
<div id="navcontainer" runat="server" />

<script type="text/javascript">
    function setsource(param) {
        if (param.attributes['navigateurl']) {
            document.getElementById('frm').src = param.attributes['navigateurl'].value;
            var element = document.getElementsByClassName('currentpage')[0];
            if (element && element != param) {
                element.className=''
                //element.classList.remove('currentpage');
                
            }
            param.className = 'currentpage'
          //  param.classList.add('currentpage');
            
        }
    };
</script>

