<%@ Page Language="vb" AutoEventWireup="false" Codebehind="rdPage.aspx.vb" Trace="False"%>
<%
Dim rb as new rdServer.ResponseBuilder
Call rb.BuildResponse()
%>
<head id="Head1" runat="server" visible=false/>