<%@ Page Language="vb" %>
<%

Response.Cache.SetCacheability(HttpCacheability.NoCache)

if isnothing(Session(Request("rdKey"))) then 
        Response.Write("This debug page has expired and was removed to conserve resources.")
else
	Response.Write (Session(Request("rdKey")))
end if
Response.End
%>
<head id="head1" runat="server" visible="false" />