/************************************************ 
FORMAT LOGI THEME FOR ALL ELEMENTS TO USE BOOTSTRAP COLOR, BACKGROUND-COLOR AND BORDER COLORS.  SSM is not included
*************************************************/
h1, h2, h3, h4, h5, h6 {
    text-align: left;
}
/*FONT COLORS*/
a:hover.ThemeLinkButton,
a:hover.ThemeLinkButtonSmall,
a:link.ThemeLinkButton,
a:link.ThemeLinkButtonSmall,
a:visited.ThemeLinkButton,
a:visited.ThemeLinkButtonSmall,
a:active.ThemeLinkButton,
a:active.ThemeLinkButtonSmall,
.rdThemePagingCurrent,
.rdquicktip-content,
.rdCcTextNormal,
.rdCcTextNormal table,
.rdCcTextNormal td,
.rdCcTextNormal span,
.rdquicktip-content .rdquicktip-table,
.rdCcTextNormal .rdPopupContent span,
.ThemeMasterReportTopFont,
.ThemeMasterReportTopFrame a,
.ThemeMasterReportFooterFrame {
    color: #FFFFFF
}
.ThemeLinkButton span,
.ThemeLinkButtonSmall span,
.ThemeContainerShadedAndBordered a,
.highcharts-tooltip .rdquicktip-table,
.rdquicktip-content p {
    color: #ffffff !important
}
table,
.rdDashboard,
.rdDashboard table,
.ThemeContainerShadedAndBordered,
.rdAg th A:link,
.rdThemeDataTableCell,
.rdThemeDataTableMainHeader a,
.rdThemeDataTableMainHeader,
.rdThemeDataTableHeader,
.rdThemeDataTableHeader td,
.rdThemeDataTableHeader a,
.rdThemeDataTableHeaderRow th,
.rdThemeDataTableSummaryRow td,
.rdThemeDataTableGroupHeaderRow0 td,
table.rdAgDataTable tr.rdAgGroup0HeaderRow td,
.rdThemeDataTableGroupHeaderRow1 td,
table.rdAgDataTable tr.rdAgGroup1HeaderRow td,
.rdThemeDataTableGroupHeaderRow2 td,
table.rdAgDataTable tr.rdAgGroup2HeaderRow td,
.rdThemeDataTableGroupHeaderRow3 td,
table.rdAgDataTable tr.rdAgGroup3HeaderRow td,
.rdThemeDataTableGroupHeaderRow4 td,
table.rdAgDataTable tr.rdAgGroup4HeaderRow td,
td.rdThemeDataTableMoreInfoRow,
#rowChart table,
#rowsAnalysisGrid a,
#rowsAnalysisGrid a:hover,
tr.rdAgHeaderRow td,
table#dtAnalysisGrid,
.rdAg .rdThemeDataTableHeader td,
table.rdThemeSubDataTable th,
.rdThemeSubDataTable th,
.rdThemeSubDataTableGroupHeaderRow td,
.rdThemeSubDataTableGroupSummaryRow td,
.rdThemeSubDataTableDataTableCell,
.rdThemeSubDataTableSummaryRow td,
.rdDgCaptionRow,
.rdDgCaptionRow td,
th.rdOgPositionCellXAxis,
td.rdOgPositionCellXAxis,
td.rdOgPositionCellXAxis td,
th.rdOgPositionCellYAxis,
th.rdOgSortColumn,
th.rdCgPositionCellXAxis,
td.rdCgPositionCellXAxis,
td.rdCgPositionCellXAxis td,
th.rdCgPositionCellYAxis,
.rdOgContentHeading,
.rdOgSortColumn span,
.rdDashboardParams,
td.rdDashboardParams,
.rdDashboardParams table,
tr.rdDashboardParams td,
.panel-default {
    color: #333333
}
.ThemeLinkButton,
.ThemeLinkButtonSmall,
.rdAgCommand,
.rdOgCommand,
.rdAcCommand,
span.rdCgCommand,
.rdDashboardCommand,
input[type="button"],
.rdThemeDataTableHeaderAlternate a,
.rdPreviewHoverState,
.rdPreviewHoverState:hover,
.ThemeLinkButton:hover,
.ThemeLinkButtonSmall:hover,
span:hover.rdAgCommand,
span:hover.rdAcCommand,
span:hover.rdOgCommand,
span:hover.rdCgCommand,
span:hover.rdDashboardCommand,
#rowChangeTab span:hover.rdDashboardCommand,
span:hover.rdPopupPanelCommand,
.rdAgUnselectedTab:hover,
.rdOgUnselectedTab:hover,
input[type="button"]:hover,
.PreviewSelectedFont,
rdOgPositionLabelYAxis,
#rowQueryBuilder table,
#rowPaging table,
#rowCrosstab table,
#rowAggr table,
#rowGroup table,
#rowFilter table,
#rowSortOrder table,
#rowLayout table,
#rowCalc table,
.rdAgCrossTabDataTable,
th.rdAgDataTable td,
table.rdAgDataTable th,
table.rdAgDataTable >th a,
table.rdOgOlapTable th,
tr.rdAgHeaderRow th,
table.rdDgPanel th,
rdAgQbColor1,
table.rdAgDataTable >th span,
th.rdAgDataTable a,
.rdAcCommandIdle,
.rdAcCommandLeft,
.rdAcCommandMiddle,
.rdAcCommandRight,
.rdAgCommandIdle,
.rdAgCommandLeft,
.rdAgCommandMiddle,
.rdAgCommandRight,
.rdAcCommandHighlight,
.rdAgCommandHighlight,
.rdDgPanelLine .rdDgSelected a:link .rdCgPanelLine .rdCgSelected a:link,
.rdOgOlapTable tr:hover td,
.rdDgOlapTable tr:hover td,
.rdThemeDataTableHeader >span {
    color: #333 !important;
}
.rdAgUnselectedTab,
.rdOgUnselectedTab,
.rdAgSelectedTab,
.rdOgSelectedTab,
.rdAgUnselectedTab td,
.rdOgUnselectedTab td,
input,
input.rdThemeInput,
textarea,
textarea.rdThemeInput,
select.rdThemeInput,
select.rdDataCalendarDropdown,
.rd-checkboxlist-dropdown,
.rd-checkboxlist-popup,
.rd-checkboxlist ul li span,
.yuimenuitem-hassubmenu-selected >a span {
    color: #555;
}
.rdAgTabHeading a,
.rdAgUnselectedTabOn:hover,
.rdAgUnselectedTab:hover,
.rdOgUnselectedTabOn:hover,
.rdOgUnselectedTab:hover,
.yui-navset .yui-nav li.selected a,
.first-of-type li a:hover {
    color: #555 !important
}
.ThemeTextPositive,
.rdCcTextPositive,
.rdCcTextNormal .rdPopupContent .rdCcTextPositive span {
    color: #3C763D
}
.ThemeTextNegative,
.ThemeErrorText,
.rdAgError,
.rdOgError,
.rdCcTextNegative,
.rdCcTextNormal .rdPopupContent .rdCcTextNegative span {
    color: #A94442
}
.ThemeContainerShaded,
.rdAg #lblExport,
.rdAg #lblExportCrosstab,
.rdAgSelectedTab span,
.rdAgSelectedTab,
.rdOgSelectedTab,
.rdOgSelectedTab span,
.rdThemeWaitPanel .rdThemeWaitCaption {
    color: #000000
}
.yuimenuitemlabel {
    color: #000000 !important
}
.rdAgCommandHightlight {
    color: #EEE !important;
}
.rdAgPanel,
.rdOgPanel,
.rdDgPanel,
.rdAgContentHeadingRow,
.rdOgContentHeading,
.rdAgContentHeadingItem .rdAgContentHeading,
.rdAgContentHeadingItem td.rdAgPanelHeading,
.rdAgMessage,
.rdThemeSubDataTableMoreInfoRow,
.rdCgFilterTable td,
.rdDg #popupFilter td,
.rdDg #popupFilter a,
td.rdDgPanel table,
.rdDgContentHeadingRow,
td.rdCgPanel table,
.rdCgContentHeadingRow,
#rowExport #lblExport,
.rdDgContentHeading,
.rdCgContentHeading,
.rdOgContentHeading,
#lblOgDrillthroughTitle,
.rdDashboardTitle table,
.rdDashboardColumn .rdDashboardTitleCaption,
#rdDivDashboardPanelTable .rdDashboardTitleCaption,
.ModalPreviewFont,
.rdPopupContent .rdThemeInputCaption,
.rdPopupContent >td,
.rdPopupContent <span,
.rdPopupContent <a span,
.ModalTitlePreview,
.rdPopupPanelTitle,
.rdPopupPanelTitle td,
.rdPopupPanelTitle span,
.rdPopupPanelCommand,
.rdDataCalendarDay,
.rdTimePickerCell,
.rdTimePickerAMPMCell,
#rowDimension table,
#rowMeasure table,
#rowDimension .rdOgContentHeadingRow,
#rowCalculatedMeasure table,
.rdOgContentHeadingRow,
#rowTable .rdOgContentHeadingRow,
#rowHeatmap .rdOgContentHeadingRow {
    color: #363B42
}
.rdCg #lblColumnTitle,
.rdCg #lblRowTitle,
.rdDataCalendarWeekdayCaption,
.rdDataCalendarWeekdayCaption td,
.rdPopupContent .rdDataCalendarDay,
.rdPopupContent .rdTimePickerCell,
.rdPopupContent .rdTimePickerAMPMCell,
.rdPopupContent .rdDataCalendarDay span,
.rdPopupContent .rdTimePickerCell span,
.rdPopupContent .rdTimePickerAMPMCell span,
.rdDataCalendarCaption,
.rdDataCalendarDayCaption,
.rdOgCaptionRow,
.rdOgCaptionRow td {
    color: #363b42 !important
}
.rdThemePaging a,
.rdDg A:link,
#dtFilter a {
    color: #337AB7 !important
}
.rdPreviewHyperlink,
a:hover,
input.rdThemePagingCurrent,
.rdPopupContent a:hover span.rdNewAnalysisLink {
    color: #23527C
}
.rdDashboardFilterPanel a,
.ThemeMasterReportLeftFrame {
    color: #B0BEC5
}
.rdDgPanelLine .rdDgSelected,
.rdCgPanelLine .rdCgSelected,
.rdCgPanelLine .rdCgSelected span,
#LeftFrame .ThemeLinkButtonSmall span,
#LeftFrame .ThemeLinkButtonSmall,
#LeftFrame .ThemeLinkButtonSmall:hover,
#LeftFrame .ThemeMenuItemLink span,
#LeftFrame .ThemeMenuItemLink,
.LaunchPanel,
#LeftFrame .ThemeMenuItemLink:hover {
    color: #B0BEC5 !important
}
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav a {
    background-color: transparent !important;
    color: #454d59
}
.rdPopupMenu A:visited,
.rdPopupMenu A:link {
    color: #777777 !important
}
/*END FONT COLORS*/

/*BACKGROUND COLORS*/
#rdDataTableDiv-dtFilter .rdThemeDataTableCell,
.PreviewUnselected,
#rowMenu table,
#rowsAnalysisGrid #rowMenu,
.PreviewSelectedFont,
rdOgPositionLabelYAxis,
#rowQueryBuilder table,
#rowPaging table,
#rowCrosstab table,
#rowAggr table,
#rowGroup table,
#rowFilter table,
#rowSortOrder table,
#rowLayout table,
#rowCalc table,
.rdAgCommandHightlight,
#rowsAnalysisGrid span:hover.rdAgCommandHightlight,
.rdAgContentHeadingRow,
.rdOgContentHeading,
.rdAcContentRow,
.rdRemoveTableStyle td,
.rdAg .rdRemoveTableStyle td,
.rdRemoveTableStyle th,
#colMetadata,
input#upldFile,
#rdTabs,
#rowChangeTab,
#rowChangeTab .rdDashboardCommand,
#rowsTabChange table,
#rdDashboardListTable table,
.rdDashboardParams,
td.rdDashboardParams,
.rdDashboardParams table,
tr.rdDashboardParams td,
.rdDashboardPanelContainer,
.rdPopupContent .rdTimePicker,
table.rdDataCalendar,
.rdPopupContent table.rdDataCalendar,
.rdDataCalendarDay,
.rdTimePickerCell,
.rdTimePickerAMPMCell {
    background-color: transparent
}
td.rdDgPanelLine #mclDimensions,
td.rdDgPanelLine #mclMeasures,
td.rdDgPanelLine #mclFilters,
#rowTable table.rdDgPanel table.rdDgContentHeadingRow,
#otOlapGrid th.rdOgPositionCellXAxis table,
#rowChart table.rdDgPanel tr:first-child table.rdDgContentHeadingRow,
#rowHeatmap table.rdDgPanel tr:first-child table.rdDgContentHeadingRow,
#rowsChartLists,
#rowChartYColumnContainer,
#rowChartExtraDataColumnContainer,
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav a,
.rdDgSelectedNot a,
.rdOgCaptionRow,
.rdOgCaptionRow td,
#LeftFrame .ThemeLinkButtonSmall span,
#LeftFrame .ThemeLinkButtonSmall,
#LeftFrame .ThemeMenuItemLink span,
#LeftFrame .ThemeMenuItemLink {
    background-color: transparent !important
}
.ThemePanel,
.rdThemeDataTableCell,
.rdThemeDataTableHeader,
.rdThemeDataTableHeaderAlternate,
.rdThemeDataTableSummaryRow,
td.rdThemeDataTableMoreInfoRow,
.rdAgPickDistinct,
.rdAgCaptionRow TD,
.rdAgPanel,
.rdOgPanel,
.rdDgPanel,
table.rdAgDataTable td,
tr.rdAgHeaderRow td,
.rdAcBackground,
.rdQueryColumn,
.rdThemeSubDataTable,
.rdThemeSubDataTableMoreInfoRow,
.rdThemeSubDataTableSummaryRow td,
input,
input.rdThemeInput,
textarea,
textarea.rdThemeInput,
select.rdThemeInput,
select.rdDataCalendarDropdown,
.rd-checkboxlist-dropdown,
.rd-checkboxlist-popup,
.rdAg .rdThemePaging,
input.rdThemePagingCurrent,
.rdDgCaptionRow,
.rdDgCaptionRow td,
.rdCgPanel,
td.rdDgPanel table,
.rdDgContentHeadingRow,
td.rdCgPanel table,
.rdCgContentHeadingRow,
td.rdDgPanelLine,
.rdDgPanelLine td,
.rdDgPanelLine a:link,
td.rdCgPanelLine,
.rdCgPanelLine td,
.rdCgPanelLine a:link,
th.rdOgPositionCellXAxis,
td.rdOgPositionCellXAxis,
td.rdOgPositionCellXAxis td,
th.rdOgPositionCellYAxis,
th.rdOgSortColumn,
th.rdCgPositionCellXAxis,
td.rdCgPositionCellXAxis,
td.rdCgPositionCellXAxis td,
th.rdCgPositionCellYAxis,
.yui-navset .yui-nav li.selected,
.yui-navset .yui-nav li.selected:hover,
td.rdDashboard,
#rdDashboardPanelTable,
#rdDivDashboardPanelTable,
.rdDashboardDropZone,
.rdDashboardPanel,
.rdDashboardPanel >table,
td.rdDashboardTitle,
#rdReportAuthor,
#rdReportAuthor #rdDashboardPanelTable,
#rdReportAuthor .rdDashboardDropZone,
#rdReportAuthor #rdDivDashboardPanelTable,
#PopupPanelContent .rdDashboard,
#rowsSchedule,
.sharePopup,
.rdPopupPanelTitle,
.rdPopupPanelTitle td,
.rdPopupPanelTitle span,
.rdDataCalendarWeekdayCaption,
.rdAgBackground,
.rdOgContentHeadingRow,
#rowTable .rdOgContentHeadingRow,
#rowHeatmap .rdOgContentHeadingRow,
.rdThemeEditorAccordion:hover {
    background-color: #FFFFFF;
}
.ThemeLinkButton,
.ThemeLinkButtonSmall,
.rdAgCommand,
.rdOgCommand,
.rdAcCommand,
span.rdCgCommand,
.rdDashboardCommand,
input[type="button"],
.rdThemeDataTableHeader td,
.rdAgCrossTabDataTable,
th.rdAgDataTable td,
table.rdAgDataTable th,
table.rdAgDataTable >th a,
table.rdOgOlapTable th,
tr.rdAgHeaderRow th,
table.rdDgPanel th,
rdAgQbColor1,
.rdAg .rdThemeDataTableHeader td,
.yui3-skin-sam .yui3-aclist-content,
.rdCgFilterTable td,
.rdDg #popupFilter td,
.rdDg #popupFilter a,
td.rdDgPanel .rdThemeDataTableCell,
td.rdCgPanel .rdThemeDataTableCell,
.rdOgDataCell,
.rdCgDataCell,
td .rdDgPanelLine,
td .rdDgPanelLine table,
.rdOgOlapTable tr:hover td,
.rdDgOlapTable tr:hover td,
.rdOgOlapTable tr:hover .rdOgPositionCellXAxis td,
.rdDgOlapTable tr:hover .rdOgPositionCellXAxis td,
.yui-navset div.yui-content,
.rdPopupPanel,
.rdPopupContent .rdDataCalendarDay,
.rdPopupContent .rdTimePickerCell,
.rdPopupContent .rdTimePickerAMPMCell,
.rdPopupContent .rdDataCalendarDay span,
.rdPopupContent .rdTimePickerCell span,
.rdPopupContent .rdTimePickerAMPMCell span,
.rdDataCalendarToday,
.rdPopupContent .rdDataCalendarToday,
.rdPopupContent .rdDataCalendarToday span,
.rdDataCalendarDayLabelHighlight,
.rdTimePickerTableHeaderCaption,
.rdDataCalendarCaption,
.rdTimePickerLabelHighlight,
.rdPopupContent .rdDataCalendarDayLabelHighlight span,
.rdPopupContent .rdTimePickerLabelHighlight span {
    background-color: #fff !important;
}
.rdDataCalendar > tbody > tr:not(:nth-child(-n+2)) > td:hover, 
.rdDataCalendar > tbody > tr:not(:nth-child(-n+2)) > td:hover > a,
.rdDataCalendar > tbody > tr:not(:nth-child(-n+2)) > td:hover > a > span {
	background-color: #e6e6e6 !important;
	text-decoration: none !important;
} 
.ThemeContainerShaded,
.ThemeContainerShadedAndBordered,
tr.ThemeAlternatingRow td,
.rdAg tr.ThemeAlternatingRow td,
.rdAgDataTable tr.ThemeAlternatingRow td,
.rdThemeDataTable tr.ThemeAlternatingRow >td {
    background-color: #F5F5F5
}
.ThemeErrorText {
    background-color: #F2DEDE !important
}
.rdThemeDataTable,
.rdAgDataTable,
.rdOgOlapTable,
.rdDgOlapTable,
.yui-navset .yui-nav li:hover {
    background-color: #DDD
}
.rdAgUnselectedTab,
.rdOgUnselectedTab,
.rdAgSelectedTab,
.rdOgSelectedTab,
.rdAgUnselectedTabOn {
    background: #CCC;
}
.rdThemeDataTableMainHeader,
.rdThemeDataTableGroupHeaderRow0 td,
table.rdAgDataTable tr.rdAgGroup0HeaderRow td,
table.rdThemeSubDataTable th,
.rdThemeSubDataTable th,
.rdThemeSubDataTableGroupHeaderRow td,
.rdThemeSubDataTableGroupSummaryRow td {
    background-color: #C7C7C7
}
.rdPreviewHoverState,
.rdPreviewHoverState:hover,
.ThemeLinkButton:hover,
.ThemeLinkButtonSmall:hover,
span:hover.rdAgCommand,
span:hover.rdAcCommand,
span:hover.rdOgCommand,
span:hover.rdCgCommand,
span:hover.rdDashboardCommand,
#rowChangeTab span:hover.rdDashboardCommand,
span:hover.rdPopupPanelCommand,
.rdAgUnselectedTab:hover,
.rdOgUnselectedTab:hover,
input[type="button"]:hover {
    background-color: #e6e6e6 !important;
}
.rdThemeDataTableGroupHeaderRow1 td,
table.rdAgDataTable tr.rdAgGroup1HeaderRow td {
    background-color: #D4D4D4
}
.rdThemeDataTableHeaderRow th,
.rdThemeDataTableGroupHeaderRow2 td,
table.rdAgDataTable tr.rdAgGroup2HeaderRow td {
    background-color: #E1E1E1;
}
.rdThemeDataTableGroupHeaderRow3 td,
table.rdAgDataTable tr.rdAgGroup3HeaderRow td,
.PreviewMenuBG,
#rowsAnalysisGrid .rdAgContentRow,
#rowsAnalysisGrid #rowMenu>table>table,
.rdAgSelectedTab span,
.rdAgSelectedTab,
.rdOgSelectedTab,
.rdOgSelectedTab span,
.rdAgSelectedTabOn,
#rowDimension #mclDimensions,
#rowMeasure #mclMeasures,
#rowFilter #mclFilters,
.rdOg #rowFilter,
.yui-navset .yui-nav li,
#rowDimension table,
#rowMeasure table,
#rowDimension .rdOgContentHeadingRow,
#rowCalculatedMeasure table {
    background-color: #EEE
}
.rdDataCalendarDayOutsideMonth,
.rdDataCalendarDayOutsideMonth span {
    background-color: #EEE !important
}
.rdThemeDataTableGroupHeaderRow4 td,
table.rdAgDataTable tr.rdAgGroup4HeaderRow td {
    background-color: #FAFAFA
}
#rowsAnalysisGrid .ThemeLinkButton:hover,
#rowsAnalysisGrid .ThemeLinkButtonSmall:hover,
#rowsAnalysisGrid span:hover.rdAgCommand,
.rdThemePagingCurrent {
    background-color: #337AB7
}
.rdAgUnselectedTabOn:hover,
.rdAgUnselectedTab:hover,
.rdOgUnselectedTabOn:hover,
.rdOgUnselectedTab:hover {
    background-color: #337AB7 !important;
}
.highcharts-tooltip .rdquicktip-table,
.rdquicktip-content,
.rdCcTextNormal,
.rdCcTextNormal table,
.rdCcTextNormal td,
.rdCcTextNormal span {
    background-color: #363B42 !important;
}
.rdThemeWaitPanel {
    background-color: #ECEDEE
}
#divAxes .rdOgContentHeading #lblExport {
    background-color: #ecedee !important
}
#divExport #lblExport {
    background-color: #454d59 !important
}
td.rdDashboardDropZoneActive,
.rdAgDropZoneActive {
    background-color: #E2CE5D
}
.rdDashboardFilterPanel {
    background-color: RGBA(0, 0, 0, 1)
}
#LeftFrame .ThemeLinkButtonSmall:hover,
.LaunchPanel,
#LeftFrame .ThemeMenuItemLink:hover {
    background-color: RGBA(0, 0, 0, 1) !important;
}
.rdReportLayoutToolbarItem:hover {
    background-color: #abe4de
}
.rdPreviewMenu,
.yuimenu ul,
.yuimenu ul li {
    background: #F8F8F8 !important
}
.yuimenubaritemlabel-selected,
.yuimenuitemlabel-selected,
.yuimenubaritem-selected,
.yuimenuitem-selected,
.first-of-type,
.first-of-type:hover {
    background-color: #E7E7E7
}
.first-of-type li a:hover {
    background-color: #E7E7E7 !important;
}
.ThemeContainer tr td span:hover {
    background-color: #e0eefb
}
.ThemeMasterReportTopFrame {
    background-color: #222222
}
.ThemeMasterReportLeftFrame,
.ThemeMasterReportFooterFrame {
    background-color: #1D2733;
}
.rdThemeEditorAccordion,
.rdThemeEditorAccordionSelected {
    background-color: #F9F9F9
}
/*END BACKGROUND COLORS*/

/*BORDER COLORS*/
.rdPopupPanelCommand, .rdPopupPanel {
    border-color: transparent
}
.ThemeErrorText {
    border-color: #EBCCD1 !important;
}
.ThemeContainerBordered,
.ThemeContainerShadedAndBordered {
    border-color: #E3E3E3 !important
}
input:not(.form-control),
input.rdThemeInput:not(.form-control),
textarea:not(.form-control),
textarea.rdThemeInput:not(.form-control),
select.rdThemeInput:not(.form-control),
select.rdDataCalendarDropdown:not(.form-control),
.rd-checkboxlist-dropdown:not(.form-control),
.rd-checkboxlist-popup:not(.form-control) {
    border-color: #CCC
}
.ThemeLinkButton,
.ThemeLinkButtonSmall,
.rdAgCommand,
.rdOgCommand,
.rdAcCommand,
span.rdCgCommand,
.rdDashboardCommand,
input[type="button"],
.yui3-skin-sam .yui3-aclist-content,
.rdOgPositionCellXAxis {
    border-color: #ccc !important
}
.ThemeLinkButton,
input[type="button"] {
    border-color: #2E6DA4 !important
}
.rdPreviewHoverState,
.rdPreviewHoverState:hover,
.ThemeLinkButton:hover,
.ThemeLinkButtonSmall:hover,
span:hover.rdAgCommand,
span:hover.rdAcCommand,
span:hover.rdOgCommand,
span:hover.rdCgCommand,
span:hover.rdDashboardCommand,
#rowChangeTab span:hover.rdDashboardCommand,
span:hover.rdPopupPanelCommand,
.rdAgUnselectedTab:hover,
.rdOgUnselectedTab:hover,
input[type="button"]:hover {
    border-color: #adadad
}
.rdAgCommandHightlight,
.rdAcCommandHighlight,
.rdAgCommandHighlight {
    border-color: #204D74
}
.rdAcContentRow,
.rdAgPanel,
.rdOgPanel,
.rdDgPanel,
.rdDgPanelLine .rdDgSelected,
.rdCgPanelLine .rdCgSelected,
.rdCgPanelLine .rdCgSelected span {
    border-color: RGBA(0, 0, 0, 1);
}
.rdAcCommandIdle,
.rdAcCommandLeft,
.rdAcCommandMiddle,
.rdAcCommandRight,
.rdAgCommandIdle,
.rdAgCommandLeft,
.rdAgCommandMiddle,
.rdAgCommandRight {
    border-color: #e1e1e1
}
select.rdAgQbColor1,
table.rdAgDataTable th.rdAgQbColor1 {
    border-top: 4px solid #2f7ed8 !important
}
select.rdAgQbColor2,
table.rdAgDataTable th.rdAgQbColor2 {
    border-top: 4px solid #c42525 !important
}
select.rdAgQbColor3,
table.rdAgDataTable th.rdAgQbColor3 {
    border-top: 4px solid #8bbc21 !important
}
select.rdAgQbColor4,
table.rdAgDataTable th.rdAgQbColor4 {
    border-top: 4px solid #910000 !important
}
select.rdAgQbColor5,
table.rdAgDataTable th.rdAgQbColor5 {
    border-top: 4px solid #1aadce !important
}
select.rdAgQbColor6,
table.rdAgDataTable th.rdAgQbColor6 {
    border-top: 4px solid #492970 !important
}
.rdquicktip-content,
.rdCcTextNormal,
.rdCcTextNormal table,
.rdCcTextNormal td,
.rdCcTextNormal span,
.quicktip-pointer,
.quicktip-pointer-inner,
.rdquicktip-content .header {
    border-color: #363b42;
}
.yui-navset .yui-nav li.selected,
.yui-navset .yui-nav li.selected:hover,
.rdDataCalendarDayOutsideMonth,
.rdPopupContent .rdDataCalendarDayOutsideMonth,
td.rdDataCalendarDay,
.rdPopupContent td.rdDataCalendarDay,
.rdPopupContent .rdTimePickerInnerTables td,
.rdThemeEditorAccordionSelected {
    border-color: #EEE
}
.rdDashboardPanel {
    border-color: RGBA(37, 160, 218, 0)
}
.rdDashboardPanelGlobalFiltered {
    border-color: RGBA(37, 160, 218, .8)
}
.yuimenu {
    border-color: #DDDDDD !important
}
.rdPreviewBorder {
    border: solid 4px #f5f5f5
}
.clearfix {
	display: block !important;
}
table.rdPopupPanel {
	border-radius: 0;
}
/*END BORDER COLORS*/

/*THEME OVERRIDES*/
.rdDataCalendarCaption {
	font-weight: normal;
}