/* layout.css - Logi Analytics, 2017
******************************************************************************************/
html, body, form[name="rdForm"] {
    height: 100%;
    min-height: 100%;
}
/*MAIN STYLES*/
/*Header + Navbar*/
.navbar-dark.navbar.fixed-top:not([class*="bg-"]), 
.navbar-dark.navbar.bottom:not([class*="bg-"]) {
    background-color: #172C42;
}
/*Sidebar color*/
.navbar-dark.nav-sidebar:not([class*="bg-"]) {
    background:#A38AC0;
}
/*Border Color*/
.navbar-dark.navbar.fixed-top .navbar-text, 
.navbar-dark.navbar.fixed-top .nav-item>a, 
.navbar-dark .sidebar-toggle, 
.navbar-dark.nav-sidebar > div > div.nav-sidebar-wrapper>div>a {
    border-color: rgba(255, 255, 255, 0.3);
}
/*Header Text Color*/
.navbar-dark .sidebar-toggle,
.navbar-dark.nav-sidebar > div > div.nav-sidebar-wrapper>div>a, 
.navbar-dark.nav-sidebar > div > div.nav-sidebar-wrapper>div .DropDownMenu a {
    color: rgba(255, 255, 255, 1);
}
/*Hover*/  
.navbar-dark.nav-sidebar > div > div.nav-sidebar-wrapper>div.active>a, 
.navbar-dark.nav-sidebar > div > div.nav-sidebar-wrapper>div:hover>a, 
.navbar-dark.nav-sidebar > div > div.nav-sidebar-wrapper>div>a:focus {
    background-color:rgb(172, 150, 199);
    color: rgba(255, 255, 255, 0.9);
}

.navbar-dark.navbar.fixed-top .navbar-text, 
.navbar-dark.navbar.fixed-top .nav-item>a, 
.navbar-dark .sidebar-toggle{color: rgba(255, 255, 255, 0.5); border-color: rgba(255, 255, 255, 0.1);}

.navbar-dark.navbar.fixed-top .nav-item > a:hover, 
.navbar-dark.navbar.fixed-top .nav-item > a:focus,
.navbar-dark .sidebar-toggle:hover{background-color: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 0.9);}


/*END MAIN STYLES*/

/*navbar-light*/ 
.navbar-light.nav-sidebar,
.navbar-light.navbar.fixed-top:not([class*="bg-faded"]), 
.navbar-light.navbar.bottom {
    background: #fcfcfc;
}
.nav-sidebar.navbar-light > div > div.nav-sidebar-wrapper>div>ul {
    background: rgba(0, 0, 0, .04);
}
/*Border Color*/
.navbar-light.navbar.fixed-top .navbar-text, 
.navbar-light.navbar.fixed-top .nav-item>a, 
.navbar-light .sidebar-toggle, 
.navbar-light.nav-sidebar > div > div.nav-sidebar-wrapper>div>a {
    border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .sidebar-toggle,
.navbar-light.nav-sidebar > div > div.nav-sidebar-wrapper>div>a, .navbar-light.nav-sidebar > div > div.nav-sidebar-wrapper>div ul a {
    color: rgba(0, 0, 0, 0.5);
}
/*Hover*/
.navbar-light.navbar.fixed-top .nav-item > a:hover, 
.navbar-light.navbar.fixed-top .nav-item > a:focus, 
.navbar-light .sidebar-toggle:hover, 
.navbar-light.nav-sidebar > div > div.nav-sidebar-wrapper>div:hover>a, 
.navbar-light.nav-sidebar > div > div.nav-sidebar-wrapper>div>a:focus {
    background-color: rgba(0, 0, 0, 0.02);
	color: rgba(0, 0, 0, 0.8);
}
.navbar-light.nav-sidebar > div > div.nav-sidebar-wrapper>div.active>a {
    background-color: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 1);
}

/*navbar-light*/
/* Body + Layout + SidebarOpen Animation */
.navbar.fixed-top {
	font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}
.navbar.fixed-top .navbar-brand {
    padding: .1em 1.2em .4em;
    line-height: 40px;
	margin-right: 0;
}
.navbar.fixed-top .navbar-text {
    border-left-width: 1px;
    border-left-style: solid;
}
.navbar.fixed-top .nav-item>a {
    white-space: nowrap;
    border-left-width: 1px;
    border-left-style: solid;
}
a.dropdown-toggle:hover {
	text-decoration: none;
}
/*Body*/
#rdMainBody,
.master-content {
    margin: 0;
    padding: 0;
    top: 0;
    height: 100%;
}
.master-content .content-wrapper {
    padding: 15px 15px 60px 15px;
    min-height: calc(100% - 5em);
    position: relative;
    top: 4.1em;
    left: 0;
}

/*Sidebar toggle*/
.sidebar-toggle > i {
    font-family: themify;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.nav-sidebar.Closed ~ .navbar.fixed-top .sidebar-toggle > i:before  {
    content: "\e679";
}
.nav-sidebar.Open ~ .navbar.fixed-top .sidebar-toggle > i:before {
    content: "\e67a";
}

/*Sidebar + Sidebar Animation*/
.nav-sidebar {
    width:24em;
    left: -24em;
    position: fixed;
    padding: 0 0 4.5em;
    z-index: 999;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
	border-top: 0px;
	top: 4.4em;
	bottom:0px;
	overflow-y:auto;
}
.sidebar-toggle {
    cursor: pointer;
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 12px 20px;
    text-align: center;
    font-size: 19px;
    border-radius: 0;
    border-right-width: 1px;
    border-right-style: solid;
}
.nav-sidebar.Open {
    left: 0;
}
.nav-sidebar.Open ~ .content-wrapper,
.nav-sidebar.Open ~ .navbar.bottom {
    margin-left: 24em;
}
.nav-sidebar:hover {
    overflow-y: auto;
}
.nav-sidebar > div >div.nav-sidebar-wrapper,
.nav-sidebar > div > div.nav-sidebar-wrapper,
.nav-sidebar > div > div.nav-sidebar-wrapper ul,
.nav-sidebar > div > div.nav-sidebar-wrapper div {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}
.nav-sidebar > div > div.nav-sidebar-wrapper>div:last-child{border-top:2px solid rgb(255, 255, 255, 0.8);}
.nav-sidebar > div > div.nav-sidebar-wrapper>div:last-child a{border-bottom:none;}
.nav-sidebar > div > div.nav-sidebar-wrapper>div {
    display: block;
}
.nav-sidebar > div > div.nav-sidebar-wrapper>div>a {
    cursor: pointer;
    text-decoration: none;
    display: block;
    border-width: 0 0 1px 0;
    border-style: solid;
    padding: 15px 12px;
    font-size: 15px;
    text-transform: uppercase;
	outline:0;
}
.report-caption > .fa{
    font-size:16px;
    width: auto;
    top: 0px;
    margin: 0;
    margin-right:8px;
}
.report-caption > .zmdi {
    font-size:18px;
    width: auto;
    top: 0px;
    margin: 0;
    margin-right:8px;
}
.report-caption > .zmdi.expand-sub{top: 4px; margin-right:0px; margin-left:0px; position:relative;} 
.nav-sidebar-wrapper .dropright.open > a{background-color: rgb(172, 150, 199); color: rgba(255, 255, 255, 0.9) !important;}
.nav-sidebar-wrapper .dropright.open > a > span .zmdi-chevron-right:before{content: '\f2f9';}
.nav-sidebar-wrapper .dropright.open > a > span .zmdi-plus:before{content:'\f273';}

/* Submenu items */
.nav-sidebar > div > div.nav-sidebar-wrapper>div.dropdown>a .expand-sub {
    position: absolute;
    right: -.4em;
    padding: 1em .5em;
    width: 1.8em;
    margin-top: -.96em;
}
.nav-sidebar > div > div.nav-sidebar-wrapper>div .DropDownMenu { 
    max-height: 0;
    overflow: hidden; 
	background: rgba(255, 255, 255, .1); 
	/*border-left: 4px solid rgba(255, 255, 255, .6)*/
}
.nav-sidebar > div > div.nav-sidebar-wrapper .open{
    margin-bottom:4px !important; 
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;}
.nav-sidebar > div > div.nav-sidebar-wrapper .open > .DropDownMenu {
    max-height:inherit;
    padding:8px;	
    display:block; 
}
.nav-sidebar > div > div.nav-sidebar-wrapper>div .DropDownMenu a {
    outline: none;
    padding:8px;
    display: block;
}
.nav-sidebar > div > div.nav-sidebar-wrapper>div .DropDownMenu a:hover{padding-left:12px;}
.nav-sidebar > div > div.nav-sidebar-wrapper>div .DropDownMenu .ddlist:hover a,
.nav-sidebar > div > div.nav-sidebar-wrapper>div .DropDownMenu .ddlist.active>a,
.nav-sidebar > div > div.nav-sidebar-wrapper>div .DropDownMenu .ddlist:focus a,
.nav-sidebar > div > div.nav-sidebar-wrapper>div .DropDownMenu > .ddlist.active a {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.nav-sidebar.navbar-light > div > div.nav-sidebar-wrapper>div>.DropDownMenu {
    border-left: 4px solid rgba(0, 0, 0, .2);
}
.nav-sidebar.navbar-light > div > div.nav-sidebar-wrapper>div ul a:hover,
.nav-sidebar.navbar-light > div > div.nav-sidebar-wrapper>div ul li.active>a,
.nav-sidebar.navbar-light > div > div.nav-sidebar-wrapper>div ul a:focus,
.nav-sidebar.navbar-light > div > div.nav-sidebar-wrapper>div ul > li.active a {
    color: rgba(0,0,0,.9);
}

.dropright-first{font-size:15px; background:#987cb9 !important}
.dropright-second{ background:#9070b5 !important; position:relative;  font-size:14px; border-left:3px solid rgb(172, 150, 199) !important; border-right:3px solid rgb(172, 150, 199) !important;
border-bottom:3px solid rgb(172, 150, 199) !important;}
.dropright-third{font-size:13px; background:#8966b1 !important; border-left:3px solid rgb(172, 150, 199) !important; border-right:3px solid rgb(172, 150, 199) !important;
border-bottom:3px solid rgb(172, 150, 199) !important;}


/* Sidebar Scrollbar*/
.nav-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, .1);
}
.nav-sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(255, 255, 255, .1);
}
.nav-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .8);
}
.nav-sidebar, .master-content .content-wrapper, .navbar.bottom,
.nav-sidebar > div > div.nav-sidebar-wrapper>div .DropDownMenu a,
.nav-sidebar > div > div.nav-sidebar-wrapper>div .DropDownMenu,
.nav-sidebar > div > div.nav-sidebar-wrapper>div:hover>a,
.nav-sidebar > div > div.nav-sidebar-wrapper>div>a:focus {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav-sidebar > div > div.nav-sidebar-wrapper>div>a{}

/*Footer*/
.navbar.bottom {
    z-index: 1;
	position: relative;
	margin-top: 18px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .25);
}

/* iFrame Report helper classes */
.transparent-bg, .iframe-report {
    background: transparent !important;
}
.iframe-report .navbar.fixed-top,
.iframe-report .nav-sidebar,
.iframe-report .navbar.bottom,
.iframe-report div.Content-Overlay,
.iframe-report #divScrollToTop {
    display: none!important;
}
.iframe-report .content-wrapper {
    padding: 0;
    top: 0;
}
.iframe-report div[class*='rd-gridsystem'].row,
.iframe-report div.row {
    margin-left: 0;
    margin-right: 0;
}
/*Scroll to top*/
#divScrollToTop{
	position: fixed;
	right: .5em;
	bottom: 1em;
	font-size: xx-large;
	display: none;
	opacity: 0.5;
	z-index: 1000;
	background: #CCBEB8;
	padding: 0 .2em;
	border-radius: .37em;
}
#divScrollToTop #ScrollToTop{
	cursor: pointer;
}
#rdDebug {
	z-index: 999;
}



/*Mobile*/
@media (max-width: 767px){
    .navbar.fixed-top {
        margin-left: 0;
        margin-right: 0;
    }
    #navbar-collapse {
        padding-right: 0;
    }
    .nav-item>a {
        text-align: left !important;
    }
    .nav-sidebar,
    .nav-sidebar.Closed {
        left: -24em;
    }
    .nav-sidebar,
    .nav-sidebar.Closed.Open {
        left: 0;
    }
	.nav-sidebar.Closed {
    	width: 100%;
		display: none;
    	opacity: 0;
	}
	.nav-sidebar.Open {
    	width: 100%;
		display: block;
    	opacity: 1;
	}
	.nav-sidebar.Open ~ .content-wrapper,
	.nav-sidebar.Open ~ .navbar.bottom {
		margin-left: 0 !important;
	}
	.navbar-nav .show .dropdown-menu {
		position: static !important;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: rgba(255,255,255,.7);
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0 !important;
	}
}