/*!
 * Stylesheet for the Date Range Picker,  for use with Bootstrap 3.x
 *
 * Copyright 2013-2015 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the MIT license. See http://www.opensource.org/licenses/mit-license.php
 *
 * Built for http://www.improvely.com
 */
 
.daterangepicker .no-padding{
	padding: 0;
}
.daterangepicker .no-margin{
	margin: 0;
}
span.daterange {
    text-decoration: none;
    cursor: pointer;
}
button.applyBtn,
button.cancelBtn{
	width:48%;	
}
.daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3000;
	padding:12px 4px 4px 4px;
}
.daterangepicker.single .calendar, .daterangepicker.single .ranges {
    float: none;
}
.daterangepicker .ranges {
    text-align: left;
    margin-bottom: .5em;
}
.daterangepicker .ranges .range_inputs>div {
    float: left;
}
.daterangepicker .ranges .range_inputs>div:nth-child(2) {
    padding-left: 11px;
}
.daterangepicker .calendar {
    max-width: 270px;
	margin: 0 .2em .5em;
}
.daterangepicker.show-calendar .calendar {
    display: block;
}
.daterangepicker .calendar.single .calendar-date {
    border: none;
}
.daterangepicker .calendar td, .daterangepicker .calendar th {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    white-space: nowrap;
    text-align: center;
    min-width: 32px;
}
.daterangepicker .daterangepicker_end_input label, .daterangepicker .daterangepicker_start_input label {
    color: #333;
    display: block;
    font-size: 11px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    text-shadow: #fff 1px 1px 0;
    text-transform: uppercase;
    width: 74px;
}
.daterangepicker .ranges input {
    font-size: 11px;
}
.daterangepicker .ranges .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 0 10px;
    padding: 0 6px;
    width: 74px;
}
.daterangepicker .ranges ul {
    list-style:  none;
    margin:  0 0 1em 0;
    padding:  0 1em 0 0;
    max-height:  142px;
    overflow-y:  auto;
}
.daterangepicker .ranges li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #A38AC0;
    padding: 3px 12px;
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background:#A38AC0;
    border: 1px solid #A38AC0;
    color: #fff;
}
.daterangepicker .calendar-date {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
    background: #fff;
}
.daterangepicker .calendar-time {
    text-align: center;
    margin: 8px auto 0;
    line-height: 30px;
}
.daterangepicker {
    position: absolute;
    background: #fff;
    top: 100px;
    left: 20px;
    padding: 12px 4px 4px 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.daterangepicker.opensleft:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .2);
    content: ''}
.daterangepicker.opensleft:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''}
.daterangepicker.openscenter:before {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .2);
    content: ''}
.daterangepicker.openscenter:after {
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''}
.daterangepicker.opensright:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .2);
    content: ''}
.daterangepicker.opensright:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''}
.daterangepicker table {
    width: 100%;
    margin: 0;
}
.daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
	white-space: nowrap;
	padding: 5px;
	color: #363b42;
	font-size: 12px;
}
.daterangepicker option.disabled, .daterangepicker td.disabled, .daterangepicker td.off {
    color: #999;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background: #eee;
}
.daterangepicker td.in-range {
    background:rgba(163, 138, 192, 0.2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.daterangepicker td.start-date {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.daterangepicker td.end-date {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.daterangepicker td.start-date.end-date {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #A38AC0;
    border-color: #A38AC0;
    color: #fff;
}
.daterangepicker td.week, .daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
}
.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
}
.daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%}
.daterangepicker select.yearselect {
    width: 40%}
.daterangepicker select.ampmselect, .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect {
    width: 50px;
    margin-bottom: 0;
}
.daterangepicker_start_input {
    float: left;
}
.daterangepicker_end_input {
    float: left;
    padding-left: 11px;
}
.daterangepicker th.month {
    width: auto;
}


/*DatePicker Filter Css*/
#Statistics-FilterBar{width:100%; display:inline-block;}
#Statistics-FilterBar .customTitle{margin-top:1px; float:left;}
#Statistics-FilterBar table td{white-space: nowrap;}
#Statistics-FilterBar > a{float:right; font-style:inherit;}
#Statistics-FilterBar #Filter-Title .Filter-Head{background:#1f3750; font-size:15px;}
#Statistics-FilterBar #Filter-Title:hover .Filter-Head{background: #172c42;}
#Statistics-FilterBar #Filter-Title i.zmdi{width:auto; margin:0 0 0 6px; position:relative; top:3px; font-size:18px;} 

#Parameters{margin-top:10px;  border:1px solid rgba(138, 138, 138, 0.43);  padding:10px 0px 15px 0; border-radius:5px;  background:#f8f8f8;
  display:inline-block;  width:100%; position:relative;  vertical-align: top;} 
#Parameters .FilterFiled{width:21%; float:left; padding:0 15px;}
#Parameters .FilterFiled label{font-size:14px; color:#000; margin-bottom:3px; display: block; text-align:left;}
#Parameters .rdThemeInput{display:block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff;
background-clip: padding-box; border: 1px solid #ced4da; border-radius: 0.25rem; transition: 
border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}

.daterangepicker .ranges li{margin-left:0px !important;}
	
#Parameters #date{width:37%;}
#Parameters #date fieldset{float:left;}
#Parameters #date .daterange{background:#ffffff; color:#495057;  padding:0.375rem 0.5rem; font-size:1rem; line-height:1.5; text-align: left;
border-radius: 0.25rem; min-width:133px; display:inline-block; max-height:37px; border:1px solid #ced4da; box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);}
#Parameters #date .caret{width:auto; margin-left:6px; top:4px; position:relative; font-size:18px; float:right;}
#Parameters	#date .rdThemeInput{width:100px; display: inline-block; text-align: center;  margin-left: 5px;  padding: 0.375rem 0.5rem; max-height:37px;}  
#Parameters	#date #actDatePickerForInputDate_FromDate,
#Parameters	#date #actDatePickerForInputDate_ToDate{display:none;}

.daterangepicker.dropdown-menu .applyBtn{background-color:#A38AC0; border-color:#A38AC0;}
.daterangepicker.dropdown-menu .applyBtn:hover{background-color:#9070b5; border-color:#9070b5;}

.MultiReportFilter{margin-bottom:10px;}

/*Media Query Responsive Css*/
@media (max-width:1360px){ 
	#Parameters .FilterFiled{width:20%;}
	#Parameters #date{width:40%;}
}

@media (max-width:1199px){ 
	#Parameters .FilterFiled{width:17%;}
	#Parameters #date{width:49%;}
}
 
 @media (max-width: 991px){ 
	#Parameters{padding-bottom:5px;}
	#Parameters .FilterFiled{width:33.33%; margin-bottom:10px;}
	#Parameters #date{width:100%;} 
}

@media (max-width: 767px){
	#Statistics-FilterBar{margin-top:0px;}
	#Parameters{padding-left:10px; padding-right:10px;}
	#Statistics-FilterBar > a{float:none;}
	#Statistics-FilterBar .page-title{width:100%; margin-bottom:15px;}
	#Statistics-FilterBar .page-title h4{text-align:center;}
	#Statistics-FilterBar .Filter-Head{width:100%;}
	#Parameters .FilterFiled{width:100% !important;  padding:0px;} 
	#Parameters #date{text-align:center;}
	#Parameters #date .rdThemeInputCaption{text-align:left;}	
	
	#Parameters #date .daterange{padding: 0.375rem 0.75rem;}
	.daterangepicker.dropdown-menu{width:282px;}
	.daterangepicker.dropdown-menu .col-sm-4{padding:0; flex:inherit; max-width:inherit;}
}

@media (max-width: 410px){
	#Parameters #date fieldset{margin:0 -1%;}
	#Parameters #date .daterange{margin:0 1%; min-width: inherit;  display:block;}
	#Parameters #date .rdThemeInput{width:48%; margin:5px 1% 0 1%;}
}