#Statistics-FilterBar{margin: -10px 5px 0 5px;}
#Statistics-FilterBar table td{white-space: nowrap;}

#Parameters{background-color:#49B0AB; padding:5px 15px;}
#Parameters > #FiledRow{min-height:40px;} 
/*#Parameters .column22{
color:#FFFFFF;
vertical-align: middle;
margin-left: 0pt;
margin-right: 0pt; width:100%;}*/

#Statistics-FilterBar .pageTitle
{text-align: center; 
background: #192C41;
color: #FFFFFF;  
font-size: 19px;
font-weight: bold;
padding:0px;}
#Statistics-FilterBar .pageTitle #icon{display:none;}

#Statistics-FilterBar .pageTitle a{width:100%; padding:10px; color:#fff; text-decoration:none;}

#Statistics-FilterBar select {
    padding: 6px 5px;
    margin: 0;
    background: #3B9A96;
    color: #FFFFFF;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px; 
    min-width: 130px;
	width: 100%;}
	
#Statistics-FilterBar input.DateInput {
    padding: 6px 5px;
    margin: 0;
    background: #3B9A96;
    color: #FFFFFF;
    border: none;
    outline: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px; 
    display: inline-block;
    cursor: pointer;
    border-radius: 0px; }
	
#Statistics-FilterBar .rdThemeInputCaption{
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	white-space: nowrap;}	

#btnLogout{
	border: 1px solid #000000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-left: 10px;}

#Statistics-FilterBar #date{max-width: 390px;}
#actDatePickerForInputDate_FromDate{display:none;}

@media (max-width: 991px){
#Statistics-FilterBar .pageTitle a{padding:5px 10px;}
#Statistics-FilterBar #date{margin-top:5px;}
}

@media (max-width: 414px){
	#Statistics-FilterBar .pageTitle a{padding:8px 15px; text-align:left;}
	#Statistics-FilterBar #date{max-wdith:100%;}
	#Parameters > #FiledRow > .col{max-width:100%; flex:inherit; display: inline-block !important; margin:5px 0;}
	#Parameters > #FiledRow > .col > table{width:100%;}
	#Parameters > #FiledRow > .col > table tr td:first-child{width:100px !important;}
	#btnLogout{width:100%;   margin: 10px 0 0 0;}
	
	#Parameters{opacity: 0;
    visibility: hidden;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;}
	#Statistics-FilterBar .pageTitle.open ~ #Parameters{opacity:1;
    visibility: visible;}
	
	#Statistics-FilterBar .pageTitle{position:relative;}
	#Statistics-FilterBar .pageTitle #icon{display:block; font-size: 21px;
    width: auto;
    top: 12px;
    position: absolute;
    right: 15px;
    text-shadow: none;}
	#Statistics-FilterBar .pageTitle.open .zmdi-plus:before{content: '\f273';}
}