.listTable
{
	font:10px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #FFFFFF;
	background-color : #696363;
	padding:2px;
	margin-left : auto;
	margin-right: auto;

}

.AlignLeft
{
	text-align: Left;
	font:12px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #000000;
}


TH.AlignLeft
{
	color: #464646;
	background-color : #E3DFE0;
	font:normal 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding:5px;
}

TD.AlignLeft
{
	color: #000000;
	background-color : #F7F7F7;
	padding-left: 5px;
}

.AlignCenter
{
	text-align: center;
	font:normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	border: none;
}


TH.AlignCenter
{
	color: #464646;
	background-color : #E3DFE0;
	text-align: center;
	font: bold 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
}

TD.AlignCenter
{
	color: #000000;
	text-align: left;
	font: normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color : #F7F7F7;
	padding: 1px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.AlignRight
{
	text-align: right;
	font:normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #000000;
	padding: 2px;
}

TH.AlignRight
{
	color: #464646;
	background-color : #E3DFE0;
	text-align: right;
	font:bold 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 2px;
}

TD.AlignRight
{
	color: #000000;
	background-color : #F7F7F7;
	padding-right: 5px;
}

.CenterArrange
{
	text-align: left;
	font:normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #000000;
	padding: 1px 40%;
	width: 100%
}

.CenterAlignObject
{
	text-align: left;
	font:normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #000000;
	padding: 1px;
	margin-left:auto;
	margin-right:auto;
	width: 100%
}

.CenterAlignObjectCenter
{
	text-align: center;
	font:normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #000000;
	padding: 1px;
	margin-left:auto;
	margin-right:auto;
	width: 100%
}

TH.AlignCenter
{
	color: #464646;
	background-color : #E3DFE0;
	text-align: center;
	font: bold 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
}

TD.AlignCenter
{
	color: #000000;
	text-align: left;
	font: normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color : #F7F7F7;
	padding: 1px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

TH.listTable
{
	color: #000000;
	background-color : #E3DFE0;
	font:bold 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
}

TD.listTable
{
	color: #000000;
	background-color : #F7F7F7;
}


SPAN.listTable
{
	font:14pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #000000;
	background-color : #F7F7F7;
	padding: 0px;
}


A	
{	
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
}

A:link 
{ 
 	text-transform: none; 
 	color: #69119c;
 	background-color: transparent; 
 	vertical-align: baseline;
	border:none;
 }
		
A:visited 
{ 
   text-transform: none; 
 	color: #cc99ff;
 	background-color: transparent; 
 	vertical-align: baseline;
	border:none;
 }
		
A:active 
{ 
   text-transform: none; 
 	color: #69119c;
 	background-color: transparent; 
 	vertical-align: baseline;
 }

 A:hover 
 { 
 	color:#204a75 !important;
 	background-color: transparent;  
 	vertical-align: baseline;
	border:none;
 }
 

/*SMReportParam Report Css*/ 	
#btnLogout{border: 1px solid #000000; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; 
float:left; min-width:85px; padding: 6px 10px; font-size: 15px; position:relative; margin:2px 0 0 5px;}
#btnLogout:hover{background-color:#A38AC0 !important;}

#SMC_PkgReport{font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; text-align:center; margin-top:15px;}
#SMC_PkgReport tspan{font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
font-size:16px; color: #274b6d; fill: #274b6d;}

#SMC_PkgReport #Toggle{overflow:inherit;}
#SMC_PkgReport #Toggle #rdRadioButtonGroupToggle{position:absolute; top:50%; margin-top:-27px; right:15px;}
#SMC_PkgReport #Toggle #rdInputRadioOptions{padding:5px; background: rgba(241, 241, 241, 0.30); border-radius: 5px;
border: 1px solid rgba(138, 138, 138, 0.2); display: inline-block; width: 90px;} 
#SMC_PkgReport #Toggle #rdInputRadioOptions label{margin:0px 0 0 3px; font-size:13px; position:relative; top:-2px;}
 

 /*Media Query Responsive Css*/
@media (max-width: 767px){
	#SMC_PkgReport #Toggle{text-align:center;}
	#SMC_PkgReport #Toggle #rdRadioButtonGroupToggle{position:relative; top:-10px; margin-top:0; right:0; text-align:left;}
	#SMC_PkgReport #Toggle #rdInputRadioOptions{width:auto; padding-left: 10px;}
	#SMC_PkgReport #Toggle #rdInputRadioOptions label{margin-right:5px;}
} 
