/************************************************ 
Custom.css is used for theme and style overrides.
Extra application styles can also be stored here.
*************************************************/

.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mb0{margin-bottom:0px !important;}
.mb20{margin-bottom:20px;}

.ht15{padding-top:15px;}
.ht20{padding-top:20px;}
.ht70{padding-top:70px;}
.ht90{padding-top:90px;}

.pb0{padding-bottom:0px !important;}
.pl0{padding-left:0px !important;}
.pr0{padding-right:0px !important;}

#Sidebar.nav-sidebar{top:60px;}
.navbar.fixed-top{min-height:60px;}
.navbar.fixed-top .navbar-brand{padding:4px 16px 4px;}
.navbar.fixed-top .navbar-brand img{max-width:170px; max-height:52px; width:auto; height:auto; vertical-align:top;}
.master-content .content-wrapper{top:60px; min-height:calc(100% - 71px);}

/*Home Link Css*/
#Home{padding:0px !important; border-right:1px solid rgba(255, 255, 255, 0.1);}
#Home a{color:rgba(255, 255, 255, 0.5); padding:14px 15px 10px 15px !important; display: inline-block; min-height:53px; outline:none;}
#Home a:hover{background-color: rgba(255, 255, 255, 0.2);   color: rgba(255, 255, 255, 0.9);}
#Home #icon{font-size: 26px;}
	
/*Font Size Increase Decrease Css*/	
.fsButtons{position:fixed; z-index:9; right:5px; bottom:10px;}
.fsButtons input{color:#fff !important; font-size:16px; height:35px; line-height:20px; margin-right:5px; min-width:32px; padding:5px 8px;}
.fsButtons input:hover{background-color:#A38AC0 !important;} 

#Footer{z-index:99;}

#rdMainBodyEnd ~ br{display:none;} 

/*Global Filters Css*/
/*#DashLabel_id{margin-top:10px;}*/
.DashboardTitle{margin-right:97px; width:auto; max-width:inherit;}
.DashboardTitle .row{position:relative; z-index:9;}
.DashboardFilter{margin-top:-38px;}

.GlobalFiltersBlock #Filter-Title .Filter-Head{background:#1f3750; font-size:15px;}
.GlobalFiltersBlock #Filter-Title:hover .Filter-Head{background: #172c42;}
.GlobalFiltersBlock #Filter-Title i.zmdi{width:auto; margin:0 0 0 6px; position:relative; top:3px; font-size:18px;} 

.GlobalFilters{margin:10px 0px 0px 0px; border:1px solid rgba(138, 138, 138, 0.43); padding:10px 0 15px 0; border-radius:5px; background:#f8f8f8;}
.GlobalFilters .FilterFiled{width:20%; float:left; padding:0 15px;}
.GlobalFilters .FilterFiled label{font-size:14px; color:#000; margin-bottom:3px;}
	
.btn-info{background-color:#A38AC0; border-color:#A38AC0;}
.btn-info:hover{color: #fff; background-color: #9070b5; border-color:#9070b5;}

.DashGraphBlock .container-fluid{padding-left:7.5px; padding-right:7.5px;}
.DashGraphBlock .container-fluid .rdResponsiveColumn{padding-left:7.5px; padding-right:7.5px;}
.DashGraphBlock .DashGraphSec{margin-top:15px;}
.DashGraphBlock #divAccPrctSpend,
.DashGraphBlock #panel_ServPrct{ min-height:510px;}

.DashGraphHead{ width:100%; display:inline-block; padding:4px 15px 4px 15px; min-height:57px;}
.DashGraphTitle{color:#363B42; font-size:24px; font-weight:normal; font-family:Segoe UI;}
.DashGraphFiled{margin-top:5px;}
.DashGraphFiled > span{float:left;}
.DashGraphFiled .FiledText{color:#363B42; font-size:18px; font-weight:500; font-family:Segoe UI; margin:2px 5px 0 0;}
.DashGraphFiled .form-control{padding:5px 5px; font-size:16px; height:auto !important;}

/* Data Table Design Css*/
table.listTable{ 
    font: normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#000000;
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent; 
	border:1px solid #dee2e6;
	padding:0px;}
	
table.listTable thead,
table.listTable thead th{  
	border-bottom: 2px solid #dee2e6;}

table.listTable thead th{
	font-size:11px;
	color: #333333;
	background-color: transparent;
	font-weight: 600;}
	
table.listTable th,
table.listTable td{
	background-color:#fff;
	border: 1px solid #dee2e6;
	padding: 0.3rem;}
	
table.listTable tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

table.listTable>tbody>tr:nth-of-type(odd)>td {
    background-color: #f9f9f9;
}

table.paging{width:100%; margin-top:0px; margin-bottom:0px; font-size:11px;}
table.paging td{text-align:right;}
table.paging .rdThemePagingCurrent{width:40px; margin:0 3px 0 5px;  padding:5px; position:relative; top:2px;}

#ExportBtns{display:inline-block; width:100%; text-align:center; margin:15px 0;}

.RepotTitleHead{width:100%; display:inline-block; margin-top:8px; margin-bottom:20px;}
.RepotTitleHead .customTitle{width:100%; margin-bottom:8px; display:inline-block;}
.RepotTitleHead .carrier-filter{width:100%; display:inline-block; text-align:left; font-size:15px; color: #69119c;}
.customTitle{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
color: #212529;} 
.customTitle h4{margin-bottom:0px; float:left;}
.customTitle .Sub-page-title{float:left; margin-left:2px}
.customTitle .Sub-page-title h4{font-weight:normal;}

table.CenterAlignObject,
table .CenterAlignObject{padding:0px;}

#StandardReports>table,
#StandardReports>table>tbody,
#StandardReports>table>tbody>tr,
#StandardReports>table>tbody>tr>td{width:100%; display:inline-block;}
#StandardReports>table>tbody>tr>td rdcondelement1{width:100%; display:inline-block; overflow-x:auto; margin-bottom:15px;}
#StandardReports>table>tbody>tr>td rdcondelement1 table.listTable{margin-bottom:0px;}

.SummaryTable{margin-bottom:15px;}
.SummaryTable table{margin-bottom:0px;}

.table-responsive{margin-bottom:15px;}
.table-responsive table{margin-bottom:0px;}

.SMCosmosDetail{max-width:520px; margin:0 auto;}
.SMCosmosDetail table{width:100%;}
.SMCosmosDetail #Package_tbl>tbody>tr>td{padding:0px !important;}
.SMCosmosDetail .RepotTitleHead .customTitle{margin-bottom:0px;}

.SMSNewsPopup{padding:15px; max-width:980px; border-radius:5px; overflow:hidden;}
.SMSNewsPopup .customTitle{  width:100%;}
.SMSNewsPopup .customTitle h4{    
	color: #90989e;
	font-weight: bold;
	font-size: 20px;} 
.SMSNewsPopup .customTitle .close{padding:9px 5px 9px 5px; display:inline-block; outline:none;}
.SMSNewsBlock{    
	width: 100%;
	display: inline-block;
	padding: 15px 15px 0px 390px;
	margin-bottom: 20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08)!important;
	border-radius: 5px;
	position: relative;} 	
.SMSNewsImage{ 
    background-size: cover !important;
    background-position: center 50%;
    background-repeat: no-repeat;
    width:370px;
    height:100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px 0 0 8px; 
	-moz-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;}
.SMSNewsContent .SMSTopicTitle{
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #90989e!important;
	text-transform: uppercase;}
.SMSNewsContent h6{
    color: #000;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 700;}
.SMSNewsContent .SMSNewsLines{    
	font-size: 15px;
	margin-bottom: 14px;
	color: #222;}	
.SMSNewsContent .SMSNewsLines .author-link{
	color: #682cad;
	text-decoration: underline;}

.SMSNewsBtn a{display:inline-block; margin:9px 12px 0 0; border:none !important; background-color:inherit !important;}
.SMSNewsBtn .btn{ 
    background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.7);
	padding: 6px 12px;
	font-size: 14px;} 
.SMSNewsBtn a:focus, 
.SMSNewsBtn .btn:focus{outline:none; box-shadow:none; }
.SMSNewsBtn a:hover .btn{
color: rgba(255, 255, 255, 0.9);
border-color: rgba(255, 255, 255, 0.7); 
background-color: rgba(255, 255, 255, 0.2);}

#Sidebar .SMSNewsBtn{display:none; text-align:center;}
#Sidebar .SMSNewsBtn a{margin:0px;}
#Sidebar .SMSNewsBtn a span{width: 100%;
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    background: transparent;
    text-transform: capitalize;
    font-size: 15px;}
#Sidebar .SMSNewsBtn a:hover span{background: rgb(172, 150, 199);}


#btnLogout{border: 1px solid #000000; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; 
float:left; min-width:85px; padding: 6px 10px; font-size: 15px; position:relative; margin:2px 0 0 5px;}
#btnLogout:hover{background-color:#A38AC0 !important;}

.DynamicCName{width:100% !important; border-left:none !important; padding:8px !important; display:none !important;  
border-top:1px solid rgba(255, 255, 255, 0.1); background:#172C42; color:rgba(255,255,255,0.5) !important; text-align:center;}

/*Media Query Responsive Css*/
@media (max-width: 1199px){
	.DashboardTitle{margin-right:0px;}
	.DashboardTitle .page-title h4{ margin-bottom:0px;}
	.DashboardFilter{ margin-top:10px;}
	.GlobalFilters{ padding-bottom:10px;}
	.GlobalFilters .FilterFiled{width:33.33%; margin-bottom:10px;} 
}

@media (max-width: 991px){
	#StandardReports>table>tbody>tr>td rdcondelement1,
	.table-responsive{border:1px solid #dee2e6;} 
	.SummaryTable table{width:100% !important;}
	
	.SMSNewsBtn{display:none;}
	.SMSNewsBlock{padding-left:15px; text-align:center;}
	.SMSNewsBlock .SMSNewsImage{border-radius:8px; height:150px; position:relative; display:inline-block; margin-bottom:10px;}
	.SMSNewsBlock .SMSNewsContent h6{text-align:center;}
	
	#Sidebar .SMSNewsBtn{display:block;}
}

@media (max-width: 767px){
	.navbar.fixed-top .navbar-brand{padding:4px 10px 4px;}	
	.classic-btn{margin-right:10px;}
	.fsButtons{bottom:10px;}	
	
	#Home{border-left:0px; float:left;}
	.ReportMaster #Sidebar{top:91.5px; bottom:0px; padding-bottom:0px;} 
	.ReportMaster .ReportHeader{text-align:center;}
	.ReportHeader{flex:inherit; display:inline-block; padding:3.5px 0 0 0 !important; width:100%;}
	.ReportHeader .navbar-brand{margin-top:2px;}
	.ReportCloseBtn{float:right; display:block;} 
	
	#DashLabel_id{margin-top:0px;} 
	.DashboardTitle .DashButton{ text-align:center !important; margin-top:15px; width} 
	.DashboardTitle .DashButton .btn{width:100%;}
	.DashboardFilter{margin-top:8px;}
	
	.GlobalFiltersBlock{text-align:center;} 
	.GlobalFiltersBlock > a span{width:100%;}
	.GlobalFilters .FilterFiled{width:100%; margin-bottom:10px;}

	.DashGraphBlock #divAccPrctSpend,
	.DashGraphBlock #panel_ServPrct{ min-height:inherit;} 
	
	#btnLogout{width:98%; margin:8px 0 0 0;}
	.DynamicCName{display:block !important;}
	.master-content .content-wrapper{top:90px !important; min-height:calc(100% - 106px) !important;}
}

@media (max-width:370px){
	.navbar.fixed-top .navbar-brand img{max-width: 120px;}
	.DashGraphHead{text-align:center;} 
	.DashGraphHead .DashGraphTitle{width:100%; display:inline-block;}
	.DashGraphHead .DashGraphFiled{float:none; display:inline-block;}
}