/*Material*/
body.Material, .Material .navbar {
	font-weight: 400;
}
.Material .bg-info.navbar.fixed-top {
    background: linear-gradient(to bottom right, #17a2b8, #1ab6cf);
}
.Material .masthead {
	background-color: #17a2b8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#148ea1), to(#17a2b8));
    background-image: -webkit-linear-gradient(top, #148ea1 0%, #17a2b8 100%);
    background-image: -o-linear-gradient(top, #148ea1 0%, #17a2b8 100%);
    background-image: linear-gradient(to bottom, #148ea1 0%, #17a2b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#148ea1', endColorstr='#17a2b8', GradientType=0);
    background-repeat: repeat-x;
}
.Material .feature-icon {
	background-color: #e7f5f7;
}
.Material .feature-icon [class*=fa-] {
	color: #17a2b8;
}
.Material .daterangepicker .input-mini {
    width: 85%;    
}
.Material .daterange {
	border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    height: 2.1rem;
    width: 98%;
    font-size: 1rem;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    padding: 0 12px;
}
.Material .daterange:focus {
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851; 
}
.Material ul.tagit li.tagit-choice-editable {
    padding: .6em 18px .5em .5em;
}
.Material .navbar  .form-control {
	height: 1.5rem;
}
.Material a.masthead-link, .Material a.masthead-link:link, .Material a.masthead-link:visited {
	color: rgba(0,0,0,.4) !important;
}
.Material a.masthead-link:hover {
	color: rgba(0,0,0,.8) !important;
}
.Material .btn.btn-link {
	color: #337ab7 !important;
}
.Material .btn.btn-link:hover {
	color: #0056b3 !important;
}
.Material .rd-checkboxlist-caption {
	margin-left: 10px
}
.Material select.rdThemeInput {
	border-radius: 0;
}
.Material .navbar {
  padding-right: 0 !important;
}
.position-relative {
	position:relative
}
/*END Material*/
/*.navbar.fixed-top .navbar-brand>img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}*/
#dvExamples {
	position: relative;
}
#dvCopy > .ThemeBold {
    font-size: 95%;
}
.show-grid {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(223, 225, 241, .7);
    border: 1px solid rgba(84, 82, 153, .2);
}
.display-1 > h1, .display-1 > h2, .display-1 > h3, 
.display-1 > h4, .display-1 > h5, .display-1 > h6 {
	/*display: inline-block;*/
	margin-right: auto;
}
.panel-heading, .card-header {
    font-weight: 600;
	font-size: 14px;
}
.panel-heading > h3, .panel-heading > .h3, .panel-heading > h4, .panel-heading > h5, .panel-heading > .h5, .panel-heading > h6, .panel-heading > .h6
, .card-header > h3, .card-header > .h3, .card-header > h4, .card-header > h5, .card-header > .h5, .card-header > h6, .card-header > .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
	font-weight: 400;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
select.rdThemeInput, select.rdDataCalendarDropdown {
	border-color: #ced4da;
}
label span {
	font-weight: normal;
}
.list-unstyled a > span > strong {
	color: #292E3C;
}
.cursor-pointer {
	cursor: pointer;
}
.icon-pre {
	padding-left: 75px;
	padding-right: 75px;
}
.rdPopupPanel > tbody > tr > td {
	padding: 8px;
}
.rdPopupPanel > tbody > tr > td {
	padding: 0px;
}
.rdPopupPanel .modal-header, .rdPopupPanel .modal-footer {
	padding: 8px;
}
.highlight {
	border: 2px solid #719ECE;
    outline: none !important;
}
#dvExamples .fixed-bottom, #dvExamples .fixed-top {
    position: relative;
	top: auto;
    margin-right: -15px;
    margin-left: -15px;
	margin-bottom: 0;
}
#dvExamples .fixed-top {
	top: -15px;
    z-index: 2;
}
#dvExamples .fixed-bottom {
	bottom: -15px;
	z-index: 0;
}
#dvExamples .nav-sidebar {
    position: absolute;
	display: block;
	z-index: 1;
	max-height: 153px;
	top: 8em;
}
#dvExamples .nav-sidebar.Closed {
	display: none;
}
#dvExamples .nav-sidebar.Open ~ .navbar.bottom {
    margin-left: -15px;
}
#dvExamples .nav-sidebar.Open ~ .navbar.bottom > .navbar-text {
    margin-left: 18em;
}
.progress+.progress {
	margin-top: 10px;
}
.rd-checkboxlist-popup {
	padding: 10px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.code-inline code {
	display: inline;
}
.control-label {
	margin-left: 5px;
	margin-right: 5px;
}
#btnCopyGroupedPanels {
	margin-top: -45px;
}
.bs-callout .lead {
    font-size: 18px;
}

.bs-callout > ul > li > h4 {
	margin-bottom: 2px;
	font-size: 16px;
}
.bs-callout > ul > li > div {
	font-size: 13px;
}
.panel-heading .help-block, .card-heading .help-block {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.icon-section {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.icon-section p.lead {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	font-size: 2rem;
}
.icon-container {
	cursor: pointer;
	text-align: center;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
	margin: 10px 0;
}
.icon-container:hover {
	background-color: #fff;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .5s cubic-bezier(.165,.84,.44,1);
    transition: all .5s cubic-bezier(.165,.84,.44,1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 2px 5px rgba(0,0,0,.4)!important;
}
.icon-container [class^="ti-"], .icon-container [class*=" ti-"],
.icon-container [class^="fa-"], .icon-container [class*=" fa-"],
.icon-container [class^="glyphicon-"], .icon-container [class*=" glyphicon-"] {
    font-size: 30px;
    color: #000;
    /*position: absolute;*/
    transition: .3s;
    border: none;
    padding: 0;
    color: #6b6b6b;
	
	display: block;
    padding: .5rem;
}

.icon-name {
    color: #6b6b6b;
    /*margin-left: 35px;*/
    font-size: .8rem;
    transition: .3s;
	display: block;
}
.icon-container:hover [class^="ti-"], .icon-container:hover [class*=" ti-"],
.icon-container:hover [class^="fa-"], .icon-container:hover [class*=" fa-"],
.icon-container:hover [class^="glyphicon-"], .icon-container:hover [class*=" glyphicon-"] {
    /*font-size: 2.2em;
    margin-top: -5px;*/
	background-color: #4dadf7;
}

#lstGrpAffix {
	min-width: 120px;
}
#lstGrpAffix > li > a {
    border: 1px solid #E5E5E5;
    border-bottom: none;
    padding: 8px 14px;
}

#lstGrpAffix > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

#lstGrpAffix > li:last-child > a {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #E5E5E5;
}

#lstGrpAffix > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
    color: #fff;
    background: #0088cc;
}

#lstGrpAffix > li > a:hover {
    background: #0088cc;
    color: #fff;
}

#lstGrpAffix.affix {
    top: 100px;
}

#lstGrpAffix.affix-bottom {
    bottom: 200px;
    position: absolute;
    top: auto;
}
.min-ht-105 {
	min-height: 105px;
	vertical-align: middle
}
.min-ht-125 {
	min-height: 125px;
}
.blur {
	transition: all 0.500s ease-out;
	-webkit-filter: blur(5px) grayscale(0.5);
}
.mh-100 {
	min-height: 120px;
}
.height-100 {
	min-height: 100px;
}
.line-ht-2 {
    line-height: 2;
}
#dvBorders [class^=border] {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f5f5f5;
    border: 1px solid;
}
.bg-white {
	background-color: #fff !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}
.card-footer .pre-well {
	overflow: hidden;	
	max-height: 105px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; 
	cursor: zoom-in;
	position: relative;
    height: auto;
}
.card-footer .pre-well:hover, .pre-well:hover pre {
	background-color: rgba(0,0,0,.1);
}
.card-footer .pre-well.expand {
	overflow: visible;	
	cursor: zoom-out;
}
/*Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>*/
pre, .pre-well {
    padding: 0;
	background-color: #f7f7f9;
    /*border: 1px solid #e1e1e8;*/
	min-height: 2.5em;
    padding-right: 25px;
}
.pre-well pre, .panel-footer pre, .panel-footer .pre-well, .card-footer pre, .card-footer .pre-well {
	/*border-width: 0px;
	border-color: transparent;
	background-color: transparent;*/
    padding-right: 0;
	margin-bottom: 0;
	
}
pre>code {
    padding: 9.5px;
    margin: 0;
    font-size: 95%;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.mh-500 {
	overflow-y: auto;
	overflow-x: hidden;	
	max-height: 500px
}
.panel-footer pre, .card-footer pre {
	padding-left: 10px;
	padding-top: 5px;
}
.panel-footer .btnCopy, .card-footer .btnCopy {
	margin-top: -1px;
	margin-right: -1px;
}
.more-info {
	cursor: help;
	border-bottom: 1px dotted #777;
	color: #292E3C;
}
.more-info:hover {
	text-decoration: none;
}
.pointer, .box {
	cursor: pointer;
}
.embed-responsive-howto {
    padding-bottom: 51%;
}
video {
    width: 100%;
}
pre {
	white-space: normal;
}
.card-footer pre {
	border-radius: 0 0 -webkit-calc(0.25rem - 1px) -webkit-calc(0.25rem - 1px);
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.rdPopupPanelTitle {
	padding: 8px;
}
.popupPanelContainer .rdPopupPanelTitleCaption {
    font-weight: normal;
    margin-bottom: 5px;
	font-size: 18px;
}
.popupPanelContainer .close {
    padding-right: .2em;
}
.copy-wrapper {
     padding: 10px;
     margin: 0;
     padding: 0;
     position: relative;
}
.btnCopy {
	position:absolute;
	top:0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 4px 6px;
    font-size: 16px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}
.panel-footer .btnCopy, .card-footer .btnCopy {
    border-radius: 0 0 0 4px;
}
.btnCopy:hover, .btnCopy:focus {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
fieldset > div, fieldset > .panel, fieldset > div, fieldset > .card {
	margin-left: 15px;
	margin-right: 15px;
}
legend {
    margin-bottom: 15px;
}
#lstGrpAffix > li > a {
    border: 1px solid #E5E5E5;
    border-bottom: none;
    padding: 8px 14px;
}

#lstGrpAffix > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

#lstGrpAffix > li:last-child > a {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #E5E5E5;
}

#lstGrpAffix > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
    color: #fff;
    background: #0088cc;
}

#lstGrpAffix > li > a:hover {
    background: #0088cc;
    color: #fff;
}

#lstGrpAffix.affix {
    top: 100px;
}

#lstGrpAffix.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
}

#gMapStying {
    position: relative;
    border-radius: 5px;
    margin: 0 1em 1em 1em;
    box-shadow: rgba(0,0,0, 0.55) 7px 14px 14px;
    border: 1px solid #eee;
}
#divMap > .btnCopy, #divMap > a > .btnCopy {
	margin-right: 13px;
	padding: 14px;
	background: #fff;
}
#divMap > .btnCopy, #divMap > a > .btnCopy:hover {
	background: #286090 !important;
	color: #fff !important;
	
}
.documentation {
	margin-top: -8px;
	margin-bottom: 5px;
}
.bs-callout > ul > li > div {
	padding-left: .8em;
}
.remove-margins {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -10px;
}
.mobile-screen {
	width: 450px;
	margin: 0 auto;
}
.help {
    margin-left: 5px;
    margin-bottom: 5px;
	font-size: 16px;
}
.table-light > thead > tr > th, .table-light > tbody > tr > th, .table-light > tfoot > tr > th, 
.table-light > thead > tr > td, .table-light > tbody > tr > td, .table-light > tfoot > tr > td {
    border-top: 1px solid #f6f6f6;
}
iframe {
	border-color: #ddd !important;
}
.display-1>h1 {
    margin: 10px 0 0;
    font-size: 2.5rem;
	padding-bottom: 0;
}
/* xtra Small Screen */
@media (max-width: 767px) {
	.icon-section {
		display: block;
	}
	.icon-container {
		width: 100%;
	}
	.bs-callout {
		background: #fff;
		padding: 20px;
		margin: 20px 8px 20px 8px;
	}
	fieldset {
		margin-bottom: 0;
		padding: 0;
	}
	.display-1 > h1, .display-1 > h2, .display-1 > h3, 
	.display-1 > h4, .display-1 > h5, .display-1 > h6 {
		display: block;
	}
	.display-1 > h1 > small {
		display: none;
		padding-top: 5px;
	}
	.h1 > small {
		display: block;
		padding-top: 5px;
	}
	.table-responsive {
		border: 0px solid transparent;
	}
	pre, .pre-well, pre>code {
		font-size: 10px;
	}
	.callout {
		display: none;
	}
}
/* Small Screen */
@media (min-width: 768px) and (max-width: 991px) {
	.icon-container {
		width: 50%;
	}
	/*.lead {
		font-size: 19px;
	}*/
}

/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px) {
	.icon-container {
		width: 33%;
	}
	/*.lead {
		font-size: 19px;
	}*/
}

/* Large Screen */
@media (min-width:1200px){
	.icon-container {
		width: 20%;
	}
}

/*Default Report*/
.masthead {
	margin: -15px;
	position: relative;
	padding: 30px 0;
	color: #edeef4;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	background-color: #99545c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#99545c), to(#b07077));
	background-image: -webkit-linear-gradient(top, #99545c 0%, #b07077 100%);
	background-image: -o-linear-gradient(top, #99545c 0%, #b07077 100%);
	background-image: linear-gradient(to bottom, #99545c 0%, #b07077 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99545c', endColorstr='#b07077', GradientType=0);
	background-repeat: repeat-x;
}
.masthead .btn-head {
	border: 1px solid #bfc3e3 !important;
    padding: 15px 30px !important;
    font-size: 20px !important;
    color: #fff !important;
	background-color: transparent !important;
	min-width: 226px;
}
.masthead > .container > div {
	width: 144px;
    height: 140px;
	border: 1px solid #bfc3e3;
    border-radius: 15%;
	margin: 0 auto 30px;
	padding-top: 15px;
}
.masthead i {
    font-size: 130px;
	display: inline-block;
	margin-top: -40px;
}
.feature-icon {
    text-align: center;
    width: 130px;
    height: 130px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    background: #f1dfe1;
    margin: 0 auto 10px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
	min-height: auto !important;
}
.feature-icon [class*=fa-] {
    line-height: 120px;
	color: #99545c;
	font-size: 75px;
	display: inline-block;
	margin: 5px auto 0;
}
.doc-content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}
.content-wt {
  background-color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
}

.btn-group {
	margin: 5px;
}
@media (min-width: 768px) {
  .doc-content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .doc-content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .doc-content {
    width: 1300px;
  }
}
/* Masthead (headings and download button) */
.masthead .booticon {
  margin: 0 auto 30px;
}
.masthead h1, .masthead h2 {
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-align: center;
}
.masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #fff;
}
.masthead .version {
  margin-top: -15px;
  margin-bottom: 30px;
  color: #9783b9;
}
a.masthead-link, a.masthead-link:link, a.masthead-link:visited {
	color: #843534 !important;
	font-weight: 700;
	font-size: 15px;
	display: block;
	margin-top: 10px;
}
a.masthead-link:hover {
	color: #5c2524 !important;
	text-decoration: underline;
}
@media (min-width: 480px) {
  .masthead .btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .masthead {
    padding: 80px 0 60px;
  }
  .masthead h1 {
    font-size: 60px;
  }
  .masthead .lead {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .masthead .lead {
    width: 80%;
    font-size: 30px;
  }
}

.header {
  margin-bottom: 40px;
  font-size: 20px;
}
.header h1 {
  margin-top: 0;
  color: #fff;
}
.header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}
.header .container {
  position: relative;
}

@media (min-width: 768px) {
  .header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }
  .header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .header h1,
  .header p {
    margin-right: 380px;
  }
}
.modal-example {
	height: 300px;
	overflow: hidden;
}
.modal-example > .popupPanelModal {
    position: relative;
	width: 100% !important;
	height: 300px !important;
	z-index: 1;
}
.modal-example > .popupPanelContainer {
    position: relative;
    top: -250px !important;
    right: auto !important;
    bottom: auto !important;
    left: 50% !important;
	margin-left: -300px;
    display: inline-block;
	z-index: 3;
}

.modal-example > .popupPanelContainer>table {
	min-width: 300px;
}

@media (min-width: 1099px) {
}

@media (max-width: 1100px) {
	.modal-example > .popupPanelContainer {
		margin-left: 0px;
		left: 1% !important;
		width: 98%;
	}
}




.nav-pills .nav-link:not(.active) {
    background-color: #868e96;
    color: #fff !important;
}
.nav-pills .nav-link:not(.active):hover {
    background-color: #50555a;
}
.navbar-nav .dropdown-menu {
    position: absolute;
}


/*Start HighlightJS*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: black;
}
/*.hljs-tag {
  display: block;
}*/

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #2f6f9f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #d44950;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #4f9fcf;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*span.hljs-tag {
    display: inline-block;
    width: 93%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/
/*END HighlightJS*/