.clr {clear:both;}

/* ---------- HEADER ---------- */
#HeaderTop
{
	background:#BF1230 url('./Support_PNG.header-right-background@2x.png') right center no-repeat;	
	height: 65px;
	position: fixed;
	width:99%;
	z-index:100;
}
#HeaderTop span
{
	position: absolute;
	right: 20px;
	/*top: 15px;*/
	color: #ffffff;
	font-size: 18px;
	padding: 1px 8px;	
}
#HeaderBottom .logopanel
{
	background-color:#ffffff;
	height:60px; 
	position:fixed; 
	width:100%;
}

#HeaderTop .logo
{
	padding: 2px 20px;
	position: fixed;	
}

.ReportHeader
{
	margin: 0 auto;
	position: relative;
}
/* ---------- END OF HEADER ---------- */

/* ---------- SIDEBAR ---------- */

#Sidebar
{
    /*background-color: #cbcfd2; */
	float:left; 	
	height: 100%;
	width:99%;		
	position:fixed; 
	z-index: 88;
}

#Sidebar .primary1
{
	background: White url('./Support_JPG.PoweredBy.jpg') top center no-repeat;
	background-position: 50% 50%;
	border-right: 1px solid #DDD;
	float: left;
}

#Sidebar .primary2
{
	background-color: #cbcfd2;
	background-image: url('./Support_JPG.Hines_Map_Global_Presence.jpg');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 60% 90%;
	height: 100%;
	width: 95%;
	float: none;
	opacity: 0.3;
}
#Sidebar .parallax {
    background-image: url('./Support_JPG.Hines_Map_Global_Presence.jpg');
	background-repeat: no-repeat;
	background-position: right center;
	background-blend-mode: lighten;

    /* Set a specific height */
    height: 87vh;

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-size: contain;
}
#Sidebar .primary3
{
	background-image: url('./Support_JPG.Hines_Map_Global_Presence.jpg');
	background-size: 1680px 1050px;
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}
#Sidebar .reportmenu 
{
	margin:20px 20px 10px 10px; 
	float: left; 
	width:35%; 
	height:80%;
	font-size:12px;
	position:absolute;
	overflow-y:auto;
	overflow-x:hidden;
    scrollbar-face-color: #2C3E50;
    scrollbar-shadow-color: #2C3E50;
    scrollbar-highlight-color:#2C3E50;
    scrollbar-3dlight-color: #2C3E50;
    scrollbar-darkshadow-color: #2C3E50;
    scrollbar-track-color: #2C3E50;
    scrollbar-arrow-color: #2C3E50;
}

#Sidebar .reportmenuitems 
{
	color: Black; 
	font-size:20px; 
	font-weight:bold;	
	border-bottom: 1px solid #666;	
	white-space: nowrap;
}

#Sidebar .reportmenuitems a.active 
{
	background-color: #BF1230;
	color: Black; 
}

#Sidebar .reportmenuitems a:hover
{
	color: Black; 
	text-decoration: underline;
	font-weight: bold;
	color: Purple;
}

#Sidebar .reportmenuitems a 
{
	color: Black; 
	font-size: 12px; 
	line-height: normal; 
	text-decoration: none;
	padding: 10px 15px;
	font-weight: normal;
}

/* ---------- SIDEBAR ---------- */

/* ---------- BODYBAR ---------- */
#Bodybar
{
    background:#ffffff; 
	float:right; 	
	height: 100%;
	position:fixed; 
	width:100%;		
/*	z-index: 88;*/
}

#Bodybar .primary
{
	background: #ffffff url('./Support_JPG.Hines_Web_Usage.jpg') top center no-repeat; 	
	background-position: 60% 45%;
}


/* ---------- BODYBAR2 ---------- */
#Bodybar2
{
    background:#ffffff; 
	float:right; 	
	height: 100%;
	position:fixed; 
	width:100%;		
/*	z-index: 88;*/
}

#Bodybar2 .primary
{
	background: #ffffff url('./Support_JPG.PoweredBy.jpg') top center no-repeat; 	
	background-position: 60% 45%;
}


/* ---------- MAIN CONTENT  ---------- */

.ContentContainer
{
	width: 100%;
	float:right;
	margin: 0 -300px 0 auto;  /*right margin set to -250px to offset the fixed width of the sidebar which is 300px.
								This correctly positions the maincontent fluid div in relation to the sidebar.*/
}

/* ---------- PARAMETERS ---------- */

.ParameterContent
{
	width:80%;	
	z-index: 2;
	margin: -40px 0 auto 20px;
}
.ParameterContent .parameters
{
	float:left; 
	margin:15px 0 15px 30px; 
	width:80%;
}
.ParameterContent .parameters.fullWidth 
{
	width:80%;
}

.fullWidth 
{
	width:100%;
}


.ParameterContent .ParameterContainer
{
	width:80%; 	
}

.ParameterContent .ParameterLabels
{
	width: 45px;
	height: 30px;	
	color: #363b42;	
	margin-left: 10px;
}

.ParameterContent .ParameterInput
{
	width: 300px;
	right: 10pt;
	color: #363b42;	
	float: left;
	/*z-index: 1;*/
}

.ParameterContent .ParameterInputFiscalYear
{
	color: #363b42;	
	margin-top: 3px;	
}

.ParameterContent .ParameterFiscalYearInputLabel
{
	width: 300px;
	padding-left: 20px;				
}

.ParameterContent .GenerateButtonContainer
{
	width:80%;
	
}

.ParameterContent .Generatebutton
{
	background-color: #363B42;
	color: #ffffff;	
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	width: 150px;
}

.BookmarkActions
{
	background-color: #363B42;
	color: #ffffff;		
	border-radius: 5px;
	width: 100px;
	text-align: center;
}

/* ---------- END OF PARAMETERS ---------- */

table, .reportmenu, .rdDashboard, .rdDashboard table 
{	
	font-size : 12px;
/*	color: #ffffff; -- MR*/
	color: Black;
}

/* ---------- GRID CONTENT ---------- */

.GridContent
{
	width:80%;	
	margin: 10px 0 auto 20px;
	z-index: 2;
}

.divGridActions
{
	color: #363b42;
	width:80%;		
	margin: 50px 0 auto 20px;		
}
.divGridActions a,
.divGridActions span
{
	display: inline-block;
	padding: 5px;
}
.GridContent .AnalysisGrid
{
	width: 100%;	
}
.GridContent .divGridLabel
{
	float: left;
	position: fixed;
	color: #363b42;
}
.GridContent .divGridLabel span
{
	color: #2C3E50;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	left: 350px;
}
.divGridAlignRight
{
	align: right;
}

/* ---------- END OF GRID CONTAINER ---------- */

/* ---------- 1024 x 768 ---------- */
@media (max-width: 768px)
{
	.GridContent{
		margin-top:50%;		
		z-index: 2;
	}
	
	.reportmenuitems 
	{
	color:#ffffff; 
	font-size:12px; 
	font-weight:normal;	
	overflow: hidden; 	
	}
}
/* ---------- END OF 1024 x 768 ---------- */

.rd-checkboxlist, .rd-checkboxlist-dropdown
{
	color: #363b42;	
	margin-left: 3px;
}
.rd-checkboxlist-popup {
  border: 1px solid;
  color: #434343 /*InputBoxFontColor*/ ;
  border-color: #CCCCCC /*InputBoxBorderColor*/ ;
  background-color: #FFFFFF /*InputBoxBackground*/ ;
  padding: 3px;
}
.rd-checkboxlist ul li span {
  color: #434343 /*InputBoxFontColor*/
}

.rdThemeDataTableCell
{
	color: #363b42;	
}


.rdThemeInput
{
	font-size: 14px;
}

.columnheader
{
	width: 120px;
	border-style: none;
}

.VarianceIndicator
{
	text-align: center
}


.BookmarkOrganizer
{
	width: 300px
}

.BookmarkOrganizer .displaycolumns
{
	display:block;
}

.BookmarkOrganizer .bookmarkheader
{
 	text-align: center;
	background-color: #BF1230;
}

/*--Scheduler */
.rdSchedule, .rdSchedule INPUT, .rdSchedule SELECT, .rdSchedule TABLE
{
}

.rdSchedule TABLE
{
	border-collapse: collapse;
	border-width: 0px;
	/*background-color: AliceBlue; /* add BG color so element is obvious */
	color: Black;
}

.rdScheduleVAlign
{
	vertical-align: top;
}

.rdScheduleFloatRight
{
	float: none;
	padding-left: 5px;
	margin-left: 5px;
}

.rdScheduleFloatLeft
{
	float: left;
	margin-right: 4px;
}

.rdScheduleColumnGap
{
	width: 10px;
}

.rdSchedule IMG
{
	border: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.rdScheduleHidden
{
	display: none;
}

DIV.rdScheduleXml
{
	font-family: Courier New;
	border: solid 1px dimgray;
}

.rdScheduleTdRight
{
	text-align: right;
}


.Overline {
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

.CustomWhiteout {
	color:white;
}
.CustomBold {
	font-weight: bold;
}
.CustomBoldBorder {
	font-weight: bold;
	border-top : medium solid black;
	border-bottom : medium solid black;
	display: block;
	text-align: right;
}
.CustomBoldBorderThin {
	font-weight: bold;
	border-top: thin solid black;
	border-bottom: thin solid black;
	display: block;
	text-align: right;
}
.CustomBoldBorderText {
	font-weight: bold;
	border-top : medium solid black;
	border-bottom : medium solid black;
	display: block;
	text-align: left;
}
.CustomBoldBorderThinText {
	font-weight: bold;
	border-top: thin solid black;
	border-bottom: thin solid black;
	display: block;
	text-align: left;
}

tr.ThemeAlternatingRow td, .rdAg tr.ThemeAlternatingRow td, .rdAgDataTable tr.ThemeAlternatingRow td, .rdThemeDataTable tr.ThemeAlternatingRow > td {
  	background-color: #FFFAF0;
  	color: Black;
}
.rdThemeDataTableGroupSummaryRow td {
	/*background-color: #BFDD9D;*/
	color: Black;
  	padding: 3px;
}
.rdThemeDataTableSummaryRow td {
	padding-left: 10px;
	padding-right: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: LightGray;
	border-top: 1px inset Black;
	border-bottom: 1px inset Black;
}
.srRollup4 td, .srRollup5 td {
	padding-left: 10px;
	padding-right: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: LightGray;
}
/* -- these classes used for scrolling data table rows -- */

.scrollingTableDiv { height: 75vh; overflow: scroll } /* height of scrolling area */
.scrollingTableDiv2 { height: 65vh; overflow: scroll } /* height of scrolling area */
.scrollingTableOF { height: 45vh; overflow: scroll }
.scrollingTableDiv_65_95 {height: 65vh; width: 95vw; overflow: scroll}

.tableContainerDiv { 
	width: 1550px;
	border-collapse: collapse; 
	background: #f1f1f1; /* colored square right above scrollbar */
	border: 1px solid #fff; 
	color: #fff;
	text-align: left;
}
.tableContainerDiv TD { border: 1px solid #fff; color: #fff; }

.specialTable { width: 1400px; border-collapse: collapse; }  /* table width less scrollbar width */
.specialTable TD { color: #000; }
.specialTable TH { text-align: left; }

.FontTNR-20-bold-italic {
	font-family: Times New Roman;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

.FontTNR-18-bold-italic {
	font-family: Times New Roman;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}

.FontTNR-16-bold-italic {
	font-family: Times New Roman;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.rdThemeDataTableGroupHeaderRow0 td {
    background-color: White;
	font-style: italic;
}
.rdThemeDataTableGroupHeaderRow1 td {
    background-color: White;
	font-style: italic;
}
.rdThemeDataTableGroupHeaderRow2 td {
    background-color: White;
	font-style: italic;
}
.rdThemeDataTableGroupHeaderRow3 td {
    background-color: White;
	font-style: italic;
}
.rdThemeDataTableGroupHeaderRow4 td {
    background-color: White;
	font-style: italic;
}
.rdThemeDataTableGroupHeaderRow5 td {
    background-color: White;
	font-style: italic;
}

.footerSticky { 
  position: fixed; 
  bottom: 0px; 
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  color: #999999; 
  font-size: 5pt;
}

.reportFooter
{
	background-color: #f9efef;
	color: #999999;
  	font-size: 5pt;
	height:50px;
	bottom: 0px;
	margin-bottom: 10px;
	position:fixed; 
	width:100%;
}
.fontColorRed {
	color: Red !important;
}
.fontColorGreen {
	color: Green !important;
}

.backgroundColorGrey {
	background-color: LightGrey;
	padding: 2px 10px;
}

.columnHeaderColorLightBlue {
	background-color: LightBlue;
	color: Black;
}
.columnHeaderColorLightCoral {
	background-color: LightCoral
	color: Black;
}
.columnHeaderColorLightCyan {
	background-color: LightCyan;
	color: Black;
}
.columnHeaderColorLightGreen {
	background-color: LightGreen;
	color: Black;
}
.columnHeaderColorLightPink {
	background-color: LightPink;
	color: Black;
}
.columnHeaderColorLightSalmon {
	background-color: LightSalmon;
	color: Black;
}
.columnHeaderColorLightYellow {
	background-color: LightYellow;
	color: Black;
}
.buttonColorBlue {
	color: Blue !important;
	font-weight: normal;
	background-image: none;
	background-color: DarkGray /*#F9F9F9*/;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
	white-space: no-wrap;
	vertical-align: baseline;
	font-size: 110%;
    padding: 6px 10px 6px 10px;
    margin: 3px 6px;
    border-color: #D1D1D1 !important;
    border: 1px solid;	
}
.btnColor {
	background-color: Green;
}
.scrollingMenuDiv { /* height of scrolling area */
	width: 320px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.columns {
 column-count: 4;
 column-gap: 10px; 
}

th.rdAgDataTablexx {
    background-image: none;
    background-color: LightBlue /*TableColumnHeaderBackgroundColor*/ !important;
    color: #434343 /*TableColumnHeaderFontColor*/ !important;
    font-size: 100%;
    font-weight: bold;
}
/*
#dt01.rdThemeDataTable>tbody>tr.rdThemeDataTableGroupHeaderRow1 {
	display:none
}
#dt01.rdThemeDataTable>tbody>tr.rdThemeDataTableGroupHeaderRow2 {
	display:none
}
#dt01.rdThemeDataTable>tbody>tr.rdThemeDataTableGroupHeaderRow3 {
	display:none
}
#dt01.rdThemeDataTable>tbody>tr.rdThemeDataTableGroupHeaderRow4 {
	display:none
}
#dt01.rdThemeDataTable>tbody>tr.rdThemeDataTableGroupHeaderRow5 {
	display:none
}

#dt01.rdThemeDataTable>tbody>tr{
	display:none
}
#dt01.rdThemeDataTable>tbody>tr.rdThemeDataTableGroupHeaderRow0 {
	display: table-row;
}
*/




.fontA12 {
	font-size: larger
}



/* New by Softweb */
.showDetails{
	display:block;
}
.hide{
	display:none;
}
.chk_Header, .chk_Footer, .chk_Details{
    vertical-align: middle;
	/*border-spacing:0px !important;*/
}


.hideRows{
 	border-spacing:0px !important;
	/*background-color: #F3F3F3 !important;
    color: #434343 !important;*/
	/*border-spacing:0px !important;*/
	 /*display: table-header-group;*/
}
.showRows{
	background-color: #DCDCDC /*TableBorderColor*/;
    border-radius: 0px;
	border-spacing:1px !important;
    /*border-spacing: 1px;*/
}
.margin10P{
	margin-right: 10%;
}
.levelFilterChk{
	/*margin-top:5px;*/
	padding-top: 4px;
    margin-left: 3px;
    vertical-align: top;
}
.alignRight{
	text-align:right;
	/*flot:right;*/
}
.floatLeft{
	float:left;
}
.fullwidth{
	width:100%;
}
.width33P{
	width:33%;
}
.text-align-center{
	text-align:center;
	margin: 0px 3px 3px;
}

#allChkDiv ,#divLevel ,#divShowHeader ,#divShowFooter {
	border-bottom:1px solid  black;
}

#detailsChkDiv{
	border-top:1px solid black;
	margin-top:6px;
}

.showRowsTest{
	border-spacing:1px !important;
	border:1px solid !important;
	border-collapse: collapse;
	border-color:#DCDCDC !important;
	/*background-color: #DCDCDC !important;*/
    /*border-spacing: 1px;*/
}
.hideRowsTest{
	border:1px solid !important;
	border-collapse: collapse;
	border-color:#DCDCDC !important;
	    white-space: nowrap;
}

/*
.rdPopupPanelTitle table tbody tr td,
.rdPopupPanelTitle table tbody tr td span{
	background-color: #BF1230 !important;
	    color: white !important;

}	

.rdPopupPanelControl a{
	color:white !important;
}

.rdPopupContent span{
	color:white !important;
	
}
.rdPopupPanel{
background-color:#1A2930 !important;
}*/
.ThemeSuccessText {
    color: #FFFFFF /*ErrorFont*/ !important;
    border: 1px solid !important;
    border-color: DarkGreen /*ErrorBorder*/ !important;
    background-color: DarkGreen /*ErrorBackground*/ !important;
}
.ThemeWarningText {
    color: #FFFFFF /*ErrorFont*/ !important;
    border: 1px solid !important;
    border-color: DarkOrange /*ErrorBorder*/ !important;
    background-color: DarkOrange /*ErrorBackground*/ !important;
}
.rdDataCalendarDayLabelHighlight .rdDataCalendarDayLabelHighlight span {
    background-color: DarkOrange /*CalendarSelectionColor*/ !important;
}
.rdSpecialDataTable {
	zoom: 95%;
}
.textItalicRight {
	text-align: right !important;
	font-style: italic !important;
}
.textBoldRightPad {
	text-align: right !important;
	font-weight: bold !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}







.inputReadOnly {
    background-color: Gainsboro !important;
}
.inputHide {
	display: none !important;
}
.PopupPanelVAlignTop {
	vertical-align: top;
}
.tblHeight TABLE
{
	height: 50px;
	vertical-align: top;
}
.rdDataCalendarDay
{
    vertical-align: top;
    background-color: Bisque;
    width: 20%;
    height: 75px; /* default for any day's box */
	cursor: auto;
}
.rdDataCalendarDayLabelHighlight
{
	background-color: LightGreen !important;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	cursor: pointer;
}
.rdDataCalendarDayLabelHiliteCustom {
    vertical-align: top;
    background-color: BurlyWood !important;
    width: 20%;
    height: 75px; /* default for any day's box */
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	cursor: pointer;
}
.hoverPointer {
	cursor : pointer;
}
.colHeader {
	background-color: LightGrey;
	border-style: solid;
	border-color: White !important;
}
.colContentColorPowderBlue {
	background-color: PowderBlue;
	border-left-style: solid;
	border-left-color: White;
	border-right-style: solid;
	border-right-color: White;
}
.colContentColorBlanchedAlmond {
	background-color: BlanchedAlmond;
	border-left-style: solid;
	border-left-color: White;
	border-right-style: solid;
	border-right-color: White;
}
.colContentColorLightPink {
	background-color: LightPink;
	border-left-style: solid;
	border-left-color: White;
	border-right-style: solid;
	border-right-color: White;
}
.colContentColorHoneydew {
	background-color: Honeydew;
	border-left-style: solid;
	border-left-color: White;
	border-right-style: solid;
	border-right-color: White;
}
.logoRowHeight {
	height: 5vh;
}
.bookmarkRowHeight {
	height: 1vh;
}
.selectionRowHeight {
	height: 14vh;
}
.bodyRowHeight {
	height: 80vh;
	overflow: auto;
}
a, a:link {
    color: #5C4053 !important;
    text-decoration: underline !important;
}
.fa-disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}
.SSGrid {
	width: 99vw;
	height: 85vh;
	overflow: scroll;
}
.SSGrid2 {
	width: 99vw;
	height: 75vh;
	overflow: scroll;
}
.SSGridBanner {
	height: 3vh;
}
.SSGridFilter {
	height: 2vh;
}
.altRows td {
  	background-color: #FFFAF0;
  	color: Black;
}
.CustomTextSmallest {
	min-height: 70%;
	position: relative;
	font-size: 70%;
}
.noBorders {
	background-color: White;
}
.RowLogo {
	height: 3vh;
}
.RowBookmark {
	height: 3vh;
}
.RowSelections {
	height: 4vh;
}
.RowGrid {
	height: 82vh; 
	overflow: scroll;
}

.Verdana11 {
font-family: "Verdana", Geneva, sans-serif !important;
font-size: 11px !important;
} 
.HinesColor{
	background-color: #f5baba;
	color: #501c1c !important;
}
.HinesBGColor {
	background-color: LightGray !important;
}
.TALeft {
	text-align: left !important;
	padding-left: 10px;
	padding-right: 0px;
}
.TARight {
	text-align: right !important;
	padding-right: 10px;
}
.WWrap {
	word-wrap: break-word;
}