<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body>
<table "100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="logo" "100%"><img src="images/title.gif" "349" "39" border="0"></td></tr></table>
<div style="padding:10px;">

<h2><a name="_Toc382578243">Scheduling</a></h2>

<p class=MsoNormalCxSpFirst style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>Ad Hoc supports the scheduled execution of reports.
The System Administrator must configure the Ad Hoc instance to enable
scheduling. There are two major steps in the configuration of scheduling;
setting the credentials for the scheduler and enabling scheduling for each
database connection.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Scheduling refers
  to the unattended execution of a report and configuration of the scheduling
  service. Delivery of a scheduled report to end users is handled through
  email. Refer to the Emailing section for configuration information for an
  SMTP server.</b></p>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Both the scheduler
  service and the SMTP server access must be configured and enabled for reports
  to be scheduled through the Ad Hoc interface. If configured properly and
  enabled, the  Schedule  action will be available on the report list page of
  the instance.</b></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <b>Configure Scheduling</b> dialog may be
accessed by</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormalCxSpMiddle>Clicking on <b>Instance Configuration</b> and
     then <b>Scheduling</b></li>
 <li class=MsoNormalCxSpMiddle>Running the <b>Configuration Wizard</b> and
     selecting <i>Scheduling</i> under the <b>Advanced Options</b> button</li>
 <li class=MsoNormalCxSpMiddle>Clicking on <b>Instance Configuration</b>, then <b>Application
     Settings</b>, then the <i>Other Features</i> tab, and then the <b>Configure
     Scheduling</b> button</li>
</ul>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<span style='font-size:11.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormalCxSpMiddle>The <b>Configure Scheduling</b> dialog will be
displayed. </p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle><img border=0  
src="Mngt_Console_Usage_Guide_files/image036.jpg"></p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The first decision for the System Administrator
will be to use either the <i>Windows Task Scheduler</i> or the <i>Logi Ad Hoc
Scheduler Service.</i> The primary benefits of using the <i>Logi Ad Hoc
Scheduler Service</i> are 1) that it supports scheduling in a clustered
environment and 2) makes schedules easier to move in the event the instance is
migrated to a different server.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>If the <i>Windows Task Scheduler </i>(WTS) is
chosen, the dialog displayed above will need to be completed.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <i>Scheduler Account</i> and <i>Password</i>
provided must provide  administrator  permissions to the WTS sufficient to create,
update and delete schedules.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#FBD4B4;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b><i>Java -</i></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><i>The Logi
  Scheduling Service is the only option available.</i></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>If the <i>Logi Ad Hoc Scheduler Service</i> is
selected by clicking on the option, the dialog will change to</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle><img border=0  
src="Mngt_Console_Usage_Guide_files/image037.jpg"></p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <i>Server Name</i> is the server where the
Logi Ad Hoc Scheduler Service is installed.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <i>Password</i> and <i>Port Number</i> must
match the attributes in the <i>_Settings.lgx</i> file found in the root folder
of the <i>Logi Ad Hoc Scheduler Service</i>. Following is the typical XML
content of that <i>_Settings.lgx</i> file:</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle><span style='font-size:9.0pt;line-height:115%;
'>&lt;Setting&gt;</span></p>

<p class=MsoNormalCxSpMiddle><span style='font-size:9.0pt;line-height:115%;
'>  &lt;RemoteApi Port=&quot;56111&quot;
PassKey=&quot;myKey&quot; /&gt;</span></p>

<p class=MsoNormalCxSpMiddle><span style='font-size:9.0pt;line-height:115%;
'>&lt;/Setting&gt;</span></p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>The <b>Test Scheduler Settings</b> button uses the
credentials provided to create and remove a test schedule to verify the
information.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>In the bottom of the dialog is a panel with a list
of database connections. Scheduling is managed at the reporting database level.
To enable scheduling for reports based on a connected reporting database, check
the checkbox associated with the connection name. To enable or disable
scheduling for all connected reporting databases, click on the<i> Enable</i>
column header.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><i>Note:</i></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i>If <b>Multiple Connections</b> is enabled, the list of
  reporting database will not be displayed. In this case scheduling may be
  enabled/disabled for the Ad Hoc instance, not by reporting connection.</i></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<p class=MsoNormalCxSpMiddle>Click on the <b>OK</b> button to confirm the
scheduling configuration information.</p>

<p class=MsoNormalCxSpMiddle>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><i>Note:</i></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i>For information on how to install and configure the
  Logi Scheduler, see the online document <b>Introducing the Logi Scheduler for
  Ad Hoc.</b></i></p>
  </td>
 </tr>
</table>


<p class=MsoNormal><b><i>Switching Between Schedulers</i></b></p>

<p class=MsoNormal>In most environments, once the scheduler service has been
configured and users have scheduled reports the environment doesn t typically
change, however, there may be reasons to switch from one scheduler service to
another.</p>

<p class=MsoNormal>Mechanically, the process is very simple and can be
accomplished by selecting the opposite scheduler service and providing the
necessary credentials.</p>

<p class=MsoNormal>In that event, the MC will migrate the schedule information
to the target scheduler service. The WTS scheduler retains scheduling
information on the server. The Logi Scheduler retains the information in a
database within the physical folder of the service.</p>

<b><span style='font-size:13.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span></b>

<p><img src="images/arrowUp.gif" "7" "9">&nbsp;&nbsp;<a href="#">Back to top</a></p><p style="border-top: 1px #CDCDCD solid"></p><p class="copyright">Logi Ad Hoc Reporting &nbsp;&copy; Copyright 2004-2014 LogiXML, Inc. All rights reserved.</p></div>
</body>
</html>
