﻿body {
  background-color: #ffffff;
}
form[name="rdForm"] {
  margin-bottom: 0;
}
body {
    font-family: Arial, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    color: #ffffff;
    font-size: 100%;
    min-height: 100%;
    text-decoration: none;
    text-transform: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.ThemeHeaderLargest,
.ThemeHeaderLarger,
.ThemeHeaderLarge,
.ThemeHeader,
.ThemeHeaderSmall,
.ThemeHeaderSmaller,
.ThemeHeaderSmallest {
  text-align: center;
  min-height: 100%;
  position: relative;
}
p,
.ThemeTextLargest,
.ThemeTextLarger,
.ThemeTextLarge,
.ThemeText,
.ThemeTextSmall,
.ThemeTextSmaller,
.ThemeTextSmallest {
  min-height: 100%;
  position: relative;
}
table,
.rdDashboard,
.rdDashboard table {
  color: #3c3c3c;
  font-size: 100%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
#rdMainBody {
  font-size: 12px;
}
/*User classes*/
h1,
.ThemeHeaderLargest {
  font-size: 190%;
  font-weight: bold;
}
h2,
.ThemeHeaderLarger {
  font-size: 170%;
  font-weight: bold;
}
h3,
.ThemeHeaderLarge {
  font-size: 150%;
  font-weight: bold;
}
h4,
.ThemeHeader {
  font-size: 130%;
}
h5,
.ThemeHeaderSmall {
  font-size: 120%;
}
h6,
.ThemeHeaderSmaller {
  font-size: 100%;
  font-weight: 600;
}
.ThemeHeaderSmallest {
  font-size: 90%;
  font-weight: 600;
}
blockquote {
  font-size: 120%;
}
.ThemeBold {
  font-weight: bold;
}
.ThemeItalic {
  font-style: italic;
}
.ThemeTextLargest {
  font-size: 185%;
}
.ThemeTextLarger {
  font-size: 150%;
}
.ThemeTextLarge {
  font-size: 120%;
}
.ThemeTextNormal {
  font-size: 100%;
  color: #3c3c3c;
}
.ThemeTextSmall {
  font-size: 95%;
}
.ThemeTextSmaller {
  font-size: 90%;
}
.ThemeTextSmallest {
  font-size: 85%;
}
.ThemeTextPositive {
  color: #28b905;
}
.ThemeTextNegative {
  color: #7D0F0F;
}
.ThemeErrorText {
  color: #7D0F0F !important;
  border: 1px solid !important;
  border-color: #7D0F0F !important;
  background-color: #ffffff !important;
}
.ThemeNoWrap {
  white-space: nowrap;
}
.ThemePanel {
  padding: 12px;
  background-color: #ffffff;
  border-radius: 4px;
}
.ThemeHidden {
  display: none;
}
.ThemeAlignCenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.ThemeAlignLeft {
  text-align: left;
}
.ThemeAlignRight {
  text-align: right;
}
.ThemeAlignTop {
  vertical-align: top;
}
.ThemeAlignTopLeft {
  vertical-align: top;
  text-align: left;
}
.ThemeAlignTopRight {
  vertical-align: top;
  text-align: right;
}
.ThemeAlignBottom {
  vertical-align: bottom;
}
.ThemeAlignBottomLeft {
  vertical-align: bottom;
  text-align: left;
}
.ThemeAlignBottomRight {
  vertical-align: bottom;
  text-align: right;
}
.ThemeMarginLargest {
  margin: 72px;
}
.ThemeMarginLarger {
  margin: 36px;
}
.ThemeMarginLarge {
  margin: 12px;
}
.ThemeMargin {
  margin: 6px;
}
.ThemePaddingLargest {
  padding: 72px;
}
.ThemePaddingLarger {
  padding: 36px;
}
.ThemePaddingLarge {
  padding: 12px;
}
.ThemePadding {
  padding: 6px;
}
.ThemeContainerBordered {
  border: solid 2px !important;
  border-color: #e6e7e8 !important;
  padding: 6px;
  border-radius: 4px;
}
.ThemeContainerShaded {
  background-color: #e6e7e8;
  color: #3c3c3c;
  padding: 6px;
  border-radius: 4px;
}
.ThemeContainerShadedAndBordered {
  border: solid 2px !important;
  border-color: #e6e7e8 !important;
  background-color: #e6e7e8;
  color: #3c3c3c;
  padding: 6px;
  border-radius: 4px;
}
.ThemeContainerShadedAndBordered a {
  color: #ffffff !important;
}
tr.ThemeAlternatingRow td,
.rdAg tr.ThemeAlternatingRow td,
.rdAgDataTable tr.ThemeAlternatingRow td,
.rdThemeDataTable tr.ThemeAlternatingRow > td {
  background-color: #e6e7e8;
}
.ThemeClearfix:before,
.ThemeClearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.ThemeClearfix:after {
  clear: both;
}
.ThemeClearfix {
  zoom: 1;
}
/* Images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* Links and Buttons */
a,
a:link {
  color: #7d0f6e;
  text-decoration: none;
}
a:active {
  color: #7d0f6e;
  text-decoration: none;
}
a:visited {
  color: #7d0f6e;
  text-decoration: none;
}
.rdPreviewHyperlink,
a:hover {
  color: #000000;
  text-decoration: none;
}
a:hover.ThemeLinkButton,
a:hover.ThemeLinkButtonSmall,
a:link.ThemeLinkButton,
a:link.ThemeLinkButtonSmall,
a:visited.ThemeLinkButton,
a:visited.ThemeLinkButtonSmall,
a:active.ThemeLinkButton,
a:active.ThemeLinkButtonSmall {
  color: #3c3c3c;
  text-decoration: none;
}
.ThemeLinkButton,
.ThemeLinkButtonSmall,
.rdAgCommand,
.rdOgCommand,
.rdAcCommand,
span.rdCgCommand,
.rdDashboardCommand,
input[type="button"] {
  color: #3c3c3c !important;
  background-image: none;
  background-color: #e6e7e8 !important;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: baseline;
  border: 0;
}
.ThemeLinkButton {
  font-size: 110%;
  padding: 3px 7px 2px;
  margin: 3px 6px;
  border-color: #e6e7e8 !important;
  border: 1px solid;
}
input[type="button"] {
  padding: 5px 7px 3px;
  margin: 3px 6px;
  border-color: #e6e7e8 !important;
  border: 1px solid;
}
.ThemeLinkButtonSmall {
  font-size: 100%;
  padding: 3px 7px 2px;
  margin-top: 3px !important;
  border-color: #e6e7e8 !important;
  border: 1px solid;
}
.ThemeLinkButton span,
.ThemeLinkButtonSmall span {
  color: #3c3c3c !important;
}
.rdPreviewHoverState,
.rdPreviewHoverState:hover,
.ThemeLinkButton:hover,
.ThemeLinkButtonSmall:hover,
span:hover.rdAgCommand,
span:hover.rdAcCommand,
span:hover.rdOgCommand,
span:hover.rdCgCommand,
span:hover.rdDashboardCommand,
#rowChangeTab span:hover.rdDashboardCommand,
span:hover.rdPopupPanelCommand,
.rdAgUnselectedTab:hover,
.rdOgUnselectedTab:hover,
input[type="button"]:hover {
  background-color: #7d0f6e !important;
  color: #ffffff !important;
  text-decoration: none;
}
img:active.rdThemePaging,
span:active.rdAgCommand,
span:active.rdOgCommand,
span:active.rdCgCommand,
span:active.rdDashboardCommand,
#rowChangeTab span:active.rdDashboardCommand,
span:active.rdPopupPanelCommand {
  top: 1px;
}
/* Data Table / Crosstab Table */
.rdThemeDataTable,
.rdAgDataTable,
.rdOgOlapTable,
.rdDgOlapTable {
  background-color: #e6e7e8;
  border-radius: 0px;
  border-spacing: 1px;
}
td.rdDgPanelLine #mclDimensions,
td.rdDgPanelLine #mclMeasures,
td.rdDgPanelLine #mclFilters,
#rowTable table.rdDgPanel table.rdDgContentHeadingRow,
#otOlapGrid th.rdOgPositionCellXAxis table,
#rowChart table.rdDgPanel tr:first-child table.rdDgContentHeadingRow,
#rowHeatmap table.rdDgPanel tr:first-child table.rdDgContentHeadingRow,
#rowsChartLists,
#rowChartYColumnContainer,
#rowChartExtraDataColumnContainer {
  border: none !important;
  background-color: transparent !important;
}
.rdThemeDataTableCell {
  padding: 2px 10px;
  color: #3c3c3c;
  background-color: #ffffff;
}
.rdThemeDataTableMainHeader a {
  color: #28b905;
}
.rdThemeDataTableMainHeader {
  color: #28b905;
  background-color: #ffffff;
  font-size: 150%;
  padding-left: 12px;
  text-align: left;
  margin-bottom: 1px;
}
.rdThemeDataTableHeader {
  color: #ffffff;
  background-color: #7d0f6e;
  padding: 2px 10px 2px 10px;
  font-size: 100%;
}
.rdThemeDataTableHeader td {
  color: #ffffff;
  background-color: #7d0f6e !important;
  font-size: 100%;
  font-weight: bold;
}
.rdThemeDataTableHeader a {
  color: #ffffff;
}
.rdThemeDataTableHeaderAlternate {
  background-color: #7d0f6e;
  border: none;
}
.rdThemeDataTableHeaderAlternate a {
  color: #ffffff !important;
}
.rdThemeDataTableHeaderWarning {
  background-color: #ffffff;
  border: none;
}
.rdThemeDataTableHeaderWarning a {
  color: #ffffff !important;
}
.rdThemeDataTableHeaderError {
  background-color: #7d0f6e;
  border: none;
}
.rdThemeDataTableHeaderError a {
  color: #ffffff !important;
}
.rdThemeDataTableHeaderRow th {
  background-color: #e6e7e8;
  color: #3c3c3c;
}
.rdThemeDataTableSummaryRow td {
  background-color: #7d0f6e;
  color: #ffffff;
}
.rdThemeDataTableGroupHeaderRow0 td,
table.rdAgDataTable tr.rdAgGroup0HeaderRow td,
.rdThemeDataTableGroupHeaderRow1 td,
table.rdAgDataTable tr.rdAgGroup1HeaderRow td,
.rdThemeDataTableGroupHeaderRow2 td,
table.rdAgDataTable tr.rdAgGroup2HeaderRow td,
.rdThemeDataTableGroupHeaderRow3 td,
table.rdAgDataTable tr.rdAgGroup3HeaderRow td,
.rdThemeDataTableGroupHeaderRow4 td,
table.rdAgDataTable tr.rdAgGroup4HeaderRow td {
  color: #7F7F7F;
  padding: 2px 10px 2px 10px;
  font-weight: bold;
}
.rdThemeDataTableGroupHeaderRow0 td,
table.rdAgDataTable tr.rdAgGroup0HeaderRow td {
  background-color: #e6e7e8;
}
.rdThemeDataTableGroupHeaderRow1 td,
table.rdAgDataTable tr.rdAgGroup1HeaderRow td {
  background-color: #e6e7e8;
}
.rdThemeDataTableGroupHeaderRow2 td,
table.rdAgDataTable tr.rdAgGroup2HeaderRow td {
  background-color: #e6e7e8;
}
.rdThemeDataTableGroupHeaderRow3 td,
table.rdAgDataTable tr.rdAgGroup3HeaderRow td {
  background-color: #e6e7e8;
}
.rdThemeDataTableGroupHeaderRow4 td,
table.rdAgDataTable tr.rdAgGroup4HeaderRow td {
  background-color: #7F7F7F;
}
.rdThemeDataTableGroupSummaryRow td {
  padding: 3px;
}
td.rdThemeDataTableMoreInfoRow {
  color: #ffffff;
  background-color: #7d0f6e;
}
.rdAgPickDistinct {
  background-color: #ffffff;
}
#rdDataTableDiv-dtFilter .rdThemeDataTableCell {
  background-color: transparent;
}
/* Analysis Grid */
.rdAg,
.rdAc,
.rdDg,
.rdOg,
.rdCg,
.rdAg table,
.rdAc table,
.rdDg table,
.rdOg table,
.rdCg table {
  font-size: 100%;
}
.rdAgCaptionRow {
  height: 12px;
  background-image: none;
  color: #3c3c3c;
  font-size: 185%;
}
.rdAgCaptionRow TD {
  background-color: #ffffff;
}
.PreviewUnselected,
#rowMenu table {
  background: transparent;
  border: none;
  border-spacing: 0;
  padding: 0;
}
#rowMenu .rdAgPanel > tbody > tr > td {
  padding: 0;
}
#rowsAnalysisGrid {
  margin-bottom: 12px;
  border-collapse: collapse;
  display: block;
}
.PreviewMenuBG,
#rowsAnalysisGrid .rdAgContentRow,
#rowsAnalysisGrid #rowMenu > table > table {
  background-color: #ffffff;
}
#rowsAnalysisGrid #rowMenu {
  background-color: transparent;
}
#rowsAnalysisGrid .ThemeLinkButton:hover,
#rowsAnalysisGrid .ThemeLinkButtonSmall:hover,
#rowsAnalysisGrid span:hover.rdAgCommand {
  background-color: #e6e7e8;
}
#colSpacerCalculatedMeasure,
#colSpacerDimension,
#colSpacerMeasure,
#colSpacerQueryBuilder,
#colSpacerCalc,
#colSpacerLayout,
#colSpacerLayout,
#colSpacerSort,
#colSpacerFilter,
#colSpacerGroup,
#colSpacerAggr,
#colSpacerChart,
#colSpacerCrosstab {
  width: 0 !important;
  display: inline;
}
#lblChartAdd {
  display: none;
}
.rdAg #lblExport,
.rdAg #lblExportCrosstab {
  color: #ffffff;
}
#colTableExportControls {
  float: none !important;
}
/* AnalysisGrid: Main Menu */
.rdAgUnselectedTab,
.rdOgUnselectedTab,
.rdAgSelectedTab,
.rdOgSelectedTab {
  background-image: none;
  background: #e6e7e8;
  border: none;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  color: #3c3c3c;
  border-radius: 4px;
}
.rdAgSelectedTab span,
.rdAgSelectedTab,
.rdOgSelectedTab {
  background-color: #7d0f6e;
  color: #ffffff;
}
.rdAgUnselectedTab td,
.rdOgUnselectedTab td {
  color: #3c3c3c;
}
.rdAgTabHeading a {
  color: #3c3c3c !important;
}
.rdAgUnselectedTab td,
.rdAgSelectedTab td {
  padding-bottom: 6px;
  padding-top: 6px;
}
.rdAgSelectedTabOn {
  background-color: #7d0f6e;
}
.rdAgUnselectedTabOn {
  background-color: #e6e7e8;
}
.rdAgUnselectedTabOn:hover,
.rdAgUnselectedTab:hover,
.rdOgUnselectedTabOn:hover,
.rdOgUnselectedTab:hover {
  background-color: #e6e7e8 !important;
  color: #3c3c3c !important;
}
.PreviewSelectedFont,
#rowQueryBuilder table,
#rowPaging table,
#rowCrosstab table,
#rowAggr table,
#rowGroup table,
#rowFilter table,
#rowSortOrder table,
#rowLayout table,
#rowCalc table {
  color: #7F7F7F;
  border: none;
  background-color: transparent;
}
#rowChart table {
  color: #7F7F7F;
}
.rdAgTabHeading {
  font-size: 120%;
  padding-left: 3px;
}
.rdAgCommandHightlight {
  background: transparent;
  color: #7d0f6e !important;
  border-bottom: 4px solid;
  border-color: #7F7F7F;
}
#rowsAnalysisGrid span:hover.rdAgCommandHightlight {
  background: transparent;
}
#rowsAnalysisGrid a {
  color: #7F7F7F;
  text-decoration: none;
}
#rowsAnalysisGrid a:hover {
  color: #7F7F7F;
  text-decoration: none;
}
.rdAgPanel,
.rdOgPanel,
.rdDgPanel {
  background-color: #ffffff;
  color: #3c3c3c;
  vertical-align: top;
  padding: 12px;
  border-collapse: separate;
}
.rdDgPanel {
  border-radius: 4px;
}
#rdDivAgPanels .rdAgPanel {
  border-radius: 4px;
}
.rdAgPanel .rdAgUnselectedTab,
.rdAgPanel .rdAgSelectedTab,
.rdOgPanel .rdOgUnselectedTab,
.rdOgPanel .rdOgSelectedTab {
  padding-top: 6px;
  /* but not for menu */
}
.rdAgPanel td td,
.rdOgPanel td td {
  padding: 3px;
  /* add extra padding since buttons are squished otherwise */
}
.rdAgPanel td td#col2Row3Calc {
  padding: 0px;
}
.rdAgContentHeadingRow,
.rdOgContentHeading {
  background-color: transparent;
  color: #3c3c3c;
}
.rdAgContentHeading,
.rdOgContentHeading {
  font-size: 180%;
}
.rdAgContentHeadingItem .rdAgContentHeading,
.rdAgContentHeadingItem td.rdAgPanelHeading {
  color: #3c3c3c;
  padding-top: 0;
  vertical-align: middle;
}
tr.rdAgContentRow tr.rdAgContentHeadingItem td table.rdAgContentHeadingRow td {
  padding-top: 0px !important;
  padding-left: 1px !important;
  vertical-align: bottom;
}
.rdAgError,
.rdOgError {
  color: #ffffff;
}
.rdAgMessage {
  color: #3c3c3c;
  font-weight: bold;
  padding-left: 12px;
}
/* Analysis Grid Data Table */
table.rdAgDataTable td {
  padding: 5px 10px;
  background-color: #ffffff;
}
.rdAgCrossTabDataTable,
th.rdAgDataTable td,
table.rdAgDataTable th,
table.rdAgDataTable > th a,
table.rdOgOlapTable th,
tr.rdAgHeaderRow th,
table.rdDgPanel th,
rdAgQbColor1 {
  background-image: none;
  background-color: #7d0f6e !important;
  color: #ffffff !important;
  font-size: 100%;
  font-weight: bold;
}
table.rdAgDataTable > th span,
th.rdAgDataTable > a {
  color: #ffffff !important;
}
tr.rdAgHeaderRow td {
  background-image: none;
  background-color: #7d0f6e;
  color: #ffffff;
  font-weight: bold;
  font-size: 100%;
}
table#dtAnalysisGrid {
  color: #7F7F7F;
}
.rdAg .rdThemeDataTableHeader td {
  background-color: #7d0f6e !important;
  color: #ffffff;
}
/* Super-element Buttons */
.rdAgCommand,
.rdOgCommand,
.rdAcCommand,
span.rdCgCommand,
.rdDashboardCommand {
  font-size: 110%;
  margin-right: 4px;
  padding: 2px 8px 2px;
  vertical-align: baseline;
}
/* AG Edit Gear and new Sub menu */
.rdAgEditOff {
  background-color: none;
  width: 24px;
  height: 22px;
  border-radius: 4px;
  cursor: pointer;
}
.rdAgEditOff:Hover {
  width: 24px;
  height: 22px;
  border-radius: 4px;
  cursor: pointer;
}
.rdAgEditOn {
  width: 24px;
  height: 22px;
  border-radius: 4px;
  cursor: pointer;
}
.rdAgEditOn:Hover {
  width: 24px;
  height: 22px;
  border-radius: 4px;
  cursor: pointer;
}
.rdAcContentRow {
  border: 0px solid;
  border-color: #e6e7e8;
  background-color: transparent;
}
.rdAcBackground {
  background-color: #ffffff;
}
.rdAcCommandIdle,
.rdAcCommandLeft,
.rdAcCommandMiddle,
.rdAcCommandRight,
.rdAgCommandIdle,
.rdAgCommandLeft,
.rdAgCommandMiddle,
.rdAgCommandRight {
  color: #7F7F7F !important;
  cursor: pointer;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  font-size: 120%;
  border-bottom: 4px solid;
  border-color: #e6e7e8;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 3px;
  margin: 1px;
  border-radius: 0;
  background: none;
}
.rdAcCommandHighlight,
.rdAgCommandHighlight {
  border-radius: 0;
  color: #7F7F7F !important;
  cursor: pointer;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  font-size: 120%;
  border-bottom: 4px solid;
  border-color: #7F7F7F;
  border-top: none;
  border-right: none;
  border-left: none;
  background: none;
  padding: 3px;
  margin: 1px;
}
.rdRemoveTableStyle td,
.rdAg .rdRemoveTableStyle td,
.rdRemoveTableStyle th {
  background-image: none;
  background-color: transparent;
  height: 6px;
  border: none;
  border-collapse: collapse;
}
/* Query Builder */
.rdQueryColumn {
  display: block;
  padding: 6px 12px;
  margin: 6px 0;
  background: #ffffff;
  border-radius: 4px;
}
.rdQueryColumn td td {
  padding: 6px 12px !important;
  line-height: 1.5;
}
#lblMetadataCaption,
#lblStartTableCaption,
#lblJoinTableCaption {
  font-size: 120%;
}
.rdQueryRow .rdThemeInput {
  font-size: 120%;
  min-width: 180px;
}
#colMetadata {
  background: transparent;
  border: none;
  padding: 0 12px 6px;
}
#rowNoColumnsContainer .rdQueryColumn {
  display: inline-block;
  margin: 12px;
}
/* QB dropdowns */
/* QB dropdowns and AG table headers */
select.rdAgQbColor1,
table.rdAgDataTable th.rdAgQbColor1 {
  border-top: 4px solid #2f7ed8 !important;
}
select.rdAgQbColor2,
table.rdAgDataTable th.rdAgQbColor2 {
  border-top: 4px solid #c42525 !important;
}
select.rdAgQbColor3,
table.rdAgDataTable th.rdAgQbColor3 {
  border-top: 4px solid #8bbc21 !important;
}
select.rdAgQbColor4,
table.rdAgDataTable th.rdAgQbColor4 {
  border-top: 4px solid #910000 !important;
}
select.rdAgQbColor5,
table.rdAgDataTable th.rdAgQbColor5 {
  border-top: 4px solid #1aadce !important;
}
select.rdAgQbColor6,
table.rdAgDataTable th.rdAgQbColor6 {
  border-top: 4px solid #492970 !important;
}
/* Non-AG table headers */
.rdDashboard table.rdAgDataTable th.rdAgQbColor1,
.rdDashboard table.rdAgDataTable th.rdAgQbColor2,
.rdDashboard table.rdAgDataTable th.rdAgQbColor3,
.rdDashboard table.rdAgDataTable th.rdAgQbColor4,
.rdDashboard table.rdAgDataTable th.rdAgQbColor5,
.rdDashboard table.rdAgDataTable th.rdAgQbColor6,
#rdReportAuthor table.rdAgDataTable th.rdAgQbColor1,
#rdReportAuthor table.rdAgDataTable th.rdAgQbColor2,
#rdReportAuthor table.rdAgDataTable th.rdAgQbColor3,
#rdReportAuthor table.rdAgDataTable th.rdAgQbColor4,
#rdReportAuthor table.rdAgDataTable th.rdAgQbColor5,
#rdReportAuthor table.rdAgDataTable th.rdAgQbColor6 {
  border-top: none;
}
/*SubDataTable*/
.rdThemeSubDataTable {
  background-color: #ffffff;
  margin-top: 6px;
  margin-bottom: 6px;
}
table.rdThemeSubDataTable th,
.rdThemeSubDataTable th {
  color: #7F7F7F;
  background-color: #e6e7e8;
  padding: 1px 3px;
}
.rdThemeSubDataTableGroupHeaderRow td {
  color: #7F7F7F;
  background-color: #e6e7e8;
  padding-left: 3px;
}
.rdThemeSubDataTableDataTableCell {
  color: #7F7F7F;
}
.rdThemeSubDataTableMoreInfoRow {
  background-color: #ffffff;
  color: #3c3c3c;
  padding-left: 3px;
}
.rdThemeSubDataTableGroupSummaryRow td {
  color: #7F7F7F;
  background-color: #e6e7e8;
  padding-left: 3px;
}
.rdThemeSubDataTableSummaryRow td {
  background-color: #7d0f6e;
  color: #ffffff;
  padding-left: 3px;
}
.rdAg a:link {
  color: #ffffff;
}
/* User Input Controls */
.rdThemeInputCaption {
  padding-right: 6px;
  vertical-align: middle;
}
input,
input.rdThemeInput,
textarea,
textarea.rdThemeInput,
select.rdThemeInput,
select.rdDataCalendarDropdown {
  font-size: 100%;
  font-family: Arial, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  background-color: #ffffff;
  color: #3c3c3c;
  border: 1px solid;
  border-color: #e6e7e8;
  padding: 3px;
  margin: 3px;
  border-radius: 4px;
}
.rd-checkboxlist-dropdown {
  color: #3c3c3c;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e6e7e8;
  border-radius: 4px;
}
.rdAgContentRow input.rdThemeInput,
#rowsAxControls input.rdThemeInput,
#cellAcControls input.rdThemeInput {
  min-width: 120px;
}
.rdAgContentRow select.rdThemeInput,
#rowsAxControls select.rdThemeInput,
#cellAcControls select.rdThemeInput {
  min-width: 152px;
}
input#upldFile {
  background-color: transparent;
  border: none;
}
/* Input checkbox */
input[type="checkbox"] {
  margin: 1px;
  margin-top: 5px;
}
input[type="radio"] {
  margin: 1px;
  margin-top: 5px;
}
.rd-checkboxlist-popup {
  border: 1px solid;
  color: #3c3c3c;
  border-color: #e6e7e8;
  background-color: #ffffff;
  padding: 3px;
}
.rd-checkboxlist ul li span {
  color: #3c3c3c;
}
.yui3-skin-sam .yui3-aclist-content {
  background: #ffffff !important;
  border: 1px solid;
  border-color: #e6e7e8 !important;
}
/* Paging */
.rdThemePaging {
  vertical-align: middle;
}
table.rdThemePaging {
  margin: 6px 0;
}
.rdAg .rdThemePaging {
  background-color: #ffffff;
}
.rdThemePaging a {
  font-size: 100%;
  color: #7d0f6e !important;
}
.rdThemePagingCurrent {
  background-color: #e6e7e8;
  color: #3c3c3c;
  padding: 1px 3px;
  text-align: center;
  font-size: 120%;
}
input.rdThemePagingCurrent {
  background-color: #ffffff;
  color: #000000;
  padding: 1px;
}
/* Quicktip */
.highcharts-tooltip .rdquicktip-table {
  font-family: Arial, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  background-color: #3c3c3c !important;
  color: #ffffff !important;
}
.rdquicktip-content,
.rdCcTextNormal,
.rdCcTextNormal table,
.rdCcTextNormal td,
.rdCcTextNormal span {
  background-color: #3c3c3c !important;
  border-color: #3c3c3c;
  color: #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=95);
  opacity: 0.99;
  border-radius: 0;
  font-weight: bold;
  font-size: 100%;
  padding: 1px 2px 2px;
}
.rdquicktip-content .rdquicktip-table {
  color: #ffffff;
}
.quicktip-pointer {
  border-color: #3c3c3c transparent;
}
.quicktip-pointer-inner {
  border-color: #3c3c3c transparent;
}
.rdquicktip-content .header {
  background-color: #3c3c3c;
  font-size: 120%;
}
/* CrosstabComparison */
.rdCcTextNormal .rdPopupContent span {
  color: #ffffff;
}
.rdCcTextPositive,
.rdCcTextNormal .rdPopupContent .rdCcTextPositive span {
  color: #28b905;
}
.rdCcTextNegative,
.rdCcTextNormal .rdPopupContent .rdCcTextNegative span {
  color: #7D0F0F;
}
.rdCcTextNormal .rdPopupContent {
  font-size: 90%;
}
/* Dimension / OLAP / Chart Grid */
.rdAgPanel,
.rdOgPanel,
.rdDgPanel {
  border: 1px solid;
  border-color: #e6e7e8;
  border-radius: 4px;
}
.rdDgCaptionRow,
.rdDgCaptionRow td {
  background-color: #ffffff;
  color: #3c3c3c;
  background-image: none;
}
.rdDgCaptionRow {
  font-size: 150%;
}
#lblOgTitle,
#lblOgDrillthroughTitle {
  font-size: 133%;
  font-weight: bold;
  padding: 0px;
}
.rdCgPanel {
  background-color: #ffffff;
  border: none;
}
.rdCgFilterTable td,
.rdDg #popupFilter td,
.rdDg #popupFilter a {
  background-color: #ffffff !important;
  color: #3c3c3c;
}
td.rdDgPanel table,
.rdDgContentHeadingRow,
td.rdCgPanel table,
.rdCgContentHeadingRow {
  color: #3c3c3c;
  background-color: #ffffff;
}
.rdDg A:link,
.rdOg a:link,
#dtFilter a {
  color: #7d0f6e;
}
.rdCg IMG {
  margin-bottom: -8px;
  padding-left: 6px;
}
.rdCgPanel > table > tbody > tr > td {
  padding: 6px;
}
td.rdDgPanel .rdThemeDataTableCell,
td.rdCgPanel .rdThemeDataTableCell {
  background-color: #ffffff !important;
}
.rdOgDataCell,
.rdCgDataCell {
  padding: 5px 10px;
  color: #7F7F7F;
  background-color: #ffffff !important;
  white-space: nowrap;
}
.rdOgPanel table.rdOgOlapTable tr:last-child td,
.rdOgPanel table.rdOgOlapTable tr:last-child th,
.rdDgPanel table.rdDgOlapTable tr:last-child td,
.rdDgPanel table.rdDgOlapTable tr:last-child th {
  border-bottom: none;
}
.rdOgPanel table.rdOgOlapTable td:last-child,
.rdDgPanel table.rdDgOlapTable td:last-child {
  border-right: none;
}
.rdOgPositionCellXAxis {
  border-right: 0 solid #e6e7e8 !important;
}
#rowDimension #mclDimensions,
#rowMeasure #mclMeasures,
#rowFilter #mclFilters,
.rdOg #rowFilter {
  background-color: #ffffff;
}
td.rdDgPanelLine,
.rdDgPanelLine td,
.rdDgPanelLine a:link,
td.rdCgPanelLine,
.rdCgPanelLine td,
.rdCgPanelLine a:link {
  background-color: #ffffff;
  font-size: 100%;
  border: none;
}
.rdDgPanelLine .rdDgSelected a:link .rdCgPanelLine .rdCgSelected a:link {
  color: #7F7F7F !important;
}
.rdDgPanelLine .rdDgSelected,
.rdCgPanelLine .rdCgSelected,
.rdCgPanelLine .rdCgSelected span {
  background-color: #e6e7e8 !important;
  color: #3c3c3c !important;
}
th.rdOgPositionCellXAxis,
td.rdOgPositionCellXAxis,
td.rdOgPositionCellXAxis td,
th.rdOgPositionCellYAxis,
th.rdOgSortColumn,
th.rdCgPositionCellXAxis,
td.rdCgPositionCellXAxis,
td.rdCgPositionCellXAxis td,
th.rdCgPositionCellYAxis {
  color: #ffffff;
  background-color: #7d0f6e;
  padding: 3px;
}
th.rdOgPositionCellXAxis,
td.rdOgPositionCellXAxis,
th.rdCgPositionCellXAxis,
td.rdCgPositionCellXAxis {
  padding: 3px;
  white-space: nowrap;
}
td .rdDgPanelLine,
td .rdDgPanelLine table {
  background-color: #ffffff !important;
}
#rowExport #lblExport {
  color: #3c3c3c;
}
.rdOgContentHeading {
  color: #7F7F7F;
}
.rdDgContentHeading,
.rdCgContentHeading,
.rdOgContentHeading {
  color: #3c3c3c;
  font-size: 150%;
  vertical-align: bottom;
}
#lblOgDrillthroughTitle {
  padding: 12px 6px;
  color: #3c3c3c;
}
#divAxes .rdOgContentHeading #lblExport {
  background-color: #e6e7e8 !important;
}
#divExport #lblExport {
  background-color: #3c3c3c !important;
}
.rdOgSortColumn span {
  color: #ffffff;
}
.rdCg #lblColumnTitle,
.rdCg #lblRowTitle {
  color: #3c3c3c !important;
}
.rdOgOlapTable {
  border: none;
}
.rdOgOlapTable tr:hover td,
.rdDgOlapTable tr:hover td {
  background-color: #e6e7e8 !important;
  color: #3c3c3c !important;
}
.rdOgOlapTable tr:hover .rdOgPositionCellXAxis td {
  background-color: #7d0f6e !important;
}
.rdDgOlapTable tr:hover .rdOgPositionCellXAxis td {
  background-color: #7d0f6e !important;
}
#otFilterTable input[type='checkbox'] {
  margin: 1px 2px 0;
  vertical-align: bottom;
}
#otFilterTable .rdOgPositionLabelYAxis {
  vertical-align: sub;
}
.rdOgPositionLabelYAxis {
  color: #3c3c3c;
  background-color: #e6e7e8;
}
/* Tabs */
#rdTabs {
  background: transparent;
}
.yui-navset {
  font-size: 100%;
}
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav a {
  font-size: 150%;
  background-color: transparent !important;
  background-image: none !important;
  color: #3c3c3c;
  text-decoration: none;
  border: none !important;
}
.yui-navset .yui-content {
  border: none !important;
}
.yui-navset .yui-nav li {
  background-color: #e6e7e8;
  padding: 6px 18px;
  border-radius: 4px;
}
.yui-navset .yui-nav li.selected,
.yui-navset .yui-nav li.selected:hover {
  background-color: #e6e7e8;
  border-radius: 4px 4px 0 0;
  border-color: #7d0f6e;
}
.yui-navset .yui-nav li a {
  color: #ffffff;
}
.yui-navset .yui-nav li.selected a {
  color: #7d0f6e !important;
  -webkit-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s;
}
.yui-navset .yui-nav li:hover {
  background-color: #7d0f6e;
}
.yui-navset div.yui-content {
  background-color: #e6e7e8 !important;
  overflow: none;
}
.yui-navset li em {
  padding: 0 !important;
}
#rdTabs .selected.yui3-dd-drop a {
  padding-right: 3px;
}
#rdTabs .selected.yui3-dd-drop a em {
  font-weight: bold;
}
/* dashboard */
table.rdDashboard {
  left: 0;
  right: 0;
}
td.rdDashboard {
  background-color: #e6e7e8;
}
#rdDashboardPanelTable,
#rdDivDashboardPanelTable,
.rdDashboardDropZone {
  background-color: #e6e7e8;
}
td.rdDashboardDropZoneActive,
.rdAgDropZoneActive {
  background-image: none;
  background-color: #e6e7e8;
}
.rdDashboardPanel,
.rdDashboardPanel > table {
  background-color: #ffffff;
  border-radius: 4px;
}
.rdDashboardPanel {
  padding: 0px;
  border-radius: 4px;
}
.rdDashboardFilterPanel {
  background-color: #e6e7e8;
}
.rdDashboardFilterPanel a {
  color: #3c3c3c;
}
#rdDashboardListTable {
  margin: 0;
}
.rdDashboardTitle table {
  background-image: none !important;
  color: #3c3c3c;
  padding: 0;
}
td.rdDashboardTitle {
  background-image: none !important;
  background-color: #ffffff;
  padding: 0;
}
.rdDashboardText.panelTitleRename {
  margin: 12px;
}
.rdDashboardColumn .rdDashboardTitleCaption,
#rdDivDashboardPanelTable .rdDashboardTitleCaption {
  color: #3c3c3c;
}
.rdDashboardTitleCaption {
  font-size: 150%;
}
.rdDashboardTitle .rdDashboardControl {
  padding: 5px;
  vertical-align: top;
}
.panelInnerTable {
  padding-left: 5px;
}
#rowChangeTab {
  background-color: transparent;
}
#rowChangeTab .rdDashboardCommand {
  background-color: transparent;
}
#rowsTabChange table,
#rdDashboardListTable table {
  background-color: transparent;
}
#rowsTabChange .rdDashboardTitle,
#rowPanelList .rdDashboardTitle {
  border: none;
}
#rdTabAddNewTab em {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 6px;
}
.rdDashboardParams,
td.rdDashboardParams,
.rdDashboardParams table,
tr.rdDashboardParams td {
  background-color: transparent;
  color: #3c3c3c;
}
.rdDashboardParams a {
  float: right;
}
.rdDashboardText {
  line-height: 1.25;
}
.rdDashboardPanel {
  border-color: rgba(180, 180, 180, 0);
}
.rdDashboardPanelGlobalFiltered {
  border-color: rgba(180, 180, 180, 0.8);
}
.rdPopupPanelTitleCaption {
  font-size: 150%;
}
.rdDashboardPanelDescription {
  padding: 0 12px 24px 12px;
}
.rdDashboardPanelDescription .rdDashboardTitleCaption {
  font-size: 120%;
}
.rdDashboardPanelDescription .rdDashboardPanelImage,
.rdDashboardPanelDescription .rdDashboardTitleCaption,
.rdDashboardPanelDescription .rdDashboardText {
  margin-bottom: 12px;
}
.rdNewAnalysisText {
  font-size: 120%;
}
.rdPopupContent a span.rdNewAnalysisLink {
  color: #7d0f6e;
}
.rdPopupContent a:hover span.rdNewAnalysisLink {
  color: #000000;
  text-decoration: underline;
}
/*rdElement: DataList | rdElement: ListItem*/
.ThemeULNone {
  list-style-type: none;
}
.ThemeULDisc {
  list-style-type: disc;
}
.ThemeULCircle {
  list-style-type: circle;
}
.ThemeULSquare {
  list-style-type: square;
}
.ThemeOLDecimal {
  list-style-type: decimal;
}
.ThemeOLLowerAlpha {
  list-style-type: lower-alpha;
}
.ThemeOLUpperAlpha {
  list-style-type: upper-alpha;
}
.ThemeOLLowerRoman {
  list-style-type: lower-roman;
}
.ThemeOLUpperRoman {
  list-style-type: upper-roman;
}
/* Report Layout */
#rdReportAuthor,
#rdReportAuthor #rdDashboardPanelTable,
#rdReportAuthor .rdDashboardDropZone {
  background-color: #ffffff;
}
#rdReportAuthor #rdDivDashboardPanelTable {
  background-color: #ffffff;
}
.rdDashboardPanelContainer {
  background-color: transparent;
}
#rdReportAuthor .rdDashboardPanelContainer .rdDashboardPanel {
  border: 1px solid #e6e7e8;
}
#rdReportAuthor .rdDashboardControl {
  width: 1%;
}
/* Report Layout Toolbar */
.rdReportLayoutToolbar {
  border-collapse: collapse;
}
.rdReportLayoutToolbarItem {
  padding: 12px 0;
  border: 1px solid #7F7F7F;
}
.rdReportLayoutToolbarItem:hover {
  background-color: #e6e7e8;
}
.rdReportLayoutToolbarItem:active {
  position: relative;
  top: 1px;
}
.rdReportLayoutToolbarItemImage {
  padding-right: 12px;
}
/* Popup Panel */
.rdPopupPanel {
  background-color: #ffffff !important;
  border-color: #e6e7e8;
  border-radius: 4px;
  padding: 8px;
}
#PopupPanelContent {
  padding: 5px;
  margin: 0px !important;
}
#PopupPanelContent td.rdDashboardControl {
  padding: 12px;
}
#PopupPanelContent .rdDashboard,
#rowsSchedule,
.sharePopup {
  background-color: #ffffff;
}
#PopupPanelContent a {
  text-align: left;
}
#PopupPanelContent #colHours,
#PopupPanelContent #colMinutes {
  vertical-align: top;
}
.ModalPreviewFont,
.rdPopupContent .rdThemeInputCaption,
.rdPopupContent > td,
.rdPopupContent > span,
.rdPopupContent > a span {
  color: #3c3c3c;
}
.rdPopupPanelTitle,
.rdPopupPanelTitle td,
.rdPopupPanelTitle span {
  background-color: #ffffff !important;
  background-image: none;
}
.ModalTitlePreview,
.rdPopupPanelTitle,
.rdPopupPanelTitle td,
.rdPopupPanelTitle span {
  color: #3c3c3c !important;
}
.rdPopupPanelTitle {
  padding-bottom: 6px;
}
.rdPopupPanelTitle .rdPopupPanelTitle {
  padding-bottom: 0;
}
.rdPopupPanelTitle .rdPopupPanelCommand {
  border: none !important;
  border-radius: 4px;
}
.rdPopupPanelCommand {
  font-size: 150%;
  background: none;
  text-decoration: none !important;
  color: #3c3c3c;
  border-color: transparent;
  font-weight: bold;
  padding: 0 3px;
}
.rdPopupPanelControl {
  width: 1%;
}
input#txtEditBookmarkDescription {
  margin: 18px 0 18px 3px;
}
#scriptUpdateCaption {
  float: left;
}
.ppAddToDashboardPanel {
  font-size: 100%;
}
/* PopupMenu */
.yuimenu {
  padding: 0 !important;
  border-radius: 4px;
  border: 1px solid;
  border-color: #3c3c3c !important;
}
.rdPreviewMenu,
.yuimenu ul {
  background: #e6e7e8 !important;
  padding: 6px 0;
}
.yuimenu ul li {
  background: #e6e7e8 !important;
}
.rdPopupMenu .yuimenuitemlabel {
  font-size: 100%;
}
.rdPopupMenu A:visited,
.rdPopupMenu A:link {
  color: #3c3c3c !important;
}
.yuimenubaritemlabel,
.yuimenuitemlabel,
.yuimenubaritem,
.yuimenuitem {
  font-size: 100%;
  line-height: 2;
}
.yuimenubaritemlabel-selected,
.yuimenuitemlabel-selected,
.yuimenubaritem-selected,
.yuimenuitem-selected {
  background-color: #e6e7e8;
  text-decoration: none;
}
.yuimenuitem-hassubmenu-selected > a span {
  color: #3c3c3c;
}
.first-of-type {
  background-color: #e6e7e8;
  border: none;
  display: block;
  padding: 3px;
  width: 100%;
}
.first-of-type li a:hover {
  color: #3c3c3c !important;
  background-color: #e6e7e8 !important;
  text-decoration: none;
}
.first-of-type:hover {
  background-color: #e6e7e8;
  text-decoration: none;
}
/* calendar */
.rdDataCalendarFont,
.rdDataCalendar,
.rdDataCalendar table,
.rdDataCalendarPopUp,
.rdDataCalendarPopUp table,
.rdTimePicker {
  border-collapse: separate;
}
.rdPopupContent .rdTimePicker {
  background-color: transparent;
}
table.rdDataCalendar {
  background-color: transparent;
  border-collapse: collapse;
}
.rdPopupContent table.rdDataCalendar {
  background-color: transparent;
  border-collapse: collapse;
}
.rdDataCalendarWeekdayCaption {
  background-color: #e6e7e8;
  color: #3c3c3c !important;
  font-size: 120%;
}
.rdDataCalendarWeekdayCaption td {
  color: #3c3c3c !important;
}
.rdDataCalendarDay,
.rdTimePickerCell,
.rdTimePickerAMPMCell {
  background-color: transparent;
  color: #3c3c3c;
}
.rdPopupContent .rdDataCalendarDay,
.rdPopupContent .rdTimePickerCell,
.rdPopupContent .rdTimePickerAMPMCell,
.rdPopupContent .rdDataCalendarDay span,
.rdPopupContent .rdTimePickerCell span,
.rdPopupContent .rdTimePickerAMPMCell span {
  background-color: #ffffff !important;
  color: #3c3c3c !important;
}
.rdDataCalendarToday,
.rdPopupContent .rdDataCalendarToday,
.rdPopupContent .rdDataCalendarToday span {
  background-color: #7F7F7F !important;
}
.rdDataCalendarCaption,
.rdDataCalendarDayCaption {
  color: #3c3c3c !important;
  font-size: 120%;
}
.rdDataCalendarDayOutsideMonth,
.rdDataCalendarDayOutsideMonth span {
  background-color: #e6e7e8 !important;
  height: 24px;
}
.rdDataCalendarDayOutsideMonth {
  border: solid 1px;
  border-color: #e6e7e8;
}
.rdPopupContent .rdDataCalendarDayOutsideMonth {
  border: solid 1px;
  border-color: #e6e7e8;
}
td.rdDataCalendarDay {
  border: solid 1px;
  border-color: #e6e7e8;
}
.rdPopupContent td.rdDataCalendarDay,
.rdPopupContent .rdTimePickerInnerTables td {
  border: solid 1px;
  border-color: #e6e7e8;
}
.rdDataCalendarDayLabelHighlight,
.rdTimePickerTableHeaderCaption,
.rdDataCalendarCaption,
.rdTimePickerLabelHighlight,
.rdPopupContent .rdDataCalendarDayLabelHighlight span,
.rdPopupContent .rdTimePickerLabelHighlight span {
  background-color: #7d0f6e !important;
}
#Cal-2-CaptionCell.rdDataCalendarCaption,
#Cal-3-CaptionCell.rdDataCalendarCaption {
  line-height: 2.2;
}
/* WaitPage */
.rdThemeWaitPanel {
  background-color: #e6e7e8;
  padding: 12px;
  border-radius: 4px;
}
.rdThemeWaitCaption {
  color: #000000;
  font-size: 120%;
}
#rdWait span {
  color: #000000 !important;
}
/* MultiColumnList */
.ThemeContainer tr td span:hover {
  background-color: #e6e7e8;
}
.rdDataCalendar .rdDataCalendarDropdown {
  margin-bottom: 2px;
  margin-top: 2px;
}
.rdDgSelectedNot a {
  background-color: transparent !important;
}
#rdDataTableDiv-otFilterTable {
  padding: 7px;
}
#rowsFilterDone #actFilterMember {
  padding-left: 7px;
}
.rdPopupPanelTitle .rdPopupPanelTitleCaption {
  padding-left: 0px;
}
.rd-settings-popup .rd-popup-content td {
  padding-top: 0px !important;
}
.rdThemeWaitPanel .rdThemeWaitCaption {
  color: #000000;
}
div[id^=LinkSettingPopup] .rd-popup-content #rdRows-3 tr td:first-child {
  width: 100%;
}
div[id^=LinkSettingPopup] .rd-popup-content #rdRows-4 tr td {
  width: 100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  div[id^=LinkSettingPopup] .rd-popup-content #rdRows-3 tr td:first-child {
    width: 100%;
  }
  div[id^=LinkSettingPopup] .rd-popup-content #rdRows-4 tr td {
    width: 100%;
  }
}
.rdDgOlapTable tbody a {
  display: inline-table;
}
.rdquicktip-content p {
  color: #ffffff !important;
}
.rdThemeDataTableHeader > span {
  color: #ffffff !important;
}
.rdAgContentHeadingRow td.rdAgAddDashboard {
  float: none !important;
}
#divReportAuthorWorkContainer {
  margin-left: 0px;
}
.rdAgControlsPosition {
  padding-right: 40px;
}
.rdAgBackground {
  background-color: #ffffff;
  width: 100%;
  white-space: nowrap;
  border-radius: 4px;
}
#imgMinus,
#rowTable #imgTableExport,
#imgAddToDashboardDataTable,
#imgTableEdit {
  margin: 0 !important;
}
.rdOgCaptionRow,
.rdOgCaptionRow td {
  background: transparent !important;
  color: #3c3c3c !important;
}
#rowTable .rdOgContentHeadingRow span a,
#rowTable .rdOgContentHeadingRow td,
#rowChart .rdOgContentHeadingRow span a,
#rowHeatmap .rdOgContentHeadingRow span a {
  vertical-align: sub !important;
}
#rowDimension table,
#rowMeasure table,
#rowDimension .rdOgContentHeadingRow,
#rowCalculatedMeasure table {
  background-color: #ffffff;
  border: none;
  color: #3c3c3c;
}
.rdOgContentHeadingRow,
#rowTable .rdOgContentHeadingRow,
#rowHeatmap .rdOgContentHeadingRow {
  background-color: #ffffff;
  border: none;
  color: #3c3c3c;
}
.rdOg A:hover {
  text-decoration: none;
}
#rowMenu .rdAgPanel IMG {
  margin: 5px 0 2px;
}
#rowMenu .rdAgPanel table td:first-child,
#rowMenu .rdOgPanel table td:first-child {
  padding-left: 10px;
}
#rowMenu .rdAgPanel table td:last-child {
  padding-right: 10px;
}
#rowMenu .rdAgTabHeading span {
  padding-left: 0 !important;
}
#rowsAnalysisGrid {
  padding-left: 1px;
}
.go-headers .go-box-container {
  padding-left: 14px !important;
}
.yuimenuitemlabel {
  padding: 2px 20px !important;
  color: #000000 !important;
}
/* Master Report Top Frame*/
.ThemeMasterReportTopFrame {
  background-color: #7d0f6e;
  height: 40px;
}
.rd-gridsystem-scrollbar-wrap {
  display: -webkit-flex;
  display: inline;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.ThemeMasterReportTopFrame .row.rd-gridsystem-scrollbar-wrap {
  margin: 0;
}
.ThemeMasterReportTopFrame .rdResponsiveColumn {
  align-self: center;
}
#FirstColumnResponsive {
  width: auto;
}
#divLogo {
  margin-right: 20px;
}
#LogoutColumn {
  width: auto;
  margin-left: auto;
  float: right;
}
.ThemeMasterReportTopFrame img {
  vertical-align: text-bottom;
}
.ThemeMasterReportTopFont,
.ThemeMasterReportTopFrame a {
  color: #ffffff;
}
.ThemeMasterReportTopFrame a:hover {
  opacity: .9;
  text-decoration: none;
}
/* Master Report Left Frame*/
.ThemeMasterReportLeftFrame {
  background-color: #ffffff;
  color: #3c3c3c;
  min-width: 150px;
}
.ThemeMasterReportLeftFrame a,
.ThemeMasterReportLeftFrame span,
.ThemeMasterReportLeftFrame #rdMenuTable {
  width: 100%;
  text-decoration: none;
}
#LeftFrame .ThemeLinkButtonSmall span,
#LeftFrame .ThemeLinkButtonSmall {
  background-color: transparent !important;
  color: #3c3c3c !important;
}
#LeftFrame .ThemeLinkButtonSmall:hover {
  background-color: #e6e7e8 !important;
  color: #3c3c3c !important;
}
.ThemeMasterReportFooterFrame {
  background-color: #ffffff;
  color: #3c3c3c;
  height: 20px;
  padding: 3px;
}
.rdTimePickerInnerTables {
  padding: 0px !important;
}
/* NewMenuHoverEffect */
#LeftFrame .ThemeMenuItemLink span,
#LeftFrame .ThemeMenuItemLink {
  background-color: transparent !important;
  color: #3c3c3c !important;
}
.ThemeMenuItemLink {
  font-size: 12px;
  line-height: 2.5;
  margin-top: 3px !important;
  padding: 3px 6px;
  cursor: pointer;
}
.LaunchPanel,
#LeftFrame .ThemeMenuItemLink:hover {
  background-color: #e6e7e8 !important;
  color: #3c3c3c !important;
}
/*ThemeEditor*/
.rdThemeEditorAccordion a {
  text-decoration: none;
}
.rdThemeEditorAccordion {
  background-color: #e6e7e8;
  width: 100%;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
.rdThemeEditorAccordion:hover {
  background-color: #e6e7e8;
  width: 100%;
  text-decoration: none;
}
.rdThemeEditorAccordionSelected {
  background-color: #e6e7e8;
  width: 100%;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 4px solid;
  border-color: #7d0f6e;
}
.rdThemeEditorAccordionSelected a {
  text-decoration: none;
  cursor: default;
}
/*Theme Editor*/
.rdPreviewBorder {
  border: solid 2px #e6e7e8;
  padding: 4px;
  border-radius: 4px;
}
.rdPreviewColorBox {
  height: 70px;
  padding: 6px !important;
}
.rdPreviewDisable {
  opacity: .2;
  cursor: not-allowed;
}
#divPreview {
  padding: 5px;
}
td.rdResizerColumn {
  border: none;
  padding: 0px;
  margin: 0px;
  cursor: ew-resize;
  border-radius: 5px;
  z-index: 9999;
  min-width: 6px;
}
td.rdResizerColumn:hover {
  background-color: #7F7F7F;
  border-left: 1px #000000;
  border-right: 1px #000000;
}
td.rdResizerColumn:active {
  background-color: #7F7F7F;
}
@-moz-document url-prefix() {
  td.rdResizerColumn.yui3-dd-dragging {
    background-color: #7F7F7F;
  }
}
td.rdInactiveResizerColumn {
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  z-index: 9999;
  min-width: 6px;
}
.rdThemeDataTable2LineHeader {
  height: 34px;
}
.rdThemeDataTableStretch {
  width: 100%;
}