<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h2><a name="_Toc263162795">Application Settings</a></h2>


<p class=MsoNormal><span style=''>The <i>Application
Settings</i> page allows the administrator to set general application and
Report Builder settings. All application setting modifications will take affect
with the next user login session.</span></p>


<p class=MsoNormal><span style=''>Select <b>Application
Settings</b> from the <i>Application Configuration</i> drop-down list<b> </b>to
display the <i>Application Settings</i> configuration page.</span></p>


<p class=MsoNormal><span style=''>Although
presented in a single page in Ad Hoc, the <i>Application Settings</i>
attributes are sub-divided into <u>General application settings</u>, <u>Report
settings</u> and <u>Password Management</u> in this document.</span></p>

<p class=MsoNormal><u><span style=''><span
 style='text-decoration:none'>&nbsp;</span></span></u></p>

<p class=MsoNormal><span style=''>Click on the <img
border=0   src="System_Admin_Guide_files/image104.jpg"> icon
to display brief help with an attribute.</span></p>

<u><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></u>

<p class=MsoNormal><u><span style=''><span
 style='text-decoration:none'>&nbsp;</span></span></u></p>

<p class=MsoNormal><i><u><span style=''>General
application settings</span></u></i></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image107.jpg"></span></p>



<p class=MsoNormal><i><span style=''>Rows per
page</span></i><span style=''> determines if
paging is performed on the grids in the user interface and how many rows will
appear per page. A value greater than <b>0</b> turns the paging feature on and
dictates the number of row per page. A value of <b>0</b> turns paging off and
all rows are displayed in one list.</span></p>


<p class=MsoNormal><i><span style=''>List
Search Options</span></i><span style=''>
determines whether or not to include a search filter in pages with grids. If
the 'Show only ' option is selected, specify a value between 1 and 100 to
display the Find feature when the specified value is exceeded.</span></p>


<p class=MsoNormal><i><span style=''>Show
Password Entry Option</span></i><span style=''>
determines a user's ability to modify their password from within the
application. If checked, the Users will be able to modify their passwords using
the Profile webpage. Customers integrating a proprietary authentication schema
within the application may want to disable password entry.</span></p>


<p class=MsoNormal><i><span style=''>Delete
archives with report </span></i><span style=''>determines
if a report's Archives are automatically deleted when the report is deleted. If
checked, the Archives for a report will be deleted if the report is removed.
Setting this option to true might result in decreased performance when a report
is deleted. A backup of deleted reports and archives are located in the </span><b><span
style=';color:blue'>_Definitions\_Reports\_Backup</span></b><span
style=''> folder.</span></p>


<p class=MsoNormal><i><span style=''>Unique
Report/Folder</span></i><span style=''> name
determines whether duplicate reports/folders are permitted in the instance. If
this option is enabled on an instance with duplicate items, a dialog will be
presented to allow the duplications to be resolved.</span></p>




<p class=MsoNormal><i><span style=''>First Day
of Fiscal Year </span></i><span style=''>sets
the reference value for calculation of pre-defined date tokens of  fiscal year 
nature. Pre-defined dates are used in parameters throughout the application.</span></p>



<p class=MsoNormal><i><u><span style=''>Report
settings</span></u></i></p>


<p class=MsoNormal><b><span style=''><img
border=0   src="System_Admin_Guide_files/image108.jpg"></span></b></p>





<p class=MsoNormal><i><span style=''>Report
Hyperlink target window s</span></i><span style=''>ets
the target window for the hyperlinks to run the reports. The valid values can
be:</span></p>

<p class=MsoNormal style='margin-left:.75in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><span style=';color:black'>_blank</span></b><span
style=''> renders the report in a new window
without frames. This is the default value.</span></p>

<p class=MsoNormal style='margin-left:.75in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><span style=''>_parent</span></b><span
style=''> renders the report in the immediate
frameset parent.</span></p>

<p class=MsoNormal style='margin-left:.75in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><span style=''>_self</span></b><span
style=''> renders the report in the frame with
focus.</span></p>

<p class=MsoNormal style='margin-left:.75in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><span style=''>_top</span></b><span
style=''> renders the report in the full window
without frames.</span></p>


<p class=MsoNormal><i><span style=''>Show a
disabled link to no-access reports </span></i><span style=''>determines
whether a user will be able to see a report to which they do not have access.
If checked, reports will show as a disabled link if the user does not have
access to any of the objects or columns used in the report. If unchecked, the reports
will be hidden. </span></p>


<p class=MsoNormal><i><span style=''>Show live preview
</span></i><span style=''>determines the
availability of the Live Preview panel in the Report Builder.</span></p>


<p class=MsoNormal><i><span style=''>Encoding</span></i><span
style=''> determines the default character
encoding for this application. The default value is</span> <b><span
style=';color:blue'>UTF-8 (Unicode)</span></b>.</p>


<p class=MsoNormal><i><span style=''>Default
Report Expiration Date</span></i><span style=''>
determines the when reports will automatically expire. The options are:</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style=''>None   no default
value is set</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style=''>Days   reports
will expire a set number of days after creation</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style=''>Date   reports
will expire on a set date</span></p>


<p class=MsoNormal><i><span style=''>Render
animated charts as</span></i><span style=''>
determines the technology used to display animated charts; either Flash or
HTML5.</span></p>



<p class=MsoNormal><i><u><span style=''>Password
Management</span></u></i></p>


<p class=MsoNormal><img border=0  
src="System_Admin_Guide_files/image109.jpg"></p>


<p class=MsoNormal><i><span style=''>Require
change of password at logon</span></i><span style=''>
determines if the users will be required to change their password when they
login for the first time and/or after a specified number of days.</span><span
style='font-size:11.0pt;;color:#484848'> </span></p>

<p class=MsoNormal><span style='font-size:11.0pt;;
color:#484848'>&nbsp;</span></p>

<p class=MsoNormal><i><span style=''>Require
change of password every n days</span></i><span style=''>
determines the number of a days a user's password will expire and they will be
required to change their password on login. </span></p>


<p class=MsoNormal><i><span style=''>Minimum
password length</span></i><span style=''> and <i>Maximum
password length </i>set the rules for the size of the password.</span></p>


<p class=MsoNormal><i><span style=''>Password
Restrictions</span></i><span style=''>
determines the required content (strength) of a password.</span></p>



<p class=MsoNormal><span style=''>Click on the <b>Save</b>
button to store the attributes. The attributes on the <i>Application Settings</i>
page are either stored in the <i>_Settings.lgx</i> file, stored in the metadata
database or impact records in the metadata database.</span></p>

<p class=MsoNormal><span style='font-size:11.0pt;;
color:#484848'>&nbsp;</span></p>


</a>Special Application Settings</h1>


<p class=MsoNormal><span style=''>This chapter
describes special application functionality that administrators can toggle on
and off. The application settings listed in this chapter must be enabled or
disabled by setting an attribute value<i> </i>in the application's _<i>Settings.lgx</i>
file definition. The _<i>Settings.lgx</i> file definition is located in the <i>_Definitions
</i>folder within the application installation directory. </span></p>


<p class=MsoNormal><span style=''>The following
attributes can be set in the Constants element, in addition to those listed in chapter
4's Application Settings section:</span></p>


<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal><b><span style=''>ahFormatExcel</span></b><span
     style=''><br>
     <br>
     Set this attribute to enable or disable the formatting of column data as
     text when exporting to the Excel format. By default, the attribute value
     is <b>True</b> and thus exported data is formatted as per the specified
     display format or defined data type.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style='font-size:10.0pt;
'>Example:          </span><span class=m1><span
style='font-size:10.0pt;;background:#FFFF99'>&lt;</span></span><span
class=t1><span style='font-size:10.0pt;;background:
#FFFF99'>Constant</span></span><span style='font-size:10.0pt;;
background:#FFFF99'> <span class=t1><b><span style='color:#3366FF'>ahFormatExcel</span></b></span><span
class=m1><span style='color:black'>=&quot;<b>False</b>&quot;</span> /&gt;</span></span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=541
 style='width:405.9pt;margin-left:.5in;background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=541 valign=top style='width:405.9pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><i><span style=''>Note:</span></i></b></p>
  </td>
 </tr>
 <tr>
  <td width=541 valign=top style='width:405.9pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i><span style=''>When
  this attribute is enabled, only new or modified reports will be affected.</span></i></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-left:.5in'><span style=''>&nbsp;</span></p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal><b><span style=''>ahHideConnection</span></b><span
     style=''><br>
     <br>
     Set this attribute to enable the hiding of all database connection strings
     in the connection field of the Database Administration and Manager
     utilities.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style='font-size:10.0pt;
'>Example:          </span><span class=m1><span
style='font-size:10.0pt;;background:#FFFF99'>&lt;</span></span><span
class=t1><span style='font-size:10.0pt;;background:
#FFFF99'>Constants</span></span><span style='font-size:10.0pt;;
background:#FFFF99'> <span class=t1><b><span style='color:#3366FF'>ahHideConnection</span></b></span><span
class=m1><span style='color:black'>=&quot;<b>True</b>&quot;</span> /&gt;</span></span></p>


<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal><b><span style=''>ahServerCSV</span></b><span
     style=''><br>
     <br>
     Set this attribute to enable the <i><u>server-side</u></i> 'Export to CSV'
     plug-in. For reports having the 'Export to CSV' feature specified, this
     plug-in allows a report to be viewed without row limits on the query and
     generates a CSV file that can be saved wherever. Two points of caution:</span></li>
</ul>

<p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in'><span
style=''>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style=''>The plug-in works
with only one Data Table in the report.</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-indent:-.25in'><span
style=''>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style=''>The plug-in works only
for SQL Server and ORACLE queries.</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style='font-size:10.0pt;
'>Example:          </span><span class=m1><span
style='font-size:10.0pt;;background:#FFFF99'>&lt;</span></span><span
class=t1><span style='font-size:10.0pt;;background:
#FFFF99'>Constants</span></span><span style='font-size:10.0pt;;
background:#FFFF99'> <span class=t1><b><span style='color:#3366FF'>ahServerCSV</span></b></span><span
class=m1><span style='color:black'>=&quot;<b>True</b>&quot;</span> /&gt;</span></span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal><b><span style=''>DefaultDateReformat<br>
     <br>
     </span></b><span style=''>Set this
     attribute to configure the date format for pre-defined dates (e.g., First
     Month End, Last Month End, etc.) to comply with the standard ISO format of
     &quot;yyyy-MM-dd&quot;.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style='font-size:10.0pt;
'>Example:          </span><span class=m1><span
style='font-size:10.0pt;;background:#FFFF99'>&lt;</span></span><span
class=t1><span style='font-size:10.0pt;;background:
#FFFF99'>Constants</span></span><span style='font-size:10.0pt;;
background:#FFFF99'> <span class=t1><b><span style='color:#3366FF'>DefaultDateReformat</span></b></span><span
class=m1><span style='color:black'>=&quot;<b>yyyy-MM-dd</b>&quot;</span> /&gt;</span></span></p>


<p class=MsoNormal><span style=''>The following
attributes can be added to the Constants element to configure the Hybrid
Engine:</span></p>


<p class=MsoNormal style='margin-left:.5in'><b><span style=''>rdDataEngine<br>
<br>
</span></b><span style=''>Set this attribute to
configure the Engine version, which will be invoked when running reports. A
value of &quot;Version8&quot; can be entered here to invoke the old engine in
case of an incompatibility with the Hybrid Engine that prevents legacy reports
from running. The default value is &quot;Version9&quot;, the Hybrid Engine.</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style='font-size:10.0pt;
'>Example:          </span><span class=m1><span
style='font-size:10.0pt;;background:#FFFF99'>&lt;</span></span><span
class=t1><span style='font-size:10.0pt;;background:
#FFFF99'>Constants</span></span><span style='font-size:10.0pt;;
background:#FFFF99'> <span class=t1><b><span style='color:#3366FF'>rdDataEngine</span></b></span><span
class=m1><span style='color:black'>=&quot;<b>Version8</b>&quot;</span> /&gt;</span></span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=541
 style='width:405.9pt;margin-left:.5in;background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=541 valign=top style='width:405.9pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><i><span style=''>Notes:</span></i></b></p>
  </td>
 </tr>
 <tr>
  <td width=541 valign=top style='width:405.9pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'><i><span
  style=''>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  </span></span></i><i><span style=''>For now,
  products will ship with both the Hybrid and Version 8 engines.</span></i></p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'><i><span
  style=''>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  </span></span></i><i><span style=''>Please
  notify Logi Analytics if incompatibilities are identified because the Version
  8 engine will be removed in a later release.</span></i></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-left:.25in'><span style=''>&nbsp;</span></p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal><b><span style=''>rdMemoryStreamLimit</span></b><span
     style=''><br>
     <br>
     Set this attribute to adjust the memory caching to file system-caching threshold,
     in megabytes. A value of 0 will force all caching to the file system; a
     value of 2048, the maximum, will force all caching to memory. The default
     value is &quot;10&quot;.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style='font-size:10.0pt;
'>Example:          </span><span class=m1><span
style='font-size:10.0pt;;background:#FFFF99'>&lt;</span></span><span
class=t1><span style='font-size:10.0pt;;background:
#FFFF99'>Constants</span></span><span style='font-size:10.0pt;;
background:#FFFF99'> <span class=t1><b><span style='color:#3366FF'>rdMemoryStreamLimit</span></b></span><span
class=m1><span style='color:black'>=&quot;<b>8</b>&quot;</span> /&gt;</span></span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=541
 style='width:405.9pt;margin-left:.5in;background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=541 valign=top style='width:405.9pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><i><span style=''>Note:</span></i></b></p>
  </td>
 </tr>
 <tr>
  <td width=541 valign=top style='width:405.9pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i><span style=''>This
  setting only applies when the rdDataEngine constant is set to
  &quot;Version9&quot;.</span></i></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-left:.25in'><span style=''>&nbsp;</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>

<p class=MsoNormal style='margin-left:.25in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal><span style=''>The following
attribute can be set in a General element:</span></p>

<p class=MsoNormal style='margin-left:.25in'><span style=''>&nbsp;</span></p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal><b><span style=''>LogErrors</span></b><span
     style=''><br>
     <br>
     Set this attribute to write debug HTML files to the rdErrorLog folder when
     there is a system error. These pages are the same as those shown when
     Debugger Style is set to &quot;Debugger Links&quot; or &quot;Error
     Detail&quot;.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style='font-size:10.0pt;
'>Example:          </span><span class=m1><span
style='font-size:10.0pt;;background:#FFFF99'>&lt;</span></span><span
class=t1><span style='font-size:10.0pt;;background:
#FFFF99'>General</span></span><span style='font-size:10.0pt;;
background:#FFFF99'> <span class=t1><b><span style='color:#3366FF'>LogErrors</span></b></span><span
class=m1><span style='color:black'>=&quot;<b>True</b>&quot;</span> /&gt;</span></span></p>



<p class=MsoNormal><span style=''>The following
attribute can be set in a database Connection element:</span></p>

<p class=MsoNormal style='margin-left:.25in'><span style='font-size:6.0pt;
'>&nbsp;</span></p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal style='color:black'><b><span style=''>ahDBType</span></b><span
     style=';color:windowtext'><br>
     <br>
     Set this attribute to specify t</span><span style=''>he
     specific database type to use. The default is blank. The list of available
     values is:</span></li>
</ul>

<p class=MsoNormal style='margin-left:.25in'><span style=';
color:black'>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='margin-left:41.4pt;border-collapse:collapse'>
 <tr>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=';color:black'>CACHE</span></p>
  </td>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=';color:black'>INFORMIX</span></p>
  </td>
  <td width=127 valign=top style='width:95.4pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=';color:black'>SYBASE</span></p>
  </td>
 </tr>
 <tr>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=';color:black'>DB2</span></p>
  </td>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=';color:black'>ORACLE</span></p>
  </td>
  <td width=127 valign=top style='width:95.4pt;padding:0in 5.4pt 0in 5.4pt'>
  </td>
 </tr>
 <tr>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=';color:black'>DB2AS400</span></p>
  </td>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=';color:black'>SQLSERVER</span></p>
  </td>
  <td width=127 valign=top style='width:95.4pt;padding:0in 5.4pt 0in 5.4pt'>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-left:.5in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style='font-size:10.0pt;
'>Example:          </span><span class=m1><span
style='font-size:10.0pt;;background:#FFFF99'>&lt;</span></span><span
class=t1><span style='font-size:10.0pt;;background:
#FFFF99'>Connection </span></span><span class=m1><span style='font-size:10.0pt;
;background:#FFFF99'>ID=&quot;3&quot; Label=&quot;DB2&quot;
ConnectionString=&quot;Provider=IBMDA400.DataSource.1;Password=PWD;Persist
Security Info=True;User ID=LOGIADHOC;Data Source=123.345.678.900;Initial
Catalog=*SYSBAS;Catalog Library List=LOGI;Convert Date Time To Char=FALSE&quot;
Type=&quot;Application&quot; </span></span><span class=t1><b><span
style='font-size:10.0pt;;color:#3366FF;background:
#FFFF99'>ahDBType</span></b></span><span class=m1><span style='font-size:10.0pt;
;color:black;background:#FFFF99'>=&quot;<b>DB2AS400</b>&quot;</span></span><span
class=m1><span style='font-size:10.0pt;;background:
#FFFF99'> /&gt;</span></span></p>


<p class=MsoNormal><span style=''>The following
attribute can be set in the Globalization element:</span></p>


<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal><b><span style=''>FirstDayOfWeek<br>
     <br>
     </span></b><span style=''>Set this
     attribute to change how the first day of the week is determined when a
     report is executed. By default, Sunday is the first day of the week. This
     attribute may be set to a number representing a different day of the week.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.25in'><span style=';
color:black'>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='margin-left:41.4pt;border-collapse:collapse'>
 <tr>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>0 = Sunday</span></p>
  </td>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>3 =
  Wednesday</span></p>
  </td>
  <td width=127 valign=top style='width:95.4pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>6 =
  Saturday</span></p>
  </td>
 </tr>
 <tr>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>1 = Monday</span></p>
  </td>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>4 =
  Thursday</span></p>
  </td>
  <td width=127 valign=top style='width:95.4pt;padding:0in 5.4pt 0in 5.4pt'>
  </td>
 </tr>
 <tr>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>2 = Tuesday</span></p>
  </td>
  <td width=204 valign=top style='width:153.0pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>5 = Friday</span></p>
  </td>
  <td width=127 valign=top style='width:95.4pt;padding:0in 5.4pt 0in 5.4pt'>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-left:.25in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in'><span style='font-size:10.0pt;
'>Example:          </span><span class=m1><span
style='font-size:10.0pt;;background:#FFFF99'>&lt;</span></span><span
class=t1><span style='font-size:10.0pt;;background:
#FFFF99'>Globalization</span></span><span style='font-size:10.0pt;
"Courier New";background:#FFFF99'> <span class=t1><b><span style='color:#3366FF'>FirstDayOfWeek</span></b></span><span
class=m1><span style='color:black'>=&quot;</span></span><b><span
style='color:black'>1</span></b><span class=m1><span style='color:black'>&quot;</span>
/&gt;</span></span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=541
 style='width:405.9pt;margin-left:.5in;background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=541 valign=top style='width:405.9pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><i><span style=''>Note:</span></i></b></p>
  </td>
 </tr>
 <tr>
  <td width=541 valign=top style='width:405.9pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i><span style=''>Since this
  is a global setting, it will affect all reports.</span></i></p>
  </td>
 </tr>
</table>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><span style=''>The following
attributes can be set in the Ad Hoc element:</span></p>


<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal><b><span style=''>Device</span></b></li>
</ul>


<p class=MsoNormal style='margin-left:.25in'><span style=''>Set
this attribute to enable detection of a mobile device and restrict the reports
list to mobile reports only. Valid attribute values are:</span></p>

<p class=MsoNormal style='margin-left:.25in'><span style=''>&nbsp;</span></p>

<ul style='margin-top:0in' type=disc>
 <ul style='margin-top:0in' type=circle>
  <li class=MsoNormal><b><span style=''>PC   </span></b><span
      style=''>the default value. Indicates
      that the reports list should be rendered identically to the list on the
      personal computer.</span></li>
  <li class=MsoNormal><b><span style=''>Tablet </span></b><span
      style=''>or <b>Phone </b> indicates that
      the mobile device is a tablet/phone and that the report lists should be
      restricted to mobile reports</span></li>
  <li class=MsoNormal><b><span style=''>Detect
       </span></b><span style=''> indicates
      that the system should detect the device type and if a mobile device
      restrict the report lists to mobile reports<b><br>
      <br>
      </b></span></li>
 </ul>
 <li class=MsoNormal><b><span style=''>ahShowNonAskReportParams</span></b></li>
</ul>


<p class=MsoNormal style='margin-left:.5in;text-indent:-.25in'><span
style=''>Setting this attribute to &quot;True&quot;
will display both ask and non-ask parameters in the report filter. If set to
 False  the non-ask parameters will not be shown. This attribute helps resolve
the case of nested report filters using a combination of ask and non-ask
parameters where the parenthetical indicators might become mismatched and
appear illogical.</span></p>

<p class=MsoNormal style='margin-left:.5in;text-indent:-.25in'><span
style=''>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><span style=''>ahUseActiveSQL</span></b></p>


<p class=MsoNormal style='margin-left:.25in'><span style=''>Set
this attribute to True to generate ActiveSQL datalayers in the report. Set it
to False to generate the standard SQL datalayers. If ActiveSQL is enabled,
there are a number of Ad Hoc features that are impacted, such as:</span></p>

<p class=MsoNormal style='margin-left:.75in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style=''>Statistical
Columns</span></p>

<p class=MsoNormal style='margin-left:.75in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style=''>Crosstab extra
label and value options</span></p>

<p class=MsoNormal style='margin-left:.75in;text-indent:-.25in'><span
style='Symbol'> <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style=''>Ability to use
stored procedures</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


</body>
</html>
