<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291634" class="title">Archiving Reports</a></h4>


<p class=MsoNormal>Archiving reports gives users the ability to retain copies
of a single report as the report is changed over time. Reports created with Ad
Hoc are interactive and dynamic - the report data may change depending on when
the report is executed or modified. A report archive stores copies of the
report to retain important data.</p>


<p class=MsoNormal><b>To add a report to the archive at runtime for report
built with the <i>Add to Archive</i> option:</b></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal>Ensure that the <i>Add to Archive </i>checkbox is enabled
     in the Export Options tab.</li>
 <li class=MsoNormal>Run the report and click the <i>Add to Archive </i>icon at
     the bottom of the report.</li>
 <li class=MsoNormal>When the Reports list is refreshed, the <i>View Archives</i>
     action will be available for the report.</li>
</ol>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>

<p class=MsoNormal> </p>

<p class=MsoNormal><b>To view and manage an archived report:</b></p>


<p class=MsoNormal>To view archived reports, hover the mouse over the <b>More</b>
button for the report and select <i>View Archives</i> from the dropdown list. </p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image222.jpg"></p>


<p class=MsoNormal>Click the <i>Archive Date</i> timestamp of the desired
archive from the list to view the report.</p>


<p class=MsoNormal>Click on the <img border=0  
src="Report_Design_Guide_files/image223.gif"> to email the archived report.</p>


<p class=MsoNormal>Click on the <i>Archived Date</i> column header to sort the
list.</p>


<p class=MsoNormal>Click on the <b>Delete Archives</b> button to remove the
selected reports from the archives. Archived reports may be selected by
enabling the checkbox adjacent to the <i>Archive Date</i>. Confirm the deletion
by clicking on the <b>OK</b> button in the confirmation dialog.</p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>



</body>
</html>
