<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h2><a name="_Toc263162793">Archives</a></h2>


<p class=MsoNormal><span style=''>The Archives
page allows administrators to view the complete archive for any individual
report. Administrators can delete an individual report from the archive or
delete the entire archive. An archive snapshot may also be mailed.</span></p>


<p class=MsoNormal><span style=''>Select <b>Archives</b>
from the <i>Report Configuration</i> drop-down list<b> </b>to display the <i>Scheduled
Reports</i> configuration page.</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image100.jpg"></span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note:</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>The <b>Archives</b>
  option will not be presented unless archiving is enabled and at least one
  report for the current reporting database has been archived.</span></p>
  </td>
 </tr>
</table>


<p class=MsoNormal><span style=''>Click a
report's name in the <i>Name</i> column to view the report in a new browser
window.</span></p>


<p class=MsoNormal><span style=''>Click the
number in the <i>Archive Count</i> column to view all archives associated to
the report.</span></p>


<p class=MsoNormal><span style=''>The reports
with archives may be sorted by clicking on either the <i>Name</i> or <i>Owner</i>
column header.</span></p>


<p class=MsoNormal><span style=''>All of the
archives for a report may be deleted by selecting the report with the
applicable checkbox and clicking on the <b>Delete Archives</b> button. Click on
the <b>OK</b> button to confirm the deletion.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><span style=''>To view the
archive(s) associated to a report, click the number in the <i>Archive Count</i>
column next to the corresponding report. The Archive page will be displayed for
the report.</span></p>

<p class=MsoNormal style='margin-left:.25in'><span style=''>&nbsp;</span></p>

<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image101.jpg"></span></p>


<p class=MsoNormal><span style=''>Click on the <i>Archived
Date</i> or <i>Owner</i> column headers to sort the archive list.</span></p>


<p class=MsoNormal><span style=''>Click the
date from the <i>Archived Date</i> column to view the archived report in a new
browser window.</span></p>


<p class=MsoNormal><span style=''>The  <img
border=0   src="System_Admin_Guide_files/image102.jpg"> icon
indicates that only one action can be performed on the archive. Click on the <img
border=0   src="System_Admin_Guide_files/image102.jpg"> icon
to email the archive report. Enter a recipient address and subject. Click on
the <b>Send</b> button to email the report.</span></p>



<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note:</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>Archives
  can be centrally managed through the Management Console. Refer to the <i>Management
  Console Usage Guide</i> for details regarding managing the archive folders. </span></p>
  </td>
 </tr>
</table>

<b><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></b>


</body>
</html>
