<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h2><a name="_Toc263162782">Categories</a></h2>

<h4><i><span style='font-weight:normal;text-decoration:none'>Categories</span></i><span
style='font-weight:normal;text-decoration:none'> are a convenient mechanism for
grouping logically related data objects, making them easier to find. <i>Categories</i>
are implemented as a filter in the Report Builder data selection dialogs. </span></h4>

<h4><span style='font-weight:normal;text-decoration:none'>Essentially the
System Administrator creates one or more categories and assigns data objects to
the category. Data objects may appear in more than one category since many data
objects are common to different reporting needs (e.g. the States data object
may be required to create reports on the Sales data as well as the Human
Resources data).</span></h4>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note:</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>The System
  Administrator may also create the <i>Categories</i> by using the Management
  Console. Refer to the <i>Management Console usage Guide</i> for details.</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><b><u><span style=''><span
 style='text-decoration:none'>&nbsp;</span></span></u></b></p>

<p class=MsoNormal><span style=''>Select <b>Categories</b>
from the <i>Database Object Configuration</i> drop-down list<b> </b>to display
the <i>Categories</i> configuration page.</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image046.jpg"></span></p>


<p class=MsoNormal><span style=''>The <b>Database</b>
dropdown list acts as a filter for the Category list. Only data object
Categories related to the selected database will be displayed. If only one
reporting database has been configured for the Ad Hoc instance, the <b>Database</b>
filter will not be shown.</span></p>


<p class=MsoNormal><span style=''>The <b>Add</b>
button will display an empty <i>Category</i> page.</span></p>


<p class=MsoNormal><span style=''>The <b>Delete</b>
button will remove the selected category. Categories are selected by clicking on
the applicable checkbox.</span></p>


<p class=MsoNormal><span style=''>Two actions
are available for a Category; <b>Modify Category, </b>and<b> Delete Category. </b>Hover
the mousepointer over the <img border=0  
src="System_Admin_Guide_files/image025.jpg"> icon to show the available
actions.</span></p>

<h4><span style='text-decoration:none'>&nbsp;</span></h4>

<p class=MsoNormal><i><u><span style=''>Adding
a Category</span></u></i></p>


<p class=MsoNormal><span style=''>To add a
category, click on the <b>Add</b> button and the category dialog will be
displayed:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image047.jpg"></span></p>


<p class=MsoNormal><span style=''>The <i>Category
Name</i> is required and must be unique. The <i>Description </i>is optional.
Assign data objects to the category from the list of Available Objects.</span></p>


<p class=MsoNormal><span style=''>Click on the <b>OK</b>
button to store the new Category information. </span></p>


<h5 align=left style='text-align:left'><i><span style='font-weight:normal'><span
 style='text-decoration:none'>&nbsp;</span></span></i></h5>

<i><u><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></u></i>

<h5 align=left style='text-align:left'><i><span style='font-weight:normal'><span
 style='text-decoration:none'>&nbsp;</span></span></i></h5>

<h5 align=left style='text-align:left'><i><span style='font-weight:normal'>Modifying
Categories</span></i></h5>


<p class=MsoNormal><span style=''>To change category
information, click the <b>Modify Category</b> action for the category.  The <i>Category
Details</i> dialog will be displayed:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image048.jpg"></span></p>


<p class=MsoNormal><span style=''>Modify the appropriate
information and click the <b>OK</b> button to store the information.</span></p>


<b><span style='font-size:14.0pt;'><br
clear=all style='page-break-before:always'>
</span></b>

</body>
</html>
