<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291621" class="title">Export to Word</a></h4>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image182.gif"></p>


<p class=MsoNormal><i>Export to Word</i> downloads the report into a Microsoft
Word document. A temporary name is given to the file, with the Word file
extension (.doc).</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Reports
  containing drill-down groupings will not be expanded when exported.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Due to a
  MS-Word limitation, if a report contains more than 50 columns, then only the
  first 50 columns will be exported.</p>
  </td>
 </tr>
</table>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image189.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>The report is exported to
Microsoft Word format.</span></p>


<p class=MsoNormal>If Microsoft Word is installed, the report opens as a Word
document. Edit the report as a Word document or save the report unedited.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#FFFF99;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial>Hint:</p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i>Click <b>View &gt; Toolbars</b> to add standard Word
  toolbars to the browser window.</i></p>
  </td>
 </tr>
</table>


<p class=MsoNormal>Save the report in Word format by clicking the File menu and
choosing <b>Save as</b>. Choose a name and location for the file and click <b>Save</b>.</p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


</body>
</html>
