<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291620" class="title">Export to Excel</a></h4>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image181.gif"></p>


<p class=MsoNormal><i>Export to Excel</i> opens a new browser window,
displaying the report in Microsoft Excel (spreadsheet) format.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial>Note:</p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i>Reports containing drill-down groupings will not be
  expanded when exported.</i></p>
  </td>
 </tr>
</table>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image188.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>The report is exported to
Microsoft Excel as a spreadsheet.</span></p>


<p class=MsoNormal>If Microsoft Excel is installed, the report opens as an
Excel spreadsheet. Select rows or columns for sorting, copying, pasting, etc.,
and perform many other typical Excel functions.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#FFFF99;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial>Hint:</p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i>Click <b>View &gt; Toolbars</b> to add standard Excel
  toolbars to the browser window.</i></p>
  </td>
 </tr>
</table>


<p class=MsoNormal>Save the report in Excel format by clicking the File menu
and choosing <b>Save as</b>. Choose a name and location for the file and click <b>Save</b>.</p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


</body>
</html>
