<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291622" class="title">Export to PDF</a></h4>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image183.gif"></p>


<p class=MsoNormal><i>Export to PDF</i> opens the report in the current browser
window as a PDF document viewable with Adobe Reader.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial>Note:</p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i>Reports containing drill-down groupings will not be
  expanded when exported. In order to view PDF reports from the browser, the
  Adobe Acrobat Reader plug-in must be installed. See the system administrator
  for additional help.</i></p>
  </td>
 </tr>
</table>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image190.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>The report is exported to
Adobe Portable Document Format.</span></p>


<p class=MsoNormal>The Adobe toolbar is displayed across the top of the report,
providing many typical PDF functions. Users can save, print and search the
entire document.</p>


<p class=MsoNormal>Save the report in PDF format by clicking <b>Save a copy</b>
from the Adobe toolbar. Choose the name and location and click <b>Save</b>. The
default file type is <b>Adobe PDF Files (*.pdf)</b>.</p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


</body>
</html>
