<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291616" class="title">Adding Labels</a></h4>


<p class=MsoNormal>The Label component offers the ability to add custom
messages and text in the report. An unlimited number of labels above or below
other reporting components can be added. Use labels to add text to the report
that would otherwise be too long for a table or chart caption.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image174.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>A bar chart with a red label
beneath it.</span></p>



<p class=MsoNormal>Click <img border=0  
src="Report_Design_Guide_files/image170.jpg"> to add a Label to the report
definition. Alternatively, use the drag-and-drop method to place the label in
the Report Layout panel. A corresponding <i>Label Information</i> tab will be
created.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image175.jpg"></p>


<p class=MsoNormal>Type the text for the <i>Label</i> in the field provided.</p>


<p class=MsoNormal>Choose a <i>Label Type</i> from the drop-down menu where <i>Simple</i>
<u>always</u> centers the text and <i>Full Width </i>uses the full available
width of the report.</p>


<p class=MsoNormal><u>OPTIONAL</u>: Choose a text-style orientation from the <i>Style</i>
drop-down menu (e.g., red, green, Align Text Left, etc.)..</p>



</body>
</html>
