<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291592" class="title">Learning the Interface</a></h4>



<p class=MsoNormal><i>Menu Bar</i></p>


<p class=MsoNormal>There are fivemain links available in Ad Hoc in the menu bar
at the top of the page:</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal><b>Reports</b> - Modify, share and run reports</li>
 <li class=MsoNormal><b>Profile </b>- Update your user account information and
     preferences</li>
 <li class=MsoNormal><b>About </b>  Get summarized information about Ad Hoc</li>
 <li class=MsoNormal><b>Help</b> - Get help using Ad Hoc</li>
 <li class=MsoNormal><b>Logout</b> - Exit Ad Hoc</li>
</ul>



<p class=MsoNormal><b><i><u><span style='color:red'>IMPORTANT</span></u></i></b><i><span
style='color:red'>: Unless specifically stated otherwise, use of the word
'report' or 'reports' in the description of the Ad Hoc's functionality implies
both reports and dashboards</span></i></p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image010.jpg"></p>



<i><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></i>


<p class=MsoNormal><i>Reports Page</i></p>


<p class=MsoNormal>The <i>Reports</i> page is the default main page in Ad Hoc. For
end users, reports are divided into <i>Personal Reports</i> and <i>Shared
Reports</i>. The <i>Personal Reports</i> tab will display a list of reports,
dashboards and folders specific to the logged in user. The <i>Shared Reports</i>
tab will similarly display a list of the reports shared by all users in the
organization.</p>


<p class=MsoNormal>Initially, the Reports page will not have any reports or
folders to list or manage and the page will appear as:</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image011.jpg"></p>


<p class=MsoNormal>On the page are a <b>Personal Reports</b> link to this page,
the <b>Shared Reports</b> link to the page listing the reports accessible to other
members of the organization, and the <b>New Report, New Dashboard </b>and <b>New
Folder</b> buttons to create reports, dashboards and folders respectively.</p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal>Once reports or folders are added to the application, the
Reports page may appear as:</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image012.jpg"></p>


<p class=MsoNormal>Click on the <img border=0  
src="Report_Design_Guide_files/image013.jpg"> icon to show basic orientation
help for the reports list page.</p>


<p class=MsoNormal>If more than one reporting database is available for the end
user a Database dropdown list will be presented. The Database dropdown list
acts as a filter for the list of reports. Only reports based on the selected
database will be shown in the list. The database list does not filter the
folders.</p>


<p class=MsoNormal>The Report Builder uses the currently selected database as
the source for all report data. Consequently, if the currently selected
database is changed, any reports that contain data from another database are
not visible.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Note:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>If the Database drop-down menu is not visible, then the
  user only has access to one database. Contact the system administrator if
  additional access is needed.</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>In the above example is a folder named  Customer Reports 
and a report named  Categories .</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Note:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>The  (All)  option will only be presented if the System
  Administrator has enabled the  Multiple Connection  option. When the  (All) 
  option is selected, the report list is not filtered. In addition, the  Modify
  Data Source  dialog will present all of the data objects for all of the
  reporting databases to which the user has access.</p>
  </td>
 </tr>
</table>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal>Following are the available functions:</p>


<p class=MsoNormal><b>New Report</b>   click on the <b>New Report</b> button to
begin the process of creating a report</p>


<p class=MsoNormal><b>New Folder</b>   click on the <b>New Folder</b> button to
show the dialog to create a folder</p>


<p class=MsoNormal><b>Delete</b>   click on the <b>Delete</b> button to remove selected
items from the list</p>


<p class=MsoNormal><b>Copy</b>   click on the <b>Copy</b> button to replicate
the selected items</p>


<p class=MsoNormal><b>Move</b>   click on the<b> Move</b> button to move the
selected items to another location</p>


<p class=MsoNormal><b>Find Reports</b>   click on the <b>Find Reports</b>
button to do a  contains  search of the <i>Name</i> column for the associated
text. Click on the <img border=0  
src="Report_Design_Guide_files/image014.jpg"> icon in the textbox to clear the
text and refresh the list. This option is configurable and may be hidden.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>The <i>Find
  Reports</i> criteria will be retained for all subsequent visits to the page
  until it has been cleared out.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Depending on a
  user's <i>Preference</i> settings, the Find Reports criteria may be retained
  after logging out or terminating a browser session.</p>
  </td>
 </tr>
</table>



<p class=MsoNormal><u>Select All</u>   click on the checkbox in the list header
to select or deselect all items in the list</p>


<p class=MsoNormal><u>Sort</u>   sort the list by clicking on the <i>Name</i>
or <i>Last Modified</i> header. Clicking a second time will reverse the sort
order.</p>


<p class=MsoNormal><u>Select Items</u>   click on the checkbox within a row to
select or deselect the item in the list</p>


<p class=MsoNormal><u>Run Reports </u>  click on the report link in the list to
execute the item</p>


<p class=MsoNormal><u>Folder </u>  click on the folder link in the list to
navigate to a folder</p>


<p class=MsoNormal><b>Edit</b>   click on this button to edit a report or to
reset the name or description of a folder</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image015.jpg"> this action  button  icon
indicates that there are multiple actions that may be performed on the item.
Hover the mouse over the icon to display the dropdown list of actions
available. The available actions are dependent upon the configuration and the
item type; however, the list may include <i>Modify, Rename, Copy, Move,
Schedule, Archive</i> and <i>View Dependencies</i>.</p>


<p class=MsoNormal>The following icons are used to signify a report's status or
type:</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image016.jpg">        Ad Hoc Report</p>

<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image017.gif" alt="*">         Scheduled Ad Hoc
Report</p>

<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image018.jpg">       Ad Hoc Dashboard</p>

<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image019.jpg">        Ad Hoc Mobile Report</p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>




</body>
</html>
