<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291600" class="title">Setting Filters</a></h4>


<p class=MsoNormal>Data used in the report may be filtered by various criteria.
The criteria may be set for the report by the developer ( non-Ask  parameters)
or may be supplied by the user when the report is executed ( Ask  parameters).</p>


<p class=MsoNormal>To set a filter for the report click on the <b>Select Data</b>
button to display the <i>Select Data</i> dialog. Click on the <i>Filter</i> tab
to display:</p>



<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image053.jpg"></p>



<p class=MsoNormal>To create a filter parameter, click on the <b>Add a
Parameter</b> button to display the Parameter Details dialog.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image054.jpg"></p>


<p class=MsoNormal>A parameter takes the form of an equation similar to:</p>


<p class=MsoFooter align=center style='text-align:center'><i>Label </i>is <i>Compared
</i>to <i>Value</i></p>


<p class=MsoFooter>where <i>label</i> represents a column name, <i>compared to</i>
represents a comparison operator, and <i>value</i> represents a threshold.</p>


<p class=MsoFooter>The available comparison operators are:</p>


</div>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:auto'>
</span>

<div class=WordSection2>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal>Equal to</li>
 <li class=MsoNormal>Not equal to</li>
 <li class=MsoNormal>Less than</li>
 <li class=MsoNormal>Greater than</li>
 <li class=MsoNormal>Less than or equal to</li>
 <li class=MsoNormal>Greater than or equal to</li>
 <li class=MsoNormal>Starts with <sup>1</sup></li>
 <li class=MsoNormal>Does not start with <sup>1</sup></li>
 <li class=MsoNormal>Ends with <sup>1</sup></li>
 <li class=MsoNormal>Does not end with <sup>1</sup></li>
 <li class=MsoNormal>Contains <sup>1</sup></li>
 <li class=MsoNormal>Does not contain <sup>1</sup></li>
 <li class=MsoNormal>Is null</li>
 <li class=MsoNormal>Is not null</li>
 <li class=MsoNormal>Between</li>
 <li class=MsoNormal>Not between</li>
 <li class=MsoNormal>In list</li>
 <li class=MsoNormal>Not in list</li>
 <li class=MsoNormal>In cascading list</li>
</ul>

</div>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:auto'>
</span>

<div class=WordSection3>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>These
  operators are only available for data of type String or Text.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>The operators
  available are dependent upon the column's data type. For example, a numeric
  data type would not include operators such as <b>true/false</b>.</p>
  </td>
 </tr>
</table>

<b><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></b>


<p class=MsoNormal><b>To set a data parameter to a <i>Specific Value</i> or <i>Pre-defined
Date</i>:</b></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal>From the <i>Column</i> drop-down menu, select the desired column.
     </li>
 <li class=MsoNormal>From the <i>Operator</i> drop-down menu, select the
     desired comparison operator.</li>
 <li class=MsoNormal>From the <i>Value</i> type drop-down menu, select either <i>Specific
     Value </i>or <i>Pre-defined Date</i>.</li>
 <li class=MsoNormal>Specify a threshold value(s) in the <i>Value</i> field.
     Click the <img border=0  
     src="Report_Design_Guide_files/image055.gif"> icon to view a list of valid
     values from the database and then populate the Value field from the
     value(s) selected.</li>
 <li class=MsoNormal>Click <b>OK </b>to add the parameter to the report.</li>
 <li class=MsoNormal>Click the <img border=0  
     src="Report_Design_Guide_files/image051.jpg"> icon adjacent to any
     parameter to delete that parameter from the report. Click the <img
     border=0   src="Report_Design_Guide_files/image056.gif"> icon
     to modify a parameter.</li>
 <li class=MsoNormal>Add more parameters by clicking the <b>Add a Parameter</b>
     button and repeating the steps above.</li>
</ol>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>If the <i>'In
  list'</i> or <i>'Not in list'</i> operator is selected, then more than one
  value may be specified. If manually typing in each value, then follow each
  entry by the [ENTER] key.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>If the main
  data column is of date type, an additional choice of values called <b>Pre-defined
  Date</b>. Pre-defined dates are dates in the form of a token, such as Today,
  This Year End, Last Fiscal Quarter Start, etc. Pre-defined dates get
  evaluated at the time the report runs. If the pre-defined date token is
  evaluated to a column containing time, then no records will be returned at
  runtime.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>3.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>If the value
  is a number, the <i>Value</i><b> </b>field must contain a valid number to
  build the report. If the <i>'In cascading list'</i> or <i>'Not in cascading
  list'</i> operator is selected, then a user must choose a cascading filter
  and as a result do not have the option to specify a value. See the 'Running
  Reports' chapter<b> </b>for more information about cascading filters.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>4.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>The <i>Filter</i>
  functionality does not support conditions against data types of type Time.
  Date/Time data types are supported but their time portion will be ignored.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>5.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Specifying a
  Session Parameter as a value in report parameters is permissible. There are
  implications related to scheduling and archiving. In addition, modification
  of the session parameter after the report is built may  break  the report
  which may  break  schedules. Subscribed users may be automatically notified
  when a schedule is  broken .</p>
  </td>
 </tr>
</table>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#FFFF99;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Hint:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal>When adding multiple parameters, a logical operator (<b>And</b>
  or <b>Or</b>) becomes available for selection at the beginning of the next
  parameter. Use this operator to set the cumulative conditions for the
  parameters.</p>
  </td>
 </tr>
</table>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal>If the report contains two or more parameters, the <img
border=0   src="Report_Design_Guide_files/image057.gif"> icon
appears for each additional parameter. The directional pad gives users the
ability to create <i>levels </i>for each parameter. Control the order of
evaluation for multiple parameters using the directional pad.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image058.jpg"></p>


<p class=MsoNormal>In the above example the logic is:</p>


<p class=MsoNormal>(CustomerID = ANTON OR BOTTM) And Region = CA</p>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><b><u>Ask Parameters</u></b></p>


<p class=MsoNormal>Enable the <i>Ask in Report</i> option to offer the report viewer
the option of changing the threshold value before the report is rendered. Instead
of limiting the report to predefined parameters, the values can be modified
while browsing the report.</p>


<p class=MsoNormal>Marking an operator as an &quot;ask&quot; parameter presents
a few other options in the <i>Parameter Details</i> dialog.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image059.jpg"></p>


<p class=MsoNormal> The parameter caption will be automatically generated based
on the column name if left blank.</p>


<p class=MsoNormal><i>Control Type</i> values depend on both the operator
picked and the selected column's data type. For example, a text type column
with <i>Equal To</i> operator presents the following choices:</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal>Text</li>
 <li class=MsoNormal>Dropdown</li>
 <li class=MsoNormal>List (single select)</li>
</ul>


<p class=MsoNormal>The <i>In list</i> operator produces the following choices:</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal>List (multi-select)</li>
 <li class=MsoNormal>Text (multi line)</li>
</ul>


<p class=MsoNormal>A date type column with <i>Equal To</i> operator produces
the following choices:</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal>Date</li>
 <li class=MsoNormal>Dropdown</li>
 <li class=MsoNormal>List (single select)</li>
</ul>


<p class=MsoNormal>A Boolean type column with <i>Equal To</i> operator produces
the following choices:</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal>Checkbox</li>
 <li class=MsoNormal>Dropdown</li>
 <li class=MsoNormal>List (single select)</li>
</ul>


<p class=MsoNormal>If more than one parameter is presented to the user, the
option to display each parameter adjacent the previous one or on a new line is
available. Choose by marking the desired radio button for <i>Display this
parameter</i>.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>With the
  control type of <i>List (multi select)</i> selected, the initial display of
  the report will appear with the Ask parameter's list populated with all
  possible values from the database and with the default values
  highlighted/pre-selected.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>With the
  control type of <i>Text (multi line)</i> selected, the initial display of the
  report will appear with the Ask parameter's list populated with only the
  default values. The values will not be highlighted/pre-selected.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>3.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>With the
  control type of <i>Dropdown</i> selected, <i>Offer All Option</i> checkbox is
  made available. Checking this checkbox will set the first row of the dropdown
  list to  All , allowing the report viewer to use that option as the report
  parameter.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>4.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Parameters
  based on comparing two columns cannot be  asked  from the user.</p>
  </td>
 </tr>
</table>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


</body>
</html>
