<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h2><a name="_Toc263162779">Permissions</a></h2>


<p class=MsoNormal><span style=''>Permissions
are collections of related  rights . Each right identifies a feature or
function in Ad Hoc. There are over 75 rights that may be bundled into a
permission, also known as a permission package.</span></p>


<p class=MsoNormal><span style=''>One or more
permissions are assigned to roles. Roles are then assigned to users.</span></p>


<p class=MsoNormal><span style=''>The Permissions
page allows the system administrator to create and manage permissions in the
application.</span></p>


<p class=MsoNormal><span style=''>Select <b>Permissions</b>
from the <i>User Configuration</i> drop-down list<b> </b>to display the <i>Permissions</i>
configuration page.</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image043.jpg"></span></p>


<p class=MsoNormal><span style=''>Ad Hoc is
distributed with 11 of the most common permission packages pre-defined. All but
the System Administration permission package may be edited and deleted.</span></p>


<p class=MsoNormal><span style=''>The <b>Add</b>
button will display an empty <i>Permission</i> page.</span></p>


<p class=MsoNormal><span style=''>The <b>Delete</b>
button will remove the selected permission. Permissions are selected by
clicking on the applicable checkbox.</span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note</span></b><span
  style=''>:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>The  System
  Administration  permission package contains all rights and may not be altered
  or deleted.</span></p>
  </td>
 </tr>
</table>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note</span></b><span
  style=''>:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>If the
  permission is assigned to any roles, that permission is removed from those
  roles when it is deleted.</span></p>
  </td>
 </tr>
</table>


<p class=MsoNormal><span style=''>Two actions
are available for a Permission; <b>Modify Permission, </b>and<b> Delete
Permission. </b>Hover the mousepointer over the <img border=0 
 src="System_Admin_Guide_files/image025.jpg"> icon to show the
available actions.</span></p>



<p class=MsoNormal><i><u><span style=''>Adding
a Permission</span></u></i></p>


<p class=MsoNormal><span style=''>To add a
permission, click on the <b>Add</b> button and the permission page will be
displayed:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image044.jpg"></span></p>


<p class=MsoNormal><span style=''>The <i>Permission
Name</i> is required and must be unique. The <i>Description </i>is optional.
Assign rights to the permission from the list of Available Rights.</span></p>



<p class=MsoNormal><span style=''>Click on the <b>Save</b>
button to store the new Permission information. </span></p>


<p class=MsoNormal><i><u><span style=''><span
 style='text-decoration:none'>&nbsp;</span></span></u></i></p>

<p class=MsoNormal><i><u><span style=''>Adding
a Permission Using  Save As </span></u></i></p>


<p class=MsoNormal><span style=''>The
administrator can create a permission by modifying an existing permission and
then saving it as a new permission by clicking on the <b>Save As</b> button. </span></p>


<h5 align=left style='text-align:left'><i><span style='font-weight:normal'><span
 style='text-decoration:none'>&nbsp;</span></span></i></h5>

<h5 align=left style='text-align:left'><i><span style='font-weight:normal'>Modifying
Users</span></i></h5>


<p class=MsoNormal><span style=''>To change permission
information, click the <b>Modify Permission</b> action for the permission
package.  The <i>Modify</i> <i>Permissions</i> page will be displayed:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image045.jpg"></span></p>


<p class=MsoNormal><span style=''>Modify the appropriate
information and click the <b>Save</b> button to store the information.</span></p>


<p class=MsoNormal><span style=''>To save the
edited information by a new <i>Permission Name</i>, click on the <b>Save As</b>
button, enter the new name and click on the <b>OK</b> button to save the
information.</span></p>

<p class=MsoHeader>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note:</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>The <i>Selected
  Permission</i> drop-down list may be used to navigate through permission
  packages and avoid using the <b>Back to Permissions</b> button and selecting
  a different permission.</span></p>
  </td>
 </tr>
</table>


<b><u><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></u></b>

<h4><span style='text-decoration:none'>&nbsp;</span></h4>

</body>
</html>
