<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h2>Scheduled Reports</h2>


<p class=MsoNormal><span style=''>The <i>Scheduled
Reports</i> page allows administrators to view, modify and delete any
schedule(s) created for an individual report. Additionally, the administrator
can create additional schedules against any already scheduled report, subscribe
users to receive the scheduled reports via email and/or archive scheduled
reports.</span></p>


<p class=MsoNormal><span style=''>The
scheduling process is flexible and easy, offering the ability to deliver
reports via email in HTML format, attached in a document (e.g., PDF, Word,
Excel, CSV) or offering a link to the report in the archive directory on the
server.</span></p>


<p class=MsoNormal><span style=''>The
scheduling process is described in detail in the <i>Report Builder Guide</i>.
The primary purpose of the <i>Configuration / Report Configuration / Scheduled
Reports</i> page is to centrally manage existing schedules. Creating a new
schedule is typically implemented using the Report Builder.</span></p>


<p class=MsoNormal><span style=''>Select <b>Scheduled
Reports</b> from the <i>Report Configuration</i> drop-down list<b> </b>to
display the <i>Scheduled Reports</i> configuration page.</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image099.jpg"></span></p>


<p class=MsoNormal><span style=''>The <b>Delete</b>
button will remove the schedules for the selected report. Reports are selected
by clicking the applicable checkbox.</span></p>

<p class=MsoNormal><span style=''> </span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note:</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>Reports are
  not deleted. Only the schedules for the report will be deleted.</span></p>
  </td>
 </tr>
</table>


<p class=MsoNormal><span style=''>A search
control may be presented for the <i>Scheduled Reports</i> page. Enter the
search criteria in the textbox and click on the <b>Find Scheduled Reports</b>
button. The search will find reports based on a  contains  test. To clear the
search criteria click on the <img border=0  
src="System_Admin_Guide_files/image095.jpg"> in the text box. The availability
of the search feature is configurable.</span></p>


<p class=MsoNormal><span style=''>The list of
scheduled reports may be sorted by clicking on either the <i>Name</i> or <i>Folder</i>
column header.</span></p>


<p class=MsoNormal><span style=''>Click on the
report <i>Name</i> link to run the report.</span></p>


<p class=MsoNormal><span style=''>Click on the <i>Folder</i>
link to navigate to the folder containing the report.</span></p>


<p class=MsoNormal><span style=''>Click on the
schedule count link to view the schedules for the report. From that page, the
administrator may create new schedules for the report, remove schedules and
modify schedule information.</span></p>

<b><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></b>


</body>
</html>
