<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h2><a name="_Toc263162780">Session Parameters</a></h2>


<p class=MsoNormal><span style=''>Session
Parameters are documented in Chapter 4 - Application Configuration.</span></p>


<p class=MsoNormal><span style=''>Session
parameters are generally defined with  application  scope and are defined and
documented under the <i>Application Configuration</i> options. By default, the
link to the Session Parameter management pages is displayed in the <i>Application
Configuration</i> drop-down list.</span></p>


<p class=MsoNormal><span style=''>If the
ability to specify <i>Organizations</i> is enabled, the session parameter s values
may be applied specifically to an organization. In this case, the scope of
Session Parameters is closer to <i>User Configuration</i> and the link to the
Session Parameter management pages is displayed in the <i>User Configuration</i>
drop-down list.</span></p>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<h2>Session Parameters</h2>


<p class=MsoNormal><span style=''>The Session
Parameters screen allows the system administrator to create one or more <i>session
variables. </i> The session parameters simply relate values to a name which can
be used in an @Session token. They are commonly used in data object filters,
but may be used throughout the Ad Hoc instance.</span></p>


<p class=MsoNormal><span style=''>Session
variables are part of the .NET Framework and hold a specific value for the
duration of the user session. Each session variable is initialized with a
specified value when users log in to the application. The value is either the
default value set on this page, a value that has been set for the organization,
or a value passed to the Ad Hoc instance from a parent application.</span></p>


<p class=MsoNormal><span style=''>Select <b>Session
Parameters</b> from the <i>Application Configuration</i> drop-down list<b> </b>to
display the <i>Session Parameters</i> configuration page.</span></p>


<p class=MsoNormal><img border=0  
src="System_Admin_Guide_files/image110.jpg"></p>


<p class=MsoNormal><span style=''>The <b>Add</b>
button will display an empty <i>Session Parameter Details</i> dialog.</span></p>


<p class=MsoNormal><span style=''>The <b>Delete</b>
button will remove the selected session parameter. Session parameters are
selected by clicking on the applicable checkbox.</span></p>


<p class=MsoNormal><span style=''>Click on the <i>Parameter
Name</i> column header to sort the list.</span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note:</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>Number and
  Numeric List session parameters must have a default value.</span></p>
  </td>
 </tr>
</table>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><span style=''>Note:</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style=''>The
  following syntax may be used to reference a session parameter:</span></p>
  <p class=MsoNormal><span style=''> <i>@Session.&lt;parameter_name&gt;~</i>
  where &lt;parameter_name&gt; must exactly match the session parameter name,
  including character case.</span></p>
  </td>
 </tr>
</table>





<p class=MsoNormal><i><u><span style=''>Adding
a Session Parameter</span></u></i></p>

<p class=MsoNormal><i><u><span style=''><span
 style='text-decoration:none'>&nbsp;</span></span></u></i></p>

<p class=MsoNormal><span style=''>To add a
session parameter, click on the <b>Add</b> button to open the following dialog:
</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image111.jpg"></span></p>


<p class=MsoNormal><span style=''>The <i>Parameter
Name</i> attribute is how the session parameter will be referenced throughout
the application.</span></p>


<p class=MsoNormal><span style=''>The <i>Type</i>
attribute defines one of the parameter types recognized by Logi Ad Hoc. The <i>Type</i>
will be used along with the usage context to determine which session parameters
to display to the end user. For example,  Text  session parameters should not
be presented as options in the Logi Ad Hoc user interface when the context
clearly calls for a numeric or date value.</span></p>


<p class=MsoNormal><span style=''>The <i>Type</i>s
include:</span></p>


<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal><span style=''>Date   the
     session parameter value is expected to be a date and the parameter will be
     available in date contexts</span></li>
 <li class=MsoNormal><span style=''>Number  
     the session parameter value is expected to be a number and the parameter
     will be available in numeric contexts</span></li>
 <li class=MsoNormal><span style=''>Numeric List
       the session parameter value is expected to be a list of numbers and the
     parameter will be available for numeric  In List/Not In List  contexts</span></li>
 <li class=MsoNormal><span style=''>Text   the
     session parameter value is expected to be a string of characters and will
     be available in string contexts</span></li>
 <li class=MsoNormal><span style=''>Textual
     List   the session parameter is expected to be a list of string values and
     will be available for text based  In List/Not in List  contexts</span></li>
</ul>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><b><span style=''>Note:</span></b><span
style=''> When one of the  list  types is
selected the dialog will be adjusted to allow specification of a list of values
as shown below:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image112.jpg"></span></p>


<p class=MsoNormal><b><span style=''>Note:</span></b><span
style=''> If a  Date  type is selected, the
dialog will be adjusted and a date picker control will be displayed as shown
below:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image113.jpg"></span></p>


<p class=MsoNormal><span style=''>The <i>Default
Value</i> attribute, in the absence of any over-rides based on Organization or User,
will be supplied to the application when the session parameter is resolved
during the execution of reports.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><i><u><span style=''>Modifying
a Session Parameter</span></u></i></p>


<p class=MsoNormal><span style=''>The Session
Parameters page presents a list of session parameters similar to the following:</span></p>


<p class=MsoNormal><img border=0  
src="System_Admin_Guide_files/image114.jpg"></p>

<p class=MsoNormal><span style=''>The session
parameters may be sorted by clicking on the <i>Parameter Name</i> column
header.</span></p>


<p class=MsoNormal><span style=''>Four actions
are available for each session parameter; <b>Modify Session Parameter</b>, <b>Delete
Session Parameter,</b> <b>Set by Organization</b> and <b>Set by User</b>.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><span style=''>Selecting the
<b>Modify Session Parameter</b> action will present a dialog to capture the new
session parameter value. For text and numeric type session parameters, the
dialog would appear as:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image115.jpg"></span></p>


<p class=MsoNormal><span style=''>Adjust the <i>Parameter
Name</i>, <i>Type</i>, or <i>Default Value</i> information and click on the OK
button to save the information.</span></p>


<p class=MsoNormal><b><span style=''>Note</span></b><span
style=''>: Changing the <i>Default Value</i>
will change the attribute value for all Organizations and Users that are
following the default values. </span></p>


<p class=MsoNormal><b><span style=''>Note</span></b><span
style=''>: The change is immediate and may
affect the current session. It is not necessary to logout and re-establish the
session if the changes are impactful to the current user. Other user sessions
are not affected by the changes until the user s login.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><span style=''>Selecting the
<b>Set by Organization</b> action will present a page similar to the following:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image116.jpg"></span></p>


<p class=MsoNormal><span style=''>The <i>Selected
Session Parameter</i> defaults to the session parameter that was used to
navigate to the page. It is also a convenient option to switch the session
focus for the page without having to return to the list of session parameters.</span></p>


<p class=MsoNormal><span style=''>The <i>Default
Value</i> and <i>Type</i> of the session parameter are displayed for
informational purposes.</span></p>


<p class=MsoNormal><span style=''>A list of
organizations is presented in the grid. The grid may be sorted by clicking on
either the <i>Organization</i> or <i>Follow Default</i> column headers.</span></p>


<p class=MsoNormal><span style=''>The <b>Restore
Default</b> button will set the <i>Parameter Value</i> to the displayed <i>Default
Value</i> for all selected Organizations.</span></p>


<p class=MsoNormal><span style=''>The <b>Set
Value</b> button will present a dialog to capture a new value and apply the
value to all of the selected Organizations.</span></p>


<p class=MsoNormal><span style=''>The <i>Follow
Default</i> checkbox indicates whether the parameter value should adopt the
Default Value. This also allows the parameter value to be set  permanently ,
meaning that changes to the <i>Default Value</i> will have no impact on the
parameter value for the organization, if the <i>Follow Default</i> checkbox is
unchecked.</span></p>


<p class=MsoNormal><span style=''>The grayed <i>Parameter
Value</i> text boxes are not disabled. The gray is a visual cue that the value
is the same as the default value and is expected to follow the default value.
That mean that if the default value changes, the organization will
automatically pick up the new value.</span></p>


<p class=MsoNormal><span style=''>The <i>Parameter
Value</i> may be changed by either typing directly into the text box or
selecting the<b> Modify</b> action and providing a new value. The parameter
value may also be changed by selecting the <b>Restore Default</b> action.</span></p>


<p class=MsoNormal><span style=''>Click on the <b>Save</b>
button to store the session parameter values for the Organization.</span></p>


<p class=MsoNormal><b><span style=''>Note</span></b><span
style=''>: The <b>Set by Organization</b>
action will not be presented from the <i>Session Parameters</i> page if the
Logi Ad Hoc instance has not been configured to allow the specification of
Organizations.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><span style=''>Selecting the
<b>Set by User</b> action will present a page similar to the following:</span></p>


<p class=MsoNormal><span style=''><img
border=0   src="System_Admin_Guide_files/image117.jpg"></span></p>


<p class=MsoNormal><span style=''>The <i>Selected
Session Parameter</i> defaults to the session parameter that was used to
navigate to the page. It is also a convenient option to switch the session
focus for the page without having to return to the list of session parameters.</span></p>


<p class=MsoNormal><span style=''>The <i>Type</i>
attribute identifies the session parameter type; date, number, numeric list,
text, or textual list.</span></p>


<p class=MsoNormal><span style=''>The <i>Organization</i>
dropdown list in the main menu (not shown) is used to filter the user list by
their respective organization. The <i>Organization</i> dropdown list is only
displayed in the page when the Logi Ad Hoc instance is configured to allow
multiple organizations and when more than one organization exists.</span></p>


<p class=MsoNormal><span style=''>The <i>Default
Value</i> reflects the current default value for the session parameter. The
actual value may be the original application scope session parameter value or
the organization scope parameter value.</span></p>


<p class=MsoNormal><span style=''>The <i>Role</i>
dropdown list allows the list of user to be filtered by role.</span></p>


<p class=MsoNormal><span style=''>A list of
users is presented in the grid. The grid may be sorted by clicking on either
the <i>User</i> or <i>Follow Default</i> column headers.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal><span style=''>The <b>Restore
Default</b> button will set the <i>Parameter Value</i> to the displayed <i>Default
Value</i> for all selected Users.</span></p>


<p class=MsoNormal><span style=''>The <b>Set
Value</b> button will present a dialog to capture a new value and apply the
value to all of the selected Users.</span></p>


<p class=MsoNormal><span style=''>The <i>Follow
Default</i> checkbox indicates whether the parameter value should adopt the <i>Default
Value</i>. This also allows the parameter value to be set  permanently , meaning
that changes to the <i>Default Value</i> will have no impact on the parameter
value for the user, if the <i>Follow Default</i> checkbox is unchecked.</span></p>


<p class=MsoNormal><span style=''>The grayed <i>Parameter
Value</i> text boxes are not disabled. The gray is a visual cue that the value
is the same as the default value and is expected to follow the default value.
That mean that if the default value changes, the user will automatically pick
up the new value.</span></p>


<p class=MsoNormal><span style=''>The <i>Parameter
Value</i> may be changed by either typing directly into the text box or
selecting the<b> Modify</b> action and providing a new value. The parameter
value may also be changed by selecting the <b>Restore Default</b> action.</span></p>


<p class=MsoNormal><span style=''>Click on the <b>Save</b>
button to store the session parameter values for the User.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal style='margin-left:.5in'><span style=''>&nbsp;</span></p>

</body>
</html>
