<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291632" class="title">Sharing Reports</a></h4>


<p class=MsoNormal>Reports can be copied to the <i>Shared Reports </i>area for
all users to view.</p>


<p class=MsoNormal>Copying reports typically involves selecting the reports to
be copied and clicking on the <b>Copy</b> button. Single reports may be copied
by clicking on the <i>Copy</i> action from the list of available actions for a
report.</p>


<p class=MsoNormal>The <i>New Report Name</i> should be entered and the <i>Destination
Folder Type</i> of <i>Shared Reports</i> selected. The option to select a
folder within the Shared Reports area may be presented.</p>


<p class=MsoNormal>Click on the <b>Save</b> button to save the reports in the
new destination.</p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>When a report
  is copied, the report's name will be prefixed with <b><span style='color:
  blue'>Copy of</span><span style='color:blue'> (#)</span></b> in order to
  distinguish them from the original. The &quot;(#)&quot; will only occur after
  a report is copied more than once.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>An <i>Expiration
  Date</i> is used to designate when a time sensitive report is deemed
  obsolete. The date must be a date greater than the current date.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>3.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>Any
  corresponding report archives are not copied with the report.</p>
  </td>
 </tr>
</table>


<b><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></b>



</body>
</html>
