<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291604"></a><a name="_Toc297114520" class="title">Statistical Columns</a></h4>


<p class=MsoNormal><i>Statistical Columns </i>give users the ability to create
new columns for the report based on a particular statistic from data in other
columns. The following statistical column types are supported with the
application:</p>


</div>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:auto'>
</span>

<div class=WordSection4>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal>Rank</li>
 <li class=MsoNormal>Reverse Rank</li>
 <li class=MsoNormal>Percentile</li>
 <li class=MsoNormal>Running Total</li>
 <li class=MsoNormal>Difference from Previous</li>
</ul>

</div>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:auto'>
</span>

<div class=WordSection5>


<p class=MsoNormal><b>To create a statistical column:</b></p>


<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal>Click on the <b>Select Data</b> button to show the <i>Select
     Data</i> dialog</li>
 <li class=MsoNormal>Click on the <i>Statistical Columns</i> tab</li>
</ol>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image071.jpg"></p>


<ol style='margin-top:0in' start=3 type=1>
 <li class=MsoNormal>Choose a function from the <b>Function Type</b> drop-down
     menu.</li>
 <li class=MsoNormal>Select a column from the <i>Columns</i> list - the
     function is applied to the column's value.</li>
 <li class=MsoNormal><u>OPTIONAL</u>: Modify the default <b>Name</b> in the
     field provided.</li>
 <li class=MsoNormal>Click <b>OK</b> to make the newly created statistical
     column available for selection in the Report Builder.</li>
</ol>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Notes:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>When the <b>OK</b>
  button is clicked the column's name is validated for SQL syntax accuracy. If
  the name is invalid, then a message will appear.</p>
  <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>If a statistical
  column is not used in the report, then it shall be deleted when exiting the
  Report Builder. Basically, use it or lose it.</p>
  </td>
 </tr>
</table>


<p class=MsoNormal>The <i>Rank</i> function ranks data from the lowest value to
the highest value. For example, a total of <i>$15.00 </i>would receive a higher
rank than a total of <i>$25.00</i>. When one or more data rows have equal
values, the rank value is the same for each row. In the following figure, the
first five orders listed all have a rank of 1. Since five orders share a rank
of 1, the next available rank value is 6.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image072.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>The <i>Quantity - Rank </i>column
ranks the Quantity column's value from lowest to highest.</span></p>


<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Arial><span style='font-style:normal'>Note:</span></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i>Rank</i> values are never higher than the actual number
  of rows in the report.</p>
  </td>
 </tr>
</table>


<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal>The <i>Reverse Rank</i> function classifies data from the
highest value to the lowest value; a larger value receives a higher rank. For
example, a total of <i>$25.00 </i>would receive a higher rank than a total of <i>$15.00</i>.
When one or more data rows have equal values, the rank value is the same for
each row. In the following figure, the eighth order and subsequent four orders
listed all have a rank of 8. Since five orders share a rank of 8, the next
available rank value is 13.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image073.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>The <i>Quantity - Reverse
Rank </i>column ranks data in the <i>Quantity </i>column from highest to
lowest.</span></p>



<p class=MsoNormal>The <i>Percentile</i> function classifies data based on a
percentage of the value distribution. In the following figure, a value equal to
or greater than <i>70</i><b> </b>but less than <i>100</i><b> </b>is reported as
the <i>98<sup>th</sup></i><b> </b>percentile.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image074.gif"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>The <i>Quantity Percentile </i>column
ranks data in the <i>Quantity </i>column based on a percentage of the value
distribution.</span></p>



<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


<p class=MsoNormal>The <i>Running Total</i> function maintains a current total
of values provided in the specified column as illustrated in the following
figure.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image075.jpg"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>Example use of Running Total<i>
</i>based on the Freight column</span></p>



<p class=MsoNormal>The <i>Difference from Previous</i> function displays the
difference from the current value and the previous value of a specified column.
In the following figure, a difference of <i>31 </i>is reported from rows one to
two indicating a gain. A difference of <i>-34 </i>is reported from rows two to
three indicating a loss.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image076.gif"></p>

<p class=MsoNormal><span style='font-size:10.0pt'>The <i>Quantity Difference </i>column
maintains the difference from the current value and the previous value of the <i>Quantity
</i>column.</span></p>

<span style='font-size:12.0pt;'><br clear=all
style='page-break-before:always'>
</span>


</body>
</html>
