<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body style='border:0;overflow:visible;'>

<h4><a name="_Toc382291608" class="title">Table Settings</a></h4>


<p class=MsoNormal>The <i>Table Settings</i> tab offers the ability to control
the general characteristics of the display table. It offers the ability to specify
a table title and add paging controls for large result sets. Interactive paging
controls can be added for the entire table as well as individual sub-reports in
a drill-down style grouped table.</p>


<p class=MsoNormal><b>To modify a tabular report's table settings:</b></p>


<p class=MsoNormal>Click on the <i>Table Settings</i> tab.</p>


<p class=MsoNormal><img border=0  
src="Report_Design_Guide_files/image120.jpg"></p>


<p class=MsoNormal>The <i>Title</i> will be displayed above the display table
in the generated report.</p>


<p class=MsoNormal>The <i>Paging Style</i> drop-down list will display the
range of paging options. The default option is  Interactive Paging . Select
 None  to remove the paging controls from a report.</p>


<p class=MsoNormal>The <i>Paging Location</i> drop down list will display
 Top ,  Bottom  and  Both . This allows the user to set the location of the
paging controls on the report.</p>

<p class=MsoNormal> </p>

<p class=MsoNormal>The <i>Rows Per Page</i> and <i>Rows Per Sub-Report Page</i>
attributes set the number of rows displayed on the display table and drill
reports, respectively. Headers and summary rows are not considered in the
number of rows per page. Only data rows are affected by these attributes.</p>


<p class=MsoNormal>The <i>Summary Row Location</i> is normally at the top of
the display table. It may be set to the bottom of the display table just below
the column headers.</p>


<p class=MsoNormal>Summary rows are typically displayed once at the bottom of
the display table. The <i>Show Summary Row</i> option may be set to repeat the
summary row on each page of the display table.</p>


<p class=MsoNormal>Drill Style grouped reports typically display the
sub-reports within a minimum space. The <i>Table Width</i> attribute allows the
sub-reports to display in a larger, fixed space. Set the <i>Table Width</i> to
100% to display drill-style reports across the full page.</p>

<u><span style='font-size:12.0pt;'><br
clear=all style='page-break-before:always'>
</span></u>


</body>
</html>
