<html>
<head>
<link rel="stylesheet" type="text/css" href="../AdHocHelp.css" />
</head>
<body>
<table "100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="logo" "100%"><img src="images/title.gif" "349" "39" border="0"></td></tr></table>
<div style="padding:10px;">

<h2><a name="_Toc382578244">Emailing</a></h2>


<p class=MsoNormal>Ad Hoc delivers scheduled reports and other notifications
via email. The two core configuration steps related to emailing are 1)
identification and credentials for the SMTP server and 2) configuring the email
notifications for each reporting database connected to the instance.</p>

<p class=MsoNormal>The <b>Email Configuration</b> dialog may be accessed by</p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormalCxSpMiddle>Clicking on <b>Instance Configuration</b> and
     then <b>Emailing</b></li>
 <li class=MsoNormalCxSpMiddle>Running the <b>Configuration Wizard</b> and
     selecting <i>Emailing</i> under the <b>Advanced Options</b> button</li>
 <li class=MsoNormalCxSpMiddle>Clicking on <b>Instance Configuration</b>, then <b>Application
     Settings</b>, then the <i>Other Features</i> tab, and then the <b>Configure
     Emailing</b> button</li>
</ul>


<p class=MsoNormal>The <b>Email Configuration </b>dialog will be displayed. </p>

<p class=MsoNormal><img border=0  
src="Mngt_Console_Usage_Guide_files/image038.jpg"></p>

<p class=MsoNormal>The <i>Email Server Settings</i> frame will display the
configuration information for the SMTP server. To identify the SMTP server and
set the access credentials, click on the <b>Edit Email Server Settings</b>
button. The <b>Email Server Settings</b> dialog will be displayed.</p>

<p class=MsoNormal><img border=0  
src="Mngt_Console_Usage_Guide_files/image039.jpg"></p>

<p class=MsoNormal>It is presumed that the System Administrator knows the SMTP server
and configuration settings to complete the dialog. The SMTP server credentials
must be sufficient to permit sending emails via relay.</p>

<p class=MsoNormal>The <b>Test SMTP Settings </b>button will verify the
configuration by sending a test email to an email address. The <b>SMTP Test</b>
dialog will be displayed.</p>

<p class=MsoNormal><img border=0  
src="Mngt_Console_Usage_Guide_files/image040.jpg"></p>

<p class=MsoNormal>Enter the  From  and  To  addresses and click on the <b>Send
Message</b> button to verify the SMTP settings. Click on the <b>Close</b>
button to dismiss the dialog.</p>

<p class=MsoNormal>The <b>OK</b> button will save the SMTP configuration
settings and return to the <b>Email Configuration</b> dialog.</p>

<span style='font-size:11.0pt;'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <i>Database
Specific Settings</i> frame allows the System Administrator to configure email
notifications for each reporting database connected to the instance.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>On the left is a list
of the reporting databases. On the right is a tabbed dialog that records email
information for the selected reporting database.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><b><i>Note:</i></b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><i>If <b>Multiple Connections</b> is enabled, the list of
  reporting database will not be displayed. In this case scheduling may be
  enabled/disabled for the Ad Hoc instance, not by reporting connection.</i></p>
  </td>
 </tr>
</table>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>Under the <i>Email
Messages</i> tab, the System Administrator can set the subject,  from  address,
CC addresses, and BCC addresses.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <i>Subject</i>
attribute, <u>which is required</u>, is pre-populated with a special token (~ReportName)
that will be replaced by the report name in the email. The subject line should
retain this token, but may have additional information as well (e.g.  The
~ReportName Report. Powered by ACME ).</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <i>From</i>
attribute, <u>which is required</u>, is expected to contain an email-like
address, however, it does not have to be an actual address.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <i>CC</i> and <i>BCC</i>
attributes are not required. These must be valid email addresses. Multiple
addresses must be separated a semi-colon or a comma.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>The <b>Apply Changes</b>
button becomes enabled when any of the attribute values have changed. Click on
the <b>Apply Changes</b> button to save the current values for the highlighted
database.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>Under the <i>Email
Templates</i> tab are the paths to html templates for scheduled reports,
archive reports and broken subscriptions. The default location for each of the
templates provided in the instance is the <i>instance root/ahEmail</i> folder.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>By default, subscribers
to a report will be notified in the event the report becomes  broken . This
behavior can be disabled by unchecking the <i>Email Subscribers when their
Subscriptions are broken</i> checkbox. </p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>Click on the <b>OK</b>
button to confirm any unsaved changes and dismiss the dialog.</p>

<p class=MsoNormalCxSpMiddle style='line-height:normal'>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='background:#F3F3F3;border-collapse:collapse'>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Note:</b></p>
  </td>
 </tr>
 <tr>
  <td width=590 valign=top style='width:6.15in;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Emailing refers to
  the delivery mechanism for reports. The automated, unattended execution of
  reports is handled by a scheduler.</b></p>
  <p class=MsoNormalCxSpMiddle style='line-height:normal'><b>Both the scheduler
  service and the SMTP server access must be configured and enabled for reports
  to be scheduled through the Ad Hoc interface. If configured properly and
  enabled, the  Schedule  action will be available on the report list page of
  the instance.</b></p>
  </td>
 </tr>
</table>

<b><span style='font-size:13.0pt;line-height:115%;'><br
clear=all style='page-break-before:always'>
</span></b>

<p><img src="images/arrowUp.gif" "7" "9">&nbsp;&nbsp;<a href="#">Back to top</a></p><p style="border-top: 1px #CDCDCD solid"></p><p class="copyright">Logi Ad Hoc Reporting &nbsp;&copy; Copyright 2004-2014 LogiXML, Inc. All rights reserved.</p></div>
</body>
</html>
