/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);*/
@font-face {
    font-family: 'Droid Sans';
    src: url('Fonts/DroidSans-webfont.eot');
    src: url('Fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/DroidSans-webfont.woff') format('woff'),
         url('Fonts/DroidSans-webfont.ttf') format('truetype'),
         url('Fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Droid Sans';
    src: url('Fonts/DroidSans-Bold-webfont.eot');
    src: url('Fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('Fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('Fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

* {
    margin:0;
    padding:0;
}
html {
    font-size: 100%;
}
body {
    background:#f9f9f9;
    color:#4A4A4A;
    font-family:'Droid Sans', Helvetica, Arial, Tahoma, sans-serif;
    font-size: 80%;
    font-style: normal;
	font-weight: normal;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}
a {
    color:#4da2d7;
    cursor:pointer;
    text-decoration:none;
}
a:visited {
    color:#4da2d7;
    cursor:pointer;
    text-decoration:none;
}
a:link {
    color:#4da2d7;
    text-decoration:none;
}
a:hover {
    color:#2e91ce;
    cursor:pointer;
    text-decoration:underline;
}
p {
    padding:5px 0;
}
input, select, textarea {
    font-family:'Droid Sans', Helvetica, Arial, Tahoma, sans-serif;
    font-size:100%;
}
input + label {
    margin-left:5px;
}
label + input {
    margin-left:5px;
}
input[type="text"] {
    padding: 2px 3px;
    border: 1px solid #888888;
}
input[type="image"] {
    cursor:pointer;
}
textarea {
    padding: 2px 3px;
    border: 1px solid #888888;
}
select {
    padding: 1px;
    border: 1px solid #888888;
    margin-left: 3px;
}
ul {
    list-style:none;
    padding: 0;
}
/* Tables still need 'cellspacing="0"' in the markup. */
td > span {
    margin:0 3px;
}
table, td {
    border-style:none;
}
th {
    border-style: none;
    text-align:center;
    vertical-align:middle;
}
/* Remove possible quote marks (") from <q>, <blockquote>. */
 blockquote:before, blockquote:after, q:before, q:after {
    content:"";
}
blockquote, q {
    quotes:"""";
}
/* Remove annoying border on linked images. */
 a img {
    border:none;
}
caption {
    font-weight:normal;
    text-align:left;
}

/***** Major elements *****/

form#form1 {
	margin: 75px 40px;
}
form#form1[action^="DataSource"] {
	margin: 0;
}
#imgSave {
    margin-left: 25px;
}
#menu {
	position: fixed;
	top: 0;
	background: #f9f9f9;
	z-index: 100;
}

/***** Menu *****/

#menu {
    padding:0;
    margin-bottom: 10px;
    width:100%;
    border-bottom: 1px solid #999;
    -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.5);
}
#menu_tbMenu {
    /*font-size: 95%;*/
}
#menu_tbMenu td {
    vertical-align:middle;
}
.tdMnuLogo {
    padding: 5px 40px 0 37px;
    width:180px;
    height:35px;
}
#menu .menuicon {
    position: relative;
    float: left;
    top: 16px;
    display: none; /* remove for icons */
}
#menu_iconReports {
	width:0;
	height:0;
	padding: 16px 15px 0 0;
	background: url(Images/icon-Reports.png);
	left: 28px;
}
#menu_iconUserProfile {
	width:0;
	height:0;
	padding: 14px 17px 0 0;
	background: url(Images/icon-Profile.png);
	left: 34px;
}
#menu_iconConfiguration {
	width:0;
	height:0;
	padding: 16px 17px 0 0;
	background: url(Images/icon-Config.png);
	left: 13px;
}
#menu a {
    padding-right:5px;
}
#menu a:hover {
	text-decoration: none;
}
#menu a:active {
	background: #fff;
	color: #2e91ce;
}
#menu .mnuReportsSelected:active, 
#menu .mnuProfileSelected:active, 
#menu .mnuConfigSelected:active {
    background: #4da2d7;
    color: #fff;
}
/*
#menu a:active {
	background: #ddedf7;
	-webkit-box-shadow: inset 0 -2px 10px -2px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    inset 0 -2px 10px -2px rgba(50, 50, 50, 0.3);
	box-shadow:         inset 0 -2px 10px -2px rgba(50, 50, 50, 0.3);
	-webkit-transition: .1s linear -webkit-box-shadow;
	-moz-transition: .1s linear -moz-box-shadow;
	-ms-transition: .1s linear box-shadow;
	-o-transition: .1s linear box-shadow;
	transition: .1s linear box-shadow;
}*/

.mnuReports, .mnuProfile, .mnuConfig,
.mnuReportsSelected, .mnuProfileSelected, .mnuConfigSelected {
    float:left;
    font-weight: bold;
    height:47px;
    line-height: 47px;
    margin:0;
    padding: 0 10px !important;
    text-align:center;
    text-decoration:none;
    width:100px;
    overflow: hidden; /*TODO: remove the extra words and this is unnecessary*/
}
.mnuReportsSelected, .mnuProfileSelected, .mnuConfigSelected {
	background: #4da2d7;
	color: #fff;
	-webkit-box-shadow: inset 0 2px 10px 1px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    inset 0 2px 10px 1px rgba(50, 50, 50, 0.3);
	box-shadow:         inset 0 2px 10px 1px rgba(50, 50, 50, 0.3);
	-webkit-transition: .1s linear -webkit-box-shadow;
	-moz-transition: .1s linear -moz-box-shadow;
	-ms-transition: .1s linear box-shadow;
	-o-transition: .1s linear box-shadow;
	transition: .1s linear box-shadow;
}
a.mnuReportsSelected, a.mnuProfileSelected, a.mnuConfigSelected {
	color: #fff;
}
a.mnuReports:hover, a.mnuProfile:hover, a.mnuConfig:hover {
	background: #fff;
	color:#2e91ce;
}



#menu .menubutton {
    border:0;
    vertical-align:middle;
}
#menu_GroupSelector {
    color:#354f6b;
    margin:0 0 0 10px; /*28px*/
    white-space:nowrap;
}
#menu_DBSelector {
    color:#68786F;
    margin:0 0 0 10px; /*28px*/
    white-space:nowrap;
}

/***** This little section is a hare-brained idea to try to push the Org dropdown out of the way *****/
.divUserGroup {
	position: absolute;
	right: 15em;
	top: 8px;
}
@media (max-width: 1020px) {
#menu {
	height: 94px;
}
form#form1 {
	margin-top: 123px;
}
.divUserGroup {
	position: absolute;
	right: 1em;
	top: 50px;
}
#menu_trMenu {
    height: 94px;
}
#menu_tbMenu td.tdMnuLinks {
    vertical-align: bottom;
}
#menu_tbMenu td.tdMnuLinks a {
    height: 94px;
    line-height: 94px;
}

}
@media (max-width: 825px) {
.mnuReports, .mnuProfile, .mnuConfig, .mnuReportsSelected, .mnuProfileSelected, .mnuConfigSelected {
    width: auto !important;
}
}

/***********/

#submenu {
    display: block;
    height:40px;
    margin-bottom: 20px;
}
#submenu ul {
    z-index:10;
}
#submenu li {
    display:block;
    float:left;
    position: relative;
}
#submenu li a.current_menutitle {
    color:#ffffff;
    font-weight:bold;
    padding:5px;
    text-decoration:none;
}
#submenu li a:hover {
    text-decoration:none;
}
#submenu .separator {
    display:none;
}
.menuArrow {
	width:0;
	height:0;
	padding: 11px 15px 0 0;
	background: url(Images/icon-Dropdown.png);
	float: right;
	margin-right: 12px;
	margin-top: 12px;
}
.menutitle, .current_menutitle {
	background: #fff;
	/*border: 1px solid #bcbcbc;*/
	color: #4a4a4a;
	cursor: pointer;
    display:block;
    height:35px;
	line-height: 35px;
	overflow: hidden;
	text-align: center;
	text-decoration:none;
	width: 200px; /* Configuration subnav items need more width to fit arrows */
}
form[action^="ReportListFolderView"] span.menutitle,
form[action^="ReportListFolderView"] span.current_menutitle,
form[action^="UserProfile"] span.menutitle,
form[action^="UserProfile"] span.current_menutitle,
form[action^="UserPreferences"] span.menutitle,
form[action^="UserPreferences"] span.current_menutitle {
	width: 160px; /* All other subnav items can be shrunken in browsers other than IE */
}
#submenu li:hover .menutitle {
    background: #f9f9f9;
    color:#2e91ce;
}
.menutitle {
	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.7);
}
.current_menutitle {
	background: #4da2d7;
	color: #fff;
	-webkit-box-shadow: inset 0 2px 10px 1px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    inset 0 2px 10px 1px rgba(50, 50, 50, 0.3);
	box-shadow:         inset 0 2px 10px 1px rgba(50, 50, 50, 0.3);
}

#submenu .popupMenu {
    width:100%;
    left: 0px !important;
}
.popupMenu a, .AddpopupMenu a {
    color:#353535;
    display:block;
    min-width:100px;
    padding:4px 5px 3px;
    position:relative;
    text-decoration:none;
    font-size: 115%;
}
.hoverMenuLink {
    padding:3px 5px 0 5px;
    position:relative;
}
.hoverMenuLink .menuitem {
    color:#353535;
    display:block;
    padding:4px 3px 2px;
    text-decoration:none;
    width:99%;
}
#submenu .hoverMenuLink .menuitem:hover,
#submenu .hoverMenuLink a:hover {
    background-color: transparent;
}
.hoverMenuLink .menuitem:hover, 
.popupMenu a:hover, .AddpopupMenu a:hover,
#submenu .popupMenu div:hover, .AddpopupMenu div:hover {
    color: #2e91ce;
    background-color:#ddedf7;
}
.hoverMenuLink .current_menuitem {
    background-color:#EEEEEE;
    color:#353535;
    display:block;
    font-weight:bold;
    padding:4px 3px 2px;
    text-decoration:none;
    width:99%;
}
.hoverMenuActionLink a {
    display: block;
}


/*Hover Menu*/
 .popupMenu {
    background-color:#f9f9f9;
    border:1px solid #ccc;
    color:#4a4a4a;
    visibility:hidden;
    position:relative;
    z-index:40;
}
.AddpopupMenu {
    background-color:#f9f9f9;
    border:1px solid #ccc;
    color:#4a4a4a;
    display:none;
    position:relative;
    z-index:40;
    min-width:110px;
}
.AddpopupMenu div a {
    background-color:#F9F9F9;
    display:block;
}


#functions {
    float:right;
    margin-top:15px;
}
#functions a {
    color:#484848;
    font-weight:normal;
    padding-left: 4px;
    padding-right: 4px;
}
#functions a:hover, #functions a:active {
	background: #f9f9f9;
	color: #2e91ce;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}
#functions1 {
    color:White;
    float:right;
    font-weight:normal;
    margin:0px 5px;
}
#functions1 a {
    color:White;
    font-weight:normal;
}


#navtrail {
    color:#4c4c4c;
    font-weight:bold;
    vertical-align:middle;
}
#navtrail a {
    color:#4c4c4c;
    font-weight:normal;
    white-space:nowrap;
}


.bctrail {
    color:#4c4c4c;
    font-weight:bold;
    margin-bottom:15px;
    white-space:nowrap;
    /*display: none;*/ /* Hide breadcrumbs and help icon */
}
.bctrail a {
    color:#4c4c4c;
    font-weight:normal;
    white-space:nowrap;
}




.divForm {
    padding-right:18px;
}
.divForm li {
    list-style:disc;
    margin-left:25px;
}
.divForm > table > tbody > tr > td {
    padding:8px 8px 8px 0px;
}
.divForm > div > table > tbody > tr > td {
    padding:8px 8px 8px 0px;
}
* + html .divForm > table {
    border-collapse:separate;
}
*:first-child + html #pnlDataSourcePopup {
    width:800px;
}
.divgrdForm {
    margin:0 auto;
    width:670px;
}
.topBar {
    background-color:#F7F7F7;
    border-bottom:solid 1px #B0C1D4;
    height:30px;
    padding:3px 5px 3px 18px;
}
.divButtons {
    position: static;
    bottom: auto;
    margin: 45px 0 0 0;
}
form[action^="DataSource"] .divButtons {
    margin:0 0 10px 7px;
    position: absolute;
    bottom: 15px;
    width: 96%;
}
.divButtons td[align="right"] {
	position: absolute;
	right: 0;
}
#btnSave[style*="width"] {
	width: auto !important;
}


/* Styles for the report list. */
 .ReportLink {
    font-size: 130%;
    font-weight:bold;
}
a[id*="FolderLink"] {
	font-size: 130%;
	font-weight: bold;
}
.legend {
    background-color:#ddedf7;
    border:solid 1px #ccc;
    color:#4a4a4a;
    margin:15px 0px;
    padding:5px;
}
.legend dl {
    display:inline;
    font-weight:normal;
}
.legend dt {
    display:inline;
    font-weight:normal;
    margin-left:20px;
}
.legend dd {
    display:inline;
    margin-left:5px;
}
.treenodeSelected {
    font-weight:bold;
}
.treediv {
    font-weight:normal;
}


/* Styles for the MSL user control. */
 .MSL {
    min-width:300px;
    width:300px;
    /* width:expression(this.clientWidth <= 300 ? "300px" : "" );  */
    height: auto;
}
.mslbutton {
    border-style:none;
    display:block;
    margin:25px 3px;
    }



.gridForm {
    min-width:700px;
}
.gridForm br {
	display: none;
}
#upPopup br {
    display: block;
}
.limiting {
    width:95%;
}
#data_main {
	margin-top: 20px;
}
#data_main2 {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #C4C4C4;
    padding:8px 10px 5px;
}
div#data_top {
    background:url(Images/data_top.png) no-repeat;
    float:left;
    height:7px;
    width:100%;
}
div#data_bottom {
    background:url(Images/data_bottom.png) no-repeat;
    float:left;
    height:6px;
    width:100%;
}

#activities {
    margin:10px 0 15px;
}



/* Styles for the MS GridControl.  */

/*.gridWline { background-color:White; border:1px solid #7e8471; margin:14px 0px; }
* + html .gridWline tr td,* + html .gridWline tr th { border:1px solid #aaaaaa; border-collapse:collapse; }

* + html .gridWline tr tr td,* + html .gridWline tr tr th { border:none; }
*/
.grid {
    border-collapse: collapse;
    text-align:left;
    width:100%;
    -webkit-box-shadow: 0px 2px 1px -1px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    0px 2px 1px -1px rgba(50, 50, 50, 0.7);
    box-shadow:         0px 2px 1px -1px rgba(50, 50, 50, 0.7);
}
.gridWline {
    background-color:White;
    /*border:1px solid #e5e5e5;*/
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
    text-align:left;
    /*
    -webkit-box-shadow: 0px 2px 1px -1px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    0px 2px 1px -1px rgba(50, 50, 50, 0.7);
    box-shadow:         0px 2px 1px -1px rgba(50, 50, 50, 0.7);*/
}
.gridWline tr td, .gridWline tr th {
    border-collapse:collapse;
    padding: 2px 3px;
}
/*
.gridWline tr {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}*/
.gridWline tr.gridheader,
.gridWline tr tr {
    border: none;
}
.gridWline tr tr td, .gridWline tr tr th {
    border:none;
}
.gridheader {
    text-align:center;
    vertical-align:middle;
}
.gridWline .gridheader th {
    border: none;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
th {
    background: #f9f9f9;
    border-bottom:1px solid #bbbbbb;
    font-weight:bold;
}
.gridheader th {
    padding:0px 4px 0px 4px;
}
tr.gridrow, tr.gridalternaterow {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
tr.gridrow td {
    background:#fff;
    color:#484848;
    border-bottom:1px solid #e5e5e5;
}

td.actionsTD {
    position: relative;
}

div.actionsTD {
    position: relative;
}

tr.gridalternaterow td {
    background:#f9f9f9;
    border-bottom:1px solid #e5e5e5;
    border-top:1px solid #e5e5e5;
    color:#484848;
}
tr.gridrow:hover td, 
tr.gridalternaterow:hover td
/*, .gridWline tr:hover*/
{
    background: #e5e5e5;
    /*border-bottom:1px solid #bbbbbb;
    border-top:1px solid #bbbbbb;*/
	border-top: 1px solid #2e91ce;
    border-bottom: 1px solid #2e91ce;
    color:#484848;
    border-spacing: 1px;
}
/* hover doesn't work too well with ReportWizard Column Configuration tables
.gridWline tr.gridheader:hover th {
    border: none;
    border-bottom: 1px solid #ccc;
    background: #fff;
}*/
.SelectedRow td {
    background-color: #ffffcc;
    border-bottom:1px solid #bbbbbb;
    border-top:1px solid #bbbbbb;
    color:#484848;
}
tr.gridrow td td, tr.gridalternaterow td td, tr.gridrow:hover td td, tr.gridalternaterow:hover td td {
    border:none;
}
tr.gridrownocolor, tr.gridalternaterownocolor {
    color:#484848;
}
tr.gridrownocolor td {
    background:#fff;
    border-bottom:1px solid #bbbbbb;
    border-top:1px solid #bbbbbb;
}
tr.gridalternaterownocolor td {
    background:#f9f9f9;
    border-bottom:1px solid #bbbbbb;
    border-top:1px solid #bbbbbb;
}
tr.gridrownocolor td td, tr.gridalternaterownocolor td td {
    border:none;
}
tr.gridrownocolor:hover td, tr.gridalternaterownocolor:hover td {
    background: #e5e5e5;
    /*border-bottom:1px solid #bbbbbb;
    border-top:1px solid #bbbbbb;*/
    border-top: 1px solid #2e91ce;
    border-bottom: 1px solid #2e91ce;
    color:#484848;
}
tr.gridrownocolor td td, tr.gridalternaterownocolor td td, tr.gridrownocolor:hover td td, tr.gridalternaterownocolor:hover td td {
    border:none;
}
.gridDetail td {
    height:25px;
    vertical-align:middle;
    padding: 2px 0;
}
.grid td, .gridWline td {
    height:45px; /*29px*/
    vertical-align:middle;
    padding: 2px 0;
}
.gridheader td {
    height: auto;
}
.grid td, .gridDetail td {
    border-collapse: collapse;
    /*border-left: 1px solid #eee;
    border-right: 1px solid #eee;*/
    padding: 2px;
}
.grid th, .gridDetail th {
    border-collapse: collapse;
    /*border-left: 1px solid #fff;
    border-right: 1px solid #fff;*/
}
.grid td img, .gridWline td img {
    vertical-align: middle;
}
#grdColumnFormat td {
    padding: 5px;
}
#grdColumnFormat td td {
    padding: 2px 0;
}
#grdColumnFormat tr:nth-child(2n+3) {
    background-color: #f9f9f9;
}
#divSummaryGrid {
    overflow-x: visible !important;
    width: 101%;
}
#pnlSummaryPopup {
    width: auto !important;
}
#pnlColFormat {
    height: auto !important;
}
/* The hackiest thing ever due to a lack of class/ID on the 'Add a Custom Column' button */
div[style="padding-top:8px;"] {
    padding-top: 20px !important;
}
.grid tr[align="center"] > td[colspan="5"] {
	padding-left: 0;
	padding-right: 0;
	padding: 0;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

tr.gridrow:hover a.ReportLink:after,
tr.gridalternaterow:hover a.ReportLink:after {
	/*content: "\a0 \00BB"; /*  ಠ_ಠ  */
	/*width: 0;*/
	position: absolute;
	content: "\a0" url(Images/icon-Eye.png);
}
tr.gridrow:hover a[id^="grdMain_FolderLink"]:after,
tr.gridalternaterow:hover a[id^="grdMain_FolderLink"]:after {
	content: "\a0 \2026";
	width: 0;
	position: absolute;
}


img[src*="iconSFolder"] {
	width:0;
	height:0;
	padding: 15px 17px 0 0;
	background: url(Images/icon-Folder.png);
}
img[src*="iconSReport"] {
	width:0;
	height:0;
	padding: 15px 17px 0 0;
	background: url(Images/icon-Report.png);
}
img[src*="iconSDashboard"] {
	width:0;
	height:0;
	padding: 15px 17px 0 0;
	background: url(Images/icon-Dashboard.png);
}


.iconAction {
    cursor:pointer;
}


/* General page styles */
.help {
	background: #ddd url(Images/icon-Help.png) no-repeat;
	background-position: 10px 10px;
	margin: 20px 0;
	padding: 10px 0 10px 32px;

}
.info {
	background: #ddedf7 url(Images/icon-Info.png) no-repeat;
	background-position: 10px 10px;
	margin: 20px 0;
	padding: 10px 10px 10px 32px;
}
.validation_error {
    clear:both;
    color: #d74d5d;
}
.errorWithImage {
	background: #f4cdd2 url(Images/icon-Error.png) no-repeat;
	background-position: 10px 10px;
	margin: 20px 0;
	padding: 10px 10px 10px 32px;
}
.error {
    background-color:#f4cdd2 !important;
}
.warning {
	background: #f4cdd2 url(Images/icon-Warning.png) no-repeat;
	background-position: 10px 10px;
	margin: 20px 0;
	padding: 10px 0 10px 32px;
}
.warningnNoImage {
    background-color:#f4cdd2;
}

div[id*="Validation"],
span[id*="rtv"],
span[id*="rfv"],
span[id*="cv"],
div[id*="vsummary"] {
    color: #d74d5d; /* Red validation text */
    word-wrap: break-word;
    max-width: 325px;
}
/* 
#rtvCalcName,
#rfvtxtSaveAsReportName */

img[src*="iconHelp"] {
	width:0;
	height:0;
	padding: 15px 15px 0 0;
	background: url(Images/icon-Help.png);
}
img[src*="calendar"] {
    width:0;
    height:0;
    padding: 16px 15px 0 0;
    background: url(Images/icon-Calendar.png);
}
/*
img[src*="iconAlert"] {
	width:0px;
	height:0px;
	padding: 15px 15px 0 0;
	background: url(Images/icon-Alert.png);
}*/
.tinyImage {
    /*border:3px solid #E7E7E7;
    padding:2px;*/
    border: none;
    padding: 4px;
    width:8px;
}
.paddedImage {
    padding:2px;
}
.spacer {
    cursor:default;
}
.command {
    -moz-border-radius:4px 0 0 3px;
    background:url("Images/btnBk23px_R.png") no-repeat scroll right top transparent;
    border:solid 1px transparent;
    border-left:solid 1px #aaaaaa;
    border-radius:4px 0 0 3px;
    color:#484848;
    cursor:pointer;
    height:24px;
    padding-bottom:1px;
    padding-top:1px;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
}
.normaltab {
    background-color:#D8D8D8;
    border:solid 1px #C9D5DF;
    color:#3E5347;
    cursor:pointer;
    height:18px;
    padding-bottom:1px;
    padding-top:1px;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
}
.selectedtab {
    background-color:#FFFFFF;
    border-bottom:solid 1px #FFFFFF;
    border-left:solid 1px #C9D5DF;
    border-right:solid 1px #C9D5DF;
    border-top:solid 1px #C9D5DF;
    color:#3E5347;
    cursor:pointer;
    height:18px;
    padding-bottom:1px;
    padding-top:1px;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
}
/* Mozilla, Opera styles to preserve disabled look for command buttons. */
 .command[disabled='true'] {
    color:#999;
}
.command[disabled='false'] {
    color:#009;
}
.command[disabled] {
    color:#999;
    padding:0px 6px;
}
.clcCommand {
    border:solid 1px #C9D5DF;
    color:#3E5347;
    cursor:pointer;
    height:18px;
    padding-bottom:1px;
    padding-top:1px;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    width:120px;
}
/* Mozilla, Opera styles to preserve disabled look for command buttons. */
 .clcCommand[disabled='true'] {
    color:#999;
}
.clcCommand[disabled='false'] {
    color:#009;
}
.clcCommand[disabled] {
    color:#999;
    padding:0px 6px;
}
.detailpanel {
    /*background:#ddd;
    border:dashed 2px #5e7531;*/
    background: #e5e5e5;
    border: none;
    margin:14px 0px;
    padding:5px;
}
.detailpanel * {
    margin:3px;
    line-height: 20px;
}
.detailDiv {
    background:#ccc;
    margin:5px 0px;
    padding:5px;
}
.framed {
    border:solid 1px #c7d59e;
    margin-bottom:10px;
    padding:3px;
}
/* Form submit button styles. (Save, Delete, Cancel, etc.) */
 #actions {
    margin-top:14px;
}
/* Navigation element styles used in the Report Wizard. */
 #myNavBar_navlinks {
    margin:10px 0;
}
#myNavBar_navlinks ol, #myNavBar_navlinks ul {
    margin:0px 0px 0px -2px;
    padding:0;
}
#myNavBar_navlinks li {
    display:inline;
}
#myNavBar_navlinks li a {
    background:#fff;
    border-bottom:1px solid #68786F;
    border-left:1px solid #cad8e8;
    border-right:1px solid #68786F;
    border-top:1px solid #cad8e8;
    color:#000;
    margin:0px 2px;
    padding:2px 5px;
    text-decoration:none;
    white-space:nowrap;
}
#myNavBar_navlinks .currentpage {
    background-color:#68786F;
    border-bottom:1px solid #354f6b;
    border-left:1px solid #BDC7CE;
    border-right:1px solid #354f6b;
    border-top:1px solid #BDC7CE;
    color:#FFFFFF;
    font-weight:bold;
}
#myNavButtons_navbuttons {
    margin-top:14px;
}
#myNavButtons_navbuttons a {
    font-weight:bold;
    margin:0 10px 0 0;
    text-decoration:none;
    white-space:nowrap;
}
#myNavButtons_navbuttons a:hover {
    text-decoration: none;
}
#myNavButtons_navbuttons a#myNavButtons_Back {
    background: url(Images/previous_tab.png) no-repeat;
    display: inline-block;
    width: 113px;
    height:23px;
    line-height: 22px;
    text-indent: 24px;
}
#myNavButtons_navbuttons a#myNavButtons_Next {
    background: url(Images/next_tab.png) no-repeat;
    display: inline-block;
    width: 113px;
    height:23px;
    line-height: 22px;
    text-indent: 24px;
}
.InactiveDiv {
    background-color:#eaf3d2;
    border:solid 1px #354f6b;
    color:#333333;
    margin:14px 0px;
    padding:4px;
}
.InactiveFHeader {
    background:#354f6b;
    color:White;
    font-weight:bold;
    height:18px;
    padding:2px 5px;
    text-align:center;
}
.InactiveFColumnHeader {
    background-color:#deedb3;
    border-bottom:1px solid #BDC7CE;
    border-left:1px solid #BDC7CE;
    border-right:1px solid #BDC7CE;
    border-top:1px solid #BDC7CE;
    color:#68786F;
    font-weight:bold;
    height:14px;
    margin:0px 0px 15px 0px;
    padding:2px 5px;
    white-space:nowrap;
}
.ViewButton {
    background-color:#deedb3;
    border-bottom:1px solid #354f6b;
    border-left:1px solid #BDC7CE;
    border-right:1px solid #354f6b;
    border-top:1px solid #BDC7CE;
    color:#68786F;
    font-weight:bold;
    height:18px;
    margin:0 10px 0 0;
    padding:2px 5px;
    text-align:center;
    text-decoration:none;
    white-space:nowrap;
}
.NoWrap {
    color:#444444;
    font-weight:bold;
    margin-bottom:10px;
    margin-top:20px;
    padding:0px;
}
.DescriptionField {
    color:#354f6b;
    margin-left:10px;
    width: 250px;
    height: 200px;
    overflow: auto;
}



.collapsePanelHeader {
    background: #ddedf7;
    border:solid 1px #bbb;
    padding:.5em;
    margin-top: 1.5em;
    font-size: 115%;
    font-weight: bold;
    text-transform: uppercase;
}
.collapsePanelHeader2 {
    background-color:#D3D3D3;
    border:solid 1px #a9a9a9;
    color:#333333;
    font-weight:bold;
    height:24px;
    padding:2px 2px 2px 5px;
}
.collapsePanelHeader3 {
    background: #ddedf7;
    border:solid 1px #bbb;
    padding:.5em;
    margin-top: 1.5em;
    width: 625px;
    font-size: 115%;
    font-weight: bold;
}
.collapsePanelHeader3 br {
    display: none;
}
.collapsePanelHeader3 ~ #divButtons {
    position: static;
    bottom: auto;
    margin: 45px 0 0 0;
}
.collapsePanelHeader3 img {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
.collapsePanelHeader3 + div[id] {
    padding: 10px 0;
    width: 640px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #BCBCBC;
    border-top: none;
}
.collapsePanelHeader3 + div[id] .searchDiv {
    margin-bottom: -5px;
    padding: 10px;
}
*+html .collapsePanelHeader3 + div[id] .searchDiv {
    margin-bottom: -22px;
    padding-bottom: 0;
}
.collapsePanelHeader3 + div[id] .searchDiv .collapsePanelHeader {
    background: #e5e5e5;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.collapsePanelHeader3 + div[id] .searchDiv .collapsePanelHeader * {
    padding: 0 10px !important;
    color: #191919;
}
.collapsePanelHeader3 + div[id] > li {
    margin-left: 30px;
}
*+html .collapsePanelHeader3 + div[id] > li {
    margin-left: 0px;
}


/* Preview panel */
 .previewDiv {
    border:solid 1px #c7d59e;
}
.previewCollapse {
    background-color:#eaf3d2;
    border:solid 1px #c7d59e;
    color:#333333;
    font-weight:bold;
    height:20px;
    padding:2px;
}
/* End of Search filter */
 .tdConfig {
    border:1px solid #ddd;
    border-spacing:0px;
    padding:10px !important;
}
.divConfig {
    background-color:#E4E4E4;
    border:1px solid #BCBCBC;
    font-weight:bold;
    height:24px;
    line-height:24px;
    margin-bottom:10px;
    padding-left:4px;
    vertical-align:middle;
    font-size: 120%;
}
.divInnerConfig {
    margin-left:5px;
}
.tdTitle {
    background-color:#EAE0CE;
    padding:3px;
    width:102px;
}
.title {
    font-weight:bold;
    text-align:center;
}
.editLink {
    float:right;
    font-weight:normal;
}
.dataTab {
    background-color:#c7d59e;
    border:1px Solid #68786F;
    color:#000000;
    font-weight:bold;
    margin:0 0 3px 0;
    padding:3px 0px 0px 3px;
    width:161px;
}
.dtActive {
    background-color:#f4f7ed;
    color:red;
}
.contentTabInside, .contentTab {
    background-color:#E7E7E7;
    border-bottom:1px Solid #68786F;
    border-left:1px Solid #68786F;
    border-top:1px Solid #68786F;
    color:#000000;
    font-weight:bold;
    margin:0 0 3px 0;
    padding:3px 0px 0px 0px;
}
.contentTab {
    border:1px Solid #68786F;
    padding:3px 0px 0px 3px;
    width:161px;
}
.ctActive {
    background-color:#F7F7F7;
    color:red;
}
.vertNavButton, .vertNavButtonData, .vertNavButtonDataLast {
    background-color:white;
    border-top:1px solid #BDC7CE;
    color:#68786F;
    height:14px;
    margin:0;
    padding:2px 5px;
    text-align:right;
    text-decoration:none;
    white-space:nowrap;
}
.vertNavButtonData, .vertNavButtonDataLast {
    border-left:1px solid #BDC7CE;
}
.vertNavButtonDataLast {
    border-bottom:1px solid #BDC7CE;
    margin:0 0 3px 0;
}
.Active {
    background-color:#ffffcc;
    color:#68786F;
    font-weight:bold;
}
.spanObject {
    color:black;
    font-weight:normal;
}
.tdWizardBody {
    vertical-align:top;
    width:100%;
}
.tdWizardBody td {
    padding: 0;
}
/*.wizardBody { background-color:#F7F7F7; border:1px solid #68786F; margin-top:0px; padding:10px; }*/
 .wizardBody {
    background-color:#fff; /*#F7F7F7*/
    border:1px solid #bbb; /* 1px solid #68786F*/
    margin-top:0px;
    padding:10px;
    overflow: auto;
    width: auto !important;
    overflow-x: hidden !important;
    position: relative;
}
.wizardBody td {
    padding: 5px;
}
/*.wizardBody > div:first-child { overflow: auto; width: auto !important; position: relative; }*/
 .dataBody {
    background-color:#f4f7ed;
    border:1px solid #68786F;
    padding:10px;
}

.ChartSelectionPanelClose {
    background:url(../../ahImages/ChartPanelClose.png) no-repeat center center;
}

.innerbutton_Up {
background-image: url('../../ahImages/Up.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

span.outerbox input[icon] {
    padding: .5em;    
}

.innerbutton_newReport {
background-image: url('../../ahImages/newReport.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

.innerbutton_newDashboard {
background-image: url('../../ahImages/newDashboard.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

.innerbutton_newFolder {
background-image: url('../../ahImages/newFolder.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

.innerbutton_Delete {
background-image: url('../../ahImages/Delete.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

.innerbutton_Copy {
background-image: url('../../ahImages/Copy.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

.innerbutton_Move {
background-image: url('../../ahImages/Move.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}


span.outerbox input.innerbutton_Search {
background-image: url('../../ahImages/Search.gif');
background-repeat: no-repeat;
background-position: 96% center;
padding-right: 2em;
}

.innerbutton_SaveReport {
background-image: url('../../ahImages/SaveReport.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

.innerbutton_SaveAsReport {
background-image: url('../../ahImages/SaveAsReport.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

.innerbutton_PreviewReport {
background-image: url('../../ahImages/PreviewReport.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

.innerbutton_SelectData {
background-image: url('../../ahImages/SelectData.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

.innerbutton_ReportStyle {
background-image: url('../../ahImages/ReportStyle.png');
background-repeat: no-repeat;
background-position: 1em;
padding-left: 10px;
padding-right: 10px;
text-indent: 2em;
}

#divTInsertHdr {
    width: auto !important;
}
#divReportContents {
	margin: 5px 10px;
}
#divReportContents div {
    width: auto !important;
	background-image: none !important;
    text-align: center;
    margin: 8px 0;
}
.rwCMContentCell:hover,
.rwCMContentCellSelected:hover {
    background: #ddedf7;
}



.tabLink {
    color:Navy;
    cursor:pointer;
    padding:5px;
    text-decoration:underline;
    width:40px;
}
.tabLayout {
    color:Navy;
    cursor:pointer;
    float:right;
    text-align:right;
    text-decoration:underline;
    width:550px;
}
/*Popup Control*/
 .popupControl {
    background-color:#FFF8C6;
    border-color:Gray;
    border-style:solid;
    border-width:1px;
    padding:5px;
    position:absolute;
    visibility:hidden;
}
/*Modal Popup*/
 .modalBackground {
    background-color:#888888;
    z-index: 50;
    filter:alpha(opacity=70);
    opacity:0.7;
}
.modalPopup {
    background-color:#f9f9f9;
    border:2px solid #666666;
    overflow:auto;
}
#pnlShowDataPopup .modalPopupHandle {
    border: none;
}
.modalPopupBckgndColor {
    background-color:#f9f9f9;
}
*:first-child + html #pnlShowDataPopup {
    width:520px;
}
.modalDiv {
    margin:0;
    padding:10px 20px 10px;
    font-size: 90%;
    text-align: left;
    white-space: normal;
}
*:first-child+html .modalPopup .modalDiv {
    margin-top: 20px;
}
#UpdatePanel1 p {
	padding: 0;
	height: 0;
}
#divPreviewInfo p.info {
	margin: 5px 0;
}
.showDataPopup {
    height: auto !important;
    width: auto !important;
}
.showDataPopup + p {
	display: none;
}
.showDataPopup + p + table {
	margin: 15px 0;
}
#ucSelectTemplate_UP1 input[type="image"] {
    width: 70px !important;
}
#ucSelectTemplate_pnlTemplateControl {
    margin-bottom:8px;
}
#ucSelectTemplate_UPTemplateDesc table {
    margin:5px;
}
#ucSelectTemplate_UPTemplateDesc {
    width: 265px;
}
#ucSelectTemplate_UP1 td[style*="#FFEE99"],
#ucSelectTemplate_UP1 td[style*="rgb(255, 238, 153)"] {
    background-color: #ddedf7 !important;
}
#ucSelectTemplate_pnlTemplateControl > table > tbody > tr > td {
    border: none !important;
    padding: 10px;
}
#tdDivPredefinedReport input {
    width: auto !important;
}

#divIFrameDS {
    text-align:center;
}
#divIFrameDS iframe {
    margin:0 auto;
    height: 550px;
}
#divParamDetails td {
    padding:3px 10px;
}
#divParamDetails #tdFindValues td {
	padding:3px 1px;
}
#pnlFilters td {
    padding:2px 7px;
}
#grdData td {
    padding:2px 7px;
}
.modalPopupHandle {
    background: #e5e5e5;
    border-bottom: 1px solid #888;
    cursor:move;
    font-weight:bold;
    font-size: 110%;
    height: 25px;
    margin:0;
    overflow:hidden;
    padding: 15px 15px 5px 20px;
    vertical-align:middle;
    width: auto !important;
}
*:first-child+html .modalPopupHandle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
#pnlShowDataPopup .modalPopupHandle {
	background: none;
}
.modalPopupHandle td input {
    vertical-align: middle;
}
.modalPopupHandle td img {
    vertical-align: middle;
}
*:first-child + html #ifrmDS {
    width: 100% !important;
}
*:first-child + html #pnlSelectDataControl #UP1 > table {
    width:100%;
}
* + html #divTData {
    overflow: hidden !important;
}


#pnlSelectDataControl #tdPrimary {
	border-top: 1px solid #e5e5e5 !important;
	border-bottom: 1px solid #e5e5e5 !important;
	border-left: none !important;
	border-right: none !important;
	border: 1px solid #eee;
	height: 320px;
}
#pnlSelectDataControl #tdColumns {
	border: none !important;
}
#pnlSelectDataControl #tdPrimary > div {
	/*width: 100% !important;*/
	height: 330px !important;
}
#lblStatSelectedColumn1[disabled="disabled"] {
	background-color: #fff;
}
#tdColumns #divInfHeader, 
#tdColumns #divColumns {
	border: none;
	background: none;
	width: 85%;
	padding: 5px 0 0px 0px !important;
	margin-left: 20px;
}
#tdColumns #divInfHeader {
	border-top: 1px solid #e5e5e5 !important;
}
#tdColumns #divColumns {
	border-bottom: 1px solid #e5e5e5 !important;
}
#tdColumns #divColumns {
	height: 290px !important;
}
#pnlCalc, #pnlStat {
	margin: 5px;
}
#AddOrderRow {
	margin-top: 10px;
}
#UP3 br {
	display: none;
}
#UP3 p {
	margin: 5px 0;
	padding: 0;
}
#UP3 p.info {
	margin-top: 20px;
	padding: 10px 0 10px 32px;
}
#UP3 input[type=text] {
	margin-top: 0;
}
#UP3 #btnFakeGrdOrderReorderRows + div {
	width: 99% !important;
} 


.savePopup {
    background-color:#ffffff;
    border-color:#111111;
    border-style:solid;
    border-width:2px;
    height:68px;
    width:180px;
}
.savePopup table {
    width: 100%;
    height: 100%;
}
.savePopup table td {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}
.lblSavePopup {
    ;
}
.sampleStyleA {
    background-color:#FFF;
}
.sampleStyleB {
    background-color:#FFF;
    font-weight:bold;
}
.sampleStyleC {
    background-color:#ddffdd;
    font-style:italic;
}
.sampleStyleD {
    background-color:Blue;
    color:White;
}
.hidden {
    visibility:hidden;
}
.reportLayoutObject {
    background-color:#FFE87C;
    border:solid 1px #354f6b;
    color:black;
    cursor:pointer;
    text-align:center;
    width:100px;
}
.centered {
    height:100%;
    text-align:center;
    width:100%;
}
.smallText {
    width:20px;
}
.imageButton {
    border:solid 1px gray;
    cursor:pointer;
    margin:3px;
}
.Arrow {
    cursor:pointer;
    font-family:Webdings;
    line-height:10px;
    width:10px;
}
.shadeCommand {
    border:solid 1px #C9D5DF;
    color:#3E5347;
    cursor:pointer;
    height:18px;
    padding-bottom:1px;
    padding-top:1px;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
}
.rightJustify {
    text-align:right;
}
.vAlignMiddle {
    vertical-align:middle;
}





.broken {
    color:Red;
}
.expired {
    color:Gray;
}
.AboutBody {
    background-image:url(../../ahImages/About_Adhoc.jpg);
    background-repeat:no-repeat;
    font-size: 0.8em;
}
.CheckAll {
    color:#C8C8C8;
}
/* New classes  by Calvin. */
 #menu_Logout {
    margin-right:15px;
}
/* Dashboard classes */
 .panelConfig {
    background-color:white;
    border-top:1px solid #BDC7CE;
    color:#68786F;
    height:40px;
    margin:0 0 0 0;
    padding:2px 5px;
    text-align:center;
    text-decoration:none;
    white-space:nowrap;
}
.contentTabDashboard {
    background-color:#E7E7E7;
    border:1px Solid #68786F;
    color:#000000;
    font-weight:bold;
    margin:0 0 3px 0;
    padding:3px 0px 0px 0px;
}
.dashColumn {
    background-color:#c7d59e;
    border:1px Solid #68786F;
    color:#000000;
    font-weight:bold;
    margin:0 0 3px 0;
    padding:3px 0px 0px 3px;
    width:126px;
}
/* Email Info Styles */
 .tblBody {
    margin:10px;
    padding:10px;
    width:99%;
}
.trBody {
    width:100%;
}
.tdBody {
    width:100%;
}
.lbl {
    margin-left:2px;
}
.txt {
    width:98%;
}
.txtBody {
    margin-left:10px;
    width:98%;
}
.NoShow {
    display:none;
}
/* Help stuff */
 .bodHelp {
    background-color: White;
}
.titleImage {
    background-color:#EEEEEE;
    background-image:url(Images/Help/title.gif);
    background-repeat:no-repeat;
    height:50px;
    width:370px;
}
#HelpMenu_navcontainer {
    margin-left:0px;
    margin-right:30px;
}
#HelpMenu_navcontainer ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
#HelpMenu_navcontainer li {
    margin:0 0 1px 0;
}
#HelpMenu_navcontainer div {
    background-color:#68786F;
    color:#FFFFFF;
    display:block;
    padding:5px 5px 5px 10px;
    text-decoration:none;
    width:185px;
}
#HelpMenu_navcontainer div:hover {
    background-color:#B0B0B0;
    color:#ffffff;
    text-decoration:none;
}
#HelpMenu_navcontainer ul ul li {
    margin:0 0 1px 0;
}
#HelpMenu_navcontainer ul ul div {
    background-color:#C0C0C0;
    border-top:1px Solid #000000;
    color:#FFFFFF;
    display:block;
    padding:3px 5px 3px 20px;
    text-decoration:none;
    width:165px;
    margin-left:10px;
}
#HelpMenu_navcontainer ul ul div:hover {
    background-color:#C3C9C5;
    color:#677F27;
    text-decoration:none;
}
#HelpMenu_navcontainer .currentpage {
    background-color:#91B428;
    color:#FFFFFF;
}



.homeBtn {
    background-color:#254974;
    border-bottom:1px Solid #678CB8;
    border-left:1px Solid #B5CDE4;
    border-right:1px Solid #678CB8;
    border-top:1px Solid #B5CDE4;
    color:#FFFFFF;
    padding:2px 8px 3px 10px;
    text-decoration:none;
}
.link {
    background-color:#254974;
    color:#FFFFFF;
    float:left;
    padding:5px;
    text-decoration:none;
}
.floatright {
    float:right;
    margin:0 0 10px 10px;
}
.floatleft {
    float:left;
    margin:10px 50px 0 0;
}



.ReportTitle {
    font-size: 250%;
    font-weight: bold;
    color: #4B5A64;
}
.groupHeader {
    margin-top: 5px;
    margin-bottom:5px;
    padding:2px 20px;
    font-size: 115%;
    font-weight: bold;
    text-transform: uppercase;
}


#UPMain > table {
	margin-top: 20px !important;
    border-collapse: separate;
    border-spacing: 1.5em 0;
    position: relative;
    left: -1.5em;
}
#UPMain > table > tbody > tr > td#tdWizardBody {
    border: none !important;
}
#UPReportDetails table {
    text-align: center;
    width: 100%;
}
#spBtnFile {
    margin-left: 0;
}
#imgbQMobile {
    width:99px !important;
    height:0;
    padding: 15px 0;
    background: url(Images/MobOffIcon.png) no-repeat center;    
    position: relative;
    top: 11px;    
}

#imgbQMobile.mobileOn {
    width:99px !important;
    background: url(Images/MobOnIcon.png) no-repeat center;
}
.tdAddMenu,
#tdLeftMenu,
#wizBod, 
#divPreview {
    background-color: #fff;
    border: 1px solid #bbb !important;
}
#UPPreview,
#ifPreview {
    border: none;
}
#divPreview {
    border-top: none !important;
}
#tdAddMenu {
    width: auto !important;
}
#iconBar {
	margin: 0 auto;
	text-align: center;
}
#UPDataTree td {
    vertical-align:middle;
}

/* Add pane icons */

img[src*="wiObj1"] {
    width:0;
    height:0;
    padding: 20px 26px 0 0;
    background: url(Images/element-header-sm.png);
}
img[src*="wiObj2"] {
    width:0;
    height:0;
    padding: 21px 26px 0 0;
    background: url(Images/element-table-sm.png);
}
img[src*="wiObj3"] {
    width:0;
    height:0;
    padding: 21px 26px 0 0;
    background: url(Images/element-crosstab-sm.png);
}
img[src*="wiObj4"] {
    width:0;
    height:0;
    padding: 26px 26px 0 0;
    background: url(Images/element-chart-sm.png);
}
img[src*="wiObj9"] {
    width:0;
    height:0;
    padding: 22px 25px 0 0;
    background: url(Images/element-heatmap-sm.png);
}
img[src*="wiObj10"] {
    width:0;
    height:0;
    padding: 19px 21px 0 0;
    background: url(Images/element-label-sm.png);
}
img[src*="wiObj12"] {
    width:0;
    height:0;
    padding: 19px 23px 0 0;
    background: url(Images/element-image-sm.png);
}
img[src*="wiObj11"] {
    width:0;
    height:0;
    padding: 26px 26px 0 0;
    background: url(Images/element-export-sm.png);
}

/* Configure pane icons */
/*
input[src*="thumb_1"] {
    width:0;
    height:0;
    padding: 20px 26px 0 0;
    background: url(Images/element-header.png);
}*/
input[src*="thumb_2"] {
    width:0;
    height:0;
    padding: 65px 100px 0 0;
    background: url(Images/element-table.png);
}
input[src*="thumb_3"] {
    width:0;
    height:0;
    padding: 65px 100px 0 0;
    background: url(Images/element-crosstab.png);
}
/*input[src*="Chart100"] {
    width:0;
    height:0;
    padding: 65px 100px 0 0;
    background: url(Images/element-chart.png);
}*/
input[src*="thumb_9"] {
    width:0;
    height:0;
    padding: 65px 100px 0 0;
    background: url(Images/element-heatmap.png);
}
input[src*="thumb_10"] {
    width:0;
    height:0;
    padding: 65px 100px 0 0;
    background: url(Images/element-label.png);
}
input[src*="thumb_12"] {
    width:0;
    height:0;
    padding: 65px 100px 0 0;
    background: url(Images/element-image.png);
}
/*
input[src*="thumb_11"] {
    width:0;
    height:0;
    padding: 26px 26px 0 0;
    background: url(Images/element-export.png);
}*/

.divRWform {
    padding:5px;
}
.rwMenuBorder {
    border:solid 1px #c7d59e;
}
.rwMenu {
    background-color:#f4f7ed;
    border-top:solid 1px #c7d59e;
    color:#333333;
    height:17px;
    padding-bottom:4px;
    vertical-align:text-bottom;
}
.rwMenu a {
    color:#333333;
}
.rwPadded {
    padding:2px 0 2px 8px;
}
.rwMenuButton {
    font-size:larger;
    padding:0 10px 10px 10px;
}
.rwMenuButton:hover {
    color:#816D74;
    text-decoration:none;
}
.rwMenuButtonSelected {
    background-color:#FFFFFF;
    border:solid 1px #c7d59e;
    color:#354f6b;
    font-size:larger;
    padding:0 10px 10px 10px;
}
.rwMenuButtonSelected:hover {
    text-decoration:none;
}
/* Button classes */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 110%;
	padding: .5em 1.5em;
	margin-right: .5em;
	color: #4A4A4A;
	border: 1px solid #bbb;
	/*border: 0 rgba(0,0,0,0);*/
	background-color: #e5e5e5;
	text-decoration: none;
	/*border-radius: 2px;*/
	-webkit-transition: .1s linear -webkit-box-shadow;
	-moz-transition:    .1s linear -moz-box-shadow;
	-ms-transition:     .1s linear box-shadow;
	-o-transition:      .1s linear box-shadow;
	transition:         .1s linear box-shadow;
}

@media (max-width: 1090px) {

    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        padding: .5em;
        margin-right: .25em;
    }
}

input[type="submit"].dropdown {
	display: none; /* hide legacy dropdown element */
}
input[type="submit"].btnDropdown {
    background: url(Images/icon-Dropdown.png) no-repeat #e5e5e5;
    background-position: 85%;
    padding-right: 2.5em;
}
input[value="More"].btnDropdown {
    background: url(Images/arrowStep.png) no-repeat #e5e5e5;
    background-position: 85%;
}
input[style*="width"] {
    width: auto !important;
}

#divReports #btnFVOk[style*="width"], #divReports #btnFVCancel[style*="width"] {
    width: 75px !important; 
}

#divReports #btnFVOk {
    margin-bottom: 10px;
}
/*
input[type="submit"].btnDropdown:after {
	background: url(Images/icon-Dropdown-white.png) no-repeat center #e5e5e5;
}*/
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
 	background-color: #ddd;
 	color: #2e91ce;
}
tr.gridrow:hover input[type="submit"], 
tr.gridalternaterow:hover input[type="submit"] {
    -webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.45);
    -moz-box-shadow:    0px 3px 3px -3px rgba(0,0,0,0.45);
    box-shadow:         0px 3px 3px -3px rgba(0,0,0,0.45);
}
/*
input[type="submit"].dropdown:hover {
	background: url(Images/icon-Dropdown-white.png) no-repeat center #ccc;
}*/
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.pagerBtn a:active,
.grid input[type="submit"]:active,
tr.gridrow:hover input[type="submit"]:active,
tr.gridalternaterow:hover input[type="submit"]:active {
 	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,
                        0 0 6px rgba(0,0,0,.2) inset;
    -moz-box-shadow:    0 0 0 1px rgba(0,0,0,.15) inset,
                        0 0 6px rgba(0,0,0,.2) inset;
    box-shadow:         0 0 0 1px rgba(0,0,0,.15) inset,
 			            0 0 6px rgba(0,0,0,.2) inset;
}
/*
.dropdown {
    width: 13px;
    background: url(Images/dropBtn.png) no-repeat scroll center bottom transparent;
    border:medium none;
    color:#484848;
    cursor:pointer;
    font-size: 100%;
    height:23px;
    margin: -1px 0 -1px -1px;
    outline:0 none;
}*/
/*
img[src*="close.png"] {
    width:0;
    height:0;
    padding:8px;
    background: #ff7251;
    color: #4a4a4a;
}*/

/* Primary buttons */
/*#btnCreateReport,*/
#btnContinue,
#btnShowDataSelectNCont,
#btnCalcColFuncOK,
#SaveParam,
#btnSave,
#btnSelectTemplateOK,
#btnSPA_OK,
#btnOKOpen,
#btnAddRow,
#btnSaveCategory,
#btnNewCatalog2,
#btnNewRelationship2,
#btnNewVV2,
#btnNewFilter,
#btnNewAppearance2,
#btnNewRole2,
#btnNewUser2,
#btnNewPermission2,
.divButtons #Save,
#ColumnPermissions_Save,
#btnPnlRolesSave,
#btnSaveParam,
#btnCSSelectChartTypeOK,
#btnStyleOK,
#SaveCondition,
#UserPassword_SavePassword,
#btnUploadImage,
#SaveLayer,
#btnVizOK,
#btnDBValuesOK,
#btnSummaryOK,
#btnCFCalcColumnDetailsDone,
#btnFVOk,
#btnPDROK {
	color: #fff;
	background-color: #4da2d7;
    border: 1px solid #2e91ce;
}
/*#btnCreateReport:hover,*/
#btnContinue:hover,
#btnShowDataSelectNCont:hover,
#btnCalcColFuncOK:hover,
#SaveParam:hover,
#btnSave:hover,
#btnSelectTemplateOK:hover,
#btnSPA_OK:hover,
#btnOKOpen:hover,
#btnAddRow:hover,
#btnSaveCategory:hover,
#btnNewCatalog2:hover,
#btnNewRelationship2:hover,
#btnNewVV2:hover,
#btnNewFilter:hover,
#btnNewAppearance2:hover,
#btnNewRole2:hover,
#btnNewUser2:hover,
#btnNewPermission2:hover,
.divButtons #Save:hover,
#ColumnPermissions_Save:hover,
#btnPnlRolesSave:hover,
#btnSaveParam:hover,
#btnCSSelectChartTypeOK:hover,
#btnStyleOK:hover,
#SaveCondition:hover,
#UserPassword_SavePassword:hover,
#btnUploadImage:hover,
#SaveLayer:hover,
#btnVizOK:hover,
#btnDBValuesOK:hover,
#btnSummaryOK:hover,
#btnCFCalcColumnDetailsDone:hover,
#btnFVOk:hover,
#btnPDROK:hover {
	color: #fff;
	background-color: #2e91ce;
}
#PopupMenu #btnSave,
#PopupMenu #btnSave:hover {
    color: inherit;
    background-color: inherit;
}

/* Back to normal buttons */
#filemenu #btnSave {
    color: #4A4A4A;
    background-color: #e5e5e5;
    border: 1px solid #bbb;
}

#filemenu #btnSave:hover {
    background-color: #ddd;
    color: #2e91ce;
}



#txtFormula {
	width:75%;
}
#txtFormula + div {
    width: auto !important;
}
#UPCalcColumn td #txtName {
    margin-left:7px;
}
#txtFormula + br {
	display:none;
}
#txtFormula + br + div {
	padding-top: 0 !important;
	margin-top: 11px;

}

#btnP,
#btnM,
#btnL,
#btnD,
#btnO,
#btnC {
	padding: .5em;
}


.grid .outerbox {
	margin: 0;
}

#UP1 ~ span > input#btnCancel {
    margin-top: 15px;
}

#btnFindReport,
#btnFindPredefinedReport {
    margin: 10px;
}

#tdDivReport td[valign],
#tdDivPredefinedReport td[valign] {
    vertical-align: middle;
}


.rwImageButton {
    cursor: hand;
    /* Internet Exporer only. */
    cursor: pointer;
    /* All other browsers. */
}
.rwImageButtonSelected {
    background-color:#4da2d7;
}
.rwCMContentCell {
    border: solid 3px white;
    padding: 0px;
    margin:0px;
}
.rwCMContentCellSelected {
    border: solid 3px #4da2d7;
    padding:0;
    margin:0;
}

/* Added by Amit - This class will be a copy of popupMenu except for display:none as it causes the hover menu positioning issues.*/
 .ifrmPopupMenu {
    background-color:#f9f9f9;
    border:1px solid #BCBCBC;
    padding-bottom:3px;
    padding-top:1px;
    position:relative;
    z-index:40;
    margin: -1px 5px 0px 0px;
    color:#484848;
}
.ifrmPopupMenu a {
    color: #353535;
    font: normal 11px Arial, Helvetica, sans-serif;
    position: relative;
    min-width:100px;
    display:block;
    text-decoration:none;
    padding:4px 3px 2px;
}
.ifrmPopupMenu a:hover {
    background-color:#eaf3d2;
    font-weight: bold;
}

.functionLinkButton {
    background:#fff;
    border-bottom:1px solid #68786F;
    border-left:1px solid #cad8e8;
    border-right:1px solid #68786F;
    border-top:1px solid #cad8e8;
    color:#000;
    margin:0px 2px;
    padding:5px 5px;
    text-decoration:none;
    white-space:nowrap;
}



label {
	vertical-align: middle;
}
#username {
	margin-left: 10px;
}
#SetPassword {
	margin-left: 8px;
}
/* attempt to scale checkboxes fails on Webkit 08/2013
input[type=checkbox] {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  padding: 10px;
}*/
input[type=checkbox],
input[type=radio] {
	margin: 5px;
}
select {
	margin-left: 5px;
	font-size: 115%;
	color: #4a4a4a;
	border: 1px solid #bbb;
	height: 30px;
}
select[size] {
    height: auto;
}
input + label {
	font-size: 100%;
}
input[type=text],
input[type=password],
textarea {
	color: #4a4a4a;
	font-size:115%;
	outline:none;
	border:solid 1px #bbb;
	margin: 5px;
	padding:0 5px;
	height: 30px;
}
textarea {
	height: 60px;
	padding: 5px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border:solid 1px #888;
}
input[type=text].hidden {
    height: 0;
    margin: 0;
    padding: 0;
}

/*
input.searchText {
    border-right:0;
    width:200px;
}
input.searchText:focus {
	border-right: 0;
}*/
input.btnClear {
	content: "\2297";
	height: 30px;
	outline:none;
	border:solid 1px #bbb;
	border-left: none;
	margin-right: 5px;
}
#srch_imgClear {
    display: none;
}
#srch_UP1 {
    position: relative;
}
#spanClear {
    position: absolute;
    display: block !important;
    top: -6px;
    left: 220px;
    width: 24px;
    height: 24px;
    background: url('Images/icon-X-circle.png') no-repeat;
    cursor: pointer;
}
@media screen\0 {
    #spanClear {display: none !important;}
} 
#srch_SearchText {
    width:200px;
    padding-right: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

*:first-child + html input#srch_imgClear {
    margin-top:1px;
}

#srch_pnlMessage {
    margin-top:10px;
}
.btnClear {
    vertical-align:top;
}


#UPMain > table.tbTB > tbody > tr > td {
    border: none !important;
}
.tdCaption {
    width:225px;
}
#UPMain > table > tbody > tr > td.tdContent {
    width:450px;
}


.pushbutton {
    border-style:none;
    cursor:pointer;
    display:inline-block;
    height:17px;
    margin:-1px 0 0 0;
    padding:3px 9px 0 9px;
}
.pushbutton:visited, .pushbutton:active, .pushbutton:link {
    color:black;
}
.pushbutton:hover {
    color:#589309;
    text-decoration:none;
}
.rightborder {
    border-right:solid 1px #bbb;
}
.pushed {
    background:url(Images/btn_pushed.png);
    color:#fff;
}
.pushed:hover, .pushed:visited, .pushed:active, .pushed:link {
    color:#fff;
}
.tdArrowL {
    background-image:url(Images/icon-arrowLeft.png);
    background-repeat:no-repeat;
    cursor:pointer;
    height:20px;
    display: none;
    width:14px;
}
.tdArrowR {
    background-image:url(Images/icon-arrowRight.png);
    background-repeat:no-repeat;
    cursor:pointer;
    height:20px;
    visibility:hidden;
    width:14px;
}
.tab_header {
    position:relative;
}
.tab_default .tab_header {
    white-space:nowrap;
}
.tab_default .tab_outer {
    display:-moz-inline-box;
    display:inline-block
}
.tab_default .tab_inner {
    display:-moz-inline-box;
    display:inline-block
}
.tab_default .tab_tab {
    cursor:pointer;
    display:-moz-inline-box;
    display:inline-block;
    /*margin-right:4px;*/
    overflow:hidden;
    text-align:center;
}
.tab_xp .tab_header {
    height: 30px;
    white-space:nowrap;
    margin: 10px 10px 0 10px;
}
#UPMenu .tab_header {
    height:30px;
    padding-left:5px;
    position:relative;
}
#UPMenu .tab_header span {
    float:left;
}
#tbs {
    position: relative;
}
#UPPanels #divTab {
    height:30px;
    margin-bottom:-1px;
}
* + html #UPPanels #divTab {
    position:relative;
    z-index:20;
}
* + html #UPMenu #divTabs {
    position:relative;
    z-index:20;
}
.tab_xp .tab_outer {
    margin:0px;
    height:30px;
    background: url(../../ahImages/LeftUp.png) no-repeat;
}
.tab_xp .tab_inner {
    padding-left:1px;
    background: url(../../ahImages/RightUp.png) no-repeat;
    background-position: right top;
}
.tab_xp .tab_tab {
    padding:0px 12px 0 15px;
    text-decoration:none;
    height: 30px;
    overflow: hidden;
    line-height: 32px;
    background-image:url(../../ahImages/CenterUp.png);
    background-clip: content-box;
}
.tab_xp .tab_hover .tab_outer {
    background: url(../../ahImages/LeftHover.png) no-repeat;
}
.tab_xp .tab_hover .tab_inner {
    background: url(../../ahImages/RightHover.png) no-repeat;
    background-position: right top;
}
.tab_xp .tab_hover .tab_tab {
    background-image:url(../../ahImages/CenterHover.png);
    background-clip: content-box;
    /*background: #fff;
    color: #2e91ce;*/
}
.tab_xp .tab_active {
    position:relative;
}
.tab_xp .tab_active .tab_outer {
    background: url(../../ahImages/LeftSelected.png) no-repeat;
}
.tab_xp .tab_active .tab_inner {
    background: url(../../ahImages/RightSelected.png) no-repeat;
    background-position: right top;
}
.tab_xp .tab_active .tab_tab {
    /*background: #4da2d7;*/
    background-image:url(../../ahImages/CenterSelected.png);
    background-clip: content-box;
    color: #fff;
    font-weight:bold;
    height: 30px;
}
.modalPopupBackground {
    padding: 10px;
    * padding: 25px 10px 10px 10px;
}
/*.modalPopupBackground .tab_xp .tab_active .tab_tab,*/
#UPMenu .tab_xp .tab_active .tab_tab {
    background: #4da2d7;
    color: #fff;
    font-weight:bold;
}
.tab_xp .tab_body {
    background-color:#fff;
    border:1px solid #999;
    padding:8px;
    position:relative;
    z-index:5;
}
.tab_xp .tab_data {
    height: 390px;
    overflow: auto;
    background-color:#fff;
    border:solid 1px #bbb;
    margin:0px 10px 10px 10px;
    padding:10px;
    font-size: 90%;
}
.tab_data td .outerbox {
    margin-top: 0;
}
.tab_xp .tab_disabled .tab_tab {
    color:#AAAAAA;
}
#trCategories td {
    padding:3px 0px 6px 5px;
}
#tvDataSource td {
    vertical-align:middle;
}
#tvDataSource input[type="checkbox"] {
    margin: 0 5px;
}
#UP1 table {
    border-collapse:separate;
}
td#tdColumns {
    border-left: none !important;
}
*:first-child + html td#tdColumns {
    border-left: 1px solid DarkGray !important;
}
#pnlRightTemplate .outerbox {
    margin-left:5px;
}
#tvAppPages td {
    vertical-align:middle;
}
#RptStyle {
    margin-bottom:10px;
}
.tvDataSource_0 {
    margin:0 5px;
}
#ucSelectReports_tvFolders td {
    vertical-align:middle;
}
#ucSelectReports_lstReports {
    min-height: 0 !important;
    min-width: 0 !important;
    padding:5px 10px;
}
#tvFolders td {
    vertical-align:middle;
}
#divRptSettings {
    padding:10px;
}
#folderinfo td {
    padding:5px;
}
#Permission, #Description {
    width:270px;
}
#pager {
    background:#eee;
}
#pager table {
    margin-left:auto;
    margin-right:auto;
}
.pagerBtn a {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-right: 4px;
	padding: 0.2em 0.8em;
	text-decoration: none;
	font-size: 110%;
	color: #4A4A4A;
	background: #e5e5e5;
	border: 1px solid #bbb;
    background-position: 50%;
}
#count input {
    width: 32px !important;
}
.pagerBtn a:hover {
	background-color: #bbb;
}
.pagerBtn a.frst {
	background-image: url(Images/icon-arrowLeftLeft.png);
	background-repeat: no-repeat;
}
.pagerBtn a.last {
	background-image: url(Images/icon-arrowRightRight.png);
	background-repeat: no-repeat;
}
.pagerBtn a.prev {
	background-image: url(Images/icon-arrowLeft.png);
	background-repeat: no-repeat;
}
.pagerBtn a.next {
	background-image: url(Images/icon-arrowRight.png);
	background-repeat: no-repeat;
}
.hiPopupMenu {
    background-color:#FFFAEE;
    border:outset 1px #FFFAEE;
    padding:10px;
    position:relative;
    text-align:left;
    visibility:hidden;
    white-space:normal;
    /*width:400px;*/
    z-index:40;
    font-weight: normal;
}
.hiPopupMenu a {
    color:#589309;
    cursor:pointer;
    text-decoration:none;
}
.hiPopupMenu a:hover {
    text-decoration: underline;
}
.hiPopupMenu p {
	padding: 0;
	margin: 0;
}
.tblTitle {
    background-color:#fff;
    border-bottom:solid 1px #dddddd;
    height:20px;
}
.hlp {
    background-color:#FFFAEE;
    padding:10px;
    text-align:left;
}
.clsTitle {
    font-weight:bold;
    margin-left:15px;
}
.clsHelp {
    display:inline-block;
    margin-left:10px;
    text-align:right;
    vertical-align:middle;
}
.dragHandle {
    width:8px;
    height:16px;
    padding:0;
    margin:0;
    background-image: url(Images/dragHandle.gif);
    cursor:move;
}
.resizeHandle {
    width:6px;
    height:200px;
    padding:0;
    margin:0;
    background:#EEEEEE url(Images/resizeHandle.gif) no-repeat center;
    cursor:col-resize;
}
.divColumnTreeView {
    border:solid 1px #DDDDDD;
    margin-right:10px;
    overflow:auto;
    padding:4px;
    /*height: auto !important;*/
}
.divColumnTreeView td {
    padding: 0;
}
 #trvColumns td {
    vertical-align:middle;
}
.tblCenter {
    margin-left:auto;
    margin-right:auto;
}
/* For Chart type selection Popup */
 .tdSelectChartType {
    padding:12px 5px 8px;
    text-align:center;
    vertical-align:top;
    width:65px;
}
.tdSelectChartType:hover {
    background-color:#ddedf7;
}

 .tdSelectChartTypePop {
    /*padding:12px 5px 8px;*/
    text-align:center;
    vertical-align:top;
    width:65px;
}
.tdSelectChartTypePop:hover {
    background-color:#ddedf7;
}

.selectChartTypeAnchor {
    padding: 5px 5px 0px 5px;
    font-size:110%;
    color:#484848;
}
.selectChartTypeAnchor:hover {
    background-color:#ddedf7;
    text-decoration:none;
}
.divSelectChartTypes {
    padding: 3px 0 3px 0;
}
td span#spnFV1 {
    margin: 0;
}
#UpTblColumns td {
    vertical-align: top;
}
td > .mslbutton:first-child {
    margin-top: 65px;
}
fieldset {
    padding: 10px;
    margin: 10px 0;
}
legend {
    font-size:110%;
    font-weight: bold;
}
#tbsbody {
    font-size: 90%;
}
#imgCloseOpen, #ImageButton1, #ImageButton2, #ImageButton3, #ImageButton4, #imgClosePopup, #imgClosePopup1, #imgClosePopup2, #imgClosePopup3, #imgClosePopup4, #imgClosePopup5, #imgClosePopup6, #imgClosePopup7, #imgClosePopup9, #imgClosePopup10, #imgClosePopup11, #imgClosePopup12, #imgClosePopup13, #imgClosePopup14 {
    cursor: pointer;
}
*+html #UPPresentation #AddCondition {
    margin-left: -10px;
}
#pnlDashPanelInfo {
    display: table;
    min-width: 700px;
}
#pnlDashPanelInfo .divButtons {
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #fff;
}
*:first-child+html #pnlDashPanelInfo {
    display:block;
    width:700px;
}
div.rwCMContentCell td[colspan="2"] {
    text-align: center;
}
#UserPassword_PasswordPanel td {
    padding: 3px 5px;
}
.cntntContainer td div {
    margin-bottom:5px;
}
.SelectedTreeNode {
    background-color: #ddedf7;
}
.inactiveInput {
    display:-moz-inline-box;
    display:inline-block;
    border-style: inset;
    border-width:1px;
    height: 20px;
}
.tbTB td {
    padding:2px 4px 0 0;
}
.AHListControl {
    border: gray thin groove;
}
.AHListControlRow {
    background: #fff;
    color: #2D2D2D;
}
.AHListControlRowSelected {
    background: #4da2d7;
    color: #fff;
}
.AHListControlRowMouseOver {
    background: #ddedf7;
    color: #4a4a4a;
}
.ssIn {
    border:none;
}
.ssOut {
    border:inset 1px #bbb;
}
/*For Session Parameters Pages*/
 .txtDisabled {
    background-color:#e5e5e5;
}
.txtEnabled {
    background-color:#fff;
}
/* For "standard reports" like Frequently Viewed and Recently Viewed */
.AlignLeft2 {
    text-align: left;
    padding: .4em .8em;
}
.AlignCenter2 {
    text-align: center;
    padding: .4em .8em;
}
.AlignRight2 {
    text-align: right;
    padding: .4em .8em;
}

#weekDaysBtns > tbody > tr > td  {
    text-align: center;
}

#weekDaysBtns > tbody > tr > td > label {
    display: block;
}

#weekDaysBtns {
    width: 100%;
}

#startDate_DateValue {
    width: 150px !important;
}
#endDate_DateValue {
    width: 150px !important;
}
#ddlLabelColAlignment1,#AggregateFunction1,#ddlValuesColAlignment1 {
    margin-top: 5px;
}
#scTabWiz_divContainer>span>span {
    height: 32px;
}
#scTabWiz_divContainer>span>span>span>span {
    height: 32px;
}

#divColumnMove .mslbutton {
    margin-left: 15px;
}

/*Make Branding copy of the the Metro Theme possible AH-652*/
div[id*='btnAddChartType'] img {
    height: 0;
    padding: 15px 0;
    position: relative;    
    width: 60px !important;
}

#btnAddChartType100 img {
    background: url("../../ahImages/ChartTypes/Thumb100.png") no-repeat scroll center center rgba(0, 0, 0, 0);    
}

#btnAddChartType101 img {
    background: url("../../ahImages/ChartTypes/Thumb101.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }

#btnAddChartType200 img {
    background: url("../../ahImages/ChartTypes/Thumb200.png") no-repeat scroll center center rgba(0, 0, 0, 0);
   }
#btnAddChartType201 img {
    background: url("../../ahImages/ChartTypes/Thumb201.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType202 img {
    background: url("../../ahImages/ChartTypes/Thumb202.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType203 img {
    background: url("../../ahImages/ChartTypes/Thumb203.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType204 img {
    background: url("../../ahImages/ChartTypes/Thumb204.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType205 img {
    background: url("../../ahImages/ChartTypes/Thumb205.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType206 img {
    background: url("../../ahImages/ChartTypes/Thumb206.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType207 img {
    background: url("../../ahImages/ChartTypes/Thumb207.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType300 img {
    background: url("../../ahImages/ChartTypes/Thumb300.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType301 img {
    background: url("../../ahImages/ChartTypes/Thumb301.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType302 img {
    background: url("../../ahImages/ChartTypes/Thumb302.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType303 img {
    background: url("../../ahImages/ChartTypes/Thumb303.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType304 img {
    background: url("../../ahImages/ChartTypes/Thumb304.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType305 img {
    background: url("../../ahImages/ChartTypes/Thumb305.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType400 img {
    background: url("../../ahImages/ChartTypes/Thumb400.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType401 img {
    background: url("../../ahImages/ChartTypes/Thumb401.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType402 img {
    background: url("../../ahImages/ChartTypes/Thumb402.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType403 img {
    background: url("../../ahImages/ChartTypes/Thumb403.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType404 img {
    background: url("../../ahImages/ChartTypes/Thumb404.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType405 img {
    background: url("../../ahImages/ChartTypes/Thumb405.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType600 img {
    background: url("../../ahImages/ChartTypes/Thumb600.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType700 img {
    background: url("../../ahImages/ChartTypes/Thumb700.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType1300 img {
    background: url("../../ahImages/ChartTypes/Thumb1300.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType800 img {
    background: url("../../ahImages/ChartTypes/Thumb800.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType801 img {
    background: url("../../ahImages/ChartTypes/Thumb801.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType900 img {
    background: url("../../ahImages/ChartTypes/Thumb900.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType901 img {
    background: url("../../ahImages/ChartTypes/Thumb901.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType1000 img {
    background: url("../../ahImages/ChartTypes/Thumb1000.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType1001 img {
    background: url("../../ahImages/ChartTypes/Thumb1001.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    }
#btnAddChartType1200 img {
    background: url("../../ahImages/ChartTypes/Thumb1200.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    }

#moveColRight, #moveColLeft, #movColUp, #movColDown, #imgFormatMoveup, #imgFormatMovedown, #imgColumnMoveup, #imgColumnMovedown{
    height: 0;
    position: relative;    
    width: 20px !important;
	padding: 20px 0;
}

#moveColRight{
    background: url("../../ahImages/RightArrow.png") no-repeat scroll;
    }
#moveColLeft{
    background: url("../../ahImages/LeftArrow.png") no-repeat scroll;
    }
#movColUp,#imgFormatMoveup,#imgColumnMoveup{
    background: url("../../ahImages/UpArrow.png") no-repeat scroll;
    }
#movColDown,#imgFormatMovedown,#imgColumnMovedown{
    background: url("../../ahImages/DownArrow.png") no-repeat scroll;
    }
/*End of Make Branding possible*/