<script type="text/javascript" src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector:'textarea.mceEditor',
        plugins: "paste autosave",
        paste_as_text: true,
        browser_spellcheck: true,
        contextmenu: false,
		menubar: "",
		toolbar: "bold"
    });
</script>