@charset "utf-8";
/* CSS Document */


body {font-family: 'Open Sans', sans-serif;text-align: center; display: block; overflow: auto; }

/*h2 {font-size: 40px;font-weight: bold;}*/

#divStatus {float: right; padding-right: 5em; padding-left: 35em;}


.iconSideBar {padding-right: 8px; color: #1a705e; width: 2em;}
.icon1 {padding-right: 8px;color: #1a705e;}
.icon2 {color: white;padding-left: 4px;}

.menu2 {text-transform: uppercase;}

/* Fixed sidenav, full height */
.sidenav {/*position: relative;*/ z-index: 1; overflow-y: auto; overflow-x: hidden; font-size: 16px;}
.mainContent {display: flex;}
.fixed-nav {width: 15%;max-width: 300px;min-width:250px;background-color:#4ea391;padding-top: 42px;padding-right: 16px;padding-left: 16px;float: left;}
.fixed-nav .dropdown-btn, .fixed-nav .dropdown-btn-like-link {text-transform:uppercase;}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn, .dropdown-btn-like-link {text-decoration: none;display: block;border: none;background: none;width:100%;text-align: left;cursor: pointer;outline: none;}
a.dropdown-btn-like-link {width:unset;}
.fixed-nav a, .fixed-nav .dropdown-btn, .fixed-nav .dropdown-btn-like-link {color: white;padding: 16px 8px 16px 16px;}
.item-nav a, .item-nav .dropdown-btn {padding: 7px;}
.item-nav .dropdown-btn-like-link {padding: 7px, 7px, 7px, 0px;}
.item-nav .dropdown-btn, .item-nav .dropdown-btn-like-link {color: #1a705e;font-size: 15px;font-weight: bold;}

/* On mouse-over */
.fixed-nav a:hover, .fixed-nav .dropdown-btn:hover, .fixed-nav .dropdown-btn-like-link:hover {color: #f1f1f1;}

.item-nav a:hover, .item-nav .dropdown-btn:hover, .item-nav .dropdown-btn-like-link:hover {color: #4ea391;}



/* Add an active class to the active dropdown button */
.fixed-nav .active {background-color: #1a705e;color: white;}

.fixed-nav .active i {color: white;}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {display: none;}

.fixed-nav .dropdown-container {background-color: #4ea391;padding-left: 4em;}


.fixed-nav .dropdown-container > a {padding: .4em;}

.item-nav .dropdown-container > a {font-size:13px;padding: 3px 0 3px 24px;color: #1a705e;}

.mobile-menu button:hover i {color: #4ea391; background-color: white;}

/* Optional: Style the caret down icon */
.fa-caret-down {padding-left: 8px;}


a.refresh .fas {padding-right: 10px;}

.inprogress {cursor: default !important;}
.inprogress:hover {color: #1a705e !important;background-color: white !important;}

a.refresh {text-align: center;color: #1a705e;background-color: white;border-radius: 5px; text-decoration: none;width: 120px;margin: 0 auto;box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.3);margin-bottom: 24px;margin-top: 42px;}

a.refresh:hover {color: white;background-color: #1a705e;}
p.sidebar-text {min-height:unset;}

.sidebar-text {color: white; text-align: center;}
.sidebar-line1 {margin: 0px;}
.sidebar-line2{ font-weight: bold; text-transform:uppercase; margin:0 0 16px 0;}
.fontStyleNormal {
    font-style: normal;
}
.top-bar{right: 0px;background-color: #1a705e;color: white; font-size: 16px; width: 100%;}

.top-bar > div {display: inline-block;width: 97%;padding-left: 300px;}

.inner {position: relative; box-sizing: border-box;}

.profile-nav i {padding-left: 8px;}

/* Dropdown Button */
.dropbtn {background-color:#1a705e;color: white;padding: 16px; border: none;
}
.main-container a {width:unset;}
/* The container <div> - needed to position the dropdown content */
.dropdown {display: inline-block;}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {display: none;position: absolute;background-color: #f1f1f1;width: 200px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}

.profile-nav .dropdown-content {margin-left: 42px;}

/* Links inside the dropdown */
.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #4ea391;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */

.mobile-menu button {background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;float: left;}
.item-nav .dropdown-container {font-size:14px;}
.fixed-nav .push-right32 {padding: 16px 8px 16px 32px;}
.logoutButton {cursor: pointer;}
.HelixHide {display:none;}
.HelixShow {display:block !important;}

/*@media only screen and (min-width: 1500px) {*/
    .main-container {font: 100%; padding-right: 50px;display: block; white-space: nowrap}
	/*.third {width: 33.33%;float: left;}*/
	#mainContainerTablet {display:none;}
	.main-container h2{color: #4ea391;padding-left: 5%;text-align:left;}
	.third > div > div {display: table; height: 85px; overflow: hidden;width: 70%;margin-bottom: 16px;}
	.third > div {padding: 2%;}
    .third h3 {background-color: #e6e6e6;text-align: center;border-radius: 5px;display: table-cell; vertical-align: middle;font-size: 16px; font-weight: bold}
	.third h3 i {font-size: 40px;}
	.main-container > div {display: inline-block;width: 95%;padding: 0 5%;}
	.top-bar i.mobile {color: white; float: left;margin-top: 42px; : 30px; 
	padding:10px; border-radius: 5px; background-color: #4ea391; box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);}
	.top-bar img {width: 200px;position:absolute; top: 4px; left: 80px; }
	.mobile-menu {position: absolute; top: -38px;left: 0px;}
	.profile-nav {padding-left: 30em; padding-right: 3em; white-space: nowrap;}
/*}*/
/*
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .main-container {max-width: 850px;width: 80%;padding-right: 50px;display: inline-block;}
	.third {width: 33.33%;float: left;}
	#mainContainerTablet{display: none;}
	.main-container h2{color: #4ea391;padding-left: 5%;text-align:left;}
	.third > div > div {display: table; height: 85px; overflow: hidden;width: 70%;margin-bottom: 16px;}
	.third > div {padding: 2%;}
.third h3 {background-color: #e6e6e6;text-align: center;border-radius: 5px;display: table-cell; vertical-align: middle;font-size: 100%; font-weight: bold}
	.third h3 i {font-size: 40px;}
	.main-container > div {display: inline-block;width: 95%;padding: 0 5%;}
	.top-bar i.mobile {color: white; float: left;margin-top: 42px; : 30px; 
	padding:10px; border-radius: 5px; background-color: #4ea391; box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);}
	.top-bar img {width: 200px;position:absolute; top: 3px; left: 80px; }
	.mobile-menu {position: absolute;  top: -40px;left: 5px;}
	.profile-nav {width: 300px;position: absolute;right: 200px;top: 8px;}
}

@media only screen and (min-width: 1140px) and (max-width: 1199px) {
    .main-container {max-width: 700px;width: 80%;padding-right: 50px;display: inline-block;color: #4ea391;text-align:left;}
	.third {width: 50%;float: left;}
	#mainContainerDesktop {display:none;}
    .main-container h2{color: #4ea391;text-align:left;}
	.item-nav{padding-top: 12px; padding-bottom: 16px; font-size: 16px;}
	.item-nav .dropdown-btn, .item-nav .dropdown-btn-like-link {font-size: 14px;}
	.half{display:inline-block; width: 100%;}
	.third h3 {width: 200px; background-color: #e6e6e6;text-align: center; border-radius: 5px;display: table-cell; vertical-align: middle; padding: 16px; font-size: 100%; font-weight: bold}
	.third h3 i {font-size: 30px;}
	.top-bar i.mobile {color: white; float: left;margin-top: 42px; : 30px; 
	padding:10px; border-radius: 5px; background-color: #4ea391; box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);}
	.top-bar img {width: 200px;position:absolute;  top: 3px; left: 80px; }
	.mobile-menu {position: absolute; top: -40px;left: 5px;}
	.profile-nav {width: 300px;position: absolute;right: 200px;top: 8px;}
}

@media only screen and (min-width: 1000px) and (max-width: 1139px) {
    .main-container {max-width: 600px;}
	.third {width: 50%;float: left;}
	#mainContainerDesktop {display:none;}
    .main-container h2{color: #4ea391;text-align:left;}
	.main-container {width: 80%;padding-right: 50px;display: inline-block;color: #4ea391;text-align:left;}
	.item-nav{padding-top: 12px; padding-bottom: 16px; font-size: 16px;}
	.item-nav .dropdown-btn .dropdown-btn-like-link {font-size: 14px;}
	.half{display:inline-block; width: 100%;}
    .third h3 {width: 200px; background-color: #e6e6e6;text-align: center; border-radius: 5px;display: table-cell; vertical-align: middle; padding: 16px; font-size: 100%; font-weight: bold}
	.third h3 i {font-size: 30px;}
	.top-bar i.mobile {color: white; float: left;margin-top: 42px;padding:10px; border-radius: 5px; background-color: #4ea391; box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);}
	.top-bar img {width: 200px;position:absolute; top: 3px; left: 80px; }
	.mobile-menu {position: absolute; top: -40px;left: 5px;}
	.profile-nav {width: 300px;position: absolute;right: 200px;top: 8px;}

}

@media only screen and (min-width: 880px) and (max-width: 999px) {
    .main-container {max-width: 500px;}
	.third {width: 50%;float: left;}
	#mainContainerDesktop {display:none;}
    .main-container h2{color: #4ea391;text-align:left;}
	.main-container {width: 80%;padding-right: 50px;display: inline-block;color: #4ea391;text-align:left;}
	.item-nav{padding-top: 12px; padding-bottom: 16px; font-size: 16px;}
	.item-nav .dropdown-btn, .item-nav .dropdown-btn-like-link {font-size: 14px;}
	.half{display:inline-block; width: 100%;}
	.third h3 {width: 200px; background-color: #e6e6e6;text-align: center; border-radius: 5px;display: table-cell; vertical-align: middle; padding: 16px; font-size: 100%; font-weight: bold}
	.third h3 i {font-size: 30px;}
	.top-bar i.mobile {color: white; float: left;margin-top: 42px; : 30px; 
	padding:10px; border-radius: 5px; background-color: #4ea391; box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);}
	.top-bar img {width: 200px;position:absolute; top: 0px; left: 64px; }
	.mobile-menu {position: absolute; top: -43px;left: 23px;}
	.profile-nav {width: 300px;position: absolute;right: 200px;top: 8px;}
}


@media only screen and (min-width: 700px) and (max-width: 879px) {
    .main-container {max-width: 330px;}
	.third {width: 100%;}
	#mainContainerDesktop {display:none;}
    .main-container h2{color: #4ea391;padding-left: 5%;text-align:left;}
	.main-container {width: 80%;display: inline-block;color: #4ea391;text-align:left; padding-left: 50px;}
	.item-nav{padding-top: 12px; padding-bottom: 16px; font-size: 16px;}
	.item-nav .dropdown-btn, .item-nav .dropdown-btn-like-link {font-size: 14px;}
	.half{display:inline-block; width: 100%;}
	.third h3 {width: 250px; background-color: #e6e6e6;text-align: center; border-radius: 5px;display: table-cell; vertical-align: middle; padding: 16px; font-size: 100%; font-weight: bold;}
	.third h3 i {font-size: 30px;}
	.top-bar i.mobile {color: white; float: left ;margin-top: 42px;padding:10px; border-radius: 5px; background-color: #4ea391; box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);}
	.top-bar img {width: 200px;position:absolute; top: 0px; left: 64px; }
	.mobile-menu {position: absolute; top: -43px;left: 23px;}
	.profile-nav {width: 300px;position: absolute;right: 200px;top: 10px;}
}

@media only screen and (max-width: 699px) {
    .main-container {max-width: 330px;}
	.third {width: 100%;}
	#mainContainerDesktop {display:none;}
    .main-container h2{color: #4ea391;text-align:left;}
	.main-container {width: 80%;display: inline-block;color: #4ea391;text-align:left;}
	.item-nav{padding-top: 12px; padding-bottom: 16px; font-size: 16px;}
	.item-nav .dropdown-btn, .item-nav .dropdown-btn-like-link {font-size: 14px;}
	.half{display:inline-block; width: 100%;}
	.third h3 {width: 250px; background-color: #e6e6e6;text-align: center; border-radius: 5px;display: table-cell; vertical-align: middle; padding: 16px; font-size: 100%; font-weight: bold;}
	.third h3 i {font-size: 30px;}
	.fixed-nav {position: fixed; top: 83px;}
	#sideBarMenu{display:none;}
	.top-bar i.mobile {color: white; float: left;margin-top: 42px; : 30px; 
	padding:10px; border-radius: 5px; background-color: #4ea391; box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);}
	.top-bar img {width: 150px;position:absolute; top: 0px; left: 64px; }
	.mobile-menu {position: absolute; top: -48px;left: 23px;}
	.profile-nav {width: 300px;position: absolute;right: 230px;top: 35px;}
    .dropbtn {padding:0px;}
}
*/