/*A bug in the theme considers a table summary row at the bottom to be like at the top, even though the background is different.*/
/*A second bug causes the css parser in Info Studio to not recognize multi-line comments so it starts to make them selectable.*/
/*In the theme of our choice this creates white on white instead of white on blue. I'm not sure this is fixable in the theme, so I'm fixing it here.*/
.HelixTextBlack
{
	color: Black !important;
}
.HelixYellowText
{
 background-color: #FFFF00;
}
.HelixOrangeText
{
 background-color: #FFA500;
}
.HelixTdPadding tbody td {
padding: 2px 10px 2px 10px !important;
/* padding for cross tab body columns doesn't always match body columns of standard table which doesn't look right when one is a popup on the other */
}

/*Fix the color of the report list in the side panel*/
.HelixTextWhite a
{
	color: AntiqueWhite !important;
}
.HelixTextRedBoldLarge
{
	color: Red;
	font-size: large;
	font-weight: bold;
}
/* will uncomment this when the new master report layout goes live becuase this the top line is a color change
.ThemeMasterReportLeftFrame {
	background-color: #4ea391 !important;
	color: #000000;
	min-width: 150px;
}

*/
.HelixTextRedBold
{
	color: Red !important;
	font-weight: bold !important;
}
	
/*Show menu branch as link*/
.HelixMenuBranch {
    color: #aeaeae !important;
	font-weight: normal !important;
	text-decoration: none;
	cursor: pointer;
}

.HelixWhiteBackground {
	background-color: white;
}

.HelixFloatLeft {
	float: left;
}

.HelixTightImage {
	white-space: nowrap;
}

.HelixTightTable {
	padding-bottom: 2px !important;
	padding-top: 2px !important;
}

.HelixFlatTableHeader tr {
	white-space: nowrap;
	background-color: #82C2B6;
}

.HelixFlatColumn {
	white-space: nowrap;
}

.HelixYellowBackground {
	background-color: yellow !important;
}

.HelixTruncateLongText {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.HelixTruncateLongTextColumn {
	max-width: 50px !important;
}
.HelixTruncateLongTextColumnWider {
	max-width: 125px !important;
}
.HelixWrapLongText {
	white-space: pre-wrap;
	word-wrap: break-word;
	width: 250px;
}

.HelixSuperTightTable {
	padding: 0px !important;
}

.HelixWrapLongHeader {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.HelixMinPopupSize {
	min-height: 150px;
}

.HelixSuperTightColumn {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.HelixSuperTightRow > td {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.HelixExpandColumnHeader {
	background-color: #82C2B6;
	padding-right: 0px !important; 
	padding-left: 0px !important;
}


.HelixWideButton {
	width: 100% !important;
	
}

.HelixFavoritesButton {
	float: right;
	padding-right: 15px;
}

.HelixFloatRight {
	float: right;
}


.HelixRdThemeDataTableSummaryRow {
background-color: #82C2B6 !important;
color: #000000 !important;
/* the default sytle on summary rows gets overriden in some contexts, this is to force the default style */
}

/*For conditional classes. Use ShowMode: None normally*/
.HelixHide {
	display: none;
}

.HelixHoverLink:hover {
	color: #74ADA3;
}

.HelixHoverLink {
	color: black;
}

.rdThemeDataTableSummaryRow td {
	font-weight: bold;
}

.rdThemeDataTableMainHeader {
	padding-right: 12px;
	white-space: nowrap;
}

table.rdResizableColumns th {
	white-space: nowrap;
}
.HelixRemoveTopMarginFromLogiTextInput{
	margin: 0 3px 3px !important;
}
.HelixForceContentsToTop {
	padding: 0;
	vertical-align:top;
	}
	

.HelixTextAlignLeft {
	text-align: left;
}
.HelixTextAlignRight {
	text-align: right;
}
.HelixBoldText{
	font-weight:bold;
}
.HelixSummaryLineDivider{
	color:#E8E8EE !important;
	margin:0 !important;
}

.checkbox-round input[type="checkbox"] {
    width: 1.1em !important;
    height: 1.1em !important;
    background-color: white !important;
    border-radius: 50% !important;
    vertical-align: bottom !important;
    border: 1px solid #888 !important;
    -webkit-appearance: none !important;
    outline: none !important;
    cursor: pointer !important;
}

.checkbox-round input[type="checkbox"]:checked {
	background-image :    -moz-radial-gradient(rgb(10,10,10),rgb(255,255,255));
  	background-image :     -ms-radial-gradient(rgb(10,10,10),rgb(255,255,255));
	background-image :      -o-radial-gradient(rgb(10,10,10),rgb(255,255,255));
  	background-image : -webkit-radial-gradient(rgb(10,10,10),rgb(255,255,255));
  	background-image :         radial-gradient(rgb(10,10,10),rgb(255,255,255));
}

.HelixBackgroundRed tr {
	background-color: Red !important;
	color: Black !important;
}

#DataTable1 > thead > tr >  th {
	position: sticky;
	top:0;
}

#DataTable2 > thead > tr >  th {
	position: sticky;
	top:0;
}
.rdThemeDataTableMainHeaderSmallText { 
/* for a colum with few columns such that the default Caption style font-size 150% extends the caption row beyond the table width*/
/*when you enter a 'caption' class onto the table element, logi applies the class in *addition* to the default class*/
    font-size: 90% !important;
    text-align: center !important;
}

.rdThemeDataTableCell {
	white-space: nowrap;
	/*These fix the excel export because the excel export isn't very cascading*/
	background-color: #FFFFFF;
	color: #000000;
}

.sticky_table_header{
  /*position: -webkit-sticky;*/
  position: sticky;
  top: 0px;
}
.HelixShadedRow
{
	background-color: #DCDCDC !important;
	padding: 2px 10px 2px 10px;
}

.HelixMainDisplayWrapper {	
  display: flex;
  min-height: 82.5vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Segoe UI' /*MainFont*/, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

}

.HelixPdfHeader {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'Segoe UI' /*MainFont*/, 'Avenir Next', 'Avenir', 'sans-serif';
	color: #000080 !important;
	font-weight: bold !important;
	text-align: center;
}

.HelixPdfHeader td {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'Segoe UI' /*MainFont*/, 'Avenir Next', 'Avenir', 'sans-serif';
	color: #000080 !important;
	font-weight: bold !important;
}

.HelixPdfHeaderContainer {
	margin-bottom: 12px;
	padding: 0px;
}

.HelixPdfClientName {
	font-size: 14pt;
}

.HelixPdfTitle {
	font-size: 16pt;
}

.HelixPdfSubtitle {
	font-size: 12pt;
}

.HelixPdfDateTime {
	font-size: 10px;
}

.HelixFooter {
	vertical-align: text-bottom;
	/*color: #000080 !important;
	font-weight: bold !important;*/
}

.HelixCenterMargin {
	margin: auto;
}


.HelixMainContent {
	padding: 20px;
	display: inline-grid;
	flex-grow: 100;
	font-size: 12px;
}

.HelixMainDisplayTable {
	width: 100%;
	display: table;
}

table.rdAgDataTable td {
	padding: 1px 10px;
/*	background-color: #FFFFFF;*/
}

.HelixOrientationSelection {
	vertical-align: text-bottom;
}