.Individual {
	/* Used to tag reports that SHOULD be displayed on the ReportCenter menu to Individual (i.e. group = Individual) */
	}
.KPI {
	/* Used to tag reports that SHOULD be displayed on the ReportCenter menu to KPI (i.e. group = KPI) */
	}
.Time {
	/* Used to tag reports that SHOULD be displayed on the ReportCenter menu to Time (i.e. group = Time) */
	}

	
.textLineThrough {
	text-decoration:line-through;
	}
	

.rdThemeDataTableHeaderRow th {
  background-color: #FFFFFF /*TableHeaderRowBackgroundColor*/ ;
  color: #000000 /*TableHeaderRowFontColor*/ ;
}






h1, .ThemeHeaderLargest {
  font-size: 175%;
  font-weight: bold;
	color: Black;
}
h2, .ThemeHeaderLarger {
  font-size: 150%;
  font-weight: bold;
	color: Black;
}
h3, .ThemeHeaderLarge {
  font-size: 125%;
  font-weight: bold;
	color: Black;
}
h4, .ThemeHeader {
  font-size: 110%;
  font-weight: bold;
	color: Black;
}
h5, .ThemeHeaderSmall {
  font-size: 100%;
  font-weight: bold;
}
h6, .ThemeHeaderSmaller {
  font-size: 90%;
  font-weight: bold;
  font-weight: 600;
}

	
.ThemeTextLargest {
  font-size: 120%;
}
.ThemeTextLarger {
  font-size: 110%;
}
.ThemeTextLarge {
  font-size: 100%;
}
.ThemeTextNormal {
  font-size: 90%;
}
.ThemeTextSmall {
  font-size: 80%;
}
.ThemeTextSmaller {
  font-size: 70%;
}
.ThemeTextSmallest {
  font-size: 60%;
}



	.BorderNone {
		border:none;
		empty-cells: hide;
		}

	.Border1 {
		border:1px solid black;
		}
	.Border1Top {
		border-top:1px solid black;
		}
	.Border1Right {
		border-right:1px solid black;
		}
	.Border1Left {
		border-left:1px solid black;
		}
	.Border1Bottom {
		border-bottom:1px solid black;
		}

	.Border1Gray {
		border:1px solid LightGray;
		}
	.Border1GrayTop {
		border-top:1px solid LightGray;
		}
	.Border1GrayRight {
		border-right:1px solid LightGray;
		}
	.Border1GrayLeft {
		border-left:1px solid LightGray;
		}
	.Border1GrayBottom {
		border-bottom:1px solid LightGray;
		}


	.Border2 {
		border:2px solid black;
		}
	.Border2Top {
		border-top:2px solid black;
		}
	.Border2Right {
		border-right:2px solid black;
		}
	.Border2Left {
		border-left:2px solid black;
		}
	.Border2Bottom {
		border-bottom:2px solid black;
		}

	.Border2Gray {
		border:2px solid LightGray;
		}
	.Border2GrayTop {
		border-top:2px solid LightGray;
		}
	.Border2GrayRight {
		border-right:2px solid LightGray;
		}
	.Border2GrayLeft {
		border-left:2px solid LightGray;
		}
	.Border2GrayBottom {
		border-bottom:2px solid LightGray;
		}






/*
.rdDashboard, .rdDashboard table {	
	background-color: Black;
	color: White;
}


td.rdDashboardColumn.yui3-dd-drop {
    background-color:Black;
    border-style: none;
}

.yui-navset .yui-nav li a, .yui-navset .yui-content {
	border-color:#888888 !important;
}

.yui-navset .yui-nav .selected a, .yui-navset .yui-nav a:hover, .yui-navset .yui-content {
	background-color:Black !important;
}

.yui-nav a {
	background-color:Black !important;
}
*/

.hugeFont {
	font-size:18pt;
	}

.DashboardFont{
	font-size:72pt;
	}

.DashboardTextColor {
	color: #fdfac3;
	text-decoration: none;
}

	.progressiveBackgroundColor_0,
	#colWidener_1-TH {
        background-color: #FFF5D7;
   		}

	.progressiveBackgroundColor_1,
	#colWidener_1-TH {
        background-color: #FFE4C4;
   		}
	.progressiveBackgroundColor_2,
	#colWidener_2-TH {
        background-color: #CDE4C4;
   		}	
	.progressiveBackgroundColor_3,
	#colWidener_3-TH {
        background-color: #DEB8FF;
   		}
	.progressiveBackgroundColor_4,
	#colWidener_4-TH {
        background-color: #DEB887;
   		}
	.progressiveBackgroundColor_5,
	#colWidener_5-TH {
        background-color: #CDCD3F;
   		}	
	.progressiveBackgroundColor_6,
	#colWidener_6-TH {
        background-color: #CD853F;
   		}		
	
	.backgroundNONE {
        background-color: Transparent;
   		}	
	.backgroundAqua {
        background-color: Aqua;
	color: Black;
   		}

	.backgroundAqua a {
        background-color: Aqua;
	color: Black;
   		}

	.backgroundBlack {
        background-color: Black;
	color: White;
   		}

	.backgroundBlack a {
        background-color: Black;
	color: White;
   		}


	.backgroundBlack TD {
        background-color: Black;
	color: White;
   		}

	.backgroundBrown {
        background-color: Brown;
	color: White;
   		}

	.backgroundBrown a {
        background-color: Brown;
	color: White;
   		}

	.backgroundSaddleBrown {
        background-color: SaddleBrown;
	color: White;
   		}

	.backgroundSaddleBrown a {
        background-color: SaddleBrown;
	color: White;
   		}

	.backgroundPeru {
        background-color: Peru;
	color: White;
   		}

	.backgroundPeru a {
        background-color: Peru;
	color: White;
   		}



	.backgroundDarkRed {
        background-color: DarkRed;
	color: White;
   		}

	.backgroundDarkRed a {
        background-color: DarkRed;
	color: White;
   		}


	.backgroundBlackPearlTextColor {
        background-color: #fdfac3	;
   		}

	.backgroundGray {
        	background-color: LightGray;
		color: Black;
   		}

	.backgroundGrayTextGray {
        	background-color: LightGray;
		color: LightGray;
   		}

	.backgroundGray a {
        	background-color: LightGray;
		color: Black;
   		}
	.backgroundGray span {
        	background-color: LightGray;
		color: Black;
   		}
	.backgroundGray td {
        	background-color: LightGray;
		color: Black;
   		}
	.backgroundGrayCenter {
        	background-color: LightGray;
		color: Black;
		text-align: center;
   		}		

	
	.backgroundLightGray {
        	background-color: #e9e9e9;
		color: Black;
   		}
	
	.backgroundLightGray a {
        	background-color: #e9e9e9;
		color: Black;
   		}

	.backgroundDarkGray {
        background-color: DarkGray !important;
   		}

	.backgroundDarkGray a {
        background-color: DarkGray !important;
   		}


	td.backgroundDarkGray,
	th.backgroundDarkGray,
	#DarkGray,
	#DarkGray-TH {
        background-color: DarkGray !important;
   		}
	#DarkGray_Row1,
	#dtcDarkGray-TH {
        background-color: DarkGray;
   		}


	.backgroundVeryDarkGray {
        	background-color: #484848;
		color: White;
   		}
	.backgroundVeryDarkGray a {
        	background-color: #484848;
		color: White;
   		}
	.backgroundGreen {
        background-color: Lime;
   		}

	.backgroundPaleGreen {
        background-color: PaleGreen;
   		}

	.backgroundDarkGreen {
        background-color: DarkGreen;
		color: White;
   		}

	.backgroundDarkGreen a {
        background-color: DarkGreen;
		color: White;
   		}



	.backgroundDarkGreenCenter {
        background-color: DarkGreen;
	color: White;
	text-align: center;
   		}
   .backgroundYellow{
        background-color: Yellow;
		color: Black;
   		}
   .backgroundYellow a{
        background-color: Yellow;
		color: Black;
   		}
	.backgroundYellowCenter{
        background-color: Yellow;
		color: Black;
		text-align: center;
   		}

   .backgroundLightYellow{
        background-color: LightYellow;
   		}
   .backgroundLightYellow a{
        background-color: LightYellow;
		color: Black;
   		}

   .backgroundGold{
        background-color: GoldenRod;
   		}
   .backgroundGold a{
        background-color: GoldenRod;
		color: Black;
   		}
	.backgroundGoldCenter{
        background-color: GoldenRod;
		text-align: center;
   		}

   .backgroundDarkKhaki{
        background-color: #BDB76B;	/* DarkKhaki  */
   		}
   .backgroundDarkKhaki a{
        background-color: #BDB76B;	/* DarkKhaki  */
		color: Black;
   		}



	.backgroundWhite{
        background-color: White;
   		}
	.backgroundWhiteCenter{
        background-color: White;
	text-align: center;
   		}


   .backgroundRed {
        background-color: Red;
		color: White;
		}   
	.backgroundRed a {
        background-color: Red;
		color: White;
		}
	.backgroundRed tr td li {
        background-color: Red;
		color: White;
		}
.backgroundRed TD {
        background-color: Red;
		color: White;
		}		
   .backgroundRedCenter {
        background-color: Red;
	text-align: center;
	color: White;
		}
	.backgroundRedRight {
        background-color: Red;
		text-align: right;
		}
	.backgroundRedLeft {
        background-color: Red;
		text-align: left;
		}
		
		
	.backgroundDarkBrown,
	.backgroundDarkBrown a {	
		background-color: #A0522D;
		color: #FFF;
		}


   .backgroundBlue {
        background-color: Blue;
		color: White;
		} 

   .backgroundBlueCenter {
        background-color: Blue;
	text-align: center;
		color: White;
		} 

   .backgroundBlue a {
        background-color: Blue;
		color: White;
		}    

   .backgroundSkyBlue {
        background-color: #87CEEB;	/* SkyBlue */
		color: Black;
		}
   .backgroundSkyBlue a {
        background-color: #87CEEB;	/* SkyBlue */
		color: Black;
		}

   .backgroundSkyBlueCenter {
        background-color: #87CEEB;	/* SkyBlue */
	text-align: center;
		color: Black;
		} 



   .backgroundOrangeRed{
        background-color: OrangeRed;
		color: White;
   		}
   .backgroundOrangeRed a{
        background-color: OrangeRed;
		color: White;
   		}

   .backgroundPurple {
        background-color: #800080;
		color: White;
		}
   .backgroundPurple a {
        background-color: #800080;
		color: White;
		}

   .backgroundMagenta {
        background-color: #FF00FF;
		color: White;
		}
   .backgroundMagenta a {
        background-color: #FF00FF;
		color: White;
		}

   .backgroundDarkSlateBlue {
        background-color: #483D8B;
		color: White;
		}
   .backgroundDarkSlateBlue a {
        background-color: #483D8B;
		color: White;
		}



   .backgroundTransparentCenter{
        background-color: transparent;
		text-align: center;
   		}


  table.rdAgDataTable td.backgroundRed {
        background-color: Red;
		color: White;
		}   





	.textColorBlack,		
	.textColorBlack a {
		color: Black;
		}



	.textColorGray,		
	.textColorGray a {
		color: Gray;
		}
		
	
		
	.textColorWhite,		
	.textColorWhite a {
		color: White;
		}

	.textColorRed,		
	.textColorRed a {
		color: Red;
		}	

	.textColorYellow, .textColorYellow a, .textColorYellow a span {
		color: GoldenRod;
		}	
		
	td.rdThemeDataTableMoreInfoRow a span {
		/* matches theme URL link blue color */
		color: rgb(0,0,238);
		}
		
		
#SalesForecastedToCloseHeader_WHITE_TEXT_Row1 {
        background-color: Red;
		color: White;
		}	
		

caption.rdThemeDataTableMainHeader {
    /* background-color: #fff; */
	background-color: transparent;
    border-top-width: 0;
	/* font-weight: normal; */
    font-weight: bold;
	text-align: left;
    padding-left: 5px;
    font-size: 18px;
}
caption.rdThemeDataTableMainHeader.smallText {
    /* background-color: #fff; */
	background-color: transparent;
    /* border-top-width: 0; */
	/* font-weight: normal; */
    font-weight: bold	;
	/* text-align: left; */
    /* padding-left: 5px; */
    font-size: 12px;
}


.scrollFrame {
	overflow: scroll;
	}
.scrollFrameVisible {
	overflow: visible;
	}	

/*
	th span span
		{ 
			margin-top: 20px;
			margin-bottom: 20px;
		  	padding-top:	30px;
			padding-bottom: 30px;
		}

	#dtcTM-TH
		{ 
			margin-top: 20px;
			margin-bottom: 20px;
		  	padding-top:	30px;
			padding-bottom: 30px;
		}
*/

	/* Added for Safari compatibility */
	a span,
	th a,
	rdThemeDataTableHeader a,
		
	#dtcMgdCM-TH a,
	#dtcMgdRev-TH a, 
	#dtcMgdHRS-TH a,
	#dtcMgdHRSa-TH a,
	#dtcMgdEHR-TH a, 
	#dtcCompany-TH a, 
	#dtcCM-TH a,
	#dtcREV-TH a,
	#dtcCOST-TH a,
	#dtcHrsInvoiced-TH a,
	#dtcEHR-TH a,
	#dtcAmtPaid-TH a,

	#dtcEngineer-TH a ,
	#dtcEngineerHrsActual-TH a,
	#dtcEngineerHoursInvoiced-TH a,
	#dtcEngineerBillPct-TH a,
	#dtcEngineerEHR-TH a,
	#dtcEngineerBlank-TH a,
	#dtcEngineerBlanka-TH a,
	#dtcEngineerBlankb-TH a,
	#dtcEngineerBlankc-TH a,
	#dtcEngineerBlankd-TH a,
	#dtcEngineerBlanke-TH a,
	#dtcEngineerBlankf-TH a,
	#dtcEngineerReqHrs-TH a,

	#dtcEngineer2-TH a ,
	#dtEngineerHoursThisEngineer #dtcCM2-TH a,
	#dtcEngineerHrsActual2-TH a,
	#dtcEngineerHoursInvoiced2-TH a,
	#dtcEngineerBillPct2-TH a,
	#dtcEngineerEHR2-TH a,
	#dtcEngineerBlank2-TH a,
	#dtcEngineerBlank2a-TH a,
	#dtcEngineerBlank2b-TH a,
	#dtcEngineerBlank2c-TH a,
	#dtcEngineerBlank2d-TH a,
	#dtcEngineerBlank2e-TH a,
	#dtcEngineerBlank2f-TH a,
	#dtcEngineerReqHrs2-TH a	

	#dtcEngineer3-TH a,
	#dtcEngineerHrsActual3-TH a,
	#dtcEngineerHoursInvoiced3-TH a,
	#dtcEngineerBillPct3-TH a,
	#dtcEngineerEHR3-TH a,
	#dtcEngineerBlank3-TH a,
	#dtcEngineerReqHrs3-TH a 

	#dtcScheduled2-TH a,
	#dtcScheduledHrsScheduled2-TH a,
	#dtcScheduledHrsOpen2-TH a,
	#dtcScheduledHrsClosed2-TH a,
	#dtcScheduledBlank2-TH a 

	#dtcScheduled3-TH a,
	#dtcScheduledHrsScheduled3-TH a,
	#dtcScheduledHrsOpen3-TH a,
	#dtcScheduledHrsClosed3-TH a,
	#dtcScheduledBlank3-TH a  

	#dtcTMRev-TH a,
	#dtcTMHrs-TH a,
	#dtcTMEHR-TH a,

	#dtcProdCM-TH a,
	#dtcProdRev-TH a 
		{text-decoration: underline;
		line-height: normal; 
  font-size: 90%;
		}
		
		
	#dtcMgdCM-TH,
	#dtcMgdCM-TH span,
	#dtcMgdRev-TH, 
	#dtcMgdHRS-TH, 
	#dtcMgdHRSa-TH, 
	#dtcMgdEHR-TH,
	#dtcMgdCM-TH a,
	#dtcMgdRev-TH a, 
	#dtcMgdHRS-TH a,
	#dtcMgdHRSa-TH a,
	#dtcMgdEHR-TH a, 
	#dtcMgdCM-TH td, 
	#dtcMgdRev-TH td, 
	#dtcMgdHRS-TH td, 
	#dtcMgdEHR-TH td,
	#dtcW2_Cost td,
	#dtcNet_After_W2 td,
	#dtcNet_After_W2 span,
	#dtcMgdHRS-TH span,
	#dtcMgdEHR-TH span {
        background-color: DarkGreen;
		color: rgb(255,255,255);
   		}		
	.columnGreen {
        background-color: PaleGreen;
		color: Black;
   		}	
	.columnLightYellow {
        background-color: LightYellow;
		color: Black;
   		}
		
	#dtcCompany-TH, 
	#dtcCM-TH, 
	#dtcREV-TH, 
	#dtcCOST-TH, 
	#dtcCOST_Excel-TH, 
	#dtcHrsInvoiced-TH, 
	#dtcEHR-TH, 
	#dtcAmtPaid-TH, 
	#dtcCompany-TH a, 
	#dtcCM-TH a,
	#dtcREV-TH a,
	#dtcCOST-TH a,
	#dtcCOST_Excel-TH a,
	#dtcHrsInvoiced-TH a,
	#dtcEHR-TH a,
	#dtcAmtPaid-TH a,
	#dtcBlank-TH, 
	#dtcBlanka-TH, 
	#dtcBlankb-TH, 
	#dtcNextActivityDate-TH,
	#dtcDateCloseExpected-TH,
	#dtcREV-TH span, 
	#dtcHrsInvoiced-TH span,
	#dtcEHR-TH span,
	#dtcCM-TH span,
	#dtcAmtPaid-TH span,
	#dtcCOST-TH span,
	#dtcCOST_Excek-TH span
	{
        background-color: Black;
		color: White;
   		}	

	
	#dtcNextDate2-TH,
	#dtcNextDate2-TH span,
	#dtcNextDate2-TH a,
	#dtcDateCloseExpected2-TH,
	#dtcDateCloseExpected2-TH span,
	#dtcDateClosed2-TH,
	#dtcDateClosed2-TH span,
	#dtcDateClosed2-TH a
	{
		color: Black;
   		}	



	
	#dtcCompany2-TH, 
	#dtcCM2-TH, 
	#dtcREV2-TH, 
	#dtcCOST2-TH, 
	#dtcHrsInvoiced2-TH, 
	#dtcEHR2-TH, 
	#sdtInvoice_Caption, 
	#dtcBlank2-TH, 
	#dtcAmtPaid2-TH,
	#dtcCompany2-TH span span, 
	#dtcREV2-TH span span, 
	#dtcCM2-TH span span, 
	#dtcCOST2-TH span span, 
	#dtcEHR2-TH span span, 
	#dtcAmtPaid2-TH span span,
	#dtcNextDate-TH span span,
	#dtcOpp2-TH,
	#dtcOpp2-TH a,
	#dtcDateClosed2-TH,
	#dtcDateCloseExpected2-TH,
	#dtcNextDate-TH,
	#dtcCompany2-TH a, 
	#dtcCM2-TH a, 
	#dtcREV2-TH a, 
	#dtcCOST2-TH a, 
	#dtcHrsInvoiced2-TH a, 
	#dtcEHR2-TH a, 
	#sdtInvoice_Caption a, 
	#dtcBlank2-TH a, 
	#dtcAmtPaid2-TH a,
	#dtcDateClosed2-TH a,
	#dtcNextDate-TH a,
	#dtcDateCloseExpected2-TH a,
	#dtcNextDate a
		{
        background-color: Aqua;
		color: #3b3b3b;
   		}	


	#dtcCompany3-TH, 
	#dtcCompany3a-TH, 
	#dtcCompany3b-TH, 
	#dtcREV3-TH, 
	#dtcCM3-TH, 
	#dtcCM3a-TH, 
	#dtcCOST3-TH, 
	#dtcCOST3a-TH, 
	#dtcHrsInvoiced3-TH, 
	#dtcEHR3-TH,  
	#dtcBlank3-TH,
	#dtcBlank3a-TH,
	#dtcBlank3b-TH,
	#dtcBlank3c-TH,
	#dtcBlank3d-TH,
	#dtcBlank3e-TH,
	#dtcBlank3f-TH,
	#dtcBlank3g-TH,
	#dtcLevel3-TH,
	#dtcLevel3a-TH,
	#dtcLevel3b-TH,
	#dtcLevel3c-TH,
	#dtcLevel3d-TH,
	#dtcLevel3e-TH,
	#sdtInvoiceDetail_Caption, 
	#dtcAmtPaid3-TH,
	#dtcREV3-TH span span, 
	#dtcCOST3-TH span span,
	#dtcCompany3-TH a, 
	#dtcCompany3a-TH a, 
	#dtcCompany3b-TH a, 
	#dtcREV3-TH a, 
	#dtcCM3-TH a, 
	#dtcCM3a-TH a, 
	#dtcCOST3-TH a, 
	#dtcCOST3aa-TH a, 
	#dtcHrsInvoiced3-TH a, 
	#dtcEHR3-TH a,  
	#dtcBlank3-TH a,
	#dtcLevel3-TH a,
	#sdtInvoiceDetail_Caption a, 
	#dtcAmtPaid3-TH a,
	#dtcREV3-TH span span a, 
	#dtcCOST3-TH span span a
		{
        background-color: Gold;
		color: Black;
   		}	

/*
#dtcCompany3-TH, 
	#dtcREV3-TH, 
	#dtcCM3-TH, 
	#dtcCOST3-TH, 
	#dtcHrsInvoiced3-TH, 
	#dtcEHR3-TH,  
	#dtcBlank3-TH,
	#dtcLevel3-TH,
	#sdtInvoiceDetail_Caption, 
	#dtcAmtPaid3-TH,
	#dtcREV3-TH span span, 
	#dtcCOST3-TH span span 
		{
        background-color: Gold;
		color: Black;
   		}	
*/
		
	#dtcCompany4-TH  {
        background-color: PaleVioletRed;
		color: White;
   		}	
/*
#dtcCompany4-TH  {
        background-color: PaleVioletRed;
		color: White;
   		}	
*/
		
	#dtcEngineer-TH ,
	#dtcEngineerHrsActual-TH,
	#dtcEngineerHoursInvoiced-TH,
	#dtcEngineerBillPct-TH,
	#dtcEngineerEHR-TH,
	#dtcEngineerBlank-TH,
	#dtcEngineerBlanka-TH,
	#dtcEngineerBlankb-TH,
	#dtcEngineerBlankc-TH,
	#dtcEngineerBlankd-TH,
	#dtcEngineerBlanke-TH,
	#dtcEngineerBlankf-TH,
	#dtcEngineerReqHrs-TH, 

	#dtcEngineer-TH a ,
	#dtcEngineerHrsActual-TH a,
	#dtcEngineerHoursInvoiced-TH a,
	#dtcEngineerBillPct-TH a,
	#dtcEngineerEHR-TH a,
	#dtcEngineerBlank-TH a,
	#dtcEngineerReqHrs-TH a,
	#dtcEngineerBlank-TH span,
	#dtcEngineerBlank-TH a,
	#dtcEngineerBlanka-TH a,
	#dtcEngineerBlankb-TH a,
	#dtcEngineerBlankc-TH a,
	#dtcEngineerBlankd-TH a,
	#dtcEngineerBlanke-TH a,
	#dtcEngineerBlankf-TH a,
	#dtcEngineerReqHrs-TH a
		{
        background-color: DarkSlateGray;
		color: White;
   		}		
	#dtcEngineer2-TH,
	#dtEngineerHoursThisEngineer #dtcCM2-TH,
	#dtcEngineerHrsActual2-TH,
	#dtcEngineerHoursInvoiced2-TH,
	#dtcEngineerBillPct2-TH,
	#dtcEngineerEHR2-TH,
	#dtcEngineerBlank2-TH,
	#dtcEngineerBlank2a-TH,
	#dtcEngineerBlank2b-TH,
	#dtcEngineerBlank2c-TH,
	#dtcEngineerBlank2d-TH,
	#dtcEngineerBlank2e-TH,
	#dtcEngineerBlank2f-TH,
	#dtcEngineerReqHrs2-TH,

	#dtcEngineer2-TH a ,
	#dtEngineerHoursThisEngineer #dtcCM2-TH a,
	#dtcEngineerHrsActual2-TH a,
	#dtcEngineerHoursInvoiced2-TH a,
	#dtcEngineerBillPct2-TH a,
	#dtcEngineerEHR2-TH a,
	#dtcEngineerBlank2-TH a,
	#dtcEngineerBlank2a-TH a,
	#dtcEngineerBlank2b-TH a,
	#dtcEngineerBlank2c-TH a,
	#dtcEngineerBlank2d-TH a,
	#dtcEngineerBlank2e-TH a,
	#dtcEngineerBlank2f-TH a,
	#dtcEngineerReqHrs2-TH a	{
        background-color: LightSalmon;
		color: White;
   		}	
	#dtcEngineer3-TH,
	#dtcEngineerHrsActual3-TH,
	#dtcEngineerHoursInvoiced3-TH,
	#dtcEngineerBillPct3-TH,
	#dtcEngineerEHR3-TH,
	#dtcEngineerBlank3-TH,
	#dtcEngineerBlank3a-TH,
	#dtcEngineerBlank3b-TH,
	#dtcEngineerBlank3c-TH,
	#dtcEngineerBlank3d-TH,
	#dtcEngineerBlank3e-TH,
	#dtcEngineerBlank3f-TH,
	#dtcEngineerReqHrs3-TH {
        background-color: Olive;
		color: White;
   		}	
	#dtcEngineer3-TH a,
	#dtcEngineerHrsActual3-TH a,
	#dtcEngineerHoursInvoiced3-TH a,
	#dtcEngineerBillPct3-TH a,
	#dtcEngineerEHR3-TH a,
	#dtcEngineerBlank3-TH a,
	#dtcEngineerBlank3a-TH a,
	#dtcEngineerBlank3b-TH a,
	#dtcEngineerBlank3c-TH a,
	#dtcEngineerBlank3d-TH a,
	#dtcEngineerBlank3e-TH a,
	#dtcEngineerBlank3f-TH a,
	#dtcEngineerReqHrs3-TH a {
        background-color: Olive;
		color: White;
   		}

	#dtEngineerHoursThisEngineer th span#SummarydtcEngineerHrsActual2,
	#dtEngineerHoursThisEngineer th span#SummarydtcEngineerHoursInvoiced2,
	#dtEngineerHoursThisEngineer th span#SummarydtcEngineerBillPct2,
	#dtEngineerHoursThisEngineer th span#SummarydtcCM2,
	#dtEngineerHoursThisEngineer th span#SummarydtcMgdCM,
	#dtEngineerHoursThisEngineer th span#SummarydtcMgdRev,
	#dtEngineerHoursThisEngineer th span#SummarydtcMgdHRS,
	#dtEngineerHoursThisEngineer th span#SummarydtcPrepaidRev,
	#dtEngineerHoursThisEngineer th span#SummarydtcPrepaidHrs,
	#dtEngineerHoursThisEngineer th span#SummarydtcTMRev,
	#dtEngineerHoursThisEngineer th span#SummarydtcTMHrs
		{
		color: Black;
		font-weight: bold;
		
		}


	#dtEngineerHoursThisEngineer th span {
		color: White;
		font-weight: bold;
		}


		
	#dtcTime_Entry_Details-TH  {
        background-color: MediumAquaMarine;
		color: White;
   		} 	

	.columnAqua {
        background-color: OldLace;
		color: Black;
   		}
		
	#dtcScheduled-TH ,
	#dtcScheduledHrsScheduled-TH ,
	#dtcScheduledHrsOpen-TH ,
	#dtcScheduledHrsClosed-TH ,
	#dtcScheduledBlank-TH ,
	#dtcScheduledBlankB2-TH ,
	#dtcScheduledBlankB3-TH ,
	#dtcScheduledBlankB4-TH ,
	#dtcScheduledBlankB5-TH ,
	#dtcScheduledBlankB6-TH ,
	#dtcScheduledBlankB7-TH ,
	#dtcScheduledBlankB8-TH ,
	#dtcScheduledBlankB9-TH ,
	#dtcScheduledBlankB10-TH ,
	#dtcScheduledBlankB11-TH ,
	#dtcScheduledBlankB12-TH ,
	#dtcScheduledBlankB13-TH ,
	#dtcScheduledBlankB14-TH {
        background-color: DodgerBlue;
		color: White;
   		}		
	#dtcScheduled2-TH ,
	#dtcScheduledHrsScheduled2-TH ,
	#dtcScheduledHrsOpen2-TH ,
	#dtcScheduledHrsClosed2-TH ,
	#dtcScheduledBlank2-TH ,  
	#dtcScheduled2-TH a,
	#dtcScheduledHrsScheduled2-TH a,
	#dtcScheduledHrsOpen2-TH a,
	#dtcScheduledHrsClosed2-TH a,
	#dtcScheduledBlank2-TH a {
        background-color: LightSalmon;
		color: White;
   		}		
	#dtcScheduled3-TH ,
	#dtcScheduledHrsScheduled3-TH ,
	#dtcScheduledHrsOpen3-TH ,
	#dtcScheduledHrsClosed3-TH ,
	#dtcScheduledBlank3-TH ,
	#dtcScheduled3-TH a,
	#dtcScheduledHrsScheduled3-TH a,
	#dtcScheduledHrsOpen3-TH a,
	#dtcScheduledHrsClosed3-TH a,
	#dtcScheduledBlank3-TH a  {
        background-color: Olive;
		color: White;
   		}	
	#dtcScheduled4-TH ,#dtcScheduledHrsScheduled4-TH ,#dtcScheduledDescr4-TH ,#dtcScheduledCompanyName4-TH 
	,#dtcScheduledAGRName4-TH,#dtcScheduledTicket4-TH,#dtcScheduledBlank4-TH  {
        background-color: MediumAquaMarine;
		color: White;
   		}	
		
		
		
	.columnWhite {
        background-color: OldLace;
		color: Black;
   		}			

	#dtcPrepaidRev-TH, 
	#dtcPrepaidHrs-TH,
	#dtcPrepaidRev-TH a,
	#dtcPrepaidHrs-TH a,
		#dtcPrepaidRev-TH span, 
	#dtcPrepaidHrs-TH span	{
        background-color: Blue;
		color: White;
   		}	
	
	.columnBlue {
        background-color: PowderBlue;
		color: Black;
   		}		
		
	#dtcTMRev-TH, 
	#dtcTMHrs-TH, 
	#dtcTMHrsa-TH, 
	#dtcTMEHR-TH,
	#dtcTMRev-TH a,
	#dtcTMHrs-TH a,
	#dtcTMHrsa-TH a,
	#dtcTMEHR-TH a,
	#dtcTMRev-TH span, 
	#dtcTMHrs-TH span, 
	#dtcTMEHR-TH span	 {
        background-color: Sienna;
		color: White;
   		}		
	.columnBrown {
        background-color: Wheat;
		color: Black;
   		}	


   	.columnOrangeRed {
        background-color: Tan;
		color: Black;
   		}	
		
	#dtcProdCM-TH, 
	#dtcProdRev-TH,
	#dtcProdCM-TH a,
	#dtcProdRev-TH a,
	#dtcProdCM-TH span {
        background-color: Purple;
		color: White;
   		}		
	.columnPurple {
        background-color: LightGray;
		color: Black;
   		}	

	.columnProjects {
        background-color: LightSalmon;
		color: Black;
   		}	
		
	.divAlignCenter {
		margin-left:auto;
		margin-right:auto;
		width:auto;	
		}
		
		
		
	.alignRight {
		text-align:right;
		}
	.alignLeft {
		text-align:left;
		}	
	.alignCenter {
		text-align:center;
		}
	
	.alignTop {
		vertical-align:top;
		}
	.alignBottom {
		vertical-align:bottom;
		}	
			
	.alignMiddle {
		vertical-align:middle;
		display: inline-block;
		}	
		
	caption.alignCenter {
		text-align:center;
		padding-top:3px;
		}	
		
	.noScrollTableHeader TH {
		position: fixed;
		}
		
	.hideTableHeader th {
		display: table-cell;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border: 0px;
		table-layout: fixed;
		overflow: hidden;
				font-size:0%;
		}
	#dtAnticipatedCloseEOM th span
		{ /* font-size: 0%; */
		text-align: center;
		}

	.showTableHeader th td,
	.showTableHeader th,
	.showTableHeader th span span, 
	#dtAnticipatedCloseEOM th span span
		{
		display: table-cell;
		padding: 0px;
		border: 0px;
		table-layout: fixed;
		overflow: hidden;
		/* font-size:100%; */
		color: White;		
		}	


		
		
	.tableHeaderPadding {
		padding-top: 2px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 0px;
		border: 0px;
		}
	.noPadnoBorder th {
		padding: 0px;
		border: 0px;
		table-layout: fixed;
		overflow: hidden;
		font-size:0%; 

		/*	display: none;  */
		}	
	.noPadnoBorder {
		padding: 0px;
		border: 0px;
		table-layout: fixed;
		overflow: hidden;
		/* font-size:0%; */
		}	
	.noPad, noPad th {
		padding: 0px;
		table-layout: fixed;
		overflow: hidden;
		/* font-size:0%; */
		}
	.noBorder, noBorder th {
		border: 0px;
		table-layout: fixed;
		overflow: hidden;
		/* font-size:0%; */
		}
	.fontSizeZero {	
		font-size:0%;
		}
	.fontSize130Pct {	
		font-size:130%;
		}
	.fontSize100Pct {	
		font-size:100%;
		}
	.lineHeightZero {	
		line-height:0px
		;
		}		
	.lineHeightNormal {	
		line-height: normal
		;
		}	
		
	.padLeft01Pct {
		padding-left: 1%
		}
	.padLeft02Pct {
		padding-left: 2%
		}
	.padLeft03Pct {
		padding-left: 3%
		}
	.padLeft04Pct {
		padding-left: 4%
		}
	.padLeft05Pct {
		padding-left: 5%
		}
	.padLeft10Pct {
		padding-left: 10%
		}
	.padLeft15Pct {
		padding-left: 15%
		}
	.padLeft20Pct {
		padding-left: 20%
		}


	.padLeft01Px {padding-left: 1px}
	.padLeft02Px {padding-left: 2px}
	.padLeft03Px {padding-left: 3px}
	.padLeft04Px {padding-left: 4px}


	.padLeft5Px {
		padding-left: 5px
		}
	.padLeft10Px {
		padding-left: 10px
		}
	.padLeft15Px {
		padding-left: 15px
		}
	.padLeft20Px {
		padding-left: 20px
		}
	.padLeft25Px {
		padding-left: 25px
		}
	.padLeft30Px {
		padding-left: 30px
		}
	.padLeft35Px {
		padding-left: 35px
		}
	.padLeft40Px {
		padding-left: 40px
		}
		}
	.padLeft45Px {
		padding-left: 45px
		}
	.padLeft50Px {
		padding-left: 50px
		}


	.padRight01Pct {
		padding-right: 1%
		}
	.padRight02Pct {
		padding-right: 2%
		}
	.padRight03Pct {
		padding-right: 3%
		}
	.padRight04Pct {
		padding-right: 4%
		}
	.padRight05Pct {
		padding-right: 5%
		}
	.padRight10Pct {
		padding-right: 10%
		}
	.padRight15Pct {
		padding-right: 15%
		}
	.padRight20Pct {
		padding-right: 20%
		}



	.padRight5Px {
		padding-right: 5px
		}
	.padRight10Px {
		padding-right: 10px
		}
	.padRight15Px {
		padding-right: 15px
		}
	.padRight20Px {
		padding-right: 20px
		}
	.padRight25Px {
		padding-right: 25px
		}
	.padRight30Px {
		padding-right: 30px
		}
	.padRight35Px {
		padding-right: 35px
		}
	.padRight40Px {
		padding-right: 40px
		}
		}
	.padRight45Px {
		padding-right: 45px
		}
	.padRight50Px {
		padding-right: 50px
		}



	.padTop4Px {padding-top: 4px}
	.padTop5Px {padding-top: 5px}
	.padTop10Px {padding-top: 10px}
	.padTop15Px {padding-top: 15px}
	.padTop20Px {padding-top: 20px}
	.padTop25Px {padding-top: 25px}
		
		
	.padBottom4Px {
		padding-bottom: 4px
		}

	.padBottomZero {
		padding-bottom: 0px
		}

	.padRight1000px {
		padding-right: 1000px
		}


	.paddingZero {
		padding: 0%;
		}
	.padding2px {
		padding: 2px;
		}
	.padding4px {
		padding: 4px;
		}
		
	.width200 th {
		display:inline; 
		width:200px;
		}	
	
	.width425 {
		display:inline; 
		width:425px;
		}				
		
	.NHTitle {
		/* width: 100%; */
		float: none;
		text-align: center;
		}
		
	.NHLogo {
		/* width: 20%; */
		float: left;
		text-align: center;
		}	
	.NHLogoColor {
        background-color: rgb(185,110,43);
		color: White;
		}	

.nhButton {
	background-color:#b96d2b;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Helvetica;
	font-size:11px;
	font-weight:bold;
	padding:3px 12px;
	text-decoration:none;
}
.nhButton:hover {
background-color:#000000;
}
.nhButton:active {
position:relative;
top:1px;
}
.floatlt {
		float: left;
		}
	.floatrt {
		float: right;
		}	
	.clrfloat {
		clear: both;
		}	
		
		

	.labelCellWidth, 
	#dtcCompany,
	#dtcCompany2,
	#dtcCompany3,
	#dtcEngineer, 
	#dtcEngineer-TH, 
	#dtcScheduled, 
	#dtcScheduled2, 
	#dtcScheduled3,
	#dtcSalesForecast,
	#dtcSalesForecast-TH {
		width:10%;
		}		
		
	.width_iPhone {
		width:390px;
		}	

	.max_width_iPhone {
		max-width:390px;
		}	
		
		
	.width_05_Pct 	{width:05%;}
	.width_10_Pct 	{width:10%;}
	.width_20_Pct 	{width:20%;}
	.width_25_Pct 	{width:25%;}
	.width_30_Pct 	{width:30%;}
	.width_40_Pct 	{width:40%;}
	.width_50_Pct 	{width:50%;}
	.width_60_Pct 	{width:60%;}
	.width_70_Pct 	{width:70%;}
	.width_75_Pct 	{width:75%;}
	.width_80_Pct 	{width:80%;}
	.width_90_Pct 	{width:90%;}
	.width_100_Pct 	{width:100%;}

.width_725px {width:725px;}
.width_750px {width:750px;}
.width_1000px {width:1000px;}
.width_1250px {width:1250px;}
.width_1500px {width:1500px;}
.width_1750px {width:1750px;}
.width_2000px {width:2000px;}
.width_2250px {width:2250px;}
.width_2500px {width:2500px;}

.height_750px {height:750px;}
.height_760px {height:760px;}
.height_770px {height:770px;}
.height_780px {height:780px;}
.height_790px {height:790px;}
.height_800px {height:800px;}
.height_810px {height:810px;}
.height_820px {height:820px;}
.height_830px {height:830px;}
.height_840px {height:840px;}
.height_850px {height:850px;}
.height_860px {height:860px;}
.height_870px {height:870px;}
.height_880px {height:880px;}
.height_890px {height:890px;}
.height_900px {height:900px;}
.height_1000px {height:1000px;}
.height_1250px {height:1250px;}
.height_1500px {height:1500px;}
.height_1750px {height:1750px;}
.height_2000px {height:2000px;}
.height_2250px {height:2250px;}
.height_2500px {height:2500px;}
.height_2750px {height:2750px;}
.height_3000px {height:3000px;}
.height_3250px {height:3250px;}
.height_3500px {height:3500px;}
.height_3750px {height:3750px;}
.height_4000px {height:4000px;}
.height_4250px {height:4250px;}
.height_4500px {height:4500px;}


.max-width725-height850 {max-width:725px;max-height:850px;}

.max-width1000 {max-width:1000px;}
		
	.displayNone {
		display:none;	
		}

		
	.displayInline {
		display:inline;	
		}


	.fontweightbold {
		font-weight:bold;
		}

		
	.blackDot {
		background-image: url('BlackDot.gif');
		background-repeat: no-repeat;
		background-position: top right;
		padding-top: 5px;
		padding-right: 0px;
		/* margin: 10px; */
		}
		
	.whiteDot {
		background-image: url('WhiteDot.gif');
		background-repeat: no-repeat;
		background-position: top right;
		padding-top: 5px;
		padding-right: 0px;
		/* margin: 10px; */
		}	
		
	#dtcOwner_ID-TH {
		background-image: url('BlackDot.gif');
		background-repeat: no-repeat;
		background-position: top right;
		padding: 3px;
		margin: 0px;
		}	
		
		

/*	#dtAnticipatedCloseEOM #dtcCompany-TH  {
		background-image: url('WhiteDot.gif');
		background-repeat: no-repeat;
		background-position: top right;
		padding-top: 5px;
		padding-right: 12px;
		}		
*/

#dtAnticipatedCloseEOM #dtcCM-TH,
#dtAnticipatedCloseEOM #dtcREV-TH,
#dtAnticipatedCloseEOM #dtcCOST-TH,
#dtAnticipatedCloseEOM #dtcHrsInvoiced-TH,
#dtAnticipatedCloseEOM #dtcEHR-TH,
#dtAnticipatedCloseEOM #dtcMgdCM-TH,
#dtAnticipatedCloseEOM #dtcMgdRev-TH,
#dtAnticipatedCloseEOM #dtcMgdHRS-TH,
#dtAnticipatedCloseEOM #dtcMgdEHR-TH,
#dtAnticipatedCloseEOM #dtcPrepaidRev-TH,
#dtAnticipatedCloseEOM #dtcPrepaidHrs-TH,
#dtAnticipatedCloseEOM #dtcTMRev-TH,
#dtAnticipatedCloseEOM #dtcTMHrs-TH,
#dtAnticipatedCloseEOM #dtcTMEHR-TH,
#dtAnticipatedCloseEOM #dtcProdCM-TH,
#dtAnticipatedCloseEOM #dtcProdRev-TH,
#dtAnticipatedCloseEOM #dtcAmtPaid-TH,

#dtClosedInvoiceThisClient #dtcCM-TH,
#dtClosedInvoiceThisClient #dtcREV-TH,
#dtClosedInvoiceThisClient #dtcCOST-TH,
#dtClosedInvoiceThisClient #dtcCOST_Excel-TH,
#dtClosedInvoiceThisClient #dtcHrsInvoiced-TH,
#dtClosedInvoiceThisClient #dtcEHR-TH,
#dtClosedInvoiceThisClient #dtcMgdCM-TH,
#dtClosedInvoiceThisClient #dtcMgdRev-TH,
#dtClosedInvoiceThisClient #dtcMgdHRS-TH,
#dtClosedInvoiceThisClient #dtcMgdEHR-TH,
#dtClosedInvoiceThisClient #dtcPrepaidRev-TH,
#dtClosedInvoiceThisClient #dtcPrepaidHrs-TH,
#dtClosedInvoiceThisClient #dtcProdCM-TH,
#dtClosedInvoiceThisClient #dtcProdRev-TH,
#dtClosedInvoiceThisClient #dtcAmtPaid-TH,

#dtUnbilledOrPrepaidClients #dtcCM-TH,
#dtUnbilledOrPrepaidClients #dtcREV-TH,
#dtUnbilledOrPrepaidClients #dtcCOST-TH,
#dtUnbilledOrPrepaidClients #dtcHrsInvoiced-TH,
#dtUnbilledOrPrepaidClients #dtcEHR-TH,
#dtUnbilledOrPrepaidClients #dtcMgdCM-TH,
#dtUnbilledOrPrepaidClients #dtcMgdRev-TH,
#dtUnbilledOrPrepaidClients #dtcMgdHRS-TH,
#dtUnbilledOrPrepaidClients #dtcMgdEHR-TH,
#dtUnbilledOrPrepaidClients #dtcPrepaidRev-TH,
#dtUnbilledOrPrepaidClients #dtcPrepaidHrs-TH,
#dtUnbilledOrPrepaidClients #dtcProdCM-TH,
#dtUnbilledOrPrepaidClients #dtcProdRev-TH,
#dtUnbilledOrPrepaidClients #dtcAmtPaid-TH,

#dtPastDueThisCompany #dtcCM-TH,
#dtPastDueThisCompany #dtcREV-TH,
#dtPastDueThisCompany #dtcCOST-TH,
#dtPastDueThisCompany #dtcHrsInvoiced-TH,
#dtPastDueThisCompany #dtcEHR-TH,
#dtPastDueThisCompany #dtcMgdCM-TH,
#dtPastDueThisCompany #dtcMgdRev-TH,
#dtPastDueThisCompany #dtcMgdHRS-TH,
#dtPastDueThisCompany #dtcMgdEHR-TH,
#dtPastDueThisCompany #dtcPrepaidRev-TH,
#dtPastDueThisCompany #dtcPrepaidHrs-TH,
#dtPastDueThisCompany #dtcProdCM-TH,
#dtPastDueThisCompany #dtcProdRev-TH,
#dtPastDueThisCompany #dtcAmtPaid-TH,

#sdtPipelineStage_Row1 #dtcCompany-TH,
#sdtPipelineStage_Row1 #dtcEHR-TH,
#dtEngineerTime>thead>tr>#dtcEngineerHrsActual-TH,
#dtEngineerTime>thead>tr>#dtcEngineerHoursInvoiced-TH,
#dtEngineerTime>thead>tr>#dtcEngineerBillPct-TH,
#dtEngineerTime>thead>tr>#dtcEngineerReqHrs-TH,
#dtEngineerTime>thead>tr>#dtcEngineerEHR-TH,
#dtEngineerTime>thead>tr>#dtcMgdCM-TH,
#dtEngineerTime>thead>tr>#dtcMgdRev-TH,
#dtEngineerTime>thead>tr>#dtcMgdHRS-TH,
#dtScheduledService #dtcScheduledHrsScheduled-TH,
#dtScheduledService #dtcScheduledHrsOpen-TH,
#dtScheduledService #dtcScheduledHrsClosed-TH,

#dtEngineer #dtcEngineerHrsActual-TH,
#dtEngineer #dtcEngineerHoursInvoiced-TH,
#dtEngineer #dtcEngineerBillPct-TH,
#dtEngineer #dtcEngineerReqHrs-TH,
#dtEngineer #dtcEngineerEHR-TH,
#dtEngineer #dtcMgdCM-TH,
#dtEngineer #dtcMgdRev-TH,
#dtEngineer #dtcMgdHRS-TH,
#dtEngineer #dtcMgdEHR-TH,
#dtEngineer #dtcPrepaidRev-TH,
#dtEngineer #dtcPrepaidHrs-TH,

#dtEngineer #dtcEngineerHrsActual-TH a,
#dtEngineer #dtcEngineerHoursInvoiced-TH a,
#dtEngineer #dtcEngineerBillPct-TH a,
#dtEngineer #dtcEngineerReqHrs-TH a,
#dtEngineer #dtcEngineerEHR-TH a,
#dtEngineer #dtcMgdCM-TH a,
#dtEngineer #dtcMgdRev-TH a,
#dtEngineer #dtcMgdHRS-TH a,
#dtEngineer #dtcMgdEHR-TH a,
#dtEngineer #dtcPrepaidRev-TH a,
#dtEngineer #dtcPrepaidHrs-TH a,


#dtEngineerHoursThisEngineer #dtcCM2-TH,
#dtEngineerHoursThisEngineer #dtcPrepaidRev-TH,
#dtEngineerHoursThisDate #dtcPrepaidRev-TH,

#dtcNextActivityDate-TH,
#dtcDateCloseExpected-TH
		{
		background-image: url('WhiteDot.gif');
		background-repeat: no-repeat;
		background-position: top right;
		padding-top: 5px;
		padding-right: 0px;
		/* margin: 3px; */
		}		

table#dtLayout {
	max-width: 1500px ;
	}	
	

/*
#icblLaborOnlyProductTypes_handler > span:nth-child(2),
#icblOwner_Level_handler > span:nth-child(2),
#icblCo_Stat_handler > span:nth-child(2),
#icblCo_Type_handler > span:nth-child(2),
#icblInvoice_Type_handler > span:nth-child(2)
	{
	font-size:75%;
	}
*/	
	
/*
table#dtLayout > tbody > tr > td {
	padding: 4px;
	nowrap: wrap;
	}
*/

/* Reduce font size on XRay search for Member */

#iclMemberCheckBoxList_handler > span:nth-child(2) {
	font-size:75%;
	}
	
#iclUtilization_handler > span:nth-child(2) {
	font-size:75%;
	}	
/*	
#dtEngineerHoursAllEngineersSEARCH {
	font-size:25%;
	}	
	*/
	
	
#islBookmarkCollection, #icbStaffMeetingChargeCode_handler, #islFavorites_Menu {
	font-size:75%;
	}
#islFavorites_Menu {
	width:125px;
	}


.BlackPearlTableCell{
	background-color: #4b4b4b;
	color: #fff;
	padding: 4px;
}

.BlackPearlTableMoreInfoRow {
	background-color: #4b4b4b;
	border-top: 1px Solid #706f6f;
	color: #0f0f0f;
	font-weight: normal;
	padding-left: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.BlackPearlTextColor{
	color: #fdfac3;
	padding: 4px;
}
.BlackPearlTextColorNoPad{
	color: #fdfac3;
}

.BlackPearlTableHeader{
	background-image: url(rdThemeHeaderFade.png);
	background-repeat: repeat-x;
	background-color: #4b4b4b;
	padding: 4px;
}

.BlackPearlTableHeaderRow{
	background-image: url(AgGroupHeaderRowA.png);
	background-repeat: repeat-x;
	background-color: #6b6a6a;
}
.BlackPearl a:link {
	color: #fdfac3;
	text-decoration: none;
}


td.rdThemeDataTableMoreInfoRow a span.BlackPearlTextColor {
	color: #fdfac3;
}

td.rdThemeDataTableMoreInfoRow a span.textColorBlack {
	color: Black;
}
td.rdThemeDataTableMoreInfoRow a span.textColorWhite {
	color: White;
}

TABLE.rdThemeSubDataTable th,
rdThemeSubDataTable th,
rdThemeSubDataTable {
	background-color: #E4E9F3;
	color: #333;
}


.rdThemeSubDataTableDataTableCell {
	background-color: #FFFFFF;
}

#dmMenu_MOBILE {
    color: #fdfac3;
}



.rdDashboardTitleCaption{
	font-size:200%;
	}

#LOBBY_Dashboard.rdDashboardTitleCaption{
	font-size:100%;
	}

#NoBlueUnderlineLink,
#NoBlueUnderlineLink a,
#NoBlueUnderlineLink a:link,
#NoBlueUnderlineLink a span {
	text-decoration: none;
	color:Black;
		}

.NoBlueUnderlineLink,
.NoBlueUnderlineLink a,
.NoBlueUnderlineLink a span,
.NoBlueUnderlineLink span a,
.NoBlueUnderlineLink span {
	text-decoration: none;
	color:Black;
		}


input.rdThemeInput{
	min-width:0px;
	}

.divHeightNormal {	
	height: 25px
	;
	}

.positionRelative {
	position: relative;
	}

.minWidthZero {min-width:0px;}
.minWidth100px {min-width:100px;}
.minWidth150px {min-width:150px;}
.minWidth200px {min-width:200px;}
.minWidth250px {min-width:250px;}
	
.marginTop1px {margin-top: 1px;}
.marginTop2px {margin-top: 2px;}
.marginTop3px {margin-top: 3px;}
.marginTop4px {margin-top: 4px;}
.marginTop5px {margin-top: 5px;
.marginTop10px {margin-top: 10px}
.marginTop15px {margin-top: 15px}
.marginTop20px {margin-top: 20px}
.marginTop25px {margin-top: 25px}
}
.marginLeft05px {margin-left: 5px;}
.marginLeft10px {margin-left: 10px;}
.marginLeft15px {margin-left: 15px;}
.marginLeft20px {margin-left: 20px;}
.marginLeft25px {margin-left: 25px;}
.marginRight05px {
	margin-right: 5px;
}
.marginRight10px {
	margin-right: 10px;
}
.marginRight15px {
	margin-right: 15px;
}
.marginRight20px {
	margin-right: 20px;
}
.marginRight25px {
	margin-right: 25px;
}
.marginBottom25px {
	margin-bottom: 25px;
}

button.rd-checkboxlist-dropdown {
    font-size: 10px;
}

select.rdThemeInput {
    min-width: auto;
    margin-left: 3px;
	font-size: 100%;
}
/*
.rd-checkboxlist-dropdown{ 
	width: auto; 
	}
*/

input.rdThemeInput, 
textarea.rdThemeInput, 
select.rdThemeInput, 
select.rdDataCalendarDropdown {
	font-size: smaller;
}

.rdThemeInputCaption {
	padding-right: 1px;
	vertical-align: middle;
}


.fontSize10 {	font-size:10pt;}
.fontSize12 {	font-size:12pt;}
.fontSize14 {	font-size:14pt;}
.fontSize18 {	font-size:18pt;}
.fontSize24 {	font-size:24pt;}
.fontSize36 {	font-size:36pt;}
.fontSize48 {	font-size:48pt;}
.fontSize96 {	font-size:96pt;}


.minWidth_05_pct 	{min-width: 05%;}
.minWidth_10_pct 	{min-width: 10%;}
.minWidth_15_pct 	{min-width: 15%;}
.minWidth_20_pct 	{min-width: 20%;}
.minWidth_25_pct 	{min-width: 25%;}
.minWidth_30_pct 	{min-width: 30%;}
.minWidth_35_pct 	{min-width: 35%;}
.minWidth_40_pct 	{min-width: 40%;}
.minWidth_45_pct 	{min-width: 45%;}
.minWidth_50_pct 	{min-width: 50%;}
.minWidth_55_pct 	{min-width: 55%;}
.minWidth_60_pct 	{min-width: 60%;}
.minWidth_65_pct 	{min-width: 65%;}
.minWidth_70_pct 	{min-width: 70%;}
.minWidth_75_pct 	{min-width: 75%;}
.minWidth_80_pct 	{min-width: 80%;}

.maxWidth_05_px 	{max-width: 05px;}
.maxWidth_10_px 	{max-width: 10px;}
.maxWidth_20_px 	{max-width: 20px;}
.maxWidth_30_px 	{max-width: 30px;}
.maxWidth_40_px 	{max-width: 40px;}
.maxWidth_50_px 	{max-width: 50px;}
.maxWidth_100_px	{max-width: 100px;}
.maxWidth_150_px	{max-width: 150px;}
.maxWidth_200_px	{max-width: 200px;}
.maxWidth_250_px	{max-width: 250px;}
.maxWidth_300_px	{max-width: 300px;}

.maxWidth_05_pct 	{max-width: 05%;}
.maxWidth_10_pct 	{max-width: 10%;}
.maxWidth_15_pct 	{max-width: 15%;}
.maxWidth_20_pct 	{max-width: 20%;}
.maxWidth_25_pct 	{max-width: 25%;}
.maxWidth_30_pct 	{max-width: 30%;}
.maxWidth_35_pct 	{max-width: 35%;}
.maxWidth_40_pct 	{max-width: 40%;}
.maxWidth_45_pct 	{max-width: 45%;}
.maxWidth_50_pct 	{max-width: 50%;}
.maxWidth_55_pct 	{max-width: 55%;}
.maxWidth_60_pct 	{max-width: 60%;}
.maxWidth_65_pct 	{max-width: 65%;}
.maxWidth_70_pct 	{max-width: 70%;}
.maxWidth_75_pct 	{max-width: 75%;}
.maxWidth_80_pct 	{max-width: 80%;}