	<!-- Paragraph mark-up -->
    <div style="page-break-inside: avoid;">
        <p>
            <!-- paragraph content goes here -->
            The closing balance above includes arrears of* @Local.F_TOTAL_ARREARS~.
        </p>
    </div>

    <!-- Paragraph mark-up -->
    <div style="page-break-inside: avoid;">
        <p>
            The closing balance is the total amount left to pay under the agreement (including
            arrears and future rentals).
            <br /><span class="small-text">*If you have a maintenance contract with your
                vehicle, the amounts shown in this notice only relate to the finance element of
                the agreement.</span>
        </p>
    </div>


    <!-- Paragraph mark-up -->
    <div style="page-break-inside: avoid;">
        <p>
            <!-- paragraph content goes here -->
            <strong>Default sums and interest</strong>
            <br />You may have to pay default sums and interest in relation to the missed or partly made payments
            referred to in this notice. Please contact us if you would like further details. This notice does not take
            account of any payments received after the date of the notice.
        </p>
    </div>

    <!-- Paragraph mark-up -->
    <div style="page-break-inside: avoid;">
        <p>
            <!-- paragraph content goes here -->
            <strong>Notices</strong>
            <br />For so long as you continue to be behind with your payments by any amount, you will be sent notices
            about this at least every six months. We are not required to send you notices more frequently than this,
            even if you get further behind with your payments in between notices.
        </p>
    </div>

    <!-- Paragraph mark-up -->
    <div style="page-break-inside: avoid;">
        <p>
            <!-- paragraph content goes here -->
            <strong>Financial Conduct Authority Information Sheet</strong>
            <br />This notice should include a copy of the current information sheet on arrears prepared by the
            Financial Conduct Authority. This contains important information about your rights and where to go for
            support and advice, for example on applying for a Time Order as well as our right to charge you interest. If
            it is not included you should contact us to get one. Please refer to the Financial Conduct Authority
            information sheet for more information about how to get advice on dealing with your debt.
        </p>
    </div>

    <!-- Paragraph mark-up -->
    <div style="page-break-inside: avoid;">
        <p>
            <!-- paragraph content goes here -->
            <strong>Next Steps</strong>
            <br />It is important that you contact us to discuss your account and make arrangements to pay the
            outstanding payment of @Local.F_TOTAL_ARREARS~.
        </p>
    </div>

    <!-- Paragraph mark-up -->
    <div style="page-break-inside: avoid;">
        <p>
            <!-- paragraph content goes here -->
            Please contact a member of the Credit Control Team as a matter of urgency on @Local.F_SNOSIA_NUMBER~ between
            8.30am and 6.00pm, Monday to Friday. They will be able to take payment over the phone, or provide you with
            alternative payment options.
        </p>
    </div>

    <!-- Paragraph mark-up -->
    <div style="page-break-inside: avoid;">
        <p>
            <!-- paragraph content goes here -->
            More importantly, the team will be able to discuss with you ways in which we can help you manage your
            obligations under the agreement going forward.
        </p>
    </div>

    <!-- Paragraph mark-up -->
    <div style="page-break-inside: avoid;">
        <p>
            <!-- paragraph content goes here -->
            If we have spoken to you since the date of this letter and arrangements have been made to pay off the amount
            due, please disregard this notice.
        </p>
    </div>

    <!--                 COVID-19 Paragraph                  -->
    <!-- <div style="page-break-inside: avoid;" class="px-3 border font-red">
        <p>NOTICE</p>
        <p>Alternatively, if you have been in recent contact with @Local.F_NAME~ in order to discuss your account in relation to the current Coronavirus Pandemic, we will be aware that a potential payment proposal has been made or will be made, and therefore this letter is for information purposes only.</p>
        <p>We are required by law to send you this notice. It reflects the repayments which are due under the agreement and not those which we may be allowing you to repay under the potential payment proposal. If you are up to date with this proposal, you do not need to do anything. If you have not paid one or more of these potential payment proposal payments, then we will be in touch with you to discuss separately, if we have not already done so.  You do not need to take any further action in relation to this notice.</p>
    </div> -->
    <!--           End of COVID-19 Paragraph                  -->

    <!-- Paragraph mark-up -->
    <div style="page-break-inside: avoid;">
        <p>Yours Sincerely,
            <br />
            <br />
            <br /><strong>Andrew Pavey</strong>
            <br /><strong>Head of Credit Control</strong>
        </p>
    </div>

    <!-- Paragraph mark-up -->
    @Local.WE_MAY_MONITOR~

    </div>