.page-header,
.page-header-space {
  height: 31mm;
}

.page-header {
  position: fixed;
  top: 0mm;
  padding-top: 13mm;
  height: 20mm;
  width: 100%;
}

/*
Edited to make the export work (12.8 SP2, 14.0 SP1)
.page-header-space {
  height: 30mm;
}

.page-header {
  position: fixed;
  top: 0mm;
  padding-top: 13mm;
  height: 31mm;
  width: 100%;
}
*/

.page-footer,
.page-footer-space {
  height: 25mm;
  /*27*/
  background: white;
}

.page-footer {
  position: fixed;
  bottom: 0;
  padding-top: 2mm;
  height: 23mm;
  /*25*/
  width: 100%;
  /* background-color: lightgreen; */
}

.page-footer-polestar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-footer-polestar,
.page-footer-space-polestar {
  height: 25mm;
}

.footer-location {
  position: relative;
  height: 30mm;
  /* background-color: lightpink; */
}

.footer-image-location {
  position: absolute;
  bottom: 3.5mm;
  /* Was 2.5mm */
  /* background-color: lime; */
}

table.page-footer-regular tr {
  line-height: 1.1em;
}

table.page-footer-small tr {
  line-height: 1.5em;
}

.page-footer-regular {
  width: 100%;
  font-size: 7.6pt;
  color: rgb(0, 0, 0);
  border-collapse: collapse;
  margin-top: 1mm;
}

.page-footer-small {
  width: 100%;
  font-size: 4.5pt;
  line-height: 5.5pt;
  color: rgb(0, 0, 0);
}


.bg-fill {
  background-color: rgba(255, 255, 0, 0.2);
}

.page {
  page-break-after: always;
}

@page {
  /* Added as a test to size the printed output without using Logi Printed Page control */
  width: 210mm;
  height: 297mm;
  margin: 0mm 25mm 0mm 33mm;
  /* was   margin: 0mm 25mm 0mm 33mm;  */
}

@media print {
  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  body {
    margin: 0;
  }

  .page-break-after {
    page-break-after: always;
  }
}

.w-149mm {
  /* width: 100% !important; */
  width: 153mm !important;
}

.ALD-logo {
  height: 10mm;
}

.bg-postityellow {
  background-color: rgb(255, 255, 158);
}


.recipient-address-block {
  display: block;
  padding-top: 20mm;
  /* width: 52mm;  */
  height: 35mm;
  /* was 37mm; */
  padding-bottom: 5mm;
  /* background-color: aquamarine;   */
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  line-height: 13pt;
  color: rgb(0, 0, 0);
  border-collapse: collapse;
  border-spacing: 0px;
}

tr.spacer-row>td {
  border-left: none;
  border-right: none;
  line-height: 0;
  padding: 1mm;
}

td {
  padding-left: 0;
}

li {
  margin-bottom: 0.35em;
}

.embedded-table {
  width: 100%;
  table-layout: fixed;
}

.embedded-table td {
  border-collapse: collapse;
  border: solid black 1px;
}

.table-column-2 {
  width: 25mm;
}

.border-left {
  border-left: solid 1pt black;
}

.font-7pt {
  font-size: 7pt;
  line-height: 9pt;
}

.font-6pt {
  font-size: 6pt;
  line-height: 8pt;
}

.font-5pt {
  font-size: 5pt;
  line-height: 7pt;
}

.font-signature {
  font-family: 'Segoe Script';
  padding-bottom: 0.75em;
}

.pl-3 {
  padding-left: 1em;
}

.p-2 {
  padding: 0.5em;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.hyundai-font {
  font-family: "ModernHBold";
  font-size: 8pt;
  color: #004487;
}

.hyundai-n-font {
  font-family: "ModernHLight";
  font-size: 11.5pt;
  color: #004487;
}

.hyundai-grey {
  color: #d3d3d3;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* Added 24th September 2020 */
  font-size: 9pt;
  line-height: 13pt;
}

.no-page-break {
  page-break-inside: avoid;
}

.page-break-before {
  page-break-before: always;
}

.page-break-after {
  page-break-after: always;
}

.body-text {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 9.5pt; */
  font-size: 9pt;
  line-height: 13pt;
  color: rgb(0, 0, 0);
}

.d-inlineblock {
  display: inline-block;
}

.d-inlineflex {
  display: inline-flex;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inlineflex {

  display: inline-flex;
}

.pt-2 {
  padding-top: 0.75em;
}

.mt-minus10mm {
  margin-top: -10mm;
}

.mt-17mm {
  margin-top: 17mm;
}

.mt-minus17mm {
  margin-top: -17mm;
}

.mb-5mm {
  margin-bottom: 5mm !important;
}

.mb-10mm {
  margin-bottom: 10mm !important;
}

/* PAGE ELEMENTS */

/* FIXED POSITION ELEMENTS */
/* BRAND LOGO STYLES */

/* .polestar-brand-logo-position {
     position: absolute; top: 13mm;
} */

.FFM-logo-position {
  /* position: absolute;  */
  top: 13mm;
  left: 0mm;
  /* 33mm;  */
  width: 149mm;
}

.FFM-footer-position {
  /* position: absolute; */
  bottom: 10mm;
  width: 100%;
}

.polestar-logo {
  height: 10mm !important;
  width: 68.8mm !important;
  margin-top: 0mm;
}

/* ADDRESS BLOCK */

/* COVER LETTER BODY BLOCK */
.cover-letter-recipient-address-block {
  position: absolute;
  top: 53mm;
  width: 52mm;
  height: 40mm;
  /* background-color: aquamarine; */
}

.cover-letter-body {
  position: absolute;
  top: 90mm;
  /* margin-top: 10mm; */
}


/* END OF FIXED POSITION ELEMENTS */



/* Below here */

.letter-logo {
  height: 10mm !important;
  margin-top: 0mm;
}

.letter-logo-kia {
  height: 7mm;
  margin-top: 0mm;
}

.brand-logo-left {
  /* position: absolute;  */
  top: 13mm;
}

.brand-logo-right {
  /* position: absolute; */
  /* padding-top: 13mm; */
  right: 0mm;
  /* background-color: yellowgreen; */
}

.brand-address-right {
  /* background-color: yellowgreen; */
  height: fit-content;
  width: fit-content;
}

.w-30mm {
  width: 30mm;
}

.w-35mm {
  width: 35mm;
}

.w-38mm {
  width: 38mm;
}

.w-40mm {
  width: 40mm;
}

/* .w-149mm    { width: 149mm; } */
.w-153mm {
  width: 153mm;
}

.w-20pct {
  width: 20%;
}

.w-25pct {
  width: 25%;
}

.w-30pct {
  width: 30%;
}

.w-40pct {
  width: 40%;
}

.w-60pct {
  width: 60%;
}

.w-50pct {
  width: 50%;
}

.w-70pct {
  width: 70%;
}

.w-75pct {
  width: 75%;
}

.w-100,
.w-100pct {
  width: 100%;
}

.font-red {
  color: red;
}


.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.border {
  border: solid 1px black !important;
}

/* .no-break 	{  page-break-inside: avoid !important; } */









.text-underlined {
  text-decoration: underline;
}

.font-italic {
  font-style: italic !important;
}

.small-text {
  font-size: 7.6pt;
}

.font-7pt {
  font-size: 7pt;
  line-height: 9pt;
}

.font-6pt {
  font-size: 6pt;
  line-height: 8pt;
}

.font-5pt {
  font-size: 5pt;
  line-height: 7pt;
}

.font-size-12pt {
  font-size: 12pt;
}

.font-signature {
  font-family: 'Segoe Script';
  padding-bottom: 0.75em;
}

.pl-3 {
  padding-left: 1em;
}

.p-2 {
  padding: 0.5em;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.h-fit-content {
  height: fit-content;
}

.embedded-table {
  width: 100%;
  table-layout: fixed;
}

.embedded-table td {
  border-collapse: collapse;
  border: solid black 1px;
}

.table-column-2 {
  width: 25mm;
}

.tick-box {
  width: 5mm !important;
  height: 5mm !important;
  display: block;
  padding: 1mm;
  border: solid 1px black;
  margin: 2mm 2mm 2mm 0;
}

.line {
  border-bottom: solid 1px black;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  /* color: #212529; */
}

table {
  border-collapse: collapse;
}

/* table {
  border-collapse: separate;
  border-spacing: 2px;
} */
.table {
  border-bottom: 1px solid black;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

.text-left {
  text-align: left !important;
}


.fontLombardPurple {
  color: #1D1B58;
}

.fontHyundaiBlue,
.fontMazdaBlue {
  color: #004487;
}

.fontHyundai99 {
  font-family: "ModernHBold", sans-serif;
}

/* @font-face	{
	font-family: "ModernHBold";
	src: url("modernh-bold-webfont.ttf");
	format: ("truetype");
	font-wieght: bold;
} */