.flag {
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  vertical-align: middle;
  color: #414141 !important;
}
.flag::before {
  background-image: url(Img.flags.png);
  display: inline-block;
  height: 32px;
  width: 32px;
  transform: scale(0.5);
  margin:-8px;
  content: "";
}
.flag.scale-big {
  height: 32px;
  width: 32px;
}
.flag.scale-big::before {
  transform: scale(1);
  margin: 0;
}
.x-menu-item-icon-default.flag {
  top: 8px;
  left: 8px;
}
.x-boundlist-item .flag {
  margin-top: -8px;
}
.x-grid-row .flag {
  margin-top: -5px;
}
.aa-dj::before, .ar-dj::before, .so-dj::before {
  background-position: -32px 0;
}
.aa-et::before, .am-et::before, .am::before, .wal-et::before, .wal::before, .ti-et::before, .so-et::before, .om-et::before {
  background-position: -224px -480px;
}
.aa::before {
  background-position: 0 -32px;
}
.aa-er::before, .ar-er::before, .byn-er::before, .ti-er::before, .tig-er::before, .tig::before, .ssy-er::before, .en-er::before {
  background-position: -32px -32px;
}
.af::before {
  background-position: -64px 0;
}
.af-na::before, .naq-na::before, .en-na::before {
  background-position: -64px -32px;
}
.af-za::before, .zu-za::before, .xh-za::before, .ve-za::before, .ts-za::before, .tn-za::before, .ss-za::before, .st-za::before, .nr-za::before, .nr::before, .nso-za::before, .nso::before {
  background-position: 0 -64px;
}
.agq-cm::before, .agq::before, .bas-cm::before, .bas::before, .dua-cm::before, .dua::before, .ewo-cm::before, .ewo::before, .ff-cm::before, .jgo-cm::before, .jgo::before, .kkj-cm::before, .ksf-cm::before, .ksf::before, .mgo-cm::before, .mgo::before, .mua-cm::before, .nnh-cm::before, .nnh::before, .yav-cm::before, .yav::before, .yo-bj::before {
  background-position: -32px -64px;
}
.ak::before {
  background-position: -64px -64px;
}
.ak-gh::before, .ee-gh::before, .ha-latn-gh::before {
  background-position: -96px 0;
}
.alb::before {
  background-position: -96px -32px;
}
.ar-001::before, .ar-ps::before, .ar::before {
  background-position: -96px -64px;
}
.ara::before {
  background-position: 0 -96px;
}
.ar-ae::before {
  background-position: -32px -96px;
}
.ar-bh::before {
  background-position: -64px -96px;
}
.ar-dz::before, .kab-dz::before, .tzm-latn-dz::before {
  background-position: -96px -96px;
}
.ar-eg::before {
  background-position: -128px 0;
}
.ar-il::before {
  background-position: -128px -32px;
}
.ar-iq::before {
  background-position: -128px -64px;
}
.ar-jo::before {
  background-position: -128px -96px;
}
.ar-km::before {
  background-position: 0 -128px;
}
.ar-kw::before {
  background-position: -32px -128px;
}
.ar-lb::before {
  background-position: -64px -128px;
}
.ar-ly::before, .ar-dj::before, .so-dj::before {
  background-position: -96px -128px;
}
.ar-ma::before, .zgh-tfng::before, .zgh-tfng-ma::before, .tzm-arab-ma::before, .tzm-latn-ma::before, .tzm-tfng-ma::before, .shi-latn-ma::before, .shi-tfng-ma::before, .zgh::before {
  background-position: -128px -128px;
}
.ar-mr::before {
  background-position: -160px 0;
}
.arn::before {
  background-position: -160px -32px;
}
.arn-cl::before {
  background-position: -160px -64px;
}
.ar-om::before {
  background-position: -160px -96px;
}
.ar-qa::before {
  background-position: -160px -128px;
}
.ar-sa::before {
  background-position: 0 -160px;
}
.ar-sd::before {
  background-position: -32px -160px;
}
.ar-so::before {
  background-position: -64px -160px;
}
.ar-ss::before {
  background-position: -96px -160px;
}
.ar-sy::before {
  background-position: -128px -160px;
}
.ar-td::before {
  background-position: -160px -160px;
}
.ar-tn::before {
  background-position: -192px 0;
}
.ar-ye::before {
  background-position: -192px -32px;
}
.as::before {
  background-position: -192px -64px;
}
.asa::before {
  background-position: -192px -96px;
}
.as-in::before, .bo-in::before, .brx-in::before, .gu-in::before, .hi-in::before, .hi-x-bh-sdl::before, .kn-in::before, .kn::before, .kok-in::before, .ks-arab-in::before, .ks-deva-in::before, .ks::before, .ml-in::before, .ml::before, .mni-in::before, .mr-in::before, .mr::before, .ne-in::before, .or-in::before, .or::before, .pa-in::before, .sa-in::before, .sd-deva-in::before, .te-in::before, .te::before, .ur-in::before {
  background-position: -192px -128px;
}
.az::before, .az-cyrl::before, .az-latn::before {
  background-position: -192px -160px;
}
.az-cyril-az::before, .az-latn-az::before {
  background-position: 0 -192px;
}
.az-cyrl-az::before {
  background-position: -32px -192px;
}
.ba::before {
  background-position: -64px -192px;
}
.ba-ru::before {
  background-position: -96px -192px;
}
.be::before {
  background-position: -128px -192px;
}
.be-by::before {
  background-position: -160px -192px;
}
.bem::before {
  background-position: -192px -192px;
}
.bem-zm::before {
  background-position: -224px 0;
}
.ben::before {
  background-position: -224px -32px;
}
.bez-tz::before, .bez::before, .asa-tz::before, .en-tz::before, .jmc-tz::before, .kde-tz::before, .ksb-tz::before, .ksb::before, .lag-tz::before, .lag::before, .mas-tz::before, .rof-tz::before, .rof::before, .rwk-tz::before, .rwk::before, .sbp-tz::before, .sw-tz::before, .vun-tz::before {
  background-position: -224px -64px;
}
.bg-bg::before, .bg::before, .bul::before {
  background-position: -224px -96px;
}
.bin-ng::before, .bin::before, .en-ng::before, .ff-ng::before, .ha-latn-ng::before, .ibb-ng::before, .ibb::before, .kr-ng::before, .yo-ng::before {
  background-position: -224px -128px;
}
.bm::before, .bm-latn-ml::before, .bm-latn::before, .khq-ml::before, .khq::before, .ses-ml::before, .ses::before {
  background-position: -224px -160px;
}
.bn::before {
  background-position: -224px -192px;
}
.bn-in::before, .bn-bd::before {
  background-position: 0 -224px;
}
.bo::before, .chi::before, .cht::before, .ii-cn::before, .mn-mong-cn::before, .ug-cn::before, .ug::before {
  background-position: -32px -224px;
}
.bo-cn::before {
  background-position: -64px -224px;
}
.br::before, .br-fr::before {
  background-position: -96px -224px;
}
.brx::before {
  background-position: -128px -224px;
}
.bs::before, .bs-cyrl::before, .bs-latn::before {
  background-position: -160px -224px;
}
.bs-cyril-ba::before, .bs-latn-ba::before {
  background-position: -192px -224px;
}
.bs-cyrl-ba::before {
  background-position: -224px -224px;
}
.byn::before {
  background-position: -256px 0;
}
.ca::before, .ca-es::before, .cat::before {
  background-position: -256px -32px;
}
.ca-ad::before {
  background-position: -256px -64px;
}
.ca-es-valencia::before {
  background-position: -256px -96px;
}
.ca-fr::before {
  background-position: -256px -128px;
}
.ca-it::before {
  background-position: -256px -160px;
}
.cgg::before {
  background-position: -256px -192px;
}
.chr::before, .chr-cher-us::before {
  background-position: -256px -224px;
}
.chr-cher::before {
  background-position: 0 -256px;
}
.co-fr::before, .co::before {
  background-position: -32px -256px;
}
.cs-cz::before, .cs::before, .cze::before {
  background-position: -64px -256px;
}
.cy::before {
  background-position: -96px -256px;
}
.cy-gb::before {
  background-position: -128px -256px;
}
.da-dk::before, .da::before, .dan::before {
  background-position: -160px -256px;
}
.da-gl::before {
  background-position: -192px -256px;
}
.dav-ke::before, .dav::before, .ebu-ke::before, .ebu::before, .kam-ke::before, .ki-ke::before, .kln-ke::before, .luo-ke::before, .luy-ke::before, .luy::before, .mas-ke::before, .mer-ke::before, .mer::before, .om-ke::before, .saq-ke::before, .saq::before, .so-ke::before, .sw-ke::before, .teo-ke::before, .guz-ke::before, .guz::before, .en-ke::before {
  background-position: -224px -256px;
}
.de-at::before {
  background-position: -256px -256px;
}
.de-be::before {
  background-position: -288px 0;
}
.de-ch::before {
  background-position: -288px -32px;
}
.de-de::before, .de::before, .dsb-de::before, .dsb::before, .ger::before, .hsb-de::before, .hsb::before, .ksh-de::before {
  background-position: -288px -64px;
}
.de-li::before {
  background-position: -288px -96px;
}
.de-lu::before {
  background-position: -288px -128px;
}
.dje-ne::before, .dje::before, .ha-latn-ne::before, .twq-ne::before, .twq::before {
  background-position: -288px -160px;
}
.dv-mv::before, .dv::before {
  background-position: -288px -192px;
}
.dyo::before {
  background-position: -288px -224px;
}
.dyo-sn::before {
  background-position: -288px -256px;
}
.dz-bt::before, .dz::before {
  background-position: 0 -288px;
}
.ee::before {
  background-position: -32px -288px;
}
.ee-tg::before {
  background-position: -64px -288px;
}
.el-cy::before {
  background-position: -96px -288px;
}
.el-gr::before, .el::before {
  background-position: -128px -288px;
}
.en::before, .en-hk::before {
  background-position: -160px -288px;
}
.en-001::before {
  background-position: -192px -288px;
}
.en-150::before {
  background-position: -224px -288px;
}
.en-ag::before {
  background-position: -256px -288px;
}
.en-ai::before {
  background-position: -288px -288px;
}
.en-as::before {
  background-position: -320px 0;
}
.en-au::before {
  background-position: -320px -32px;
}
.en-bb::before {
  background-position: -320px -64px;
}
.en-be::before {
  background-position: -320px -96px;
}
.en-bm::before {
  background-position: -320px -128px;
}
.en-bs::before {
  background-position: -320px -160px;
}
.en-bw::before, .tn-bw::before {
  background-position: -320px -192px;
}
.en-bz::before {
  background-position: -320px -224px;
}
.en-ca::before {
  background-position: -320px -256px;
}
.en-cc::before {
  background-position: -320px -288px;
}
.en-ck::before {
  background-position: 0 -320px;
}
.en-cm::before {
  background-position: -32px -320px;
}
.en-cr::before {
  background-position: -64px -320px;
}
.en-cx::before {
  background-position: -96px -320px;
}
.en-dm::before {
  background-position: -128px -320px;
}
.en-fj::before {
  background-position: -160px -320px;
}
.en-fk::before {
  background-position: -192px -320px;
}
.en-fm::before {
  background-position: -224px -320px;
}
.eng::before {
  background-position: -256px -320px;
}
.en-gb::before, .en-029::before, .ene::before, .kw-gb::before, .kw::before, .fin::before {
  background-position: -288px -320px;
}
.en-gd::before {
  background-position: -320px -320px;
}
.en-gg::before {
  background-position: -352px 0;
}
.en-gi::before {
  background-position: -352px -32px;
}
.en-gm::before {
  background-position: -352px -64px;
}
.en-gu::before {
  background-position: -352px -96px;
}
.en-gy::before {
  background-position: -352px -128px;
}
.en-ie::before {
  background-position: -352px -160px;
}
.en-in::before {
  background-position: -352px -192px;
}
.en-io::before {
  background-position: -352px -224px;
}
.en-je::before {
  background-position: -352px -256px;
}
.en-jm::before {
  background-position: -352px -288px;
}
.en-ki::before {
  background-position: -352px -320px;
}
.en-kn::before {
  background-position: 0 -352px;
}
.en-ky::before {
  background-position: -32px -352px;
}
.en-lc::before {
  background-position: -64px -352px;
}
.en-lr::before {
  background-position: -96px -352px;
}
.en-ls::before {
  background-position: -128px -352px;
}
.en-mg::before, .mg-mg::before {
  background-position: -160px -352px;
}
.en-mh::before {
  background-position: -192px -352px;
}
.en-mo::before {
  background-position: -224px -352px;
}
.en-mp::before {
  background-position: -256px -352px;
}
.en-ms::before {
  background-position: -288px -352px;
}
.en-mu::before {
  background-position: -320px -352px;
}
.en-mw::before {
  background-position: -352px -352px;
}
.en-my::before {
  background-position: -384px 0;
}
.en-nf::before {
  background-position: -384px -32px;
}
.en-nr::before {
  background-position: -384px -64px;
}
.en-nu::before {
  background-position: -384px -96px;
}
.en-nz::before {
  background-position: -384px -128px;
}
.en-pg::before {
  background-position: -384px -160px;
}
.en-ph::before {
  background-position: -384px -192px;
}
.en-pk::before {
  background-position: -384px -224px;
}
.en-pn::before {
  background-position: -384px -256px;
}
.en-pr::before {
  background-position: -384px -288px;
}
.en-pw::before {
  background-position: -384px -320px;
}
.en-rw::before {
  background-position: -384px -352px;
}
.en-sb::before {
  background-position: 0 -384px;
}
.en-sc::before {
  background-position: -32px -384px;
}
.en-sd::before {
  background-position: -64px -384px;
}
.en-sg::before {
  background-position: -96px -384px;
}
.en-sh::before {
  background-position: -128px -384px;
}
.en-sl::before {
  background-position: -160px -384px;
}
.en-ss::before {
  background-position: -192px -384px;
}
.en-sx::before {
  background-position: -224px -384px;
}
.en-sz::before {
  background-position: -256px -384px;
}
.en-tc::before {
  background-position: -288px -384px;
}
.en-tk::before {
  background-position: -320px -384px;
}
.en-tt::before {
  background-position: -352px -384px;
}
.en-tv::before {
  background-position: -384px -384px;
}
.en-us::before, .en-um::before, .haw-us::before, .es-us::before, .lkt-us::before, .ena::before, .es-us::before {
  background-position: -416px 0;
}
.en-vc::before {
  background-position: -416px -32px;
}
.en-vg::before {
  background-position: -416px -64px;
}
.en-vi::before {
  background-position: -416px -96px;
}
.en-vu::before, .en-x-bi-sdl::before {
  background-position: -416px -128px;
}
.en-ws::before {
  background-position: -416px -160px;
}
.en-x-fj-sdl::before {
  background-position: -416px -192px;
}
.en-za::before {
  background-position: -416px -224px;
}
.en-zm::before {
  background-position: -416px -256px;
}
.en-zw::before {
  background-position: -416px -288px;
}
.eo::before, .eo-001::before {
  background-position: -416px -320px;
}
.es::before, .es-x-int-sdl::before {
  background-position: -416px -352px;
}
.es-419::before {
  background-position: -416px -384px;
}
.es-ar::before {
  background-position: 0 -416px;
}
.es-bo::before {
  background-position: -32px -416px;
}
.es-cl::before {
  background-position: -64px -416px;
}
.es-co::before {
  background-position: -96px -416px;
}
.es-cr::before {
  background-position: -128px -416px;
}
.es-cu::before {
  background-position: -160px -416px;
}
.es-do::before {
  background-position: -192px -416px;
}
.es-ec::before {
  background-position: -224px -416px;
}
.es-es::before, .ast::before, .ast-es::before, .es-x-mo-sdl::before {
  background-position: -256px -416px;
}
.es-gq::before {
  background-position: -288px -416px;
}
.es-gt::before {
  background-position: -320px -416px;
}
.es-hn::before {
  background-position: -352px -416px;
}
.esl::before {
  background-position: -384px -416px;
}
.es-mx::before {
  background-position: -416px -416px;
}
.es-ni::before {
  background-position: -448px 0;
}
.es-pa::before {
  background-position: -448px -32px;
}
.es-pe::before {
  background-position: -448px -64px;
}
.es-ph::before {
  background-position: -448px -96px;
}
.es-pr::before {
  background-position: -448px -128px;
}
.es-py::before {
  background-position: -448px -160px;
}
.es-sv::before {
  background-position: -448px -192px;
}
.est::before, .et-ee::before, .et::before {
  background-position: -448px -224px;
}
.es-uy::before {
  background-position: -448px -256px;
}
.es-ve::before {
  background-position: -448px -288px;
}
.eu::before {
  background-position: -448px -320px;
}
.eu-es::before {
  background-position: -448px -352px;
}
.flag.fa::before {
  background-position: -448px -384px;
}
.fad::before {
  background-position: -448px -416px;
}
.fa-ir::before {
  background-position: 0 -448px;
}
.ff::before, .ff-latn::before {
  background-position: -32px -448px;
}
.ff-gn::before, .nqo-gn::before {
  background-position: -64px -448px;
}
.ff-latn-sn::before {
  background-position: -96px -448px;
}
.ff-mr::before {
  background-position: -128px -448px;
}
.fi-fi::before, .sms-fi::before, .smn-fi::before, .se-fi::before, .fi::before, .fin::before {
  background-position: -160px -448px;
}
.fil-ph::before, .fil::before {
  background-position: -192px -448px;
}
.fo::before {
  background-position: -224px -448px;
}
.fo-fo::before {
  background-position: -256px -448px;
}
.fr-be::before {
  background-position: -288px -448px;
}
.fr-bf::before {
  background-position: -320px -448px;
}
.fr-bi::before {
  background-position: -352px -448px;
}
.fr-bj::before {
  background-position: -384px -448px;
}
.fr-bl::before {
  background-position: -416px -448px;
}
.frc::before {
  background-position: -448px -448px;
}
.fr-cd::before {
  background-position: -480px 0;
}
.fr-cf::before {
  background-position: -480px -32px;
}
.fr-cg::before {
  background-position: -480px -64px;
}
.fr-ch::before {
  background-position: -480px -96px;
}
.fr-ci::before {
  background-position: -480px -128px;
}
.fr-cm::before {
  background-position: -480px -160px;
}
.fr-dj::before {
  background-position: -480px -192px;
}
.fr-dz::before {
  background-position: -480px -224px;
}
.fr-fr::before, .fr-pm::before, .fr::before, .fra::before, .gsw-fr::before, .ia-fr::before, .fr-029::before, .oc-fr::before {
  background-position: -480px -256px;
}
.fr-ga::before {
  background-position: -480px -288px;
}
.fr-gf::before {
  background-position: -480px -320px;
}
.fr-gn::before {
  background-position: -480px -352px;
}
.fr-gp::before {
  background-position: -480px -384px;
}
.fr-gq::before {
  background-position: -480px -416px;
}
.fr-ht::before {
  background-position: -480px -448px;
}
.fr-km::before {
  background-position: 0 -480px;
}
.fr-lu::before {
  background-position: -32px -480px;
}
.fr-ma::before {
  background-position: -64px -480px;
}
.fr-mf::before {
  background-position: -96px -480px;
}
.fr-mg::before {
  background-position: -128px -480px;
}
.fr-ml::before {
  background-position: -160px -480px;
}
.fr-mq::before {
  background-position: -192px -480px;
}
.fr-mr::before {
  background-position: 0 0;
}
.fr-mu::before {
  background-position: -256px -480px;
}
.fr-nc::before {
  background-position: -288px -480px;
}
.fr-ne::before {
  background-position: -320px -480px;
}
.fr-pf::before {
  background-position: -352px -480px;
}
.fr-re::before {
  background-position: -384px -480px;
}
.fr-rw::before {
  background-position: -416px -480px;
}
.fr-sc::before {
  background-position: -448px -480px;
}
.fr-sn::before {
  background-position: -480px -480px;
}
.fr-sy::before {
  background-position: -512px 0;
}
.fr-td::before {
  background-position: -512px -32px;
}
.fr-tg::before {
  background-position: -512px -64px;
}
.fr-tn::before {
  background-position: -512px -96px;
}
.fr-vu::before {
  background-position: -512px -128px;
}
.fr-wf::before {
  background-position: -512px -160px;
}
.fr-yt::before {
  background-position: -512px -192px;
}
.fur-it::before, .fur::before {
  background-position: -512px -224px;
}
.ga-ie::before, .ga::before {
  background-position: -512px -256px;
}
.gd-gb::before, .gd::before {
  background-position: -512px -288px;
}
.gl::before {
  background-position: -512px -320px;
}
.gl-es::before {
  background-position: -512px -352px;
}
.gn::before {
  background-position: -512px -384px;
}
.gn-py::before {
  background-position: -512px -416px;
}
.gsw::before {
  background-position: -512px -448px;
}
.gsw-li::before {
  background-position: -512px -480px;
}
.gu::before {
  background-position: 0 -512px;
}
.gv-im::before, .gv::before, .en-im::before {
  background-position: -32px -512px;
}
.ha::before, .ha-latn::before {
  background-position: -64px -512px;
}
.hau::before {
  background-position: -96px -512px;
}
.haw::before {
  background-position: -128px -512px;
}
.haw-x-na-sdl::before {
  background-position: -160px -512px;
}
.haw-x-sm-sdl::before {
  background-position: -192px -512px;
}
.he::before {
  background-position: -224px -512px;
}
.heb::before {
  background-position: -256px -512px;
}
.he-il::before {
  background-position: -288px -512px;
}
.hi::before {
  background-position: -320px -512px;
}
.hin::before {
  background-position: -352px -512px;
}
.hr-ba::before, .hr-hr::before, .hr::before, .hrv::before {
  background-position: -384px -512px;
}
.hu-hu::before, .hu::before, .hun::before {
  background-position: -416px -512px;
}
.hy-am::before, .hy::before {
  background-position: -448px -512px;
}
.ia::before {
  background-position: -480px -512px;
}
.ia-001::before {
  background-position: -512px -512px;
}
.id-id::before, .id::before, .ind::before, .jv-java-id::before, .jv-latn::before, .ml-x-su-sdl::before, .fr-mc::before, .en-id::before {
  background-position: -544px 0;
}
.ig::before, .ig-ng::before {
  background-position: -544px -32px;
}
.ii::before {
  background-position: -544px -64px;
}
.is-is::before, .is::before {
  background-position: -544px -96px;
}
.it-ch::before {
  background-position: -544px -128px;
}
.it-it::before, .it::before, .ita::before {
  background-position: -544px -160px;
}
.it-sm::before {
  background-position: -544px -192px;
}
.iu::before, .iu-cans::before, .iu-latn::before, .iu-x-ik-sdl::before {
  background-position: -544px -224px;
}
.iu-cans-ca::before, .iu-latn-ca::before, .fr-ca::before {
  background-position: -544px -256px;
}
.ja-jp::before, .ja::before, .jpn::before {
  background-position: -544px -288px;
}
.jmc::before {
  background-position: -544px -320px;
}
.jv::before, .jv-java::before, .jv-latn-id::before {
  background-position: -544px -352px;
}
.ka::before {
  background-position: -544px -384px;
}
.kab::before {
  background-position: -544px -416px;
}
.ka-ge::before {
  background-position: -544px -448px;
}
.kam::before {
  background-position: -544px -480px;
}
.kde::before {
  background-position: -544px -512px;
}
.kea-cv::before, .kea::before, .pt-cv::before {
  background-position: 0 -544px;
}
.ki::before {
  background-position: -32px -544px;
}
.kk::before {
  background-position: -64px -544px;
}
.kkj::before {
  background-position: -96px -544px;
}
.kk-kz::before {
  background-position: -128px -544px;
}
.kl::before {
  background-position: -160px -544px;
}
.kl-gl::before {
  background-position: -192px -544px;
}
.kln::before {
  background-position: -224px -544px;
}
.km::before {
  background-position: -256px -544px;
}
.km-kh::before {
  background-position: -288px -544px;
}
.kok::before {
  background-position: -320px -544px;
}
.ko-kr::before, .ko::before, .kor::before {
  background-position: -352px -544px;
}
.kr::before {
  background-position: -384px -544px;
}
.ks-arab::before, .ks-deva::before {
  background-position: -416px -544px;
}
.ksh::before {
  background-position: -448px -544px;
}
.ku::before, .ku-arab::before {
  background-position: -480px -544px;
}
.ku-arab-iq::before {
  background-position: -512px -544px;
}
.ky::before {
  background-position: -544px -544px;
}
.ky-kg::before {
  background-position: -576px 0;
}
.lb::before {
  background-position: -576px -32px;
}
.lb-lu::before {
  background-position: -576px -64px;
}
.lkt::before {
  background-position: -576px -96px;
}
.ln::before {
  background-position: -576px -128px;
}
.ln-ao::before {
  background-position: -576px -160px;
}
.ln-cf::before {
  background-position: -576px -192px;
}
.ln-cg::before {
  background-position: -576px -224px;
}
.lo::before {
  background-position: -576px -256px;
}
.lo-la::before {
  background-position: -576px -288px;
}
.lt-lt::before, .lt::before, .lit::before {
  background-position: -576px -320px;
}
.lu-cd::before, .lu::before, .ln-cd::before {
  background-position: -576px -352px;
}
.luo::before {
  background-position: -576px -384px;
}
.lv-lv::before, .lv::before, .lav::before {
  background-position: -576px -416px;
}
.mas::before {
  background-position: -576px -448px;
}
.may::before {
  background-position: -576px -480px;
}
.mfe-mu::before, .mfe::before {
  background-position: -576px -512px;
}
.mg::before {
  background-position: -576px -544px;
}
.mgh::before {
  background-position: 0 -576px;
}
.mi-nz::before, .mi::before {
  background-position: -32px -576px;
}
.mk-mk::before, .mk::before, .sq-mk::before {
  background-position: -64px -576px;
}
.mn::before, .mn-cyrl::before, .mn-mn::before, .mn-mong-mn::before, .mn-mong::before {
  background-position: -96px -576px;
}
.mni::before {
  background-position: -128px -576px;
}
.moh::before {
  background-position: -160px -576px;
}
.moh-ca::before {
  background-position: -192px -576px;
}
.ms::before {
  background-position: -224px -576px;
}
.ms-bn::before {
  background-position: -256px -576px;
}
.ms-my::before {
  background-position: -288px -576px;
}
.mt-mt::before, .mt::before, .mlt::before, .en-mt::before {
  background-position: -320px -576px;
}
.mua::before {
  background-position: -352px -576px;
}
.my-mm::before, .my::before {
  background-position: -384px -576px;
}
.naq::before {
  background-position: -416px -576px;
}
.nd::before {
  background-position: -448px -576px;
}
.nd-zw::before {
  background-position: -480px -576px;
}
.ne::before {
  background-position: -512px -576px;
}
.ne-np::before {
  background-position: -544px -576px;
}
.nl-aw::before {
  background-position: -576px -576px;
}
.nl-be::before {
  background-position: -608px 0;
}
.nl-cw::before {
  background-position: -608px -32px;
}
.nl-nl::before, .fy-nl::before, .fy::before, .nl-bq::before, .nl::before {
  background-position: -608px -64px;
}
.nl-sr::before {
  background-position: -608px -96px;
}
.nl-sx::before {
  background-position: -608px -128px;
}
.nmg::before {
  background-position: -608px -160px;
}
.nmg-cm::before {
  background-position: -608px -192px;
}
.no::before, .nb-no::before, .nb-sj::before, .nb::before, .nn-no::before, .nn::before, .nor::before, .sma-no::before, .smj-no::before, .se-no::before {
  background-position: -608px -224px;
}
.nqo::before {
  background-position: -608px -256px;
}
.nus::before {
  background-position: -608px -288px;
}
.nus-sd::before {
  background-position: -608px -320px;
}
.nv::before {
  background-position: -608px -352px;
}
.oc::before {
  background-position: -608px -384px;
}
.om::before {
  background-position: -608px -416px;
}
.os::before {
  background-position: -608px -448px;
}
.os-ge::before {
  background-position: -608px -480px;
}
.pa::before, .pa-arab::before {
  background-position: -608px -512px;
}
.pa-arab-pk::before {
  background-position: -608px -544px;
}
.pap::before, .pap-029::before {
  background-position: -608px -576px;
}
.per::before {
  background-position: 0 -608px;
}
.pl-pl::before, .pl::before, .pol::before {
  background-position: -32px -608px;
}
.por::before {
  background-position: -64px -608px;
}
.prs::before {
  background-position: -96px -608px;
}
.prs-af::before, .ps-af::before {
  background-position: -128px -608px;
}
.ps::before {
  background-position: -160px -608px;
}
.pt::before {
  background-position: -192px -608px;
}
.pt-ao::before {
  background-position: -224px -608px;
}
.pt-br::before, .ptb::before {
  background-position: -256px -608px;
}
.pt-gw::before {
  background-position: -288px -608px;
}
.pt-mo::before {
  background-position: -320px -608px;
}
.pt-mz::before, .mgh-mz::before, .seh-mz::before {
  background-position: -352px -608px;
}
.ptp::before {
  background-position: -384px -608px;
}
.pt-pt::before {
  background-position: -416px -608px;
}
.pt-st::before {
  background-position: -448px -608px;
}
.pt-tl::before {
  background-position: -480px -608px;
}
.pus::before {
  background-position: -512px -608px;
}
.qut::before, .quc-latn-gt::before, .quc-latn::before, .quc::before, .qut-gt::before {
  background-position: -544px -608px;
}
.quz::before, .quz-x-ay-sdl::before {
  background-position: -576px -608px;
}
.quz-bo::before {
  background-position: -608px -608px;
}
.quz-ec::before {
  background-position: -640px 0;
}
.quz-pe::before {
  background-position: -640px -32px;
}
.rm-ch::before, .rm::before, .gsw-ch::before, .wae-ch::before {
  background-position: -640px -64px;
}
.rn-bi::before, .rn::before {
  background-position: -640px -96px;
}
.ro-md::before, .ru-md::before {
  background-position: -640px -128px;
}
.ro-ro::before, .ro::before {
  background-position: -640px -160px;
}
.ru-by::before {
  background-position: -640px -192px;
}
.ru-kg::before {
  background-position: -640px -224px;
}
.ru-kz::before {
  background-position: -640px -256px;
}
.ru-ru::before, .ru::before, .sah-ru::before, .sah::before, .os-ru::before, .tt-ru::before {
  background-position: -640px -288px;
}
.rw::before {
  background-position: -640px -320px;
}
.rw-rw::before {
  background-position: -640px -352px;
}
.sa::before {
  background-position: -640px -384px;
}
.sbp::before {
  background-position: -640px -416px;
}
.sd::before, .sd-arab::before, .sd-deva::before {
  background-position: -640px -448px;
}
.sd-arab-pk::before {
  background-position: -640px -480px;
}
.se::before {
  background-position: -640px -512px;
}
.seh::before {
  background-position: -640px -544px;
}
.sg::before {
  background-position: -640px -576px;
}
.sg-cf::before {
  background-position: -640px -608px;
}
.shi::before, .shi-latn::before, .shi-tfng::before {
  background-position: 0 -640px;
}
.si-lk::before, .si::before, .ta-lk::before {
  background-position: -32px -640px;
}
.sk-sk::before, .sk::before, .slo::before {
  background-position: -64px -640px;
}
.sl-si::before, .sl::before, .slv::before {
  background-position: -96px -640px;
}
.sma::before {
  background-position: -128px -640px;
}
.smj::before {
  background-position: -160px -640px;
}
.smj-se::before, .sma-se::before, .se-se::before, .sv-se::before, .sv-ax::before, .sv::before, .swe::before {
  background-position: -192px -640px;
}
.smn::before {
  background-position: -224px -640px;
}
.sms::before {
  background-position: -256px -640px;
}
.sn::before, .sn-latn::before {
  background-position: -288px -640px;
}
.sn-latn-zw::before {
  background-position: -320px -640px;
}
.so::before, .som::before, .so-so::before {
  background-position: -352px -640px;
}
.spa::before {
  background-position: -384px -640px;
}
.sq::before, .sq-al::before {
  background-position: -416px -640px;
}
.sq-xk::before, .sr-cyrl-xk::before, .sr-latn-xk::before {
  background-position: -448px -640px;
}
.sr::before, .srp::before, .sr-latn::before, .sr-latn-rs::before, .sr-cyrl-rs::before, .sr-cyrl::before {
  background-position: -480px -640px;
}
.sr-cyrl-ba::before, .sr-latn-ba::before {
  background-position: -512px -640px;
}
.sr-cyrl-cs::before, .sr-latn-cs::before {
  background-position: -544px -640px;
}
.sr-cyrl-me::before, .sr-latn-me::before {
  background-position: -576px -640px;
}
.ss::before {
  background-position: -608px -640px;
}
.ss-sz::before {
  background-position: -640px -640px;
}
.ssy::before {
  background-position: -672px 0;
}
.st::before, .st-ls::before {
  background-position: -672px -32px;
}
.st-latn-me::before, .st-latn-rs::before {
  background-position: -672px -64px;
}
.sv-fi::before {
  background-position: -672px -96px;
}
.sw::before {
  background-position: -672px -128px;
}
.swc::before, .swc-cd::before, .sw-cd::before {
  background-position: -672px -160px;
}
.sw-x-ny-sdl::before {
  background-position: -672px -192px;
}
.syr::before {
  background-position: -672px -224px;
}
.syr-sy::before {
  background-position: -672px -256px;
}
.ta::before {
  background-position: -672px -288px;
}
.ta-in::before {
  background-position: -672px -320px;
}
.ta-my::before {
  background-position: -672px -352px;
}
.teo::before {
  background-position: -672px -384px;
}
.tg::before, .tg-cyrl::before, .tg-cyrl-tj::before {
  background-position: -672px -416px;
}
.th-th::before, .th::before, .tha::before {
  background-position: -672px -448px;
}
.ti::before {
  background-position: -672px -480px;
}
.tk::before {
  background-position: -672px -512px;
}
.tk-tm::before {
  background-position: -672px -544px;
}
.tl-x-sdl::before {
  background-position: -672px -576px;
}
.tn::before {
  background-position: -672px -608px;
}
.tn-bw::before {
  background-position: -672px -640px;
}
.to-to::before, .to::before, .en-to::before {
  background-position: 0 -672px;
}
.tr-cy::before {
  background-position: -32px -672px;
}
.tr-tr::before, .tr::before, .tur::before {
  background-position: -64px -672px;
}
.ts::before {
  background-position: -96px -672px;
}
.tt::before {
  background-position: -128px -672px;
}
.tzm::before, .tzm-arab::before, .tzm-latn::before, .tzm-tfng::before {
  background-position: -160px -672px;
}
.uk-ua::before, .uk::before, .ukr::before, .ru-ua::before {
  background-position: -192px -672px;
}
.unknown::before {
  background-position: -224px -672px;
}
.ur::before {
  background-position: -256px -672px;
}
.urd::before {
  background-position: -288px -672px;
}
.ur-pk::before {
  background-position: -320px -672px;
}
.uz::before, .uz-arab::before, .uz-cyrl::before, .uz-latn::before {
  background-position: -352px -672px;
}
.uz-arab-af::before {
  background-position: -384px -672px;
}
.uz-cyrl-uz::before, .uz-latn-uz::before {
  background-position: -416px -672px;
}
.vai::before, .vai-latn::before, .vai-vaii::before {
  background-position: -448px -672px;
}
.vai-latn-lr::before, .vai-vaii-lr::before {
  background-position: -480px -672px;
}
.ve::before {
  background-position: -512px -672px;
}
.vi-vn::before, .vi::before, .vie::before {
  background-position: -544px -672px;
}
.vo::before, .vo-001::before {
  background-position: -576px -672px;
}
.vun::before {
  background-position: -608px -672px;
}
.wae::before {
  background-position: -640px -672px;
}
.wo::before {
  background-position: -672px -672px;
}
.wo-sn::before {
  background-position: -704px 0;
}
.x-es-xl::before {
  background-position: -704px -32px;
}
.xh::before {
  background-position: -704px -64px;
}
.xog::before, .xog-ug::before, .nyn-ug::before, .nyn::before, .teo-ug::before, .sw-ug::before, .lg-ug::before, .lg::before, .en-ug::before, .cgg-ug::before {
  background-position: -704px -96px;
}
.yi::before, .yi-001::before {
  background-position: -704px -128px;
}
.yo::before {
  background-position: -704px -160px;
}
.yo-bj::before {
  background-position: -704px -192px;
}
.zh::before, .zh-chs::before, .zh-cht::before, .zh-cn::before, .zh-hans::before, .zh-hans-mo::before, .zh-hant::before, .zh-hk::before, .zh-mo::before, .zh-tw::before, .zh-x-hmn-sdl::before, .zh-hans-hk::before {
  background-position: -704px -224px;
}
.zh-sg::before, .ta-sg::before, .ms-sg::before {
  background-position: -704px -256px;
}
.zu::before {
  background-position: -704px -288px;
}
.Flags {

}