.tableTitle {
  font-size: 20px;
  margin-left: 30px;
}

.firstColumn {
	border-left: #e1e7eb 1px solid !important;
	padding-left: 30px !important;
}
.firstColumn span.firstColumn {
	border-left: none !important;
}

.firstColumnHeader {
	padding-left: 30px;
	text-align: left;
    font-weight: normal;
    color: #B7B7B7;
	text-transform: uppercase;
}

.simpleColumn {
}

.taskItemsTable thead tr th,
.taskItemsTable tr th {
	border-bottom: #e1e7eb 1px solid !important;
}

.languageColumn {
	padding-left: 40px;
}

.groupHeader {
	font-weight: bold;
	color: #414141;
	background-color: #EFEFEF;
}

.headerCell {
	padding: 10px;
	border-bottom: #e1e7eb 1px solid;
}

.greenBkg {
	background-color: #25bd59;
	height: 50px;
	width: 100%;
}
.logoImage {
	margin: 13px 0 0 38px;
}

.subHeader {
    margin: 20px 0 30px;
	width: 100%;
}

.headerTitleText {
	padding-left: 30px;
}
.headerTitleText td {
	color: black;
	font-size: 26px;
}

.headerMetaText td {
	color: black;
	font-size: 12px;
}

.footerInfoText {
    padding: 0 0 0 30px;
}
.footerInfoText h3,
.footerInfoText p {
	color: #666;
}
.footerInfoText h3 {
	text-align: left;
    margin: 30px 0 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}
.footerInfoText p {
	font-size: 12px;
}