<h3>SDL Payment Terms</h3>

<p>SDL will require the total project cost paid prior to project commencement, unless prior credit arrangements are in place.<br />
SDL will only commence work upon receipt of payement or a valid purchase order if credit has been agreed.<br />
Monthly milestone payements will be invoiced on projects exceeding more than one calendar months.<br />
SDL accept all major credit cards such as American Express, VISA, MasterCard, Delta.<br />
VAT (Sales Tax): This quote excludes any applicable Sales Tax.<br />
Contact your SDL Project Manager if you wish to setup or discuss payment terms.</p>

<h3>Authorization to Commence the Project</h3>

<p>Agreed between us the signature of our authorised representatives.<br />
No additional terms shall apply.</p>

<p><strong>Estimate Valid for 30 days</strong></p>