/* Bootstrap redefines content base font size to browser (16px); revert to 12px */
html {
	font-size: 12px;
}

/* Signal theme defines highest group shading in tables to light blue, which is different to lower level group shades; reset to dark grey */
.rdThemeDataTableGroupHeaderRow0 td, table.rdAgDataTable tr.rdAgGroup0HeaderRow td {
    background-color: #bababa /*TableGroupHeaderRowBackgroundColor*/;
}

.table thead th {
    vertical-align: top; 
}

.table th table td {
	border: none;
}

rdinteractivepaging{
	float: right;
}
/*
.btn-sm, 
.btn-group-sm > .btn {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5;
    border-radius: 0.2rem;
}*/

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

/* For Printable Paging for PDF Export */
	body {
		background-color: #ffffff;
	}
	
	.border-bottom {
		border-bottom: 1px solid silver;
	}
	
	.border-top {
		border-top: 1px solid silver;
	}
/* For Printable Paging for PDF Export */


/* replace bootstrap table width of 100% */
	.table-nonfluid {
	width: auto !important;
	}
/* replace bootstrap table width of 100% */


/* Claims Map 100% */
	.map100Pc table {
		width: 100%;
	}
	
	/*#wpLossPayMap a{
	    position: absolute;
    	right: 17px;
	}*/
	/*
	#colorLossPaidSpectrum {
		width: 100%;
	}*/
/* Claims Map 100% */

/*Loss Tringle Table*/
	.lossTriangleTbl th:first-child{
		text-align: left !important;
	}
/*Loss Tringle Table*/


/* Parallel Coordinates Container size */ 
	.parcoords {
		height: 350px;
		background-color: #fff !important;
	}
/* Parallel Coordinates Container size */ 
