/* Bootstrap Override Starts */
html, body {
    font-size: 12px !important;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

body {
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4, .display-5 {
    color: #036fca;
    font-weight: 400;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.display-5 {
    font-size: 24px;
    line-height: 1.2;
}

a, a:link {
    color: #E97117;
    text-decoration: none;
    font-weight: 600;
}


    a:hover {
        color: #F7A86D;
        text-decoration: none;
    }

    a:focus,
    a:active,
    a:visited {
        color: #036fca;
        text-decoration: none;
    }

.table-hover > tbody > tr:hover > td {
    color: #4d5376;
}


/*Filter Section Starts*/
#Filters .card-header {
    background-color: #E9F1F8;
    border: 1px solid #4d5376;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#Filter {
    background: #f2f2f2;
}

#Filters a,
#Filters a .h5 {
    color: #4d5376;
}

#Filters:hover .card-header {
    background-color: #507493;
    border: 1px solid #4d5376;
}

#Filters:hover a,
#Filters:hover a .h5 {
    color: #FFFFFF;
}

#bodyFilters {
    background: #F2F2F2;
}

span#daterange {
    border: 1px solid #aaa;
}

/*Filter Section Ends*/

/*Buttons Override Starts*/
.btn {
    font-size: 14px;
    font-weight: 600;
}

.btn-default,
.btn-primary {
    color: #fff;
    background-color: #E97117;
    border-color: #E97117;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .btn-default:hover,
    .btn-primary:hover {
        color: #E97117 !important;
        background-color: #FFF;
        border-color: #E97117;
    }

    .btn-default:focus, .btn-default.focus,
    .btn-primary:focus, .btn-primary.focus {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff !important;
        background-color: #036fca;
        border-color: #036fca;
    }

    .btn-default.disabled, .btn-default:disabled,
    .btn-primary.disabled, .btn-primary:disabled {
        background-color: #E97117;
        border-color: #E97117;
        color: #fff !important;
        opacity: 0.5;
    }

    .btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff !important;
        background-color: #036fca;
        border-color: #036fca;
    }

        .btn-primary:not([disabled]):not(.disabled):active:focus, .btn-primary:not([disabled]):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #fff !important;
            background-color: #036fca;
            border-color: #036fca;
        }

input[type="button"].btn, .ThemeLinkButton, .ThemeLinkButtonSmall, .rdAgCommand,
.rdOgCommand, .rdAcCommand, span.rdCgCommand, .rdDashboardCommand, input[type="button"] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/*Buttons Override Ends*/


/* Bootstrap Override Ends */

/*Paging plugin Override Starts*/
rdinteractivepaging span[id*='-NumberedPageNr'],
rdinteractivepaging span[id*='-rdNumberedCurrPageNr'],
rdinteractivepaging span[id*='-FirstPageCaption'],
rdinteractivepaging span[id*='-PreviousPageCaption'],
rdinteractivepaging span[id*='-LastPageCaption'],
rdinteractivepaging span[id*='-NextPageCaption'] {
    color: #E97117;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

    rdinteractivepaging span[id*='-NumberedPageNr']:hover,
    rdinteractivepaging span[id*='-FirstPageCaption']:hover,
    rdinteractivepaging span[id*='-PreviousPageCaption']:hover,
    rdinteractivepaging span[id*='-LastPageCaption']:hover,
    rdinteractivepaging span[id*='-NextPageCaption']:hover {
        color: #fff;
        background-color: #E97117;
        border-color: #E97117;
    }

rdinteractivepaging span[id*='-rdNumberedCurrPageNr'] {
    color: #ffffff;
    background-color: #036fca;
    border-color: #036fca;
}

/*Paging plugin Override Ends*/

/*Select2 Override Starts*/
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--single:focus,
.select2-container--default .select2-selection--single:active {
    border: 1px solid #036fca;
}


/*Select2 Override Ends*/


/*Pages Override Starts*/
.dashboardTitle {
    background: #036fca;
    color: #fff;
}

.headerTitle {
    border-bottom: 1px solid #4d5376;
}

.table .rdThemeDataTableHeader {
    background-color: #D7D7D7;
}

.parcoords {
    background-color: #FFF !important;
}

/*pages Override Ends*/
