/* Bootstrap Override Starts */

.card {
    padding: 10px;
}


#Filters {
    margin: 0 10px;
    padding: 0;
}

    #Filters .card-header {
        padding: 5px 10px;
    }

    #Filters .showhide {
        padding: 2px 0;
    }

#bodyFilters {
    padding-left: 15px;
}

#daterange {
    height: 35px;
    padding: 8px 6px;
}

.table-nonfluid {
    width: auto !important;
}



/* Bootstrap Override Ends */

/*Paging plugin Override Starts*/

rdinteractivepaging span[id*='-NumberedPageNr'],
rdinteractivepaging span[id*='-rdNumberedCurrPageNr'],
rdinteractivepaging span[id*='-FirstPageCaption'],
rdinteractivepaging span[id*='-PreviousPageCaption'],
rdinteractivepaging span[id*='-LastPageCaption'],
rdinteractivepaging span[id*='-NextPageCaption'] {
    margin-bottom: 18px;
}

/*Paging plugin Override Ends*/

/*Select2 Override Starts*/
.select2-container--default .select2-selection--single {
    height: 38px;
}
/*Select2 Override Ends*/

/*Datepickee Range Starts*/
.daterangepicker .cancelBtn::before{
	font-family: "FontAwesome";
	content: "\f05e"; /*ban icon*/
	margin-right: 5px;
}

.daterangepicker .applyBtn::before{
	font-family: "FontAwesome";
	content: "\f058"; /*check circle icon*/
	margin-right: 5px;
}
/*Datepicker Range Ends*/

/*pages override starts*/
.table thead th {
    vertical-align: top;
}

.table th table td {
    border: none;
}

rdinteractivepaging {
    float: right;
}

.dashboardTitle {
    display: block;
    margin: 0 10px 10px 10px;
    padding: 10px;
}

.headerTitle {
    margin: 10px 0px 15px 0px;
}

.divReportWrapper {
    margin: 0 10px;
}

.map100Pc {
    margin: 10px;
}

    .map100Pc table {
        width: 100%;
    }

#divShowNationalMap {
    padding-right: 10px;
}

.lossTriangleTbl th:first-child {
    text-align: left !important;
}

.parcoords {
    height: 350px;
}


/*pages override starts*/

