
	ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 2px 5px;
    }

    hr {
      border-color: #565656;
    }

    svg {
      display: block;
      margin: 0 auto;
    }

    .container2 {
		display: block;
      margin: 0 auto;
	  width: 500px;
	 
	  overflow: hidden;
    }

    .main  svg {
      width: 400px;
      max-width: 400px;
    }

    .week {
      text-align: center;
    }

    ul.week li svg {
      width: 50px;
      max-width: 50px;
    }

    .date {
      color: white;
      font-size: 25px;
      font-weight: 100;
      text-align: center;
      margin-bottom: 15px;
    }

    .circle {
      margin: 3px auto;
      border-radius: 50%;
      width: 27px;
      height: 27px;
      line-height: 27px;
      text-align: center;
      color: White;
      font-size: 14px;
	  font-weight: bold;
      font-weight: 300;
    }

    li:hover .circle {
      color: white;
      background-color: #565656;

    }

    .active {
      color: white;
      background-color: #E90D3B !important;
    }

    .rbc-label-start {
      font-family: fontawesome;
      font-weight: bold;
      font-size: 30px;
    }