/************************************************ 
Custom.css is used for theme and style overrides.
Extra application styles can also be stored here.
*************************************************/

	/*************************************************************************************************************************************************************/
	/*************************************************************** CCAPS (PURPLE THEME) ************************************************************************/
	/*************************************************************************************************************************************************************/
	
	/*** Blue Violet #8A2BE2
					 #590081
					 #9396FF
					 #840AFF
	***/
		
	/*** Heat Map Colours (High to Low) - #590081, #840AFF, #9396FF ***/
	/*** Bar Graph Colour #8A2BE2 (BlueViolet) ***/
	
	/**************************************************** NAV-BAR/SIDEBAR ****************************************************/
	/*#navigation { background-color: #4D004D  !important; }
	.navbar { border-bottom: solid 2px #4D004D !important; box-shadow: inset 0 0 25px 0 rgba(0,0,0,0.4) !important; }*/

	
	.HighlightCell { background-color: #DBEBFF !important; }
	.HighlightCell-Dark { background-color: #B3C3D7 !important; }
	
	/*************************************************************************************************************************************************************/
	/********************************************************************* GREEN THEME ***************************************************************************/
	/*************************************************************************************************************************************************************/
	/**** PANELS ****/	
	.PurpleTheme .panel-heading { background-color: #AE70ED !important; color: #FFF !important; }
	.PurpleTheme .panel-heading-darker { background-color: #8D18AB !important; }
	.PurpleTheme .panel-heading-darkest { background-color: Indigo !important; }
	.PurpleTheme .panel-heading-darkest > span:hover { color: #FFF !important; }
	.PurpleTheme .panel-heading > div > a > i { color: #FFF; }
	
	/**** DATATABLES ****/
	.PurpleTheme .rdThemeDataTable > thead > tr > th { background-color: #990099 !important; }
	.PurpleTheme .rdThemeDataTable > tbody > tr > td, .PurpleTheme .SubDataTable > tbody > tr > td {  padding: 3px !important; }
	.PurpleTheme .rdThemeDataTable > tbody > tr.rdThemeDataTableSummaryRow > td { background-color: #E464E4 !important; font-weight:bold; }
		
	.PurpleTheme .rdThemeDataTable > tbody > tr:hover { background-color: #EDDFFB !important; }
	.PurpleTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td { background-color: #EDDFFB !important; }
	.PurpleTheme .rdThemeDataTable > tbody > tr > td > a { color: #4E004E !important; }

	/*.PurpleTheme .SubDataTable { margin-bottom: 10px !important; }*/	
	.PurpleTheme .SubDataTable > thead > tr > th { background-color: #C79BF2 !important; }
	.PurpleTheme .SubDataTable > tbody > tr.rdThemeDataTableSummaryRow > td { background-color: #FFA4FF !important; font-weight:bold; }	

	.PurpleTheme .SubDataTable > tbody > tr:hover { background-color: #FFDFFF !important; }
	.PurpleTheme .SubDataTable tr.ThemeAlternatingRow:hover > td { background-color: #FFDFFF !important; }
	
	.PurpleTheme .HighlightCell { background-color: #EDDFFB !important; }
	.PurpleTheme .HighlightCell-Dark { background-color: #FFDFFF !important; }

	.PurpleTheme .panel-heading-color-1 { background-color: #3A003A !important; }
	.PurpleTheme .panel-heading-color-2 { background-color: #4E144E !important; }
	.PurpleTheme .panel-heading-color-3 { background-color: #622862 !important; }
	.PurpleTheme .panel-heading-color-4 { background-color: #763C76 !important; }
	.PurpleTheme .panel-heading-color-5 { background-color: #8A508A !important; }
	.PurpleTheme .panel-heading-color-6 { background-color: #9E649E !important; }
	
	.PurpleTheme .panel-heading > a > span { color: #FFF; }
	.PurpleTheme .panel-heading > a > span:hover { text-decoration: underline; }
	
	.PurpleTheme .bg-All-Wales { background-color: #C79BF2 !important; font-weight: Bold; }
	.PurpleTheme .bg-All-Clusters, .PurpleTheme .bg-HB-Totals { background-color: #DBBFF7 !important; font-weight: Bold; }
	
	/****** Precent the Hover over on Summary Rows ******/
	.PurpleTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td.bg-All-Wales { background-color: #C79BF2 !important; }
	.PurpleTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td.bg-All-Clusters { background-color: #DBBFF7 !important; }
	.PurpleTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td.bg-HB-Totals { background-color: #DBBFF7 !important; }
	
	/*************************************************************************************************************************************************************/
	/********************************************************************* GREEN THEME ***************************************************************************/
	/*************************************************************************************************************************************************************/

	/**** PANELS ****/					
	.GreenTheme .panel-heading { background-color: #65BC73 !important; color: #FFF !important; }
	.GreenTheme .panel-heading-darker { background-color: #008000 !important; }
	.GreenTheme .panel-heading-darkest { background-color: #005800 !important; }
	.GreenTheme .panel-heading-darkest > span:hover { color: #FFF !important; }
	
	/**** DATATABLES ****/		
	.GreenTheme .rdThemeDataTable > thead > tr > th { background-color: #1E9E1E !important; }
	.GreenTheme .rdThemeDataTable > tbody > tr > td, .SubDataTable > tbody > tr > td {  padding: 3px !important; }
	.GreenTheme .rdThemeDataTable > tbody > tr.rdThemeDataTableSummaryRow > td { background-color: #50D050 !important; font-weight:bold; }
	
	.GreenTheme .rdThemeDataTable > tbody > tr:hover { background-color: #E3FBE9 !important; }
	.GreenTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td { background-color: #E3FBE9 !important; }	
	.GreenTheme .rdThemeDataTable > tbody > tr > td > a { color: #004D00 !important; }
	
	.GreenTheme .panel-heading-color-1 { background-color: #003A00 !important; }
	.GreenTheme .panel-heading-color-2 { background-color: #144E14 !important; }
	.GreenTheme .panel-heading-color-3 { background-color: #286228 !important; }
	.GreenTheme .panel-heading-color-4 { background-color: #3C763C !important; }
	.GreenTheme .panel-heading-color-5 { background-color: #328A32 !important; }
	.GreenTheme .panel-heading-color-6 { background-color: #3C943C !important; }
	.GreenTheme .panel-heading-color-7 { background-color: #469E46 !important; }
	.GreenTheme .panel-heading-color-8 { background-color: #50A850 !important; }
	.GreenTheme .panel-heading-color-9 { background-color: #5AB25A !important; }
	.GreenTheme .panel-heading-color-10 { background-color: #64BC64 !important; }
	
	.GreenTheme .bg-All-Wales { background-color: #A6CAA9 !important; font-weight: Bold; }
	
	.GreenTheme .bg-All-Clusters, .GreenTheme .bg-HB-Totals { background-color: #AAFD8E !important; font-weight: Bold; }
	
	/****** Precent the Hover over on Summary Rows ******/
	.GreenTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td.bg-All-Wales { background-color: #A6CAA9 !important; }
	.GreenTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td.bg-All-Clusterss { background-color: #AAFD8E !important; }
	.GreenTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td.bg-HB-Totals { background-color: #AAFD8E !important; }

	/*************************************************************************************************************************************************************/
	/********************************************************************* BLUE THEME ***************************************************************************/
	/*************************************************************************************************************************************************************/

	/**** PANELS ****/		
	.BlueTheme .panel { border-color: #C0C0C0 !important; }			
	.BlueTheme .panel-heading { /*background-color: #6699FF !important;*/ background-color: #3232FF !important; color: #FFF !important; }
	.BlueTheme .panel-heading-darker { background-color: #0000CC !important; }
	.BlueTheme .panel-heading-darkest { background-color: #0000A0 !important; }
	.BlueTheme .panel-heading-lighter { background-color: #5050FF !important; }
	.BlueTheme .panel-heading-lightest { background-color: #6699FF !important; }
	.BlueTheme .panel-heading-darkest > span:hover { color: #FFF !important; }
	.BlueTheme .panel-heading > div > a > i { color: #FFF; }
	
	.BlueTheme .panel-heading-color-1 { background-color: #0000A0 !important; }
	.BlueTheme .panel-heading-color-2 { background-color: #1414B4 !important; }
	.BlueTheme .panel-heading-color-3 { background-color: #2828C8 !important; }
	.BlueTheme .panel-heading-color-4 { background-color: #3C3CDC !important; }
	.BlueTheme .panel-heading-color-5 { background-color: #5050F0 !important; }
	.BlueTheme .panel-heading-color-6 { background-color: #6464FF !important; }	
	.BlueTheme .panel-heading-color-7 { background-color: #6E6EFF !important; }
	.BlueTheme .panel-heading-color-8 { background-color: #8282FF !important; }
	.BlueTheme .panel-heading-color-9 { background-color: #9696FF !important; }
	
	.BlueTheme .panel-heading > a > span { color: #FFF; }
	.BlueTheme .panel-heading > a > span:hover { text-decoration: underline; }
	
	/*.BlueTheme .panel-heading-color-1 { background-color: #0000A0 !important; }
	.BlueTheme .panel-heading-color-2 { background-color: #1E1EBE !important; }
	.BlueTheme .panel-heading-color-3 { background-color: #3C3CDC !important; }
	.BlueTheme .panel-heading-color-4 { background-color: #5A5AFA !important; }
	.BlueTheme .panel-heading-color-5 { background-color: #7878FF !important; }
	.BlueTheme .panel-heading-color-6 { background-color: #9696FF !important; }*/
	
	/**** DATATABLES ****/		
	.BlueTheme .rdThemeDataTable > thead > tr > th { background-color: #0000E5 !important; }
	.BlueTheme .rdThemeDataTable > tbody > tr > td, .SubDataTable > tbody > tr > td {  padding: 3px !important; }
	.BlueTheme .rdThemeDataTable > tbody > tr.rdThemeDataTableSummaryRow > td { background-color: #6666FF !important; font-weight:bold; }
	
	.BlueTheme .rdThemeDataTable > tbody > tr:hover { background-color: #DBEBFF !important; }
	.BlueTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td { background-color: #DBEBFF !important; }	
	.BlueTheme .rdThemeDataTable > tbody > tr > td > a { color: Navy !important; }
	
	.BlueTheme .HighlightCell { background-color: #DBEBFF !important; }
	.BlueTheme .HighlightCell-Dark { background-color: #B3C3D7 !important; }
		
	.BlueTheme .bg-All-Wales { background-color: #ADDFFF !important; font-weight: Bold; }
	.BlueTheme .bg-All-Clusters, .BlueTheme .bg-HB-Totals { background-color: #ADD8E6 !important; font-weight: Bold; }
		
	/****** Precent the Hover over on Summary Rows ******/	
	.BlueTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td.bg-All-Wales { background-color: #ADDFFF !important; }
	.BlueTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td.bg-All-Clusters { background-color: #ADD8E6 !important; }
	.BlueTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td.bg-HB-Totals { background-color: #ADD8E6 !important; }
	
	/****** LIGHTER HEADER ROW *****/
	.BlueTheme .rdThemeDataTable > thead > tr > th.LightBlueHeader { background-color: #5081D9 !important; }
	
	/*************************************************************************************************************************************************************/
	/********************************************************************* GRAY THEME ***************************************************************************/
	/*************************************************************************************************************************************************************/

	/**** PANELS ****/					
	.GrayTheme .panel-heading { background-color: #C6C6C6 !important; color: #FFF !important; }
	.GrayTheme .panel-heading-darker { background-color: #848484 !important; }
	.GrayTheme .panel-heading-darkest { background-color: #585858 !important; }
	.GrayTheme .panel-heading-darkest > span:hover { color: #FFF !important; }
	
	/**** DATATABLES ****/		
	.GrayTheme .rdThemeDataTable > thead > tr > th { background-color: #A2A2A2 !important; }
	.GrayTheme .rdThemeDataTable > tbody > tr > td, .SubDataTable > tbody > tr > td {  padding: 3px !important; }
	.GrayTheme .rdThemeDataTable > tbody > tr.rdThemeDataTableSummaryRow > td { background-color: #D4D4D4 !important; font-weight:bold; }
	
	.GrayTheme .rdThemeDataTable > tbody > tr:hover { background-color: #f5f5f5 !important; }
	.GrayTheme .rdThemeDataTable tr.ThemeAlternatingRow:hover > td { background-color: #f5f5f5 !important; }
	
	.GrayTheme .panel-heading-color-1 { background-color: #303030 !important; }
	.GrayTheme .panel-heading-color-2 { background-color: #444444 !important; }
	.GrayTheme .panel-heading-color-3 { background-color: #585858 !important; }
	.GrayTheme .panel-heading-color-4 { background-color: #6C6C6C !important; }
	.GrayTheme .panel-heading-color-5 { background-color: #808080 !important; }
	.GrayTheme .panel-heading-color-6 { background-color: #949494 !important; }
	.GrayTheme .panel-heading-color-7 { background-color: #A8A8A8 !important; }
	.GrayTheme .panel-heading-color-8 { background-color: #BCBCBC !important; }
	.GrayTheme .panel-heading-color-9 { background-color: #D0D0D0 !important; }
	.GrayTheme .panel-heading-color-10 { background-color: #E4E4E4 !important; }

	/*************************************************************************************************************************************************************/
	/******************************************************************** ORANGE THEME ***************************************************************************/
	/*************************************************************************************************************************************************************/
	.OrangeTheme .panel-heading-color-1 { background-color: #663300 !important; }
	.OrangeTheme .panel-heading-color-2 { background-color: #994d00 !important; }
	.OrangeTheme .panel-heading-color-3 { background-color: #cc6600 !important; }
	.OrangeTheme .panel-heading-color-4 { background-color: #e67300 !important; }
	.OrangeTheme .panel-heading-color-5 { background-color: #ff8c1a !important; }
	.OrangeTheme .panel-heading-color-6 { background-color: #ffa64d !important; }
	.OrangeTheme .panel-heading-color-7 { background-color: #ffbf80 !important; }
	.OrangeTheme .panel-heading-color-8 { background-color: #ffd9b3 !important; }

	/**************************************************** PANELS ****************************************************/
	/*.panel-heading-purple-theme-darkest, .panel-heading-purple-theme-darker { font-size: 16px !important; color: #FFF !important;
					-webkit-box-shadow: inset 10px 74px 120px -44px rgba(0,0,0,0.13);
					-moz-box-shadow: inset 10px 74px 120px -44px rgba(0,0,0,0.13);
					box-shadow: inset 10px 74px 120px -44px rgba(0,0,0,0.13); }
					
	.panel-heading-purple-theme-darkest { background-color: Indigo !important; }
	.panel-heading-purple-theme-darker  { background-color: #8D18AB !important; }
	.panel-heading-purple-theme			{ background-color: #AE70ED !important; color: #FFF !important; } 
					
	.panel-heading-purple-theme-darkest > span:hover { color: #FFF !important; }*/
	
	/**************************************************** DATATABLES ****************************************************/
	/*.DataTablePurpleTheme > thead > tr > th { background-color: #990099 !important; }
	.DataTablePurpleTheme > tbody > tr > td, .SubDataTablePurpleTheme > tbody > tr > td {  padding: 3px !important; }
	.DataTablePurpleTheme > tbody > tr.rdThemeDataTableSummaryRow > td { background-color: #E464E4 !important; font-weight:bold; }
		
	.DataTablePurpleTheme > tbody > tr:hover { background-color: #EDDFFB !important; }
	.DataTablePurpleTheme tr.ThemeAlternatingRow:hover > td { background-color: #EDDFFB !important; }

	.SubDataTablePurpleTheme { margin-bottom: 10px !important; }	
	.SubDataTablePurpleTheme > thead > tr > th { background-color: #C79BF2 !important; }
	.SubDataTablePurpleTheme > tbody > tr.rdThemeDataTableSummaryRow > td { background-color: #FFA4FF !important; font-weight:bold; }	

	.SubDataTablePurpleTheme > tbody > tr:hover { background-color: #FFDFFF !important; }
	.SubDataTablePurpleTheme tr.ThemeAlternatingRow:hover > td { background-color: #FFDFFF !important; }*/
	
	.ui-datepicker-trigger { border:none; background:none; }
 
 	/*** CUSTOM CROSSTABLE HEADERS HAVE TO GIVE THE IDs to CENTER TH TAGS ***/
	#ctvcReferrals-TH, #ctvcReferrals1-TH, #ctvcReferrals2-TH, #ctvcReferrals3-TH, #ctvcReferrals4-TH, #ctvcReferrals5-TH
	, #ctvcReferrals6-TH, #ctvcReferrals7-TH, #ctvcReferrals8-TH, #ctvcReferrals9-TH, #ctvcReferrals10-TH
	, #ctvcReferrals11-TH, #ctvcReferrals12-TH, #ctvcReferrals13-TH, #ctvcReferrals14-TH, #ctvcReferrals15-TH
	, #ctvcReferrals16-TH, #ctvcReferrals17-TH, #ctvcReferrals18-TH, #ctvcReferrals19-TH, #ctvcReferrals20-TH
	, #ctvcReferrals21-TH, #ctvcReferrals22-TH, #ctvcReferrals23-TH, #ctvcReferrals24-TH, #ctvcReferrals25-TH
	, #ctvcReferrals26-TH, #ctvcReferrals27-TH, #ctvcReferrals28-TH, #ctvcReferrals29-TH, #ctvcReferrals30-TH
	, #ctvcReferrals31-TH, #ctvcReferrals32-TH, #ctvcReferrals33-TH, #ctvcReferrals34-TH, #ctvcReferrals35-TH
	, #ctvcReferrals36-TH, #ctvcReferrals37-TH, #ctvcReferrals38-TH, #ctvcReferrals39-TH, #ctvcReferrals40-TH
	, #ctvcReferrals41-TH, #ctvcReferrals42-TH, #ctvcReferrals43-TH, #ctvcReferrals44-TH, #ctvcReferrals45-TH
	, #ctvcReferrals46-TH, #ctvcReferrals47-TH, #ctvcReferrals48-TH, #ctvcReferrals49-TH, #ctvcReferrals50-TH
	, #ctvcReferrals51-TH, #ctvcReferrals52-TH, #ctvcReferrals53-TH, #ctvcReferrals54-TH, #ctvcReferrals55-TH
	, #ctvcReferrals56-TH, #ctvcReferrals57-TH, #ctvcReferrals58-TH, #ctvcReferrals59-TH, #ctvcReferrals60-TH
	, #ctvcReferrals61-TH, #ctvcReferrals62-TH, #ctvcReferrals63-TH, #ctvcReferrals64-TH, #ctvcReferrals65-TH
	, #ctvcReferrals66-TH, #ctvcReferrals67-TH, #ctvcReferrals68-TH, #ctvcReferrals69-TH, #ctvcReferrals70-TH
	, #ctvcReferrals71-TH, #ctvcReferrals72-TH, #ctvcReferrals73-TH, #ctvcReferrals74-TH, #ctvcReferrals75-TH
	, #ctvcReferrals76-TH, #ctvcReferrals77-TH, #ctvcReferrals78-TH, #ctvcReferrals79-TH, #ctvcReferrals80-TH
	, #ctvcReferrals81-TH, #ctvcReferrals82-TH, #ctvcReferrals83-TH, #ctvcReferrals84-TH, #ctvcReferrals85-TH
	, #ctvcReferrals86-TH, #ctvcReferrals87-TH, #ctvcReferrals88-TH, #ctvcReferrals89-TH, #ctvcReferrals90-TH
	, #ctvcReferrals91-TH, #ctvcReferrals92-TH, #ctvcReferrals93-TH, #ctvcReferrals94-TH, #ctvcReferrals95-TH
	, #ctvcReferrals96-TH, #ctvcReferrals97-TH, #ctvcReferrals98-TH, #ctvcReferrals99-TH, #ctvcReferrals100-TH
		{ text-align: center !important; }
	
	#RowTotal-TH, RowTotal1-TH, RowTotal2-TH, RowTotal3-TH, RowTotal4-TH, RowTotal5-TH
		{ text-align: center !important; }
		
	#ctvcMeasureValue-TH, #ctvcMeasureValue1-TH, #ctvcMeasureValue2-TH, #ctvcMeasureValue3-TH, #ctvcMeasureValue4-TH, #ctvcMeasureValue5-TH
	, #ctvcMeasureValue6-TH, #ctvcMeasureValue7-TH, #ctvcMeasureValue8-TH, #ctvcMeasureValue9-TH, #ctvcMeasureValue10-TH, #ctvcMeasureValue11-TH
	, #ctvcMeasureValue12-TH, #ctvcMeasureValue13-TH, #ctvcMeasureValue14-TH, #ctvcMeasureValue15-TH, #ctvcMeasureValue16-TH, #ctvcMeasureValue17-TH
		{ text-align: center !important; }
		
	#ctvcMeasureValue-TH, #ctvcMeasureValue-1-TH, #ctvcMeasureValue-2-TH, #ctvcMeasureValue-3-TH, #ctvcMeasureValue-4-TH, #ctvcMeasureValue-5-TH
	, #ctvcMeasureValue-6-TH, #ctvcMeasureValue-7-TH, #ctvcMeasureValue-8-TH, #ctvcMeasureValue-9-TH, #ctvcMeasureValue-10-TH, #ctvcMeasureValue-11-TH
	, #ctvcMeasureValue-12-TH, #ctvcMeasureValue-13-TH, #ctvcMeasureValue-14-TH, #ctvcMeasureValue-15-TH, #ctvcMeasureValue-16-TH, #ctvcMeasureValue-17-TH
	, #ctvcMeasureValue-18-TH, #ctvcMeasureValue-19-TH, #ctvcMeasureValue-20-TH, #ctvcMeasureValue-21-TH, #ctvcMeasureValue-22-TH, #ctvcMeasureValue-23-TH
	, #ctvcMeasureValue-24-TH, #ctvcMeasureValue-25-TH, #ctvcMeasureValue-26-TH, #ctvcMeasureValue-27-TH, #ctvcMeasureValue-28-TH, #ctvcMeasureValue-29-TH
	, #ctvcMeasureValue-30-TH, #ctvcMeasureValue-31-TH, #ctvcMeasureValue-32-TH, #ctvcMeasureValue-33-TH, #ctvcMeasureValue-34-TH, #ctvcMeasureValue-35-TH
	, #ctvcMeasureValue-36-TH, #ctvcMeasureValue-37-TH, #ctvcMeasureValue-38-TH, #ctvcMeasureValue-39-TH, #ctvcMeasureValue-40-TH, #ctvcMeasureValue-41-TH
	, #ctvcMeasureValue-42-TH, #ctvcMeasureValue-43-TH, #ctvcMeasureValue-44-TH, #ctvcMeasureValue-45-TH, #ctvcMeasureValue-46-TH, #ctvcMeasureValue-47-TH
	, #ctvcMeasureValue-48-TH, #ctvcMeasureValue-49-TH, #ctvcMeasureValue-50-TH, #ctvcMeasureValue-51-TH, #ctvcMeasureValue-52-TH, #ctvcMeasureValue-53-TH
	, #ctvcMeasureValue-54-TH, #ctvcMeasureValue-55-TH, #ctvcMeasureValue-56-TH, #ctvcMeasureValue-57-TH, #ctvcMeasureValue-58-TH, #ctvcMeasureValue-59-TH
	, #ctvcMeasureValue-60-TH, #ctvcMeasureValue-61-TH, #ctvcMeasureValue-62-TH, #ctvcMeasureValue-63-TH, #ctvcMeasureValue-64-TH, #ctvcMeasureValue-65-TH
	, #ctvcMeasureValue-66-TH, #ctvcMeasureValue-67-TH, #ctvcMeasureValue-68-TH, #ctvcMeasureValue-69-TH, #ctvcMeasureValue-70-TH, #ctvcMeasureValue-71-TH
	, #ctvcMeasureValue-72-TH, #ctvcMeasureValue-73-TH, #ctvcMeasureValue-74-TH, #ctvcMeasureValue-75-TH, #ctvcMeasureValue-76-TH, #ctvcMeasureValue-77-TH
	, #ctvcMeasureValue-78-TH, #ctvcMeasureValue-79-TH, #ctvcMeasureValue-80-TH, #ctvcMeasureValue-81-TH, #ctvcMeasureValue-82-TH, #ctvcMeasureValue-83-TH
	, #ctvcMeasureValue-84-TH, #ctvcMeasureValue-85-TH, #ctvcMeasureValue-86-TH, #ctvcMeasureValue-87-TH, #ctvcMeasureValue-88-TH, #ctvcMeasureValue-89-TH
	, #ctvcMeasureValue-90-TH, #ctvcMeasureValue-91-TH, #ctvcMeasureValue-92-TH, #ctvcMeasureValue-93-TH, #ctvcMeasureValue-94-TH, #ctvcMeasureValue-95-TH
		{ text-align: center !important; }
		
	#ctlcMeasure-TH, #ctlcMeasure-1-TH, #ctlcMeasure-2-TH, #ctlcMeasure-3-TH, #ctlcMeasure-4-TH, #ctlcMeasure-5-TH, #ctlcMeasure-6-TH
	, #ctlcMeasure-7-TH, #ctlcMeasure-8-TH, #ctlcMeasure-9-TH, #ctlcMeasure-10-TH, #ctlcMeasure-11-TH, #ctlcMeasure-12-TH
		{ text-align: Left !important; }
		
	#ctvcPercentage-TH, #ctvcPercentage1-TH, #ctvcPercentage2-TH, #ctvcPercentage3-TH, #ctvcPercentage4-TH, #ctvcPercentage5-TH
	, #ctvcPercentage6-TH, #ctvcPercentage7-TH, #ctvcPercentage8-TH, #ctvcPercentage9-TH, #ctvcPercentage10-TH, #ctvcPercentage11-TH
	, #ctvcPercentage12-TH, #ctvcPercentage13-TH, #ctvcPercentage14-TH, #ctvcPercentage15-TH, #ctvcPercentage16-TH, #ctvcPercentage17-TH
	, #ctvcPercentage18-TH, #ctvcPercentage19-TH, #ctvcPercentage20-TH, #ctvcPercentage21-TH, #ctvcPercentage22-TH, #ctvcPercentage23-TH
		{ text-align: center !important; }
	