/* Styles to support the PDF layout */

.page { page-break-after: always; }

@page { width: 210mm; margin: 0mm 20mm 10mm 20mm; }

@media print {
    thead            { display: table-header-group; }
    tfoot            { display: table-footer-group; }
    body             { margin: 0; }
   .page-break-after { page-break-after: always; }
}
  
table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    line-height: 13pt;
    color: rgb(0,0,0);
    border-spacing: 0px;
    border: 1px solid transparent !important;
    border-bottom: 1px solid black;
  }

.table {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) { background-color: rgba(0,0,0,.05); }

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    display: table-cell;
    font-weight: bold;
}

.table td, .table th {
    padding: .25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.border-bottom { border-bottom: solid 1px black !important; }
.dark-header   { background-color: rgba(0,0,0,.2); }
.fw-bold       { font-weight: bold !important; }

.no-page-break, 
.no-break 	   { page-break-inside: avoid !important; } 

.w-153mm       { width: 153mm !important; }
.w-50,
.w-50pct       { width: 50% !important;   }
.w-100,
.w-100pct      { width: 100% !important;  }

.h-5mm         { height: 5mm!important; }
.h-7mm         { height: 7mm!important; }
.h-10mm        { height: 10mm!important; }
.h-40mm        { height: 40mm!important; }

.float-right   { float: right; }
.mx-auto       { margin-left: auto; margin-right: auto; }

.text-right    { text-align: right !important; }
.text-left     { text-align: left!important; }
.text-center   { text-align: center !important; }

.align-top     { vertical-align: top!important; }
.align-bottom  { vertical-align: bottom!important; }
.align-middle  { vertical-align: middle!important; }

.pr-1          { padding-right: .25rem!important; }
.pr-2          { padding-right: .5rem!important; }
.pr-3          { padding-right: 1rem!important; }
