.MarginCentered 
{ 
margin-left: auto; 
margin-right: auto; 
} 

.100percent
{
width: 100%;
}

.fiftypercent {
width: 50%;
}

.CellCOPSPurple
{
background-color:#B8C3FF !important;
}

.CellCOPSYellow
{
background-color:#FFFF99 !important;
}

.CellCOPSOrange
{
background-color:#FFB84D !important;
}

.CellCOPSRed
{
background-color:#fe8484 !important;
}


.CellProfBlueDTHeading
{
background-color:#bee3f4;
font-size: 115%;
font-weight: bold;
}

.CellTotalGrey
{
background-color:#cccccc;
}

.CellTotalBlue
{
background-color:#E0ECF2 !important;
}

.CellGrandTotalBlue
{
background-color:#e0ecff !important;
}

.CellWhite
{
background-color:#ffffff !important;
}

.CellLightGrey
{
background-color:#f1f1f1;
}

.CellDarkGrey
{
background-color:#808080;
}

.CellTotalGreen
{
background-color:#f0f5d5;
}

.CellColumnBlue
{
background-color:#e8f4fa !important;
}

.CellGreen
{
background-color:#c4d79b;
}

.CellBlue
{
background-color:#95b3d7;
}

.CellGrandTotals
{
background-color:#CEDAE0 !important;
}

.CellFinTotals
{
background-color:#B5C1C7 !important;
}

.verticaltext {
writing-mode:tb-rl;

}

.textRed {
	color: #FF0000;
}

.textGreen {
	color: #00b050;
}

.textPurple {
	color: #7030a0;
}

.textDarkGrey {
	color: #d2d2d5;
}

.textBlack {
	color: #000000 !important;
}

.TextGrandTotals {
	font-size: 110%;
}

.gridlinesCustomDark {
	background-color: #0f0f0f;		
	border: 1px solid #b0b0b0;		
	*margin-bottom: 5px;
}

.rdThemeDataTableSummaryRow td 
{ 
background-color: #d2d2d5; 
} 

.NoWrap {
white-space:nowrap !important;
}

tr.ThemeAlternatingRow  td.rdThemeDataTableCell {
	background-color: #E0ECF2;
}

/*
BODY
{
background-color: #F6F6F6;    
}
*/