<!-- PCC LETTER_TYPE 18 - SNOSIA -->

<div style="font-family: Arial; font-size: 9pt; line-height: 13pt;">

    <div class="recipient-address-block">
        <span>@Local.F_CUSTOMER_TITLE~ @Local.F_CUSTOMER_FIRST_NAME_INITIAL~. @Local.F_CUSTOMER_SURNAME~
            <br />@Local.F_CUSTOMER_ADDRESS~</span>
    </div>

    <div>
        <div>
            <!-- Date and Salutation -->
            <p>@Local.F_LETTER_DATE_FC~</p>
            <p>Dear @Local.F_CUSTOMER_TITLE~ @Local.F_CUSTOMER_SURNAME~</p>
        </div>

        <div>
            <!-- Introduction line in bold text -->
            <p>
                <strong>Notice of Sums in Arrears under Section 86B of the Consumer Credit Act 1974</strong>
            </p>
        </div>

        <!-- Paragraph mark-up -->
        <div style="page-break-inside: avoid;">
            <p>
                <!-- paragraph content goes here -->
                <table>
                    <tr>
                        <td>Agreement:</td>
                        <td>@Local.F_AGREEMENT_TYPE~ Agreement with @Local.F_NUTMEG_TEMPLATE_FULLNAME~</td>
                    </tr>
                    <tr>
                        <td>Vehicle Registration:</td>
                        <td>@Local.F_VEHICLE_REG~</td>
                    </tr>
                    <tr>
                        <td>Agreement Number:</td>
                        <td>@Local.F_ACCOUNT_REF~</td>
                    </tr>
                </table>
            </p>
        </div>

        <!-- Paragraph mark-up -->
        <div style="page-break-inside: avoid;">
            <p>
                <!-- paragraph content goes here -->
                This notice is given to you in accordance with the Consumer Credit Act 1974 because you are behind with
                payments that are due under the finance agreement described above.
            </p>
        </div>

        <!-- Paragraph mark-up -->
        <div style="page-break-inside: avoid;">
            <p>
                <!-- paragraph content goes here -->
                Please contact us as soon as possible to discuss the state of your account and to make arrangements with
                us for paying off the amount due. You can do this by emailing us at @Local.F_CREDIT_CONTROL_EMAIL_REG~
                or by calling us between 8.30am and 6.00pm, Monday to Friday on @Local.F_SNOSIA_NUMBER~. You can also
                write to us at the address shown.
            </p>
        </div>

        <!-- Paragraph mark-up -->
        <div style="page-break-inside: avoid;">
            <p>
                <!-- paragraph content goes here -->
                <table class="embedded-table">
                    <tr>
                        <td class="p-2"><strong>Opening balance under the agreement as at
                                @Local.F_NOSIA_PREVIOUS_LETTER_DATE~*</strong></td>
                        <td class="p-2 text-right table-column-2"><strong>@Local.F_NOSIA_OPENING_BALANCE~</strong></td>
                    </tr>
                </table>
            </p>
            <p>
                <table class="embedded-table">
                    <tr>
                        <td class="p-2"><strong>The opening balance above includes arrears of*</strong></td>
                        <td class="p-2 text-right table-column-2"><strong>@Local.F_TOTAL_ARREARS~</strong></td>
                    </tr>
                </table>
            </p>
        </div>

        <!-- Paragraph mark-up -->
        <div style="page-break-inside: avoid;">
            <p>
                <!-- paragraph content goes here -->
                The following transactions have occured on your account since the above date:
            </p>
        </div>

        <!-- SNOSIA transactions table goes here -->