.zui-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: none;
    color: #336B6B;
    padding: 10px;
	/*padding-right: 0px;
    text-align: left;*/
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
	width: 80px;
}
.zui-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    /*padding: 10px;*/
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.zui-wrapper {
    position: relative;
}
.zui-scroller {
    /*margin-left: 141px;*/
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 800px;
}
.zui-table .zui-sticky-col {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 0;
    position: absolute;
    top: auto;
	width: 80px;
}

.second-col {
	padding-left:110px !important;
}

THEAD > TR > TH:first-child {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 0;
    position: absolute;
    top: auto;
	width: 80px;
}

TH[id*="1-TH"] {
	padding-left:110px !important;
}

TD[id*="_CtCol0_Row"] {
	padding-left:110px !important;
}